[all:vars]
{# ###########################################################################
### Ansible Vars
########################################################################### #}
timeout=60
ansible_become=yes
ansible_user={{remote_user}}

[all:children]
satellite

{# # These are the satellitehosts #}

[satellites]
{% for host in groups['satellites'] %}
satellite{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

