{%if inventory_hostname in (groups['bastions'] + groups['capsules'] | default([])) %}
[epel]
name=Extra Packages for Enterprise Linux 7 - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/7/$basearch
mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7

{% endif %}

[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{rhel7_repo_path}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-server-rhscl-7-rpms]
name=Red Hat Enterprise Linux 7 RHSCL
baseurl={{rhel7_repo_path}}/rhel-server-rhscl-7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.8-rpms]
name=Red Hat Enterprise Ansible 2.8
baseurl={{rhel7_repo_path}}/rhel-7-server-ansible-2.8-rpms
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=Red Hat Enterprise Linux Extra RPMs
baseurl={{rhel7_repo_path}}/rhel-7-server-extras-rpms
enabled=1
gpgcheck=0

{%if groups['satellites'] is defined %}
{%if inventory_hostname in groups['satellites'] %}

[rhel-7-server-satellite-{{ satellite_version }}-rpms]
name=Red Hat Enterprise Satellite {{ satellite_version }}
baseurl={{satellite_repo_path}}/{{satellite_version}}/rhel-7-server-satellite-{{satellite_version}}-rpms
enabled=1
gpgcheck=0

[rhel-7-server-satellite-maintenance-6-rpms]
name=Red Hat Enterprise Satellite 6 Maintenance
baseurl={{satellite_repo_path}}/{{satellite_version}}/rhel-7-server-satellite-maintenance-6-rpms
enabled=1
gpgcheck=0

{% endif %}
{% endif %}

