
module wetty 1.0;

require {
	type unconfined_t;
	type unconfined_service_t;
	class process transition;
}

#============= unconfined_service_t ==============

#!!!! The file '/usr/bin/zsh' is mislabeled on your system.  
#!!!! Fix with $ restorecon -R -v /usr/bin/zsh
allow unconfined_service_t unconfined_t:process transition;
