{{ "%-60s %-10s %s" | format('Instance', 'State', 'Type') }}
----------------------------------------------------------------
{% for instance in r_instances.instances %}
{{ "%-60s %-10s %s" | format(instance.tags.Name, instance.state.name, instance.instance_type) }}
{% endfor %}
