apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: mtc-operator
  namespace: {{ mig_migration_namespace }}
spec:
  channel: release-v1.4
  installPlanApproval: Manual
  startingCSV: mtc-operator.v1.4.2
  name: mtc-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
