apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: mtc-operator
  namespace: {{ mig_migration_namespace }}
spec:
  channel: {{ mig_operator_release_channel }}
  installPlanApproval: Manual
  startingCSV:  {{ mig_operator_starting_csv }}
  name: mtc-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
