apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: cam-operator
  namespace: {{ mig_migration_namespace }}
spec:
  channel: release-v1.2
  installPlanApproval: Automatic
  name: cam-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
