---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ mig_migration_namespace }}
  name: pvpool-storage-creds
type: Opaque
data:
  aws-access-key-id: {{ noobaa_s3_access_key_id|b64encode }}
  aws-secret-access-key: {{ noobaa_s3_secret_access_key|b64encode }}
---
apiVersion: migration.openshift.io/v1alpha1
kind: MigStorage
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: pvpool-storage
  namespace: {{ mig_migration_namespace }}
spec:
  backupStorageProvider: aws
  volumeSnapshotProvider: aws

  backupStorageConfig:
    awsBucketName: {{ ocs_migstorage_bucketname }}
    awsS3ForcePathStyle: true
    awsS3Url: {{ noobaa_s3_url }}
    credsSecretRef:
      namespace: {{ mig_migration_namespace }}
      name: pvpool-storage-creds

  volumeSnapshotConfig:
    credsSecretRef:
      namespace: {{ mig_migration_namespace }}
      name: pvpool-storage-creds
