[Unit]
Description=JupyterLab Service
After=network.target

[Service]
Type=simple
User={{ service_vm_jupyter_lab_jupyter_user }}
ExecStart=/bin/bash -c "source /home/{{ service_vm_jupyter_lab_jupyter_user }}/venv/bin/activate && jupyter lab --config=/home/{{ service_vm_jupyter_lab_jupyter_user }}/.jupyter/jupyter_lab_config.py --no-browser" 
WorkingDirectory=/home/{{ service_vm_jupyter_lab_jupyter_user }}
Environment="PATH=/home/{{ service_vm_jupyter_lab_jupyter_user }}/venv/bin:/home/{{ service_vm_jupyter_lab_jupyter_user }}/.local/bin:/usr/local/bin:/usr/bin:/bin"
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target