apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: build-ee-{{ 999999999999999999999 | random | to_uuid }}
  namespace: {{ ocp4_workload_tekton_ansible_ee_namespace }}
  labels:
    tekton.dev/pipeline: pipeline-ansible-builder
spec:
  params:
    - name: GIT-URL
      value: "https://github.com/{{ item.git_org }}/{{ item.git_repo }}"
    - name: GIT-REVISION
      value: main
    - name: ANSIBLE_BUILDER_IMAGE
      value: {{ ocp4_workload_tekton_ansible_ee_builder_image }}
    - name: NAME
      value: "{{ ocp4_workload_tekton_ansible_ee_registry_host }}/{{ item.git_repo }}"
    - name: TAG
      value: latest
    - name: CONTEXT
      value: ./
    - name: DOCKERFILE
      value: Containerfile
    - name: BUILD_ARGS
      value: ''
    - name: PUSH_ARGS
      value: ''
    - name: TLSVERIFY
      value: 'false'
  pipelineRef:
    name: pipeline-ansible-builder
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
    - name: ee-repo
      persistentVolumeClaim:
        claimName: ansible-builder-pvc
