[Unit]
Description=Very last service
After=default.target

[Service]
Type=idle
TimeoutStartSec=0
ExecStart=/usr/bin/ansible-playbook {{ showroom_user_orchestration_dir }}/showroom-user-socket.yml

[Install]
WantedBy=default.target
