[Unit]
Description=Showroom Service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
User={{ showroom_user | default('showroom') }}
Group={{ showroom_user_group | default('showroom') }}
Environment=PODMAN_SYSTEMD_UNIT=%n
{% if showroom_frontend_service == "traefik" %}
ExecStart={{ showroom_preffered_ansible_exec | default('/usr/bin/ansible-playbook') }} /usr/local/bin/showroom-user-socket.yml
ExecStop=/usr/local/bin/showroom-stop.sh
{% else %}
ExecStart=/usr/local/bin/showroom-start.sh
ExecStop=/usr/local/bin/showroom-stop.sh
{% endif %}
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target default.target
