---
- name: Fix showroom podman sockets
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Remove existing socket
      ansible.builtin.file:
        path: /run/user/{{ showroom_user_uid }}/podman/podman.sock
        state: absent

    - name: Reset podman.socket for user scope
      become: true
      become_user: "{{ showroom_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ showroom_user_uid }}/
        DBUS_SESSION_BUS_ADDRESS: /run/user/{{ showroom_user_uid }}/bus
      ansible.builtin.systemd:
        name: podman.socket
        scope: user
        state: "{{ item }}"
        enabled: false
      loop:
        - stopped
        - started
