---
# Keep this playbook in the following location
# /opt/showroom/orchestration/showroom-user-socket.yml

- name: Fix showroom podman sockets
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Stop showroom
      ansible.builtin.service:
        name: showroom
        state: stopped

    - name: Remove existing socket
      ansible.builtin.file:
        path: /run/user/{{ showroom_user_uid }}/podman/podman.sock
        state: absent

    - name: Dislabe and Stop podman.socket for user scope
      become: true
      become_user: "{{ showroom_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ showroom_user_uid }}/
        DBUS_SESSION_BUS_ADDRESS: /run/user/{{ showroom_user_uid }}/bus
      ansible.builtin.systemd:
        name: podman.socket
        scope: user
        state: stopped
        enabled: false

    - name: Enable and Start podman.socket for user scope
      become: true
      become_user: "{{ showroom_user }}"
      environment:
        XDG_RUNTIME_DIR: /run/user/{{ showroom_user_uid }}/bus
        DBUS_SESSION_BUS_ADDRESS: /run/user/{{ showroom_user_uid }}/bus
      ansible.builtin.systemd:
        name: podman.socket
        scope: user
        state: started
        enabled: true

    - name: Start showroom
      ansible.builtin.service:
        name: showroom
        state: started
