#!/usr/bin/bash

# setup compose file and options for selinux, cleanup of orphans etc

export SHOWROOM_COMPOSE_FILE={{ showroom_user_home_dir }}/orchestration/container-compose.yml
export SHOWROOM_SECURITY_OPT="--security-opt label=type:container_runtime_t"
export SHOWROOM_CLEANUP_OPT="--remove-orphans"

/usr/local/bin/podman-compose \
  -f $SHOWROOM_COMPOSE_FILE \
  --podman-run-args "--security-opt label=type:container_runtime_t" \
  up -d $SHOWROOM_CLEANUP_OPT

