apiVersion: v1
kind: Config

clusters:
- cluster:
    server: {{ _r_kube_auth.k8s_auth.host }}
  name: rosa

contexts:
- context:
    cluster: rosa
    user: {{ _r_kube_auth.k8s_auth.username }}
  name: admin

current-context: admin

users:
- name: {{ _r_kube_auth.k8s_auth.username }}
  user:
    token: {{ _r_kube_auth.k8s_auth.api_key }}