apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: labs-argocd
  
spec:
  server:
    insecure: true
    route:
      annotations: {}
      enabled: true
      path: /
      TLS:
        insecureEdgeTerminationPolicy: Redirect
        termination: edge
      wildcardPolicy: None

  dex:
    image: quay.io/ablock/dex
    openShiftOAuth: true
    version: openshift-connector

  rbac:
    policy: |
      p, {{ocp_username}}, applications, sync, default/*, allow      
{% for user in users %}
      p, {{user}}, applications, sync, default/{{user}}-stage, allow
      p, {{user}}, applications, sync, default/{{user}}-prod, allow
{% endfor %} 
    scopes: '[name]'
  initialRepositories: |
{% for user in users %}
    - url: "https://gogs-labs-infra.{{ route_subdomain }}/{{ user }}/{{user_deploy_repo_name}}.git"
      passwordSecret:
        name: repo-{{user}}-deploy
        key: password
      usernameSecret:
        name: repo-{{user}}-deploy
        key: username
{% endfor %}