apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: ocs-operatorgroup
  namespace: {{ ceph_storage.ceph_namespace }}
spec:
  targetNamespaces:
  - {{ ceph_storage.ceph_namespace }}
