---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: echo-params
spec:
  params:
  - name: value
  steps:
  - name: echo-params
    image: registry.redhat.io/ubi8/ubi-minimal
    script: echo "$(params.value)"
---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: clean-workspace
spec:  
  workspaces:
    - name: workspace
      mountPath: /workspace
  steps:
  - name: clean
    image: registry.redhat.io/ubi8/ubi-minimal
    script: |
      #!/bin/bash
      rm -rf /workspace/*
---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: train
spec:
  resources:
    inputs:
    - name: source
      type: git
  workspaces:
    - name: workspace
      mountPath: /workspace
  steps:
  - name: setup-workspace
    image: {{pipeline_git_init_image}}
    script: |
      #!/bin/bash
      mkdir -p /workspace/model

      GIT_REV=`(cd /workspace/source && git rev-parse --short HEAD)`
      echo $GIT_REV > /workspace/git

      echo "GIT REVISION: $GIT_REV"
  - script: |
      #!/bin/bash

      /workspace/source/src/train/train-stage.sh 

    image: registry.redhat.io/ubi8/python-36
    name: train
    resources:
      requests:
        cpu: 500m
        memory: 1Gi                  
      limits:
        cpu: 2
        memory: 2Gi
    env:
    - name: MLFLOW_EXPERIMENT_NAME
      value: Stage
    - name: PIPELINERUN
      valueFrom:
        fieldRef:
          fieldPath: metadata.labels['tekton.dev/pipelineRun']
    envFrom:
    - secretRef:
        name: mlflow-obc
    - configMapRef:
        name: mlflow-obc
    - configMapRef:
        name: mlflow-cm
---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: s2i-python-3
spec:
  workspaces:
    - name: workspace
      mountPath: /workspace      
  params:
  - default: "6"
    description: The minor version of the python 3
    name: MINOR_VERSION
    type: string
  - default: .
    description: The location of the path to run s2i from.
    name: PATH_CONTEXT
    type: string
  - default: "true"
    description: Verify the TLS on the registry endpoint (for push/pull to a non-TLS
      registry)
    name: TLSVERIFY
    type: string
  steps:
  - script: |
      #!/bin/bash
      s2i build $(params.PATH_CONTEXT) \
      registry.access.redhat.com/ubi8/python-3$(params.MINOR_VERSION) \
      --as-dockerfile /gen-source/Dockerfile.gen

      cp -av /workspace/model /gen-source/upload/src/        
    image: registry.redhat.io/ocp-tools-43-tech-preview/source-to-image-rhel8
    name: generate
    resources: 
      requests:
        cpu: 500m
        memory: 1Gi                  
      limits:
        cpu: 2
        memory: 2Gi
    volumeMounts:
    - mountPath: /gen-source
      name: gen-source
  - script: | 
      #/bin/bash
      
      GIT_REV=`cat /workspace/git`
      . /workspace/source/src/seldon/config.sh
      IMAGE_URL=nexus-docker-labs-nexus.{{route_subdomain}}/{{user}}/$IMAGE_NAME:$GIT_REV

      buildah bud --format=docker --tls-verify=$(params.TLSVERIFY) \
      --layers -f /gen-source/Dockerfile.gen \
      -t $IMAGE_URL .

    image: registry.redhat.io/rhel8/buildah
    name: build
    resources:
      requests:
        cpu: 500m
        memory: 2Gi                  
      limits:
        cpu: 2
        memory: 3Gi
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /var/lib/containers
      name: varlibcontainers
    - mountPath: /gen-source
      name: gen-source
    workingDir: /gen-source
  - script: | 
      #!/bin/bash

      GIT_REV=`cat /workspace/git`
      . /workspace/source/src/seldon/config.sh
      IMAGE_URL=nexus-docker-labs-nexus.{{route_subdomain}}/{{user}}/$IMAGE_NAME:$GIT_REV

      buildah push \
      --tls-verify=$(params.TLSVERIFY) \
      $IMAGE_URL \
      docker://$IMAGE_URL
    image: registry.redhat.io/rhel8/buildah
    name: push
    resources: 
      requests:
        cpu: 500m
        memory: 1Gi                  
      limits:
        cpu: 2
        memory: 2Gi
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /var/lib/containers
      name: varlibcontainers
  volumes:
  - emptyDir: {}
    name: varlibcontainers
  - emptyDir: {}
    name: gen-source
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: pipeline
spec:
  params:
  - name: gitref
    type: string
    default: default
  - name: gitrevision
    type: string
    default: default
  - name: gitrepositoryurl
    type: string
    default: default
  - name: contenttype
    type: string
    default: default      
  resources:
  - name: source
    type: git
  workspaces:
  - name: workspace
  tasks:
  - name: clean-workspace
    workspaces:
      - name: workspace
        workspace: workspace
    taskRef:
      kind: Task
      name: clean-workspace
  - name: echo-gitref
    taskRef:
      name: echo-params
    runAfter:
      - clean-workspace
    params:
      - name: value
        value: $(params.gitref)
  - name: echo-gitrevision
    taskRef:
      name: echo-params
    runAfter:
      - echo-gitref
    params:
      - name: value
        value: $(params.gitrevision)
  - name: echo-gitrepositoryurl
    taskRef:
      name: echo-params
    runAfter:
      - echo-gitrevision
    params:
      - name: value
        value: $(params.gitrepositoryurl)
  - name: echo-contenttype
    taskRef:
      name: echo-params
    runAfter:
      - echo-gitrepositoryurl
    params:
      - name: value
        value: $(params.contenttype)        
  - name: train
    resources:
      inputs:
      - name: source
        resource: source
    workspaces:
      - name: workspace
        workspace: workspace
    taskRef:
      kind: Task
      name: train
    runAfter:
      -  echo-contenttype      
  - name: build-model-image
    workspaces:
      - name: workspace
        workspace: workspace
    params:
    - name: TLSVERIFY
      value: "false"
    - name: PATH_CONTEXT
      value: /workspace/source/src/seldon
    runAfter:
    - train
    taskRef:
      kind: Task
      name: s2i-python-3