---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: pipeline
spec:
  params:
  - name: gitref
  - name: gitrevision
  - name: gitrepositoryurl
  - name: contenttype
  resourcetemplates:
  - apiVersion: tekton.dev/v1beta1
    kind: PipelineRun
    metadata:
      generateName: pipeline-run-
    spec:
      workspaces:
        - name: workspace
          volumeClaimTemplate:
            spec:
              accessModes:
                - ReadWriteMany
              resources:
                requests:
                  storage: 1Gi
              storageClassName: ocs-storagecluster-cephfs
              volumeMode: Filesystem
      resources:
        - name: source
          resourceSpec:
            type: git
            params:
              - name: revision
                value: $(tt.params.gitrevision)
              - name: url
                value:  https://{{ user }}:{{ gogs_pwd }}@gogs-labs-infra.{{ route_subdomain }}/{{ user }}/{{ repository.name }}.git
      serviceAccountName: pipeline
      pipelineRef:
        name: pipeline
      params:
      - name: gitref
        value: $(tt.params.gitref)
      - name: gitrevision
        value: $(tt.params.gitrevision)
      - name: gitrepositoryurl
        value: $(tt.params.gitrepositoryurl)
      - name: contenttype
        value: $(tt.params.contenttype)
---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: pipeline
spec:
  serviceAccountName: pipeline
  triggers:
  - template:
      name: pipeline
    interceptors:
      - cel:
          filter: body.ref == "refs/heads/stage"
    bindings:
      - ref: pipeline
---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: pipeline
spec:
  params:
  - name: gitref
    value: $(body.ref)
  - name: gitrevision
    value: $(body.commits[0].id)
  - name: gitrepositoryurl
    value: $(body.repository.clone_url)
  - name: contenttype
    value: $(header.Content-Type)







