---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_platform_engineering_workshop_vault_application_name }}
  namespace: {{ ocp4_workload_platform_engineering_workshop_vault_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    namespace: {{ ocp4_workload_platform_engineering_workshop_vault_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  ignoreDifferences:
    - group: admissionregistration.k8s.io
      kind: MutatingWebhookConfiguration
      jqPathExpressions: 
        - '.webhooks[]?.clientConfig.caBundle'
  source:
    path: {{ ocp4_workload_platform_engineering_workshop_vault_gitops_repo_path }}
    repoURL: {{ ocp4_workload_platform_engineering_workshop_vault_gitops_repo }}
    targetRevision: {{ ocp4_workload_platform_engineering_workshop_vault_gitops_repo_tag }}
    helm:
      values: |
        nameOverride: {{ ocp4_workload_platform_engineering_workshop_vault_name }}
        kubernetes:
          apiserver: {{ r_openshift_api_server }}
        vault:
          auth:
            namespace: {{ ocp4_workload_platform_engineering_workshop_vault_auth_namespace }}
        
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
