apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: image-prepull
  namespace: default
spec:
  selector:
    matchLabels:
      name: image-prepull
  template:
    metadata:
      labels:
        name: image-prepull
    spec:
      nodeSelector:
        node-role.kubernetes.io/worker: ""
      containers:
{% for image in ocp4_workload_prepull_images_list %}
      - name: prepull{{ loop.index }}
        image: {{ image }}
        command: ["sleep", "infinity"]
{% endfor %}
      tolerations:
      - operator: "Exists"
      restartPolicy: Always