---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: trigger-binding-{{ _name_ }}
spec:
  params:
    - name: repositoryname
      value: $(body.repository.name)
    - name: gitrevision
      value: $(body.release.name)
    - name: gittag
      value: $(body.release.name)
    - name: gitrepositoryurl
      value: "$(body.repository.clone_url)"