apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: red-hat-camel-k
  namespace: '{{ operators_project }}'
spec:
  #channel: stable
  channel: 1.8.x
  installPlanApproval: Automatic
  name: red-hat-camel-k
  source: redhat-operators
  sourceNamespace: {{ snapshot_operator_project }}
