---
  kind: ConfigMap
  apiVersion: v1
  metadata:
    name: event
    namespace: "{{ webapp_namespace }}"
  data:
    event.properties: >
      discord.default=https://discord.gg/4PyTjzjJJz

      # discord.event=https://discord-event.com

      # Token Cluster 1

      discord.default.token=PENDING_VALUE_DEFINITION

      # Token Cluster 2
      
      # discord.default.token=PENDING_VALUE_DEFINITION
---
  apiVersion: camel.apache.org/v1
  kind: Integration
  metadata:
    name: invite
    namespace: "{{ webapp_namespace }}"
  spec:
    flows:

      # Discord invite:
      - from:
          uri: "platform-http:/invite/discord"
          steps:
          - choice:
              when:
              - simple: '"${properties:discord.event:undefined}" == "undefined"'
                steps:
                - setBody:
                    simple: '${properties:discord.default}'
              otherwise:
                steps:
                - setBody:
                    simple: '${properties:discord.event:dummy}'
          - setBody:
              simple: <a href="${body}">Click this invite link</a>


      # Discord token:
      - from:
          uri: "platform-http:/token/discord"
          steps:
          - choice:
              when:
              - simple: '"${properties:discord.event.token:undefined}" == "undefined"'
                steps:
                - setBody:
                    simple: '${properties:discord.default.token}'
              otherwise:
                steps:
                - setBody:
                    simple: '${properties:discord.event.token:dummy}'

    traits:
      mount:
        configuration:
          configs:
            - 'configmap:event'
