---
  kind: ConfigMap
  apiVersion: v1
  metadata:
    name: event
    namespace: "{{ webapp_namespace }}"
  data:
    event.properties: >
      gitter.default=https://matrix.to/#/#CamelWorkshop_YOUR_ROOM:gitter.im

      # gitter.event=https://matrix.to/#/#CamelWorkshopEvent_YOUR_ROOM:gitter.im


      slack.default=https://join.slack.com/t/camelworkshop/shared_invite/zt-1fvfhatch-HQKSJyob_YIY3nRGhJ7tWA

      # slack.event=http://slack-envent.com


      discord.default=https://discord.gg/4PyTjzjJJz

      # discord.event=https://discord-event.com
---
  apiVersion: camel.apache.org/v1
  kind: Integration
  metadata:
    name: invite
    namespace: "{{ webapp_namespace }}"
  spec:
    flows:
      - from:
          steps:
            - when:
                simple: '${header.user} == null'
                steps:
                  - setBody:
                      simple: query parameter 'user' missing
                  - stop: {}
            - setHeader:
                name: room
                simple: '${header.user.replace("user","room")}'
            - choice:
                otherwise:
                  steps:
                    - setBody:
                        simple: '{{gitter.event:dummy}}'
                when:
                  - simple: '"{{gitter.event:undefined}}" == "undefined"'
                    steps:
                      - setBody:
                          simple: '{{gitter.default}}'
            - to:
                uri: 'direct:set-gitter-url'
          uri: 'platform-http:/invite/gitter'
      - from:
          steps:
            - setBody:
                simple: '${body.replace(YOUR_ROOM,${header.room})}'
            - setBody:
                simple: '<a href="${body}">Click this invite link</a>'
          uri: 'direct:set-gitter-url'
      - from:
          steps:
            - choice:
                otherwise:
                  steps:
                    - setBody:
                        simple: '{{slack.event:dummy}}'
                when:
                  - simple: '"{{slack.event:undefined}}" == "undefined"'
                    steps:
                      - setBody:
                          simple: '{{slack.default}}'
            - setBody:
                simple: '<a href="${body}">Click this invite link</a>'
          uri: 'platform-http:/invite/slack'
      - from:
          steps:
            - choice:
                otherwise:
                  steps:
                    - setBody:
                        simple: '{{discord.event:dummy}}'
                when:
                  - simple: '"{{discord.event:undefined}}" == "undefined"'
                    steps:
                      - setBody:
                          simple: '{{discord.default}}'
            - setBody:
                simple: '<a href="${body}">Click this invite link</a>'
          uri: 'platform-http:/invite/discord'
    traits:
      mount:
        configuration:
          configs:
            - 'configmap:event'
