kind: AquaKubeEnforcer
apiVersion: operator.aquasec.com/v1alpha1
metadata:
  name: aqua
  namespace: aqua
spec:
  infra:
    version: '2022.4'
    serviceAccount: aqua-kube-enforcer-sa
  config:
    gateway_address: 'aqua-gateway:8443'
    cluster_name: aqua-secure
    imagePullSecret: aqua-registry
  deploy:
    service: ClusterIP
  token: <<KUBE_ENFORCER_GROUP_TOKEN>>