apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ ocp4_workload_aquasec_operatorgroup }}
  namespace: {{ ocp4_workload_aquasec_namespace }}
spec:
  targetNamespaces:
  - {{ ocp4_workload_aquasec_namespace }}