{
   "auths":{
      "{{ ocp4_workload_aquasec.private_registry_url }}":{
         "username":"{{ ocp4_workload_aquasec.quay_username }}",
         "password":"{{ ocp4_workload_aquasec.quay_password }}",
         "auth":"{{ ocp4_workload_aquasec.base64 }}"
      }
   }
}