{
  "id": "{{ ocp4_workload_aquasec_enforcer_id }}",
  "logicalname": "{{ ocp4_workload_aquasec_enforcer_id }}-agent",
  "hostname": "{{ ocp4_workload_aquasec_enforcer_id }}-agent",
  "token": "{{ ocp4_workload_aquasec_enforcer_token }}",
  "description": "Enforcer for this environment",
  "enforce": true,
  "container_activity_protection": true,
  "network_protection": true,
  "user_access_control": false,
  "image_assurance": true,
  "host_protection": true,
  "audit_all": false,
  "audit_failed_login": true,
  "audit_success_login": true,
  "allowed_labels": [],
  "allowed_registries": [],
  "antivirus_protection":false,
  "container_antivirus_protection":false,
  "gateways": [
      "demo"
  ],
  "type": "agent",
  "orchestrator": {
      "type": "openshift",
      "master": false,
      "service_account": "{{ ocp4_workload_aquasec_csp_service_account }}",
      "namespace": "{{ ocp4_workload_aquasec_namespace }}"
  },
  "host_os": "Linux",
  "syscall_enabled": true,
  "runtime_type": "docker",
  "sync_host_images": true,
  "host_assurance": true
}