kind: AquaKubeEnforcer
apiVersion: operator.aquasec.com/v1alpha1
metadata:
  name: {{ ocp4_workload_aquasec_namespace }}
  namespace: {{ ocp4_workload_aquasec_namespace }}
spec:
  infra:
    version: '{{ ocp4_workload_aquasec_sub_channel }}'
    serviceAccount: {{ ocp4_workload_aquasec_kube_enforcer_sa }}
  config:
    gateway_address: 'aqua-gateway:8443'
    cluster_name: aqua-secure
    imagePullSecret: aqua-registry
  deploy:
    service: ClusterIP
  token: {{ ocp4_workload_aquasec_kube_enforcer_token }}