{
  "id": "{{ ocp4_workload_aquasec_kube_enforcer_id }}",
  "logicalname": "",
  "token": "{{ ocp4_workload_aquasec_kube_enforcer_token }}",
  "type": "kube_enforcer",
  "description": "",
  "gateways": [
    "demo"
  ],
  "enforce": true,
  "container_activity_protection": true,
  "network_protection": true,
  "host_network_protection": false,
  "user_access_control": false,
  "image_assurance": true,
  "host_protection": false,
  "audit_all": false,
  "audit_success_login": true,
  "audit_failed_login": true,
  "orchestrator": {
    "type": "kubernetes",
    "master": false,
    "service_account": "{{ ocp4_workload_aquasec_csp_service_account }}",
    "namespace": "{{ ocp4_workload_aquasec_namespace }}"
  },
  "host_os": "Linux",
  "syscall_enabled": false,
  "runtime_type": "docker",
  "sync_host_images": true,
  "risk_explorer_auto_discovery": true,
  "runtime_policy_name": "",
  "pas_deployment_link": "",
  "aqua_version": "{{ ocp4_workload_aquasec_sub_channel }}",
  "allow_kube_enforcer_audit": true,
  "auto_discovery_enabled": true,
  "auto_discover_configure_registries": false,
  "auto_scan_discovered_images_running_containers": false,
  "admission_control": true,
  "micro_enforcer_injection": false,
  "permission": "Write",
  "micro_enforcer_image_name":"registry.aquasec.com/microenforcer:{{ ocp4_workload_aquasec_sub_channel }}",
  "micro_enforcer_secrets_name": "aqua-registry",
  "block_admission_control": false,
  "auto_copy_secrets": true
}