kind: AquaCsp
apiVersion: operator.aquasec.com/v1alpha1
metadata:
  name: {{ ocp4_workload_aquasec_csp_name }}
  namespace: {{ ocp4_workload_aquasec_namespace }}
spec:
  serverEnvs:
    - name: ADMIN_PASSWORD
      value: "{{ ocp4_workload_aquasec_admin_password }}"
    - name: LICENSE_TOKEN
      value: "{{ ocp4_workload_aquasec_license }}"
  infra:
    serviceAccount: {{ ocp4_workload_aquasec_csp_service_account }}
    namespace: aqua
    version: '{{ ocp4_workload_aquasec_sub_channel }}'
    requirements: true
  common:
    dbDiskSize: 10
    databaseSecret:
      key: db-password
      name: {{ ocp4_workload_aquasec_db_secret_name }}
  database:
    replicas: 1
    service: ClusterIP
  gateway:
    replicas: 1
    service: ClusterIP
  server:
    replicas: 1
    service: LoadBalancer
  route: true
  runAsNonRoot: false