kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: sockshop-route
  namespace: {{ocp4_workload_aquasec_sockshop_namespace }}
  labels:
    name: front-end
spec:
  to:
    kind: Service
    name: front-end
  port:
    targetPort: web