---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mta-web-console
  namespace: "{{ _ocp4_workload_mta_namespace }}"
  labels:
    application: mta-web-console
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: mta-web-console
  template:
    metadata:
      name: mta-web-console
      labels:
        app: mta-web-console
        application: mta-web-console
    spec:
      terminationGracePeriodSeconds: 75
      containers:
      - name: mta-web-console
        image: "quay.io/windupeng/windup-web-openshift:{{ ocp4_workload_mta_manifest_image_tag }}"
        imagePullPolicy: Always
        resources:
          requests:
            cpu: '1'
            memory: '4Gi'
          limits:
            cpu: '1.5'
            memory: '4Gi'
        volumeMounts:
        - name: mta-web-console-mta-web-pvol
          mountPath: "/opt/eap/standalone/data/windup"
          readOnly: false
        - name: mta-web-console-mta-web-pvol-data
          mountPath: "/opt/eap/standalone/data"
          readOnly: false
        lifecycle:
          preStop:
            exec:
              command:
              - "/opt/eap/bin/jboss-cli.sh"
              - "-c"
              - ":shutdown(timeout=60)"
        livenessProbe:
          exec:
            command:
            - "/bin/bash"
            - "-c"
            - "/opt/eap/bin/livenessProbe.sh"
          initialDelaySeconds: 120
          failureThreshold: 3
          successThreshold: 1
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - "/bin/bash"
            - "-c"
            - "/opt/eap/bin/readinessProbe.sh"
          initialDelaySeconds: 120
          failureThreshold: 3
          successThreshold: 1
          timeoutSeconds: 10
        ports:
        - name: jolokia
          containerPort: 8778
          protocol: TCP
        - name: http
          containerPort: 8080
          protocol: TCP
        - name: ping
          containerPort: 8888
          protocol: TCP
        env:
        - name: IS_MASTER
          value: "true"
        - name: MESSAGING_SERIALIZER
          value: "shared.storage"
        - name: GRAPH_BASE_OUTPUT_PATH
          value: "/opt/eap/standalone/data/windup-graphs"
        - name: DB_SERVICE_PREFIX_MAPPING
          value: "mta-web-console-postgresql=DB"
        - name: DB_JNDI
          value: "java:jboss/datasources/WindupServicesDS"
        - name: DB_USERNAME
          value: "mta"
        - name: DB_PASSWORD
          value: "mta"
        - name: DB_DATABASE
          value: "mta"
        - name: TX_DATABASE_PREFIX_MAPPING
          value: "mta-web-console-postgresql=DB"
        - name: OPENSHIFT_KUBE_PING_LABELS
          value: application=mta-web-console
        - name: OPENSHIFT_KUBE_PING_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: HTTPS_KEYSTORE_DIR
          value: "/etc/eap-secret-volume"
        - name: MQ_CLUSTER_PASSWORD
          value: "mta"
        - name: MQ_QUEUES
          value: ""
        - name: MQ_TOPICS
          value: ""
        - name: JGROUPS_ENCRYPT_SECRET
          value: "eap-app-secret"
        - name: JGROUPS_ENCRYPT_KEYSTORE_DIR
          value: "/etc/jgroups-encrypt-secret-volume"
        - name: JGROUPS_ENCRYPT_KEYSTORE
          value: "jgroups.jceks"
        - name: JGROUPS_ENCRYPT_NAME
          value: ""
        - name: JGROUPS_ENCRYPT_PASSWORD
          value: ""
        - name: JGROUPS_CLUSTER_PASSWORD
          value: "mta"
        - name: AUTO_DEPLOY_EXPLODED
          value: "false"
        - name: DEFAULT_JOB_REPOSITORY
          value: "mta-web-console-postgresql"
        - name: TIMER_SERVICE_DATA_STORE
          value: "mta-web-console-postgresql"
        - name: SSO_URL
          value: "/auth"
        - name: SSO_SERVICE_URL
          value: "/auth"
        - name: SSO_REALM
          value: "mta"
        - name: SSO_USERNAME
          value: ""
        - name: SSO_PASSWORD
          value: ""
        - name: SSO_PUBLIC_KEY
          value: "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhlI4WQ3tbIFE71M0HAO3TfvJFxH0P16wdOSzc/Fr9l8/tOn8cN5sgkGpnyEWcawgv2z4nouUkpV92/vo9fadKr3KVUMVaE3EaR3BmsC0Ct6TY7mYD+sz/yGoSWqwmGYocEJRIXAuMCX3jCu6CKMSV+1qjpcyYqzRaVWTB/EV76Sx+CSh9rEMLl8mE6owxNWQck03KgvWCA70l/LAu1M1bWy1aozoUKiTryX0nTxbHbj4qg3vvHC6igYndJ4zLr30QlCVn1iQ1jXC1MQUJ+Mwc8yZlkhaoAfDS1iM9I8NUcpcQAIn2baD8/aBrS1F9woYYRvo0vFH5N0+Rw4xjgSDlQIDAQAB"
        - name: SSO_BEARER_ONLY
          value: ""
        - name: SSO_SAML_KEYSTORE_SECRET
          value: "eap7-app-secret"
        - name: SSO_SAML_KEYSTORE
          value: "keystore.jks"
        - name: SSO_SAML_KEYSTORE_DIR
          value: "/etc/sso-saml-secret-volume"
        - name: SSO_SAML_CERTIFICATE_NAME
          value: "jboss"
        - name: SSO_SAML_KEYSTORE_PASSWORD
          value: "mykeystorepass"
        - name: SSO_SECRET
          value: "mtasecret"
        - name: SSO_ENABLE_CORS
          value: "false"
        - name: SSO_SAML_LOGOUT_PAGE
          value: "/"
        - name: SSO_DISABLE_SSL_CERTIFICATE_VALIDATION
          value: "true"
        - name: SSO_TRUSTSTORE
          value: ""
        - name: SSO_TRUSTSTORE_DIR
          value: "/etc/sso-secret-volume"
        - name: SSO_TRUSTSTORE_PASSWORD
          value: ""
        - name: GC_MAX_METASPACE_SIZE
          value: "512"
        - name: MAX_POST_SIZE
          value: "1073741824"
      - name: mta-web-console-executor
        image: "quay.io/windupeng/windup-web-openshift-messaging-executor:{{ ocp4_workload_mta_manifest_image_tag }}"
        imagePullPolicy: Always
        resources:
          requests:
            cpu: "1"
            memory: "4Gi"
          limits:
            cpu: "1.5"
            memory: "4Gi"
        volumeMounts:
        - name: mta-web-console-mta-web-pvol
          mountPath: "/opt/eap/standalone/data/windup"
          readOnly: false
        - name: mta-web-console-mta-web-executor-volume
          mountPath: "/opt/eap/standalone/data"
          readOnly: false
        lifecycle:
          preStop:
            exec:
              command:
              - "/opt/mta-cli/bin/stop.sh"
        livenessProbe:
          exec:
            command:
            - "/bin/bash"
            - "-c"
            - "/opt/mta-cli/bin/livenessProbe.sh"
          initialDelaySeconds: 300
          failureThreshold: 10
          successThreshold: 1
          timeoutSeconds: 10
        readinessProbe:
          exec:
            command:
            - "/bin/bash"
            - "-c"
            - "/opt/mta-cli/bin/livenessProbe.sh"
          initialDelaySeconds: 300
          failureThreshold: 10
          successThreshold: 1
          timeoutSeconds: 10
        ports: []
        env:
        - name: IS_MASTER
          value: "false"
        - name: GRAPH_BASE_OUTPUT_PATH
          value: "/opt/eap/standalone/data/windup-graphs"
        - name: MESSAGING_SERIALIZER
          value: "shared.storage"
        - name: MESSAGING_USER
          value: "jms-user"
        - name: MESSAGING_PASSWORD
          value: "gthudfal"
        - name: MESSAGING_HOST_VAR
          value: "SINGLE_NODE"
        - name: SINGLE_NODE
          value: "localhost"
      volumes:
      - name: mta-web-console-mta-web-pvol
        persistentVolumeClaim:
          claimName: mta-web-console-mta-web-claim
      - name: mta-web-console-mta-web-pvol-data
        emptyDir: {}
      - name: mta-web-console-mta-web-executor-volume
        emptyDir: {}
