---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mta-web-console-mta-web-claim
  namespace: "{{ _ocp4_workload_mta_namespace }}"
  labels:
    application: mta-web-console
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "20Gi"
