---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: mta
  namespace: "{{ _ocp4_workload_mta_namespace }}"
  labels:
    application: mta-web-console
  annotations:
    description: Route for application's http service.
    console.alpha.openshift.io/overview-app-route: 'true'
spec:
  to:
    name: mta-web-console
