---
apiVersion: v1
kind: Service
metadata:
  name: mta-web-console-postgresql
  namespace: "{{ _ocp4_workload_mta_namespace }}"
  labels:
    application: mta-web-console
spec:
  ports:
  - port: 5432
    targetPort: 5432
  selector:
    app: mta-web-console-postgresql
