---
apiVersion: v1
kind: Service
metadata:
  name: mta-web-console
  namespace: "{{ _ocp4_workload_mta_namespace }}"
  labels:
    application: mta-web-console
    app: mta-web-console-http
  annotations:
    service.alpha.openshift.io/dependencies: '[{"name": "mta-web-console-postgresql", "kind": "Service"}]'
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: mta-web-console
