apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coffee-shop-app-of-apps
  namespace: "openshift-gitops"
spec:
  destination:
    namespace: "prod-coffeeshop"
    server: https://kubernetes.default.svc
  project: coffee-shop
  source:
    path: ./coffeeshop-argocd
    repoURL: http://github.com/redhat-gpte-devopsautomation/coffeeshop-handson.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      selfHeal: true
