apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: "coffeeshop-argocd"
data:
  repositories: |
# add postgresql template
    - name: coffee-shop
      url: "http://{{ ocp4_workload_handson_github_service }}/{{ ocp4_workload_handson_github_user }}/coffeeshop-handson"
      type: git
      usernameSecret:
        key: username
        name: repo-github
      passwordSecret:
        key: password
        name: repo-github
