apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: coffee-shop
  namespace: "coffeeshop-argocd"
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  description: "ArgoCD project for Coffee Shop Application"
  destinations:
  - namespace: "prod-coffeeshop"
    server: https://kubernetes.default.svc
  - namespace: "coffeeshop-argocd"
    server: https://kubernetes.default.svc
  - namespace: "coffeeshop-pipeline"
    server: https://kubernetes.default.svc
  namespaceResourceBlacklist:
  - group: tekton.dev
    kind: TaskRun
  - group: tekton.dev
    kind: PipelineRun
  sourceRepos:
  - "http://{{ ocp4_workload_handson_github_service }}/{{ ocp4_workload_handson_github_user }}/coffeeshop-handson.git"
