apiVersion: v1
kind: Secret
metadata:
  annotations:
    tekton.dev/git-0: "http://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_service }}/{{ ocp_username }}-{{ guid }}"
  name: gitea-credentials
  namespace: "{{ guid }}-pipeline"
type: kubernetes.io/basic-auth
stringData:
  username: "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user   }}"
  password: "{{ _ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_password }}"
