---
kind: Service
apiVersion: v1
metadata:
  name: {{ ocp4_workload_dm7_foundations_elt_dm_ks_service_ping }}
  annotations:
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  clusterIP: "None"
  ports:
  - name: "ping"
    port: 8888
    targetPort: 8888
  selector:
    deploymentConfig: {{ ocp4_workload_dm7_foundations_elt_dm_ks_dc }}
