---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: {{ ocp4_workload_dm7_foundations_elt_dm_ks_dc }}
spec:
  revisionHistoryLimit: 10
  strategy:
    type: Recreate
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
        - dm-kieserver
        from:
          kind: ImageStreamTag
          name: '{{ ocp4_workload_dm7_foundations_elt_dm_ks_image }}'
    - type: ConfigChange
  replicas: 1
  selector:
    deploymentConfig: {{ ocp4_workload_dm7_foundations_elt_dm_ks_dc }}
  template:
    metadata:
      name: {{ ocp4_workload_dm7_foundations_elt_dm_ks_dc }}
      labels:
        deploymentConfig: {{ ocp4_workload_dm7_foundations_elt_dm_ks_dc }}
    spec:
      serviceAccount: {{ ocp4_workload_dm7_foundations_elt_dm_sa }}
      serviceAccountName: {{ ocp4_workload_dm7_foundations_elt_dm_sa }}
      terminationGracePeriodSeconds: 60
      containers:
        - name: dm-kieserver
          image:
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              cpu: '{{ ocp4_workload_dm7_foundations_elt_dm_ks_limit_cpu }}'
              memory: '{{ ocp4_workload_dm7_foundations_elt_dm_ks_limit_memory }}'
            requests:
              cpu: '{{ ocp4_workload_dm7_foundations_elt_dm_ks_request_cpu }}'
              memory: '{{ ocp4_workload_dm7_foundations_elt_dm_ks_request_memory }}'
          livenessProbe:
            httpGet:
              path: /services/rest/server/healthcheck
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 180
            timeoutSeconds: 2
            periodSeconds: 15
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /services/rest/server/readycheck
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 36
          ports:
            - name: jolokia
              containerPort: 8778
              protocol: TCP
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: https
              containerPort: 8443
              protocol: TCP
          env:
            - name: JAVA_MAX_MEM_RATIO
              value: '60'
            - name: JAVA_INITIAL_MEM_RATIO
              value: '0'
            - name: GC_MAX_METASPACE_SIZE
              value: '500'
            - name: WORKBENCH_SERVICE_NAME
              value: {{ ocp4_workload_dm7_foundations_elt_dm_bc_service }}
            - name: KIE_ADMIN_USER
              value: adminUser
            - name: KIE_ADMIN_PWD
              value: admin1!
            - name: KIE_SERVER_MODE
              value: "DEVELOPMENT"
            - name: KIE_MBEANS
              value: enabled
            - name: DROOLS_SERVER_FILTER_CLASSES
              value: 'true'
            - name: KIE_SERVER_BYPASS_AUTH_USER
              value: 'false'
            - name: KIE_SERVER_CONTROLLER_SERVICE
              value: {{ ocp4_workload_dm7_foundations_elt_dm_bc_service }}
            - name: KIE_SERVER_CONTROLLER_PROTOCOL
              value: 'ws'
            - name: KIE_SERVER_ID
              value: kieserver-dev
            - name: KIE_SERVER_STARTUP_STRATEGY
              value: ControllerBasedStartupStrategy
            - name: KIE_SERVER_HOST
              value: {{ ocp4_workload_dm7_foundations_elt_dm_ks_service }}
            - name: KIE_SERVER_PORT
              value: '8080'
            - name: KIE_SERVER_PROTOCOL
              value: http
            - name: MAVEN_REPOS
              value: 'RHDMCENTR'
            - name: RHDMCENTR_MAVEN_REPO_ID
              value: "repo-rhdmcentr"
            - name: RHDMCENTR_MAVEN_REPO_SERVICE
              value: {{ ocp4_workload_dm7_foundations_elt_dm_bc_service }}
            - name: RHDMCENTR_MAVEN_REPO_PATH
              value: '/maven2/'
            - name: RHDMCENTR_MAVEN_REPO_USERNAME
              value: adminUser
            - name: RHDMCENTR_MAVEN_REPO_PASSWORD
              value: admin1!
            - name: JGROUPS_PING_PROTOCOL
              value: "openshift.DNS_PING"
            - name: OPENSHIFT_DNS_PING_SERVICE_NAME
              value: {{ ocp4_workload_dm7_foundations_elt_dm_ks_service_ping }}
            - name: OPENSHIFT_DNS_PING_SERVICE_PORT
              value: "8888"
