---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ ocp4_workload_dm7_foundations_elt_dm_sa_rb_edit }}
subjects:
  - kind: ServiceAccount
    name: {{ ocp4_workload_dm7_foundations_elt_dm_sa }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
