---
secrets:
  # NEVER COMMIT THESE VALUES TO GIT
  imageregistry:
    # Token is only used for Quay. No token necessary for
    # OpenShift integrated registry
    # Quay -> Robot Accounts -> Robot Token
    token: PLAINSTRING

  git:
    # Go to: https://github.com/settings/tokens
    token: {{ ocp4_workload_validated_pattern_gitea_token }}

{% if ocp4_workload_validated_pattern_name is match('industrial-edge')
   and
   ocp4_workload_validated_pattern_s3_bucket_create | bool %}
  aws:
    s3Secret: {{ _ocp4_workload_validated_pattern_s3_secret }}
{% endif %}

{% if ocp4_workload_validated_pattern_name is match('xray') %}
  xraylab:
    db:
      db_user: xraylab
      db_passwd: xraylab
      db_root_passwd: xraylab
      db_host: xraylabdb
      db_dbname: xraylabdb
      db_master_user: xraylab
      db_master_password: xraylab
{% endif %}