---
version: "2.0"
secrets:
  # NEVER COMMIT THESE VALUES TO GIT

  - name: imageregistry
    fields:
    # eg. Quay -> Robot Accounts -> Robot Login
    - name: username
      value: robot-account
    - name: password
      value: <robot account password>

  - name: git
    fields:
    # Go to: https://github.com/settings/tokens
    - name: username
      value: "org or github user"
    - name: password
      value: "token"

{% if ocp4_workload_validated_pattern_name is match('industrial-edge')
   and
   ocp4_workload_validated_pattern_s3_bucket_create | bool %}
  - name: aws
    fields:
    - name: aws_access_key_id
      ini_file: ~/.aws/credentials
      ini_key: aws_access_key_id
    - name: aws_secret_access_key
      ini_file: ~/.aws/credentials
      ini_key: aws_secret_access_key
    - name: s3Secret
      value: {{ _ocp4_workload_validated_pattern_s3_secret }}
{% endif %}

{% if ocp4_workload_validated_pattern_name is match('multicloud-gitops') %}
  - name: config-demo
    vaultPrefixes:
    - global
    fields:
    - name: secret
      onMissingValue: generate
      vaultPolicy: validatedPatternDefaultPolicy
{% endif %}

{% if ocp4_workload_validated_pattern_name is match('xray') %}
---
  # Database login credentials and configuration
  - name: xraylab
    fields:
    - name: database-user
      value: xraylab
    - name: database-host
      value: xraylabdb
    - name: database-db
      value: xraylabdb
    - name: database-master-user
      value: xraylab
    - name: database-password
      onMissingValue: generate
      vaultPolicy: validatedPatternDefaultPolicy
    - name: database-root-password
      onMissingValue: generate
      vaultPolicy: validatedPatternDefaultPolicy
    - name: database-master-password
      onMissingValue: generate
      vaultPolicy: validatedPatternDefaultPolicy
  
  # Grafana Dashboard admin user/password
  - name: grafana
    fields:
    - name: GF_SECURITY_ADMIN_USER
      value: root
    - name: GF_SECURITY_ADMIN_PASSWORD
      onMissingValue: generate
      vaultPolicy: validatedPatternDefaultPolicy
{% endif %}
