---
secrets:
  # NEVER COMMIT THESE VALUES TO GIT
  imageregistry:
    # eg. Quay -> Robot Accounts -> Robot Login
    username: PLAINTEXT
    password: PLAINTEXT

  git:
    # Go to: https://github.com/settings/tokens
    username: {{ ocp4_workload_validated_pattern_gitea_user }}
    password: {{ ocp4_workload_validated_pattern_gitea_token }}

{% if ocp4_workload_validated_pattern_name is match('industrial-edge')
   and
   ocp4_workload_validated_pattern_s3_bucket_create | bool %}
  aws:
    s3Secret: {{ _ocp4_workload_validated_pattern_s3_secret }}
{% endif %}

{% if ocp4_workload_validated_pattern_name is match('multicloud-gitops') %}
  config-demo:
    # Secret used for demonstrating vault storage, external secrets, and ACM distribution
    secret: {{ _ocp4_workload_validated_pattern_config_demo_secret }}
{% endif %}

{% if ocp4_workload_validated_pattern_name is match('xray') %}
  xraylab:
    db:
      db_user: xraylab
      db_passwd: xraylab
      db_root_passwd: xraylab
      db_host: xraylabdb
      db_dbname: xraylabdb
      db_master_user: xraylab
      db_master_password: xraylab
{% endif %}
