---
main:
  clusterGroupName: {{ ocp4_workload_validated_pattern_cluster_group_name }}
  multiSourceConfig:
    enabled: true
    clusterGroupChartVersion: "0.9.*"
 
global:
  pattern: {{ ocp4_workload_validated_pattern_name }}

  options:
    useCSV: False
    syncPolicy: Automatic
    installPlanApproval: Automatic

  imageregistry:
    type: openshift
    hostname: {{ ocp4_workload_validated_pattern_registry_hostname }}
    account: openshift

  git:
    hostname: {{ ocp4_workload_validated_pattern_gitea_server_hostname }}
    account: {{ ocp4_workload_validated_pattern_gitea_user }}
    username: {{ ocp4_workload_validated_pattern_gitea_user }}
    email: {{ ocp4_workload_validated_pattern_gitea_user_email }}
    dev_revision: main

{% if ocp4_workload_validated_pattern_s3_bucket_create | bool %}
  s3:
    bucket:
      name: {{ ocp4_workload_validated_pattern_s3_bucket_name }}
      region: {{ ocp4_workload_validated_pattern_s3_bucket_region }}
      message:
        aggregation:
          count: {{ ocp4_workload_validated_pattern_s3_bucket_aggregation_count }}
      custom:
        endpoint:
          enabled: {{ ocp4_workload_validated_pattern_s3_bucket_custom_endpoint_enabled }}
{% endif %}
{% if ocp4_workload_validated_pattern_name is match('xray') %}
  xraylab:
    namespace: "xraylab-1"
{% endif %}

  # Make sure a change is actually pushed to Gitea
  last_updated: {{ ansible_date_time.date }}_{{ ansible_date_time.time }}
