main:
  clusterGroupName: datacenter

global:
  pattern: "{{ ocp4_workload_validated_pattern_name }}"

  options:
    useCSV: False
    syncPolicy: Automatic
    installPlanApproval: Automatic

  imageregistry:
    type: openshift
    hostname: {{ ocp4_workload_validated_pattern_registry_hostname }}
    account: openshift

  git:
    hostname: {{ ocp4_workload_validated_pattern_gitea_server_hostname }}
    account: {{ ocp4_workload_validated_pattern_gitea_user }}
    username: {{ ocp4_workload_validated_pattern_gitea_user }}
    email: {{ ocp4_workload_validated_pattern_gitea_user_email }}
    dev_revision: {{ ocp4_workload_validated_pattern_main_tag }}

{% if ocp4_workload_validated_pattern_s3_bucket_create | bool %}
  s3:
    bucketname: {{ ocp4_workload_validated_pattern_s3_bucket_name }}
    region: {{ ocp4_workload_validated_pattern_s3_bucket_region }}
{% endif %}

  # Make sure a change is actually pushed to Gitea
  last_updated: {{ ansible_date_time.date }}_{{ ansible_date_time.time }}
