[all:vars]
###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_user={{remote_user}}
ansible_ssh_private_key_file="~/.ssh/{{guid}}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"

[osps]
{% for host in groups['osps'] | default([]) %}
{{ host }}.{{ chomped_zone_internal_dns }}
{% endfor %}

[stfcrcs]
{% for host in groups['stfcrcs'] | default([]) %}
{{ host }}.{{ chomped_zone_internal_dns }}
{% endfor %}
