apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: {{ _ocp4_workload_gitops_workshop_argo_instance_name }}
  namespace: {{ _ocp4_workload_gitops_workshop_namespacename }}
spec:
  sso:
    dex:
      openShiftOAuth: true
    provider: dex
  rbac:
    defaultPolicy: 'role:readonly'
  server:
    host: user{{ item }}-argo-server-user{{ item }}-argocd.{{sub_domain}}
    insecure: true
    route:
      enabled: true
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
