[ExampleLabs:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_user={{ansible_user}}



[ExampleLabs:children]
ipa

[ipa]
ipa.{{chomped_zone_internal_dns}}  host_zone={{hostvars[host]['placement']}}
