# VMs to create
vms:
  # Create the bastion VM
- name: Bastion Host
  tag: bastion
  description: "Bastion Host\nnohbac: true\n"
  numCpus: 2
  memorySize:
    unit: GB
    value: 2
  hostnames: [bastion-REPL.rhpds.opentlc.com, bastion.example.com, bastion]
  supportsCloudInit: True
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: False
    users:
      - name: "{{ remote_user }}"
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
  hardDrives:
  - index: 0
    imageName: rhel-guest-image-7.3-35.x86_64
    boot: True
    controller: virtio
    name: root disk
    size:
      unit: GB
      value: 40
    type: DISK
  - index: 1
    boot: False
    controller: virtio
    name: vol
    size:
      unit: GB
      value: 100
    type: DISK
  networkConnections:
  - name: eth0
    device:
      index: 0
      deviceType: virtio
      useAutomaticMac: False
      mac: 2c:c2:60:14:42:52
    ipConfig:
      autoIpConfig:
        reservedIp: 10.0.1.10
      hasPublicIp: true
  suppliedServices:
  - external: True
    ip: 10.0.1.10
    name: ssh
    portRange: 22
    protocol: SSH

