apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-secret-store
spec:
  provider:
    vault:
      auth:
        kubernetes:
          mountPath: kubernetes
          role: rhdh-role
          secretRef:
            key: token
            name: vault-auth-secret
            namespace: {{ ocp4_workload_external_secrets_vault_namespace }}
          serviceAccountRef:
            name: vault-auth
            namespace: {{ ocp4_workload_external_secrets_vault_namespace }}
      path: kv
      server: 'http://vault.{{ ocp4_workload_external_secrets_vault_namespace }}:8200'
      version: v2