---
apiVersion: machineconfiguration.openshift.io/v1
kind: KubeletConfig
metadata:
  name: {{ machineset.name }}
spec:
  machineConfigPoolSelector:
    matchLabels:
      kubelet-config: {{ machineset.name }}
  kubeletConfig:
    maxPods:  {{ machineset.machineConfigPool.maxPodsPerNode | default(250) }}
