apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: node-ca
  namespace: openshift-image-registry
spec:
  template:
    spec:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/etcd
        operator: Exists
{% for item in ocp4_workload_machinesets_machineset_groups %}
{% if item.taints | default("") | length > 0 %}
{% for taint in item.taints %}
      - effect: "{{ taint.effect }}"
        key: "{{ taint.key }}"
        value: "{{ taint.value }}"
{% endfor %}
{% endif %}
{% endfor %}
