apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: "{{ ocp4_workload_rhtr_pipelines_prod_project_name }}"
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "Petclinic - Production"
    openshift.io/requester: "system:admin"
