apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "jenkins-admin"
  namespace: "{{ ocp4_workload_rhtr_pipelines_prod_project_name }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
- kind: ServiceAccount
  name: jenkins
  namespace: "{{ ocp4_workload_rhtr_pipelines_jenkins_project_name }}"
