apiVersion: v1
kind: Secret
metadata:
  name: git-secret
  namespace: "{{ ocp4_workload_rhtr_pipelines_jenkins_project_name }}"
  labels:
    credential.sync.jenkins.openshift.io: "true"
type: Opaque
data:
  password: Z2l0ZWE=
  username: Z2l0ZWE=
