apiVersion: v1
kind: Secret
metadata:
  name: git-secret
  namespace: "{{ ocp4_workload_rhtr_pipelines_jenkins_project_name }}"
  labels:
    credential.sync.jenkins.openshift.io: "true"
type: Opaque
stringData:
  username: "{{ ocp4_workload_rhtr_pipelines_gitea_user }}"
  password: "{{ ocp4_workload_rhtr_pipelines_gitea_password }}"
