---
apiVersion: tackle.konveyor.io/v1alpha1
kind: Tackle
metadata:
  name: tackle
  namespace: {{ ocp4_workload_mta7_namespace_base }}
  labels:
    app.kubernetes.io/name: tackle
spec:
  feature_auth_required: {{ ocp4_workload_mta7_feature_auth_required }}
  keycloak_database_data_volume_size: {{ ocp4_workload_mta7_keycloak_database_data_volume_size }}
  maven_data_volume_size: {{ ocp4_workload_mta7_maven_data_volume_size }}
  hub_bucket_volume_size: {{ ocp4_workload_mta7_hub_bucket_volume_size }}
  hub_database_volume_size: {{ ocp4_workload_mta7_hub_database_volume_size }}
  pathfinder_database_data_volume_size: {{ ocp4_workload_mta7_pathfinder_database_data_volume_size }}
  rwx_supported: false
