apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ _name_ }}-run-jt
spec:
  description: >-
    Run Job Template 
  params:
    - description: |
        Secret containing the address:port tuple for StackRox Central)
        (example - rox.stackrox.io:443)
      name: ee2-update
      type: string
  steps:
    - env:
      image: >-
        docker.io/centos@sha256:a1801b843b1bfaf77c501e7a6d3f709401a1e0c83863037fa3aab063a7fdb9dc
      name: run-jt
      resources: {}
      script: |
        #!/usr/bin/env bash
        set +x
        curl --help
