apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ _name_ }}-update-jt
spec:
  description: >-
    Add execution environment to automation controller
  workspaces:
    - name: source
  params:
    - description: automation controller api host url
      name: API_URL
      type: string
    - description: name of the execution environment
      name: JOB_TEMPLATE
      type: string
    - description: automation controller username
      name: USER
      type: string
    - description: automation controller password 
      name: PASSWORD
      type: string

  results:
    - description: execution environment creation result.
      name: post
  steps:
    - name: update-jt
      image: >-
        docker.io/centos@sha256:a1801b843b1bfaf77c501e7a6d3f709401a1e0c83863037fa3aab063a7fdb9dc
      workingDir: $(workspaces.source.path)
      resources: {}
      script: |
        #!/usr/bin/env bash
        set -x
        printf "%s" "$(results.post.id)"

        JT_END_POINT=$(curl -X GET \
          https://$(params.API_URL)/api/v2/job_templates/ \
          -H 'Content-Type: application/json' \
          -u '$(params.USER):$(params.PASSWORD)' \
          |jq  -r '.results[] | select(.name == "$(params.JOB_TEMPLATE)") | .url'
          )
        

        