apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: acm-sonarqube
  namespace: {{ ocp4_workload_devsecops_validated_pattern_sonarqube_namespace }}
  annotations:
    apps.open-cluster-management.io/git-branch: main
    apps.open-cluster-management.io/git-path: gitops/acm/sonarqube
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: acm-sonarqube
spec:
  channel: "{{ ocp4_workload_devsecops_validated_pattern_acm_namespace }}/acm-devsecops"
  placement:
    placementRef:
      kind: PlacementRule
      name: acm-sonarqube