apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: acm-sonarqube
  namespace: {{ ocp4_workload_devsecops_validated_pattern_sonarqube_namespace }}
spec:
  clusterSelector:
    matchLabels:
      purpose: "{{ _purpose }}"