[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[windows:vars]
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[windows_workstations:vars]
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[windows_domain_controllers:vars]
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[tower:vars]
ansible_port=22
ansible_ssh_user={{ ansible_user }}
ansible_ssh_private_key_file="/root/.ssh/{{ env_authorized_key }}.pem"

[gitlab:vars]
ansible_port=22
ansible_ssh_user={{ ansible_user }}
ansible_ssh_private_key_file="/root/.ssh/{{ env_authorized_key }}.pem"

[infra]
{% for host in hostvars %}
{%   if "windc" in host %}
{{ host }} ansible_host={{ hostvars[host].private_ip_address }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ windows_password }}" private_ip={{ hostvars[host].private_ip_address }}
{%   elif "gitlab" in host %}
{{ host }} ansible_host={{ hostvars[host].private_ip_address }}
{%   endif %}
{% endfor %}

[windows]
{% for host in hostvars %}
{%   if "win1" in host %}
{{ host }} ansible_host={{ hostvars[host].private_ip_address }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ windows_password }}" private_ip={{ hostvars[host].private_ip_address }}
{%   elif "win2" in host %}
{{ host }} ansible_host={{ hostvars[host].private_ip_address }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ windows_password }}" private_ip={{ hostvars[host].private_ip_address }}
{%   elif "workstation" in host %}
{{ host }} ansible_host={{ hostvars[host].private_ip_address }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ workstation_password }}" private_ip={{ hostvars[host].private_ip_address }}
{%   endif %}
{% endfor %}

{% for group in groups %}
{% if 'tag' not in group and 'unknowns' not in group and 'ungrouped' not in group %}

[{{group}}]
{%   for entry in groups[group] %}
{%     for host in hostvars %}
{%       if entry == host %}
{{ host }} ansible_host={{ hostvars[host].private_ip_address }}
{%       endif %}
{%     endfor %}
{%   endfor %}
{% endif %}
{% endfor %}
