apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: globex-ui-pipeline
  namespace: openshift-gitops
spec:
  destination:
    namespace: ci
    server: 'https://kubernetes.default.svc'
  ignoreDifferences:
    - jsonPointers:
        - /imagePullSecrets
      kind: ServiceAccount
  project: default
  source:
    helm:
      parameters:
        - name: globex.registry.imageRepo
          value: {{ _internal_image_repo }}
        - name: globex.registry.dockerConfigJson
          value: {{ _internal_docker_config }}
        - name: globex.gitea.manifestRepo
          value: {{ _internal_manifest_repo }}
        - name: globex.gitea.manifestFile
          value: {{ _internal_manifest_file_dev }}
        - name: globex.gitea.manifestRepoName
          value: {{ _internal_manifest_repo_name }}
        - name: globex.gitea.gitRepoHost
          value: {{ _internal_git_repo_host }}
        - name: globex.gitea.webhookSecretKey
          value: {{ _internal_webhook_secret_key }}
        - name: globex.gitea.token
          value: {{ _internal_gitea_token }}
        - name: globex.sonarqube.hostUrl
          value: {{ _internal_sonarqube_host_url }}
        - name: globex.cyclonedx.hostUrl
          value: {{ _internal_cyclone_host_url }}
    path: config/pipeline/charts/globex-ui
    repoURL: {{ _internal_manifest_repo }}
    targetRevision: main
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 100
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true