kind: Deployment
apiVersion: apps/v1
metadata:
  name: cyclonedx-bom-repo-server
  namespace: "{{ ocp4_workload_stssc_on_ocp_wks_cyclonedx_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cyclonedx-bom-repo-server
  template:
    metadata:
      labels:
        app: cyclonedx-bom-repo-server
    spec:
      containers:
        - name: container
          image: cyclonedx/cyclonedx-bom-repo-server
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: REPO__DIRECTORY
              value: /repo
            - name: ALLOWEDMETHODS__GET
              value: 'true'
            - name: ALLOWEDMETHODS__POST
              value: 'true'
            - name: ALLOWEDMETHODS__DELETE
              value: 'true'
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always