{
   "auths":{
      "{{ _internal_docker_registry }}":{
         "username": "{{ _internal_docker_registry_username }}",
         "password": "{{ _internal_docker_registry_password }}",
         "auth": "{{ _internal_docker_registry_auth | b64encode }}"
      }
   }
}