kind: Secret
apiVersion: v1
metadata:
  name: globex-ui-sonarqube-secret
  namespace: "{{ ocp4_workload_stssc_on_ocp_wks_ci_namespace }}"
stringData:
  token: {{ _ocp4_workload_stssc_on_ocp_wks_sonarqube_globex_ui_project_token }}
type: Opaque
