---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pv-claim
  namespace: {{ ocp4_workload_minio_project }}
  labels:
    app: minio-storage-claim
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocp4_workload_minio_storage_size }}"
  # Uncomment and add storageClass specific to your requirements if not using the default storage class.
  # storageClassName:
