apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  # This name uniquely identifies the PVC. Will be used in deployment below.
  name: minio-pv-claim
  namespace: "{{ ocp4_workload_minio_project }}"
  labels:
    app: minio-storage-claim
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocp4_workload_minio_storage_size }}"
  # Uncomment and add storageClass specific to your requirements if not using the default storage class.
  # storageClassName: