apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ ocp4_workload_minio_project_display }}"
  name: "{{ ocp4_workload_minio_project }}"
spec:
  finalizers:
  - kubernetes
