{# This is /etc/hosts file #}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['satellites'] %}
{% if host == inventory_hostname %}
{{ ansible_default_ipv4['address'] }}  {{host}}
{% endif %}
{% endfor %}
{% for host in groups['capsules'] %}
{% if host == inventory_hostname %}
{{ ansible_default_ipv4['address'] }}  {{host}}
{% endif %}
{% endfor %}

 