apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: acm-kafka-{{ _environment }}
  namespace: {{ ocp4_workload_devsecops_validated_pattern_kafka_namespace }}
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  selector:
    matchLabels:
      app: acm-kafka-{{ _environment }}