apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  creationTimestamp: null
  name: ml-workflows-notebook
spec:
  lookupPolicy:
    local: false
  tags:
  - annotations: null
    name: 'latest'
    from:
      kind: DockerImage
      name: quay.io/willbenton/jh-ml-workflows-notebook:devconf-us-2019
    generation: null
    importPolicy: {}
    referencePolicy:
      type: ""
status:
  dockerImageRepository: ""
