apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewApp
  creationTimestamp: null
  labels:
    app: pipeline
  name: pipeline
spec:
  replicas: 1
  selector:
    app: pipeline
    deploymentconfig: pipeline
  strategy:
    resources: {}
  template:
    metadata:
      annotations:
        openshift.io/generated-by: OpenShiftNewApp
      creationTimestamp: null
      labels:
        app: pipeline
        deploymentconfig: pipeline
    spec:
      containers:
      - image: image-registry.openshift-image-registry.svc:5000/{{ t_project_name }}/pipeline:latest
        name: pipeline
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
  test: false
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - pipeline
      from:
        kind: ImageStreamTag
        name: pipeline:latest
        namespace: {{ t_project_name }}
    type: ImageChange
