apiVersion: tekton.dev/v1alpha1
kind: PipelineResource
metadata:
  name: pipeline-source
spec:
  params:
    - name: url
      value: {{ pipeline_notebook_repository }}
    - name: revision
      value: develop
  type: git