apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewBuild
  creationTimestamp: null
  labels:
    build: ml-workflows-notebook
  name: ml-workflows-notebook
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: ml-workflows-notebook:latest
  postCommit: {}
  resources: {}
  source:
    contextDir: source
    git:
      ref: develop
      uri: https://github.com/willb/openshift-ml-workflows-workshop
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: JUPYTER_PRELOAD_REPOS
        value: https://github.com/willb/openshift-ml-workflows-workshop
      from:
        kind: ImageStreamTag
        name: s2i-minimal-notebook:3.6
        namespace: {{ t_project_name }}
    type: Source
  triggers:
  - github:
      secret: T6zCCTkSEypjysQhfAsN
    type: GitHub
  - generic:
      secret: OWfpEgf91cJRMiTnM4q5
    type: Generic
  - type: ConfigChange
  - imageChange: {}
    type: ImageChange
