apiVersion: opendatahub.io/v1alpha
kind: OdhDashboardConfig
metadata:
  name: odh-dashboard-config
  namespace: redhat-ods-applications
spec:
  dashboardConfig:
    enablement: true
    disableProjects: false
    disableSupport: false
    disableModelServing: false
    disableISVBadges: false
    disableInfo: false
    disableClusterManager: false
    disableBYONImageStream: false
    disableTracking: false
  groupsConfig:
    adminGroups: rhods-admins
    allowedGroups: 'system:authenticated'
  modelServerSizes:
    - name: Small
      resources:
        limits:
          cpu: '1'
          memory: 2Gi
        requests:
          cpu: '1'
          memory: 2Gi
  notebookController:
    enabled: true
    notebookNamespace: rhods-notebooks
    pvcSize: 5Gi
  notebookSizes:
    - name: Small
      resources:
        limits:
          cpu: '1'
          memory: 2Gi
        requests:
          cpu: '1'
          memory: 2Gi