apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: {{ ocp4_workload_integreatly_fuse_workshop_operator_catalog_source_name }}
spec:
  configMap: registry-cm-redhat-rhmi-fuse-operator
  displayName: {{ ocp4_workload_integreatly_fuse_workshop_operator_catalog_source_name }}
  icon:
    base64data: ''
    mediatype: ''
  publisher: RHMI
  sourceType: configmap
