apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ ocp4_workload_integreatly_fuse_workshop_operator_subscription_name }}
  namespace: {{ _instance_namespace }}
spec:
  channel: rhmi
  config:
    resources: {}
  installPlanApproval: Automatic
  name: rhmi-syndesis
  source: {{ ocp4_workload_integreatly_fuse_workshop_operator_catalog_source_name }}
  sourceNamespace: {{ _instance_namespace }}