apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: {{ _metadata_name }}
  labels:
    app: sso
spec:
  user:
    username: {{ _spec_user_username }}
    email: "{{ _spec_user_email }}"
    enabled: True
    emailVerified: True
    credentials:
      - type: "password"
        value: "{{ _spec_user_password }}"
    realmRoles:
      - "offline_access"
    clientRoles:
      account:
        - "manage-account"
      realm-management:
        - "manage-users"
  realmSelector:
    matchLabels:
      sso: {{ _spec_realmselector_label_sso }}