kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ ocp4_workload_integreatly_minio_route_name }}
spec:
  to:
    kind: Service
    name: {{ ocp4_workload_integreatly_minio_service_name }}
  port:
    targetPort: 9000
  tls:
    termination: edge