{
  "kind": "keycloak",
  "name": "rhsso",
  "client_id": "{{ ocp4_workload_integreatly_threescale_sso_client_name }}",
  "client_secret": "{{ ocp4_workload_integreatly_threescale_sso_client_secret }}",
  "site": "{{ _tenant_host }}/auth/realms/{{ ocp4_workload_integreatly_threescale_sso_realm }}",
  "access_token": "{{ _tenant_token }}",
  "skip_ssl_certificate_verification": true,
  "published": true
}