apiVersion: v1
kind: Service
metadata:
  name: rhmi-webhooks
  namespace: redhat-rhmi-operator
  annotations:
    service.beta.openshift.io/serving-cert-secret-name: rhmi-webhook-cert
spec:
  selector:
    name: rhmi-operator
  ports:
    - protocol: TCP
      port: 443
      targetPort: 8090
