apiVersion: capabilities.3scale.net/v1alpha1
kind: Tenant
metadata:
  name: {{ tenant_name }}
spec:
  email: {{ tenant_admin_email }}
  username: {{ tenant_admin_user }}
  passwordCredentialsRef:
    name: {{ tenant_admin_secret }}
  masterCredentialsRef:
    name: {{ ocp4_workload_integreatly_seed_secret_name }}
  organizationName: {{ tenant_name }}
  systemMasterUrl: {{ threescale_master_host }}
  tenantSecretRef:
    name: {{ tenant_detail_secret_name }}
    namespace: {{ tenant_detail_secret_namespace }} 