{% for index in range(0,worker_instance_count|int) %}
{% set worker_loop = loop %}
- network_yaml: |
    interfaces:
    - ipv4:
        dhcp: true
        enabled: true
      name: enp1s0
      state: up
      type: ethernet
    - ipv4:
        address:
        - ip: {{ ai_network_prefix }}.3{{ index }}
          prefix-length: 24
        dhcp: false
        enabled: true
      name: enp2s0
      state: up
      type: ethernet
    routes:
      config:
      - destination: 0.0.0.0/0
        next-hop-address: {{ ai_network_prefix }}.1
        next-hop-interface: enp2s0
        metric: 200
  mac_interface_map:
    - mac_address: "{{ ai_workers_macs[index] }}" 
      logical_nic_name: "enp1s0"
    - mac_address: "{{ ai_workers_macs2[index] }}"
      logical_nic_name: "enp2s0"
{% endfor %}
