apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: erdemo-operators
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: quay.io/emergencyresponsedemo/erdemo-operator-catalog:latest
  displayName: Red Hat Emergency Response Demo Operator
  publisher: Emergency Response Demo Team
  icon:
    base64data: ""
    mediatype: ""
  updateStrategy:
    registryPoll:
      interval: 30m
