apiVersion: apps.erdemo.io/v1alpha1
kind: ErDemo
metadata:
  name: erdemo
  namespace: {{ ocp4_workload_emergency_response_ocp_project }}
spec:
  mapToken: {{ ocp4_workload_emergency_response_mapbox_token }}
