---
apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  annotations:
    controller.devfile.io/devworkspace-source: web-terminal
    controller.devfile.io/restricted-access: "true"
  finalizers:
  - rbac.controller.devfile.io
  labels:
    console.openshift.io/terminal: "true"
  name: terminal-{{ _ocp4_workload_web_terminal_user_name }}
  namespace: {{ _ocp4_workload_web_terminal_namespace }}
spec:
  routingClass: web-terminal
  started: true
  template:
    components:
    - name: web-terminal-tooling
      plugin:
        kubernetes:
          name: web-terminal-tooling
          namespace: openshift-operators
    - name: web-terminal-exec
      plugin:
        kubernetes:
          name: web-terminal-exec
          namespace: openshift-operators
