---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ _ocp4_workload_web_terminal_namespace }}
  annotations:
    openshift.io/requester: {{ _ocp4_workload_web_terminal_user_name }}
    openshift.io/display-name: "Web Terminal for user {{ _ocp4_workload_web_terminal_user_name }}"
  labels:
    web-terminal-operator: "true"

