          <div id="web1_tab" class="tabcontent">
            <iframe 
              id="web1" 
              src="{{ showroom_tab_web1_url }}" 
              sandbox="allow-scripts allow-same-origin"
              allow="fullscreen"
              referrerpolicy="no-referrer"
              width="100%"
              style="border:none;">
            </iframe>
          </div>
