apiVersion: v1
kind: Secret
metadata:
  name: postgresql
  namespace: {{ ocp4_workload_starburst_namespace }}
stringData:
  database-name: starburst_query_logger
  database-password: starburst
  database-user: starburst
type: Opaque