apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: {{ starburst_namespace }}
spec:
  ports:
  - name: agent
    nodePort: 0
    port: 50000
    protocol: TCP
    targetPort: 50000
  selector:
    deployment: postgresql
  sessionAffinity: None
  type: ClusterIP