apiVersion: v1
kind: Service
metadata:
  name: postgresql
  namespace: {{ ocp4_workload_starburst_namespace }}
spec:
  ports:
  - name: postgresql
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    name: postgresql
  sessionAffinity: None
  type: ClusterIP