kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: starburst-route
  namespace: default
  labels:
    app: starburst-enterprise
    app.kubernetes.io/managed-by: Helm
    helm-chart: starburst-enterprise-360.6.1
    helm-release: starburstenterprise-sample
    managed-by: Helm
    role: coordinator
  annotations:
    openshift.io/host.generated: 'true'

spec:
  host: {{ ocp4_workload_starburst_route_url }}
  to:
    kind: Service
    name: starburst
    weight: 100
  port:
    targetPort: http
  wildcardPolicy: None