---
apiVersion: charts.starburstdata.com/v1alpha1
kind: StarburstEnterprise
metadata:
  finalizers:
    - helm.sdk.operatorframework.io/uninstall-release
  generation: 1
  managedFields:
  name: {{ ocp4_workload_starburst_enterprise_name }}
  namespace: {{ ocp4_workload_starburst_namespace }}
spec:
  cache:
    diskUsagePercentage: 80
    enabled: false
    ttl: 7d
    volume:
      emptyDir: {}
  usageMetrics:
    enabled: false
    usageClient:
      initialDelay: 1m
      interval: 1m
  expose:
    clusterIp:
      name: starburst
      ports:
        http:
          port: 8080
    ingress:
      annotations: {}
      ingressName: coordinator-ingress
      path: /
      pathType: ImplementationSpecific
      serviceName: starburst
      servicePort: 8080
      tls:
        enabled: true
    loadBalancer:
      IP: ''
      annotations: {}
      name: starburst
      ports:
        http:
          port: 8080
      sourceRanges: []
    nodePort:
      extraLabels: {}
      name: starburst
      ports:
        http:
          nodePort: 30080
          port: 8080
    type: clusterIp
  userDatabase:
    enabled: false
    users:
      - password: 46991b33f7a75ff79213c0dc0e610610
        username: admin
  extraArguments: []
  query:
    maxConcurrentQueries: 3
  prometheus:
    agent:
      config: /etc/starburst/telemetry/prometheus.yaml
      port: 8081
      version: 0.16.1
    enabled: true
    rules:
      - attrNameSnakeCase: true
        name: $1
        pattern: trino.execution<name=QueryManager><>(running_queries|queued_queries)
        type: GAUGE
      - name: failed_queries
        pattern: trino.execution<name=QueryManager><>FailedQueries\.TotalCount
        type: COUNTER
  commonLabels: {}
  starburstPlatformLicense: {{ ocp4_workload_starburst_secret }}
  initImage:
    pullPolicy: IfNotPresent
    repository: registry.connect.redhat.com/starburst/starburst-enterprise-init
    tag: 380.3.2
  licenseManager:
    cronjob:
      affinity: {}
      nodeSelector: {}
      securityContext: {}
      tolerations: []
    image:
      pullPolicy: IfNotPresent
      repository: registry.connect.redhat.com/starburst/license-manager
      tag: 0.0.2
    url: 'https://license-api.dogfood.eng.starburstdata.net/test/license/checkout'
  initFile: ''
  securityContext: {}
  coordinator:
    nodeSelector: {}
    heapHeadroomPercentage: 30
    initContainers: []
    etcFiles:
      jvm.config: |
        -server
        -XX:G1HeapRegionSize=32M
        -XX:+ExplicitGCInvokesConcurrent
        -XX:+ExitOnOutOfMemoryError
        -XX:+HeapDumpOnOutOfMemoryError
        -XX:-OmitStackTraceInFastThrow
        -XX:ReservedCodeCacheSize=512M
        -XX:PerMethodRecompilationCutoff=10000
        -XX:PerBytecodeRecompilationCutoff=10000
        -Djdk.attach.allowAttachSelf=true
        -Djdk.nio.maxCachedBufferSize=2000000
        -XX:+UnlockDiagnosticVMOptions
        -XX:+UseAESCTRIntrinsics
        --add-opens=java.base/sun.nio.ch=ALL-UNNAMED
        --add-opens=java.base/java.nio=ALL-UNNAMED
        --add-opens=java.base/java.lang=ALL-UNNAMED
        --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED
        -XX:-UseBiasedLocking
        -XX:+UseG1GC
      other: {}
      properties:
        config.properties: |
          insights.jdbc.url=jdbc:postgresql://postgresql.{{ ocp4_workload_starburst_namespace }}.svc.cluster.local:5432/starburst_query_logger
          insights.jdbc.user=starburst
          insights.jdbc.password=starburst
          insights.persistence-enabled=true
        log.properties: |
          # Enable verbose logging from Starburst Enterprise
          #io.trino=DEBUG
          #com.starburstdata.presto=DEBUG
        node.properties: |
        {% raw %}
          node.environment={{ include "starburst.environment" . }}
        {% endraw %}
          node.data-dir=/data/starburst
          plugin.dir=/usr/lib/starburst/plugin
          node.server-log-file=/var/log/starburst/server.log
          node.launcher-log-file=/var/log/starburst/launcher.log
    resources:
      cpu: 3
      memory: 12Gi
  catalogs:
    tpch: |-
      connector.name=tpch
      tpch.splits-per-node=4
  image:
    pullPolicy: IfNotPresent
    repository: registry.connect.redhat.com/starburst/starburst-enterprise
    tag: 380-e.3
  internal:
    ports:
      http:
        port: 8080
      https:
        port: 8443
  internalTls: false
  worker:
    nodeSelector: {}
    heapHeadroomPercentage: 30
    initContainers: []
    etcFiles:
      jvm.config: |
        -server
        -XX:G1HeapRegionSize=32M
        -XX:+ExplicitGCInvokesConcurrent
        -XX:+ExitOnOutOfMemoryError
        -XX:+HeapDumpOnOutOfMemoryError
        -XX:-OmitStackTraceInFastThrow
        -XX:ReservedCodeCacheSize=512M
        -XX:PerMethodRecompilationCutoff=10000
        -XX:PerBytecodeRecompilationCutoff=10000
        -Djdk.attach.allowAttachSelf=true
        -Djdk.nio.maxCachedBufferSize=2000000
        -XX:+UnlockDiagnosticVMOptions
        -XX:+UseAESCTRIntrinsics
        --add-opens=java.base/sun.nio.ch=ALL-UNNAMED
        --add-opens=java.base/java.nio=ALL-UNNAMED
        --add-opens=java.base/java.lang=ALL-UNNAMED
        --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED
        -XX:-UseBiasedLocking
        -XX:+UseG1GC
      other: {}
      properties:
        config.properties: |
          coordinator=false
          http-server.http.port=8080
          discovery.uri=http://coordinator:8080
        log.properties: |
          # Enable verbose logging from Starburst Enterprise
          #io.trino=DEBUG
          #com.starburstdata.presto=DEBUG
        node.properties: |
        {% raw %}
          node.environment={{ include "starburst.environment" . }}
        {% endraw %}
          node.data-dir=/data/starburst
          plugin.dir=/usr/lib/starburst/plugin
          node.server-log-file=/var/log/starburst/server.log
          node.launcher-log-file=/var/log/starburst/launcher.log
    deploymentTerminationGracePeriodSeconds: 300
    resources:
      cpu: 3
      memory: 12Gi
    heapSizePercentage: 90
    affinity: {}
    starburstWorkerShutdownGracePeriodSeconds: 120
    securityContext: {}
    sidecars: []
    envFrom: []
    autoscaling:
      enabled: false
      maxReplicas: 100
      minReplicas: 1
      targetCPUUtilizationPercentage: 80
    additionalProperties: ''
    replicas: 2
    tolerations: []
    nodeMemoryHeadroom: 2Gi
    kedaScaler:
      enabled: false
      image:
        pullPolicy: IfNotPresent
        repository: registry.connect.redhat.com/starburst/keda-trino-scaler
        tag: 0.1.5
      port: 8021
      scaledObjectSpec:
        advanced: {}
        cooldownPeriod: 300
        idleReplicaCount: 0
        maxReplicaCount: 100
        minReplicaCount: 1
        pollingInterval: 30
        scaleTargetRef:
          name: worker
        triggers:
          - metadata:
              numberOfQueriesPerWorker: '10'
              scaleInToIdleReplicaCountIfNoQueuedQueriesLeft: 'true'
              scaleMethod: query_queue
            type: external
    deploymentAnnotations: {}
    podAnnotations: {}
  registryCredentials:
    enabled: false