---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/starburst-enterprise-helm-operator-rhmp.starburst: ''
  name: {{ ocp4_workload_starburst_sub_metadata_name }}
  namespace: {{ ocp4_workload_starburst_namespace }}
spec:
  channel: {{ ocp4_workload_starburst_sub_spec_channel }}
  installPlanApproval: {{ ocp4_workload_starburst_sub_spec_installplan }}
  name: {{ocp4_workload_starburst_sub_metadata_name }}
  source: {{ ocp4_workload_starburst_sub_spec_source }}
  sourceNamespace: {{ ocp4_workload_starburst_sub_spec_source_namespace }}
