apiVersion: charts.starburstdata.com/v1alpha1
kind: StarburstHive
metadata:
  name: starbursthive-sample
  namespace: {{ ocp4_workload_starburst_namespace }}
spec:
  additionalVolumes: []
  affinity: {}
  commonLabels: {}
  database:
    internal:
      databaseName: hive
      databasePassword: HivePass1234
      databaseUser: hive
      driver: org.postgresql.Driver
      env: []
      envFrom: []
      image:
        pullPolicy: IfNotPresent
        repository: registry.redhat.io/rhel8/postgresql-10
        tag: '1'
      port: 5432
      resources:
        limits:
          cpu: 2
          memory: 1Gi
        requests:
          cpu: 2
          memory: 1Gi
      volume:
        emptyDir: {}
    type: internal
  deploymentAnnotations: {}
  env: []
  envFrom: []
  expose:
    clusterIp:
      name: hive
      ports:
        http:
          port: 9083
    loadBalancer:
      IP: ''
      annotations: {}
      name: hive
      ports:
        http:
          port: 9083
      sourceRanges: []
    nodePort:
      extraLabels: {}
      name: hive
      ports:
        http:
          nodePort: 30083
          port: 9083
    type: clusterIp
  extraArguments: []
  heapSizePercentage: 85
  image:
    pullPolicy: IfNotPresent
    repository: registry.connect.redhat.com/starburst/hive
    tag: 360.6.1-ubi
  initFile: ''
  nodeSelector: {}
  objectStorage:
    awsS3:
      accessKey: {{ aws_access_key_id }}
      secretKey: {{ aws_secret_access_key }}
      endpoint: s3.{{ aws_region }}.amazonaws.com
      pathStyleAccess: false
      region: {{ aws_region }}
    azure:
      abfs:
        authType: accessKey
  podAnnotations: {}
  registryCredentials:
    enabled: false
    registry: registry.connect.redhat.com
  resources:
    limits:
      cpu: 1
      memory: 1Gi
    requests:
      cpu: 1
      memory: 1Gi
  securityContext: {}
  starburst-charts-common:
    global: {}
  tolerations: []
