apiVersion: v1
kind: Secret
metadata:
  name: starburstdata
  namespace: {{ ocp4_workload_starburst_namespace }}
stringData:
  starburstdata.license: |-
    {{ starburst_license | replace("'", '"') }}
type: Opaque