apiVersion: v1
kind: LimitRange
metadata:
  name: "limits-{{ guid }}"
  namespace: "{{ ocp4_workload_quarkus_experienced_elt_project }}"
spec:
  limits: {{ ocp4_workload_quarkus_experienced_elt_limits | to_json }}
