apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ ocp4_workload_quarkus_experienced_elt_project }}"
  namespace: "{{ ocp4_workload_quarkus_experienced_elt_project }}"
spec:
  targetNamespaces:
  - "{{ ocp4_workload_quarkus_experienced_elt_project }}"
