apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  namespace: openshift-storage
  name: ocs-storagecluster
spec:
  manageNodes: false
  storageDeviceSets:
  - name: ocs-deviceset-{{ ocp4_workload_openshift_container_storage_ocs_ceph_storage_class_name }}
    count: 1
    replica: 3
    resources: {}
    placement: {}
    dataPVCTemplate:
      spec:
        storageClassName: {{ ocp4_workload_openshift_container_storage_ocs_ceph_storage_class_name }}
        accessModes:
        - ReadWriteOnce
        volumeMode: Block
        resources:
          requests:
            storage: 512Gi
    portable: true
