
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: storagesystems.odf.openshift.io
spec:
  group: odf.openshift.io
  names:
    kind: StorageSystem
    listKind: StorageSystemList
    plural: storagesystems
    shortNames:
    - storsys
    singular: storagesystem
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.kind
      name: storage-system-kind
      type: string
    - jsonPath: .spec.name
      name: storage-system-name
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: StorageSystem is the Schema for the storagesystems API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: StorageSystemSpec defines the desired state of StorageSystem
            properties:
              kind:
                default: storagecluster.ocs.openshift.io/v1
                description: Kind describes the kind of storage vendor
                enum:
                - flashsystemcluster.odf.ibm.com/v1alpha1
                - storagecluster.ocs.openshift.io/v1
                type: string
              name:
                description: Name describes the name of managed storage vendor CR
                type: string
              namespace:
                description: Namespace describes the namespace of managed storage
                  vendor CR
                type: string
            required:
            - name
            - namespace
            type: object
          status:
            description: StorageSystemStatus defines the observed state of StorageSystem
            properties:
              conditions:
                description: Conditions describes the state of the StorageSystem resource.
                items:
                  description: Condition represents the state of the operator's reconciliation
                    functionality.
                  properties:
                    lastHeartbeatTime:
                      format: date-time
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      type: string
                    reason:
                      type: string
                    status:
                      type: string
                    type:
                      description: ConditionType is the state of the operator's reconciliation
                        functionality.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
