{% for user_number in range(1, ocp4_workload_trilio_backup_restore_vms_user_count | int + 1) %}
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: vmimported-edit-{{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ user_number }}
  namespace: vmimported-{{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ user_number }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ user_number }}
{% endfor %}
