{% for user_number in range(1, ocp4_workload_trilio_backup_restore_vms_user_count | int + 1) %}
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: triliovault-list-secrets-{{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ user_number }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: triliovault-list-secrets
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ user_number }}
{% endfor %}
