apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
    app.openshift.io/runtime: quarkus
spec:
  replicas: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
      app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
        app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
    spec:
      serviceAccountName: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
      containers:
        - name: {{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_name }}
          image: "{{ ocp4_workload_ama_demo_app_services_activity_tracking_simulator_image }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: ACTIVITY_TRACKING_SERVICE_HOST
              value: {{ ocp4_workload_ama_demo_app_services_activity_tracking_service_name }}.{{ ocp4_workload_ama_demo_app_services_namespace }}.svc:8080
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 3
