apiVersion: operators.coreos.com/v1
kind: CatalogSourceConfig
metadata:
  name: installed-kubefed
  namespace: openshift-marketplace
spec:
  targetNamespace: "{{ _kubefed_project }}"
  packages: kubefed