apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "{{ install_operator_name }}"
  namespace: "{{ install_operator_namespace }}"
spec:
  channel: "{{ __install_operator_channel }}"
{% if install_operator_automatic_install_plan_approval | default(true) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: "{{ install_operator_packagemanifest_name }}"
{% if install_operator_catalogsource_setup | default(false) | bool %}
  source: "{{ install_operator_catalogsource_name }}"
  sourceNamespace: "{{ install_operator_catalogsource_namespace }}"
{% else %}
  source: "{{ install_operator_catalog }}"
  sourceNamespace: openshift-marketplace
{% endif %}
{% if install_operator_starting_csv | default("") | length > 0 %}
  startingCSV: "{{ install_operator_starting_csv }}"
{% endif %}
{% if install_operator_subscription_config | default("") | length > 0 %}
  config: {{ install_operator_subscription_config | to_json }}
{% endif %}
