apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: {{ ocp4_workload_app_connectivity_workshop_gitops_infra_project }}
  namespace: {{ ocp4_workload_app_connectivity_workshop_argocd_namespace }}
spec:
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  destinations:
    - name: {{ ocp4_workload_app_connectivity_workshop_argocd_local_cluster }}
      namespace: '*'
      server: '*'
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  sourceRepos:
    - '*'