kind: Secret
apiVersion: v1
metadata:
  name: cluster-{{ ocp4_workload_app_connectivity_workshop_argocd_local_cluster }}
  namespace: {{ ocp4_workload_app_connectivity_workshop_argocd_namespace }}
  labels:
    argocd.argoproj.io/secret-type: cluster
type: Opaque
stringData:
  name: {{ ocp4_workload_app_connectivity_workshop_argocd_local_cluster }}
  server: {{ r_openshift_api_server }}
  config: |
    {
      "bearerToken": "{{ r_argocd_manager_token }}",
      "tlsClientConfig": {
        "insecure": false,
        "caData": "{{ r_argocd_manager_certificate }}"
      }
    }    

