---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_application_name }}
  namespace: {{ ocp4_workload_app_connectivity_workshop_argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_application_namespace }}
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
  source:
    repoURL: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_gitops_repo }}
    targetRevision: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_gitops_repo_tag }}
    path: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_gitops_repo_path }}
    helm:
      values: |
        nameOverride: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_name }}
        gateway:
          listeners:
            api:
              hostName: "*.{{ ocp4_workload_app_connectivity_workshop_sub_domain_name }}.{{ ocp4_workload_app_connectivity_workshop_main_domain }}"
          geoCode: {{ ocp4_workload_app_connectivity_workshop_gateway_geo_code }}
        dns:
          routingStrategy: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_routing_strategy }}
          loadBalancing:
            geo: 
              defaultGeo: US
            weighted:
              defaultWeight: 120
        tlsIssuer:
          email: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_tls_issuer_email }}
          privateKeySecretRef: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_tls_issuer_private_key_secret }}
          server: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_tls_issuer_server }}
          solvers:
            route53:
              hostedZoneID: {{ ocp4_workload_app_connectivity_workshop_aws_managed_zone_id }}
              region: {{ ocp4_workload_app_connectivity_workshop_aws_managed_zone_region }}
              accessKeyIDSecretRef:
                name: aws-credentials
              secretAccessKeySecretRef:
                name: aws-credentials
        awsZone:
          id: {{ ocp4_workload_app_connectivity_workshop_aws_managed_zone_id }}
          domainName: {{ ocp4_workload_app_connectivity_workshop_sub_domain_name }}.{{ ocp4_workload_app_connectivity_workshop_main_domain }}
          description: "kuadrant managed zone"
        aws:
          accesskey: {{ ocp4_workload_app_connectivity_workshop_aws_access_key }}
          secretAccessKey: {{ ocp4_workload_app_connectivity_workshop_aws_secret_access_key }}
        registry:
          username: "{{ rh_registry_username }}"
          password: "{{ rh_registry_password }}"