---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kiali-system
  namespace: {{ ocp4_workload_app_connectivity_workshop_argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: kiali-system
  project: {{ ocp4_workload_app_connectivity_workshop_gitops_infra_project }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=true
  source:
    repoURL: {{ ocp4_workload_app_connectivity_workshop_gitops_repo }}
    targetRevision: {{ ocp4_workload_app_connectivity_workshop_gitops_repo_tag }}
    path: {{ ocp4_workload_app_connectivity_workshop_kiali_gitops_repo_path }}
    helm:
      values: |
        httpRoute:
          gateway:
            name: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_name }}
            namespace: {{ ocp4_workload_app_connectivity_workshop_ingress_gateway_application_namespace }}
          hostName: {{ ocp4_workload_app_connectivity_workshop_echo_api_http_route_host }}.{{ ocp4_workload_app_connectivity_workshop_sub_domain_name }}.{{ ocp4_workload_app_connectivity_workshop_main_domain }}
