---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opentelemetrycollector
  namespace: {{ ocp4_workload_app_connectivity_workshop_argocd_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: opentelemetrycollector
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ApplyOutOfSyncOnly=true
      - CreateNamespace=false
  source:
    repoURL: {{ ocp4_workload_app_connectivity_workshop_gitops_repo }}
    targetRevision: {{ ocp4_workload_app_connectivity_workshop_gitops_repo_tag }}
    path: {{ ocp4_workload_app_connectivity_workshop_opentelemetry_gitops_repo_path }}
    helm:
      values: |
