apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: github-push
  namespace: "{{ ocp_workload_aiedge_computing_blueprint.pipeline_namespace }}"
spec:
  params:
  - default: user
    name: GITHUB_USERNAME_CONFIGMAPKEY
    type: string
  - default: token
    name: GITHUB_TOKEN_CONFIGMAPKEY
    type: string
  - default: dev
    description: subdirectory inside the "gitrepos" workspace to clone the git repo
      into
    name: subdirectory
    type: string
  - default: ""
    description: additional flags for git push
    name: PUSH_FLAGS
    type: string
  steps:
  - image: gcr.io/tekton-releases/github.com/tektoncd/pipeline/cmd/git-init:v0.11.0
    name: push
    resources: {}
    script: |
      echo "https://$(cat $(workspaces.github-secret.path)/$(params.GITHUB_USERNAME_CONFIGMAPKEY)):$(cat $(workspaces.github-secret.path)/$(params.GITHUB_TOKEN_CONFIGMAPKEY))@{{ gitea_server_host }}" > ~/.git-credentials
      git config --global credential.helper store 'store --file ~/.git-credentials'
      git branch -r | grep -q origin/$(git rev-parse --abbrev-ref HEAD) && git pull --ff-only --no-edit
      git push $(params.PUSH_FLAGS)
    workingDir: $(workspaces.gitrepos.path)/$(params.subdirectory)
  workspaces:
  - description: The git repo will be cloned onto the volume backing this workspace
    name: gitrepos
  - name: github-secret
