apiVersion: v1
data:
  password: {{ ocp4_workload_big_demo_gitea_user_password }}
  username: {{ ocp4_workload_big_demo_gitea_user }}
kind: Secret
metadata:
  name: gitea-secret
  namespace: retail-rhods-project
  annotations:
    tekton.dev/git-0: {{ _ocp4_workload_big_demo_gitea_repo_route_url }}/lab-user
type: kubernetes.io/basic-auth
