apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: object-detection-rest
    app.kubernetes.io/component: object-detection-rest
    app.kubernetes.io/instance: object-detection-rest
  name: object-detection-rest
  namespace: "{{ rhods_username }}-rhods-project"
spec:
  lookupPolicy:
    local: false
