---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ _ocp4_workload_mad_roadshow_guides_name }}
  name: {{ _ocp4_workload_mad_roadshow_guides_name }}
  namespace: {{ ocp4_workload_mad_roadshow_guides_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: {{ _ocp4_workload_mad_roadshow_guides_name }}
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
  template:
    metadata:
      labels:
        deployment: {{ _ocp4_workload_mad_roadshow_guides_name }}
    spec:
      containers:
      - name: {{ _ocp4_workload_mad_roadshow_guides_name }}
        image: image-registry.openshift-image-registry.svc:5000/{{ ocp4_workload_mad_roadshow_guides_namespace }}/{{ _ocp4_workload_mad_roadshow_guides_name }}:latest
        imagePullPolicy: IfNotPresent
        resources: {}
