---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ ocp4_workload_mad_roadshow_guides_namespace }}"
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ ocp4_workload_mad_roadshow_guides_namespace_display }}"
