---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: {{ _ocp4_workload_mad_roadshow_guides_name }}
  namespace: {{ ocp4_workload_mad_roadshow_guides_namespace }}
  labels:
    app: {{ _ocp4_workload_mad_roadshow_guides_name }}
spec:
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  to:
    kind: Service
    name: {{ _ocp4_workload_mad_roadshow_guides_name }}
    weight: 100
  wildcardPolicy: None
