#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
cd ~/apache-basic-playbook/roles
echo ansible-galaxy init apache-simple
ansible-galaxy init apache-simple
