apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: acm-kafka-common-{{ _environment }}
  namespace: kafka
spec:
  clusterSelector:
    matchLabels:
      name: "{{ _cluster }}"