---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ oadp_namespace }}
  name: cloud-credentials
type: Opaque
data:
  aws-access-key-id: {{ noobaa_s3_access_key_id|b64encode }}
  aws-secret-access-key: {{ noobaa_s3_secret_access_key|b64encode }}