apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: example-dpa
  namespace: openshift-adp
spec:
  configuration:
    velero:
      featureFlags:
        - EnableCSI
      defaultPlugins:
      - openshift
      - aws
      - csi
    restic:
      enable: true
  backupLocations:
    - velero:
        default: true
        provider: aws
        backupSyncPeriod: 2m0s
        credential:
            name: cloud-credentials
            key: cloud
        objectStorage:
            bucket: {{ ocs_bucketname }}
            prefix: velero
        config:
            profile: default
            region: {{ aws_region }}
            s3ForcePathStyle: "true"
            s3Url: {{ noobaa_s3_url }}
  snapshotLocations:
  - velero:  
      provider: aws
      config:
        region: {{ aws_region }}
        profile: "default"
