apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: oadp-operator
  namespace: {{ oadp_namespace }}
spec:
  channel: {{ oadp_operator_subscription_channel }}
  installPlanApproval: {{ oadp_operator_subscription_installplanapproval }}
  name: {{ oadp_operator_subscription_name }}
  source: {{ oadp_operator_subscription_source }}
  sourceNamespace: {{ oadp_operator_subscription_sourcenamespace }}
  startingCSV: {{ oadp_operator_subscription_startingcsv }}