apiVersion: apps/v1
kind: Deployment
metadata:
  name: component-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: component-operator
  template:
    metadata:
      labels:
        name: component-operator
    spec:
      serviceAccountName: component-operator
      containers:
        - name: component-operator
          image: quay.io/snowdrop/component-operator:{{ component_operator_docker_image_version }}
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - component-operator
          args:
            - --zap-encoder
            - $(ZAP_ENCODER)
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: {{ component_operator_watch_namespace }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: {{ component_operator_name }}
            - name: ZAP_ENCODER
              value: {{ component_operator_zap_encoder }}
