apiVersion: apps/v1
kind: Deployment
metadata:
  name: halkyon-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: halkyon-operator
  template:
    metadata:
      labels:
        name: halkyon-operator
    spec:
      serviceAccountName: halkyon-operator
      containers:
        - name: halkyon-operator
          image: quay.io/halkyonio/operator:{{ halkyon_operator_docker_image_version }}
          ports:
          - containerPort: 60000
            name: metrics
          command:
          - halkyon-operator
          args:
            - --zap-encoder
            - $(ZAP_ENCODER)
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              value: {{ halkyon_operator_watch_namespace }}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: {{ halkyon_operator_name }}
            - name: ZAP_ENCODER
              value: {{ halkyon_operator_zap_encoder }}
