kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ registry.service_name}}-pvc
  namespace: {{ registry.namespace }}
  labels:
    kubernetes.io/cluster-service: "true"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
