---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_dc }}
  annotations:
    template.alpha.openshift.io/wait-for-ready: "true"
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    deploymentConfig: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_dc }}
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        deploymentConfig: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_dc }}
      name: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_dc }}
    spec:
      containers:
        - env:
            - name: JAVA_MAX_MEM_RATIO
              value: '60'
            - name: JAVA_INITIAL_MEM_RATIO
              value: '0'
            - name: GC_MAX_METASPACE_SIZE
              value: '500'
            - name: KIE_ADMIN_USER
              value: adminUser
            - name: KIE_ADMIN_PWD
              value: admin1!
            - name: KIE_MBEANS
              value: enabled
            - name: KIE_SERVER_CONTROLLER_OPENSHIFT_ENABLED
              value: 'false'
            - name: KIE_WORKBENCH_CONTROLLER_OPENSHIFT_ENABLED
              value: 'false'  
            - name: KIE_SERVER_CONTROLLER_OPENSHIFT_GLOBAL_DISCOVERY_ENABLED
              value: 'false'            
            - name: KIE_SERVER_CONTROLLER_OPENSHIFT_PREFER_KIESERVER_SERVICE
              value: 'true'
            - name: KIE_SERVER_CONTROLLER_TEMPLATE_CACHE_TTL
              value: '60000'
            - name: WORKBENCH_ROUTE_NAME
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_route }}
            - name: KIE_SERVER_CONTROLLER_USER
              value: controllerUser
            - name: KIE_SERVER_CONTROLLER_PWD
              value: controller1!
            - name: KIE_MAVEN_USER
              value: adminUser
            - name: KIE_MAVEN_PWD
              value: admin1!
            - name: ADMIN_USERNAME
              value: eapadmin
            - name: ADMIN_PASSWORD
              value: eapadmin1!
            - name: MAVEN_REPOS
              value: EXTERNAL
            - name: EXTERNAL_MAVEN_REPO_HOST
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_nexus_service }}.{{ ocp4_workload_pam_case_mgmt_exp_elt_project_tools }}.svc
            - name: EXTERNAL_MAVEN_REPO_PORT
              value: '8081'
            - name: EXTERNAL_MAVEN_REPO_PATH
              value: content/groups/public/
            - name: JAVA_OPTS_APPEND
              value: '-Dorg.uberfire.nio.git.ssh.algorithm=RSA'
            - name: JGROUPS_PING_PROTOCOL
              value: "openshift.DNS_PING"
            - name: OPENSHIFT_DNS_PING_SERVICE_NAME
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_service_ping }}
            - name: OPENSHIFT_DNS_PING_SERVICE_PORT
              value: "8888" 
          image: 
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /rest/healthy
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 180
            timeoutSeconds: 2
            periodSeconds: 15
          name: rhpam-bc
          ports:
            - containerPort: 8778
              name: jolokia
              protocol: TCP
            - containerPort: 8080
              name: http
              protocol: TCP
            - containerPort: 8443
              name: https
              protocol: TCP
            - containerPort: 8001
              name: git-ssh
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /rest/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 36            
          resources:
            limits:
              cpu: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_limit_cpu }}'
              memory: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_limit_memory }}' 
            requests:
              cpu: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_request_cpu }}'
              memory: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_request_memory }}'
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /opt/kie/data
              name: rhpam-bc-pvol
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_sa }}
      serviceAccountName: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_sa }}
      terminationGracePeriodSeconds: 60
      volumes:
        - name: rhpam-bc-pvol
          persistentVolumeClaim:
            claimName: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_pvc }} 
  test: false
  triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
          - rhpam-bc
        from:
          kind: ImageStreamTag
          name: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_image }}'
      type: ImageChange
    - type: ConfigChange

