---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_dc }}
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    deploymentConfig: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_dc }}
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      timeoutSeconds: 600
    resources: {}
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        deploymentConfig: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_dc }}
      name: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_dc }}
    spec:
      containers:
        - env:
            - name: JAVA_MAX_MEM_RATIO
              value: '60'
            - name: JAVA_INITIAL_MEM_RATIO
              value: '0'
            - name: GC_MAX_METASPACE_SIZE
              value: '500'
            - name: DATASOURCES
              value: RHPAM
            - name: RHPAM_USERNAME
              valueFrom:
                secretKeyRef:
                  key: database-user
                  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_secret }}
            - name: RHPAM_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_secret }}
            - name: RHPAM_DATABASE
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_secret }}
            - name: RHPAM_DRIVER
              value: postgresql
            - name: RHPAM_SERVICE_HOST
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_service }}
            - name: RHPAM_SERVICE_PORT
              value: '5432'
            - name: TIMER_SERVICE_DATA_STORE
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_service }}
            - name: KIE_SERVER_PERSISTENCE_DIALECT
              value: org.hibernate.dialect.PostgreSQLDialect
            - name: DROOLS_SERVER_FILTER_CLASSES
              value: 'True'
            - name: WORKBENCH_SERVICE_NAME
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_service }}
            - name: KIE_ADMIN_USER
              value: adminUser
            - name: KIE_ADMIN_PWD
              value: admin1!
            - name: KIE_MBEANS
              value: enabled
            - name: KIE_SERVER_BYPASS_AUTH_USER
              value: 'False'
            - name: KIE_SERVER_CONTROLLER_USER
              value: controllerUser
            - name: KIE_SERVER_CONTROLLER_PWD
              value: controller1!
            - name: KIE_SERVER_STARTUP_STRATEGY
              value: ControllerBasedStartupStrategy
            - name: KIE_SERVER_CONTROLLER_SERVICE
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_service }}
            - name: KIE_SERVER_CONTROLLER_PROTOCOL
              value: ws
            - name: KIE_SERVER_ID
              value: kieserver-dev
            - name: KIE_SERVER_HOST
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_service }}
            - name: KIE_SERVER_PORT
              value: '8080'
            - name: KIE_SERVER_PROTOCOL
              value: http
            - name: KIE_SERVER_PERSISTENCE_DS
              value: 'java:/jboss/datasources/rhpam'
            - name: MAVEN_REPOS
              value: 'RHPAMCENTR,EXTERNAL'
            - name: RHPAMCENTR_MAVEN_REPO_SERVICE
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_bc_service }}
            - name: RHPAMCENTR_MAVEN_REPO_PATH
              value: /maven2/
            - name: RHPAMCENTR_MAVEN_REPO_USERNAME
              value: adminUser
            - name: RHPAMCENTR_MAVEN_REPO_PASSWORD
              value: admin1!
            - name: EXTERNAL_MAVEN_REPO_HOST
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_nexus_service }}.{{ ocp4_workload_pam_case_mgmt_exp_elt_project_tools }}.svc
            - name: EXTERNAL_MAVEN_REPO_PORT
              value: '8081'
            - name: EXTERNAL_MAVEN_REPO_PATH
              value: content/groups/public/
            - name: JGROUPS_PING_PROTOCOL
              value: "openshift.DNS_PING"
            - name: OPENSHIFT_DNS_PING_SERVICE_NAME
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_service_ping }}
            - name: OPENSHIFT_DNS_PING_SERVICE_PORT
              value: "8888"            
          image:
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /services/rest/server/healthcheck
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 180
            timeoutSeconds: 2
            periodSeconds: 15
            failureThreshold: 3
          name: rhpam-kieserver
          ports:
            - containerPort: 8778
              name: jolokia
              protocol: TCP
            - containerPort: 8080
              name: http
              protocol: TCP
            - containerPort: 8443
              name: https
              protocol: TCP
          readinessProbe:
            httpGet:
              path: /services/rest/server/readycheck
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            timeoutSeconds: 2
            periodSeconds: 5
            failureThreshold: 36
          resources:
            limits:
              cpu: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_limit_cpu }}'
              memory: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_limit_memory }}'
            requests:
              cpu: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_request_cpu }}'
              memory: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_request_memory }}'
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_sa }}
      serviceAccountName: {{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_sa }}
      terminationGracePeriodSeconds: 60
  test: false
  triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
          - rhpam-kieserver
        from:
          kind: ImageStreamTag
          name: '{{ ocp4_workload_pam_case_mgmt_exp_elt_rhpam_ks_image }}'
      type: ImageChange
    - type: ConfigChange
