{% if _userdata is defined %}
- name: Update user data
  agnosticd_user_info:
    data:
      {{ _userdata | to_nice_yaml(indent=2) | indent(6) }}
{% else %}

- name: Debug
  debug:
    msg: _userdata does not exist
{% endif %}

{% if _userinfo is defined %}
- name: Print Access information
  agnosticd_user_info:
    msg: "{% raw %}{{ item }}{% endraw %}"

  with_items:
    {{ _userinfo | indent(4) }}

{% else %}

- name: Debug
  debug:
    msg: "_userinfo does not exist"
{% endif %}
