apiVersion: demos.redhat.com/v1
kind: Demo
metadata:
  labels:
    app.kubernetes.io/created-by: demo-provisioner-operator
    app.kubernetes.io/instance: demo-sample
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: demo
    app.kubernetes.io/part-of: demo-provisioner-operator
  name: demo-getting-started-ocp
  namespace: demo-provisioner-operator-system
spec:
  agnosticD:
    branch: "{{ __meta__.deployer.scm_ref }}"
    repo: 'https://github.com/redhat-cop/agnosticd.git'
  name: Getting started with Openshift on ROSA
  extraVars:
    {{ vars | to_nice_yaml | indent(4) }}