---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: oadp
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_oadp_gitops_num_users | int + 1 ) %}
      - user: {{ ocp4_workload_oadp_gitops_user_base }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ ocp4_workload_oadp_gitops_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ''
        namespace: "{{ ocp4_workload_oadp_gitops_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
      ignoreDifferences:
      - group: '*'
        kind: DataProtectionApplication
        jsonPointers:
        - /spec/backupLocations/0/velero/config/s3Url
        - /spec/backupLocations/0/velero/objectStorage/bucket
      source:
        repoURL: {{ ocp4_workload_oadp_gitops_repo }}
        targetRevision: {{ ocp4_workload_oadp_gitops_repo_tag }}
        path: {{ ocp4_workload_oadp_gitops_repo_path }}
        helm:
          values: |
            fullNameOverride: "{{ ocp4_workload_oadp_gitops_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
            namespacePermissions:
              user: "{% raw %}{{ user }}{% endraw %}"
              role: {{ ocp4_workload_oadp_gitops_role }}
            deployOperator: {{ ocp4_workload_oadp_gitops_deploy_operator }}
            operatorChannel: {{ ocp4_workload_oadp_gitops_channel }}
            useCatalogSnapshot: {{ ocp4_workload_oadp_gitops_use_catalog_snapshot }}
            catalogSource:
              name: {{ ocp4_workload_oadp_gitops_catalogsource_name }}
              namespace: "{{ ocp4_workload_oadp_gitops_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
              image: {{ ocp4_workload_oadp_gitops_catalog_snapshot_image }}
              tag: {{ ocp4_workload_oadp_gitops_catalog_snapshot_image_tag }}
{% if ocp4_workload_oadp_gitops_configure_dpa | bool %}
            dpaInstance:
              deploy: true
{%   if ocp4_workload_oadp_gitops_storage == "minio" %}
              storage: minio
              minio:
                serviceProtocol: http
                serviceName: "{{ ocp4_workload_oadp_gitops_storage_minio_name }}"
                serviceNamespace: "{{ ocp4_workload_oadp_gitops_storage_minio_namespace }}"
                servicePort: 9000
                user: "{{ ocp4_workload_oadp_gitops_storage_minio_user }}"
                password: "{{ ocp4_workload_oadp_gitops_storage_minio_password }}"
                storageBucketName: "{{ ocp4_workload_oadp_gitops_storage_minio_bucket_name_base }}{% raw %}{{ user }}{% endraw %}"
{%   else %}
              storage: odf
{%   endif %}
{% endif %}
