---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: oadp
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: openshift-adp
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_oadp_gitops_repo }}
    targetRevision: {{ ocp4_workload_oadp_gitops_repo_tag }}
    path: {{ ocp4_workload_oadp_gitops_repo_path }}
    helm:
      values: |
        namespacePermissions:
          user: {{ ocp4_workload_oadp_gitops_user }}
          role: {{ ocp4_workload_oadp_gitops_role }}
        deployOperator: {{ ocp4_workload_oadp_gitops_deploy_operator }}
        operatorChannel: {{ ocp4_workload_oadp_gitops_channel }}
        useCatalogSnapshot: {{ ocp4_workload_oadp_gitops_use_catalog_snapshot }}
        catalogSource:
          name: {{ ocp4_workload_oadp_gitops_catalogsource_name }}
          namespace: {{ ocp4_workload_oadp_gitops_namespace_base }}
          image: {{ ocp4_workload_oadp_gitops_catalog_snapshot_image }}
          tag: {{ ocp4_workload_oadp_gitops_catalog_snapshot_image_tag }}
{% if ocp4_workload_oadp_gitops_configure_dpa | bool %}
        dpaInstance:
          deploy: true
{%   if ocp4_workload_oadp_gitops_storage == "minio" %}
          storage: minio
          minio:
            serviceProtocol: http
            serviceName: "{{ ocp4_workload_oadp_gitops_storage_minio_name }}"
            serviceNamespace: "{{ ocp4_workload_oadp_gitops_storage_minio_namespace }}"
            servicePort: 9000
            user: "{{ ocp4_workload_oadp_gitops_storage_minio_user }}"
            password: "{{ ocp4_workload_oadp_gitops_storage_minio_password }}"
            storageBucketName: "{{ ocp4_workload_oadp_gitops_storage_minio_bucket_name }}"
{%   else %}
          storage: ocs
{%   endif %}
{% endif %}
