apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ nvidia_gpu_operator_catalogsource_name }}"
  namespace: openshift-marketplace
spec:
  displayName: "Certified Operators Index {{ nvidia_gpu_operator_catalog_snapshot_image_tag }}"
  image: "{{ nvidia_gpu_operator_catalog_snapshot_image }}:{{ nvidia_gpu_operator_catalog_snapshot_image_tag }}"
  publisher: redhat-cop-agnosticd
  sourceType: grpc
