---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: gpu-operator-certified
  namespace: nvidia-gpu-operator
spec:
  channel: '{{ nvidia_gpu_operator_channel }}'
  installPlanApproval: "{{ ( nvidia_gpu_operator_automatic_install_plan_approval | default(true) | bool ) | ternary( 'Automatic', 'Manual') }}"
  name: gpu-operator-certified
  source: "{{ ( nvidia_gpu_operator_use_catalog_snapshot | default(false) | bool ) | ternary( nvidia_gpu_operator_catalogsource_name, 'certified-operators') }}"
  sourceNamespace: openshift-marketplace
  startingCSV: '{{ nvidia_gpu_operator_starting_csv }}'
