---
ansible-navigator:
  ansible:
    inventory:
      entries:
      - /home/{{ student_name }}/lab_inventory/hosts

  execution-environment:
    image: {{ ansible_bu_setup_workshop_ee_image }}{%if ansible_bu_setup_workshop_ee_image_version  is defined %}:{{ ansible_bu_setup_workshop_ee_image_version }}{%endif%}
    enabled: true
    container-engine: podman
    pull:
      policy: missing
    volume-mounts:
    - src: "/etc/ansible/"
      dest: "/etc/ansible/"