---
apiVersion: batch/v1
kind: Job
metadata:
  name: fix-argocd
  namespace: {{ ocp4_workload_openshift_gitops_fix_argocd_namespace }}
spec:
  backoffLimit: 6
  completionMode: NonIndexed
  completions: 1
  parallelism: 1
  selector:
    matchLabels:
      job-name: fix-argocd
  suspend: false
  template:
    metadata:
      labels:
        job-name: fix-argocd
    spec:
      serviceAccountName: fix-argocd
      containers:
      - image: "{{ ocp4_workload_openshift_gitops_fix_argocd_image }}:{{ ocp4_workload_openshift_gitops_fix_argocd_tag }}"
        imagePullPolicy: IfNotPresent
        name: fix-argocd
        env:
        - name: SETUP_DELAY
          value: "{{ ocp4_workload_openshift_gitops_fix_argocd_delay }}"
        resources: {}
      dnsPolicy: ClusterFirst
      restartPolicy: Never
      terminationGracePeriodSeconds: 30
