---
kind: List
apiVersion: v1
metadata:
  name: bucketrepo-deployment
items:
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: summit-2020-bucketrepo
  spec:
    lookupPolicy:
      local: false
    tags:
      - from:
          kind: DockerImage
          name: quay.io/redhat-consulting-uk/summit-2020-bucketrepo:latest
        name: latest
        referencePolicy:
          type: Local
- apiVersion: v1
  kind: Secret
  metadata:
    name: bucketrepo-config
    annotations:
      config/checksum: 533347b915964ea57056e799479ab96181274ee7cde598452affee274449ad22
  type: Opaque
  stringData:
    config.yaml: |
      http:
        addr: ":8080"

      storage:
        enabled: false
        bucket_url: "gs://bucketrepo"

      cache:
        base_dir: "/tmp/bucketrepo"
- apiVersion: v1
  kind: Service
  metadata:
    name: mavenrepo
    labels:
      chart: "bucketrepo-0.1.19"
  spec:
    type: ClusterIP
    ports:
      - port: 8080
        targetPort: 8080
        protocol: TCP
        name: http
    selector:
      app: bucketrepo
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: mavenrepo
    labels:
      app: maven
      app.kubernetes.io/component: web
      app.kubernetes.io/instance: mavenrepo
      app.kubernetes.io/name: mavenrepo
      app.kubernetes.io/part-of: mavenrepo
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: bucketrepo
    template:
      metadata:
        labels:
          app: bucketrepo
      spec:
        containers:
          - name: bucketrepo
            image: "image-registry.openshift-image-registry.svc:5000/{{ _namespace }}/summit-2020-bucketrepo"
            imagePullPolicy: IfNotPresent
            command: ["/bucketrepo"]
            args:
              - "-config-path=/config"
              - "-log-level=info"
            ports:
              - containerPort: 8080
            livenessProbe:
              httpGet:
                path: /healthz
                port: 8080
              initialDelaySeconds: 60
              periodSeconds: 10
              successThreshold: 1
              timeoutSeconds: 1
            readinessProbe:
              httpGet:
                path: /healthz
                port: 8080
              periodSeconds: 10
              successThreshold: 1
              timeoutSeconds: 1
            volumeMounts:
              - name: config
                mountPath: /config
                readOnly: true
            resources:
              limits:
                cpu: 100m
                memory: 256Mi
              requests:
                cpu: 80m
                memory: 128Mi
        terminationGracePeriodSeconds: 10
        volumes:
          - name: config
            secret:
              secretName: bucketrepo-config
- apiVersion: v1
  kind: ConfigMap
  metadata:
    name: mvn-settings
  data:
    .settings.xml: |
      <settings>
        <mirrors>
          <mirror>
            <id>bucketrepo</id>
            <name>bucketrepo-mirror</name>
            <url>http://mavenrepo:8080/bucketrepo/</url>
            <mirrorOf>*</mirrorOf>
          </mirror>
        </mirrors>
      </settings>