---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ item.0.name }}-aws-creds"
  namespace: "{{ item.0.name }}"
stringData:
  aws_access_key_id: "{{ item.0.aws_access_key_id }}"
  aws_secret_access_key: "{{ item.0.aws_secret_access_key }}"
type: Opaque
