hc_nodes:
  hosts:
    # Host1
    rhvh-{{ guid }}0.saplab.local:

      # Without Dedupe & Compression
      gluster_infra_volume_groups:
        - vgname: vg_vdb1
          pvname: /dev/vdb1

      gluster_infra_mount_devices:
        - path: /gluster_bricks/data
          lvname: gluster_lv_data
          vgname: vg_vdb1

      gluster_infra_thinpools:
        - {vgname: 'vg_vdb1', thinpoolname: 'thinpool_vg_vdb1', thinpoolsize: '1400G', poolmetadatasize: '4G'}

      gluster_infra_lv_logicalvols:
        - vgname: vg_vdb1
          thinpool: thinpool_vg_vdb1
          lvname: gluster_lv_data
          lvsize: 1400G

      # Mount the devices
      gluster_infra_mount_devices:
         - { path: '/gluster_bricks/data', vgname: vg_vdb1, lvname: gluster_lv_data }

    #Host2
    rhvh-{{ guid }}1.saplab.local:

      # Without Dedupe & Compression
      gluster_infra_volume_groups:
        - vgname: vg_vdb1
          pvname: /dev/vdb1

      gluster_infra_mount_devices:
        - path: /gluster_bricks/data
          lvname: gluster_lv_data
          vgname: vg_vdb1

      gluster_infra_thinpools:
        - {vgname: 'vg_vdb1', thinpoolname: 'thinpool_vg_vdb1', thinpoolsize: '1400G', poolmetadatasize: '4G'}

      gluster_infra_lv_logicalvols:
        - vgname: vg_vdb1
          thinpool: thinpool_vg_vdb1
          lvname: gluster_lv_data
          lvsize: 1400G

      # Mount the devices
      gluster_infra_mount_devices:
         - { path: '/gluster_bricks/data', vgname: vg_vdb1, lvname: gluster_lv_data }

    #Host3
    rhvh-{{ guid }}2.saplab.local:

      # Without Dedupe & Compression
      gluster_infra_volume_groups:
        - vgname: vg_vdb1
          pvname: /dev/vdb1

      gluster_infra_mount_devices:
        - path: /gluster_bricks/data
          lvname: gluster_lv_data
          vgname: vg_vdb1

      gluster_infra_thinpools:
        - {vgname: 'vg_vdb1', thinpoolname: 'thinpool_vg_vdb1', thinpoolsize: '1400G', poolmetadatasize: '4G'}

      gluster_infra_lv_logicalvols:
        - vgname: vg_vdb1
          thinpool: thinpool_vg_vdb1
          lvname: gluster_lv_data
          lvsize: 1400G

      # Mount the devices
      gluster_infra_mount_devices:
         - { path: '/gluster_bricks/data', vgname: vg_vdb1, lvname: gluster_lv_data }

  # Common configurations
  vars:
    cluster_nodes:
       - rhvh-{{ guid }}0.saplab.local
       - rhvh-{{ guid }}1.saplab.local
       - rhvh-{{ guid }}2.saplab.local
    {% raw %}
    gluster_features_hci_cluster: "{{ cluster_nodes }}"
    {% endraw %}
    # Set up GlusterFS hyperconverged interface
    gluster_features_hci_volumes:
       - { volname: 'data', brick: '/gluster_bricks/data/data' }
    # Firewall setup
    gluster_infra_fw_ports:
       - 2049/tcp
       - 54321/tcp
       - 5900-6923/tcp
       - 16514/tcp
    gluster_infra_fw_permanent: true
    gluster_infra_fw_state: enabled
    gluster_infra_fw_zone: public
    gluster_infra_fw_services:
       - glusterfs
    gluster_infra_disktype: RAID6
    gluster_infra_diskcount: 12
    gluster_infra_stripe_unit_size: 128
    ansible_ssh_extra_args: '-o StrictHostKeyChecking=no'
    gluster_features_force_varlogsizecheck: false

## Auto add hosts vars

gluster:
 hosts:
  rhvh-{{ guid }}1.saplab.local:
  rhvh-{{ guid }}2.saplab.local:
 vars:
  storage_domains: [{"name":"data","host":"rhvh-{{ guid }}0.saplab.local","address":"rhvh-{{ guid }}0.saplab.local","path":"/data","mount_options":"backup-volfile-servers=rhvh-{{ guid }}1.saplab.local:rhvh-{{ guid }}2.saplab.local"}]