apiVersion: maistra.io/v2
kind: ServiceMeshControlPlane
metadata:
  name: smcp-basic
  namespace: "{{ ocp4_workload_lpe_servicemesh_smcp_namespace }}"
spec:
  version: v2.1
  tracing:
    type: Jaeger
    sampling: 10000
  addons:
    jaeger:
      name: jaeger
      install:
        storage:
          type: Memory
    kiali:
      enabled: true
      name: kiali
    grafana:
      enabled: true
