# Cluster role to enable other projects to access and copy the DAP config map
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: dap-cm-access-role
rules:
- apiGroups: 
  - ""
  resources:
  - "configmaps"
  resourceNames:
  - "dap-config"
  verbs:
  - "get"
  - "list"