# Grant the authentication service account access to pods in CyberArk namespace
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: dap-authn-service
  namespace: {{ ocp4_workload_cyberark_project }}
subjects:
- kind: ServiceAccount
  name: dap-authn-service
  namespace: {{ ocp4_workload_cyberark_project }}
roleRef:
  kind: ClusterRole
  name: dap-authn-role
  apiGroup: rbac.authorization.k8s.io