---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ ocp4_workload_create_rwx_volume_pv_name }}
  namespace: default
spec:
  capacity:
    storage: {{ ocp4_workload_create_rwx_volume_pv_storage }}
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  claimRef:
    namespace: default
    name: {{ ocp4_workload_create_rwx_volume_pvc_name }}
  mountOptions:
    - allow-delete
    - region {{ ocp4_workload_create_rwx_volume_region }}
  csi:
    driver: s3.csi.aws.com
    volumeHandle: s3-csi-{{ guid }}-handle
    volumeAttributes:
      bucketName: {{ ocp4_workload_create_rwx_volume_s3_bucket_name }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ ocp4_workload_create_rwx_volume_pvc_name }}
  namespace: default
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  resources:
    requests:
      storage: {{ ocp4_workload_create_rwx_volume_pv_storage }}
  volumeName: {{ ocp4_workload_create_rwx_volume_pv_name }}
