AUTHENTICATION_TYPE: Database
BITTORRENT_FILENAME_PEPPER: {{ bittorrent_filename_pepper }}
BUILDLOGS_REDIS: {host: {{ redis_host }}, port: 6379}
DB_URI: {{ quay_db_uri }}
DEFAULT_TAG_EXPIRATION: 2w
DISTRIBUTED_STORAGE_CONFIG:
  default:
  - LocalStorage
  - {storage_path: {{ quay_container_storage_dir }}/registry}
DISTRIBUTED_STORAGE_DEFAULT_LOCATIONS: []
DISTRIBUTED_STORAGE_PREFERENCE: [default]
ENTERPRISE_LOGO_URL: /static/img/quay-logo.png
FEATURE_ACI_CONVERSION: false
FEATURE_ANONYMOUS_ACCESS: true
FEATURE_APP_REGISTRY: false
FEATURE_APP_SPECIFIC_TOKENS: true
FEATURE_BUILD_SUPPORT: {{ (quay_builder_enable is defined and quay_builder_enable|bool) | ternary('true','false') }}
FEATURE_CHANGE_TAG_EXPIRATION: true
FEATURE_DIRECT_LOGIN: true
FEATURE_MAILING: false
FEATURE_PARTIAL_USER_AUTOCOMPLETE: true
FEATURE_REQUIRE_TEAM_INVITE: true
FEATURE_SECURITY_NOTIFICATIONS: true
FEATURE_SECURITY_SCANNER: {{ (quay_setup_complete is defined and quay_setup_complete|bool and quay_clair_enable is defined and quay_clair_enable|bool) |  ternary('true','false') }}
FEATURE_USER_CREATION: true
FEATURE_USER_LOG_ACCESS: true
GITHUB_LOGIN_CONFIG: {}
GITHUB_TRIGGER_CONFIG: {}
GITLAB_TRIGGER_KIND: {}
GPG2_PRIVATE_KEY_FILENAME: signing-private.gpg
GPG2_PUBLIC_KEY_FILENAME: signing-public.gpg
MAIL_DEFAULT_SENDER: support@quay.io
MAIL_PORT: 587
MAIL_USE_TLS: true
PREFERRED_URL_SCHEME: {{ (quay_ssl_enable is defined and quay_ssl_enable|bool) | ternary('https','http') }}
SECRET_KEY: '{{ lookup('password', '/dev/null length=78 chars=digits') }}'
{% if (quay_setup_complete is defined and quay_setup_complete|bool and quay_clair_enable is defined and quay_clair_enable|bool and quay_clair_endpoint is defined and quay_clair_endpoint|trim != "") %}
SECURITY_SCANNER_ENDPOINT: {{ quay_clair_endpoint }}
{% endif %}
SECURITY_SCANNER_ISSUER_NAME: security_scanner
SERVER_HOSTNAME: {{ quay_server_hostname | default(inventory_hostname, true) }}
{% if quay_setup_complete is defined and quay_setup_complete|bool %}
SETUP_COMPLETE: true
SUPER_USERS: [{{ quay_superuser_username }}]
{% endif %}
SIGNING_ENGINE: gpg2
TAG_EXPIRATION_OPTIONS: [0s, 1d, 1w, 2w, 4w]
TEAM_RESYNC_STALE_TIME: 60m
TESTING: false
USERFILES_LOCATION: default
USERFILES_PATH: userfiles/
USER_EVENTS_REDIS: {host: {{ redis_host }}, port: 6379}
USE_CDN: false