[Unit]
Description=Quay Enterprise Docker Container
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile={{ systemd_environmentfile_dir }}/{{ quay_name }}
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull ${QUAY_IMAGE}
ExecStart=/usr/bin/docker run --rm --name %n -p ${QUAY_HOST_HTTP_PORT}:${QUAY_CONTAINER_HTTP_PORT} -p ${QUAY_HOST_HTTPS_PORT}:${QUAY_CONTAINER_HTTPS_PORT} -v ${QUAY_HOST_CONFIG_DIR}:${QUAY_CONTAINER_CONFIG_DIR}:Z -v ${QUAY_HOST_STORAGE_DIR}:${QUAY_CONTAINER_STORAGE_DIR}{% if quay_storage_selinux_relabel is defined and quay_storage_selinux_relabel|bool %}:Z{% endif %} ${QUAY_IMAGE}
ExecStop=/usr/bin/docker stop %n
ExecReload=/usr/bin/docker restart %n

[Install]
WantedBy=multi-user.target