{ "workstation_username": "{{ workstation_user }}", "workstation_password": "{{ workstation_password }}", "workstation_hostname": "workstation.{{ guid }}{{subdomain_base_suffix}}", "classroom_identifier": "{{ guid }}", "classroom_type": "{{ env_type }}", "classroom_region": "{{ aws_region }}", "status": "{{ classroom_status | d('unknown') }}" }
