apiVersion: operators.coreos.com/v1
kind: CatalogSourceConfig
metadata:
  name: installed-community-che
  namespace: openshift-marketplace
spec:
  csDisplayName: Community Operators
  csPublisher: Community
  packages: eclipse-che
  targetNamespace: {{ che_project }}
  source: community-operators
