apiVersion: v1
data:
  customServerConfig.json: |
    {
      "services": [
        { "name": "3scale Developer Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}.{{ route_subdomain }}" },
        { "name": "3scale Admin Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}-admin.{{ route_subdomain }}" },
        { "name": "Gogs", "url": "http://gogs.{{ route_subdomain }}" },
        { "name": "Microcks", "url": "http://microcks.{{ route_subdomain }}" },
        { "name": "Apicurio", "url": "http://apicurio-studio.{{ route_subdomain }}" }
      ]
    }
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
  namespace: {{ webapp_namespace }}