---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: mobile-app
  name: mobile-app
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: mobile-app:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    contextDir: services/mobile-app
    git:
      uri: https://github.com/RedHat-Middleware-Workshops/rhtr-2020-api-mgmt-kafka-workshop
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: BUILD_OUTPUT_DIR
        value: build
      from:
        kind: ImageStreamTag
        name: s2i-nodejs-nginx:latest
    type: Source
  successfulBuildsHistoryLimit: 5
  triggers:
  - github:
      secret: B-0fIj5zdGiG823tIF9d
    type: GitHub
  - generic:
      secret: jCHoF5sy2e1vE-Y36tif
    type: Generic
  - type: ConfigChange
  - imageChange:
      lastTriggeredImageID: quay.io/evanshortiss/s2i-nodejs-nginx@sha256:3022afab7cbb753148fc2d3f4ef271eb267356b42c9f674f64273047f121c4a7
    type: ImageChange

---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  labels:
    app: mobile-app
    app.openshift.io/runtime: nginx
  name: mobile-app
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    app: mobile-app
    deploymentconfig: mobile-app
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: mobile-app
        deploymentconfig: mobile-app
    spec:
      containers:
      - image: mobile-app:latest
        imagePullPolicy: Always
        name: mobile-app
        ports:
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
  - type: ConfigChange
  - imageChangeParams:
      automatic: true
      containerNames:
      - mobile-app
      from:
        kind: ImageStreamTag
        name: mobile-app:latest
    type: ImageChange

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: mobile-app
  name: mobile-app
spec:
  lookupPolicy:
    local: false

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: mobile-app
  name: s2i-nodejs-nginx
spec:
  lookupPolicy:
    local: false
  tags:
  - annotations:
      openshift.io/imported-from: quay.io/evanshortiss/s2i-nodejs-nginx
    from:
      kind: DockerImage
      name: quay.io/evanshortiss/s2i-nodejs-nginx
    importPolicy: {}
    name: latest
    referencePolicy:
      type: Source

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: mobile-app
  name: mobile-app
spec:
  port:
    targetPort: 8080-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: mobile-app
    weight: 100
  wildcardPolicy: None

---
apiVersion: v1
kind: Service
metadata:
  name: mobile-app
  labels:
    app: mobile-app
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: 8443-tcp
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app: mobile-app
    deploymentconfig: mobile-app
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

---
kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
  name: iot-psql
  labels:
    app: iot-psql
    app.openshift.io/runtime: postgresql
    app.kubernetes.io/component: iot-psql
    app.kubernetes.io/instance: iot-psql
spec:
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
    activeDeadlineSeconds: 21600
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
          - iot-psql
        from:
          kind: ImageStreamTag
          name: 'iot-psql:latest'
    - type: ConfigChange
  replicas: 1
  revisionHistoryLimit: 10
  test: false
  selector:
    app: iot-psql
    deploymentconfig: iot-psql
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: iot-psql
        deploymentconfig: iot-psql
      annotations:
        openshift.io/generated-by: OpenShiftWebConsole
    spec:
      volumes:
        - name: postgresql-data
          persistentVolumeClaim:
            claimName: iot-psql-data
      containers:
        - resources: {}
          terminationMessagePath: /dev/termination-log
          name: iot-psql
          env:
            - name: PGDATA
              value: /data/data
          ports:
            - containerPort: 5432
              protocol: TCP
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: postgresql-data
              mountPath: /data
          terminationMessagePolicy: File
          image: >-
            quay.io/evanshortiss/rhtr-2020-pgsql@sha256:3c305345f9baea89880cec0f6e7ab12d8640d6946a05fc84e45809c988272a90
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: iot-psql
    app.kubernetes.io/component: iot-psql
    app.kubernetes.io/instance: iot-psql
  name: iot-psql
spec:
  lookupPolicy:
    local: false
  tags:
  - annotations:
      openshift.io/generated-by: OpenShiftWebConsole
      openshift.io/imported-from: quay.io/evanshortiss/rhtr-2020-pgsql
    from:
      kind: DockerImage
      name: quay.io/evanshortiss/rhtr-2020-pgsql
    importPolicy: {}
    name: latest
    referencePolicy:
      type: Source
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: iot-psql-data
  finalizers:
    - kubernetes.io/pvc-protection
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeMode: Filesystem

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
  labels:
    app: iot-psql
    app.kubernetes.io/component: iot-psql
    app.kubernetes.io/instance: iot-psql
    app.openshift.io/runtime-version: latest
  name: iot-psql
spec:
  ports:
  - name: 5432-tcp
    port: 5432
    protocol: TCP
    targetPort: 5432
  selector:
    app: iot-psql
    deploymentconfig: iot-psql
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: sensor-management-ui
    app.kubernetes.io/component: sensor-management-ui
    app.kubernetes.io/instance: sensor-management-ui
  name: sensor-management-ui
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: sensor-management-ui:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    contextDir: services/sensor-management-ui
    git:
      uri: https://github.com/RedHat-Middleware-Workshops/rhtr-2020-api-mgmt-kafka-workshop
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: s2i-nodejs-nginx:latest
    type: Source
  successfulBuildsHistoryLimit: 5
  triggers:
  - github:
      secret: MqkP-Uho_Vp8mJVTXoNk
    type: GitHub
  - generic:
      secret: MCTAhhVC2XYilFtMu9ts
    type: Generic
  - type: ConfigChange
  - imageChange:
      lastTriggeredImageID: quay.io/evanshortiss/s2i-nodejs-nginx@sha256:3046843d4fed6a84dcbb3f5a8d8009afa4d1102392257dc1dfe53ea51a171281
    type: ImageChange

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
    image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"sensor-management-ui:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"sensor-management-ui\")].image"}]'
  labels:
    app: sensor-management-ui
    app.openshift.io/runtime: nginx
    app.kubernetes.io/component: sensor-management-ui
    app.kubernetes.io/instance: sensor-management-ui
  name: sensor-management-ui
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      deployment: sensor-management-ui
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        openshift.io/generated-by: OpenShiftNewApp
      creationTimestamp: null
      labels:
        deployment: sensor-management-ui
    spec:
      containers:
      - image: sensor-management-ui:latest
        imagePullPolicy: IfNotPresent
        name: sensor-management-ui
        ports:
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: sensor-management-ui
    app.kubernetes.io/component: sensor-management-ui
    app.kubernetes.io/instance: sensor-management-ui
  name: sensor-management-ui
spec:
  lookupPolicy:
    local: false

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: sensor-management-ui
    app.kubernetes.io/component: sensor-management-ui
    app.kubernetes.io/instance: sensor-management-ui
  name: sensor-management-ui
spec:
  port:
    targetPort: 8080-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: sensor-management-ui
    weight: 100
  wildcardPolicy: None

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: sensor-management-ui
    app.kubernetes.io/component: sensor-management-ui
    app.kubernetes.io/instance: sensor-management-ui
  name: sensor-management-ui
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: 8443-tcp
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    deployment: sensor-management-ui
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
  labels:
    app: iot-data-generator
    app.kubernetes.io/component: iot-data-generator
    app.kubernetes.io/instance: iot-data-generator
    app.kubernetes.io/part-of: iot-data-generator
    app.openshift.io/runtime: nodejs
  name: iot-data-generator
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    app: iot-data-generator
    deploymentconfig: iot-data-generator
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      annotations:
        openshift.io/generated-by: OpenShiftWebConsole
      creationTimestamp: null
      labels:
        app: iot-data-generator
        deploymentconfig: iot-data-generator
    spec:
      containers:
      - image: quay.io/evanshortiss/rhtr-2020-iot-datagen
        imagePullPolicy: IfNotPresent
        name: iot-data-generator
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers:
  - imageChangeParams:
      automatic: true
      containerNames:
      - iot-data-generator
      from:
        kind: ImageStreamTag
        name: iot-data-generator:latest
      lastTriggeredImage: quay.io/evanshortiss/rhtr-2020-iot-datagen@sha256:8c41139447adffbf4a06e278e2d88857eab798eebfcfd0853a90e435841bd365
    type: ImageChange
  - type: ConfigChange

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    openshift.io/image.dockerRepositoryCheck: "2020-09-09T13:21:54Z"
  generation: 2
  labels:
    app: iot-data-generator
    app.kubernetes.io/component: iot-data-generator
    app.kubernetes.io/instance: iot-data-generator
    app.kubernetes.io/part-of: iot-data-generator
  name: iot-data-generator
spec:
  lookupPolicy:
    local: false
  tags:
  - annotations:
      openshift.io/generated-by: OpenShiftWebConsole
      openshift.io/imported-from: quay.io/evanshortiss/rhtr-2020-iot-datagen
    from:
      kind: DockerImage
      name: quay.io/evanshortiss/rhtr-2020-iot-datagen
    generation: 2
    importPolicy: {}
    name: latest
    referencePolicy:
      type: Source

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
  labels:
    app: iot-data-generator
    app.kubernetes.io/component: iot-data-generator
    app.kubernetes.io/instance: iot-data-generator
    app.kubernetes.io/name: ""
    app.kubernetes.io/part-of: iot-data-generator
    app.openshift.io/runtime: ""
    app.openshift.io/runtime-version: latest
  name: iot-data-generator
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: iot-data-generator
    deploymentconfig: iot-data-generator
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
  creationTimestamp: "2020-09-11T12:02:35Z"
  labels:
    app: iot-sse-server
    app.openshift.io/runtime: quarkus
    app.kubernetes.io/component: iot-sse-server
    app.kubernetes.io/instance: iot-sse-server
    app.kubernetes.io/part-of: iot-sse-server
  name: iot-sse-server
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: iot-sse-server
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        openshift.io/generated-by: OpenShiftWebConsole
      creationTimestamp: null
      labels:
        app: iot-sse-server
        deploymentconfig: iot-sse-server
    spec:
      containers:
      - image: quay.io/evanshortiss/rhtr-2020-quarkus-sse
        imagePullPolicy: Always
        name: iot-sse-server
        ports:
        - containerPort: 8081
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    openshift.io/image.dockerRepositoryCheck: "2020-09-11T12:02:35Z"
  creationTimestamp: "2020-09-11T12:02:34Z"
  generation: 2
  labels:
    app: iot-sse-server
    app.kubernetes.io/component: iot-sse-server
    app.kubernetes.io/instance: iot-sse-server
    app.kubernetes.io/part-of: iot-sse-server
  name: iot-sse-server
spec:
  lookupPolicy:
    local: false
  tags:
  - annotations:
      openshift.io/generated-by: OpenShiftWebConsole
      openshift.io/imported-from: quay.io/evanshortiss/rhtr-2020-quarkus-sse
    from:
      kind: DockerImage
      name: quay.io/evanshortiss/rhtr-2020-quarkus-sse
    generation: 2
    importPolicy: {}
    name: latest
    referencePolicy:
      type: Source

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: "true"
  creationTimestamp: "2020-09-11T12:02:35Z"
  labels:
    app: iot-sse-server
    app.kubernetes.io/component: iot-sse-server
    app.kubernetes.io/instance: iot-sse-server
    app.kubernetes.io/name: ""
    app.kubernetes.io/part-of: iot-sse-server
    app.openshift.io/runtime: ""
    app.openshift.io/runtime-version: latest
  name: iot-sse-server
spec:
  port:
    targetPort: 8081-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: iot-sse-server
    weight: 100
  wildcardPolicy: None

---
apiVersion: v1
kind: Service
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftWebConsole
  creationTimestamp: "2020-09-11T12:02:35Z"
  labels:
    app: iot-sse-server
    app.kubernetes.io/component: iot-sse-server
    app.kubernetes.io/instance: iot-sse-server
    app.kubernetes.io/name: ""
    app.kubernetes.io/part-of: iot-sse-server
    app.openshift.io/runtime: ""
    app.openshift.io/runtime-version: latest
  name: iot-sse-server
spec:
  ports:
  - name: 8081-tcp
    port: 8081
    protocol: TCP
    targetPort: 8081
  selector:
    app: iot-sse-server
    deploymentconfig: iot-sse-server
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

---
apiVersion: kafka.strimzi.io/v1beta1
kind: Kafka
metadata:
  name: iot-cluster
spec:
  kafka:
    version: 2.5.0
    replicas: 3
    listeners:
      plain: {}
      tls: {}
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      log.message.format.version: '2.5'
    storage:
      type: ephemeral
  zookeeper:
    replicas: 3
    storage:
      type: ephemeral
  entityOperator:
    topicOperator: {}
    userOperator: {}

---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  name: junctions
  labels:
    strimzi.io/cluster: iot-cluster
spec:
  partitions: 10
  replicas: 1
  config:
    retention.ms: 604800000
    segment.bytes: 1073741824

---
apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  name: meters
  labels:
    strimzi.io/cluster: iot-cluster
spec:
  partitions: 10
  replicas: 1
  config:
    retention.ms: 604800000
    segment.bytes: 1073741824

---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: iot-graphql-api
    app.kubernetes.io/component: iot-graphql-api
    app.kubernetes.io/instance: iot-graphql-api
  name: iot-graphql-api
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: iot-graphql-api:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    contextDir: services/iot-graphql-api
    git:
      uri: https://github.com/RedHat-Middleware-Workshops/rhtr-2020-api-mgmt-kafka-workshop
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: nodejs:12
        namespace: openshift
    type: Source
  successfulBuildsHistoryLimit: 5
  triggers:
  - github:
      secret: H1sM5ow3ksddUthma4xD
    type: GitHub
  - generic:
      secret: FvmRciZTtLegSfT0wpZW
    type: Generic
  - type: ConfigChange
  - imageChange:
      lastTriggeredImageID: image-registry.openshift-image-registry.svc:5000/openshift/nodejs@sha256:2bfd71b41a1591a1ea19513cb92e5c1f43d235bbdf15b114b8fddd5521e99482
    type: ImageChange

---
apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "4"
    image.openshift.io/triggers: '[{"from":{"kind":"ImageStreamTag","name":"iot-graphql-api:latest"},"fieldPath":"spec.template.spec.containers[?(@.name==\"iot-graphql-api\")].image"}]'
  labels:
    app: iot-graphql-api
    app.openshift.io/runtime: nodejs
    app.kubernetes.io/component: iot-graphql-api
    app.kubernetes.io/instance: iot-graphql-api
  name: iot-graphql-api
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      deployment: iot-graphql-api
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        openshift.io/generated-by: OpenShiftNewApp
      creationTimestamp: null
      labels:
        deployment: iot-graphql-api
    spec:
      containers:
      - env:
        - name: NODE_ENV
          value: dev
        image: iot-graphql-api:latest
        imagePullPolicy: IfNotPresent
        name: iot-graphql-api
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  generation: 1
  labels:
    app: iot-graphql-api
    app.kubernetes.io/component: iot-graphql-api
    app.kubernetes.io/instance: iot-graphql-api
  name: iot-graphql-api
spec:
  lookupPolicy:
    local: false

---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: iot-graphql-api
    app.kubernetes.io/component: iot-graphql-api
    app.kubernetes.io/instance: iot-graphql-api
  name: iot-graphql-api
spec:
  port:
    targetPort: 8080-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: iot-graphql-api
    weight: 100
  wildcardPolicy: None

---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: iot-graphql-api
    app.kubernetes.io/component: iot-graphql-api
    app.kubernetes.io/instance: iot-graphql-api
  name: iot-graphql-api
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: iot-graphql-api
  sessionAffinity: None
  type: ClusterIP
status:
  loadBalancer: {}

