
# agnosticd-core. Order is important, that section should be the LAST.

ansible.cfg @redhat-cop/agnosticd-core
ansible/ansible.cfg @redhat-cop/agnosticd-core
ansible/cloud_providers @redhat-cop/agnosticd-core
ansible/*.yml @redhat-cop/agnosticd-core
ansible/*.yaml @redhat-cop/agnosticd-core
ansible/roles-infra/ @redhat-cop/agnosticd-core
.github/ @redhat-cop/agnosticd-core
