apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: default-token
  namespace: {{ ocp4_workload_advanced_developer_suite_tssc_namespace }}
  annotations:
    kubernetes.io/service-account.name: default