apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ ocp4_workload_nginxplus_operatorgroup_name }}
  namespace: {{ ocp4_workload_nginxplus_namespace }}
spec:
  targetNamespaces:
  - {{ ocp4_workload_nginxplus_namespace }}