apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/nginx-ingress-operator.nginx-ingress: ''
  name: {{ ocp4_workload_nginxplus_ic_sub_metadata_name }}
  namespace: {{ ocp4_workload_nginxplus_namespace }}
spec:
  channel: {{ ocp4_workload_nginxplus_ic_sub_spec_channel }}
  installPlanApproval: {{ ocp4_workload_nginxplus_ic_sub_spec_install_plan }}
  name: {{ ocp4_workload_nginxplus_ic_sub_spec_name }}
  source: {{ ocp4_workload_nginxplus_ic_sub_spec_source }}
  sourceNamespace: {{ ocp4_workload_nginxplus_ic_sub_spec_source_namespace }}