apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/nginx-ingress-operator.nginx-ingress: ''
  name: {{ nginx_ic_sub_metadata_name }}
  namespace: {{ nginx_namespace }}
spec:
  channel: {{ nginx_ic_sub_spec_channel }}
  installPlanApproval: {{ nginx_ic_sub_spec_install_plan }}
  name: {{ nginx_ic_sub_spec_name }}
  source: {{ nginx_ic_sub_spec_source }}
  sourceNamespace: {{ nginx_ic_sub_spec_source_namespace }}
  startingCSV: {{ nginx_ic_sub_spec_starting_csv }}
