kind: Secret
apiVersion: v1
metadata:
  name: {{ ocp4_workload_nginxplus_secret_name }}
  namespace: {{ ocp4_workload_nginxplus_namespace }}
data:
  .dockerconfigjson: {{ ocp4_workload_nginxplus_dockerconfigjson | to_json | b64encode }}    
type: kubernetes.io/dockerconfigjson