apiVersion: charts.nginx.org/v1alpha1
kind: NginxIngress
metadata:
  name: {{ nginx_ic_instance_name }}
  namespace: {{ nginx_namespace }}
spec:
  logLevel: 0
  wildcardTLS: ''
  enableCRDs: null
  ingressClass: nginx
  enableLeaderElection: null
  enableLatencyMetrics: false
  watchNamespace: ''
  nginxReloadTimeout: 0
  appProtect: null
  serviceType: LoadBalancer
  defaultSecret: ''
  globalConfiguration: ''
  nginxPlus: true
  enablePreviewPolicies: false
  service: null
  enableSnippets: false
  nginxDebug: false
  appProtectDos: null
  type: deployment
  nginxStatus:
    allowCidrs: "0.0.0.0/0"
    enable: true
    port: 8080
  image:
    pullPolicy: Always
    repository: {{ registry_url }}
    tag: latest
  replicas: null
  enableTLSPassthrough: false

