apiVersion: v1
kind: Secret
metadata:
  name: license-token
  namespace: {{ ocp4_workload_nginxplus_namespace }}
type: nginx.com/license
data:
  license.jwt: {{ ocp4_workload_nginxplus_license | b64encode }}


