{
   "auths":{
      "{{ ocp4_workload_nginxplus_private_registry_url }}":{
         "username":"{{ ocp4_workload_nginxplus_quay_username }}",
         "password":"{{ ocp4_workload_nginxplus_quay_password }}",
         "auth":"{{ ocp4_workload_nginxplus_base64 }}"
      }
   }
}