kind: SecurityContextConstraints
apiVersion: security.openshift.io/v1
metadata:
  name: {{ ocp4_workload_nginxplus_scc_name }}
  namespace: {{ ocp4_workload_nginxplus_namespace }}
allowPrivilegedContainer: false
runAsUser:
  type: MustRunAs
  uid: 101
seLinuxContext:
  type: MustRunAs
fsGroup:
  type: MustRunAs
supplementalGroups:
  type: MustRunAs
allowedCapabilities:
  - NET_BIND_SERVICE
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowHostDirVolumePlugin: false
allowHostIPC: false
readOnlyRootFilesystem: false
seccompProfiles:    
- runtime/default
volumes:
 - secret
requiredDropCapabilities:
 - ALL
users:
 - 'system:serviceaccount:*:nginx-ingress'