apiVersion: k8s.nginx.org/v1alpha1
kind: NginxIngressController
metadata:
  name: my-nginx-ingress-controller
  namespace: {{ nginx_namespace }}
  image:
    pullPolicy: Always
    repository: {{ registry_url }}
    tag: latest
  ingressClass: nginx
  nginxPlus: true
  serviceType: NodePort
  type: deployment
