kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: {{ ocp4_workload_nginxplus_image_name }}
  namespace: {{ ocp4_workload_nginxplus_namespace }}
spec:
  lookupPolicy:
    local: false
  tags:
    - name: {{ ocp4_workload_nginxplus_image_tag }}
      annotations: null
      from:
        kind: DockerImage
        name: '{{ ocp4_workload_nginxplus_private_registry_url}}/{{ ocp4_workload_nginxplus_image_name }}:{{ ocp4_workload_nginxplus_image_tag }}'
      generation: 1
      importPolicy: {}
      referencePolicy:
        type: Source