kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ ocp4_workload_nginxplus_namespace }}
subjects:
- kind: ServiceAccount
  name: {{ ocp4_workload_nginxplus_namespace }}
  namespace: {{ ocp4_workload_nginxplus_namespace }}
roleRef:
  kind: ClusterRole
  name: {{ ocp4_workload_nginxplus_namespace }}
  apiGroup: rbac.authorization.k8s.io
