kind: NginxIngressController
apiVersion: k8s.nginx.org/v1alpha1
metadata:
  name: my-nginx-ingress-controller
  namespace: nginx-ingress
spec:
  image:
    pullPolicy: Always
    repository: {{ imagestream_url.resources[0].status.publicDockerImageRepository }}
    tag: 2.1.1-ubi