[Unit]
Description=Podman {{ container_service_deploy_name }} Service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStart=/usr/local/bin/podman-compose -f /opt/{{ container_service_deploy_name }}/resources/orchestration/docker-compose.yml up -d
ExecStop=/usr/local/bin/podman-compose -f /opt/{{container_service_deploy_name }}/resources/orchestration/docker-compose.yml down
#PIDFile=/var/run/containers/storage/vfs-containers/b73b06aeb0fc47c3a631026458e51be8a7aa2fdb128f22aae5e40c0ffc8b6637/userdata/conmon.pid
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
