---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gluster-test-0
  namespace: {{ mig_namespace }}
spec:
  storageClassName: glusterfs-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: gluster-test-1
  namespace: {{ mig_namespace }}
spec:
  storageClassName: glusterfs-storage-block
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: storage-test
  namespace: {{ mig_namespace }}
spec:
  containers:
  - name: storage-test-container
    image: centos
    command: ["/bin/sh", "-c", "sleep 100000"]
    volumeMounts:
    - mountPath: "/tmp/gluster-vol-00"
      name: gluster-vol-00
    - mountPath: "/tmp/gluster-vol-01"
      name: gluster-vol-01
  volumes:
  - name: gluster-vol-00
    persistentVolumeClaim:
      claimName: gluster-test-0
  - name: gluster-vol-01
    persistentVolumeClaim:
      claimName: gluster-test-1
