---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: patient-portal-payment-processor
  namespace: azure
  labels:
    app: patient-portal-payment-processor
    app.kubernetes.io/component: patient-portal-payment-processor
    app.kubernetes.io/instance: patient-portal-payment-processor
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: patient-portal-payment-processor
  template:
    metadata:
      labels:
        deployment: patient-portal-payment-processor
    spec:
      containers:
        - name: patient-portal-payment-processor
          image: >-
            quay.io/redhatintegration/patient-portal-payment-processor@sha256:b40274d5876bb2230a352a31194d4ad7adf43b119be3166ac444eb0b23ea6c5a
          imagePullPolicy: IfNotPresent
      hostname: payment-processed-at-azure
      restartPolicy: Always
