apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  annotations:
    controller.devfile.io/devworkspace-source: web-terminal
    controller.devfile.io/restricted-access: "true"
  labels:
    console.openshift.io/terminal: "true"
    controller.devfile.io/creator: "{{ ocp4_workload_web_terminal_creator }}"
  name: {{ ocp4_workload_web_terminal_name }}
  namespace: {{ ocp4_workload_web_terminal_namespace }}
spec:
  routingClass: {{ ocp4_workload_web_terminal_routing_class }}
  started: {{ ocp4_workload_web_terminal_started }}
  template:
    components:
    - name: {{ ocp4_workload_web_terminal_tooling_name }}
      plugin:
        components:
        - container:
            image: {{ ocp4_workload_web_terminal_image }}
          name: {{ ocp4_workload_web_terminal_tooling_name }}
        kubernetes:
          name: {{ ocp4_workload_web_terminal_tooling_name }}
          namespace: {{ ocp4_workload_web_terminal_operator_namespace }}
    - name: {{ ocp4_workload_web_terminal_exec_name }}
      plugin:
        components:
        - container:
            env:
            - name: WEB_TERMINAL_IDLE_TIMEOUT
              value: {{ ocp4_workload_web_terminal_idle_timeout }}
          name: {{ ocp4_workload_web_terminal_exec_name }}
        kubernetes:
          name: {{ ocp4_workload_web_terminal_exec_name }}
          namespace: {{ ocp4_workload_web_terminal_operator_namespace }}
