apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ api_manager_namespace_display }}"
  name: "{{ api_manager_namespace }}"
spec:
  finalizers:
  - kubernetes
