apiVersion: apps.3scale.net/v1alpha1
kind: APIcast
metadata:
  name: "prod-apicast"
  namespace: {{tenantGwProject}}
spec:
  adminPortalCredentialsRef:
    name: "apicast-configuration-url-secret-prod"
  replicas: 1
  configurationLoadMode: boot
  deploymentEnvironment: production