apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: "{{ api_manager_name }}"
  namespace: "{{ api_manager_namespace }}"
spec:
  wildcardDomain: "amp.{{ ocp_apps_domain }}"
  resourceRequirementsEnabled: false
