apiVersion: v1
kind: Secret
metadata:
  name: aws-auth
  namespace: "{{ API_MANAGER_NS }}"
stringData:
  AWS_ACCESS_KEY_ID: "{{ AWS_ACCESS_KEY_ID }}"
  AWS_SECRET_ACCESS_KEY: "{{ AWS_SECRET_ACCESS_KEY }}"
  AWS_BUCKET: "{{ AWS_BUCKET }}"
  AWS_HOSTNAME: "{{ AWS_HOSTNAME }}"
  AWS_PROTOCOL: "{{ AWS_PROTOCOL }}"
  AWS_REGION: "{{ AWS_REGION }}"
  AWS_PATH_STYLE: 'true'
type: Opaque

