apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{tenantGwProject }}-apicast-operator"
  namespace:  "{{ tenantGwProject }}"
spec:
  targetNamespaces:
  -  "{{ tenantGwProject }}"
