kind: Secret
apiVersion: v1
metadata:
  name: system-smtp
  namespace: "{{ api_manager_namespace }}"
  labels:
    app: 3scale-api-management
    threescale_component: system
    threescale_component_element: smtp
type: Opaque    
stringData:
  address: "{{ smtp_host }}"
  authentication: "{{ smtp_authentication }}"
  domain: "{{ smtp_domain}}"
  openssl.verify.mode: 'false'
  password: "{{ smtp_passwd }}"
  port: "{{ smtp_port }}"
  username: "{{ smtp_userid }}"
