apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: hello-world-gateway
spec:
  selector:
    istio: ingressgateway
  servers:
  - hosts:
    - hello-world-istio.{{ocp_apps_domain}}
    port:
      name: http
      number: 80
      protocol: HTTP
