---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
  namespace: {{ ocp4_workload_mta7_workshop_namespace }}
  labels:
    app.openshift.io/runtime: postgresql
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
    spec:
      serviceAccountName: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
      containers:
      - env:
        - name: POSTGRESQL_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
        - name: POSTGRESQL_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
        - name: POSTGRESQL_DATABASE
          valueFrom:
            secretKeyRef:
              key: database-name
              name: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
        image: {{ ocp4_workload_mta7_workshop_postgresql_image }}
        imagePullPolicy: {{ ocp4_workload_mta7_workshop_postgresql_image_pull_policy }}
        livenessProbe:
          exec:
            command:
            - /usr/libexec/check-container
            - --live
          failureThreshold: 3
          initialDelaySeconds: 120
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 10
        name: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
        ports:
        - containerPort: 5432
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - /usr/libexec/check-container
          failureThreshold: 3
          initialDelaySeconds: 5
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            memory: 512Mi
        securityContext:
          privileged: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /var/lib/pgsql/data
          name: postgresql-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      terminationGracePeriodSeconds: 30
      volumes:
      - name: postgresql-data
        persistentVolumeClaim:
          claimName: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}