---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_mta7_workshop_postgresql_app_name }}
  namespace: {{ ocp4_workload_mta7_workshop_namespace }}
stringData:
  database-name: {{ ocp4_workload_mta7_workshop_postgresql_database_name }}
  database-user: {{ ocp4_workload_mta7_workshop_postgresql_user }}
  database-password: {{ ocp4_workload_mta7_workshop_postgresql_password }}
type: Opaque
