[tower]
{% for host in groups['towers'] %}
{{ host }}.example.com
{% endfor %}

[database]

[all:vars]
ansible_become=true
admin_password={{tower_admin_password}}

pg_host=''
pg_port=''
pg_database='awx'
pg_username='awx'
pg_password={{tower_admin_password}}

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password={{ tower_admin_password | regex_replace('[^a-zA-Z0-9]') }}
rabbitmq_cookie=cookiemonster


{# # These are the satellite hosts #}

[satellites]
{% for host in groups['satellites'] %}
{{host}}.example.com
{% endfor %}

{# # These are the nodes hosts #}
[nodes]
{% for host in groups['nodes'] %}
{{host}}.example.com
{% endfor %}

