{% for group in inventory_groups %}

[{{ group }}]
{%   for host in groups[group] %}
{%     if cloud_provider == 'ec2' %}
{{ host }}
{%     elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{%     endif %}
{%   endfor %}
{% endfor %}

[all:vars]
timeout=60
ansible_user={{ remote_user }}
ansible_ssh_private_key_file="~/.ssh/{{ guid }}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
ansible_become=true

### Ansible Tower Specific Variables for Installation ###
admin_password={{ tower_admin_password }}
pg_host=''
pg_port=''
pg_database='awx'
pg_username='awx'
pg_password={{ tower_admin_password }}

# rabbitmq_port=5672
# rabbitmq_vhost=tower
# rabbitmq_username=tower
# rabbitmq_password={{ tower_admin_password | regex_replace('[^a-zA-Z0-9]') }}
# rabbitmq_cookie=cookiemonster
