{%if ( inventory_hostname in groups['bastions'] ) or ( inventory_hostname in groups['towers'] ) or ( inventory_hostname in groups['nodes']  ) %}

[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/tower/{{repo_version}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-server-rhscl-7-rpms]
name=Red Hat Enterprise Linux 7 RHSCL
baseurl={{own_repo_path}}/tower/{{repo_version}}/rhel-server-rhscl-7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=Red Hat Enterprise Linux Extra RPMs
baseurl={{own_repo_path}}/tower/{{repo_version}}/rhel-7-server-extras-rpms
enabled=1
gpgcheck=0

{% endif %}


{%if groups['satellites'] is defined %}
{%if inventory_hostname in groups['satellites'] %}
{# satellite repos #}
[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/satellite/{{satellite_repo_version}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-server-rhscl-7-rpms]
name=Red Hat Enterprise Linux 7 RHSCL
baseurl={{own_repo_path}}/satellite/{{satellite_repo_version}}/rhel-server-rhscl-7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.8-rpms]
name=Red Hat Enterprise Ansible 2.8
baseurl={{own_repo_path}}/satellite/{{satellite_repo_version}}/rhel-7-server-ansible-2.8-rpms
enabled=1
gpgcheck=0


[rhel-7-server-satellite-6.7-rpms]
name=Red Hat Enterprise Satellite 6.7
baseurl={{own_repo_path}}/satellite/{{satellite_repo_version}}/rhel-7-server-satellite-6.7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-satellite-maintenance-6-rpms]
name=Red Hat Enterprise Satellite 6 Maintenance
baseurl={{own_repo_path}}/satellite/{{satellite_repo_version}}/rhel-7-server-satellite-maintenance-6-rpms
enabled=1
gpgcheck=0

{% endif %}
{% endif %}

