terminal-01:
  image: docker.io/wettyoss/wetty
  container_name: terminal-01
  hostname: terminal-01
  command:
    - "--ssh-user={{ f_user_data.ssh_username }}"
    - "--ssh-pass={{ f_user_data.ssh_password }}"
    - "--ssh-host={{ f_user_data.targethost }}"
    - --allow-iframe=true
  ports:
    - "8001:3000"

terminal-02:
  image: docker.io/wettyoss/wetty
  container_name: terminal-02
  hostname: terminal-02
  command:
    - "--ssh-user={{ f_user_data.ssh_username }}"
    - "--ssh-pass={{ f_user_data.ssh_password }}"
    - "--ssh-host={{ f_user_data.targethost }}"
    - --allow-iframe=true
  ports:
    - "8002:3000"
