<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="split.css">
    <link rel="stylesheet" type="text/css" href="tabs.css">
    </head>
    <body>
    <div class="content">
			<div class="split left">
                <iframe id="doc"  src="./{{ showroom_component_name }}/index.html" width="100%" style="border:none;"></iframe>
			</div>
			<div class="split right">
				<div class="tab">

        					<button class="tablinks" onclick="openTerminal(event, 'terminal_tab')" id="defaultOpen" tabindex="0">Terminal</button>
        					<button class="tablinks" onclick="openTerminal(event, 'codeserver_tab')">VS Code</button>
        					<button class="tablinks" onclick="openTerminal(event, 'docs_tab')">Ansible Docs</button>
				</div>
					<div id="terminal_tab" class="tabcontent">
						<div class="split top">
						    <iframe id="terminal_01"  src="http://bastion.example.com:8001/wetty" width="100%" style="border:none;"></iframe>
						</div>
						<div class="split bottom">
							<iframe id="terminal_02"  src="http://bastion.example.com:8002/wetty" width="100%" style="border:none;"></iframe>
						</div>
					</div>
					<div id="codeserver_tab" class="tabcontent">
                        <iframe id="codeserver" src="http://bastion.example.com:8003" height="100%" width="100%" style="border:none;"></iframe>
					</div>
					<div id="docs_tab" class="tabcontent">
						<iframe id="docs" src="https://docs.ansible.com/" width="100%" style="border:none;"></iframe>
					</div>
				</div>
			</div>
		</div>

    <script>

			document.getElementById("defaultOpen").click();

			function openTerminal(evt, cityName) {
				// Declare all variables
				var i, tabcontent, tablinks;

				// Get all elements with class="tabcontent" and hide them
				tabcontent = document.getElementsByClassName("tabcontent");
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}

				// Get all elements with class="tablinks" and remove the class "active"
				tablinks = document.getElementsByClassName("tablinks");
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className.replace(" active", "");
				}

				// Show the current tab, and add an "active" class to the button that opened the tab
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += "active";
			}

    </script>
    <script src="https://unpkg.com/split.js/dist/split.min.js"></script>
    <script>
      Split(['.left', '.right'], {
        sizes: [45,55],
      });

		  Split(['.top', '.bottom'], {
        sizes: [65,35],
        direction: 'vertical',
      });
    </script>
    </body>
</html>
