apiVersion: ols.openshift.io/v1alpha1
kind: OLSConfig
metadata:
  name: cluster
spec:
  llm:
    providers:
      - credentialsSecretRef:
          name: credentials 
        models:
          - name: "{{ ocp4_workload_ols_llm_providers_models_name }}"
        name: "{{ ocp4_workload_ols_llm_providers_provide_name }}"
        type: "{{ ocp4_workload_ols_llm_providers_provide_type }}"
        url: "{{ ocp4_workload_ols_llm_providers_url }}"
  ols:
    defaultModel: "{{ ocp4_workload_ols_defaultmodel }}"
    defaultProvider: "{{ ocp4_workload_ols_defaultprovider }}"
    logLevel: "{{ ocp4_workload_ols_loglevel }}"

