---
apiVersion: ols.openshift.io/v1alpha1
kind: OLSConfig
metadata:
  name: cluster
spec:
  llm:
    providers:
    - credentialsSecretRef:
        name: azure-api-keys
        #Use the name of the deployment with the provider
      deploymentName: "{{ ocp4_workload_ols_llm_deploymentname }}" 
      models:
      - name: "{{ ocp4_workload_ols_llm_providers_models_name }}"
      name: "{{ ocp4_workload_ols_llm_providers_provide_name }}"
      type: "{{ ocp4_workload_ols_llm_providers_provide_type }}"
      # Use the URL you recorded after you created the deployment
      url: "{{ ocp4_workload_ols_llm_providers_url }}"

  ols:
    queryFilters:
    - name: ip-address
      pattern: '((25[0-5]|(2[0-4]|1\d|[1-9]|)\d)\.?\b){4}'
      replaceWith: <IP-ADDRESS>
    defaultModel: "{{ ocp4_workload_ols_defaultmodel }}"
    defaultProvider: "{{ ocp4_workload_ols_defaultprovider }}"
    logLevel: "{{ ocp4_workload_ols_loglevel }}"
    introspectionEnabled: {{ ocp4_workload_ols_introspection_enabled | default(false) | bool }}
{% if ocp4_workload_ols_enable_rag | bool %}
    rag:
      - image: "{{ ocp4_workload_ols_rag_image }}"
{% endif %}
