---
apiVersion: ols.openshift.io/v1alpha1
kind: OLSConfig
metadata:
  name: cluster
spec:
  llm:
    providers:
    - credentialsSecretRef:
        name: credentials
        #Use the name of the deployment with the provider
      projectId: "{{ ocp4_workload_ols_watson_projectid }}"  
      models:
      - name: "{{ ocp4_workload_ols_llm_providers_models_name }}"
      name: "{{ ocp4_workload_ols_llm_providers_provide_name }}"
      type: "{{ ocp4_workload_ols_llm_providers_provide_type }}"
      # Use the URL you recorded after you created the deployment
      url: "{{ ocp4_workload_ols_llm_providers_url }}"
  ols:
    defaultModel: "{{ ocp4_workload_ols_defaultmodel }}"
    defaultProvider: "{{ ocp4_workload_ols_defaultprovider }}"
    logLevel: "{{ ocp4_workload_ols_loglevel }}"

