# This is the AAP installer inventory file
# Please consult the docs if you're unsure what to add
# For all optional variables please consult the included README.md

# This section is for your AAP Controller host(s)
# -------------------------------------------------
[automationcontroller]
controller.{{ subdomain_internal }}

# This section is for your AAP Automation Hub host(s)
# -----------------------------------------------------
[automationhub]
controller.{{ subdomain_internal }}

# This section is for your AAP EDA Controller host(s)
# -----------------------------------------------------
[automationeda]
controller.{{ subdomain_internal }}


# This section is for the AAP database(s)
# -----------------------------------------
# Uncomment the lines below and amend appropriately if you want AAP to install and manage the postgres databases
# Leave commented out if you intend to use your own external database and just set appropriate _pg_hosts vars
# see mandatory sections under each AAP component
[database]
controller.{{ subdomain_internal }}

[all:vars]

# Common variables needed for installation
# ----------------------------------------
postgresql_admin_username=postgres
postgresql_admin_password={{ aap2_common_password | default('r3dh4t1!') }}
# If using the online (non-bundled) installer, you need to set RHN registry credentials
#registry_username=<your RHN username>
#registry_password=<your RHN password>
# If using the bundled installer, you need to alter defaults by using:
bundle_install=true
bundle_dir=/home/devops/ansible-automation-platform-containerized-setup-bundle-2.4-1-x86_64/bundle


# AAP Controller - mandatory
# --------------------------
controller_admin_password={{ aap2_common_password | default('r3dh4t1!') }}
controller_pg_host=controller.{{ subdomain_internal }}
controller_pg_password={{ aap2_common_password | default('r3dh4t1!') }}

# AAP Controller - optional
# -------------------------
# To use the postinstall feature you need to set these variables
#controller_postinstall=true
#controller_license_file=<full path to your manifest .zip file>
#controller_postinstall_dir=<full path to your config-as-code directory>

# AAP Automation Hub - mandatory
# ------------------------------
hub_admin_password={{ aap2_common_password | default('r3dh4t1!') }}
hub_pg_host=controller.{{ subdomain_internal }}
hub_pg_password={{ aap2_common_password | default('r3dh4t1!') }}

# AAP Automation Hub - mandatory
# ------------------------------
hub_admin_password={{ aap2_common_password | default('r3dh4t1!') }}
hub_pg_host=controller.{{ subdomain_internal }}
hub_pg_password={{ aap2_common_password | default('r3dh4t1!') }}

# AAP Automation Hub - optional
# -----------------------------

# AAP EDA Controller - mandatory
# ------------------------------
eda_admin_password={{ aap2_common_password | default('r3dh4t1!') }}
eda_pg_host=controller.{{ subdomain_internal }}
eda_pg_password={{ aap2_common_password | default('r3dh4t1!') }}
controller_main_url=https://{{ subdomain }}

# AAP EDA Controller - optional
