apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "RHODS Project (GUID: {{ guid }})"
    openshift.io/requester: "{{ rhods_username }}"
  name: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
