apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: object-detection-rest
    app.kubernetes.io/component: object-detection-rest
  name: object-detection-rest
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  lookupPolicy:
    local: false
