---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: sanity-check-model
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
  annotations:
    tekton.dev/displayName: "Sanity Check Model"
spec:
  params:
  - name: gitRepositoryUrl
    description: URL of the Git repository to update
    type: string
  - name: gitRepositoryRevision
    description: Branch or Tag to push the update to
    type: string
    default: dev
  - name: gitPath
    description: Path in the repository to work in.
    type: string
    default: "."
  - name: fileName
    description: Name of the file to be updated
    type: string
    default: ./output.txt
  - name: verbose
    description: Log the commands used during execution
    type: string
    default: "true"
  results:
  - name: sanity_exit_status
    description: The Exit status of the task sanity check
  volumes:
  - name: repository
    emptyDir: {}
  steps:
  - name: sanity-check
    image: python:3.8
    workingDir: "/workspace/repository"
    volumeMounts:
    - name: repository
      mountPath: /workspace/repository
    script: |
      #!/usr/bin/env bash
      set -e
      git config --global http.sslVerify false
      git clone "$(params.gitRepositoryUrl)" $(pwd)/repository
      cd repository
      git checkout "$(params.gitRepositoryRevision)"
      pip install -r ./requirements.txt
      echo "Requirments file installed"
      python sanitycheck.py
      #python sanityfail.py
      echo $? | tee $(results.sanity_exit_status.path)
      echo -n "$(results.sanity_exit_status.path)"
      echo "Completed the sanity check"
