apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  annotations:
    tekton.dev/displayName: Update Dev Kustomize Git Repository
  name: update-repo
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  params:
    - description: URL of the Git repository to update
      name: gitRepositoryUrl
      type: string
    - default: master
      description: Branch or Tag to push the update to
      name: gitRepositoryRevision
      type: string
    - default: overlays/development
      description: Context directory within git repository
      name: gitRepositoryContextDir
      type: string
    - default: kustomization.yaml
      description: File to patch
      name: gitRepositoryFileName
      type: string
    - description: The image to be written into the YAML
      name: image
      type: string
    - description: The image tag to be written into the YAML
      name: imageTag
      type: string
    - default: 'true'
      description: Log the commands used during execution
      name: verbose
      type: string
  steps:
    - image: 'alpine/git:v2.26.2'
      name: git-checkout
      resources: {}
      script: |
        #!/usr/bin/env sh

        set -eu -o pipefail

        if [[ "$(params.verbose)" == "true" ]] ; then
          set -x
          echo "**** Cloning $(params.gitRepositoryUrl) into $(pwd)/repository"
        fi

        git clone "$(params.gitRepositoryUrl)" $(pwd)/repository
        cd repository
        git checkout "$(params.gitRepositoryRevision)"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace
    - image: 'alpine/git:v2.26.2'
      name: update-yaml
      resources: {}
      script: >
        #!/usr/bin/env sh

        set -e

        if [[ "$(params.verbose)" == "true" ]] ; then
          echo "**** Updating $(params.gitRepositoryContextDir)/$(params.gitRepositoryFileName) file with image to $(params.image):$(params.imageTag)"
        fi

        export TAG=$(params.imageTag) export IMAGE=$(params.image) export DIR=$(params.gitRepositoryContextDir) export FILE=$(params.gitRepositoryFileName)

        sed -i
        "s#$IMAGE:[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]#$IMAGE:$TAG#"
        $DIR/$FILE

        echo "View contents of the deployment patch file"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace/repository
    - image: 'alpine/git:v2.26.2'
      name: commit-push-changes
      resources: {}
      script: >
        #!/usr/bin/env sh

        set -e


        git config --global user.email "tekton@tekton.dev"

        git config --global user.name "OpenShift Pipeline"

        git add .

        git commit --allow-empty -m "[OpenShift Pipeline] Updating
        $(params.gitRepositoryContextDir)/$(params.gitRepositoryFileName): $(params.image):$(params.imageTag)"

        echo "Pushing to $(params.gitRepositoryRevision)"

        git push origin "$(params.gitRepositoryRevision)"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace/repository
  volumes:
    - emptyDir: {}
      name: repository
