apiVersion: broker.amq.io/v2alpha3
kind: ActiveMQArtemisAddress
metadata:
  name: "{{ ocp4_workload_lpe_amq_broker_address_name }}"
  namespace: "{{ ocp4_workload_lpe_amq_broker_namespace }}"
spec:
  addressName: "{{ ocp4_workload_lpe_amq_broker_address_name }}"
  queueName: "{{ ocp4_workload_lpe_amq_broker_queue_name }}"
  routingType: anycast
