apiVersion: broker.amq.io/v2alpha4
kind: ActiveMQArtemis
metadata:
  name: "{{ ocp4_workload_lpe_amq_broker_cluster_name }}"
  namespace: "{{ ocp4_workload_lpe_amq_broker_namespace }}"
  application: "{{ ocp4_workload_lpe_amq_broker_app_name }}"
spec:
  deploymentPlan:
    image: placeholder
    size: 2
    requireLogin: false
    persistenceEnabled: true
    journalType: nio
    messageMigration: true
    jolokiaAgentEnabled: true
    managementRBACEnabled: true
  console:
    expose: true
  adminUser: admin
  adminPassword: admin