.ansible_facts
*.retry
*secret_vars.yml
*secret[_-]vars.yml
*secrets[_-]vars.yml
*secret[_-]var.yml
*secrets[_-]var.yml
*secret_vars.yaml
*secret[_-]vars.yaml
*secrets[_-]vars.yaml
*secret[_-]var.yaml
*secrets[_-]var.yaml
ansible/workdir/*
ansible/judd.sh
*.swp
scripts/*.rc
wk*
virtualenv/
.idea
*.rc
.tox
ansible/configs/*/roles
.pre-commit-config.yaml
.DS_Store

.vscode/settings.json
