[defaults]
nocows                  = 1
# Don't forget to update other ansible.cfg files like:  ansible/configs/linklight/ansible.cfg
roles_path              = dynamic-roles:ansible/dynamic-roles:roles-infra:ansible/roles-infra:roles:ansible/roles:ansible/roles_studentvm:roles_studentvm:ansible/roles_ocp_workloads:roles_ocp_workloads

forks                   = 50
become                  = False
gathering               = smart
host_key_checking       = False
timeout                 = 60
callback_whitelist      = profile_tasks
#stdout_callback         = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks   = True
localhost_warning       = False

[privilege_escalation]
become                  = False
