[defaults]
#nocows                  = 1
# Don't forget to update other ansible.cfg files like:  ansible/configs/linklight/ansible.cfg
roles_path              = dynamic-roles:ansible/dynamic-roles:roles-infra:ansible/roles-infra:roles:ansible/roles:ansible/roles_studentvm:roles_studentvm:ansible/roles_ocp_workloads:roles_ocp_workloads

