[defaults]
inventory               = inventory
roles_path              = ansible/roles
forks                   = 50
become                  = True
gathering               = smart
fact_caching            = jsonfile
fact_caching_connection = .ansible_facts
host_key_checking       = False             # dealing with escalation prompt errors on slow links
timeout                 = 60

[privilege_escalation]
become                  = True

# override ssh_config ControlPath to use hashed value to handle long node names
[ssh_connection]
control_path            = /tmp/%%h-%%r
