# Documentation:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.
# You can also use email addresses if you prefer. They'll be
# used to look up users just like github does for commit author
# emails.

# Roles and Configs maintained by Global Partners Solutions & Technology

ansible/roles_ocp_workloads/ocp4_workload_paloalto_prismacloud/ @redhat-gpst/agnosticd-maintainers
ansible/roles_ocp_workloads/ocp4_workload_snyk/ @redhat-gpst/agnosticd-maintainers
ansible/roles_ocp_workloads/ocp4_workload_cyberark_dap/ @redhat-gpst/agnosticd-maintainers
ansible/roles_ocp_workloads/ocp4_workload_synopsys_blackduck/ @redhat-gpst/agnosticd-maintainers
ansible/roles_ocp_workloads/ocp4_workload_couchbase_cluster/ @redhat-gpst/agnosticd-maintainers
ansible/roles_ocp_workloads/ocp4_workload_tigera_calico/ @redhat-gpst/agnosticd-maintainers
ansible/configs/ansible-infoblox/ @redhat-gpst/agnosticd-maintainers
ansible/configs/aro/ @redhat-gpst/agnosticd-maintainers
ansible/configs/ibm-rhoic/ @redhat-gpst/agnosticd-maintainers

# agnosticd-core

CODEOWNERS @redhat-gpte/agnosticd-core
LICENSE @redhat-gpte/agnosticd-core
ansible.cfg @redhat-gpte/agnosticd-core
ansible/ansible.cfg @redhat-gpte/agnosticd-core
ansible/cloud_providers @redhat-gpte/agnosticd-core
ansible/*.yml @redhat-gpte/agnosticd-core
ansible/*.yaml @redhat-gpte/agnosticd-core
.github/ @redhat-gpte/agnosticd-core
ansible/filter_plugins/ @redhat-gpte/agnosticd-core
ansible/action_plugins/ @redhat-gpte/agnosticd-core
ansible/library/ @redhat-gpte/agnosticd-core

# Core roles

ansible/roles-infra/ @redhat-gpte/agnosticd-core
ansible/roles/host-lets-encrypt-certs-certbot/ @redhat-gpte/agnosticd-core

# AgnosticD on-demand capacity plugin for AWS

ansible/action_plugins/agnosticd_odcr.py @fridim
ansible/action_plugins/test_agnosticd_odcr.py @fridim
