{
    "config": {
      "client_id": "{{ auth_client_id }}",
      "issuer": "{{ auth_domain }}",
      "do_not_use_client_secret": "true",
      "mode": "post"
    },
    "enabled": true,
    "name": "Default Auth0",
    "type": "oidc",
    "uiEndpoint": "https://{{ central_addr }}:{{ central_port }}",
    "validated": true
  }