---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-bootstrap
  namespace: openshift-gitops
spec:
  destination:
    namespace: openshift-gitops
    server: 'https://kubernetes.default.svc'
  project: cluster-config
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
  source:
    repoURL: https://github.com/AdvancedDevSecOpsWorkshop/bootstrap
    targetRevision: {{ ocp4_workload_showroom_content_bootstrap_repo_ref }}
    path: infra/apps/base
