apiVersion: migration.openshift.io/v1alpha1
kind: MigrationController
metadata:
  name: migration-controller
  namespace: {{ mig_migration_namespace }}
spec:
  azure_resource_group: ''
  cluster_name: host
  migration_velero: true
  migration_controller: false
  migration_ui: false
  restic_timeout: 1h

  #To install the controller on Openshift 3 you will need to configure the API endpoint:
  #mig_ui_cluster_api_endpoint: https://replace-with-openshift-cluster-hostname:8443
