---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/node-selector: ""
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
    openshift.io/cluster-monitoring: "true"
  name: "{{ mig_migration_namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows deploymentconfigs in this namespace to rollout
      pods in this namespace.  It is auto-managed by a controller; remove subjects
      to disable.
  name: system:deployers
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:deployer
subjects:
- kind: ServiceAccount
  name: deployer
  namespace: {{ mig_migration_namespace }}
userNames:
- system:serviceaccount:{{ mig_migration_namespace }}:deployer
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows builds in this namespace to push images to this
      namespace.  It is auto-managed by a controller; remove subjects to disable.
  name: system:image-builders
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:image-builder
subjects:
- kind: ServiceAccount
  name: builder
  namespace: {{ mig_migration_namespace }}
userNames:
- system:serviceaccount:{{ mig_migration_namespace }}:builder
---
apiVersion: rbac.authorization.k8s.io/v1beta1
groupNames:
- system:serviceaccounts:{{ mig_migration_namespace }}
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows all pods in this namespace to pull images from
      this namespace.  It is auto-managed by a controller; remove subjects to disable.
  creationTimestamp: null
  name: system:image-pullers
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:image-puller
subjects:
- kind: Group
  name: system:serviceaccounts:{{ mig_migration_namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: migrationcontrollers.migration.openshift.io
spec:
  group: migration.openshift.io
  names:
    kind: MigrationController
    listKind: MigrationControllerList
    plural: migrationcontrollers
    singular: migrationcontroller
  scope: Namespaced
  subresources:
    status: {}
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  creationTimestamp: null
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - mig-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - migration.openshift.io
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: migration-operator
  namespace: "openshift-migration"
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - secrets
  - services
  verbs:
  - '*'
- apiGroups:
  - noobaa.io
  resources:
  - noobaas
  verbs:
  - "*"
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "*"
- apiGroups:
  - oauth.openshift.io
  resources:
  - oauthclients
  verbs:
  - '*'
- apiGroups:
  - config.openshift.io
  resources:
  - apiservers
  verbs:
  - '*'
- apiGroups:
  - operator.openshift.io
  resources:
  - kubeapiservers
  - authentications
  verbs:
  - '*'
- apiGroups:
  - migration.openshift.io
  resources:
  - migclusters
  verbs:
  - '*'
- apiGroups:
  - config.openshift.io
  resources:
  - infrastructures
  - clusterversions
  verbs:
  - get
- apiGroups:
  - rbac.authorization.k8s.io
  - security.openshift.io
  - build.openshift.io
  - migration.openshift.io
  - velero.io
  - packages.operators.coreos.com
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - watch
  - list
  - update
  - patch
  - create
  - delete
  - assign
  - deletecollection
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - pods/log
  verbs:
  - '*'
- nonResourceURLs:
  - '*'
  verbs:
  - '*'
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
subjects:
- kind: ServiceAccount
  name: migration-operator
roleRef:
  kind: Role
  name: migration-operator
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: migration-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: migration-operator
subjects:
  - kind: ServiceAccount
    name: migration-operator
    namespace: "{{ mig_migration_namespace }}"
namespace: "{{ mig_migration_namespace }}"
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
  labels:
    app: migration
spec:
  selector:
    matchLabels:
      app: migration
  template:
    metadata:
      labels:
        app: migration
    spec:
      serviceAccountName: migration-operator
      containers:
      - name: operator
        image: registry.redhat.io/rhmtc/{{ mig_migration_namespace }}-rhel7-operator:v1.3.0
        imagePullPolicy: Always
        volumeMounts:
        - mountPath: /tmp/ansible-operator/runner
          name: runner
        env:
        - name: OPERATOR_NAME
          value: migration-operator
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: REGISTRY
          value: registry.redhat.io
        - name: PROJECT
          value: rhmtc
        - name: HOOK_RUNNER_REPO
          value: {{ mig_migration_namespace }}-hook-runner-rhel7@sha256
        - name: HOOK_RUNNER_TAG
          value: 8a66c13e267050fdcca5612dcbb06ce49f2654ccb17d9e07e3b9eb9f3fca1ea5
        - name: MIG_CONTROLLER_REPO
          value: {{ mig_migration_namespace }}-controller-rhel8@sha256
        - name: MIG_UI_REPO
          value: {{ mig_migration_namespace }}-ui-rhel8@sha256
        - name: MIGRATION_REGISTRY_REPO
          value: {{ mig_migration_namespace }}-registry-rhel8@sha256
        - name: MIGRATION_REGISTRY_TAG
          value: 9ff723c6dc8371039d20cab26b2c5a6be2fef40c4d5785cd318d8e14fd565faf
        - name: VELERO_REPO
          value: {{ mig_migration_namespace }}-velero-rhel8@sha256
        - name: VELERO_PLUGIN_REPO
          value: openshift-velero-plugin-rhel8@sha256
        - name: VELERO_RESTIC_RESTORE_HELPER_REPO
          value: {{ mig_migration_namespace }}-velero-restic-restore-helper-rhel8@sha256
        - name: VELERO_AWS_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-aws-rhel8@sha256
        - name: VELERO_GCP_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-gcp-rhel8@sha256
        - name: VELERO_AZURE_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-microsoft-azure-rhel8@sha256
        - name: VELERO_TAG
          value: 6ced7586aab260f68b2241faeb25eaaab9b1b8b204360d84dba429259cc8976a
        - name: VELERO_RESTIC_RESTORE_HELPER_TAG
          value: 82842581bc1f659c5cf1fbd6828ed5a6e74d7a6fce8437a50db5ace54ccc7f90
        - name: VELERO_PLUGIN_TAG
          value: 77d7aaf48a2fe364165eb50bc10dbbea6a45abfa7565d3c16a1a8d4e5b5386d1
        - name: VELERO_AWS_PLUGIN_TAG
          value: 0ff4483b225cfad0b71b21a7ea2b8bb3f8e8d9d27de1a42053eb190b22f3a11a
        - name: VELERO_GCP_PLUGIN_TAG
          value: b0d20aab3b59907b60b5f97161df87e1d2e55687817fb4d97dbf408432271e2d
        - name: VELERO_AZURE_PLUGIN_TAG
          value: 938a2a0bbee15e26c915d94ebd5330ba1ca3be1eeb590d655afeb8ec77d63619
        - name: MIG_UI_TAG
          value: 12f1de55d7ad30d8ce7b6a62d0f25df0c7357f637bcd14793f2bc36df3341a97
        - name: MIG_CONTROLLER_TAG
          value: 7011bc6882205114be8ed20c19f0beb33310aaca726287189744109a29ecee09
      volumes:
        - name: runner
          emptyDir: {}
