---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/node-selector: ""
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
    openshift.io/cluster-monitoring: "true"
  name: "{{ mig_migration_namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows deploymentconfigs in this namespace to rollout
      pods in this namespace.  It is auto-managed by a controller; remove subjects
      to disable.
  name: system:deployers
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:deployer
subjects:
- kind: ServiceAccount
  name: deployer
  namespace: {{ mig_migration_namespace }}
userNames:
- system:serviceaccount:{{ mig_migration_namespace }}:deployer
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows builds in this namespace to push images to this
      namespace.  It is auto-managed by a controller; remove subjects to disable.
  name: system:image-builders
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:image-builder
subjects:
- kind: ServiceAccount
  name: builder
  namespace: {{ mig_migration_namespace }}
userNames:
- system:serviceaccount:{{ mig_migration_namespace }}:builder
---
apiVersion: rbac.authorization.k8s.io/v1beta1
groupNames:
- system:serviceaccounts:{{ mig_migration_namespace }}
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows all pods in this namespace to pull images from
      this namespace.  It is auto-managed by a controller; remove subjects to disable.
  creationTimestamp: null
  name: system:image-pullers
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:image-puller
subjects:
- kind: Group
  name: system:serviceaccounts:{{ mig_migration_namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: migrationcontrollers.migration.openshift.io
spec:
  group: migration.openshift.io
  names:
    kind: MigrationController
    listKind: MigrationControllerList
    plural: migrationcontrollers
    singular: migrationcontroller
  scope: Namespaced
  subresources:
    status: {}
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  creationTimestamp: null
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  - serviceaccounts
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - mig-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - migration.openshift.io
  resources:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - namespaces
  - secrets
  - services
  verbs:
  - '*'
- apiGroups:
  - noobaa.io
  resources:
  - noobaas
  verbs:
  - "*"
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - "*"
- apiGroups:
  - oauth.openshift.io
  resources:
  - oauthclients
  verbs:
  - '*'
- apiGroups:
  - config.openshift.io
  resources:
  - apiservers
  verbs:
  - '*'
- apiGroups:
  - operator.openshift.io
  resources:
  - kubeapiservers
  - authentications
  verbs:
  - '*'
- apiGroups:
  - migration.openshift.io
  resources:
  - migclusters
  verbs:
  - '*'
- apiGroups:
  - config.openshift.io
  resources:
  - infrastructures
  - clusterversions
  verbs:
  - get
- apiGroups:
  - rbac.authorization.k8s.io
  - security.openshift.io
  - build.openshift.io
  - migration.openshift.io
  - velero.io
  - packages.operators.coreos.com
  - route.openshift.io
  resources:
  - '*'
  verbs:
  - '*'
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - get
  - watch
  - list
  - update
  - patch
  - create
  - delete
  - assign
  - deletecollection
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  - pods/log
  verbs:
  - '*'
- nonResourceURLs:
  - '*'
  verbs:
  - '*'
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
subjects:
- kind: ServiceAccount
  name: migration-operator
roleRef:
  kind: Role
  name: migration-operator
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: migration-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: migration-operator
subjects:
  - kind: ServiceAccount
    name: migration-operator
    namespace: "{{ mig_migration_namespace }}"
namespace: "{{ mig_migration_namespace }}"
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
  labels:
    app: migration
spec:
  selector:
    matchLabels:
      app: migration
  template:
    metadata:
      labels:
        app: migration
    spec:
      serviceAccountName: migration-operator
      containers:
      - name: operator
        image: registry.redhat.io/rhmtc/{{ mig_migration_namespace }}-rhel7-operator:v1.4.2
        imagePullPolicy: Always
        volumeMounts:
        - mountPath: /tmp/ansible-operator/runner
          name: runner
        env:
        - name: OPERATOR_NAME
          value: migration-operator
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: REGISTRY
          value: registry.redhat.io
        - name: PROJECT
          value: rhmtc
        - name: RSYNC_TRANSFER_REPO
          value: {{ mig_migration_namespace }}-rsync-transfer-rhel8@sha256
        - name: RSYNC_TRANSFER_TAG
          value: a30f13c8b55824401c98ae2f9f40cc85b3b3ac9e43ad8f538fcc94715190c1e0
        - name: HOOK_RUNNER_REPO
          value: {{ mig_migration_namespace }}-hook-runner-rhel7@sha256
        - name: HOOK_RUNNER_TAG
          value: bf69cc3957504e0bfc28f2a401790d8ca1ac67c295d3567c51b7d84831bf9239
        - name: MIG_CONTROLLER_REPO
          value: {{ mig_migration_namespace }}-controller-rhel8@sha256
        - name: MIG_UI_REPO
          value: {{ mig_migration_namespace }}-ui-rhel8@sha256
        - name: MIG_LOG_READER_REPO
          value: {{ mig_migration_namespace }}-log-reader-rhel8@sha256
        - name: MIGRATION_REGISTRY_REPO
          value: {{ mig_migration_namespace }}-registry-rhel8@sha256
        - name: MIGRATION_REGISTRY_TAG
          value: 78e0cdca846377254eee0d571fbf897416843947b744a53bdd81758b0b5c5377
        - name: VELERO_REPO
          value: {{ mig_migration_namespace }}-velero-rhel8@sha256
        - name: VELERO_PLUGIN_REPO
          value: openshift-velero-plugin-rhel8@sha256
        - name: VELERO_RESTIC_RESTORE_HELPER_REPO
          value: {{ mig_migration_namespace }}-velero-restic-restore-helper-rhel8@sha256
        - name: VELERO_AWS_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-aws-rhel8@sha256
        - name: VELERO_GCP_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-gcp-rhel8@sha256
        - name: VELERO_AZURE_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-microsoft-azure-rhel8@sha256
        - name: VELERO_TAG
          value: 29cfe7d13fea468a43f48e43e4f25e4d5ee168311543e612b9e6f14186c32d28
        - name: VELERO_RESTIC_RESTORE_HELPER_TAG
          value: b1d09e559f07f132cec7a487515be8817331a6812e9b6112280ef8450bde340f
        - name: VELERO_PLUGIN_TAG
          value: 2e59ff364e31b936f7b0e7d82a5424b387d99dbc01441563cb9d98a000c384a4
        - name: VELERO_AWS_PLUGIN_TAG
          value: 7fa461a1c70d9440921fa0a985752f4cd792138b1da3186a9e7a2978b64c0d2b
        - name: VELERO_GCP_PLUGIN_TAG
          value: 664b0108e0646a96bbc4aca4a8bfded8a96d19c04746f781e2a8cdf4841aad78
        - name: VELERO_AZURE_PLUGIN_TAG
          value: 54edc07003bb9f38006cfad81991c2e30d255047f4bd8214d93b65e4e68ece00
        - name: MIG_UI_TAG
          value: 83f4b7bcc386e22163852b5a0468329c54f5881dcc7cfd041e8d153355652de7
        - name: MIG_CONTROLLER_TAG
          value: 1555fb0a34359a384fabab72566db2008c877f1f85c3e9cecc2ec336d544b293
        - name: MIG_LOG_READER_TAG
          value: ffbcecbc4f5818616a41feaed4ae23dd0d1d7a3301f634e89f8781c6ba7cffc9
      volumes:
        - name: runner
          emptyDir: {}
