---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/node-selector: ""
  labels:
    control-plane: controller-manager
    controller-tools.k8s.io: "1.0"
    openshift.io/cluster-monitoring: "true"
  name: "{{ mig_migration_namespace }}"
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows deploymentconfigs in this namespace to rollout
      pods in this namespace.  It is auto-managed by a controller; remove subjects
      to disable.
  name: system:deployers
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:deployer
subjects:
- kind: ServiceAccount
  name: deployer
  namespace: {{ mig_migration_namespace }}
userNames:
- system:serviceaccount:{{ mig_migration_namespace }}:deployer
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows builds in this namespace to push images to this
      namespace.  It is auto-managed by a controller; remove subjects to disable.
  name: system:image-builders
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:image-builder
subjects:
- kind: ServiceAccount
  name: builder
  namespace: {{ mig_migration_namespace }}
userNames:
- system:serviceaccount:{{ mig_migration_namespace }}:builder
---
apiVersion: rbac.authorization.k8s.io/v1beta1
groupNames:
- system:serviceaccounts:{{ mig_migration_namespace }}
kind: RoleBinding
metadata:
  annotations:
    openshift.io/description: Allows all pods in this namespace to pull images from
      this namespace.  It is auto-managed by a controller; remove subjects to disable.
  creationTimestamp: null
  name: system:image-pullers
  namespace: {{ mig_migration_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:image-puller
subjects:
- kind: Group
  name: system:serviceaccounts:{{ mig_migration_namespace }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: migrationcontrollers.migration.openshift.io
spec:
  group: migration.openshift.io
  names:
    kind: MigrationController
    listKind: MigrationControllerList
    plural: migrationcontrollers
    singular: migrationcontroller
  scope: Namespaced
  subresources:
    status: {}
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  creationTimestamp: null
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - services
  - endpoints
  - persistentvolumeclaims
  - events
  - configmaps
  - secrets
  verbs:
  - '*'
- apiGroups:
  - apps
  resources:
  - deployments
  - daemonsets
  - replicasets
  - statefulsets
  verbs:
  - '*'
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - apps
  resourceNames:
  - mig-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - migration.openshift.io
  resources:
  - '*'
  verbs:
  - '*'
---
kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
subjects:
- kind: ServiceAccount
  name: migration-operator
roleRef:
  kind: Role
  name: migration-operator
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: migration-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: migration-operator
    namespace: "{{ mig_migration_namespace }}"
namespace: "{{ mig_migration_namespace }}"
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: migration-operator
  namespace: "{{ mig_migration_namespace }}"
  labels:
    app: migration
spec:
  selector:
    matchLabels:
      app: migration
  template:
    metadata:
      labels:
        app: migration
    spec:
      serviceAccountName: migration-operator
      containers:
      - name: ansible
        command:
        - /usr/local/bin/ao-logs
        - /tmp/ansible-operator/runner
        - stdout
        image: registry.redhat.io/rhcam-1-2/{{ mig_migration_namespace }}-rhel7-operator:v1.2
        imagePullPolicy: Always
        volumeMounts:
        - mountPath: /tmp/ansible-operator/runner
          name: runner
          readOnly: true
      - name: operator
        image: registry.redhat.io/rhcam-1-2/{{ mig_migration_namespace }}-rhel7-operator:v1.2
        imagePullPolicy: Always
        volumeMounts:
        - mountPath: /tmp/ansible-operator/runner
          name: runner
        env:
        - name: OPERATOR_NAME
          value: migration-operator
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: REGISTRY
          value: registry.redhat.io
        - name: PROJECT
          value: rhcam-1-2
        - name: HOOK_RUNNER_REPO
          value: {{ mig_migration_namespace }}-hook-runner-rhel7@sha256
        - name: HOOK_RUNNER_TAG
          value: 86a048f0ee9726b4331d10190dc5851330b66c0326d94652ac07f33a501ae323
        - name: MIG_CONTROLLER_REPO
          value: {{ mig_migration_namespace }}-controller-rhel8@sha256
        - name: MIG_UI_REPO
          value: {{ mig_migration_namespace }}-ui-rhel8@sha256
        - name: MIGRATION_REGISTRY_REPO
          value: {{ mig_migration_namespace }}-registry-rhel8@sha256
        - name: MIGRATION_REGISTRY_TAG
          value: 37536b4487d3668a7105737695a0651e6be64720bc72a69da74153a8443ac9e1
        - name: VELERO_REPO
          value: {{ mig_migration_namespace }}-velero-rhel8@sha256
        - name: VELERO_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-plugin-rhel8@sha256
        - name: VELERO_RESTIC_RESTORE_HELPER_REPO
          value: {{ mig_migration_namespace }}-velero-restic-restore-helper-rhel8@sha256
        - name: VELERO_AWS_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-aws-rhel8@sha256
        - name: VELERO_GCP_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-gcp-rhel8@sha256
        - name: VELERO_AZURE_PLUGIN_REPO
          value: {{ mig_migration_namespace }}-velero-plugin-for-microsoft-azure-rhel8@sha256
        - name: VELERO_TAG
          value: 461ea0c165ed525d4276056f6aab879dcf011facb00e94acc88ae6e9f33f1637
        - name: VELERO_RESTIC_RESTORE_HELPER_TAG
          value: 356e8d9dede186325e3e4f8700cbde7121b6c4dc35c0099b8337c6cfb83049d8
        - name: VELERO_PLUGIN_TAG
          value: 7b6aa42f4428ab744e354c4095afae460b6e5e4e868969a14b4d1aec541a946a
        - name: VELERO_AWS_PLUGIN_TAG
          value: bfda4f3c7f95993b5f9dace49856b124505e72bd87d42a50918f4194b7e6d7f0
        - name: VELERO_GCP_PLUGIN_TAG
          value: fa6c5c8dc38b8965dd9eedb9c2a86dc9a8441cb280392961a1b8b42379648014
        - name: VELERO_AZURE_PLUGIN_TAG
          value: c8b0fb034244ef9598703ec9534ecfb5c97cff42157d2571eab382bdb1aeb5a2
        - name: MIG_UI_TAG
          value: 6abfaea8ac04e3b5bbf9648a3479b420b4baec35201033471020c9cae1fe1e11
        - name: MIG_CONTROLLER_TAG
          value: 35c9a554de83d7dc9c560936c297085bbf05b08202885337addb1e4151b40d40
      volumes:
        - name: runner
          emptyDir: {}
