apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  annotations:
    app.openshift.io/connects-to: |
      [{"apiVersion":"apps/v1","kind":"Deployment","name":"{{ ocp4_workload_ama_demo_app_services_inventory_service_name }}"}]
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_catalog_service_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_catalog_app_name }}
    app.openshift.io/runtime: spring
  name: {{ ocp4_workload_ama_demo_app_services_catalog_service_name }}
spec:
  replicas: {{ ocp4_workload_ama_demo_app_services_catalog_service_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_catalog_service_name }}
      app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_catalog_app_name }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_catalog_service_name }}
        app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_catalog_app_name }}
    spec:
      containers:
        - image:  {{ ocp4_workload_ama_demo_app_services_catalog_service_image }}
          imagePullPolicy: IfNotPresent
          name: {{ ocp4_workload_ama_demo_app_services_catalog_service_name }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources: {}
          env:
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_catalog_db_name }}
                  key: database-user
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_catalog_db_name }}
                  key: database-password
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_catalog_db_name }}
                  key: database-name            
            - name: JAVA_OPTIONS
              value: -Dspring.profiles.active=openshift
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://{{ ocp4_workload_ama_demo_app_services_catalog_db_name }}:5432/${POSTGRESQL_DATABASE}
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_catalog_db_name }}
                  key: database-user
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_catalog_db_name }}
                  key: database-password
            - name: INVENTORY_URL
              value: {{ ocp4_workload_ama_demo_app_services_inventory_service_name }}:8080
      serviceAccountName: {{ ocp4_workload_ama_demo_app_services_catalog_app_name }}
      serviceAccount: {{ ocp4_workload_ama_demo_app_services_catalog_app_name }}
