kind: Deployment
apiVersion: apps/v1
metadata:
  name: infinispan-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: infinispan-operator-alm-owned
  template:
    metadata:
      name: infinispan-operator-alm-owned
      creationTimestamp: null
      labels:
        name: infinispan-operator-alm-owned
      annotations:
        tectonic-visibility: ocs
        certified: 'false'
        olm.targetNamespaces: {{ _namespace }}
        repository: 'https://github.com/infinispan/infinispan-operator'
        support: 'Red Hat, Inc.'
        alm-examples: |
          [
            {
              "apiVersion": "infinispan.org/v1",
              "kind": "Infinispan",
              "metadata": {
                "name": "example-infinispan"
              },
              "spec": {
                "replicas": 1
              }
            }
          ]
        capabilities: Basic Install
        olm.operatorNamespace: {{ _namespace }}
        containerImage: 'registry.redhat.io/jboss-datagrid-7-tech-preview/datagrid-operator:1.0'
        createdAt: '2019-07-16 10:30:00'
        categories: Database
        description: Create and manage Red Hat Data Grid clusters.
        olm.operatorGroup: {{ _namespace }}
    spec:
      containers:
        - resources: {}
          terminationMessagePath: /dev/termination-log
          name: infinispan-operator
          command:
            - infinispan-operator
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: 'metadata.annotations[''olm.targetNamespaces'']'
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: infinispan-operator
            - name: DEFAULT_IMAGE
              value: 'registry.redhat.io/jboss-datagrid-7/datagrid73-openshift:latest'
            - name: APP_USER
              value: USERNAME
            - name: APP_PASS
              value: PASSWORD
            - name: MGMT_USER
              value: ADMIN_USERNAME
            - name: MGMT_PASS
              value: ADMIN_PASSWORD
            - name: ENTRY_POINT_ARGS
              value: '[]'
            - name: PROBES
              value: >-
                {"readiness": "/opt/datagrid/bin/readinessProbe.sh", "liveness":
                "/opt/datagrid/bin/livenessProbe.sh"}
            - name: ADDITIONAL_VARS
              value: '["IMAGE","NUMBER_OF_INSTANCE", "HOTROD_AUTHENTICATION"]'
            - name: VOLUME_MOUNTS
              value: >-
                [{"MountPath": "/opt/datagrid/standalone/data", "Name":
                "srv-data"},{"MountPath": "/var/run/secrets/java.io/keystores",
                "Name": "keystore-volume"},{"MountPath":
                "/var/run/secrets/openshift.io/serviceaccount", "Name":
                "services-certs"}]
            - name: VOLUME_KEYSTORE_NAME
              value: keystore-volume
            - name: VOLUME_SECRET_NAME
              value: service-certs
            - name: VOLUME_CLAIMS
              value: >-
                [{"metadata": {"Name": "srv-data"}, "Spec":{"AccessModes":
                ["ReadWriteOnce"], "Resources": {"Requests": {"storage":
                "1Gi"}}}}]
            - name: IMAGE
              value: 'registry.redhat.io/jboss-datagrid-7/datagrid73-openshift:latest'
            - name: CLI_CMD
              value: /opt/datagrid/bin/cli.sh
            - name: HOTROD_AUTHENTICATION
              value: 'true'
          ports:
            - name: metrics
              containerPort: 60000
              protocol: TCP
          imagePullPolicy: IfNotPresent
          terminationMessagePolicy: File
          image: >-
            registry.redhat.io/jboss-datagrid-7-tech-preview/datagrid-operator:1.0
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      serviceAccountName: infinispan-operator
      serviceAccount: infinispan-operator
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
