[all:vars]
{# ###########################################################################
### Ansible Vars
########################################################################### #}
timeout=60
ansible_become=yes
ansible_user={{remote_user}}

[all:children]
support
windows
{# # These are the supporthosts #}

[support]
{% for host in groups['support'] %}
support{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

[windows]
{# # These are the activedirectory servers #}
{% for host in groups['activedirectories'] %}
ad{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host=ad{{loop.index}}.{{subdomain_base}} ansible_password={{hostvars[host]['ansible_password']}}
{% endfor %}

[windows:vars]
ansible_connection=winrm
ansible_user=Administrator
ansible_winrm_server_cert_validation=ignore
ansible_become=false
