apiVersion: v1
kind: Secret
metadata:
  name: vault-auth-secret
  namespace: {{ ocp4_workload_gitops_vault_namespace }}
  annotations:
    kubernetes.io/service-account.name: vault-auth
type: kubernetes.io/service-account-token