---
apiVersion: aap.ansible.com/v1alpha1
kind: AnsibleAutomationPlatform
metadata:
  name: {{ ocp4_workload_ansible_automation_platform_app_name }}
  namespace: {{ ocp4_workload_ansible_automation_platform_project }}
spec:
  replicas: 1
