---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ ocp4_workload_ansible_automation_platform_app_name }}-admin-password"
  namespace: {{ ocp4_workload_ansible_automation_platform_project }}
label_selectors:
  - "app.kubernetes.io/name={{ ocp4_workload_ansible_automation_platform_project }}"
data:
    password: {{ ocp4_workload_ansible_automation_platform_admin_password | b64encode }}
