---
apiVersion: automationcontroller.ansible.com/v1beta1
kind: AutomationController
metadata:
  name: {{ ocp4_workload_ansible_automation_platform_app_name }}
  namespace: {{ ocp4_workload_ansible_automation_platform_project }}
spec:
  replicas: 1
