apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: deployment-check-{{ item.name }}
  namespace: {{ ocp4_workload_rhacs_demo_pipeline_namespace }}
spec:
  params:
    - name: yaml
      value: "{{ item.yaml | b64encode }}"
  pipelineRef:
    name: rox-deploy-pipeline
  workspaces:
  - name: files
    volumeClaimTemplate:
      spec:
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: 1Gi
