apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: rox-pipeline-test-{{ item.name }}
  namespace: {{ ocp4_workload_rhacs_demo_pipeline_namespace }}
spec:
  pipelineRef:
    name: rox-pipeline
  params:
  - name: image
    value: "{{ item.image }}"
