apiVersion: demos.redhat.com/v1
kind: Demo
metadata:
  labels:
    app.kubernetes.io/created-by: demo-provisioner-operator
    app.kubernetes.io/instance: demo-sample
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: demo
    app.kubernetes.io/part-of: demo-provisioner-operator
  name: demo-getting-started-ocp
  namespace: demo-provisioner-operator-system
spec:
  agnosticD:
    branch: "{{ scm_ref }}"
    repo: 'https://github.com/redhat-cop/agnosticd.git'
  name: Getting started with Openshift (ARO)
  extraVars:
    output_dir: "/tmp"
    num_users: {{ num_users }}
    ocp4_workload_generate_kubeconfig_openshift_username: kubeadmin
    ocp4_workload_generate_kubeconfig_openshift_password: "{{ az_aro4_kubeadmin_password.stdout }}"
    ocp4_workload_generate_kubeconfig_openshift_api_url: "{{ az_aro4_public_api_url }}"
    guid: "{{ guid | default(omit) }}"
    ocp_username: kubeadmin