---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
  namespace: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
    spec:
      containers:
      - capabilities: {}
        env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
        image: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_image }}:{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_tag }}"
        imagePullPolicy: IfNotPresent
        livenessProbe:
          initialDelaySeconds: 30
          tcpSocket:
            port: 6379
          timeoutSeconds: 1
        name: redis
        ports:
        - containerPort: 6379
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - test "$(redis-cli -h 127.0.0.1 -a $REDIS_PASSWORD ping)" == "PONG"
          initialDelaySeconds: 5
          timeoutSeconds: 1
        resources:
          requests:
            memory: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_memory }}"
          limits:
            memory: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_memory }}"
        securityContext:
          capabilities: {}
          privileged: false
        terminationMessagePath: /dev/termination-log
        volumeMounts:
        - mountPath: /var/lib/redis/data
          name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}-data"
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      volumes:
      - name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}-data"
        persistentVolumeClaim:
          claimName: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
