---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    template.openshift.io/expose-password: '{.data[''database-password'']}'
  name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
  namespace: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_namespace }}"
stringData:
  database-password: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_password }}"
