apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: amqstreams-{{ _namespace }}-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_amqstreams_operator_namespace }}
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  selector:
    matchLabels:
      app: amqstreams-{{ _namespace }}-{{ cluster.name }}