version: 2
services:
  {{ item }}:
    container_name: {{ item }}
    hostname: {{ item }}
    restart: always
    image: {{ eda_pods_on_bastion_eda_image }}
    working_dir: /mnt
    environment:
      - KUBECONFIG=/mnt/.kubeconfig
      - AC_TOKEN={{ eda_pods_on_bastion_ac_token }}
      - AC_WEB_URL={{ eda_pods_on_bastion_ac_web_url }}
      - OCP_CLIENT_URL=https://mirror.openshift.com/pub/openshift-v4/clients/ocp/{{eda_pods_on_bastion_ocp4_installer_version}}/openshift-client-linux.tar.gz
    command:
      - /bin/bash
      - '-c'
      - |
        ls /mnt/downloads || mkdir downloads
        cd /mnt/downloads
        ls oc || (wget $${OCP_CLIENT_URL} && tar zxvf openshift-client-linux.tar.gz )
        cp oc /opt/app-root/bin
        cd /mnt
        pip3 install -r requirements.txt
        ansible-galaxy collection install -r requirements.yml
        ansible-rulebook -i inventory --rulebook rulebook.yml --verbose --controller-url $${AC_WEB_URL} --controller-token $${AC_TOKEN}
    volumes:
     - '/opt/podman/eda/{{ item }}:/mnt:Z'