apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ ocp4_workload_kasten_sub_name }}
  namespace: {{ ocp4_workload_kasten_namespace }}
spec:
  channel: {{ ocp4_workload_kasten_sub_channel }}
  installPlanApproval: {{ ocp4_workload_kasten_sub_installplan }}
  name: {{ ocp4_workload_kasten_sub_name }}
  source: redhat-marketplace
  sourceNamespace: openshift-marketplace
  