apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/k10-kasten-operator-paygo-rhmp.kasten-io: ''
  name: k10-kasten-operator-paygo-rhmp
  namespace: kasten-io
spec:
  channel: stable
  installPlanApproval: Automatic
  name: k10-kasten-operator-paygo-rhmp
  source: redhat-marketplace
  sourceNamespace: openshift-marketplace
  startingCSV: k10-kasten-operator-paygo-rhmp.v6.0.4