apiVersion: gpte.opentlc.com/v1alpha1
kind: Nexus
metadata:
  name: "{{ ocp4_workload_nexus_operator_name }}"
  namespace: "{{ ocp4_workload_nexus_operator_project }}"
spec:
  nexusImage: "{{ ocp4_workload_nexus_operator_nexus_image }}"
  nexusImageTag: "{{ ocp4_workload_nexus_operator_nexus_image_tag }}"
  nexusVolumeSize: "{{ ocp4_workload_nexus_operator_volume_size }}"

  nexusSsl: "{{ ocp4_workload_nexus_operator_ssl_route }}"
{% if ocp4_workload_nexus_operator_nexus_route | default("") | length > 0 %}  
  nexusRoute: "{{ ocp4_workload_nexus_operator_nexus_route }}"
{% endif %}
{% if ocp4_workload_nexus_operator_registry_route | default("") | length > 0 %}  
  nexusRoute: "{{ ocp4_workload_nexus_operator_registry_route }}"
{% endif %}

  nexusCpuRequest: "{{ ocp4_workload_nexus_operator_cpu_request }}"
  nexusCpuLimit: "{{ ocp4_workload_nexus_operator_cpu_limit }}"
  nexusMemoryRequest: "{{ ocp4_workload_nexus_operator_memory_request }}"
  nexusMemoryLimit: "{{ ocp4_workload_nexus_operator_memory_limit }}"

  nexusNewAdminPassword: "{{ ocp4_workload_nexus_operator_new_admin_password }}"
  nexusEnableAnonymous: "{{ ocp4_workload_nexus_operator_enable_anonymous }}"

  nexusReposDeleteDefault: "{{ ocp4_workload_nexus_operator_repos_delete_default }}"

  nexusReposMavenProxySetup: "{{ ocp4_workload_nexus_operator_repos_maven_proxy_setup }}"
{% if ocp4_workload_nexus_operator_repos_maven_proxy | default("") | length > 0 %}
  nexusReposMavenProxy: "{{ ocp4_workload_nexus_operator_repos_maven_proxy }}"
{% endif %}

  nexusReposMavenHostedSetup: "{{ ocp4_workload_nexus_operator_repos_maven_hosted_setup }}"
{% if ocp4_workload_nexus_operator_repos_maven_hosted | default("") | length > 0 %}
  nexusReposMavenHosted: "{{ ocp4_workload_nexus_operator_repos_maven_hosted }}"
{% endif %}

  nexusReposMavenGroupSetup: "{{ ocp4_workload_nexus_operator_repos_maven_group_setup }}"
{% if ocp4_workload_nexus_operator_repos_maven_group | default("") | length > 0 %}
  nexusReposMavenGroup: "{{ ocp4_workload_nexus_operator_repos_maven_group }}"
{% endif %}

  nexusReposDockerHostedSetup: "{{ ocp4_workload_nexus_operator_repos_docker_hosted_setup }}"
{% if ocp4_workload_nexus_operator_repos_docker_hosted | default("") | length > 0 %}
  nexusReposDockerHosted: "{{ ocp4_workload_nexus_operator_repos_docker_hosted }}"
{% endif %}

  nexusReposNpmProxySetup: "{{ ocp4_workload_nexus_operator_repos_npm_proxy_setup }}"
{% if ocp4_workload_nexus_operator_repos_npm_proxy | default("") | length > 0 %}
  nexusReposNpmProxy: "{{ ocp4_workload_nexus_operator_repos_npm_proxy }}"
{% endif %}

  nexusReposNpmGroupSetup: "{{ ocp4_workload_nexus_operator_repos_npm_group_setup }}"
{% if ocp4_workload_nexus_operator_repos_npm_group | default("") | length > 0 %}
  nexusReposNpmGroup: "{{ ocp4_workload_nexus_operator_repos_npm_group }}"
{% endif %}
