---
apiVersion: {{ ocp4_workload_mta_tackle_api_version }}
kind: Tackle
metadata:
  name: tackle
  namespace: "{{ _ocp4_workload_mta_tackle_namespace }}"
spec:
{% if ocp4_workload_mta_tackle_feature_auth_required is defined %}
  feature_auth_required: {{ ocp4_workload_mta_tackle_feature_auth_required }}
{% endif %}
{% if ocp4_workload_mta_tackle_rwx_storage_class | default("") | length > 0 %}
  rwx_storage_class: "{{ ocp4_workload_mta_tackle_rwx_storage_class }}"
{% endif %}
{% if ocp4_workload_mta_tackle_rwo_storage_class | default("") | length > 0 %}
  rwo_storage_class: "{{ ocp4_workload_mta_tackle_rwo_storage_class }}"
{% endif %}
{% if ocp4_workload_mta_tackle_maven_data_volume_size | default("") | length > 0 %}
  maven_data_volume_size: "{{ ocp4_workload_mta_tackle_maven_data_volume_size }}"
{% endif %}
{% if ocp4_workload_mta_tackle_hub_bucket_volume_size | default("") | length > 0 %}
  hub_bucket_volume_size: "{{ ocp4_workload_mta_tackle_hub_bucket_volume_size }}"
{% endif %}
{% if ocp4_workload_mta_tackle_hub_database_volume_size | default("") | length > 0 %}
  hub_database_volume_size: "{{ ocp4_workload_mta_tackle_hub_database_volume_size }}"
{% endif %}
{% if ocp4_workload_mta_tackle_keycloak_database_data_volume_size | default("") | length > 0 %}
  keycloak_database_data_volume_size: "{{ ocp4_workload_mta_tackle_keycloak_database_data_volume_size }}"
{% endif %}
{% if ocp4_workload_mta_tackle_pathfinder_database_data_volume_size | default("") | length > 0 %}
  pathfinder_database_data_volume_size: "{{ ocp4_workload_mta_tackle_pathfinder_database_data_volume_size }}"
{% endif %}
