apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  annotations:
    olm.providedAPIs: Install.v1alpha1.tekton.dev
  name: openshift-pipelines-group
  namespace: "{{ _pipelines_project }}"
spec:
  targetNamespaces:
  - "{{ _pipelines_project }}"