apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_app_name }}
    app.openshift.io/runtime: quarkus
spec:
  replicas: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}
      app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_app_name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}
        app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_app_name }}
    spec:
      serviceAccountName: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_app_name }}
      containers:
        - name: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}
          image: "{{ ocp4_workload_ama_demo_app_services_recommendation_engine_image }}"
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /q/health/live
              port: http
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /q/health/ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
          resources:
            limits:
              memory: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_resources_memory_limit }}
            requests:
              cpu: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_resources_cpu_request }}
              memory: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_resources_memory_request }}
          volumeMounts:
            - mountPath: /deployments/config
              name: config
      volumes:
        - name: config
          secret:
            secretName: {{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}
