# This is a system-wide configuration file used to
# keep track of registries for various container backends.
# It adheres to TOML format and does not support recursive
# lists of registries.

# The default location for this configuration file is /etc/containers/registries.conf.

# The only valid categories are: 'registries.search', 'registries.insecure',
# and 'registries.block'.

[registries.search]
{% if repo_method == "satellite" %}
registries = ['{{satellite_url}}:5000']
{% else %}
registries = ['registry.redhat.io']
{% endif %}

# If you need to access insecure registries, add the registry's fully-qualified name.
# An insecure registry is one that does not have a valid SSL certificate or only does HTTP.
[registries.insecure]
{% if repo_method == "satellite" %}
registries = ['172.30.0.0/16', '{{satellite_url}}:5000']
{% else %}
registries = ['172.30.0.0/16']
{% endif %}

# If you need to block pull access from a registry, uncomment the section below
# and add the registries fully-qualified name.
#
# Docker only
[registries.block]
registries = []
