apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ _appSet }}-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_quay_registry_gitops_namespace }}
spec:
  generators:
    - clusterDecisionResource:
        configMapRef: acm-placement
        labelSelector:
          matchLabels:
            cluster.open-cluster-management.io/placement: {{ _appSet }}-{{ cluster.name }}
        requeueAfterSeconds: 30
  template:
    metadata:
      name: {{ _appSet }}-{{ '{{name}}' }}
      labels:
        velero.io/exclude-from-backup: "true"
    spec:
      destination:
        namespace: {{ _namespace }}
        server: "{{ '{{server}}' }}"
      project: default
      source:
        helm:
{% if _appSet == "quay-registry"  %}
          parameters:
            - name: quay.registry.name
              value: {{ ocp4_workload_gitops_quay_registry_name }}
            - name: quay.registry.clair.enabled
              value: "{{ ocp4_workload_gitops_quay_registry_enable_clair }}"
            - name: quay.registry.hpa.enabled
              value: "{{ ocp4_workload_gitops_quay_registry_enable_hpa }}"
            - name: quay.registry.mirror.enabled
              value: "{{ ocp4_workload_gitops_quay_registry_enable_mirror }}"
            - name: quay.registry.monitoring.enabled
              value: "{{ ocp4_workload_gitops_quay_registry_enable_monitoring }}"
            - name: quay.registry.username
              value: {{ ocp4_workload_gitops_quay_registry_admin_user }}
            - name: quay.registry.password
              value: {{ ocp4_workload_gitops_quay_registry_admin_password }}
        path: charts/quay-registry
{% endif %}
{% if _appSet == "quay-operator"  %}
          parameters:
            - name: quay.channel
              value: {{ ocp4_workload_gitops_quay_registry_channel }}
            - name: quay.namespace
              value: {{ ocp4_workload_gitops_quay_registry_operator_namespace }}
            - name: quay.startingCSV
              value: {{ ocp4_workload_gitops_quay_registry_starting_csv }}
            - name: quay.catalogSource.name
              value: {{ ocp4_workload_gitops_quay_registry_catalogsource_name }}
            - name: quay.catalogSource.image
              value: {{ ocp4_workload_gitops_quay_registry_catalogsource_image }}
            - name: quay.catalogSource.imageTag
              value: {{ ocp4_workload_gitops_quay_registry_catalogsource_image_tag }}
        path: charts/quay-operator
{% endif %}
        repoURL: {{ ocp4_workload_gitops_quay_registry_git_repo_url }}
        targetRevision: main
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true