---
apiVersion: argoproj.io/v1beta1
kind: ArgoCD
metadata:
  name: openshift-gitops
  namespace: openshift-gitops
spec:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_rbac_update | default(false) | bool %}
  rbac:
    policy: |
      {{ ocp4_workload_app_connectivity_workshop_openshift_gitops_rbac_policy | indent(6) }}
    scopes: '{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_rbac_scopes | default(omit) }}'
{% endif %}
  applicationSet:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_applicationset_controller_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_applicationset_controller_limits_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_applicationset_controller_limits_memory }}"
      requests:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_applicationset_controller_requests_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_applicationset_controller_requests_memory }}"
{% endif %}
  controller:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_controller_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_controller_limits_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_controller_limits_memory }}"
      requests:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_controller_requests_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_controller_requests_memory }}"
    appSync: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_controller_app_sync }}"
{% endif %}
  dex:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_dex_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_dex_limits_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_dex_limits_memory }}"
      requests:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_dex_requests_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_dex_requests_memory }}"
{% endif %}
  redis:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_redis_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_redis_limits_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_redis_limits_memory }}"
      requests:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_redis_requests_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_redis_requests_memory }}"
{% endif %}
  repo:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_repo_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_repo_limits_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_repo_limits_memory }}"
      requests:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_repo_requests_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_repo_requests_memory }}"
{% endif %}
  server:
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_server_update | default(false) | bool %}
    resources:
      limits:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_server_limits_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_server_limits_memory }}"
      requests:
        cpu: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_server_requests_cpu }}"
        memory: "{{ ocp4_workload_app_connectivity_workshop_openshift_gitops_server_requests_memory }}"
{% endif %}
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_enable_route | bool %}
    route:
      enabled: true
{%   if ocp4_workload_app_connectivity_workshop_openshift_gitops_update_route_tls | bool %}
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect
    insecure: true
{%   endif %}
{%   endif %}
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_resource_customizations | length > 0 %}
  extraConfig:
    resource.customizations: | 
      {{ ocp4_workload_app_connectivity_workshop_openshift_gitops_resource_customizations | regex_replace("\n(?!$)", "\n      ") }}
{% endif %}
{% if ocp4_workload_app_connectivity_workshop_openshift_gitops_ignore_differences | length > 0 %}
  resourceIgnoreDifferences:
    {{ ocp4_workload_app_connectivity_workshop_openshift_gitops_ignore_differences | indent(4) }}
{% endif %}
