apiVersion: oauth.openshift.io/v1
kind: OAuthClient
metadata:
  name: "{{ solution_explorer_client_id }}"
  namespace: "{{ solution_explorer_namespace }}"
redirectURIs:
  - "https://{{ webapp_secure_route }}"
grantMethod: auto
