apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: "3scale-amp"
  namespace: "{{ threescale_project }}"
spec:
  wildcardDomain: "{{ route_subdomain }}"
  resourceRequirementsEnabled: false
  system:
    fileStorage:
      simpleStorageService:
        configurationSecretRef:
          name: s3-auth  
