kind: OAuthClient
apiVersion: oauth.openshift.io/v1
metadata:
   name: 3scale
   namespace: default
secret: '{{ threescale_oauthclient_secret }}'
redirectURIs:
   - "https://master.{{ route_subdomain }}/"
grantMethod: prompt
