apiVersion: v1
kind: Secret
metadata:
  name: s3-auth
  namespace: '{{ threescale_project }}'
stringData:
  AWS_ACCESS_KEY_ID: minio
  AWS_SECRET_ACCESS_KEY: minio123
  AWS_BUCKET: 3scale-bucket
  AWS_REGION: us-west-rack2
  AWS_HOSTNAME: minio-{{ threescale_project }}.apps.{{ domain }}:80
  AWS_PATH_STYLE: "true"
  AWS_PROTOCOL: HTTP
type: Opaque
