apiVersion: v1
kind: Secret
metadata:
  name: {{user}}-admin-secret
  namespace: {{ threescale_project }}
type: Opaque
stringData:
  admin_password: {{ocp4_workload_authentication_htpasswd_user_password}}
