---
kind: DeploymentConfig
apiVersion: v1
metadata:
  name: user-registration
  labels:
    app: user-registration
    app.kubernetes.io/component: user-registration
    app.kubernetes.io/instance: user-registration
spec:
  replicas: 1
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
    activeDeadlineSeconds: 21600
  triggers:
    - type: ConfigChange
  selector:
    deploymentconfig: user-registration
  template:
    metadata:
      labels:
        deploymentconfig: user-registration
    spec:
      containers:
        - name: user-registration
          image: quay.io/openshiftlabs/username-distribution:1.4
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: LAB_ADMIN_PASS
              value: {{ registration_admin_password }}
            - name: LAB_DURATION_HOURS
              value: '1week'
            - name: LAB_EXTRA_URLS
              value: ''
            - name: LAB_MODULE_URLS
              value: 'https://{{ webapp_secure_route }};Solution Explorer'
            - name: LAB_REDIS_HOST
              value: redis
            - name: LAB_REDIS_PASS
              value: redis
            - name: LAB_TITLE
              value: {{ registration_title }}
            - name: LAB_USER_ACCESS_TOKEN
              value: {{ registration_user_password }}
            - name: LAB_USER_COUNT
              value: '{{ num_users }}'
            - name: LAB_USER_PAD_ZERO
              value: 'false'
            - name: LAB_USER_PASS
              value: {{ ocp4_workload_authentication_htpasswd_user_password }}
            - name: LAB_USER_PREFIX
              value: user
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
---

kind: Service
apiVersion: v1
metadata:
  name: user-registration
  labels:
    app: user-registration
    app.kubernetes.io/component: user-registration
    app.kubernetes.io/instance: user-registration
spec:
  ports:
    - name: 8080-tcp
      protocol: TCP
      port: 8080
      targetPort: 8080
  internalTrafficPolicy: Cluster
  type: ClusterIP
  ipFamilyPolicy: SingleStack
  sessionAffinity: None
  selector:
    deploymentconfig: user-registration

---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: user-registration
  labels:
    app: user-registration
spec:
  to:
    kind: Service
    name: user-registration
    weight: 100
  port:
    targetPort: 8080-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Allow
