[GenericExample:vars]

###########################################################################
### Ansible Vars
###########################################################################
[all:vars]
ansible_become=true
admin_password="{{tower_admin_password}}"

pg_host='support1.{{chomped_zone_internal_dns}}'
pg_port='5432'

pg_database='awx'
pg_username='awx'
pg_password="{{tower_admin_password}}"

rabbitmq_port=5672
rabbitmq_vhost=tower

rabbitmq_username=tower
rabbitmq_password="{{tower_admin_password}}"
rabbitmq_cookie=cookiemonster

rabbitmq_use_long_name=true

[GenericExample:children]
# These
tower
database

[tower]
## These are the towers
{% for host in groups['towers'] %}
tower{{loop.index}}.{{chomped_zone_internal_dns}} public_host_name=tower{{loop.index}}.{{ guid }}{{subdomain_base_suffix}} ssh_host={{host}}
{% endfor %}

## These are the supporthosts
[database]
support1.{{chomped_zone_internal_dns}}
