vms:
- name: "Bastion Host"
  tag: "bastion"
  description: "Bastion Host\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "bastion-REPL.rhpds.opentlc.com"
  - "bastion.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:52"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.10"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.10"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.10"
    name: "ssh"
    portRange: "22"
    protocol: "SSH"
  supportsCloudInit: true
  keypairName: "opentlc-admin-backdoor"
  configurationManagement:
    configNetworkUsingCloudInit: false
    userData: "\
      \#cloud-config\n\
      \ssh_pwauth: False\n\
      \disable_root: True\n\
      \users:\n\
      \  - name: cloud-user\n\
      \    sudo: ALL=(ALL) NOPASSWD:ALL\n\
      \    lock_passwd: False\n\
      \    ssh_authorized_keys:\n\
      \      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtvaLoe0MKKmW4qRR2hSuTW3+Q2fU6Xl9gPIqrkj+SkZNw2tg4mkE0XS/Y5IoGB2pzFUQhWMoh4w22+/HKiVr2n15BNUUl8RXRHVOnau0lYiPB6Z+3d5WWJMeR08mLQU94MZuewgwycDtrfwgOLLEjvpkGDef65Bof2Goi8ufGUGp5/NZnBOSpdv2gRkaYyKDsTEpC8YsUivcnlhwPLWiFyGvCrHAAYnyIkVJ7oKXH4aSnDQMFpIVmntVlgkbOtUsghgm8uf35aLY+Pv2N+BOaSrDA8lkAstQoR37PXbHXV0wogCVPrqUaJEhOM+faI+K+LkkVvPhH2AUByvteAWcD\n\
      \chpasswd:\n\
      \  list: |\n\
      \    cloud-user:***REMOVED***\n\
      \  expire: False\n\
      \runcmd:\n\
      \  - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config\n\
      \  - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config\n\
      \  - systemctl restart sshd\n"
- name: "Web Server1"
  tag: "web_server"
  description: "Web Server1\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "www1-REPL.rhpds.opentlc.com"
  - "www1.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:53"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.20"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.20"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.20"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairName: "opentlc-admin-backdoor"
  configurationManagement:
    configNetworkUsingCloudInit: false
    userData: "\
      \#cloud-config\n\
      \ssh_pwauth: False\n\
      \disable_root: True\n\
      \users:\n\
      \  - name: cloud-user\n\
      \    sudo: ALL=(ALL) NOPASSWD:ALL\n\
      \    lock_passwd: False\n\
      \    ssh_authorized_keys:\n\
      \      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtvaLoe0MKKmW4qRR2hSuTW3+Q2fU6Xl9gPIqrkj+SkZNw2tg4mkE0XS/Y5IoGB2pzFUQhWMoh4w22+/HKiVr2n15BNUUl8RXRHVOnau0lYiPB6Z+3d5WWJMeR08mLQU94MZuewgwycDtrfwgOLLEjvpkGDef65Bof2Goi8ufGUGp5/NZnBOSpdv2gRkaYyKDsTEpC8YsUivcnlhwPLWiFyGvCrHAAYnyIkVJ7oKXH4aSnDQMFpIVmntVlgkbOtUsghgm8uf35aLY+Pv2N+BOaSrDA8lkAstQoR37PXbHXV0wogCVPrqUaJEhOM+faI+K+LkkVvPhH2AUByvteAWcD\n\
      \chpasswd:\n\
      \  list: |\n\
      \    cloud-user:***REMOVED***\n\
      \  expire: False\n\
      \runcmd:\n\
      \  - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config\n\
      \  - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config\n\
      \  - systemctl restart sshd\n"
- name: "Web Server2"
  tag: "web_server"
  description: "Web Server2\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "www2-REPL.rhpds.opentlc.com"
  - "www2.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:54"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.21"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.21"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.21"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairName: "opentlc-admin-backdoor"
  configurationManagement:
    configNetworkUsingCloudInit: false
    userData: "\
      \#cloud-config\n\
      \ssh_pwauth: False\n\
      \disable_root: True\n\
      \users:\n\
      \  - name: cloud-user\n\
      \    sudo: ALL=(ALL) NOPASSWD:ALL\n\
      \    lock_passwd: False\n\
      \    ssh_authorized_keys:\n\
      \      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtvaLoe0MKKmW4qRR2hSuTW3+Q2fU6Xl9gPIqrkj+SkZNw2tg4mkE0XS/Y5IoGB2pzFUQhWMoh4w22+/HKiVr2n15BNUUl8RXRHVOnau0lYiPB6Z+3d5WWJMeR08mLQU94MZuewgwycDtrfwgOLLEjvpkGDef65Bof2Goi8ufGUGp5/NZnBOSpdv2gRkaYyKDsTEpC8YsUivcnlhwPLWiFyGvCrHAAYnyIkVJ7oKXH4aSnDQMFpIVmntVlgkbOtUsghgm8uf35aLY+Pv2N+BOaSrDA8lkAstQoR37PXbHXV0wogCVPrqUaJEhOM+faI+K+LkkVvPhH2AUByvteAWcD\n\
      \chpasswd:\n\
      \  list: |\n\
      \    cloud-user:***REMOVED***\n\
      \  expire: False\n\
      \runcmd:\n\
      \  - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config\n\
      \  - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config\n\
      \  - systemctl restart sshd\n"
