---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: 'true'
  name: {{ ocp4_workload_dm7_exp_elt_dm_ks_route }}
spec:
  port:
    targetPort: http
  tls:
    termination: edge
  to:
    kind: Service
    name: {{ ocp4_workload_dm7_exp_elt_dm_ks_service }}
    weight: 100
  wildcardPolicy: None
