adal
ansible==2.9.27
appdirs
applicationinsights
argcomplete
asciitree
attrs
autopage
awscli
azure-cli-core
azure-cli-nspkg
azure-cli-telemetry
azure-common
azure-core
azure-graphrbac
azure-keyvault
azure-keyvault-certificates
azure-keyvault-keys
azure-keyvault-secrets
azure-mgmt-authorization
azure-mgmt-automation
azure-mgmt-batch
azure-mgmt-cdn
azure-mgmt-compute
azure-mgmt-containerinstance
azure-mgmt-containerregistry
azure-mgmt-containerservice
azure-mgmt-core
azure-mgmt-cosmosdb
azure-mgmt-devtestlabs
azure-mgmt-dns
azure-mgmt-hdinsight
azure-mgmt-iothub
azure-mgmt-keyvault
azure-mgmt-loganalytics
azure-mgmt-marketplaceordering
azure-mgmt-monitor
azure-mgmt-network
azure-mgmt-nspkg
azure-mgmt-rdbms
azure-mgmt-redis
azure-mgmt-resource
azure-mgmt-servicebus
azure-mgmt-sql
azure-mgmt-trafficmanager
azure-mgmt-web
azure-nspkg
azure-storage
Babel
bcrypt
boto
boto3
botocore
cachetools
certifi
cffi
chardet
click
cliff
cmd2
colorama
configparser
cryptography
debtcollector
decorator
distro
dnspython
docutils
dogpile.cache
fabric
google-auth
humanfriendly
idna
importlib-metadata
importlib-resources
iniconfig
invoke
ipaddress
iso8601
isodate
Jinja2
jmespath
jsonpatch
jsonpointer
jsonschema
keepercommander
keystoneauth1
knack
kubernetes
libkeepass
lxml
MarkupSafe
msal
msgpack
msrest
msrestazure
munch
netaddr
netifaces
oauthlib
openshift
openstacksdk
os-client-config
os-service-types
osc-lib
oslo.config
oslo.context
oslo.i18n
oslo.log
oslo.serialization
oslo.utils
packaging
packet-python
paramiko
pathlib2
pathspec
pbr
pkginfo
pluggy
portalocker
prettytable
prompt-toolkit
protobuf
psutil
py
pyasn1
pyasn1-modules
pycparser
pycryptodome
pycryptodomex
Pygments
pyinotify
PyJWT
PyNaCl
pyOpenSSL
pyparsing
pyperclip
pyrsistent
PySocks
pytest
python-cinderclient
python-dateutil
python-glanceclient
python-heatclient
python-keystoneclient
python-logstash
python-neutronclient
python-novaclient
python-openstackclient
python-string-utils
python-swiftclient
pytz
PyYAML
requests
requests-oauthlib
requestsexceptions
rfc3986
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
selinux
simplejson
six
stevedore
tabulate
toml
typing-extensions
unicodecsv
urllib3
warlock
wcwidth
websocket-client
wrapt
xmltodict
yamllint
zipp

