---
apiVersion: v1
kind: Secret
metadata:
  name: {{ mssql_secret_name }}
  namespace: {{ mssql_namespace }}
  labels:
    app: {{ mssql_app_name }}
stringData:
  mssql-password: {{ mssql_sa_password }}
