---
apiVersion: v1
kind: Service
metadata:
 name: {{ mssql_service_name }}
 namespace: {{ mssql_namespace }}
spec:
 selector:
   app: {{ mssql_app_name }}
 ports:
   - protocol: TCP
     nodePort: {{ mssql_service_node_port }}
     port: {{ mssql_port }}
     targetPort: {{ mssql_port }}
 type: LoadBalancer
