apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: "{{ _haproxy_project }}"
  annotations:
    openshift.io/display-name: "{{ _haproxy_project_display }}"
spec:
  finalizers:
  - kubernetes
