apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ _haproxy_name }}"
  name: "{{ _haproxy_name }}"
  namespace: "{{ _haproxy_project }}"
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: "{{ _haproxy_name }}"
  sessionAffinity: None
  type: ClusterIP
