      metadata:
        name: eap-realm
        namespace: rhbk
        labels:
          app: sso
      spec:
        keycloakCRName: eap-keycloak
        realm: 
          id: 3281aec3-38e4-4598-be50-559467497096
          realm: eap
          notBefore: 0
          defaultSignatureAlgorithm: RS256
          revokeRefreshToken: false
          refreshTokenMaxReuse: 0
          accessTokenLifespan: 300
          accessTokenLifespanForImplicitFlow: 900
          ssoSessionIdleTimeout: 1800
          ssoSessionMaxLifespan: 36000
          ssoSessionIdleTimeoutRememberMe: 0
          ssoSessionMaxLifespanRememberMe: 0
          offlineSessionIdleTimeout: 2592000
          offlineSessionMaxLifespanEnabled: false
          offlineSessionMaxLifespan: 5184000
          clientSessionIdleTimeout: 0
          clientSessionMaxLifespan: 0
          clientOfflineSessionIdleTimeout: 0
          clientOfflineSessionMaxLifespan: 0
          accessCodeLifespan: 60
          accessCodeLifespanUserAction: 300
          accessCodeLifespanLogin: 1800
          actionTokenGeneratedByAdminLifespan: 43200
          actionTokenGeneratedByUserLifespan: 300
          oauth2DeviceCodeLifespan: 600
          oauth2DevicePollingInterval: 5
          enabled: true
          sslRequired: external
          registrationAllowed: false
          registrationEmailAsUsername: false
          rememberMe: false
          verifyEmail: false
          loginWithEmailAllowed: true
          duplicateEmailsAllowed: false
          resetPasswordAllowed: false
          editUsernameAllowed: false
          bruteForceProtected: false
          permanentLockout: false
          maxFailureWaitSeconds: 900
          minimumQuickLoginWaitSeconds: 60
          waitIncrementSeconds: 60
          quickLoginCheckMilliSeconds: 1000
          maxDeltaTimeSeconds: 43200
          failureFactor: 30
          roles:
            realm:
              - id: 076cf426-a861-4600-9881-8d6c0ad65c84
                name: default-roles-eap-realm
                description: ${role_default-roles}
                composite: true
                composites:
                  realm:
                    - offline_access
                    - uma_authorization
                  client:
                    account:
                      - view-profile
                      - manage-account
                clientRole: false
                containerId: 3281aec3-38e4-4598-be50-559467497096
                attributes: {}
              - id: 5f30ba7f-41bb-4d4b-9291-5f5a46cd7203
                name: offline_access
                description: ${role_offline-access}
                composite: false
                clientRole: false
                containerId: 3281aec3-38e4-4598-be50-559467497096
                attributes: {}
              - id: 87a1e2f5-36f4-4269-8ff7-48ca3cf150b8
                name: uma_authorization
                description: ${role_uma_authorization}
                composite: false
                clientRole: false
                containerId: 3281aec3-38e4-4598-be50-559467497096
                attributes: {}
            client:
              realm-management:
                - id: 6526d99e-f549-4c8f-852f-5b44baf2b147
                  name: query-clients
                  description: ${role_query-clients}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 8149c8a4-3af0-4b58-8d03-043a77a930da
                  name: view-events
                  description: ${role_view-events}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 4890c9b3-66c9-4b58-bbfa-98a922c41658
                  name: manage-clients
                  description: ${role_manage-clients}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 17a84153-161c-4421-a4ca-2455cc9fbe29
                  name: manage-users
                  description: ${role_manage-users}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 04b2b8bc-8910-4531-a596-79506d6b4922
                  name: view-clients
                  description: ${role_view-clients}
                  composite: true
                  composites:
                    client:
                      realm-management:
                        - query-clients
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 9fbf11f4-6290-4ed6-a399-ea25df089057
                  name: manage-events
                  description: ${role_manage-events}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 65f3e540-437a-4c04-9793-3dac74bcf6a1
                  name: view-authorization
                  description: ${role_view-authorization}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 7d681b1b-80f8-4e37-9e9f-973aa68dd378
                  name: query-realms
                  description: ${role_query-realms}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: cbbf6bea-d141-4b4d-973d-e9394733f020
                  name: view-users
                  description: ${role_view-users}
                  composite: true
                  composites:
                    client:
                      realm-management:
                        - query-users
                        - query-groups
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: f73a225e-436b-4f87-b6f7-f93ed37b3264
                  name: query-users
                  description: ${role_query-users}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 05d63a3f-cbd1-4501-9f32-42883d9bface
                  name: impersonation
                  description: ${role_impersonation}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 313e585a-6ffe-48e1-bfc0-62b9b6802bb0
                  name: manage-realm
                  description: ${role_manage-realm}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: db6cd765-885f-4856-bb53-b81fd9745a29
                  name: view-realm
                  description: ${role_view-realm}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 5697f8db-16c7-4151-83e8-5fd58b2d9f52
                  name: manage-identity-providers
                  description: ${role_manage-identity-providers}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 4177bf54-3e09-46fe-9186-7bad9a7a3d7e
                  name: create-client
                  description: ${role_create-client}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 1c9598ae-2e30-4642-8de2-295a3f84ba96
                  name: manage-authorization
                  description: ${role_manage-authorization}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 4ecbb1bf-eb79-4c52-91c1-5cc7482c0481
                  name: view-identity-providers
                  description: ${role_view-identity-providers}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: e4259aa0-7b7d-4fe7-b86e-09a97f049478
                  name: query-groups
                  description: ${role_query-groups}
                  composite: false
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
                - id: 95d5c4b0-aa92-4b62-b7bb-5d184e413984
                  name: realm-admin
                  description: ${role_realm-admin}
                  composite: true
                  composites:
                    client:
                      realm-management:
                        - query-clients
                        - view-events
                        - manage-users
                        - manage-clients
                        - view-clients
                        - view-authorization
                        - manage-events
                        - query-realms
                        - view-users
                        - query-users
                        - impersonation
                        - manage-realm
                        - view-realm
                        - manage-identity-providers
                        - manage-authorization
                        - create-client
                        - view-identity-providers
                        - query-groups
                  clientRole: true
                  containerId: 8066a947-30b9-43df-85f8-c0a2b5b3589c
                  attributes: {}
              eap-app: []
              security-admin-console: []
              admin-cli: []
              account-console: []
              broker:
                - id: 7dd5ae48-aa96-4f5d-aeda-bca1bf738ea0
                  name: read-token
                  description: ${role_read-token}
                  composite: false
                  clientRole: true
                  containerId: 9bc07367-a403-4d87-9b46-f988ec7a292f
                  attributes: {}
              account:
                - id: 4efd8baf-d7d6-440f-aa58-7f3537e8a0de
                  name: view-consent
                  description: ${role_view-consent}
                  composite: false
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: 16a53772-24b7-4275-a0cc-83bc7a90945e
                  name: view-groups
                  description: ${role_view-groups}
                  composite: false
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: 987ae770-a8dd-4138-95ac-74a10a3e88b5
                  name: view-profile
                  description: ${role_view-profile}
                  composite: false
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: 8337852b-ed45-49bb-93bf-3ed6a075333c
                  name: manage-account
                  description: ${role_manage-account}
                  composite: true
                  composites:
                    client:
                      account:
                        - manage-account-links
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: b22491e8-4e53-4d43-a07e-9083a2b5de7e
                  name: delete-account
                  description: ${role_delete-account}
                  composite: false
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: 5a539b81-4cc6-4cf5-909e-e3be2edb2911
                  name: manage-account-links
                  description: ${role_manage-account-links}
                  composite: false
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: 234ca10d-7a7c-4511-a5ee-6eaf21609796
                  name: view-applications
                  description: ${role_view-applications}
                  composite: false
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
                - id: b00981ca-c8a6-406c-9f86-635f2bbf95f7
                  name: manage-consent
                  description: ${role_manage-consent}
                  composite: true
                  composites:
                    client:
                      account:
                        - view-consent
                  clientRole: true
                  containerId: ff20cc26-13ef-4406-bb0b-7593cda851fc
                  attributes: {}
          groups: []
          defaultRole:
            id: 076cf426-a861-4600-9881-8d6c0ad65c84
            name: default-roles-eap-realm
            description: ${role_default-roles}
            composite: true
            clientRole: false
            containerId: 3281aec3-38e4-4598-be50-559467497096
          requiredCredentials:
            - password
          otpPolicyType: totp
          otpPolicyAlgorithm: HmacSHA1
          otpPolicyInitialCounter: 0
          otpPolicyDigits: 6
          otpPolicyLookAheadWindow: 1
          otpPolicyPeriod: 30
          otpPolicyCodeReusable: false
          otpSupportedApplications:
            - totpAppGoogleName
            - totpAppMicrosoftAuthenticatorName
            - totpAppFreeOTPName
          webAuthnPolicyRpEntityName: keycloak
          webAuthnPolicySignatureAlgorithms:
            - ES256
          webAuthnPolicyRpId: ""
          webAuthnPolicyAttestationConveyancePreference: not specified
          webAuthnPolicyAuthenticatorAttachment: not specified
          webAuthnPolicyRequireResidentKey: not specified
          webAuthnPolicyUserVerificationRequirement: not specified
          webAuthnPolicyCreateTimeout: 0
          webAuthnPolicyAvoidSameAuthenticatorRegister: false
          webAuthnPolicyAcceptableAaguids: []
          webAuthnPolicyPasswordlessRpEntityName: keycloak
          webAuthnPolicyPasswordlessSignatureAlgorithms:
            - ES256
          webAuthnPolicyPasswordlessRpId: ""
          webAuthnPolicyPasswordlessAttestationConveyancePreference: not specified
          webAuthnPolicyPasswordlessAuthenticatorAttachment: not specified
          webAuthnPolicyPasswordlessRequireResidentKey: not specified
          webAuthnPolicyPasswordlessUserVerificationRequirement: not specified
          webAuthnPolicyPasswordlessCreateTimeout: 0
          webAuthnPolicyPasswordlessAvoidSameAuthenticatorRegister: false
          webAuthnPolicyPasswordlessAcceptableAaguids: []
          scopeMappings:
            - clientScope: offline_access
              roles:
                - offline_access
          clientScopeMappings:
            account:
              - client: account-console
                roles:
                  - manage-account
                  - view-groups
          clients:
            - id: ff20cc26-13ef-4406-bb0b-7593cda851fc
              clientId: account
              name: ${client_account}
              rootUrl: ${authBaseUrl}
              baseUrl: /realms/eap-realm/account/
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris:
                - /realms/eap-realm/account/*
              webOrigins: []
              notBefore: 0
              bearerOnly: false
              consentRequired: false
              standardFlowEnabled: true
              implicitFlowEnabled: false
              directAccessGrantsEnabled: false
              serviceAccountsEnabled: false
              publicClient: true
              frontchannelLogout: false
              protocol: openid-connect
              attributes:
                post.logout.redirect.uris: +
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: false
              nodeReRegistrationTimeout: 0
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
            - id: d3eb2cbb-1a90-4655-8f66-491b04aace5f
              clientId: account-console
              name: ${client_account-console}
              rootUrl: ${authBaseUrl}
              baseUrl: /realms/eap-realm/account/
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris:
                - /realms/eap-realm/account/*
              webOrigins: []
              notBefore: 0
              bearerOnly: false
              consentRequired: false
              standardFlowEnabled: true
              implicitFlowEnabled: false
              directAccessGrantsEnabled: false
              serviceAccountsEnabled: false
              publicClient: true
              frontchannelLogout: false
              protocol: openid-connect
              attributes:
                post.logout.redirect.uris: +
                pkce.code.challenge.method: S256
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: false
              nodeReRegistrationTimeout: 0
              protocolMappers:
                - id: 31515993-b517-4b5b-ad6c-dfbeb3746271
                  name: audience resolve
                  protocol: openid-connect
                  protocolMapper: oidc-audience-resolve-mapper
                  consentRequired: false
                  config: {}
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
            - id: 144cc708-3c43-4940-96e3-724596560b7d
              clientId: admin-cli
              name: ${client_admin-cli}
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris: []
              webOrigins: []
              notBefore: 0
              bearerOnly: false
              consentRequired: false
              standardFlowEnabled: false
              implicitFlowEnabled: false
              directAccessGrantsEnabled: true
              serviceAccountsEnabled: false
              publicClient: true
              frontchannelLogout: false
              protocol: openid-connect
              attributes: {}
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: false
              nodeReRegistrationTimeout: 0
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
            - id: 9bc07367-a403-4d87-9b46-f988ec7a292f
              clientId: broker
              name: ${client_broker}
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris: []
              webOrigins: []
              notBefore: 0
              bearerOnly: true
              consentRequired: false
              standardFlowEnabled: true
              implicitFlowEnabled: false
              directAccessGrantsEnabled: false
              serviceAccountsEnabled: false
              publicClient: false
              frontchannelLogout: false
              protocol: openid-connect
              attributes: {}
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: false
              nodeReRegistrationTimeout: 0
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
            - id: 5d034d95-5a5c-4cb2-9792-7deffbfe1fe8
              clientId: eap-app
              name: eap-app
              description: ""
              rootUrl: ""
              adminUrl: ""
              baseUrl: ""
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris:
                - '*'
              webOrigins:
                - '*'
              notBefore: 0
              bearerOnly: false
              consentRequired: false
              standardFlowEnabled: true
              implicitFlowEnabled: false
              directAccessGrantsEnabled: true
              serviceAccountsEnabled: false
              publicClient: true
              frontchannelLogout: true
              protocol: openid-connect
              attributes:
                oidc.ciba.grant.enabled: "false"
                oauth2.device.authorization.grant.enabled: "false"
                display.on.consent.screen: "false"
                backchannel.logout.session.required: "true"
                backchannel.logout.revoke.offline.tokens: "false"
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: true
              nodeReRegistrationTimeout: -1
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
            - id: 8066a947-30b9-43df-85f8-c0a2b5b3589c
              clientId: realm-management
              name: ${client_realm-management}
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris: []
              webOrigins: []
              notBefore: 0
              bearerOnly: true
              consentRequired: false
              standardFlowEnabled: true
              implicitFlowEnabled: false
              directAccessGrantsEnabled: false
              serviceAccountsEnabled: false
              publicClient: false
              frontchannelLogout: false
              protocol: openid-connect
              attributes: {}
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: false
              nodeReRegistrationTimeout: 0
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
            - id: 1a9f56b1-3580-4e4f-ba99-1697ae44e132
              clientId: security-admin-console
              name: ${client_security-admin-console}
              rootUrl: ${authAdminUrl}
              baseUrl: /admin/eap-realm/console/
              surrogateAuthRequired: false
              enabled: true
              alwaysDisplayInConsole: false
              clientAuthenticatorType: client-secret
              redirectUris:
                - /admin/eap-realm/console/*
              webOrigins:
                - +
              notBefore: 0
              bearerOnly: false
              consentRequired: false
              standardFlowEnabled: true
              implicitFlowEnabled: false
              directAccessGrantsEnabled: false
              serviceAccountsEnabled: false
              publicClient: true
              frontchannelLogout: false
              protocol: openid-connect
              attributes:
                post.logout.redirect.uris: +
                pkce.code.challenge.method: S256
              authenticationFlowBindingOverrides: {}
              fullScopeAllowed: false
              nodeReRegistrationTimeout: 0
              protocolMappers:
                - id: 40613963-15e2-4ac6-b047-4a193e9f6024
                  name: locale
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: locale
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: locale
                    jsonType.label: String
              defaultClientScopes:
                - web-origins
                - acr
                - roles
                - profile
                - email
              optionalClientScopes:
                - address
                - phone
                - offline_access
                - microprofile-jwt
          clientScopes:
            - id: 231dd2b8-3812-4f40-a042-f202357f724a
              name: email
              description: 'OpenID Connect built-in scope: email'
              protocol: openid-connect
              attributes:
                include.in.token.scope: "true"
                display.on.consent.screen: "true"
                consent.screen.text: ${emailScopeConsentText}
              protocolMappers:
                - id: 381250d2-1883-46a8-a16a-91b47a8554b9
                  name: email verified
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-property-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: emailVerified
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: email_verified
                    jsonType.label: boolean
                - id: 4fb0aa52-f9b8-4038-98ce-727d0e256198
                  name: email
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: email
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: email
                    jsonType.label: String
            - id: a9151143-87e1-442d-9895-49020dc9e4bf
              name: roles
              description: OpenID Connect scope for add user roles to the access token
              protocol: openid-connect
              attributes:
                include.in.token.scope: "false"
                display.on.consent.screen: "true"
                consent.screen.text: ${rolesScopeConsentText}
              protocolMappers:
                - id: 63533647-67cf-4a2b-bcab-36d6a05a9186
                  name: client roles
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-client-role-mapper
                  consentRequired: false
                  config:
                    user.attribute: foo
                    access.token.claim: "true"
                    claim.name: resource_access.${client_id}.roles
                    jsonType.label: String
                    multivalued: "true"
                - id: b490a699-d1cb-4991-b629-b5c11d9d7c0a
                  name: realm roles
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-realm-role-mapper
                  consentRequired: false
                  config:
                    user.attribute: foo
                    access.token.claim: "true"
                    claim.name: realm_access.roles
                    jsonType.label: String
                    multivalued: "true"
                - id: becfb9df-6c35-45d9-a911-cc4982a8d5de
                  name: audience resolve
                  protocol: openid-connect
                  protocolMapper: oidc-audience-resolve-mapper
                  consentRequired: false
                  config: {}
            - id: c50e9bcb-bfbe-462b-87b7-548d9e379d10
              name: role_list
              description: SAML role list
              protocol: saml
              attributes:
                consent.screen.text: ${samlRoleListScopeConsentText}
                display.on.consent.screen: "true"
              protocolMappers:
                - id: c8c03024-5398-4e54-ad78-371bd0c63f24
                  name: role list
                  protocol: saml
                  protocolMapper: saml-role-list-mapper
                  consentRequired: false
                  config:
                    single: "false"
                    attribute.nameformat: Basic
                    attribute.name: Role
            - id: bf4865c0-3623-461b-b32f-2a747315398f
              name: profile
              description: 'OpenID Connect built-in scope: profile'
              protocol: openid-connect
              attributes:
                include.in.token.scope: "true"
                display.on.consent.screen: "true"
                consent.screen.text: ${profileScopeConsentText}
              protocolMappers:
                - id: f507df1e-50e8-4146-b0b5-55c5ea9f8e78
                  name: middle name
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: middleName
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: middle_name
                    jsonType.label: String
                - id: aea41ae6-d16b-4c15-9bae-e247efaac6be
                  name: locale
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: locale
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: locale
                    jsonType.label: String
                - id: 00c4795d-452c-4169-a290-8e6a42e1d927
                  name: nickname
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: nickname
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: nickname
                    jsonType.label: String
                - id: ecc1e001-1d3b-4dcb-acd2-43f9c1577b8f
                  name: picture
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: picture
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: picture
                    jsonType.label: String
                - id: 72f2b6e6-d395-4f69-b9cf-eae33aa1c10e
                  name: family name
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: lastName
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: family_name
                    jsonType.label: String
                - id: 7072c49f-629e-4387-acf5-ead6c14a3fea
                  name: gender
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: gender
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: gender
                    jsonType.label: String
                - id: 086be0e1-51ea-4bb9-bcc9-10ec6caba152
                  name: given name
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: firstName
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: given_name
                    jsonType.label: String
                - id: 770d634e-76b2-40a8-beb9-074ebc1a1ead
                  name: username
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: username
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: preferred_username
                    jsonType.label: String
                - id: 8de18c9b-88fb-416d-83c1-1269329a73eb
                  name: zoneinfo
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: zoneinfo
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: zoneinfo
                    jsonType.label: String
                - id: 0fe64522-752f-4f39-8be7-44c109b8f094
                  name: birthdate
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: birthdate
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: birthdate
                    jsonType.label: String
                - id: 19fb3191-c73d-4247-a0b8-ab6271062997
                  name: full name
                  protocol: openid-connect
                  protocolMapper: oidc-full-name-mapper
                  consentRequired: false
                  config:
                    id.token.claim: "true"
                    access.token.claim: "true"
                    userinfo.token.claim: "true"
                - id: f996cacd-f64d-4599-9940-ac2e5d333766
                  name: updated at
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: updatedAt
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: updated_at
                    jsonType.label: long
                - id: 822d0040-faea-48bd-b174-94c8f4ec0420
                  name: profile
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: profile
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: profile
                    jsonType.label: String
                - id: 50633b34-adf0-487f-a52b-670379913b7d
                  name: website
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: website
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: website
                    jsonType.label: String
            - id: 99fb328d-0515-4090-b821-3b15773eb94d
              name: address
              description: 'OpenID Connect built-in scope: address'
              protocol: openid-connect
              attributes:
                include.in.token.scope: "true"
                display.on.consent.screen: "true"
                consent.screen.text: ${addressScopeConsentText}
              protocolMappers:
                - id: 085a464b-3176-4810-a65a-b51130016deb
                  name: address
                  protocol: openid-connect
                  protocolMapper: oidc-address-mapper
                  consentRequired: false
                  config:
                    user.attribute.formatted: formatted
                    user.attribute.country: country
                    user.attribute.postal_code: postal_code
                    userinfo.token.claim: "true"
                    user.attribute.street: street
                    id.token.claim: "true"
                    user.attribute.region: region
                    access.token.claim: "true"
                    user.attribute.locality: locality
            - id: d2f317e7-0f55-4186-bfa1-3c431963e90e
              name: phone
              description: 'OpenID Connect built-in scope: phone'
              protocol: openid-connect
              attributes:
                include.in.token.scope: "true"
                display.on.consent.screen: "true"
                consent.screen.text: ${phoneScopeConsentText}
              protocolMappers:
                - id: e0d7f23d-cf68-415f-a348-e69679cccc6c
                  name: phone number verified
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: phoneNumberVerified
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: phone_number_verified
                    jsonType.label: boolean
                - id: 5c3f28b2-749a-4876-873b-03494abab950
                  name: phone number
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: phoneNumber
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: phone_number
                    jsonType.label: String
            - id: 2bd2f803-8883-48d8-9d44-29450c8754dc
              name: acr
              description: OpenID Connect scope for add acr (authentication context class reference) to the token
              protocol: openid-connect
              attributes:
                include.in.token.scope: "false"
                display.on.consent.screen: "false"
              protocolMappers:
                - id: 940af90b-37e2-4db1-84a5-897762228be0
                  name: acr loa level
                  protocol: openid-connect
                  protocolMapper: oidc-acr-mapper
                  consentRequired: false
                  config:
                    id.token.claim: "true"
                    access.token.claim: "true"
            - id: 686c8f3a-6d45-4456-ac36-ddc53534ff33
              name: web-origins
              description: OpenID Connect scope for add allowed web origins to the access token
              protocol: openid-connect
              attributes:
                include.in.token.scope: "false"
                display.on.consent.screen: "false"
                consent.screen.text: ""
              protocolMappers:
                - id: 68d2ad88-a515-4444-93b9-ace51935276e
                  name: allowed web origins
                  protocol: openid-connect
                  protocolMapper: oidc-allowed-origins-mapper
                  consentRequired: false
                  config: {}
            - id: ed2c94ce-4291-400e-b2d3-072c1863bd2c
              name: offline_access
              description: 'OpenID Connect built-in scope: offline_access'
              protocol: openid-connect
              attributes:
                consent.screen.text: ${offlineAccessScopeConsentText}
                display.on.consent.screen: "true"
            - id: 728da134-7f5f-46ce-a0d7-2833f692cb88
              name: microprofile-jwt
              description: Microprofile - JWT built-in scope
              protocol: openid-connect
              attributes:
                include.in.token.scope: "true"
                display.on.consent.screen: "false"
              protocolMappers:
                - id: 4107a2ee-7c46-4ab6-b183-7a5b98f6923e
                  name: upn
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-attribute-mapper
                  consentRequired: false
                  config:
                    userinfo.token.claim: "true"
                    user.attribute: username
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: upn
                    jsonType.label: String
                - id: 643d53ad-cb94-4ab7-a4a7-9745e40bb9bc
                  name: groups
                  protocol: openid-connect
                  protocolMapper: oidc-usermodel-realm-role-mapper
                  consentRequired: false
                  config:
                    multivalued: "true"
                    user.attribute: foo
                    id.token.claim: "true"
                    access.token.claim: "true"
                    claim.name: groups
                    jsonType.label: String
          defaultDefaultClientScopes:
            - role_list
            - profile
            - email
            - roles
            - web-origins
            - acr
          defaultOptionalClientScopes:
            - offline_access
            - address
            - phone
            - microprofile-jwt
          browserSecurityHeaders:
            contentSecurityPolicyReportOnly: ""
            xContentTypeOptions: nosniff
            referrerPolicy: no-referrer
            xRobotsTag: none
            xFrameOptions: SAMEORIGIN
            contentSecurityPolicy: frame-src 'self'; frame-ancestors 'self'; object-src 'none';
            xXSSProtection: 1; mode=block
            strictTransportSecurity: max-age=31536000; includeSubDomains
          smtpServer: {}
          eventsEnabled: false
          eventsListeners:
            - jboss-logging
          enabledEventTypes: []
          adminEventsEnabled: false
          adminEventsDetailsEnabled: false
          identityProviders: []
          identityProviderMappers: []
          components:
            org.keycloak.services.clientregistration.policy.ClientRegistrationPolicy:
              - id: 858bff6a-2ece-485c-92a6-661af083afa0
                name: Max Clients Limit
                providerId: max-clients
                subType: anonymous
                subComponents: {}
                config:
                  max-clients:
                    - "200"
              - id: b5e0a0b8-55e5-4c80-974b-18cf526120a1
                name: Allowed Client Scopes
                providerId: allowed-client-templates
                subType: anonymous
                subComponents: {}
                config:
                  allow-default-scopes:
                    - "true"
              - id: 0930260f-dd1c-484c-be1d-b1113e218284
                name: Trusted Hosts
                providerId: trusted-hosts
                subType: anonymous
                subComponents: {}
                config:
                  host-sending-registration-request-must-match:
                    - "true"
                  client-uris-must-match:
                    - "true"
              - id: c1e58a55-446c-450c-b868-8344cd0cf091
                name: Consent Required
                providerId: consent-required
                subType: anonymous
                subComponents: {}
                config: {}
              - id: aa1be39f-495f-4cf8-9c1d-ffe07d46311f
                name: Allowed Protocol Mapper Types
                providerId: allowed-protocol-mappers
                subType: anonymous
                subComponents: {}
                config:
                  allowed-protocol-mapper-types:
                    - saml-role-list-mapper
                    - oidc-usermodel-attribute-mapper
                    - oidc-sha256-pairwise-sub-mapper
                    - oidc-address-mapper
                    - oidc-usermodel-property-mapper
                    - saml-user-attribute-mapper
                    - oidc-full-name-mapper
                    - saml-user-property-mapper
              - id: 9ee23d0b-ec9c-424c-b092-72c634201fc9
                name: Allowed Client Scopes
                providerId: allowed-client-templates
                subType: authenticated
                subComponents: {}
                config:
                  allow-default-scopes:
                    - "true"
              - id: 7eb50f75-bb07-4d78-ade8-494cb4e25707
                name: Full Scope Disabled
                providerId: scope
                subType: anonymous
                subComponents: {}
                config: {}
              - id: 4068b88e-17ee-4360-badc-78b2f2249462
                name: Allowed Protocol Mapper Types
                providerId: allowed-protocol-mappers
                subType: authenticated
                subComponents: {}
                config:
                  allowed-protocol-mapper-types:
                    - oidc-usermodel-property-mapper
                    - oidc-full-name-mapper
                    - saml-user-property-mapper
                    - oidc-sha256-pairwise-sub-mapper
                    - oidc-usermodel-attribute-mapper
                    - saml-role-list-mapper
                    - saml-user-attribute-mapper
                    - oidc-address-mapper
            org.keycloak.keys.KeyProvider:
              - id: f40159fa-c6c0-497a-bf61-0874decb884a
                name: aes-generated
                providerId: aes-generated
                subComponents: {}
                config:
                  priority:
                    - "100"
              - id: 7c5d1004-7577-4fce-b360-b51195fe567e
                name: hmac-generated
                providerId: hmac-generated
                subComponents: {}
                config:
                  priority:
                    - "100"
                  algorithm:
                    - HS256
              - id: dc853b2a-d6c4-4b71-b0c8-2b220680cc0b
                name: rsa-generated
                providerId: rsa-generated
                subComponents: {}
                config:
                  priority:
                    - "100"
              - id: e3f51b85-2986-4268-a4de-2678d3c85b3c
                name: rsa-enc-generated
                providerId: rsa-enc-generated
                subComponents: {}
                config:
                  priority:
                    - "100"
                  algorithm:
                    - RSA-OAEP
          internationalizationEnabled: false
          supportedLocales: []
          authenticationFlows:
            - id: bf516572-8bd7-4e2e-9378-154910157203
              alias: Account verification options
              description: Method with which to verity the existing account
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: idp-email-verification
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: ALTERNATIVE
                  priority: 20
                  autheticatorFlow: true
                  flowAlias: Verify Existing Account by Re-authentication
                  userSetupAllowed: false
            - id: 2c1fc5f0-6a1f-4ddc-84a9-5176f7cc7dd2
              alias: Browser - Conditional OTP
              description: Flow to determine if the OTP is required for the authentication
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: conditional-user-configured
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: auth-otp-form
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: 3b077197-a215-406f-95e6-4985ddbdcb0b
              alias: Direct Grant - Conditional OTP
              description: Flow to determine if the OTP is required for the authentication
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: conditional-user-configured
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: direct-grant-validate-otp
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: 5719e2d1-dfb0-4404-be6c-889d97f4ec85
              alias: First broker login - Conditional OTP
              description: Flow to determine if the OTP is required for the authentication
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: conditional-user-configured
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: auth-otp-form
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: 53199544-6745-4a21-a77a-bec41750bdd0
              alias: Handle Existing Account
              description: Handle what to do if there is existing account with same email/username like authenticated identity provider
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: idp-confirm-link
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: true
                  flowAlias: Account verification options
                  userSetupAllowed: false
            - id: fb109fd5-0674-44a8-8a8d-d0f8ea4cfd1c
              alias: Reset - Conditional OTP
              description: Flow to determine if the OTP should be reset or not. Set to REQUIRED to force.
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: conditional-user-configured
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: reset-otp
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: 9290b800-6abe-46af-bb70-71e000376496
              alias: User creation or linking
              description: Flow for the existing/non-existing user alternatives
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticatorConfig: create unique user config
                  authenticator: idp-create-user-if-unique
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: ALTERNATIVE
                  priority: 20
                  autheticatorFlow: true
                  flowAlias: Handle Existing Account
                  userSetupAllowed: false
            - id: 08e91101-340f-4864-a15b-d946a1fbfecb
              alias: Verify Existing Account by Re-authentication
              description: Reauthentication of existing account
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: idp-username-password-form
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: CONDITIONAL
                  priority: 20
                  autheticatorFlow: true
                  flowAlias: First broker login - Conditional OTP
                  userSetupAllowed: false
            - id: f54f5534-a0dd-448f-aae9-b9f7ab5bbc8e
              alias: browser
              description: browser based authentication
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: auth-cookie
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: auth-spnego
                  authenticatorFlow: false
                  requirement: DISABLED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: identity-provider-redirector
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 25
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: ALTERNATIVE
                  priority: 30
                  autheticatorFlow: true
                  flowAlias: forms
                  userSetupAllowed: false
            - id: a55169ef-ca6f-4eb6-9d07-4ef62bd24250
              alias: clients
              description: Base authentication for clients
              providerId: client-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: client-secret
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: client-jwt
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: client-secret-jwt
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 30
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: client-x509
                  authenticatorFlow: false
                  requirement: ALTERNATIVE
                  priority: 40
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: e7979e00-11c3-4711-8df7-921e6e83f32e
              alias: direct grant
              description: OpenID Connect Resource Owner Grant
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: direct-grant-validate-username
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: direct-grant-validate-password
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: CONDITIONAL
                  priority: 30
                  autheticatorFlow: true
                  flowAlias: Direct Grant - Conditional OTP
                  userSetupAllowed: false
            - id: 66a8f7cf-e0b7-40f3-82ec-a782adfe43a0
              alias: docker auth
              description: Used by Docker clients to authenticate against the IDP
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: docker-http-basic-authenticator
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: b6dce81c-1ed6-4186-a547-368fc09d38cf
              alias: first broker login
              description: Actions taken after first broker login with identity provider account, which is not yet linked to any Keycloak account
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticatorConfig: review profile config
                  authenticator: idp-review-profile
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: true
                  flowAlias: User creation or linking
                  userSetupAllowed: false
            - id: edf27687-9fa0-4dea-9eb1-e5c0e22d79fe
              alias: forms
              description: Username, password, otp and other auth forms.
              providerId: basic-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: auth-username-password-form
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: CONDITIONAL
                  priority: 20
                  autheticatorFlow: true
                  flowAlias: Browser - Conditional OTP
                  userSetupAllowed: false
            - id: 4db59627-cbff-496b-b490-4dc09316f9e5
              alias: registration
              description: registration flow
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: registration-page-form
                  authenticatorFlow: true
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: true
                  flowAlias: registration form
                  userSetupAllowed: false
            - id: 153c775e-5abc-4c2c-ae4e-ee2ac1fcc519
              alias: registration form
              description: registration form
              providerId: form-flow
              topLevel: false
              builtIn: true
              authenticationExecutions:
                - authenticator: registration-user-creation
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: registration-profile-action
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 40
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: registration-password-action
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 50
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: registration-recaptcha-action
                  authenticatorFlow: false
                  requirement: DISABLED
                  priority: 60
                  autheticatorFlow: false
                  userSetupAllowed: false
            - id: a6c58941-3773-4d5d-ac80-b24c8d17e322
              alias: reset credentials
              description: Reset credentials for a user if they forgot their password or something
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: reset-credentials-choose-user
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: reset-credential-email
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 20
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticator: reset-password
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 30
                  autheticatorFlow: false
                  userSetupAllowed: false
                - authenticatorFlow: true
                  requirement: CONDITIONAL
                  priority: 40
                  autheticatorFlow: true
                  flowAlias: Reset - Conditional OTP
                  userSetupAllowed: false
            - id: 73d4b42a-12ed-4f59-887f-c40253bcb68b
              alias: saml ecp
              description: SAML ECP Profile Authentication Flow
              providerId: basic-flow
              topLevel: true
              builtIn: true
              authenticationExecutions:
                - authenticator: http-basic-authenticator
                  authenticatorFlow: false
                  requirement: REQUIRED
                  priority: 10
                  autheticatorFlow: false
                  userSetupAllowed: false
          authenticatorConfig:
            - id: 01687510-3664-4f77-b3df-9fe00ffe2d5c
              alias: create unique user config
              config:
                require.password.update.after.registration: "false"
            - id: 23a3f3c3-e754-4aca-8301-0184253febd3
              alias: review profile config
              config:
                update.profile.on.first.login: missing
          requiredActions:
            - alias: CONFIGURE_TOTP
              name: Configure OTP
              providerId: CONFIGURE_TOTP
              enabled: true
              defaultAction: false
              priority: 10
              config: {}
            - alias: TERMS_AND_CONDITIONS
              name: Terms and Conditions
              providerId: TERMS_AND_CONDITIONS
              enabled: false
              defaultAction: false
              priority: 20
              config: {}
            - alias: UPDATE_PASSWORD
              name: Update Password
              providerId: UPDATE_PASSWORD
              enabled: true
              defaultAction: false
              priority: 30
              config: {}
            - alias: UPDATE_PROFILE
              name: Update Profile
              providerId: UPDATE_PROFILE
              enabled: true
              defaultAction: false
              priority: 40
              config: {}
            - alias: VERIFY_EMAIL
              name: Verify Email
              providerId: VERIFY_EMAIL
              enabled: true
              defaultAction: false
              priority: 50
              config: {}
            - alias: delete_account
              name: Delete Account
              providerId: delete_account
              enabled: false
              defaultAction: false
              priority: 60
              config: {}
            - alias: webauthn-register
              name: Webauthn Register
              providerId: webauthn-register
              enabled: true
              defaultAction: false
              priority: 70
              config: {}
            - alias: webauthn-register-passwordless
              name: Webauthn Register Passwordless
              providerId: webauthn-register-passwordless
              enabled: true
              defaultAction: false
              priority: 80
              config: {}
            - alias: update_user_locale
              name: Update User Locale
              providerId: update_user_locale
              enabled: true
              defaultAction: false
              priority: 1000
              config: {}
          browserFlow: browser
          registrationFlow: registration
          directGrantFlow: direct grant
          resetCredentialsFlow: reset credentials
          clientAuthenticationFlow: clients
          dockerAuthenticationFlow: docker auth
          attributes:
            cibaBackchannelTokenDeliveryMode: poll
            cibaExpiresIn: "120"
            cibaAuthRequestedUserHint: login_hint
            oauth2DeviceCodeLifespan: "600"
            oauth2DevicePollingInterval: "5"
            parRequestUriLifespan: "60"
            cibaInterval: "5"
            realmReusableOtpCode: "false"
          keycloakVersion: 22.0.9.redhat-00002
          userManagedAccessAllowed: false
          clientProfiles:
            profiles: []
          clientPolicies:
            policies: []
          users:
{% for item in users %}
          - id: eb4123a3-b722-4798-9af5-{{item}}
            username: {{item}}
            enabled: true
            totp: false
            emailVerified: false
            credentials:
            - type: password
              hashedSaltedValue: 5Mhqu6I43dSlDqVzpbv5yVjMYrTKOY4mbTwJu+1B0SA=
              salt: rkNa/C8CumJNCka2cm5FtQ==
              hashIterations: 27500
              counter: 0
              algorithm: pbkdf2-sha256
              digits: 0
              period: 0
              createdDate: 1554245879116
              config: {}
            disableableCredentialTypes:
            - password
            requiredActions: []
            realmRoles:
            - user
            notBefore: 0
            groups: []
{% endfor %}