apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ ocp4_workload_lpe_fuse_camelk_integration }}
  name: {{ ocp4_workload_lpe_fuse_camelk_integration }}
  namespace: {{ ocp4_workload_lpe_fuse_camelk_project }}
spec:
  selector:
    camel.apache.org/integration: {{ ocp4_workload_lpe_fuse_camelk_integration }}
  ports:
  - name: http
    port: 80
    targetPort: http
  sessionAffinity: None
  type: NodePort