apiVersion: camel.apache.org/v1
kind: IntegrationPlatform
metadata:
  name: camel-k
  labels:
    app: camel-k
  namespace: {{ ocp4_workload_lpe_fuse_camelk_project }}
{% if ocp4_workload_lpe_fuse_camelk_runtime is defined and ocp4_workload_lpe_fuse_camelk_runtime|length %}
spec:
  build:
    runtimeVersion: {{ ocp4_workload_lpe_fuse_camelk_runtime }}
  kamelet: {}
  profile: Openshift
  resources: {}
{% endif %}