---
apiVersion: v1
kind: Secret
metadata:
  name: registry-credentials
  namespace: {{ ocp4_workload_lpe_fuse_project }}
stringData:
  .dockerconfigjson: '{{ ocp4_token }}'
type: kubernetes.io/dockerconfigjson
