apiVersion: v1
imagePullSecrets:
- name: registry-credentials
kind: ServiceAccount
metadata:
  name: {{ item }}
  namespace: {{ ocp4_workload_lpe_fuse_project }}
{% if item == 'builder' %}
secrets:
- name: registry-credentials
{% endif %}
