kind: Syndesis
apiVersion: syndesis.io/v1beta3
metadata:
  name: app
  namespace: {{ ocp4_workload_lpe_fuse_project }}
spec:
  addons:
    jaeger:
      enabled: true
    ops:
      enabled: true
    publicApi:
      enabled: true
    todo:
      enabled: true
status: {}
