apiVersion: gpte.opentlc.com/v1alpha1
kind: Nexus
metadata:
  name: "{{ ocp4_workload_nexus_operator_name }}"
  namespace: "{{ ocp4_workload_nexus_operator_project }}"
spec:
  nexusVolumeSize: "{{ ocp4_workload_nexus_operator_volume_size }}"
  nexusSsl: "{{ ocp4_workload_nexus_operator_ssl_route }}"
  nexusImage: "{{ ocp4_workload_nexus_operator_nexus_image }}"
  nexusImageTag: "{{ ocp4_workload_nexus_operator_nexus_image_tag }}"
  nexusCpuRequest: "{{ ocp4_workload_nexus_operator_cpu_request }}"
  nexusCpuLimit: "{{ ocp4_workload_nexus_operator_cpu_limit }}"
  nexusMemoryRequest: "{{ ocp4_workload_nexus_operator_memory_request }}"
  nexusMemoryLimit: "{{ ocp4_workload_nexus_operator_memory_limit }}"
  nexusNewAdminPassword: "{{ ocp4_workload_nexus_operator_new_admin_password }}"
