apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  annotations:
    capacity.cluster-autoscaler.kubernetes.io/labels: kubernetes.io/arch=amd64
    machine.openshift.io/GPU: "1"
    machine.openshift.io/memoryMb: "65536"
    machine.openshift.io/vCPU: "16"
  labels:
    machine.openshift.io/cluster-api-cluster: {{ clusterId }}
  name: {{ clusterId }}-gpu-{{ cloudRegion }}
  namespace: openshift-machine-api
spec:
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ clusterId }}
      machine.openshift.io/cluster-api-machineset: {{ clusterId }}-gpu-{{ cloudAvailabilityZone }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ clusterId }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ clusterId }}-gpu-{{ cloudAvailabilityZone }}
    spec:
      taints:
        - effect: NoSchedule
          key: odh-notebook
          value: 'true'
      lifecycleHooks: {}
      metadata:
        labels:
          node-role.kubernetes.io/odh-notebook: ''
      providerSpec:
        value:
          ami:
            id: {{ instanceAmi }}
          apiVersion: machine.openshift.io/v1beta1
          blockDevices:
          - ebs:
              encrypted: true
              iops: 0
              kmsKey:
                arn: ""
              volumeSize: 120
              volumeType: gp3
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: {{ clusterId }}-worker-profile
          instanceType: g5.2xlarge
          kind: AWSMachineProviderConfig
          metadata:
            creationTimestamp: null
          metadataServiceOptions: {}
          placement:
            availabilityZone: {{ cloudAvailabilityZone }}
            region: {{ cloudRegion }}
          securityGroups: {{ securityGroups | to_json }}
          subnet: {{ subnets | to_json }}
          tags: {{ tags | to_json }}
          userDataSecret:
            name: worker-user-data
