apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewBuild
  creationTimestamp: null
  labels:
    build: jupyter-notebooks
  name: s2i-minimal-notebook
spec:
  lookupPolicy:
    local: false
status:
  dockerImageRepository: ""
