apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewBuild
  creationTimestamp: null
  labels:
    scrapeModelMetrics: "yes"
  name: pipeline
spec:
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: pipeline:latest
  postCommit: {}
  resources:
    limits:
      cpu: 500m
      memory: 3Gi
    requests:
      cpu: 50m
      memory: 256Mi
  source:
    contextDir: source
    git:
      ref: develop
      uri: https://github.com/willb/openshift-ml-workflows-workshop
    type: Git
  strategy:
    sourceStrategy:
      env:
      - name: S2I_SOURCE_NOTEBOOK_LIST
        value: 03-feature-engineering-tfidf.ipynb,04-model-logistic-regression.ipynb
      from:
        kind: ImageStreamTag
        name: simple-model-s2i:latest
        namespace: {{ project_name }}
    type: Source
status:
  lastVersion: 0