{% for item in _ocp4_workload_aro_machinesets %}
---
# aro specific worker machineset for virt roadshow
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ _cluster_id }}
    machine.openshift.io/cluster-api-machine-role: worker
    machine.openshift.io/cluster-api-machine-type: worker
  # name: aro-cluster-zrnsp-67m9b-worker-eastus1-vms
  name: {{ item.name }}
  namespace: openshift-machine-api
spec:
  replicas: {{ item.replicas }}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ _cluster_id }}
      machine.openshift.io/cluster-api-machineset: {{ item.name }}
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: {{ _cluster_id }}
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: {{ item.name }}
    spec:
      lifecycleHooks: {}
      metadata: {}
      providerSpec:
        value:
          acceleratedNetworking: true
          apiVersion: machine.openshift.io/v1beta1
          credentialsSecret:
            name: azure-cloud-credentials
            namespace: openshift-machine-api
          diagnostics: {}
          image:
            # offer: aro4
            offer: {{ ocp4_workload_aro_machineset_azure_image_offer }}
            # publisher: azureopenshift
            publisher: {{ ocp4_workload_aro_machineset_azure_image_publisher }}
            resourceID: ""
            # sku: aro_418
            sku: {{ ocp4_workload_aro_machineset_azure_image_sku }}
            type: MarketplaceNoPlan
            # version: 417.94.20240701
            # version: 418.94.20241122
            version: {{ ocp4_workload_aro_machineset_azure_image_version }}
          kind: AzureMachineProviderSpec
          location: {{ _cluster_location }}
          metadata:
            creationTimestamp: null
          networkResourceGroup: "{{ _network_resource_group }}"
          osDisk:
            diskSettings: {}
            diskSizeGB: 128
            managedDisk:
              securityProfile:
                diskEncryptionSet: {}
              storageAccountType: Premium_LRS
            osType: Linux
          publicIP: false
          publicLoadBalancer: "{{ _public_load_balancer }}"
          resourceGroup: "{{ _resource_group }}"
          securityProfile:
            settings: {}
          subnet: worker-subnet
          userDataSecret:
            name: worker-user-data
          vmSize: "{{ ocp4_workload_aro_machineset_instance_type }}"
          vnet: "{{ _vnet }}"
          # zones not supported in some azure regions
          #zone: "{{ loop.index }}"
{% endfor %}
