apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  namespace: {{ ocs_namespace }}
  name: ocs-storagecluster
spec:
  manageNodes: false
  resources:
    mon:
      requests:
        cpu: {{ ocs_ceph_mon_cpu }}
        memory: {{ ocs_ceph_mon_mem }}
    mds:
      requests:
        cpu: {{ ocs_ceph_mds_cpu }}
        memory: {{ ocs_ceph_mds_mem }}
    mgr:
      requests:
        cpu: {{ ocs_ceph_mgr_cpu }}
        memory: {{ ocs_ceph_mgr_mem }}
    noobaa-core:
      requests:
        cpu: {{ ocs_mcg_core_cpu }}
        memory: {{ ocs_mcg_core_mem }}
    noobaa-db:
      requests:
        cpu: {{ ocs_mcg_db_cpu }}
        memory: {{ ocs_mcg_db_mem }}
  storageDeviceSets:
  - name: ocs-deviceset
    count: 1
    replica: 3
    resources:
      requests:
        cpu: {{ ocs_ceph_osd_cpu }}
        memory: {{ ocs_ceph_osd_mem }}
    placement: {}
    dataPVCTemplate:
      spec:
        storageClassName: gp2
        accessModes:
        - ReadWriteOnce
        volumeMode: Block
        resources:
          requests:
            storage: {{ ocs_operator_storage_requests | default('200Gi') }}
    portable: true
