apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    app.openshift.io/connects-to: mssql-server-linux
  name: my-apache-php-app
  labels:
    app: my-apache-php-app
    app.kubernetes.io/component: my-apache-php-app
    app.kubernetes.io/instance: my-apache-php-app
    app.kubernetes.io/part-of: enterprise-app
    app.openshift.io/runtime: php
    app.openshift.io/runtime-namespace: debezium-complete-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-apache-php-app
  template:
    metadata:
      labels:
        app: my-apache-php-app
        deploymentconfig: my-apache-php-app
    spec:
      containers:
        - name: my-apache-php-app
          env:
            - name: SERVER_NAME
              value: mssql-server-linux
            - name: USER
              value: demo
          image: >-
            quay.io/hguerreroo/my-apache-php-app@sha256:11b298623d8edbfe100ea848f14f013ed22cf3902834d029b31edfcd6e31ce60
          ports:
            - containerPort: 80
              protocol: TCP
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
---
kind: Service
apiVersion: v1
metadata:
  name: my-apache-php-app
  labels:
    app: my-apache-php-app
    app.kubernetes.io/component: my-apache-php-app
    app.kubernetes.io/instance: my-apache-php-app
    app.kubernetes.io/name: ''
    app.kubernetes.io/part-of: enterprise-app
    app.openshift.io/runtime: ''
    app.openshift.io/runtime-version: latest
  annotations:
    app.openshift.io/connects-to: mssql-server-linux
spec:
  ports:
    - name: 80-tcp
      protocol: TCP
      port: 80
      targetPort: 80
  selector:
    app: my-apache-php-app
    deploymentconfig: my-apache-php-app
  type: ClusterIP
  sessionAffinity: None
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: www-php-app
  labels:
    app: my-apache-php-app
    app.kubernetes.io/component: my-apache-php-app
    app.kubernetes.io/instance: my-apache-php-app
    app.kubernetes.io/name: ''
    app.kubernetes.io/part-of: enterprise-app
    app.openshift.io/runtime: ''
    app.openshift.io/runtime-version: latest
spec:
  to:
    kind: Service
    name: my-apache-php-app
    weight: 100
  port:
    targetPort: 80-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
