---
kind: ConfigMap
apiVersion: v1
metadata:
  name: init-sql
data:
  init.sql: >-
    create schema replicated;

    set search_path='replicated';

    CREATE TABLE orders ( 
      order_id INTEGER NOT NULL PRIMARY KEY, 
      type VARCHAR ( 50 ) NOT NULL, 
      flavor VARCHAR ( 50 ) NOT NULL, 
      quantity VARCHAR ( 255 ) NOT NULL, 
      price VARCHAR ( 50 ) NOT NULL, 
      sender_user VARCHAR ( 255 )
    );
