---
apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
spec:
  version: 7.9.2
  nodeSets:
  - name: default
    count: 1
    podTemplate:
      metadata:
        labels:
          app.openshift.io/runtime: elasticsearch
        annotations:
          app.openshift.io/connects-to: camel
      spec:
        containers:
          - name: elasticsearch
            env:
              - name: ES_JAVA_OPTS
                value: "-Xms1g -Xmx1g"
    config:
      node.master: true
      node.data: true
      node.ingest: true
      node.store.allow_mmap: false
      xpack.security.authc:
        anonymous:
          roles: superuser 
          authz_exception: true 
  http:
    tls:
      selfSignedCertificate:
        disabled: true
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: elastic
spec:
  to:
    kind: Service
    name: elasticsearch-es-http
