kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: elasticsearch-es-default
  labels:
    app: elasticsearch
    app.openshift.io/runtime: elastic
    app.kubernetes.io/part-of: replicated
  annotations:
    app.openshift.io/connects-to: camel