apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaConnector
metadata:
  name: debezium-connector
  labels:
    strimzi.io/cluster: debezium
spec:
  class: io.debezium.connector.sqlserver.SqlServerConnector
  tasksMax: 1
  config:
    database.hostname: "mssql-server-linux"
    database.port: "1433"
    database.user: "sa"
    database.password: "Password!"
    database.dbname: "InternationalDB"
    database.server.name: "mssql-server-linux"
    table.whitelist: "dbo.Orders"
    database.history.kafka.bootstrap.servers: "demo-kafka-bootstrap:9092"
    database.history.kafka.topic: "dbhistory.internationaldb"
    key.converter: "org.apache.kafka.connect.json.JsonConverter"
    key.converter.schemas.enable: "false"
    value.converter: "org.apache.kafka.connect.json.JsonConverter"
    value.converter.schemas.enable: "false"
    transforms: "extract"
    transforms.extract.type: "io.debezium.transforms.ExtractNewRecordState"
    transforms.extract.add.fields: "op,table"