apiVersion: kafka.strimzi.io/v1beta1
kind: KafkaTopic
metadata:
  labels:
    strimzi.io/cluster: demo
  name: '{{ topic_name }}'
spec:
  partitions: {{ ocp4_workload_debezium_demo_default_partitions }}
  replicas: {{ ocp4_workload_debezium_demo_default_replicas }}
  config:
    retention.ms: 604800000
    segment.bytes: 1073741824
