apiVersion: kafka.strimzi.io/v1beta1
kind: Kafka
metadata:
  name: demo
spec:
  kafka:
    version: 2.5.0
    replicas: {{ ocp4_workload_debezium_demo_num_kafka_brokers }}
    listeners:
      plain: {}
      tls: {}
    config:
      offsets.topic.replication.factor: '{{ ocp4_workload_debezium_demo_default_replicas }}'
      transaction.state.log.replication.factor: '{{ ocp4_workload_debezium_demo_default_replicas }}'
      transaction.state.log.min.isr: '{{ ocp4_workload_debezium_demo_default_replicas }}'
      log.message.format.version: "2.5"
    storage:
      type: jbod
      volumes:
      - id: 0
        type: persistent-claim
        size: 100Gi
        deleteClaim: false
    resources:
      requests:
        memory: 2Gi
      limits:
        memory: 2Gi
  zookeeper:
    replicas: {{ ocp4_workload_debezium_demo_num_zk_nodes }}
    storage:
      type: persistent-claim
      size: 100Gi
      deleteClaim: false
    resources:
      requests:
        memory: 1Gi
      limits:
        memory: 1Gi
  entityOperator:
    topicOperator: {}
    userOperator: {}