apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaConnector
metadata:
  name: debezium-connector
  labels:
    strimzi.io/cluster: debezium
spec:
  class: io.debezium.connector.mysql.MySqlConnector
  tasksMax: 1
  config:
    database.hostname: "mysql"
    database.port: "3306"
    database.user: "debezium"
    database.password: "dbz"
    database.server.id: "184054"
    database.server.name: "dbserver-mysql"
    database.whitelist: "inventory"
    database.history.kafka.bootstrap.servers: "demo-kafka-bootstrap:9092"
    database.history.kafka.topic: "mysql.schema-changes.inventory"