---
kind: Deployment
apiVersion: apps/v1
metadata:
  annotations:
    app.openshift.io/connects-to: debezium
  name: postgresql
  labels:
    app: postgresql
    app.kubernetes.io/component: postgresql
    app.kubernetes.io/instance: postgresql
    app.kubernetes.io/part-of: postgresql
    app.openshift.io/runtime-namespace: debezium-advanced-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgresql
  template:
    metadata:
      labels:
        app: postgresql
        deploymentconfig: postgresql
    spec:
      volumes:
        - name: postgresql-1
          persistentVolumeClaim:
            claimName: postgresql-volume
        - name: init-sql
          configMap:
            name: init-sql
            defaultMode: 420
      containers:
        - resources: {}
          terminationMessagePath: /dev/termination-log
          name: postgresql
          env:
            - name: POSTGRES_USER
              value: postgresuser
            - name: POSTGRES_PASSWORD
              value: postgrespw
            - name: POSTGRES_DB
              value: weatherdb
          ports:
            - containerPort: 5432
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - name: postgresql-1
              mountPath: /var/lib/postgresql/data
              subPath: postgres
            - name: init-sql
              mountPath: /docker-entrypoint-initdb.d
          terminationMessagePolicy: File
          image: >-
            debezium/example-postgres@sha256:e6afbd9dd531ccbc265acd3b8fb5407a6e6ab97b491508ff64056f8162beec5f
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: postgresql-volume
  labels:
    app: postgresql
    deploymentconfig: postgresql
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1G
  storageClassName: gp2
  volumeMode: Filesystem
---
kind: Service
apiVersion: v1
metadata:
  name: postgresql
  labels:
    app: postgresql
    app.kubernetes.io/component: postgresql
    app.kubernetes.io/instance: postgresql
    app.kubernetes.io/name: ''
    app.kubernetes.io/part-of: postgresql
    app.openshift.io/runtime: ''
    app.openshift.io/runtime-version: latest
spec:
  ports:
    - name: 5432-tcp
      protocol: TCP
      port: 5432
      targetPort: 5432
  selector:
    app: postgresql
    deploymentconfig: postgresql
  type: ClusterIP
  sessionAffinity: None
---
kind: ConfigMap
apiVersion: v1
metadata:
  name: init-sql
data:
  init.sql: >-
    create schema weather;

    set search_path='weather';

    CREATE TABLE weatherstations (
      id serial primary key,
      name text NOT NULL,
      average_temperature decimal NOT NULL,
      longitude decimal NOT NULL,
      latitude decimal NOT NULL,
      active boolean NOT NULL
    );

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Hamburg', 13, 10.0, 53.6, true);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Snowdonia', 5, -3.9, 52.9, true);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Boston', 11, -71.0, 42.4, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Tokio', 16, 140.0, 35.7, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Cusco', 12, -72, -13.5, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Svalbard', -7, 21.0, 77.9, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Porthsmouth', 11, -1.1, 50.8, true);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Oslo', 7, 10.8, 59.9, true);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Marrakesh', 20, -8.0, 31.6, true);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Johannesburg', 25, 28.0, -26.2, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Anchorage', -2, -149.9, 61.2, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('San Francisco', 15, -122.4, 37.8, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Canberra', 25, 149.1, -35.3, false);

    INSERT INTO weatherstations (name, average_temperature, longitude, latitude,
    active) VALUES('Novosibirsk', 10, 82.9, 55.0, false);
