---
apiVersion: apicur.io/v1alpha1
kind: ApicurioRegistry
metadata:
  name: service-registry
spec:
  configuration:
    persistence: "streams"
    streams: 
      bootstrapServers: 'demo-kafka-bootstrap:9092'
      applicationId: "service-registry"
  deployment:
    host: "service-registry-{{ registry_namespace }}.{{ route_subdomain }}"
