---
apiVersion: registry.apicur.io/v1
kind: ApicurioRegistry
metadata:
  name: service-registry
spec:
  configuration:
    persistence: "sql"
    sql: 
      dataSource:
        url: "jdbc:postgresql://postgresql.{{ ocp4_workload_debezium_demo_registry_namespace }}.svc:5432/registry"
        userName: "postgresuser"
        password: "postgrespw"
  deployment:
    host: "service-registry.{{ route_subdomain }}"
