apiVersion: "integreatly.org/v1alpha1"
kind: "WebApp"
metadata:
  name: "{{ ocp4_workload_debezium_demo_webapp_client_id }}"
  namespace: "{{ webapp_namespace }}"
  labels:
    app: "{{ ocp4_workload_debezium_demo_webapp_client_id }}"
spec:
  app_label: "{{ ocp4_workload_debezium_demo_webapp_client_id }}"
  template:
    path: "{{ ocp4_workload_debezium_demo_webapp_operator_template_path }}"
    parameters:
      OPENSHIFT_OAUTHCLIENT_ID: "{{ ocp4_workload_debezium_demo_webapp_client_id }}"
      OPENSHIFT_OAUTH_HOST: "oauth-openshift.{{ route_subdomain }}"
      OPENSHIFT_HOST: "console-openshift-console.{{ route_subdomain }}"
      INSTALLED_SERVICES: |-
        { 
          "3scale":{ 
              "Host":"https://3scale-admin.{{ route_subdomain }}",
              "Version":"2.7.0.GA"
          },
          "codeready":{ 
              "Host":"http://che-che.{{ route_subdomain }}",
              "Version":"2.0.0"
          }
        }
      OPENSHIFT_VERSION: "4"
{% if ocp4_workload_debezium_demo_webapp_walkthrough_locations is defined  %}
      WALKTHROUGH_LOCATIONS: "{{ ocp4_workload_debezium_demo_webapp_walkthrough_locations|join(',') }}"
{% endif %}