echo "*** Logging into quay ***"
podman login -u {{ ocp4_workload_tap_wks_sno_setup_docker_username }} -p {{ ocp4_workload_tap_wks_sno_setup_docker_password }} quay-{{ ocp4_workload_tap_wks_sno_setup_dev_guid }}.{{ ocp4_workload_tap_wks_sno_setup_dev_apps_domain }}

echo "*** Pulling the secured image for latest SHA... ***"
podman pull quay-{{ ocp4_workload_tap_wks_sno_setup_dev_guid }}.{{ ocp4_workload_tap_wks_sno_setup_dev_apps_domain }}/quayadmin/secured-app:latest
IMAGE=$(podman inspect --format={{ "'{{index .RepoDigests 0}}'" }} quay-{{ ocp4_workload_tap_wks_sno_setup_dev_guid }}.{{ ocp4_workload_tap_wks_sno_setup_dev_apps_domain }}/quayadmin/secured-app:latest)

echo "*** Validating enterprise contract for $IMAGE ***"
ec validate image --image $IMAGE --policy git::github.com/redhat-gpe/config//default --public-key ./cosign.pub --ignore-rekor=false --rekor-url=https://rekor-server-{{ ocp4_workload_tap_wks_sno_setup_rhtas_namespace }}.{{ ocp4_workload_tap_wks_sno_setup_dev_apps_domain }} --info=true --strict=false --show-successes=true | jq .