---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ _ocp4_workload_mad_roadshow_devspaces_app_name }}
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: {{ _ocp4_workload_mad_roadshow_devspaces_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_mad_roadshow_devspaces_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_devspaces_repo_tag }}
    path: {{ ocp4_workload_mad_roadshow_devspaces_repo_path }}
