arouser:$apr1$FmrTsuSa$yducoDpvYq0KEV0ErmwpA1
{% for i in range(1, 1 + ocp4_workload_authentication_htpasswd_user_count | int) %}
{{ ocp4_workload_authentication_htpasswd_user_base }}{{ i }}:{{ ocp4_workload_authentication_user_password_hash | default('$apr1$FmrTsuSa$yducoDpvYq0KEV0ErmwpA1') }}
{% endfor %}
