apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  name: acm-vault
  namespace: {{ ocp4_workload_devsecops_validated_pattern_vault_namespace }}
spec:
  type: Git
  pathname: "{{ _ocp4_workload_devsecops_validated_pattern_gitea_repo_vault_url }}"