[Unit]
Description=OpenShift oc cluster up
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/oc cluster up --public-hostname={{ hostname }} --routing-suffix=apps.{{ hostname }}
ExecStop=/bin/oc cluster down
ExecReload=/bin/oc cluster down && /bin/oc cluster up --public-hostname={{ hostname }} --routing-suffix=apps.{{ hostname }}
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target