[Unit]
Description=OpenShift oc cluster up Service
After=docker.service
Requires=docker.service

[Service]
{% if osrelease is version_compare("3.10", ">=") %}
{% if repo_method == "satellite" %}
ExecStart=/bin/oc cluster up --base-dir={{ ocp_root }} --public-hostname={{ hostname }} --routing-suffix=apps.{{ hostname }} --loglevel=1 --image='{{ satellite_url }}:5000/red_hat_gpte-ocp_3_11-openshift3_ose-${component}:${version}'
{% else %}
ExecStart=/bin/oc cluster up --base-dir={{ ocp_root }} --public-hostname={{ hostname }} --routing-suffix=apps.{{ hostname }} --loglevel=1
{% endif %}
{% else %}
ExecStart=/bin/oc cluster up --host-config-dir={{ ocp_root }}/config --host-data-dir={{ ocp_root }}/data --host-pv-dir={{ ocp_root }}/pv --host-volumes-dir={{ ocp_root }}/volumes --use-existing-config=true --public-hostname={{ hostname }} --routing-suffix=apps.{{ hostname }} --loglevel=1
{% endif %}
ExecStop=/bin/oc cluster down
WorkingDirectory={{ ocp_root }}
Restart=no
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=occlusterup
User=root
Type=oneshot
RemainAfterExit=yes
TimeoutSec=1200

[Install]
WantedBy=multi-user.target
