{% if ocp4_workload_kasten_k10_multi_user | bool %}
{%   for user_number in range(1, ocp4_workload_kasten_k10_num_users | int + 1) %}
---
apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ ocp4_workload_kasten_k10_objectbucket_name }}
  namespace: {{ ocp4_workload_kasten_k10_objectbucket_namespace_base }}{{ user_number }}
spec:
  bucketName: {{ ocp4_workload_kasten_k10_objectbucket_name }}
  storageClassName: {{ ocp4_workload_kasten_k10_objectbucket_storage_class }}
{%   endfor %}
{% else %}
---
apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ ocp4_workload_kasten_k10_objectbucket_name }}
  namespace: {{ ocp4_workload_kasten_k10_objectbucket_namespace }}
spec:
  bucketName: {{ ocp4_workload_kasten_k10_objectbucket_name }}
  storageClassName: {{ ocp4_workload_kasten_k10_objectbucket_storage_class }}
{% endif %}