[frontends]
{% for host in groups['frontends'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[apps]
{% for host in groups['apps']  %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[appdbs]
{% for host in groups['appdbs'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[all:vars]
timeout=60
ansible_user={{ remote_user }}
ansible_ssh_private_key_file="~/.ssh/{{ guid }}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
