apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prom
  labels:
    prometheus: k8s
spec:
  externalUrl: 'https://prometheus-prom-{{ _namespace }}.{{ ingressdomain.stdout }}'
  replicas: 2
  serviceAccountName: prometheus-k8s
  securityContext: {}
  serviceMonitorSelector:
    matchExpressions:
      - key: k8s-app
        operator: Exists
  ruleSelector:
    matchLabels:
      role: prometheus-rulefiles
      prometheus: k8s