apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: machine-config-daemon
  namespace: openshift-machine-config-operator
spec:
  template:
    spec:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/etcd
        operator: Exists
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
{% if _infra_node_elasticsearch_nodes | bool %}
      - effect: NoSchedule
        key: elasticsearch
        value: reserved
      - effect: NoExecute
        key: elasticsearch
        value: reserved
{% endif %}
