					<div id="docs_tab" class="tabcontent">
						<iframe id="mobb_docs" src="https://mobb.ninja/#aro" width="100%" style="border:none;"></iframe>
						<iframe id="aro_docs" src="https://learn.microsoft.com/en-us/azure/openshift/https://docs.openshift.com/aro/4/welcome/index.html" width="100%" style="border:none;"></iframe>
					</div>
