apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_operator_name }}
spec:
  channel: "{{ ocp4_workload_cloud_architecture_workshop_devspaces_operator_channel }}"
  installPlanApproval: Automatic
  name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_operator_name }}
  source: {{ ocp4_workload_cloud_architecture_workshop_devspaces_operator_catalog_source }}
  sourceNamespace: openshift-marketplace
  startingCSV: {{ ocp4_workload_cloud_architecture_workshop_devspaces_operator_starting_csv }}
