---
apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: clusterquota-{{ ocp_username }}-{{ guid }}
  labels:
    workload: ocp4-workload-dm7-foundations-elt
spec:
  quota:
    hard:
      secrets: '{{ ocp4_workload_dm7_foundations_elt_quota_secrets }}'
      persistentvolumeclaims: '{{ ocp4_workload_dm7_foundations_elt_quota_persistentvolumeclaims }}'
      requests.memory: '{{ ocp4_workload_dm7_foundations_elt_quota_requests_memory }}'
      pods: '{{ ocp4_workload_dm7_foundations_elt_quota_pods }}'
      requests.storage: '{{ ocp4_workload_dm7_foundations_elt_quota_requests_storage }}'
      limits.cpu: '{{ ocp4_workload_dm7_foundations_elt_quota_limits_cpu }}'
      limits.memory: '{{ ocp4_workload_dm7_foundations_elt_quota_limits_memory }}'
      configmaps: '{{ ocp4_workload_dm7_foundations_elt_quota_configmaps }}'
      services: '{{ ocp4_workload_dm7_foundations_elt_quota_services }}'
      requests.cpu: '{{ ocp4_workload_dm7_foundations_elt_quota_requests_cpu }}'
  selector:
    annotations:
      openshift.io/requester: {{ ocp_username }}
    labels:
      matchLabels:
        workload: ocp4-workload-dm7-foundations-elt
        guid: '{{ guid }}'
