---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: {{ ocp4_workload_dm7_foundations_elt_imagestream_name }}
spec:
  dockerImageRepository: {{ ocp4_workload_dm7_foundations_elt_image }}