kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ ocp4_workload_hashicorp_namespace }}
  namespace: {{ ocp4_workload_hashicorp_namespace }}
spec:
  to:
    kind: Service
    name: {{ ocp4_workload_hashicorp_vault_ui }}
    weight: 100
  port:
    targetPort: http
  wildcardPolicy: None