apiVersion: v1
items:
- apiVersion: ceph.rook.io/v1
  kind: CephObjectStore
  metadata:
    name: s3a
    namespace: {{ ocp4_workload_rhtr_xraylab_ocs_namespace }}
  spec:
    dataPool:
      crushRoot: ""
      deviceClass: ""
      erasureCoded:
        algorithm: ""
        codingChunks: 0
        dataChunks: 0
      failureDomain: zone
      replicated:
        size: 3
    gateway:
      allNodes: false
      instances: 1
      placement:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: cluster.ocs.openshift.io/{{ ocp4_workload_rhtr_xraylab_ocs_namespace }}
                operator: Exists
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - rook-ceph-rgw
              topologyKey: kubernetes.io/hostname
            weight: 100
        tolerations:
        - effect: NoSchedule
          key: node.ocs.openshift.io/storage
          operator: Equal
          value: "true"
      port: 80
      resources:
        limits:
          cpu: "2"
          memory: 4Gi
        requests:
          cpu: "1"
          memory: 4Gi
      securePort: 0
      sslCertificateRef: ""
    metadataPool:
      crushRoot: ""
      deviceClass: ""
      erasureCoded:
        algorithm: ""
        codingChunks: 0
        dataChunks: 0
      failureDomain: zone
      replicated:
        size: 3
- kind: Service
  apiVersion: v1
  metadata:
    name: rook-ceph-rgw-ocs-storagecluster-cephobjectstore
    namespace: openshift-storage
    labels:
      app: rook-ceph-rgw
      ceph_daemon_id: s3a
      rgw: s3a
      rook_cluster: openshift-storage
      rook_object_store: s3a
  spec:
    ports:
      - name: http
        protocol: TCP
        port: 80
        targetPort: 80
    selector:
      app: rook-ceph-rgw
      ceph_daemon_id: s3a
      rgw: s3a
      rook_cluster: openshift-storage
      rook_object_store: s3a
    type: ClusterIP
    sessionAffinity: None
- kind: Route
  apiVersion: route.openshift.io/v1
  metadata:
    name: rgw
    namespace: openshift-storage
    labels:
      app: rook-ceph-rgw
      ceph_daemon_id: s3a
      rgw: s3a
      rook_cluster: openshift-storage
      rook_object_store: s3a
  spec:
    to:
      kind: Service
      name: rook-ceph-rgw-s3a
      weight: 100
    port:
      targetPort: http
    tls:
      termination: edge
      insecureEdgeTerminationPolicy: Allow
    wildcardPolicy: None
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""