apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: "{{ ocp4_workload_shared_cluster_access_quota_name }}"
spec:
  selector:
    annotations:
      openshift.io/requester: "{{ ocp_username }}"
    labels: null
  quota: {{ ocp4_workload_shared_cluster_access_quota | to_json }}
