---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: {{ ocp4_workload_shared_cluster_access_username }}
  namespace: {{ ocp4_workload_shared_cluster_access_keycloak_namespace }}
spec:
  realmSelector:
    matchLabels: {{ ocp4_workload_shared_cluster_access_keycloak_realm | to_json }}
  user:
    username: {{ ocp4_workload_shared_cluster_access_username }}
    credentials:
      - type: password
        value: {{ ocp4_workload_shared_cluster_access_password }}
        temporary: false
    email: {{ ocp4_workload_shared_cluster_access_email }}
    emailVerified: true
    enabled: true
