apiVersion: opendatahub.io/v1alpha
kind: OdhDashboardConfig
metadata:
  name: odh-dashboard-config
  namespace: redhat-ods-applications
spec:
  dashboardConfig:
    disableBYONImageStream: false
    disableClusterManager: false
    disableISVBadges: false
    disableInfo: false
    disableSupport: false
    disableTracking: false
    disableUserManagement: false
    enablement: true
  groupsConfig:
    adminGroups: 'cluster-admins,dedicated-admins,rhods-admins'
    allowedGroups: 'system:authenticated'
  notebookController:
    enabled: true
    gpuSetting: '4'
    notebookNamespace: rhods-notebooks
    notebookTolerationSettings:
      enabled: true
      key: notebooksonly
    pvcSize: 1Gi
  notebookSizes:
    - name: Small
      resources:
        limits:
          cpu: '2'
          memory: 4Gi
        requests:
          cpu: '1'
          memory: 2Gi
    - name: Medium
      resources:
        limits:
          cpu: '6'
          memory: 6Gi
        requests:
          cpu: '3'
          memory: 4Gi
    - name: Large
      resources:
        limits:
          cpu: '8'
          memory: 8Gi
        requests:
          cpu: '4'
          memory: 6Gi
