{
    "id": {{ item.json.id | tojson }},
    "name": "{{ item.json.name }}",
    "description": {{ item.json.description | tojson }},
    "rationale": {{ item.json.rationale | tojson }},
    "remediation": {{ item.json.remediation | tojson }},
    "disabled": {{ item.json.disabled | lower }},
    "categories": {{ item.json.categories | tojson }},
    "fields": {{ item.json.fields | tojson }},
    "lifecycleStages": {{ item.json.lifecycleStages | tojson }},
    "whitelists": {{ item.json.whitelists | tojson  }},
    "exclusions": [
        {% for exclusion in item.json.exclusions %}{{ exclusion | tojson }},{% endfor %}
        {% for namespace in item.item.namespaces %}
        {
            "deployment": {
                "name": "",
                "scope": {
                    "cluster": "",
                    "label": null,
                    "namespace": "{{ namespace }}"
                }
            },
            "expiration": null,
            "image": null,
            "name": "Don't alert on {{ namespace }}"
        }{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
    ],
    "scope": {{ item.json.scope | tojson }},
    "severity": "{{ item.json.severity }}",
    "enforcementActions": {{ item.json.enforcementActions | tojson }},
    "notifiers": {{ item.json.notifiers | tojson }},
    "lastUpdated": null,
    "SORTName": "{{ item.json.SORTName }}",
    "SORTLifecycleStage": "{{ item.json.SORTLifecycleStage }}",
    "SORTEnforcement": {{ item.json.SORTEnforcement | lower}},
    "policyVersion": "{{ item.json.policyVersion }}",
    "policySections": {{ item.json.policySections | tojson }}
}