---
{%  for pv in range(1,user_vols|int) %}
apiVersion: v1
kind: PersistentVolume
metadata:
  name: vol{{ pv }}
spec:
  capacity:
    storage: {{ user_vols_size }}
  accessModes:
  - ReadWriteOnce
{% if pv % 2 == 0 %}
  - ReadWriteMany
{% endif %}
  nfs:
    path: /user_vols/vol{{pv}}
    server: {{ nfs_server_address }}
  persistentVolumeReclaimPolicy: Recycle
  storageClassName: nfs
---
{% endfor %}
