{# # These are the satellite hosts #}

[satellites]
{% for host in groups['satellites'] %}
{%      if cloud_provider == 'ec2' %}
{{host}}
{%      elif cloud_provider == 'osp' %}
{{host}} ansible_host={{host}}.example.com
{% endif %}
{% endfor %}


[all:vars]
{# ###########################################################################
### Ansible Vars
########################################################################### #}
timeout=60
ansible_become=yes
ansible_user={{remote_user}}

[all:children]
satellites
