{%if inventory_hostname in groups['satellites'] %}
{% for satellite_repo in satellite_repos %}
[{{ satellite_repo }}]
name={{ satellite_repo }}
baseurl={{own_repo_path}}/satellite/{{ satellite_version }}/{{ satellite_repo }}
enabled=1
gpgcheck=0

{% endfor %}
{% else %}

{% for rhel_repo in rhel_repos %}
[{{ rhel_repo }}]
name={{ rhel_repo }}
baseurl={{own_repo_path}}/tower/{{ tower_version }}/{{ rhel_repo }}
enabled=1
gpgcheck=0

{% endfor %}
{% endif %}
