apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: {{ _ocp4_workload_gitops_workshop_argo_instance_name }}
  namespace: {{ _ocp4_workload_gitops_workshop_namespacename }}
spec:
  disableAdmin: true
  controller:
    resources:
      limits:
        cpu: 2000m
        memory: 2048Mi
      requests:
        cpu: 250m
        memory: 1024Mi
  dex:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
    openShiftOAuth: true
  ha:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
    enabled: false
  rbac:
    defaultPolicy: ''
    policy: |
      g, {{ _ocp4_workload_gitops_workshop_user }}, role:admin
      g, opentlc-mgr, role:admin
    scopes: '[email, groups]'
  redis:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 250m
        memory: 128Mi
  repo:
    resources:
      limits:
        cpu: 1000m
        memory: 1024Mi
      requests:
        cpu: 250m
        memory: 256Mi
  server:
    resources:
      limits:
        cpu: 500m
        memory: 256Mi
      requests:
        cpu: 125m
        memory: 128Mi
    insecure: true
    route:
      enabled: true
      tls:
        termination: edge
        insecureEdgeTerminationPolicy: Redirect