---
apiVersion: v1
kind: Namespace
metadata:
  name: "{{ _ocp4_workload_gitops_workshop_namespacename }}"
  labels:
    argocd.argoproj.io/managed-by: "{{ _ocp4_workload_gitops_workshop_argo_instance_name }}"
