apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ API_MANAGER_NS_DISPLAY }}"
  name: "{{ API_MANAGER_NS }}"
spec:
  finalizers:
  - kubernetes
