apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: "{{ API_MANAGER_NAME }}"
  namespace: "{{ API_MANAGER_NS }}"
spec:
  wildcardDomain: "{{ ocp_apps_domain }}"
  resourceRequirementsEnabled: false
