apiVersion: v1
kind: Secret
metadata:
  name: "{{ dev_tenant }}-tenant-secret"
  namespace: "{{ API_MANAGER_NS }}"
type: Opaque
stringData:
  adminURL: "https://{{ dev_tenant }}-admin.{{ ocp_apps_domain }}"
  token: "{{ dev_tenant_token }}"
