apiVersion: v1
kind: Secret
metadata:
  name: "{{ prod_tenant }}-master-secret"
  namespace: "{{ API_MANAGER_NS }}"
type: Opaque
stringData:
  adminURL: "https://{{ prod_tenant }}-admin.{{ ocp_apps_domain }}"
  token: "{{ prod_tenant_token }}"
