apiVersion: capabilities.3scale.net/v1alpha1
kind: Tenant
metadata:
  name: "{{ prod_tenant }}"
  namespace: "{{ API_MANAGER_NS }}"
spec:
  email: 3scaleadmin@redhat.com
  masterCredentialsRef:
    name: system-seed
  organizationName: "{{ prod_tenant }}"
  passwordCredentialsRef:
    name: "{{ prod_tenant }}-admin-secret"
  systemMasterUrl:  "https://master.{{ ocp_apps_domain }}"
  tenantSecretRef:
    name: "{{ prod_tenant }}-tenant-secret"
    namespace: "{{ API_MANAGER_NS }}"
  username: "{{ prod_tenant_admin }}"

