kind: ConfigMap
apiVersion: v1
metadata:
  name: smtp
  namespace: "{{ API_MANAGER_NS }}"
  labels:
    app: 3scale-api-management
    threescale_component: system
    threescale_component_element: smtp
data:
  address: "{{ smtp_host }}"
  authentication: "{{ smtp_authentication }}"
  domain: "{{ smtp_domain}}"
  openssl.verify.mode: 'false'
  password: "{{ smtp_passwd }}"
  port: "{{ smtp_port }}"
  username: "{{ smtp_userid }}"
