---
kind: List
apiVersion: v1
metadata:
  name: service-monitors-auth
items:
- apiVersion: v1
  kind: Secret
  metadata:
    name: kie-monitor-basicauth
  data:
    username: {{ _namespace | b64encode }}
    password: {{ _account_password | b64encode }}
  type: Opaque