apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: devspaces
  namespace: {{ ocp4_workload_devspaces_namespace }}
spec:
  components: {}
  networking: {}
  devEnvironments:
    startTimeoutSeconds: 1200
    secondsOfInactivityBeforeIdling: -1
