apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  name: {{ ocp4_workload_devspaces_devworkspace_name }}
  namespace: {{ ocp4_workload_devspaces_devworkspace_namespace }}
spec:
  routingClass: che
  started: true
  contributions:
    - name: ide
      uri: {{ ocp4_workload_devspaces_devworkspace_devfile }}
  template:
    projects:
      - name: {{ ocp4_workload_devspaces_devworkspace_project }}
        git:
          remotes:
            origin: {{ ocp4_workload_devspaces_devworkspace_git_repo }}
          checkoutFrom:
            revision: {{ ocp4_workload_devspaces_devworkspace_git_revision }}
    components: {{ ocp4_workload_devspaces_devworkspace_components }}
