apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspaceTemplate
metadata:
  name: vscode
  namespace: {{ ocp4_workload_devspaces_devworkspace_namespace }}
spec:
  components:
    - name: vscode-injector
      container:
        image: quay.io/che-incubator/che-code:insiders
        command:
          - /entrypoint-init-container.sh
        volumeMounts:
          - name: checode
            path: /checode
        memoryLimit: 128Mi
        memoryRequest: 32Mi
        cpuLimit: 500m
        cpuRequest: 30m
    - name: vscode-runtime-description
      attributes:
        app.kubernetes.io/component: vscode-runtime
        app.kubernetes.io/part-of: vscode.eclipse.org
        controller.devfile.io/container-contribution: true
      container:
        image: noop/will/be/ignored
        volumeMounts:
          - name: checode
            path: /checode
        memoryLimit: 1024Mi
        memoryRequest: 256Mi
        cpuLimit: 500m
        cpuRequest: 30m
        env:
          - name: CODE_HOST
            value: '0.0.0.0'
        endpoints:
          - name: editor
            attributes:
              type: main
              cookiesAuthEnabled: true
              discoverable: false
              urlRewriteSupported: true
            targetPort: 3100
            exposure: public
            secure: false
            protocol: https
          - name: code-redirect-1
            attributes:
              discoverable: false
              urlRewriteSupported: true
            targetPort: 13131
            exposure: public
            protocol: http
          - name: code-redirect-2
            attributes:
              discoverable: false
              urlRewriteSupported: true
            targetPort: 13132
            exposure: public
            protocol: http
          - name: code-redirect-3
            attributes:
              discoverable: false
              urlRewriteSupported: true
            targetPort: 13133
            exposure: public
            protocol: http
    - name: checode
      volume: {ephemeral: true}
  events:
    preStart:
      - init-container-command
    postStart:
      - inject-and-start-vscode
  commands:
    - id: init-container-command
      apply:
        component: vscode-injector
    - id: inject-and-start-vscode
      exec:
        component: vscode-runtime-description
        commandLine: 'nohup /checode/entrypoint-volume.sh > /checode/entrypoint-logs.txt 2>&1 &'
