kind: Namespace
apiVersion: v1
metadata:
  name: {{ ocp4_workload_devspaces_devworkspace_namespace }}
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-namespace
  annotations:
    che.eclipse.org/username: {{ ocp4_workload_devspaces_devworkspace_username }}
