parasol:
  image: {{ showroom_parasol_image }}:{{ showroom_parasol_image_tag }}
  container_name: parasol
  ports:
    - "8005:{{ showroom_parasol_port }}"
  volumes:
    - "{{ showroom_user_orchestration_dir }}:/opt/certs:Z"
  environment:
    - QUARKUS_LANGCHAIN4J_OPENAI_PARASOL_CHAT_BASE_URL={{ showroom_parasol_llm_host_url }}
    - QUARKUS_HTTP_SSL_PORT=8005
    - QUARKUS_HTTP_SSL_CERTIFICATE_FILES=/opt/certs/{{ showroom_parasol_host }}.crt
    - QUARKUS_HTTP_SSL_CERTIFICATE_KEY_FILES=/opt/certs/{{ showroom_parasol_host }}.key
    - QUARKUS_HTTP_INSECURE_REQUESTS=disabled
  labels:
    - "traefik.enable=false"

