					<div id="parasol_tab" class="tabcontent">
						    <iframe id="parasol"  src="https://{{ showroom_parasol_host }}:{{ showroom_parasol_port }}" width="100%" style="border:none;"></iframe>
					</div>
