---
apiVersion: nmstate.io/v1
kind: NodeNetworkConfigurationPolicy
metadata:
  name: {{ ocp4_workload_virt_network_config_bridge_name }}
spec:
  nodeSelector:
    node-role.kubernetes.io/worker: ''
  desiredState:
    interfaces:
    - bridge:
        allow-extra-patch-ports: true
        options:
          stp: false
        port:
        - name: {{ ocp4_workload_virt_network_config_bridge_port }}
      description: |-
        A dedicated OVS bridge with {{ ocp4_workload_virt_network_config_bridge_port }} as a port
        allowing all VLANs and untagged traffic
      name: {{ ocp4_workload_virt_network_config_bridge_name }}
      state: up
      type: ovs-bridge
    ovn:
      bridge-mappings:
      - bridge: {{ ocp4_workload_virt_network_config_bridge_name }}
        localnet: {{ ocp4_workload_virt_network_config_bridge_network }}
        state: present
