apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "elasticsearch-operator-{{ r_eo_version.stdout }}"
  namespace: "openshift-operators-redhat" 
spec:
  channel: "{{ r_eo_version.stdout }}"
  installPlanApproval: "Automatic"
  source: "redhat-operators"
  sourceNamespace: "openshift-marketplace"
  name: "elasticsearch-operator"
  