apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: patch-operator
  namespace: openshift-gitops
spec:
  project: default
  source:
    directory:
      recurse: false
    repoURL: https://github.com/stolostron/hmi-demo.git
    targetRevision: HEAD
    path: gitops/operators/patch-operator
  destination:
    server: https://kubernetes.default.svc
    namespace: patch-operator
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 10m
