apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: vault-secret-store
spec:
  provider:
    vault:
      auth:
        kubernetes:
          mountPath: kubernetes
          role: rhdh-role
          secretRef:
            key: token
            name: vault-auth-secret
            namespace: default
          serviceAccountRef:
            name: vault-auth
            namespace: default
      path: kv
      server: 'http://vault.vault:8200'
      version: v2