kind: NetworkPolicy
apiVersion: networking.k8s.io/v1
metadata:
  name: allow-intra-namespace
  namespace: {{ ocp4_workload_redhat_developer_hub_bootstrap_sonataflow_namespace }}
spec:
  podSelector: {}
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ ocp4_workload_redhat_developer_hub_bootstrap_backstage_namespace }}
  policyTypes:
    - Ingress
status: {}
