---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  generateName: datagrid-
  annotations:
    olm.providedAPIs: Infinispan.v1.infinispan.org
  name: datagrid-operator-group
  namespace: {{ user }}-{{ workshop_openshift_project_postfix }}
spec:
  targetNamespaces:
    - {{ user }}-{{ workshop_openshift_project_postfix }}
