---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  labels:
    app.kubernetes.io/instance: object-detection-rest
    app.kubernetes.io/name: object-detection-rest
    pipeline.openshift.io/runtime: python
    pipeline.openshift.io/runtime-version: 3.9-ubi8
    pipeline.openshift.io/type: kubernetes
  name: app-aiml-objdetect-pipeline
  namespace: "{{ ocp4_workload_aiml_namespace }}"
spec:
  params:
  - default: object-detection-rest
    name: APP_NAME
    type: string
  - default: "{{ _ocp4_workload_gitea_operator_gitea_route }}/{{ ocp4_workload_gitea_aiml_user }}/arc-model.git"
    name: GIT_REPO
    type: string
  - default: "dev"
    name: GIT_REVISION
    type: string
  - default: "image-registry.openshift-image-registry.svc:5000/{{ ocp4_workload_aiml_namespace }}/object-detection-rest"
    name: IMAGE_NAME
    type: string
  - default: .
    name: PATH_CONTEXT
    type: string
  - default: 3.9-ubi8
    name: VERSION
    type: string
  - name: KUSTOMIZE_GIT_URL_DEV
    type: string
    description: The kustomize git repository url
    default: "{{ _ocp4_workload_gitea_operator_gitea_route }}/{{ ocp4_workload_gitea_aiml_user }}/retail-dev-gitops.git"
  - name: KUSTOMIZE_GIT_CONTEXT_DIR_DEV
    type: string
    default: overlays/development/
    description: The subdirectory in the kustomize git repository
  - name: KUSTOMIZE_GIT_URL
    type: string
    description: The kustomize git repository url
    default: "{{ _ocp4_workload_gitea_operator_gitea_route }}/{{ ocp4_workload_gitea_aiml_user }}/retail-prod-gitops.git"
  - name: KUSTOMIZE_GIT_REVISION
    type: string
    default: main
    description: The kustomize git repository revision
  - name: KUSTOMIZE_GIT_CONTEXT_DIR
    type: string
    default: overlays/production/
    description: The subdirectory in the kustomize git repository
  - name: KUSTOMIZE_GIT_FILE_NAME
    type: string
    default: deployment-patches.yaml
    description: The YAML file in which to patch the image
  - name: NAMESPACE_DEV
    type: string
    description: Namespace where the buildconfig is located
    default: " {{ ocp4_workload_aiml_namespace }} "

  tasks:
  - name: fetch-model-repo
    params:
    - name: url
      value: $(params.GIT_REPO)
    - name: revision
      value: $(params.GIT_REVISION)
    - name: subdirectory
      value: ""
    - name: deleteExisting
      value: "true"
    - name: sslVerify
      value: "false" 
    taskRef:
      kind: ClusterTask
      name: git-clone
    workspaces:
    - name: output
      workspace: workspace

  - name: generate-tag
    taskRef:
      kind: Task
      name: generate-tag

  - name: sanity-check-model    
    params:
    - name: gitRepositoryUrl
      value: $(params.GIT_REPO)
    - name: gitRepositoryRevision
      value: $(params.GIT_REVISION)
    - name: gitPath
      value: "."
    - name: fileName
      value: ./output.txt
    - name: verbose
      value: "true"
    taskRef:
      kind: Task
      name: sanity-check-model    
    runAfter:
    - fetch-model-repo
    - generate-tag

  - name: build-model-image
    params:
    - name: IMAGE
      value: $(params.IMAGE_NAME)
    - name: TLSVERIFY
      value: "false"
    - name: PATH_CONTEXT
      value: $(params.PATH_CONTEXT)
    - name: VERSION
      value: $(params.VERSION)
    runAfter:
    - sanity-check-model
    taskRef:
      kind: ClusterTask
      name: s2i-python
    workspaces:
    - name: source
      workspace: workspace

  - name: deploy-model-in-dev
    params:
    - name: SCRIPT
      value: oc rollout status deploy/$(params.APP_NAME)
    runAfter:
    - build-model-image
    taskRef:
      kind: ClusterTask
      name: openshift-client
  workspaces:
  - name: workspace
