apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: object-detection-rest
    app.kubernetes.io/component: object-detection-rest
    app.kubernetes.io/instance: object-detection-rest
  name: object-detection-rest
  namespace: "{{ ocp4_workload_aiml_namespace }}"
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: object-detection-rest:latest
  runPolicy: Serial
  source:
    git:
      uri: https://github.com/rh-aiservices-bu/arc-model.git
      ref: dev
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: python:3.9-ubi8
        namespace: openshift
    type: Source
  triggers:
    - type: ConfigChange
  successfulBuildsHistoryLimit: 5
