apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: object-detection-app-git
    app.kubernetes.io/component: object-detection-app-git
    app.kubernetes.io/instance: object-detection-app-git
    app.kubernetes.io/name: object-detection-app-git
    app.kubernetes.io/part-of: object-detection
    app.openshift.io/runtime: nodejs
    app.openshift.io/runtime-version: 16-ubi8
  name: object-detection-app-git
  namespace: "{{ rhods_username }}-rhods-project"
spec:
  lookupPolicy:
    local: false
