---
apiVersion: v1
kind: Secret
metadata:
  name: config-bundle
  namespace: "{{ ocp4_workload_quay_operator_registry_namespace }}"
data:
  config.yaml: "{{ lookup('template', 'config.yaml.j2') | b64encode }}"
