apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ ocp4_workload_quay_operator_project }}-operatorgroup"
  namespace: "{{ ocp4_workload_quay_operator_project }}"
spec:
  targetNamespaces:
  - "{{ ocp4_workload_quay_operator_project }}"
