apiVersion: v1
kind: Secret
metadata:
  name: quay-pull-secret
  namespace: "{{ ocp4_workload_quay_operator_project }}"
data:
  .dockerconfigjson: "{{ ocp4_workload_quay_operator_dockerconfigjson }}"
type: kubernetes.io/dockerconfigjson
