---
kind: Secret
apiVersion: v1
metadata:
  name: {{ ocp4_workload_quay_operator_registry_name }}-admin-token
  namespace: {{ ocp4_workload_quay_operator_registry_namespace }}
stringData:
  token: {{ _ocp4_workload_quay_operator_registry_admin_token }}
type: Opaque
