apiVersion: v1
kind: Secret
metadata:
  name: quay-superuser-secret
  namespace: "{{ ocp4_workload_quay_operator_project }}"
stringData:
  superuser-username: "{{ ocp4_workload_quay_operator_superuser_username }}"
  superuser-password: "{{ _ocp4_workload_quay_operator_superuser_password }}"
  superuser-email: "{{ ocp4_workload_quay_operator_superuser_email }}"