apiVersion: v1
kind: Secret
metadata:
  name: quay-config-secret
  namespace: "{{ ocp4_workload_quay_operator_project }}"
stringData:
  config-app-password: "{{ ocp4_workload_quay_operator_config_app_password }}"
