apiVersion: v1
kind: Secret
metadata:
  name: quay-ssl-certificate-secret
  namespace: "{{ ocp4_workload_quay_operator_project }}"
data:
  tls.crt: "{{ _ocp4_workload_quay_operator_ssl_certificate }}"
  tls.key:  "{{ _ocp4_workload_quay_operator_ssl_key }}"