apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: quay
  namespace: "{{ ocp4_workload_quay_operator_project }}"
spec:
  channel: "{{ ocp4_workload_quay_operator_channel }}"
  installPlanApproval: Automatic
  name: quay-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% if ocp4_workload_quay_operator_starting_csv | length > 0 %}
  startingCSV: "{{ ocp4_workload_quay_operator_starting_csv }}"
{% endif %}
