Host *.internal
   User ec2-user
   IdentityFile ~/.ssh/{{env_authorized_key}}.pem
   ForwardAgent yes
   StrictHostKeyChecking no

Host ec2*
  User ec2-user
  IdentityFile ~/.ssh/{{env_authorized_key}}.pem
  ForwardAgent yes
  StrictHostKeyChecking no
