Host *.internal
  User {{remote_user}}
  IdentityFile ~/.ssh/{{key_name}}.pem
  ForwardAgent yes
  StrictHostKeyChecking no
  ConnectTimeout 60
  ConnectionAttempts 10

Host ec2*
  User {{remote_user}}
  IdentityFile ~/.ssh/{{key_name}}.pem
  ForwardAgent yes
  StrictHostKeyChecking no
  ConnectTimeout 60
  ConnectionAttempts 10
