<VirtualHost *:*>
    ProxyPreserveHost On

    # Servers to proxy the connection, or;
    # List of application servers:
    # Usage:
    # ProxyPass / http://[IP Addr.]:[port]/
    # ProxyPassReverse / http://[IP Addr.]:[port]/
    # Example:
    ProxyPass / {{proxyservername}}/
    ProxyPassReverse / {{proxyservername}}/

    ServerName {{servername}}

    CacheRoot   "/var/cache/httpd/proxy/" # parameterize me for more storage
    CacheEnable disk /
    CacheDirLevels 2
    CacheDirLength 1


</VirtualHost>
