---
AWSTemplateFormatVersion: "2010-09-09"
Resources:
  AdminUser:
    Type: AWS::IAM::User
    Properties:
      UserName: "{{ email | default(owner) | default('open-environment') }}-{{ guid }}-admin"
      LoginProfile:
        Password: {{ admin_console_password | to_json }}
        PasswordResetRequired: False
      Policies:
        - PolicyName: AdminAccessPolicy
          PolicyDocument:
            {{ sandbox_aws_admin_user_policy | to_nice_yaml | indent(12) }}

  AdminUserAccessKey:
      DependsOn: AdminUser
      Type: AWS::IAM::AccessKey
      Properties:
        UserName:
          Ref: AdminUser
Outputs:
  AdminUser:
    Value:
      Ref: AdminUser
    Description: IAM Admin User
  AdminUserAccessKey:
    Value:
      Ref: AdminUserAccessKey
    Description: IAM access key for Admin
  AdminUserSecretAccessKey:
    Value:
      Fn::GetAtt:
        - AdminUserAccessKey
        - SecretAccessKey
    Description: IAM User access key for admin
