---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ocp4_workload_codeserver_name }}"
  namespace: "{{ _ocp4_workload_codeserver_namespace }}"
  labels:
    app: "{{ ocp4_workload_codeserver_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ ocp4_workload_codeserver_name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: "{{ ocp4_workload_codeserver_name }}"
    spec:
      initContainers:
      - name: initialize
        image: "{{ ocp4_workload_codeserver_init_image }}:{{ ocp4_workload_codeserver_init_image_tag }}"
        imagePullPolicy: "{{ ocp4_workload_codeserver_init_image_pull_policy }}"
        resources:
          requests:
            cpu: "{{ ocp4_workload_codeserver_init_request_cpu }}"
            memory: "{{ ocp4_workload_codeserver_init_request_memory }}"
        volumeMounts:
        - name: "{{ ocp4_workload_codeserver_name }}-volume"
          mountPath: /home/codeserver
        env:
        - name: CODE_WORKSPACE_NAME
          value: "{{ ocp4_workload_codeserver_workspace_name }}"
        - name: CODE_PASSWORD
          value: "{{ ocp4_workload_codeserver_password }}"
        - name: CODE_REPOS_LIST
          value: "{{ _ocp4_workload_codeserver_repos }}"
        - name: CODE_EXTENSIONS_LIST
          value: "{{ ocp4_workload_codeserver_extensions }}"
      containers:
      - name: "{{ ocp4_workload_codeserver_name }}"
        image: "{{ ocp4_workload_codeserver_image }}:{{ ocp4_workload_codeserver_image_tag }}"
        imagePullPolicy: "{{ ocp4_workload_codeserver_image_pull_policy }}"
        ports:
        - containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: "{{ ocp4_workload_codeserver_request_cpu }}"
            memory: "{{ ocp4_workload_codeserver_request_memory }}"
        volumeMounts:
        - name: "{{ ocp4_workload_codeserver_name }}-volume"
          mountPath: /home/codeserver
      restartPolicy: Always
      volumes:
      - name: "{{ ocp4_workload_codeserver_name }}-volume"
        persistentVolumeClaim:
          claimName: "{{ ocp4_workload_codeserver_name }}"
