---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: "{{ ocp4_workload_codeserver_name }}"
  namespace: "{{ _ocp4_workload_codeserver_namespace }}"
  labels:
    app: "{{ ocp4_workload_codeserver_name }}"
spec:
  port:
    targetPort: 8080
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: "{{ ocp4_workload_codeserver_name }}"
    weight: 100
  wildcardPolicy: None
