[bastions]
{% for host in groups['bastions'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[utilities]
{% for host in groups['utilities'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}