[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-7-server-rh-common-rpms]
name=Red Hat Enterprise Linux 7 Common
baseurl={{own_repo_path}}/rhel-7-server-rh-common-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.8-rpms]
name=Red Hat Ansible
baseurl={{own_repo_path}}/rhel-7-server-ansible-2.8-rpms
enabled=1
gpgcheck=0