{% if ansible_distribution_major_version == "8" %}
# RHEL 8 Repos

[rhel8baseos]
name=rhel8-baseos
baseurl=https://{{ satellite_url }}/pulp/repos/{{ satellite_org }}/Library/content/dist/rhel8/8/x86_64/baseos/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem

[rhel8appstream]
name=rhel8-appstream
baseurl=https://{{ satellite_url }}/pulp/repos/{{ satellite_org }}/Library/content/dist/rhel8/8/x86_64/appstream/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem

[rhel8ansible]
name=rhel8-ansible-2.8
baseurl=https://{{ satellite_url }}/pulp/repos/{{ satellite_org }}/Library/content/dist/layered/rhel8/x86_64/ansible/2/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem
{% endif %}

{% if ansible_distribution_major_version == "7" %}
# RHEL 7 Repos

{% if rhel_repos is defined %}
{% for i in range(0,rhel_repos|length) %}
[{{ rhel_repos[i] }}]
name={{ rhel_repos[i] }}
baseurl={{own_repo_path}}/{{ rhel_repos[i] }}
enabled=1
gpgcheck=0

{% endfor %}
{% else %}
[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/rhel-7-server-rpms
enabled=1
gpgcheck=0
{% endif %}
{% endif %}