heat_template_version: 2015-04-30

description: Simple template to deploy a single key

resources:
  dry-run-{{ 99999 | random }}-infra_key:
    type: OS::Nova::KeyPair
    properties:
      name: dry-run-{{ 99999 | random }}-infra_key
      save_private_key: true
