clouds:
  {{ osp_auth_cloud }}
    auth:
      auth_url: "{{ osp_auth_url }}"
      username: "{{ osp_auth_username }}"
      project_id: 8773e395ce794899be9cd3c69231bb01
      project_name: "admin"
      user_domain_name: "Default"
      password: "{{ osp_auth_password }}"
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3