apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry 
spec:
  capacity:
    storage: 100Gi 
  accessModes:
  - ReadWriteMany 
  nfs: 
    path: {{ nfs_export_path }}/ocp-registry
    server: {{ nfs_server_address }}
  persistentVolumeReclaimPolicy: Retain 