parameter_defaults:
  CloudName: "{{ ansible_default_ipv4.address }}"
  CloudDomain: "{{ domain }}"
  ControlPlaneStaticRoutes: []
  Debug: true
  DeploymentUser: stack
  DnsServers:
    - 1.1.1.1
    - 8.8.8.8
  DockerInsecureRegistryAddress:
    - "{{ ansible_default_ipv4.address }}:8787"
  NeutronPublicInterface: "{{ NeutronPublicInterface }}"
  NeutronDnsDomain:  "localdomain"
  NeutronBridgeMappings: "{{ NeutronBridgeMappings }}"
  NeutronPhysicalBridge: "{{ NeutronPhysicalBridge }}"
  StandaloneEnableRoutedNetworks: false
  StandaloneHomeDir: /home/stack
  StandaloneLocalMtu: 1500
  CinderLVMLoopDeviceSize: {{ CinderLVMLoopDeviceSize }}
  StandaloneExtraConfig:
    NovaComputeLibvirtType: qemu
  ControlPlaneStaticRoutes: [{'ip_netmask':'0.0.0.0/0', 'next_hop':'{{ ansible_default_ipv4.gateway }}', 'default':true}]
  ValidateGatewaysIcmp: false
  ValidateControllersIcmp: false

