{
    "credentials": [
        {"type": "password"},
        {"value": "pass1"},{"temporary": false}],"email": "user1@no-reply.com","emailVerified": true,         "enabled": true,"firstName": "user1","lastName": "Developer","username": "user1"}