apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: community-operators-index
  namespace: openshift-marketplace
spec:
  displayName: Community Operators Index {{ community_catalog_source_tag }}
  image: 'quay.io/gpte-devops-automation/olm_snapshot_community_catalog:{{ community_catalog_source_tag }}'
  publisher: Daniel Oh
  sourceType: grpc
