{
  "schemaVersion": "2.2.0",
  "metadata": {
    "name": "user-workspace"
  },
  "components": [
    {
      "container": {
        "cpuLimit": "1000m",
        "cpuRequest": "500m",
        "endpoints": [
          {
            "exposure": "public",
            "name": "index-webpage",
            "protocol": "http",
            "targetPort": 8080
          },
          {
            "exposure": "public",
            "name": "quarkus-devui",
            "path": "/q/dev",
            "protocol": "http",
            "targetPort": 8080
          },
          {
            "exposure": "none",
            "name": "quarkus-debug",
            "protocol": "tcp",
            "targetPort": 5005
          }
        ],
        "env": [
          {
            "value": "/home/jboss/.m2",
            "name": "MAVEN_CONFIG"
          },
          {
            "value": "-Xmx4G -Xss128M -XX:MetaspaceSize=1G -XX:MaxMetaspaceSize=2G -XX:+CMSClassUnloadingEnabled",
            "name": "MAVEN_OPTS"
          }
        ],
        "image": "image-registry.openshift-image-registry.svc:5000/openshift/quarkus-stack:3.5",
        "memoryLimit": "6Gi",
        "memoryRequest": "4Gi",
        "command": [
          "tail", "-f", "/dev/null"
        ]
      },
      "name": "quarkus-tools"
    }
  ],
  "commands": [
    {
      "id": "Run Tests",
      "exec": {
        "component": "quarkus-tools",
        "commandLine": "mvn verify -f ${PROJECT_SOURCE}/quarkus-workshop-m1m2-labs"
      }
    },
    {
      "id": "Start Live Coding",
      "exec": {
          "component": "quarkus-tools",
          "commandLine": "mvn clean quarkus:dev -Dquarkus.http.host=0.0.0.0 -f ${PROJECT_SOURCE}/quarkus-workshop-m1m2-labs"
      }
    },
    {
      "id": "Package App for OpenShift",
      "exec": {
        "component": "quarkus-tools",
        "commandLine": "mvn package -DskipTests -f ${PROJECT_SOURCE}/quarkus-workshop-m1m2-labs"
      }
    },
    {
      "id": "Build Native App",
      "exec": {
        "component": "quarkus-tools",
        "commandLine": "mvn package -Pnative -DskipTests -f ${PROJECT_SOURCE}/quarkus-workshop-m1m2-labs"
      }
    }
  ]
}