{
  "apiVersion": "1.0.0",
  "metadata": {
    "name": "{{ user }}-workspace"
  },
  "components": [
    {
      "id": "redhat/quarkus-java11/latest",
      "type": "chePlugin"
    },
    {
      "mountSources": true,
      "memoryLimit": "4Gi",
      "type": "dockerimage",
      "alias": "quarkus-tools",
      "image": "image-registry.openshift-image-registry.svc:5000/openshift/quarkus-stack:2.2.45",
      "env": [
        {
          "value": "/home/jboss/.m2",
          "name": "MAVEN_CONFIG"
        },
        {
          "value": "-Xmx4G -Xss128M -XX:MetaspaceSize=1G -XX:MaxMetaspaceSize=2G -XX:+CMSClassUnloadingEnabled",
          "name": "MAVEN_OPTS"
        }
      ],
      "endpoints": [
        {
          "name": "web-{{ user }}",
          "port": 8080,
          "attributes": {
            "discoverable": "true",
            "public": "true",
            "protocol": "http"
          }
        },
        {
          "name": "debug-{{ user }}",
          "port": 5005,
          "attributes": {
            "discoverable": "false",
            "public": "false",
            "protocol": "jdwp"
          }
        }
      ]
    }
  ],
  "commands": [
    {
      "name": "Login to OpenShift",
      "actions": [
        {
          "type": "exec",
          "component": "quarkus-tools",
          "command": "oc login https://$KUBERNETES_SERVICE_HOST:$KUBERNETES_SERVICE_PORT --insecure-skip-tls-verify=true",
          "workdir": "${CHE_PROJECTS_ROOT}"
        }
      ]
    },
    {
      "name": "Run Tests",
      "actions": [
        {
          "type": "exec",
          "component": "quarkus-tools",
          "command": "mvn verify -f ${CHE_PROJECTS_ROOT}/quarkus-workshop-labs",
          "workdir": "${CHE_PROJECTS_ROOT}"
        }
      ]
    },
    {
      "name": "Start Live Coding",
      "actions": [
        {
          "type": "exec",
          "component": "quarkus-tools",
          "command": "mvn clean compile quarkus:dev -f ${CHE_PROJECTS_ROOT}/quarkus-workshop-labs",
          "workdir": "${CHE_PROJECTS_ROOT}"
        }
      ]
    },
    {
      "name": "Package App for OpenShift",
      "actions": [
        {
          "type": "exec",
          "component": "quarkus-tools",
          "command": "mvn package -DuberJar=true -DskipTests -f ${CHE_PROJECTS_ROOT}/quarkus-workshop-labs",
          "workdir": "${CHE_PROJECTS_ROOT}"
        }
      ]
    },
    {
      "name": "Build Native App",
      "actions": [
        {
          "type": "exec",
          "component": "quarkus-tools",
          "command": "mvn package -Pnative -DskipTests -f ${CHE_PROJECTS_ROOT}/quarkus-workshop-labs",
          "workdir": "${CHE_PROJECTS_ROOT}"
        }
      ]
    },
    {
      "name": "Start Debugger on 5005",
      "actions": [
        {
          "type": "vscode-launch",
          "referenceContent": "{\n  \"version\": \"0.2.0\",\n  \"configurations\": [\n    {\n      \"type\": \"java\",\n      \"request\": \"attach\",\n      \"name\": \"Attach to App\",\n      \"hostName\": \"localhost\",\n      \"port\": 5005\n    }\n  ]\n}\n"
        }
      ]
    }
  ]
}