apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators-index
  namespace: openshift-marketplace
spec:
  displayName: Red Hat Operators Index {{ redhat_catalog_source_tag }}
  image: 'quay.io/gpte-devops-automation/olm_snapshot_redhat_catalog:{{ redhat_catalog_source_tag }}'
  publisher: Daniel Oh
  sourceType: grpc
