apiVersion: "v1"
kind: "PersistentVolumeClaim"
metadata:
  name: "twistlock-console"
  namespace: "{{ ocp4_workload_prisma_project }}"
spec:
  accessModes:
    - "ReadWriteOnce"
  resources:
    requests:
      storage: "100Gi"
  storageClassName: "gp2"