---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ couchbase_metadata_name }}
  namespace: {{ couchbase_subscription_namespace }}
spec:
  channel: {{ ocs_operator_channel }}
  installPlanApproval: Automatic
  name: {{ ocs_spec_name }}
  source: {{ ocs_source }}
  sourceNamespace: {{ ocs_source_namespace }}
