apiVersion: v1
kind: Secret
metadata:
  name: {{ az_acm_secret_name }}
  namespace: {{ az_acm_secret_namespace | default('open-cluster-management') }}
  annotations:
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: azr
type: Opaque
data:
  baseDomain: {{ az_root_dns_zone | string | b64encode }}
  pullSecret: {{ ocp4_token | string | b64encode }}
  ssh-privatekey: {{ ssh_privatekey | string | b64encode }}
  ssh-publickey: {{ ssh_publickey | string | b64encode }}
  cloudName: QXp1cmVQdWJsaWNDbG91ZA==
  baseDomainResourceGroupName: {{ az_resource_group_name | string | b64encode }}
  osServicePrincipal.json: {{  az_service_principal | to_json  | b64encode }}
