[towers]
{% for host in groups['towers'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[servers]
{% for host in groups['servers'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[gitservers]
{% for host in groups['gitservers'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[towerimp:children]
towers
servers
gitservers

[towerimp:vars]
timeout=60
ansible_become=yes
ansible_user={{remote_user}}
ansible_ssh_private_key_file="~/.ssh/{{guid}}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"

