Host * 

{% if cloud_provider == 'ec2' %}
  User  ec2-user
{% elif cloud_provider == 'osp' %}
  User cloud-user
{% endif %}
  IdentityFile ~/.ssh/{{ guid }}key.pem
  ForwardAgent yes
  StrictHostKeyChecking no
  ConnectTimeout 60
  ConnectionAttempts 10
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
