#!/bin/bash
echo "Activating virtualenv certbot"
source /opt/virtualenvs/certbot/bin/activate

certbot certonly -n --agree-tos --email {{ _certbot_le_email }} \
  -d {{ _certbot_domain }} \
  {{ (_certbot_wildcard_domain|length>0)|ternary('-d','')}} {{ (_certbot_wildcard_domain|length>0)|ternary(_certbot_wildcard_domain,'')}} \
  {{ (_certbot_wildcard_certs|bool)|ternary('--dns-'+_certbot_dns_provider, '') }} \
{% if _certbot_dns_provider is match('rfc2136') %}
  --dns-rfc2136-credentials /home/{{ _certbot_user }}/.rfc2136.ini \
  --dns-rfc2136-propagation-seconds 15 \
{% endif %}
  --config-dir={{ _certbot_dir }}/config \
  --work-dir={{ _certbot_dir }}/work \
  --logs-dir={{ _certbot_dir }}/logs \
  {{ (_certbot_production|bool)|ternary('','--test-cert') }} \
  {{ _certbot_additional_args|d(_certbot_args)|d('') }}
