---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ ocp4_workload_sealed_secrets_namespace }}

resources:
- https://github.com/bitnami-labs/sealed-secrets/releases/download/{{ ocp4_workload_sealed_secrets_version }}/controller.yaml

patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: sealed-secrets-controller
  patch: |-
    - op: remove
      path: "/spec/template/spec/securityContext"
    - op: remove
      path: "/spec/template/spec/containers/0/securityContext"
