---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: {{ ocp4_workload_sealed_secrets_namespace }}

resources:
- https://github.com/bitnami-labs/sealed-secrets/releases/download/{{ ocp4_workload_sealed_secrets_version }}/controller.yaml

patches:
{% if ocp4_workload_sealed_secrets_patch_api_version | bool %}
- target:
    group: rbac.authorization.k8s.io
    version: v1beta1
  patch: |-
    - op: replace
      path: "/apiVersion"
      value: rbac.authorization.k8s.io/v1
{% endif %}
- target:
    group: apps
    version: v1
    kind: Deployment
    name: sealed-secrets-controller
  patch: |-
    - op: remove
      path: "/spec/template/spec/securityContext"
    - op: remove
      path: "/spec/template/spec/containers/0/securityContext"
{% if ocp4_workload_sealed_secrets_add_update_status_argument | bool %}
    - op: add
      path: "/spec/template/spec/containers/0/args/0"
      value: "--update-status"
{% endif %}