apiVersion: che.eclipse.org/v1alpha1
kind: KubernetesImagePuller
metadata:
  name: image-puller
  namespace: "{{ ocp4_workload_image_puller_operator_namespace }}"
spec:
  daemonsetName: k8s-image-puller
  images: "{{ ocp4_workload_image_puller_operator_images }}"