					<div id="terminal_tab" class="tabcontent">
						<div class="split top">
						    <iframe id="terminal_01"  src="http://{{ showroom_host }}:8001/wetty" width="100%" style="border:none;"></iframe>
						</div>
						<div class="split bottom">
							<iframe id="terminal_02"  src="http://{{ showroom_host }}:8002/wetty" width="100%" style="border:none;"></iframe>
						</div>
					</div>
