---
apiVersion: v1
baseDomain: {{ ocp4_base_domain | default(guid + subdomain_base_suffix) }}
compute:
- hyperthreading: Enabled
  name: worker
  platform:
    {% if cloud_provider == 'ec2'| d(false) | bool %}
          ImageId: {{ custom_image.image_id }}
    aws:
      type: {{ worker_instance_type }}
      rootVolume:
        type: {{ worker_storage_type }}
    {% endif %}
  replicas: {{ worker_instance_count }}
controlPlane:
  hyperthreading: Enabled
  name: master
  platform:
    {% if cloud_provider == 'ec2'| d(false) | bool %}
            ImageId: {{ custom_image.image_id }}
    aws:
      type: {{ master_instance_type }}
      rootVolume:
        type: {{ master_storage_type }}
    {% endif %}
  replicas: {{ master_instance_count }}
metadata:
  name: {{ guid }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
  networkType: OpenshiftSDN
platform:
{% if cloud_provider == 'ec2'| d(false) | bool %}
  aws:
    region: {{ aws_region_final | d(aws_region) }}
    userTags: {{ hostvars.localhost.cf_tags_final | d({}) | to_json }}
{% endif %}
{% if cloud_provider == 'osp' %}
  openstack:
    cloud: {{guid}}-project
    computeFlavor: 4c16g30d
    externalNetwork: external
    lbFloatingIP: {{ hostvars.localhost.ocp_api_fip }}
    octaviaSupport: "1"
    region: ""
    trunkSupport: "1"
{% endif %}
pullSecret: '{{ ocp4_token |  replace("'",'"') }}'
sshKey: |
  {{ idrsapub.content | b64decode }}
