[Unit]
Description=Gogs (Go Git Service)
After=syslog.target
After=network.target
#After=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
Type=simple
User={{ gogs_user }}
Group={{ gogs_user }}
WorkingDirectory={{ gogs_user_home }}/gogs
ExecStart={{ gogs_user_home }}/gogs/gogs web
Restart=always
Environment=USER={{ gogs_user }} HOME={{ gogs_user_home }}

[Install]
WantedBy=multi-user.target
