kind: Secret
apiVersion: v1
metadata:
  name: gitlab-oauth-config
  namespace: {{ ocp4_workload_advanced_developer_suite_devspaces_namespace }}
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: oauth-scm-configuration
  annotations:
    che.eclipse.org/oauth-scm-server: gitlab
    che.eclipse.org/scm-server-endpoint: https://{{ _gitlab_url }}
type: Opaque
stringData:
  id: {{ _devspaces_client_id }}
  secret: {{ _devspaces_client_secret }}