---
kind: Secret
apiVersion: v1
metadata:
  name: openid-client-secret-bb6zw
  namespace: openshift-config
stringData:
  clientSecret: {{ ocp4_workload_advanced_developer_suite_openshift_keycloak_client_secret }}
type: Opaque
