---
apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: rhbk
    type: OpenID
    mappingMethod: claim
    openID:
      claims:
        email:
        - email
        name:
        - name
        preferredUsername:
        - preferred_username
      clientID: {{ ocp4_workload_advanced_developer_suite_openshift_keycloak_client_id }}
      clientSecret:
        name: openid-client-secret-bb6zw
      extraScopes: []
      issuer: >-
        https://sso.{{ _ocp_apps_domain }}/realms/trusted-artifact-signer
