apiVersion: v1
stringData:
  .npmrc: |
    registry=https://npm.registry.redhat.com
kind: Secret
metadata:
  name: dynamic-plugins-npmrc
  namespace: {{ ocp4_workload_advanced_developer_suite_dh_namespace }}