apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ocp_workloads_namespaced_example.app_name }}
  namespace: {{ sandbox_openshift_namespace }}
  labels:
    app: {{ ocp_workloads_namespaced_example.app_name }}
    deployment-method: kubernetes-module
spec:
  replicas: {{ ocp_workloads_namespaced_example.app_replicas | default(1) | int }}
  selector:
    matchLabels:
      app: {{ ocp_workloads_namespaced_example.app_name }}
  template:
    metadata:
      labels:
        app: {{ ocp_workloads_namespaced_example.app_name }}
    spec:
      containers:
      - name: {{ ocp_workloads_namespaced_example.app_name }}
        image: {{ ocp_workloads_namespaced_example.app_image }}
        ports:
        - containerPort: {{ ocp_workloads_namespaced_example.service_port | int }}
        resources:
          limits:
            cpu: {{ ocp_workloads_namespaced_example.resource_limits.cpu }}
            memory: {{ ocp_workloads_namespaced_example.resource_limits.memory }}
          requests:
            cpu: {{ ocp_workloads_namespaced_example.resource_requests.cpu }}
            memory: {{ ocp_workloads_namespaced_example.resource_requests.memory }}