apiVersion: v1
kind: Service
metadata:
  name: {{ ocp_workloads_namespaced_example.app_name }}-service
  namespace: {{ sandbox_openshift_namespace }}
  labels:
    app: {{ ocp_workloads_namespaced_example.app_name }}
    deployment-method: kubernetes-module
spec:
  selector:
    app: {{ ocp_workloads_namespaced_example.app_name }}
  ports:
  - port: {{ ocp_workloads_namespaced_example.service_port | int }}
    targetPort: {{ ocp_workloads_namespaced_example.service_port | int }}
  type: ClusterIP