---
apiVersion: v1
kind: Secret
metadata:
  namespace: openshift-migration
  name: migstorage-creds
type: Opaque
data:
  aws-access-key-id: {{ noobaa_key|b64encode }}
  aws-secret-access-key: {{ noobaa_secret|b64encode }}
---
apiVersion: migration.openshift.io/v1alpha1
kind: MigStorage
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: migstorage-sample
  namespace: openshift-migration
spec:
  backupStorageProvider: aws
  volumeSnapshotProvider: aws

  backupStorageConfig:
    awsBucketName: first.bucket
    awsS3ForcePathStyle: true
    awsS3Url: {{ noobaa_s3_url }}
    credsSecretRef:
      namespace: openshift-migration
      name: migstorage-creds

  volumeSnapshotConfig:
    awsRegion: {{ noobaa_region }}
    credsSecretRef:
      namespace: openshift-migration
      name: migstorage-creds
