apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: dev-spring-petclinic
  namespace: openshift-gitops
spec:
  destination:
    namespace: devsecops-dev
    server: https://kubernetes.default.svc
  project: spring-petclinic
  source:
    path: environments/dev
    repoURL: http://{{ gogs_route }}/gogsadmin/spring-petclinic-config
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
