apiVersion: v1
kind: Template
labels:
  app: hardening-template
  template: hardening-template
message: A Jenkins pipeline for hardening openjdk 8
metadata:
  name: hardening-template
  annotations:
    description: |-
      A Jenkins pipeline for hardening openjdk
    iconClass: icon-jenkins
    openshift.io/display-name: OpenJDK Hardening Pipeline
    tags: instant-app,jenkins
parameters:
- description: GUID
  name: GUID
  value: fb78
- description: Gogs user
  name: GOGS_USER
  value: user1
- description: Git Branch to use
  name: GIT_BRANCH
  value: master
- description: SSH Password
  name: SSH_PASSWORD
- description: OCP Application domain
  name: APP_DOMAIN
- description: bastion
  name: BASTION
- description: OCP API Endpoint
  name: API_ENDPOINT
- description: registry
  name: INTERNAL_REGISTRY
objects:
- apiVersion: v1
  kind: BuildConfig
  metadata:
    labels:
      app: openjdk-hardening-pipeline
    name: openjdk-hardening-pipeline
  spec:
    failedBuildsHistoryLimit: 5
    nodeSelector: {}
    output: {}
    postCommit: {}
    resources: {}
    runPolicy: Serial
    source:
      git:
        uri:  http://gogs-{{ ocp4_admin_project }}.{{ route_subdomain }}/${GOGS_USER}/SecurityDemos.git
        ref: ${GIT_BRANCH}
    strategy:
      jenkinsPipelineStrategy:
        jenkinsfilePath: hardening_pipeline/Jenkinsfile
        env:
        - name: JENKINS_GIT_BRANCH
          value: ${GIT_BRANCH}
        - name: JENKINS_GIT_URL
          value: http://gogs-{{ ocp4_admin_project }}.{{ route_subdomain }}/${GOGS_USER}/SecurityDemos.git
        - name: JENKINS_GUID
          value: ${GUID}
        - name: JENKINS_GOGS_USER
          value: ${GOGS_USER}
        - name: JENKINS_SSH_PASSWORD
          value: ${SSH_PASSWORD}
        - name: JENKINS_BASTION
          value: ${BASTION}
        - name: JENKINS_APP_DOMAIN
          value: ${APP_DOMAIN}
        - name: JENKINS_OCP_API_ENDPOINT
          value: ${API_ENDPOINT}
        - name: JENKINS_INTERNAL_REGISTRY
          value: ${INTERNAL_REGISTRY}
    triggers:
    - generic:
        secret: ${GOGS_USER}-openjdk-hardening-pipeline
      type: Generic
