apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ ocp4_dso_quay_project_name }}
  namespace: {{ ocp4_dso_quay_project_name }}
spec:
  targetNamespaces:
  - {{ ocp4_dso_quay_project_name }}