---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: reports-repo
    app.kubernetes.io/instance: reports-repo
    app.kubernetes.io/name: reports-repo
    app.kubernetes.io/part-of: reports-repo
  name: reports-repo
  namespace: {{ ocp4_admin_project }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: reports-repo
      deployment: reports-repo
  template:
    metadata:
      labels:
        app: reports-repo
        deployment: reports-repo
    spec:
      containers:
      - name: uploader
        image: quay.io/chmouel/go-simple-uploader:latest
        imagePullPolicy: IfNotPresent
        env:
          - name: UPLOADER_PORT
            value: "9000"
          - name: UPLOADER_DIRECTORY
            value: "/fileuploads"
        volumeMounts:
        - mountPath: /fileuploads
          name: staticfiles
      - image: quay.io/siamaksade/nginx:latest
        name: nginx
        ports:
        - containerPort: 8080
          protocol: TCP
        volumeMounts:
        - mountPath: /etc/nginx/conf.d/
          name: nginx-conf
        - mountPath: /fileuploads
          name: staticfiles
      volumes:
      - name: nexus-data
        persistentVolumeClaim:
          claimName: nexus-pv
      volumes:
      - configMap:
          defaultMode: 420
          name: reports-repo-nginx-conf
        name: nginx-conf
      - name: staticfiles
        persistentVolumeClaim:
          claimName: reports-repo-pv
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: reports-repo-nginx-conf
  namespace: {{ ocp4_admin_project }}
data:
  htpasswd: |
    reports:$apr1$MHzwWLP6$P/dRWWfgBe4J8wfId78v71
  nginx.conf: "types {\n    text/plain    yaml yml;\n}\n\nserver {\n    listen 8080
    default_server;\n    gzip on;\n\n\tlocation /upload {\n\t\tsatisfy any;\n\t\tauth_basic
    \"Welcome to the Jungle!\"; #For Basic Auth\n    \tauth_basic_user_file conf.d/htpasswd;
    \ #For Basic Auth\n\t\tdeny all;\n\n\t\tproxy_set_header  Host $host;\n\t\tproxy_set_header
    \ X-Real-IP $remote_addr;\n\t\tproxy_set_header  X-Forwarded-Proto https;\n\t\tproxy_set_header
    \ X-Forwarded-For $remote_addr;\n\t\tproxy_set_header  X-Forwarded-Host $remote_addr;\n\n\t\tproxy_pass
    http://localhost:9000;\n\t}\n\n\tlocation /private {\n\t\troot /fileuploads;\n\n\t\tsatisfy
    any;\n\t\tauth_basic \"Welcome to the Jungle!\"; #For Basic Auth\n    \tauth_basic_user_file
    conf.d/htpasswd;  #For Basic Auth\n\t\tdeny all;\n\n\t    autoindex
    on;\n\t    autoindex_exact_size off;\n\t    autoindex_localtime on;\n\t}\n\n\tlocation
    / {\n\t\troot /fileuploads;\n\t    autoindex on;\n\t    autoindex_exact_size off;\n\t
    \   autoindex_localtime on;\n\t}\n}\n"
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: reports-repo
  name: reports-repo
  namespace: {{ ocp4_admin_project }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: reports-repo
    deployment: reports-repo
---
apiVersion: v1
kind: Route
metadata:
  labels:
    app: reports-repo
  name: reports-repo
  namespace: {{ ocp4_admin_project }}
spec:
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: reports-repo
    weight: 100
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  labels:
    app: reports-repo
  name: reports-repo-pv
  namespace: {{ ocp4_admin_project }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
