apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: gatling
  namespace: {{ ocp4_admin_project }}
spec:
  params:
  - name: DURATION
    description: The duration of running simulations
    type: string
    default: "30"
  - name: CONCURRENT_USERS
    description: The number of concurrent users
    type: string
    default: "10"
  - name: APP_URL
    description: The application under test url
    type: string
  - name: REPORTS_REPO_HOST
    description: The reports repository host based on https://github.com/chmouel/openshift-django-uploader
    default: http://reports-repo:8080
  - name: REPORTS_REPO_USERNAME
    description: The reports repository username
    default: reports
  - name: REPORTS_REPO_PASSWORD
    description: The reports repository password
    default: reports
  workspaces:
  - description: The workspace consisting of maven project.
    name: simulations
  steps:
    - name: run-tests
      image: quay.io/siamaksade/gatling:latest
      env:
        - name: PIPELINERUN_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tekton.dev/pipelineRun']
      script: |
        #!/usr/bin/env bash

        set -x

        cd /opt/gatling/
        ls -lhrt

        # set simulation params
        export JAVA_OPTS="-DtestDuration=$(params.CONCURRENT_USERS) -DuserCount=$(params.DURATION) -Dserver=$(params.APP_URL)"

        # run simulation
        /opt/gatling/bin/gatling.sh -rd "Spring PetClinic Performance Test" -sf $(workspaces.simulations.path)

        # upload results
        REPORT=$(ls -td /opt/gatling/results/* | head -1)
        for f in $(find $REPORT/ -type f); do
          curl -u $(params.REPORTS_REPO_USERNAME):$(params.REPORTS_REPO_PASSWORD) -F path=$PIPELINERUN_NAME${f#/opt/gatling/results} -X POST -F file=@${f} $(params.REPORTS_REPO_HOST)/upload; echo ""
        done
