apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: el-webhook
  namespace: {{ ocp4_admin_project }}
  labels:
    app.kubernetes.io/managed-by: EventListener
    app.kubernetes.io/part-of: Triggers
    eventlistener: webhook
spec:
  port:
    targetPort: http-listener
  to:
    kind: "Service"
    name: el-webhook
    weight: 100
