apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: usertool
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: {{ ocp4_workload_acc_new_app_dev_usertool_repo_url }}
    targetRevision: {{ ocp4_workload_acc_new_app_dev_usertool_repo_revision }}
    path: {{ ocp4_workload_acc_new_app_dev_usertool_repo_path }}
    helm:
      values: |
        usertoolNamespace: {{ ocp4_workload_acc_new_app_dev_usertool_namespace }}
        image: {{ ocp4_workload_acc_new_app_dev_usertool_image }}
        redis:
          image: {{ ocp4_workload_acc_new_app_dev_usertool_redis_image }}
        labAdminPassword: {{ ocp4_workload_acc_new_app_dev_usertool_lab_admin_password }}
        labDuration: {{ ocp4_workload_acc_new_app_dev_usertool_lab_duration }}
        labAccessToken: {{ ocp4_workload_acc_new_app_dev_usertool_lab_access_token }}
        labUserCount: "{{ ocp4_workload_acc_new_app_dev_user_count }}"
        labUserPassword: {{ ocp4_workload_acc_new_app_dev_usertool_lab_user_password }}
        labUserPrefix: {{ ocp4_workload_acc_new_app_dev_user_prefix }}
        labExtraUrls: {{ _ocp4_workload_acc_new_app_dev_usertool_lab_extra_urls }}
        labModuleUrls: {{ _ocp4_workload_acc_new_app_dev_usertool_lab_module_urls }}
  destination:
    namespace: {{ ocp4_workload_acc_new_app_dev_usertool_namespace }}
    server: https://kubernetes.default.svc
  syncPolicy:
    automated: {}
