---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: tekton
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_acc_new_app_dev_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_acc_new_app_dev_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: 'tekton-{% raw %}{{ user }}{% endraw %}'
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: default
      source:
        repoURL: {{ _ocp4_workload_acc_new_app_dev_gitea_svc }}/{% raw %}{{ user }}{% endraw %}/{{ ocp4_workload_acc_new_app_dev_repo }}
        targetRevision: {{ ocp4_workload_acc_new_app_dev_revision }}
        path: tekton
        helm:
          values: |
            tektonNamespace: '{{ ocp4_workload_acc_new_app_dev_tekton_namespace_prefix }}{% raw %}{{ user }}{% endraw %}'
            namespacePermissions:
              user: '{% raw %}{{ user }}{% endraw %}'
              role: edit
            app:
              name: {{ ocp4_workload_acc_new_app_dev_demo_app_name }}
              namespace: '{{ ocp4_workload_acc_new_app_dev_demo_namespace_prefix }}{% raw %}{{ user }}{% endraw %}'
              repo:
                source:
                  url: {{ _ocp4_workload_acc_new_app_dev_gitea_svc }}/{% raw %}{{ user }}{% endraw %}/{{ ocp4_workload_acc_new_app_dev_demo_app_source }}
                  revision: {{ ocp4_workload_acc_new_app_dev_demo_app_source_revision }}
                  user: '{% raw %}{{ user }}{% endraw %}'
                  password: {{ ocp4_workload_acc_new_app_dev_gitea_user_password }}
                gitops:
                  url: {{ _ocp4_workload_acc_new_app_dev_gitea_svc }}/{% raw %}{{ user }}{% endraw %}/{{ ocp4_workload_acc_new_app_dev_demo_app_deploy }}
                  revision: {{ ocp4_workload_acc_new_app_dev_demo_app_deploy_revision }}
                  user: '{% raw %}{{ user }}{% endraw %}'
                  password: {{ ocp4_workload_acc_new_app_dev_gitea_user_password }}
                  path: {{ ocp4_workload_acc_new_app_dev_demo_app_deploy_path }}
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
