apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_acc_new_app_dev_demo_app_source }}
  namespace: {{ ocp4_workload_acc_new_app_dev_argocd_namespace_prefix }}{{ _ocp4_workload_acc_new_app_dev_user }}
spec:
  project: default
  source:
    repoURL: http://{{ ocp4_workload_acc_new_app_dev_gitea_instance }}.{{ ocp4_workload_acc_new_app_dev_gitea_project }}.svc:3000/{{ _ocp4_workload_acc_new_app_dev_user }}/{{ ocp4_workload_acc_new_app_dev_demo_app_deploy }}
    targetRevision: {{ ocp4_workload_acc_new_app_dev_demo_app_deploy_revision }}
    path: {{ ocp4_workload_acc_new_app_dev_demo_app_deploy_path }}
  destination:
    namespace: {{ ocp4_workload_acc_new_app_dev_demo_namespace_prefix }}{{ _ocp4_workload_acc_new_app_dev_user }}
    server: https://kubernetes.default.svc
  syncPolicy:
    automated: {}
