---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ ocp4_workload_acc_new_app_dev_maven_job_namespace }}
  annotations:
    openshift.io/display-name: "Maven Jobs"
    openshift.io/description: "Kubernetes jobs to pre-fetch maven dependencies."
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: maven-job
  namespace: {{ ocp4_workload_acc_new_app_dev_maven_job_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ ocp4_workload_acc_new_app_dev_maven_job_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
- kind: ServiceAccount
  name: maven-job
  namespace: {{ ocp4_workload_acc_new_app_dev_maven_job_namespace }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ _ocp4_workload_acc_new_app_dev_user }}-maven-fetch
  namespace: {{ ocp4_workload_acc_new_app_dev_maven_job_namespace }}
spec:
  backoffLimit: 3
  template:
    spec:
      serviceAccountName: maven-job
      restartPolicy: Never
      containers:
      - name: maven
        image: {{ ocp4_workload_acc_new_app_dev_maven_job_image }}
        command:
        - /bin/bash
        - -c
        - |
          set -euxo pipefail
          POD_CODESERVER=$(oc --namespace=codeserver-{{ _ocp4_workload_acc_new_app_dev_user }} get pods --selector='app.kubernetes.io/name=codeserver' --output=name)
          oc --namespace=codeserver-{{ _ocp4_workload_acc_new_app_dev_user }} exec ${POD_CODESERVER} --container=codeserver -- mvn package -DskipTests --file={{ ocp4_workload_acc_new_app_dev_maven_job_path }}
