---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ ocp4_workload_acc_new_app_dev_demo_namespace_prefix }}{{ _ocp4_workload_acc_new_app_dev_user }}
  annotations:
    openshift.io/description: "App Demo Namespace"
    openshift.io/display-name: "App Demo Namespace"
  labels:
    argocd.argoproj.io/managed-by: "{{ ocp4_workload_acc_new_app_dev_argocd_namespace_prefix }}{{ _ocp4_workload_acc_new_app_dev_user }}"
