---
apiVersion: cluster.open-cluster-management.io/v1beta2
kind: ManagedClusterSetBinding
metadata:
  namespace: {{ ocp4_workload_deploy_hosted_cluster_applications_namespace }}
  name: {{ ocp4_workload_deploy_hosted_cluster_clusterset_name | default('hcp') }}
spec:
  clusterSet: {{ ocp4_workload_deploy_hosted_cluster_clusterset_name | default('hcp') }}
