---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: clusterresourcequota-{{ guid }}
  namespace: {{ ocp4_workload_deploy_hosted_cluster_applications_namespace }}
  labels:
    app: clusterresourcequota-{{ guid }}
spec:
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
          guid: {{ guid }}
  clusterSets:
  - {{ ocp4_workload_deploy_hosted_cluster_clusterset_name | default('hcp') }}
