---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: clusterresourcequota-{{ guid }}
  namespace: rhdp-applications
  labels:
    app: clusterresourcequota
spec:
  clusterSelector:
    matchLabels:
      guid: {{ guid }}
