---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: clusterresourcequota-{{ guid }}
  namespace: rhdp-applications
  annotations:
    apps.open-cluster-management.io/github-branch: main
    apps.open-cluster-management.io/github-path: {{ ocp4_workload_deploy_hosted_cluster_user_quota_helm_chart_name }}
  labels:
    app: clusterresourcequota-{{ guid }}
spec:
  channel: rhdp-channels/rhdp-helm
  packageOverrides:
  - packageName: {{ ocp4_workload_deploy_hosted_cluster_user_quota_helm_chart_name }}
    packageOverrides:
    - path: spec
      value:
        numberOfUsers: {{ ocp4_workload_deploy_hosted_cluster_user_count }}
        userNameBase: {{ ocp4_workload_deploy_hosted_cluster_user_base }}
{% if ocp4_workload_deploy_hosted_cluster_user_quota | default('') | length > 0 %}
        clusterResourceQuota: {{ ocp4_workload_deploy_hosted_cluster_user_quota }}
{% endif %}
  placement:
    placementRef:
      kind: PlacementRule
      name: clusterresourcequota-{{ guid }}
