apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-piplerun-{{ 999999999999999999999 | random | to_uuid }}
  namespace: {{ ocp4_workload_tekton_ee_namespace }}
  labels:
    tekton.dev/pipeline: pipeline-ansible-builder
spec:
  params:
    - name: GIT_URL
      value: {{ item.git_params.url }}/{{ item.git_params.repository }}
    - name: GIT_REVISION
      value: {{ item.git_params.branch |default('main')}}
    - name: INT_REGISTRY
      value: {{ ocp4_workload_tekton_ee_internal_registry_route }}
    - name: EXT_REGISTRY
      value: {{ ocp4_workload_tekton_ee_hub_registry_route }}
    - name: IMAGE_NAME
      value: {{ item.ee_params.name }}
    - name: TAG
      value: {{ item.ee_params.tag }}
  pipelineRef:
    name: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-pipeline-ee-builder
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
    - name: ee-repo
      persistentVolumeClaim:
        claimName: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-pvc-image-builder
