apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: "{{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-pipeline-ee-builder"
spec:
  workspaces:
  - name: ee-repo
  params:
  
  - description: Project namespace
    name: NAMESPACE
    type: string
    default: {{ ocp4_workload_tekton_ee_namespace }}
  - description: url of the git repo for the code of deployment
    name: GIT_URL
    type: string
  - description: revision to be used from repo of the code for deployment (Commit id)
    name: GIT_REVISION
    type: string
    default: main
  - description: The location of the ansible-builder image.
    name: ANSIBLE_BUILDER_IMAGE
    type: string
    default: {{ ocp4_workload_tekton_ee_default_builder_image }}
  - description: Internal registry route
    name: INT_REGISTRY
    type: string
  - description: External registry route
    name: EXT_REGISTRY
    type: string
  - description: Name of the container image to be built
    name: IMAGE_NAME
    type: string
  - description: Tag of the container image to be built
    name: TAG
    type: string
    default: latest
  - description: Path to the directory to use as context for buildah.
    name: CONTEXT
    type: string
    default: "./"
  - description: The path to the Dockerfile to execute.
    name: DOCKERFILE
    type: string
    default: "Containerfile"
  - description: buildah build Args
    name: BUILD_ARGS
    type: string
    default: ""
  - description: buildah push Args
    name: PUSH_ARGS
    type: string
    default: ""
  - description: Verify the TLS on the registry endpoint (for push/pull to a non-TLS registry)
    name: TLSVERIFY
    type: string
    default: "false"
  - description: Dummy parameter for ee2-update task
    name: ee2-update
    type: string
    default: "ee2-update"

  tasks:

    - name: clone-repository
      taskRef:
        name: git-clone
        kind: ClusterTask
      workspaces:
      - name: output
        workspace: ee-repo
      params:
      - name: url
        value: $(params.GIT_URL)
      - name: deleteExisting
        value: "true"
      - name: revision
        value: $(params.GIT_REVISION)

    - name: create-build
      taskRef:
        name: build-file
        kind: Task
      params:
      - name: BUILDER_IMAGE
        value: $(params.ANSIBLE_BUILDER_IMAGE)
      - name: BUILD_CONTEXT
        value: $(params.CONTEXT)
      workspaces:
      - name: source
        workspace: ee-repo
      runAfter:
      - clone-repository

    - name: build-and-push-tag
      taskRef:
        name: buildah
        kind: ClusterTask
      params:
      - name: TLSVERIFY
        value: "false"
      - name: IMAGE
        value: $(params.EXT_REGISTRY)/$(params.IMAGE_NAME):$(params.TAG)
      - name: CONTEXT
        value: "$(params.CONTEXT)"
      - name: DOCKERFILE
        value: "$(params.DOCKERFILE)"
      - name: BUILD_EXTRA_ARGS
        value: "$(params.BUILD_ARGS)"
      - name: PUSH_EXTRA_ARGS
        value: "$(params.PUSH_ARGS)"
      workspaces:
      - name: source
        workspace: ee-repo
      runAfter:
      - create-build