apiVersion: "logging.openshift.io/v1"
kind: "ClusterLogging"
metadata:
  name: "instance"
  namespace: "openshift-logging"
spec:
  managementState: "Managed"
  logStore:
    type: "elasticsearch"
    elasticsearch:
      nodeCount: {{ ocp4_workload_logging_elasticsearch_replicas|int }}
{% if ocp4_workload_logging_elasticsearch_replicas|int > 1 %}
      redundancyPolicy: "SingleRedundancy"
{% else %}
      redundancyPolicy: "ZeroRedundancy"
{% endif %}
      nodeSelector: 
{% if ocp4_workload_logging_node_role | default("") | length > 0 %}
        "node-role.kubernetes.io/{{ ocp4_workload_logging_node_role }}": ""
      tolerations:
      - key: "{{ ocp4_workload_logging_node_role }}"
        value: reserved
        effect: NoSchedule
      - key: "{{ ocp4_workload_logging_node_role }}"
        value: reserved
        effect: NoExecute
{% else %}
        node-role.kubernetes.io/worker: ""
{% endif %}
      resources:
        request:
          memory: "{{ ocp4_workload_logging_elasticsearch_memory_request }}"
      storage:
{% if cloud_provider is match("ec2") %}
        storageClassName: "gp2"
{% elif cloud_provider is match("osp") %}
        storageClassName: "standard"
{% else %}
        storageClassName: ""
{% endif %}
        size: "{{ ocp4_workload_logging_elasticsearch_storage_request }}"
  visualization:
    type: "kibana"
    kibana:
      replicas: 1
      nodeSelector: 
{% if ocp4_workload_logging_node_role | default("") | length > 0 %}
        "node-role.kubernetes.io/{{ ocp4_workload_logging_node_role }}": ""
      tolerations:
      - key: "{{ ocp4_workload_logging_node_role }}"
        value: reserved
        effect: NoSchedule
      - key: "{{ocp4_workload_logging_node_role }}"
        value: reserved
        effect: NoExecute
{% else %}
        node-role.kubernetes.io/worker: ""
{% endif %}
  curation:
    type: "curator"
    curator:
      schedule: "30 3 * * *"
      nodeSelector: 
{% if ocp4_workload_logging_node_role | default("") | length > 0 %}
        "node-role.kubernetes.io/{{ ocp4_workload_logging_node_role }}": ""
      tolerations:
      - key: "{{ ocp4_workload_logging_node_role }}"
        value: reserved
        effect: NoSchedule
      - key: "{{ ocp4_workload_logging_node_role }}"
        value: reserved
        effect: NoExecute
{% else %}
        node-role.kubernetes.io/worker: ""
{% endif %}
  collection:
    logs:
      type: "fluentd"
      fluentd:
        tolerations:
        - operator: Exists
