apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: "elasticsearch-operator-{{ logging_elasticsearch_channel }}"
  namespace: "openshift-operators-redhat" 
spec:
  channel: "{{ logging_elasticsearch_channel }}"
{% if ocp4_workload_logging_automatic_install_plan_approval | default(True) | bool and not ocp4_workload_logging_use_catalog_snapshot | default(False) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: "elasticsearch-operator"
{% if ocp4_workload_logging_use_catalog_snapshot | default(False) | bool %}
  source: "{{ ocp4_workload_logging_catalogsource_name }}-elasticsearch"
  sourceNamespace: openshift-operators-redhat
{% else %}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% endif %}
{% if ocp4_workload_logging_elasticsearch_starting_csv | default("") | length > 0 %}
  startingCSV: "{{ ocp4_workload_logging_elasticsearch_starting_csv }}"
{% endif %}
