apiVersion: v1
kind: ConfigMap
metadata:
  name: service-point
  namespace: {{ namespace }}
data:
  url: '{{ url }}' # No trailing /
  url-external: '{{ url_external }}' # No trailing /
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: database-host
  namespace: {{ namespace }}
data:
  url: xraylabdb
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: buckets-config
  namespace: {{ namespace }}
data:
  bucket-source: 'https://s3.us-east-1.amazonaws.com/com.redhat.csds.guimou.xray-source'
  bucket-base-name: '{{ bucket_base_name }}'