---
apiVersion: v1
kind: Secret
metadata:
  name: db-secret
  namespace: {{ namespace }}
stringData:
    database-user: {{ database_user }}
    database-password: {{ database_password }}
    database-root-password: {{ database_root_password }}
    database-host: xraylabdb
    database-db: xraylabdb