---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: risk-assessment
  namespace: {{ namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
    - name: latest
      from:
        kind: DockerImage
        name: 'quay.io/rh-data-services/xraylab-risk-assessment:v1.0.3'
      importPolicy: {}
      referencePolicy:
        type: Source
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: image-generator
  namespace: {{ namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
    - name: latest
      from:
        kind: DockerImage
        name: 'quay.io/rh-data-services/xraylab-image-generator:v2.0'
      importPolicy: {}
      referencePolicy:
        type: Source
---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: image-server
  namespace: {{ namespace }}
spec:
  lookupPolicy:
    local: true
  tags:
    - name: latest
      from:
        kind: DockerImage
        name: 'quay.io/rh-data-services/xraylab-image-server:v2.0'
      importPolicy: {}
      referencePolicy:
        type: Source