apiVersion: sources.knative.dev/v1beta1
kind: KafkaSource
metadata:
  name: xray-images
  namespace: {{ namespace }}
spec:
  consumerGroup: risk-assessment
  bootstrapServers:
    - my-cluster-kafka-bootstrap:9092
  topics:
    - xray-images
  sink:
    ref: 
      apiVersion: serving.knative.dev/v1
      kind: Service
      name: risk-assessment
