kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: image-generator
  namespace: {{ namespace }}
spec:
  triggers:
    - type: ImageChange
      imageChangeParams:
        automatic: true
        containerNames:
        - image-generator
        from:
          kind: ImageStreamTag
          name: image-generator:latest
    - type: ConfigChange
  replicas: 0
  revisionHistoryLimit: 3
  template:
    metadata:
      labels:
        name: image-generator
    spec:
      containers:
        - name: image-generator
          image: image-generator:latest
          env:
            - name: SECONDS_WAIT
              value: '1'
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: s3-secret-bck
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: s3-secret-bck
                  key: AWS_SECRET_ACCESS_KEY
            - name: SERVICE_POINT
              valueFrom:
                configMapKeyRef:
                  name: service-point
                  key: url
            - name: DATABASE_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key:  database-user
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key:  database-password
            - name: DATABASE_HOST
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key:  database-host
            - name: DATABASE_DB
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key:  database-db
            - name: BUCKET_BASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: buckets-config
                  key: bucket-base-name
            - name: BUCKET_SOURCE
              valueFrom:
                configMapKeyRef:
                  name: buckets-config
                  key: bucket-source
          resources:
            limits:
                cpu: '1'
                memory: 200M
            requests:
              cpu: 200m
              memory: 100M
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
