apiVersion: integreatly.org/v1alpha1
kind: GrafanaDashboard
metadata:
  labels:
    app: grafana
  name: xraylab-dashboard
  namespace: {{ namespace }}
  uid: xraylabdashboard
spec:
  json: |
    {
      "annotations": {
        "list": [
          {
            "builtIn": 1,
            "datasource": "-- Grafana --",
            "enable": true,
            "hide": true,
            "iconColor": "rgba(0, 211, 255, 1)",
            "name": "Annotations & Alerts",
            "type": "dashboard"
          }
        ]
      },
      "editable": true,
      "gnetId": null,
      "graphTooltip": 0,
      "id": 2,
      "iteration": 1600370863081,
      "links": [],
      "panels": [
        {
          "bgColor": null,
          "bgURL": "https://github.com/guimou/datapipelines/raw/main/demos/xray-pipeline-lab/grafana/xraylab-dashboard-panel.png",
          "boxes": [
            {
              "angle": "0",
              "color": "#1F60C4",
              "colorHigh": "#f00",
              "colorLow": "#0f0",
              "colorMedium": "#fa1",
              "decimal": 1,
              "fontsize": "30",
              "hasOrb": false,
              "isBlinking": false,
              "orbHideText": false,
              "orbLocation": "Left",
              "orbSize": "10",
              "prefixSize": 10,
              "serie": "images_uploaded",
              "suffixSize": 10,
              "text": "N/A",
              "thresholds": "20,60",
              "usingThresholds": false,
              "xpos": "60",
              "ypos": "75"
            },
            {
              "angle": 0,
              "color": "#1F60C4",
              "colorHigh": "#f00",
              "colorLow": "#0f0",
              "colorMedium": "#fa1",
              "decimal": 1,
              "fontsize": "30",
              "hasOrb": false,
              "isBlinking": false,
              "orbHideText": false,
              "orbLocation": "Left",
              "orbSize": "10",
              "prefixSize": 10,
              "serie": "images_processed",
              "suffixSize": 10,
              "text": "N/A",
              "thresholds": "20,60",
              "usingThresholds": false,
              "xpos": "250",
              "ypos": "75"
            },
            {
              "angle": 0,
              "color": "#1F60C4",
              "colorHigh": "#f00",
              "colorLow": "#0f0",
              "colorMedium": "#fa1",
              "decimal": 1,
              "fontsize": "30",
              "hasOrb": false,
              "isBlinking": false,
              "orbHideText": false,
              "orbLocation": "Left",
              "orbSize": "10",
              "prefixSize": 10,
              "serie": "images_anonymized",
              "suffixSize": 10,
              "text": "N/A",
              "thresholds": "20,60",
              "usingThresholds": false,
              "xpos": "470",
              "ypos": "298"
            }
          ],
          "datasource": "MySQL",
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "gridPos": {
            "h": 12,
            "w": 12,
            "x": 0,
            "y": 0
          },
          "id": 14,
          "links": [],
          "targets": [
            {
              "format": "time_series",
              "group": [
                {
                  "params": [
                    "1h",
                    "none"
                  ],
                  "type": "time"
                }
              ],
              "metricColumn": "none",
              "rawQuery": true,
              "rawSql": "SELECT time,count(name)-1 AS \"images_uploaded\"\nFROM images_uploaded",
              "refId": "A",
              "select": [
                [
                  {
                    "params": [
                      "entry"
                    ],
                    "type": "column"
                  },
                  {
                    "params": [
                      "sum"
                    ],
                    "type": "aggregate"
                  },
                  {
                    "params": [
                      "transactions"
                    ],
                    "type": "alias"
                  }
                ]
              ],
              "table": "merchant_upload",
              "timeColumn": "time",
              "timeColumnType": "timestamp",
              "where": []
            },
            {
              "format": "time_series",
              "group": [],
              "metricColumn": "none",
              "rawQuery": true,
              "rawSql": "SELECT time,count(name)-1 AS \"images_processed\"\nFROM images_processed",
              "refId": "B",
              "select": [
                [
                  {
                    "params": [
                      "entry"
                    ],
                    "type": "column"
                  }
                ]
              ],
              "table": "merchant_upload",
              "timeColumn": "time",
              "timeColumnType": "timestamp",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            },
            {
              "format": "time_series",
              "group": [],
              "metricColumn": "none",
              "rawQuery": true,
              "rawSql": "SELECT time,count(name)-1 AS \"images_anonymized\"\nFROM images_anonymized",
              "refId": "C",
              "select": [
                [
                  {
                    "params": [
                      "entry"
                    ],
                    "type": "column"
                  }
                ]
              ],
              "table": "merchant_upload",
              "timeColumn": "time",
              "timeColumnType": "timestamp",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Pipeline progress",
          "type": "larona-epict-panel"
        },
        {
          "columns": [],
          "datasource": "MySQL",
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "fontSize": "100%",
          "gridPos": {
            "h": 7,
            "w": 8,
            "x": 12,
            "y": 0
          },
          "id": 18,
          "links": [],
          "pageSize": null,
          "scroll": true,
          "showHeader": true,
          "sort": {
            "col": 0,
            "desc": true
          },
          "styles": [
            {
              "alias": "Time",
              "align": "auto",
              "dateFormat": "YYYY-MM-DD HH:mm:ss",
              "link": false,
              "pattern": "Time",
              "preserveFormat": true,
              "sanitize": false,
              "type": "date",
              "unit": "dateTimeAsIso"
            },
            {
              "alias": "",
              "align": "auto",
              "colorMode": null,
              "colors": [
                "rgba(245, 54, 54, 0.9)",
                "rgba(237, 129, 40, 0.89)",
                "rgba(50, 172, 45, 0.97)"
              ],
              "dateFormat": "YYYY-MM-DD HH:mm:ss",
              "decimals": 2,
              "mappingType": 1,
              "pattern": "Metric",
              "thresholds": [],
              "type": "hidden",
              "unit": "short"
            },
            {
              "alias": "",
              "align": "auto",
              "colorMode": null,
              "colors": [
                "rgba(245, 54, 54, 0.9)",
                "rgba(237, 129, 40, 0.89)",
                "rgba(50, 172, 45, 0.97)"
              ],
              "decimals": 2,
              "pattern": "/.*/",
              "thresholds": [],
              "type": "string",
              "unit": "short"
            }
          ],
          "targets": [
            {
              "format": "table",
              "group": [],
              "metricColumn": "none",
              "rawQuery": true,
              "rawSql": "SELECT * FROM images_uploaded WHERE name != '' ORDER by time DESC LIMIT 10",
              "refId": "A",
              "select": [
                [
                  {
                    "params": [
                      "value"
                    ],
                    "type": "column"
                  }
                ]
              ],
              "timeColumn": "time",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Last 10 uploaded images",
          "transform": "timeseries_to_rows",
          "type": "table"
        },
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "gridPos": {
            "h": 7,
            "w": 4,
            "x": 20,
            "y": 0
          },
          "header_js": "{}",
          "id": 24,
          "links": [
            {
              "title": "Last Images",
              "url": "/d/lastimagesdashboard/last-images"
            }
          ],
          "method": "iframe",
          "mode": "html",
          "params_js": "{\n __now:Date.now(),\n}",
          "request": "http",
          "responseType": "text",
          "showErrors": true,
          "showTime": true,
          "showTimeFormat": "LTS",
          "showTimePrefix": null,
          "showTimeValue": "request",
          "skipSameURL": false,
          "templateResponse": true,
          "timeFrom": null,
          "timeShift": null,
          "title": "Last uploaded image",
          "type": "ryantxu-ajax-panel",
          "url": "{{image_server_url}}/last_image_small/{{bucket_base_name}}",
          "withCredentials": false
        },
        {
          "columns": [],
          "datasource": "MySQL",
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "fontSize": "100%",
          "gridPos": {
            "h": 7,
            "w": 8,
            "x": 12,
            "y": 7
          },
          "id": 19,
          "links": [],
          "pageSize": null,
          "scroll": true,
          "showHeader": true,
          "sort": {
            "col": 0,
            "desc": true
          },
          "styles": [
            {
              "alias": "Time",
              "align": "auto",
              "dateFormat": "YYYY-MM-DD HH:mm:ss",
              "pattern": "Time",
              "type": "date"
            },
            {
              "alias": "",
              "align": "auto",
              "colorMode": null,
              "colors": [
                "rgba(245, 54, 54, 0.9)",
                "rgba(237, 129, 40, 0.89)",
                "rgba(50, 172, 45, 0.97)"
              ],
              "decimals": 2,
              "pattern": "Metric",
              "thresholds": [],
              "type": "hidden",
              "unit": "short"
            }
          ],
          "targets": [
            {
              "format": "table",
              "group": [],
              "metricColumn": "none",
              "rawQuery": true,
              "rawSql": "SELECT time,name FROM images_processed WHERE name != '' ORDER by time DESC LIMIT 10",
              "refId": "A",
              "select": [
                [
                  {
                    "params": [
                      "value"
                    ],
                    "type": "column"
                  }
                ]
              ],
              "timeColumn": "time",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Last 10 processed images",
          "transform": "timeseries_to_rows",
          "type": "table"
        },
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "gridPos": {
            "h": 7,
            "w": 4,
            "x": 20,
            "y": 7
          },
          "header_js": "{}",
          "id": 25,
          "links": [
            {
              "title": "Last Images",
              "url": "/d/lastimagesdashboard/last-images"
            }
          ],
          "method": "iframe",
          "mode": "html",
          "params_js": "{\n __now:Date.now(),\n}",
          "request": "http",
          "responseType": "text",
          "showErrors": true,
          "showTime": true,
          "showTimeFormat": "LTS",
          "showTimePrefix": null,
          "showTimeValue": "request",
          "skipSameURL": false,
          "templateResponse": true,
          "timeFrom": null,
          "timeShift": null,
          "title": "Last processed image",
          "type": "ryantxu-ajax-panel",
          "url": "{{image_server_url}}/last_image_small/{{bucket_base_name}}-processed",
          "withCredentials": false
        },
        {
          "aliasColors": {},
          "bars": false,
          "dashLength": 10,
          "dashes": false,
          "datasource": "$datasource",
          "fieldConfig": {
            "defaults": {
              "custom": {},
              "links": []
            },
            "overrides": []
          },
          "fill": 0,
          "fillGradient": 0,
          "gridPos": {
            "h": 5,
            "w": 4,
            "x": 0,
            "y": 12
          },
          "hiddenSeries": false,
          "id": 10,
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "rightSide": true,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "null as zero",
          "percentage": false,
          "pluginVersion": "7.1.1",
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [
            {
              "alias": "RAM",
              "yaxis": 2
            }
          ],
          "spaceLength": 10,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "expr": "sum(pod:container_cpu_usage:sum{namespace=\"$namespace\"})",
              "format": "time_series",
              "instant": false,
              "intervalFactor": 1,
              "legendFormat": " CPU",
              "legendLink": null,
              "refId": "A",
              "step": 10
            },
            {
              "expr": "sum(container_memory_working_set_bytes{namespace=\"$namespace\"})",
              "format": "time_series",
              "intervalFactor": 1,
              "legendFormat": "RAM",
              "refId": "B"
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeRegions": [],
          "timeShift": null,
          "title": "CPU  and RAM Usage",
          "tooltip": {
            "shared": false,
            "sort": 0,
            "value_type": "individual"
          },
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "format": "short",
              "label": "CPU",
              "logBase": 1,
              "max": null,
              "min": 0,
              "show": true
            },
            {
              "format": "bytes",
              "label": "RAM",
              "logBase": 1,
              "max": null,
              "min": "0",
              "show": true
            }
          ],
          "yaxis": {
            "align": false,
            "alignLevel": null
          }
        },
        {
          "cacheTimeout": null,
          "datasource": "prometheus",
          "fieldConfig": {
            "defaults": {
              "custom": {},
              "mappings": [
                {
                  "id": 0,
                  "op": "=",
                  "text": "N/A",
                  "type": 1,
                  "value": "null"
                }
              ],
              "max": 10,
              "min": 0,
              "nullValueMode": "connected",
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "#299c46",
                    "value": null
                  },
                  {
                    "color": "rgba(237, 129, 40, 0.89)",
                    "value": 5
                  },
                  {
                    "color": "#d44a3a",
                    "value": 8
                  }
                ]
              },
              "unit": "none"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 5,
            "w": 3,
            "x": 4,
            "y": 12
          },
          "id": 2,
          "interval": "",
          "links": [],
          "options": {
            "orientation": "horizontal",
            "reduceOptions": {
              "calcs": [
                "last"
              ],
              "fields": "",
              "values": false
            },
            "showThresholdLabels": true,
            "showThresholdMarkers": true
          },
          "pluginVersion": "7.1.1",
          "targets": [
            {
              "expr": "count(kube_pod_info{pod=~\"risk-assessment.*\",namespace=~\"$namespace\"})",
              "format": "time_series",
              "instant": true,
              "interval": "",
              "intervalFactor": 1,
              "legendFormat": "{% raw %}{{ deployment }}{% endraw %}",
              "refId": "A"
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Risk assessment containers running",
          "type": "gauge"
        },
        {
          "aliasColors": {},
          "bars": false,
          "dashLength": 10,
          "dashes": false,
          "datasource": "MySQL",
          "fieldConfig": {
            "defaults": {
              "custom": {},
              "links": []
            },
            "overrides": []
          },
          "fill": 10,
          "fillGradient": 0,
          "gridPos": {
            "h": 5,
            "w": 5,
            "x": 7,
            "y": 12
          },
          "hiddenSeries": false,
          "id": 4,
          "interval": "10s",
          "legend": {
            "alignAsTable": false,
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "rightSide": true,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 0,
          "links": [],
          "nullPointMode": "null as zero",
          "percentage": false,
          "pluginVersion": "7.1.1",
          "pointradius": 5,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "spaceLength": 10,
          "stack": true,
          "steppedLine": false,
          "targets": [
            {
              "format": "time_series",
              "group": [
                {
                  "params": [
                    "$__interval",
                    "none"
                  ],
                  "type": "time"
                }
              ],
              "metricColumn": "label",
              "rawQuery": true,
              "rawSql": "SELECT\n  $__timeGroupAlias(time,$__interval),\n  label AS metric,\n  count(label)\nFROM images_processed\nWHERE\n  $__timeFilter(time)\n  and\n  label != ''\nGROUP BY 1,2\nORDER BY $__timeGroup(time,$__interval)",
              "refId": "A",
              "select": [
                [
                  {
                    "params": [
                      "label"
                    ],
                    "type": "column"
                  },
                  {
                    "params": [
                      "count"
                    ],
                    "type": "aggregate"
                  }
                ]
              ],
              "table": "images_processed",
              "timeColumn": "time",
              "timeColumnType": "timestamp",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeRegions": [],
          "timeShift": null,
          "title": "Risk distribution",
          "tooltip": {
            "shared": false,
            "sort": 0,
            "value_type": "individual"
          },
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "decimals": 0,
              "format": "none",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": 0,
              "show": true
            },
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": false
            }
          ],
          "yaxis": {
            "align": false,
            "alignLevel": null
          }
        },
        {
          "columns": [],
          "datasource": "MySQL",
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "fontSize": "100%",
          "gridPos": {
            "h": 7,
            "w": 8,
            "x": 12,
            "y": 14
          },
          "id": 20,
          "links": [],
          "pageSize": null,
          "scroll": true,
          "showHeader": true,
          "sort": {
            "col": 0,
            "desc": true
          },
          "styles": [
            {
              "alias": "Time",
              "align": "auto",
              "dateFormat": "YYYY-MM-DD HH:mm:ss",
              "pattern": "Time",
              "type": "date"
            },
            {
              "alias": "",
              "align": "auto",
              "colorMode": null,
              "colors": [
                "rgba(245, 54, 54, 0.9)",
                "rgba(237, 129, 40, 0.89)",
                "rgba(50, 172, 45, 0.97)"
              ],
              "decimals": 2,
              "pattern": "Metric",
              "thresholds": [],
              "type": "hidden",
              "unit": "short"
            }
          ],
          "targets": [
            {
              "format": "table",
              "group": [],
              "metricColumn": "none",
              "rawQuery": true,
              "rawSql": "SELECT * FROM images_anonymized WHERE name != '' ORDER by time DESC LIMIT 10",
              "refId": "A",
              "select": [
                [
                  {
                    "params": [
                      "value"
                    ],
                    "type": "column"
                  }
                ]
              ],
              "timeColumn": "time",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            }
          ],
          "timeFrom": null,
          "timeShift": null,
          "title": "Last 10 anonymized images",
          "transform": "timeseries_to_rows",
          "type": "table"
        },
        {
          "datasource": null,
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "gridPos": {
            "h": 7,
            "w": 4,
            "x": 20,
            "y": 14
          },
          "header_js": "{}",
          "id": 26,
          "links": [
            {
              "title": "Last Images",
              "url": "/d/lastimagesdashboard/last-images"
            }
          ],
          "method": "iframe",
          "mode": "html",
          "params_js": "{\n __now:Date.now(),\n}",
          "request": "http",
          "responseType": "text",
          "showErrors": true,
          "showTime": true,
          "showTimeFormat": "LTS",
          "showTimePrefix": null,
          "showTimeValue": "request",
          "skipSameURL": false,
          "templateResponse": true,
          "timeFrom": null,
          "timeShift": null,
          "title": "Last anonymized image",
          "type": "ryantxu-ajax-panel",
          "url": "{{image_server_url}}/last_image_small/{{bucket_base_name}}-anonymized",
          "withCredentials": false
        },
        {
          "columns": [
            {
              "text": "Current",
              "value": "current"
            }
          ],
          "datasource": "prometheus",
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "fontSize": "100%",
          "gridPos": {
            "h": 4,
            "w": 7,
            "x": 0,
            "y": 17
          },
          "id": 6,
          "links": [],
          "pageSize": null,
          "scroll": true,
          "showHeader": true,
          "sort": {
            "col": 0,
            "desc": true
          },
          "styles": [
            {
              "alias": "Time",
              "align": "auto",
              "dateFormat": "YYYY-MM-DD HH:mm:ss",
              "pattern": "Time",
              "type": "date"
            },
            {
              "alias": "Deployment",
              "align": "auto",
              "colorMode": "row",
              "colors": [
                "rgba(245, 54, 54, 0.9)",
                "rgba(237, 129, 40, 0.89)",
                "rgba(50, 172, 45, 0.97)"
              ],
              "decimals": 0,
              "pattern": "Metric",
              "preserveFormat": false,
              "thresholds": [
                ""
              ],
              "type": "string",
              "unit": "none"
            },
            {
              "alias": "Replicas",
              "align": "auto",
              "colorMode": "row",
              "colors": [
                "rgba(245, 54, 54, 0.9)",
                "rgba(237, 129, 40, 0.89)",
                "rgba(50, 172, 45, 0.97)"
              ],
              "dateFormat": "YYYY-MM-DD HH:mm:ss",
              "decimals": 0,
              "link": false,
              "pattern": "Value",
              "thresholds": [
                "0",
                "0.9"
              ],
              "type": "number",
              "unit": "none"
            }
          ],
          "targets": [
            {
              "expr": "kube_deployment_status_replicas{deployment=~\"risk-assessment.*\",namespace=~\"$namespace\"}",
              "format": "time_series",
              "instant": true,
              "interval": "",
              "intervalFactor": 1,
              "legendFormat": "{% raw %}{{ deployment }}{% endraw %}",
              "refId": "A"
            }
          ],
          "title": "Deployments",
          "transform": "timeseries_to_rows",
          "type": "table"
        },
        {
          "aliasColors": {},
          "bars": false,
          "dashLength": 10,
          "dashes": false,
          "datasource": "MySQL",
          "fieldConfig": {
            "defaults": {
              "custom": {}
            },
            "overrides": []
          },
          "fill": 1,
          "fillGradient": 0,
          "gridPos": {
            "h": 4,
            "w": 5,
            "x": 7,
            "y": 17
          },
          "hiddenSeries": false,
          "id": 16,
          "interval": "10s",
          "legend": {
            "avg": false,
            "current": false,
            "max": false,
            "min": false,
            "rightSide": true,
            "show": true,
            "total": false,
            "values": false
          },
          "lines": true,
          "linewidth": 1,
          "links": [],
          "nullPointMode": "null",
          "percentage": false,
          "pluginVersion": "7.1.1",
          "pointradius": 2,
          "points": false,
          "renderer": "flot",
          "seriesOverrides": [],
          "spaceLength": 10,
          "stack": false,
          "steppedLine": false,
          "targets": [
            {
              "format": "time_series",
              "group": [
                {
                  "params": [
                    "$__interval",
                    "none"
                  ],
                  "type": "time"
                }
              ],
              "metricColumn": "model",
              "rawQuery": true,
              "rawSql": "SELECT\n  $__timeGroupAlias(time,$__interval),\n  model AS metric,\n  count(model) AS \"model\"\nFROM images_processed\nWHERE\n  $__timeFilter(time)\n  and\n  model != ''\nGROUP BY 1,2\nORDER BY $__timeGroup(time,$__interval)",
              "refId": "A",
              "select": [
                [
                  {
                    "params": [
                      "value"
                    ],
                    "type": "column"
                  },
                  {
                    "params": [
                      "sum"
                    ],
                    "type": "aggregate"
                  },
                  {
                    "params": [
                      "value"
                    ],
                    "type": "alias"
                  }
                ]
              ],
              "table": "images_processed",
              "timeColumn": "time",
              "timeColumnType": "timestamp",
              "where": [
                {
                  "name": "$__timeFilter",
                  "params": [],
                  "type": "macro"
                }
              ]
            }
          ],
          "thresholds": [],
          "timeFrom": null,
          "timeRegions": [],
          "timeShift": null,
          "title": "Images processed by model version",
          "tooltip": {
            "shared": true,
            "sort": 0,
            "value_type": "individual"
          },
          "type": "graph",
          "xaxis": {
            "buckets": null,
            "mode": "time",
            "name": null,
            "show": true,
            "values": []
          },
          "yaxes": [
            {
              "decimals": 0,
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": "0",
              "show": true
            },
            {
              "format": "short",
              "label": null,
              "logBase": 1,
              "max": null,
              "min": null,
              "show": true
            }
          ],
          "yaxis": {
            "align": false,
            "alignLevel": null
          }
        }
      ],
      "refresh": "5s",
      "schemaVersion": 26,
      "style": "dark",
      "tags": [],
      "templating": {
        "list": [
          {
            "current": {
              "selected": false,
              "text": "prometheus",
              "value": "prometheus"
            },
            "hide": 2,
            "includeAll": false,
            "label": "Datasource",
            "multi": false,
            "name": "datasource",
            "options": [],
            "query": "prometheus",
            "refresh": 1,
            "regex": "",
            "skipUrlSync": false,
            "type": "datasource"
          },
          {
            "current": {
              "text": "{{namespace}}",
              "value": "{{namespace}}"
            },
            "hide": 2,
            "label": "Namespace",
            "name": "namespace",
            "options": [
              {
                "selected": true,
                "text": "{{namespace}}",
                "value": "{{namespace}}"
              }
            ],
            "query": "{{namespace}}",
            "skipUrlSync": false,
            "type": "constant"
          }
        ]
      },
      "time": {
        "from": "now-5m",
        "to": "now"
      },
      "timepicker": {
        "refresh_intervals": [
          "5s",
          "10s",
          "30s",
          "1m",
          "5m",
          "15m",
          "30m",
          "1h",
          "2h",
          "1d"
        ],
        "time_options": [
          "5m",
          "15m",
          "1h",
          "6h",
          "12h",
          "24h",
          "2d",
          "7d",
          "30d"
        ]
      },
      "timezone": "utc",
      "title": "XRay Lab",
      "uid": "hakbeh9Wz",
      "version": 4
    }
  name: xraylab-dashboard.json
  plugins:
  - name: larona-epict-panel
    version: 1.2.2
  - name: ryantxu-ajax-panel
    version: 0.0.7-dev
