---
apiVersion: v1
kind: Secret
metadata:
  name: {{ postgresql_service_name }}
  namespace: {{ ocp4_workload_app_mod_demo_modern_namespace }}
  labels:
    app.kubernetes.io/name: {{ postgresql_service_name }}
stringData:
  database-name: {{ postgresql_database_name }}
  database-user: {{ postgresql_database_user | default('redhat') }}
  database-password: {{ postgresql_database_password | default('redhat') }}
type: Opaque
