---
apiVersion: v1
kind: Service
metadata:
  name: {{ postgresql_service_name }}
  namespace: {{ ocp4_workload_app_mod_demo_modern_namespace }}
  labels:
    app.kubernetes.io/name: {{ postgresql_service_name }}
spec:
  type: ClusterIP
  ports:
  - name: postgresql
    port: 5432
  selector:
    name: {{ postgresql_service_name }}
