{
  "adminUsername": {
    "value": "{{remote_user}}"
  },
{% if windows_password is defined %}
  "adminPassword": {
    "value": "{{ windows_password }}"
  },
{% endif %}
  "sshKeyData": {
    "value": "{{ ssh_provision_pubkey_content | default(hostvars.localhost.env_authorized_key_content_pub) }}"
  },
  "DNSZone": {
    "value": "{{ HostedZoneId }}"
  },
  "guid": {
    "value": "{{ guid }}"
  },
}
