{% if guid is not defined %}
{% set guid = "DEF--AULT" %}
{% endif %}
{% set temp_guid = guid.lower() %}
{% set temp1_guid = temp_guid.replace("-","") %}
{% set temp2_guid = temp1_guid.replace("_","") %}
{% set storage_guid = temp2_guid[:8]+temp2_guid[-8:] %}
{% if windows_vm_count is not defined %}
{% set windows_vm_count = 1 %}
{% endif %}
{% if windows_vm_count < 1 %}
{% set windows_vm_count = 1 %}
{% endif %}
{% if windows_password is not defined %}
{% set windows_password = "AwfulP@ssw0rd" %}
{% endif %}
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "guid": {
            "type": "string",
            "minLength": 3,
            "metadata": {
                "description": "GUID of the environment"
            }
        },
        "location": {
            "type": "string",
            "minLength": 3,
            "defaultValue": "[resourceGroup().location]",
            "metadata": {
                "description": "Location where the deployment will happen."
            }
        },
        "DNSZone": {
            "type": "string",
            "minLength": 3,
            "defaultValue": "none",
            "metadata": {
                "description": "dns zone of the environment, to update or create"
            }
        },
        "adminUsername": {
            "type": "string",
            "minLength": 1,
            "defaultValue": "azure",
            "metadata": {
                "description": "Username for the Virtual Machines."
            }
        },
        "adminPassword": {
            "type": "string",
            "minLength": 1,
            "defaultValue": "{{windows_password}}",
            "metadata": {
                "description": "Password for Windows Virtual Machines."
            }
        },
        "sshKeyData": {
            "type": "securestring",
            "metadata": {
                "description": "SSH RSA public key file as a string."
            }
        },
        "vmSize": {
            "type": "string",
            "defaultValue": "Standard_D4s_v3",
            "allowedValues": [
                "Basic_A2",
                "Basic_A3",
                "Standard_A2",
                "Standard_A2m_v2",
                "Standard_A2_v2",
                "Standard_A3",
                "Standard_A4m_v2",
                "Standard_A4_v2",
                "Standard_A5",
                "Standard_A6",
                "Standard_B2ms",
                "Standard_B2s",
                "Standard_B4ms",
                "Standard_D11",
                "Standard_D11_v2",
                "Standard_D12",
                "Standard_D12_v2",
                "Standard_D2",
                "Standard_D2as_v4",
                "Standard_D2a_v4",
                "Standard_D2s_v3",
                "Standard_D2_v2",
                "Standard_D2_v3",
                "Standard_D3",
                "Standard_D3_v2",
                "Standard_D4as_v4",
                "Standard_D4a_v4",
                "Standard_D4s_v3",
                "Standard_D4_v3",
                "Standard_DC2s",
                "Standard_DC4s",
                "Standard_DS11",
                "Standard_DS11_v2",
                "Standard_DS12",
                "Standard_DS12_v2",
                "Standard_DS2",
                "Standard_DS2_v2",
                "Standard_DS3",
                "Standard_DS3_v2",
                "Standard_E2as_v4",
                "Standard_E2a_v4",
                "Standard_E2s_v3",
                "Standard_E2_v3",
                "Standard_E4-2s_v3",
                "Standard_E4as_v4",
                "Standard_E4a_v4",
                "Standard_E4s_v3",
                "Standard_E4_v3",
                "Standard_F2s_v2",
                "Standard_F4s_v2"
            ],
            "metadata": {
                "description": "The size of all Virtual Machines."
            }
        },
        "windowsVmCount": {
            "type": "int",
            "defaultValue": {{ windows_vm_count }},
            "metadata": {
                "description": "Number of Windows VMs to build."
            }
        }
    },
    "variables": {
        "tenantId": "[subscription().tenantId]",
        "diagnosticStorageAccountName": "[concat('diagstor', '{{ storage_guid }}')]",
        "networkSecurityGroupName": "default-nsg",
        "subnetName": "default-subnet",
        "subnetRef": "[concat(variables('vnetID'), '/subnets/', variables('subnetName'))]",
        "addressPrefix": "10.249.0.0/16",
        "subnetPrefix": "10.249.0.0/24",
        "publicIPAddressType": "Dynamic",
        "virtualNetworkName": "default-virtualnetwork",
        "vnetId": "[resourceId('Microsoft.Network/virtualNetworks', variables('virtualNetworkName'))]",
        "nicRhelName": "bastionnic",
        "publicIPRhelAddressName": "bastionpublicip",
        "vmNameRhel": "[concat('bastion', '-', parameters('guid'))]",
        "linuxConfiguration": {
          "disablePasswordAuthentication": true,
          "ssh": {
            "publicKeys": [ {
              "path": "[concat('/home/', parameters('adminUsername'), '/.ssh/authorized_keys')]",
              "keyData": "[parameters('sshKeyData')]"
{% for adminkey in opentlc_admin_pub_keys %}
            }, {
              "path": "[concat('/home/', parameters('adminUsername'), '/.ssh/authorized_keys')]",
              "keyData": "{{ adminkey }}"
{% endfor %}
            } ]
          }
        },
        "rhelImage": {
            "publisher": "Redhat",
            "offer": "RHEL",
            "sku": "{{rhel_sku | default("7-LVM")}}",
            "version": "latest"
        },
        "windowsImage": {
            "publisher": "MicrosoftWindowsServer",
            "offer": "WindowsServer",
            "sku": "{{windows_sku | default("2019-Datacenter")}}",
            "version": "latest"
        },
        "nicWindowsName": "nicwindows",
        "publicIPWindowsAddressName": "windowspublicip",
        "vmNameWindows": "vmwin",
        "sQuote": "\""
    },
    "resources": [
    {
      "name": "[variables('diagnosticStorageAccountName')]",
      "type": "Microsoft.Storage/storageAccounts",
      "location": "[parameters('location')]",
      "apiVersion": "2016-01-01",
      "sku": {
        "name": "Standard_LRS"
      },
      "dependsOn": [],
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "kind": "Storage"
    },
    {
      "type": "Microsoft.Network/publicIPAddresses",
      "apiVersion": "2018-11-01",
      "name": "[variables('publicIPRhelAddressName')]",
      "location": "[parameters('location')]",
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "properties": {
        "publicIPAllocationMethod": "Dynamic",
        "dnsSettings": {
          "domainNameLabel": "[variables('vmNameRhel')]"
        }
      }
    },
    {
      "apiVersion": "2018-11-01",
      "name": "[concat(variables('publicIPWindowsAddressName'), copyIndex())]",
      "type": "Microsoft.Network/publicIPAddresses",
      "location": "[parameters('location')]",
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "properties": {
        "publicIPAllocationMethod": "Dynamic",
        "dnsSettings": {
          "domainNameLabel": "[concat(variables('vmNameWindows'), copyIndex(), '-', parameters('guid'))]"
        }
      },
      "copy": {
        "name": "winipcopy",
        "count": "[parameters('windowsVmCount')]"
      }
    },
    {
      "comments":  "Default Network Security Group",
      "type":  "Microsoft.Network/networkSecurityGroups",
      "apiVersion":  "2019-08-01",
      "name":  "[variables('networkSecurityGroupName')]",
      "location": "[parameters('location')]",
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "properties": {
        "securityRules": [
          {
            "name":  "default-allow-22",
            "properties": {
              "priority":  1000,
              "access":  "Allow",
              "direction":  "Inbound",
              "destinationPortRange":  "22",
              "protocol":  "Tcp",
              "sourcePortRange":  "*",
              "sourceAddressPrefix":  "*",
              "destinationAddressPrefix":  "*"
            }
          },{
            "name":  "default-allow-winrm",
            "properties": {
              "priority":  1001,
              "access":  "Allow",
              "direction":  "Inbound",
              "destinationPortRange":  "5985",
              "protocol":  "Tcp",
              "sourcePortRange":  "*",
              "sourceAddressPrefix":  "*",
              "destinationAddressPrefix":  "*"
            }
          },{
            "name":  "default-allow-winrm-s",
            "properties": {
              "priority":  1002,
              "access":  "Allow",
              "direction":  "Inbound",
              "destinationPortRange":  "5986",
              "protocol":  "Tcp",
              "sourcePortRange":  "*",
              "sourceAddressPrefix":  "*",
              "destinationAddressPrefix":  "*"
            }
          },{
            "name":  "default-allow-all",
            "properties": {
              "priority":  1003,
              "access":  "Allow",
              "direction":  "Inbound",
              "destinationPortRange":  "*",
              "protocol":  "Tcp",
              "sourcePortRange":  "*",
              "sourceAddressPrefix":  "*",
              "destinationAddressPrefix":  "*"
            }
          }
        ]
      }
    },
    {
      "type": "Microsoft.Network/virtualNetworks",
      "apiVersion": "2018-11-01",
      "name": "[variables('virtualNetworkName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[concat('Microsoft.Network/networkSecurityGroups/', variables('networkSecurityGroupName'))]"
      ],
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "properties": {
        "addressSpace": {
          "addressPrefixes": [
            "[variables('addressPrefix')]"
          ]
        },
        "subnets": [
          {
            "name": "[variables('subnetName')]",
            "properties": {
              "addressPrefix": "[variables('subnetPrefix')]",
              "networkSecurityGroup": {
                "id": "[resourceId('Microsoft.Network/networkSecurityGroups', variables('networkSecurityGroupName'))]"
              }
            }
          }
        ]
      }
    },
    {
      "apiVersion": "2018-11-01",
      "name": "[concat(variables('nicWindowsName'), copyIndex())]",
      "type": "Microsoft.Network/networkInterfaces",
      "location": "[parameters('location')]",
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "dependsOn": [
        "[concat('Microsoft.Storage/storageAccounts/', variables('diagnosticStorageAccountName'))]",
        "[concat('Microsoft.Network/publicIPAddresses/', variables('publicIPWindowsAddressName'), copyIndex())]",
        "[concat('Microsoft.Network/virtualNetworks/', variables('virtualNetworkName'))]"
      ],
      "properties": {
        "ipConfigurations": [
          {
            "name": "ipconfig1",
            "properties": {
              "privateIPAllocationMethod": "Dynamic",
              "publicIPAddress": {
                "id": "[resourceId('Microsoft.Network/publicIPAddresses', concat(variables('publicIPWindowsAddressName'), copyIndex()))]"
              },
              "subnet": {
                "id": "[variables('subnetRef')]"
              }
            }
          }
        ]
      },
      "copy": {
        "name": "winniccopy",
        "count": "[parameters('windowsVmCount')]"
      }
    },
    {
      "type": "Microsoft.Network/networkInterfaces",
      "apiVersion": "2018-11-01",
      "name": "[variables('nicRhelName')]",
      "location": "[parameters('location')]",
      "tags": {
        "owner": "{{ email | default('unknownuser') }}",
        "Project": "{{project_tag}}"
      },
      "dependsOn": [
        "[concat('Microsoft.Storage/storageAccounts/', variables('diagnosticStorageAccountName'))]",
        "[concat('Microsoft.Network/publicIPAddresses/', variables('publicIPRhelAddressName'))]",
        "[concat('Microsoft.Network/virtualNetworks/', variables('virtualNetworkName'))]"
      ],
      "properties": {
        "ipConfigurations": [
          {
            "name": "ipconfig1",
            "properties": {
              "privateIPAllocationMethod": "Dynamic",
              "publicIPAddress": {
                "id": "[resourceId('Microsoft.Network/publicIPAddresses', variables('publicIPRhelAddressName'))]"
              },
              "subnet": {
                "id": "[variables('subnetRef')]"
              }
            }
          }
        ]
      }
    },
    {
      "apiVersion": "2019-07-01",
      "type": "Microsoft.Compute/virtualMachines",
      "name": "[concat(variables('vmNameWindows'), copyIndex())]",
      "location": "[parameters('location')]",
      "tags": {
        "Name": "[concat(variables('vmNameWindows'), copyIndex())]",
        "owner": "{{ email | default('unknownuser') }}",
        "AnsibleGroup": "ocpwindows",
        "ostype": "windows",
        "internaldns": "[concat(variables('vmNameWindows'), copyIndex(), '-', parameters('guid'), '.{{azure_region}}.cloudapp.azure.com')]",
        "canonical_name": "[concat(variables('vmNameWindows'), copyIndex())]",
        "Project": "ignore-{{project_tag}}"
      },
      "dependsOn": [
        "[concat('Microsoft.Network/networkInterfaces/', variables('nicWindowsName'), copyIndex())]"
      ],
      "properties": {
        "hardwareProfile": {
          "vmSize": "[parameters('vmSize')]"
        },
        "osProfile": {
          "computerName": "[concat(variables('vmNameWindows'), copyIndex())]",
          "adminUsername": "[parameters('adminUsername')]",
          "adminPassword": "[parameters('adminPassword')]"
        },
        "storageProfile": {
          "imageReference": "[variables('windowsImage')]",
          "osDisk": {
            "name": "[concat(variables('vmNameWindows'), copyIndex(), 'OsDisk')]",
            "createOption": "FromImage"
          },
          "dataDisks": [
            {
              "name": "[concat(variables('vmNameWindows'), copyIndex(), 'DataDisk1')]",
              "diskSizeGB": "250",
              "lun": "1",
              "createOption": "Empty"
            }
          ]
        },
        "diagnosticsProfile": {
          "bootDiagnostics": {
            "enabled": true,
            "storageUri": "[reference(resourceId('Microsoft.Storage/storageAccounts', variables('diagnosticStorageAccountName')), '2016-01-01').primaryEndpoints.blob]"
          }
        },
        "networkProfile": {
          "networkInterfaces": [
            {
              "id": "[resourceId('Microsoft.Network/networkInterfaces', concat(variables('nicWindowsName'), copyIndex()))]"
            }
          ]
        }
      },
      "copy": {
        "name": "winvmcopy",
        "count": "[parameters('windowsVmCount')]"
      }
    },
    {
      "apiVersion": "2019-07-01",
      "type": "Microsoft.Compute/virtualMachines",
      "name": "[variables('vmNameRhel')]",
      "location": "[parameters('location')]",
      "tags": {
        "Name": "[variables('vmNameRhel')]",
        "owner": "{{ email | default('unknownuser') }}",
        "AnsibleGroup": "bastions",
        "ostype": "linux",
        "internaldns": "[concat(variables('vmNameRhel'), '.{{azure_region}}.cloudapp.azure.com')]",
        "canonical_name": "[variables('vmNameRhel')]",
        "Project": "{{project_tag}}"
      },
      "dependsOn": [
        "[concat('Microsoft.Network/networkInterfaces/', variables('nicRhelName'))]"
      ],
      "properties": {
        "hardwareProfile": {
          "vmSize": "[parameters('vmSize')]"
        },
        "osProfile": {
          "computerName": "[variables('vmNameRhel')]",
          "adminUsername": "[parameters('adminUsername')]",
          "linuxConfiguration": "[variables('linuxConfiguration')]"
        },
        "storageProfile": {
          "imageReference": "[variables('rhelImage')]",
          "osDisk": {
            "name": "[concat(variables('vmNameRhel'), 'OsDisk')]",
            "createOption": "FromImage"
          }
        },
        "diagnosticsProfile": {
          "bootDiagnostics": {
            "enabled": true,
            "storageUri": "[reference(resourceId('Microsoft.Storage/storageAccounts', variables('diagnosticStorageAccountName')), '2016-01-01').primaryEndpoints.blob]"
          }
        },
        "networkProfile": {
          "networkInterfaces": [
            {
              "id": "[resourceId('Microsoft.Network/networkInterfaces', variables('nicRhelName'))]"
            }
          ]
        }
      }
    }
  ],
  "outputs": {}
}
