---
kind:     DeploymentConfig
apiVersion:  apps.openshift.io/v1
metadata:
  name: rocketchat-db
  labels:
    app: rocketchat-db
  namespace: "{{ ocp4_workload_rocket_chat_namespace }}"
spec:
  replicas: 1
  selector:
    app: rocketchat-db
  strategy:
    type: Recreate
    recreateParams:
      post:
        failurePolicy: ignore
        execNewPod:
          volumes:
            - rocketchat-data-vol1
          containerName: rocketchat-db
          command:
            - /bin/sh
            - -c
            - "sleep 60 && mongo rocket-chat-db:27017 --eval \"rs.initiate({_id: 'rs0', members: [{_id:0, host:'localhost:27017'}]})\""
  template:
    metadata:
      labels:
        app: rocketchat-db
    spec:
      containers:
        - name: rocketchat-db
          image: docker.io/mongo:4.0
          command:
            - /bin/sh
            - -c 
            - mongod --bind_ip 0.0.0.0 --port 27017 --smallfiles --oplogSize 128 --replSet rs0 --storageEngine=mmapv1
          volumeMounts:
            - name: rocketchat-data-vol2
              mountPath: /data/db
          ports:
            - containerPort: 27017
              protocol: TCP
      restartPolicy: Always
      volumes:
        - name: rocketchat-data-vol1
          persistentVolumeClaim:
            claimName: rocketchat-data-claim1
        - name: rocketchat-data-vol2
          persistentVolumeClaim:
            claimName: rocketchat-data-claim2
