---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: rocket-chat
  namespace: "{{ ocp4_workload_rocket_chat_namespace }}"
spec:
  port:
    targetPort: 3000
  to:
    kind: Service
    name: rocket-chat
    weight: 100
  wildcardPolicy: None