---
apiVersion: v1
kind: Service
metadata:
  name: rocket-chat
  namespace: "{{ ocp4_workload_rocket_chat_namespace }}"
spec:
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  selector:
    app: rocketchat
