---
apiVersion: v1
items:
- apiVersion: tekton.dev/v1beta1
  kind: PipelineRun
  metadata:
    labels:
      app.kubernetes.io/instance: retail-dev
      app.kubernetes.io/name: object-detection-rest
      pipeline.openshift.io/runtime: python
      pipeline.openshift.io/runtime-version: 3.9-ubi8
      pipeline.openshift.io/type: kubernetes
      tekton.dev/pipeline: object-detection-rest
      triggers.tekton.dev/eventlistener: el-rhods-object-detect-rest
      triggers.tekton.dev/trigger: rhods-object-detect-rest-trigger
    generateName: object-detection-rest-  
    namespace: retail-rhods-project
  spec:
    params:
    - name: APP_NAME
      value: object-detection-rest
    - name: GIT_REPO
      value: https://gitea.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}/{{ ocp4_workload_gitea_aiml_user }}/arc-model.git
    - name: GIT_REVISION
      value: main
    - name: IMAGE_NAME
      value: image-registry.openshift-image-registry.svc:5000/retail-rhods-project/object-detection-rest
    - name: PATH_CONTEXT
      value: .
    - name: VERSION
      value: 3.9-ubi8
    - name: KUSTOMIZE_GIT_URL_DEV
      value: https://gitea.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}/{{ ocp4_workload_gitea_aiml_user }}/retail-dev-gitops.git
    - name: KUSTOMIZE_GIT_CONTEXT_DIR_DEV
      value: overlays/development/
    - name: KUSTOMIZE_GIT_URL
      value: https://gitea.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}/{{ ocp4_workload_gitea_aiml_user }}/retail-prod-gitops.git
    - name: KUSTOMIZE_GIT_REVISION
      value: main
    - name: KUSTOMIZE_GIT_CONTEXT_DIR
      value: overlays/production/
    - name: KUSTOMIZE_GIT_FILE_NAME
      value: deployment-patches.yaml
    - name: NAMESPACE_DEV
      value: retail-rhods-project
    pipelineRef:
      name: object-detection-rest
    serviceAccountName: pipeline
    timeout: 1h0m0s
    workspaces:
    - name: workspace
      persistentVolumeClaim:
        claimName: workspace-pvc
kind: List
metadata:
  resourceVersion: ""
