apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: retail
  namespace: openshift-gitops
spec:
  destination:
    namespace: retail-rhods-project
    server: https://kubernetes.default.svc
  project: default
  source:
    path: overlays/development
    repoURL: https://gitea.apps.cluster-xxjsm.sandbox502.opentlc.com/lab-user/retail-kustomize.git
    targetRevision: HEAD
