Host ec2* *.internal *.example.com
   User {{remote_user}}
   IdentityFile ~/.ssh/{{env_authorized_key}}.pem
   ForwardAgent yes
   StrictHostKeyChecking no
   ConnectTimeout 60
   ConnectionAttempts 10
