apiVersion: triggers.tekton.dev/v1alpha1
kind: Trigger
metadata:
  name: trigger-ansible-ee
spec:
  interceptors:
    - github:
        secretRef:
          secretName: trigger-secret-ansible-ee
          secretKey: secretToken
        eventTypes:
        - push
    - cel:
        overlays:
        - key: short_sha
          expression: "body.head_commit.id.truncate(7)"
  bindings:
  - ref: trigger-binding-ansible-ee
  template:
    ref: trigger-template-ansible-ee