apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: vault-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_hashicorp_vault_gitops_namespace }}
spec:
  generators:
    - clusterDecisionResource:
        configMapRef: acm-placement
        labelSelector:
          matchLabels:
            cluster.open-cluster-management.io/placement: vault-{{ cluster.name }}
        requeueAfterSeconds: 30
  template:
    metadata:
      name: vault-{{ '{{name}}' }}
      labels:
        velero.io/exclude-from-backup: "true"
    spec:
      destination:
        namespace: {{ ocp4_workload_gitops_hashicorp_vault_namespace }}
        server: "{{ '{{server}}' }}"
      project: default
      source:
        path: charts/hashicorp-vault
        repoURL: {{ ocp4_workload_gitops_hashicorp_vault_git_repo_url }}
        targetRevision: main
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true
      ignoreDifferences:
      - group: admissionregistration.k8s.io
        kind: MutatingWebhookConfiguration
        jqPathExpressions:
        - .webhooks[]?.clientConfig.caBundle