apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: vault-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_hashicorp_vault_namespace }}
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  selector:
    matchLabels:
      app: vault-{{ cluster.name }}