apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: vault-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_hashicorp_vault_namespace }}
  annotations:
    apps.open-cluster-management.io/git-branch: main
    apps.open-cluster-management.io/git-path: charts/hashicorp-vault
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: vault-{{ cluster.name }}
spec:
  channel: "{{ ocp4_workload_gitops_hashicorp_vault_acm_namespace }}/agnosticg"
  placement:
    placementRef:
      kind: PlacementRule
      name: agnosticg-{{ cluster.name }}