apiVersion: batch/v1
kind: Job
metadata:
  name: fio-test
spec:
  template:
    spec:
      containers:
      - name: fio-test-osp
        image: quay.io/nstephan/fio-etcd-osp:v3
        command: []
        env:
        - name: test_runs
          value: "{{ test_runs }}"
        - name: GUID
          value: "{{ guid }}"
        volumeMounts:
        - name: host
          mountPath: /host
        - name: etcd
          mountPath: /var/lib/etcd
      restartPolicy: Never
      toleratrions:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      nodeSelector:
        kubernetes.io/hostname: "{{ INFRA_ID }}-master-0"
      volumes:
      - name: host
        hostpath:
          path: /
          type: Directory
      - name: etcd
        hostpath:
          path: /var/lib/etcd
          type: Directory
  backoffLimit: 4