openstacksdk==1.4.0
python-openstackclient==6.2.0
python-heatclient==3.3.0
python-cinderclient==9.3.0
python-designateclient==5.2.0
python-keystoneclient==5.1.0
python-neutronclient==11.0.0
python-novaclient==18.3.0
python-swiftclient==4.3.0
