openstacksdk==1.4.0
python-openstackclient==5.8.0
python-heatclient==2.5.1
python-cinderclient==8.3.0
python-designateclient==4.5.1
python-keystoneclient==4.5.0
python-neutronclient==7.8.0
python-novaclient==17.7.0
python-swiftclient==4.4.0
