apiVersion: gpte.opentlc.com/v1alpha1
kind: Gitea
metadata:
  name: "{{ ocp4_workload_gitea_operator_name }}"
  namespace: "{{ ocp4_workload_gitea_operator_project }}"
spec:
  giteaImage: "{{ ocp4_workload_gitea_operator_gitea_image }}"
  giteaImageTag: "{{ ocp4_workload_gitea_operator_gitea_image_tag }}"
  giteaVolumeSize: "{{ ocp4_workload_gitea_operator_gitea_volume_size }}"
  postgresqlVolumeSize: "{{ ocp4_workload_gitea_operator_postgresql_volume_size }}"
  giteaSsl: "{{ ocp4_workload_gitea_operator_ssl_route }}"
{% if ocp4_workload_gitea_operator_gitea_route | default("") | length > 0 %}  
  giteaRoute: "{{ ocp4_workload_gitea_operator_gitea_route }}"
{% endif %}
