---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-operator
  namespace: "{{ ocp4_workload_gitea_operator_project }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: gitea-operator
  template:
    metadata:
      labels:
        name: gitea-operator
    spec:
      serviceAccountName: gitea-operator
      containers:
      - name: gitea-operator
        image: "{{ ocp4_workload_gitea_operator_image }}:{{ ocp4_workload_gitea_operator_image_tag }}"
        imagePullPolicy: "Always"
        volumeMounts:
        - mountPath: /tmp/ansible-operator/runner
          name: runner
        env:
        - name: WATCH_NAMESPACE
          value: ""
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAME
          value: "gitea-operator"
        - name: ANSIBLE_GATHERING
          value: explicit
      volumes:
      - name: runner
        emptyDir: {}
