apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ ocp4_workload_gitea_operator_project_display }}"
    openshift.io/requester: "{{ ocp_username }}"
  name: "{{ ocp4_workload_gitea_operator_project }}"
spec:
  finalizers:
  - kubernetes
