# OperatorGroup for OLM configuration
- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    name: {{ ocp4_workload_rhte19_shadowman_ocp_project }}-operatorgroup
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
  spec:
    targetNamespaces:
    - {{ ocp4_workload_rhte19_shadowman_ocp_project }}

# Subscription to trigger OLM installation
- apiVersion: operators.coreos.com/v1alpha1
  kind: Subscription
  metadata:
    name: datagrid
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
  spec:
    channel: 8.1.x
    installPlanApproval: Automatic
    name: datagrid
    source: redhat-operators
    sourceNamespace: openshift-marketplace
    startingCSV: datagrid-operator.v8.1.0