- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: directive-producer
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
  spec:
    selector:
      matchLabels:
        app: directive-producer
    template:
      metadata:
        labels:
          app: directive-producer
      spec:
        volumes:
        - name: kafka-cert
          secret:
            secretName: my-cluster-cluster-ca-cert
            defaultMode: 420
        containers:
          - name: directive-producer
            env:
              - name: KAFKA_BROKERS
                value: 'my-cluster-kafka-bootstrap:9093'
            ports:
              - containerPort: 8080
                protocol: TCP
            imagePullPolicy: Always
            volumeMounts:
              - name: kafka-cert
                mountPath: /tmp/certs
            image: quay.io/akrohg/shadowman-sprint-directive-producer:latest


- kind: Service
  apiVersion: v1
  metadata:
    name: directive-producer
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
    labels:
      app: directive-producer
  spec:
    ports:
      - name: 8080-tcp
        protocol: TCP
        port: 8080
        targetPort: 8080
    selector:
      app: directive-producer

- kind: Route
  apiVersion: route.openshift.io/v1
  metadata:
    name: directive-producer
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
    labels:
      app: directive-producer
  spec:
    host: directive-producer-{{ ocp4_workload_rhte19_shadowman_ocp_project }}.{{ route_subdomain }}
    to:
      kind: Service
      name: directive-producer
      weight: 100
    port:
      targetPort: 8080-tcp
    wildcardPolicy: None