- kind: ConfigMap
  apiVersion: v1
  metadata:
    name: remote-link
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
  data:
    remote.txt: http://directive-producer-{{ ocp4_workload_rhte19_shadowman_ocp_project }}.{{ route_subdomain }}

- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: landing-page
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
  spec:
    selector:
      matchLabels:
        app: landing-page
    template:
      metadata:
        labels:
          app: landing-page
      spec:
        volumes:
          - name: remote-link
            configMap:
              name: remote-link
        containers:
          - name: landing-page
            ports:
              - containerPort: 8080
                protocol: TCP
            imagePullPolicy: Always
            image: quay.io/akrohg/shadowman-sprint-landing-page:latest
            volumeMounts:
              - name: remote-link
                mountPath: /opt/app-root/src/public/config

- kind: Service
  apiVersion: v1
  metadata:
    name: landing-page
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
    labels:
      app: landing-page
  spec:
    ports:
      - name: 8080-tcp
        protocol: TCP
        port: 8080
        targetPort: 8080
    selector:
      app: landing-page


- kind: Route
  apiVersion: route.openshift.io/v1
  metadata:
    name: landing-page
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
    labels:
      app: landing-page
  spec:
    host: landing-page-{{ ocp4_workload_rhte19_shadowman_ocp_project }}.{{ route_subdomain }}
    to:
      kind: Service
      name: landing-page
      weight: 100
    port:
      targetPort: 8080-tcp
    wildcardPolicy: None
