- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: slack-producer
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
  spec:
    selector:
      matchLabels:
        app: slack-producer
    template:
      metadata:
        labels:
          app: slack-producer
      spec:
        containers:
          - name: slack-producer
            env:
              - name: RED_CHANNEL_ID
                value: {{ ocp4_workload_rhte19_shadowman_slack_red_channel }}
              - name: SLACK_TOKEN
                value: {{ ocp4_workload_rhte19_shadowman_slack_token }}
              - name: WHITE_CHANNEL_ID
                value: {{ ocp4_workload_rhte19_shadowman_slack_white_channel }}
            ports:
              - containerPort: 8080
                protocol: TCP
            imagePullPolicy: Always
            image: quay.io/akrohg/shadowman-sprint-slack-producer:latest

- kind: Service
  apiVersion: v1
  metadata:
    name: slack-producer
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
    labels:
      app: slack-producer
  spec:
    ports:
      - name: 8080-tcp
        protocol: TCP
        port: 8080
        targetPort: 8080
    selector:
      app: slack-producer


- kind: Route
  apiVersion: route.openshift.io/v1
  metadata:
    name: slack-producer
    namespace: {{ ocp4_workload_rhte19_shadowman_ocp_project }}
    labels:
      app: slack-producer
  spec:
    host: slack-producer-{{ ocp4_workload_rhte19_shadowman_ocp_project }}.{{ route_subdomain }}
    to:
      kind: Service
      name: slack-producer
      weight: 100
    port:
      targetPort: 8080-tcp
    wildcardPolicy: None