[3tierapp:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_user={{remote_user}}
ansible_ssh_private_key_file="~/.ssh/{{guid}}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
[3tierapp:children]
apps
appdbs
towers
cicd


[towers]
## These are the towers
{% for host in groups['towers'] %}
tower{{loop.index}}.{{chomped_zone_internal_dns}} ansible_ssh_host=tower{{loop.index}}.{{subdomain_base}}
{% endfor %}

[apps]
## These are the apps
{% for host in groups['apps']  %}
app{{loop.index}}.{{chomped_zone_internal_dns}} ansible_ssh_host=app{{loop.index}}.{{subdomain_base}}
{% endfor %}

[appdbs]
## These are the appdbs
{% for host in groups['appdbs'] %}
appdb{{loop.index}}.{{chomped_zone_internal_dns}} ansible_ssh_host=appdb{{loop.index}}.{{subdomain_base}}
{% endfor %}

[cicd]
## These are the cicd
{% for host in groups['cicd'] %}
cicd{{loop.index}}.{{chomped_zone_internal_dns}} ansible_ssh_host=cicd{{loop.index}}.{{subdomain_base}}
{% endfor %}
