---
apiVersion: v1
kind: ConfigMap
metadata:
  name: orders-config
  namespace: {{ ocp4_workload_app_mod_demo_modern_namespace }}
  labels:
    app.kubernetes.io/name: orders
data:
  application.yaml: |-
    spring:
      datasource:
        url: jdbc:postgresql://postgresql-orders:5432/orders
        driver-class-name: org.postgresql.Driver
      jpa:
        hibernate:
          ddl-auto: create
          jdbc:
            lob:
              non_contextual_creation: true
