---
apiVersion: v1
kind: Secret
metadata:
  name: orders
  namespace: {{ ocp4_workload_app_mod_demo_modern_namespace }}
  labels:
    app.kubernetes.io/name: orders
type: Opaque
stringData:
  application.yaml: |-
    spring:
      datasource:
        username: redhat
        password: redhat
