---
kind: Service
apiVersion: v1
metadata:
  name: orders
  namespace: {{ ocp4_workload_app_mod_demo_modern_namespace }}
  labels:
    app.kubernetes.io/name: orders
spec:
  ports:
  - name: web
    port: 8080
    targetPort: 8080
  selector:
    deployment: orders
