---
apiVersion: maistra.io/v2
kind: ServiceMeshControlPlane
metadata:
  namespace: "{{ project }}"
  name: basic
  labels: {}
  annotations: {}
spec:
  addons:
    grafana:
      enabled: true
    jaeger:
      install:
        storage:
          type: Memory
    kiali:
      enabled: true
    prometheus:
      enabled: true
  policy:
    type: Istiod
  telemetry:
    type: Istiod
  tracing:
    sampling: 10000
    type: Jaeger
  version: v2.0