apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    cloud: AWS
    region: {{ aws_cluster_region }}
    vendor: OpenShift
spec:
  baseDomain: {{ ocp4_base_domain }}
  clusterName: {{ cluster_name }}
  controlPlaneConfig:
    servingCertificates: {}
  installAttemptsLimit: 1
  installed: false
  platform:
    aws:
      credentialsSecretRef:
        name: {{ cluster_name }}-aws-creds
      region: {{ aws_cluster_region }}
  provisioning:
    installConfigSecretRef:
      name: {{ cluster_name }}-install-config
    sshPrivateKeySecretRef:
      name: {{ cluster_name }}-ssh-private-key
    imageSetRef:
      name: img4.9.37-x86-64-appsub
  pullSecretRef:
    name: {{ cluster_name }}-pull-secret
