apiVersion: v1
metadata:
  name: '{{ cluster_name }}'
baseDomain: {{ guid }}.{{ azure_root_dns_zone }}
controlPlane:
  name: master
  architecture: amd64
  hyperthreading: Enabled
  replicas: 1
  platform:
    azure:
      osDisk:
        diskSizeGB: 128
      type:  Standard_D4s_v3
compute:
- hyperthreading: Enabled
  architecture: amd64
  name: 'worker'
  replicas: 1
  platform:
    azure:
      type:  Standard_D2s_v3
      osDisk:
        diskSizeGB: 128
      zones:
      - "1"
networking:
  networkType: OpenShiftSDN
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
    baseDomainResourceGroupName: openenv-{{ guid }}
    cloudName: AzurePublicCloud
    region: {{ azure_cluster_region }}
pullSecret: ""
sshKey: {{ ssh_publickey }}
