apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ cluster_name }}-worker
  namespace: {{ cluster_name }}
spec:
  clusterDeploymentRef:
    name: {{ cluster_name }}
  name: worker
  platform:
    aws:
      rootVolume:
        iops: 2000
        size: 100
        type: io1
      type: m5.xlarge
  replicas: 0
