apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: {{ cluster_name }}
    openshift.io/requester: {{ ocp_username }}
  name: {{ cluster_name }}
