---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ cluster_name }}-azure-creds
  namespace: {{ cluster_name }}
stringData:
  osServicePrincipal.json: >-
    {{ az_service_principal | to_json }}
