apiVersion: v1
kind: Secret
metadata:
  name: {{ cluster_name }}-install-config
  namespace: {{ cluster_name }}
type: Opaque
data:
  install-config.yaml: {{ lookup('template','install_config.j2') | string | b64encode }}
