{% set count = [] %}
[{% for gname in groups %}
  "{{gname}}"
  {% for host in groups[gname] %}
    "{{hostvars[host]["ansible_default_ipv4"]}}"

    {% endfor %}
  {% endfor %}]


[group1]
host1
host2



[group2]
host1
host2
