apiVersion: redhatcop.redhat.io/v1alpha1
kind: Patch
metadata:
  name: config-patches
  namespace: openshift-config
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
    argocd.argoproj.io/compare-options: IgnoreExtraneous
spec:
  serviceAccountRef:
    name: default
  patches:
    aap-consolelink-patch:
      targetObjectRef:
        apiVersion: console.openshift.io/v1
        kind: ConsoleLink
        namespace: openshift-gitops
        name: aap-controller
      patchTemplate: |
        spec:
          href: https://controller-ansible-automation-platform.apps.{{ (lookup "config.openshift.io/v1" "DNS" "" "cluster").spec.baseDomain }}
      patchType: application/merge-patch+json
