apiVersion: jenkins.io/v1alpha2
kind: Jenkins
metadata:
  name: "{{ ocp4_workload_jenkins_operator_name }}"
  namespace: "{{ ocp4_workload_jenkins_operator_project }}"
  annotations:
    jenkins.io/openshift-mode: 'true'
spec: {{ ocp4_workload_jenkins_operator_spec | to_json }}
