[OSEv3:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_user={{ansible_user}}

###########################################################################
### OpenShift Hosts
###########################################################################
[OSEv3:children]
f5
web
apps
#appdb
isolated

[f5]
{% for host in groups['f5'] %}
{{ hostvars[host].internaldns }} host_zone={{hostvars[host].placement}}
{% endfor %}

[web]
{% for host in groups['web'] %}
{{ hostvars[host].internaldns }} host_zone={{hostvars[host]['placement']}}
{% endfor %}

[apps]
{% for host in groups['apps'] %}
{{ hostvars[host].internaldns }} host_zone={{hostvars[host]['placement']}}
{% endfor %}


[appdb]
## These are the masters
{% for host in groups['appdb'] %}
{{ hostvars[host].internaldns }}

[isolated]
{% for host in groups['isolated'] %}
{{ hostvars[host].internaldns }}
{% endfor %}
