apiVersion: v1
kind: Service
metadata:
  name: {{ ocp4_workload_integreatly_minio_service_name }}
spec:
  type: ClusterIP
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
  selector:
    app: minio