---
version: "3"

services:

  web:
    image: docker.io/nginx
    container_name: web
    hostname: web
    command: nginx -g "daemon off;"
    ports:
      - "8000:80"
    volumes:
      - "{{ showroom_home_dir }}/content/gh-pages:/usr/share/nginx/html:Z"

      # - "{{ showroom_home_dir }}/content/gh-pages:/opt/app-root/src"  # :Z
      # - ./nginx/nginx.conf:/etc/nginx/nginx.conf

  terminal-01:
    image: docker.io/wettyoss/wetty
    container_name: terminal-01
    hostname: terminal-01
    command:
      - "--ssh-user={{ f_user_data.ssh_username }}"
      - "--ssh-pass={{ f_user_data.ssh_password }}"
      - "--ssh-host={{ f_user_data.targethost }}"
      - --allow-iframe=true
    ports:
      - "8001:3000"

  terminal-02:
    image: docker.io/wettyoss/wetty
    container_name: terminal-02
    hostname: terminal-02
    command:
      - "--ssh-user={{ f_user_data.ssh_username }}"
      - "--ssh-pass={{ f_user_data.ssh_password }}"
      - "--ssh-host={{ f_user_data.targethost }}"
      - --allow-iframe=true
    ports:
      - "8002:3000"

  codeserver:
    image: docker.io/codercom/code-server
    container_name: codeserver
    hostname: codeserver
    environment:
      - PASSWORD={{ common_password }}
    ports:
      - "8003:8080"

        # old style - env var better e.g. PASSWORD
    # volumes:
    #   - "./config/code-server:/home/coder/.config/code-server"

        # RHDP codeserver
        #
        # image: quay.io/gpte-devops-automation/codeserver #docker.io/codercom/code-server
        # platform: linux/amd64
    
        # volumes:
        # - ".:/home/coder"
        # -u "$(id -u):$(id -g)" \
