[Unit]
Description=Showroom Service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
User={{ showroom_user | default('showroom') }}
Group={{ showroom_group | default('showroom') }}
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStart=/usr/local/bin/podman-compose -f {{ showroom_home_dir }}/orchestration/container-compose.yml up -d
ExecStop=/usr/local/bin/podman-compose -f {{ showroom_home_dir }}/orchestration/container-compose.yml down
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
