CLAIR_IMAGE={{ clair_image }}
CLAIR_HOST_CONFIG_DIR={{ clair_config_dir }}
CLAIR_CONTAINER_CONFIG_DIR={{ clair_container_config_dir }}
CLAIR_HOST_API_PORT={{ clair_host_api_port }}
CLAIR_CONTAINER_API_PORT={{ clair_container_api_port }}
CLAIR_HOST_PROXY_PORT={{ clair_host_proxy_port }}
CLAIR_CONTAINER_PROXY_PORT={{ clair_container_proxy_port }}
{% if clair_ssl_trust_configure %}
CLAIR_SSL_TRUST_HOST_FILE={{ clair_ssl_trust_host_file }}
CLAIR_SSL_TRUST_CONTAINER_FILE={{ clair_ssl_trust_container_file }}
{% endif %}
