[Unit]
Description=Clair Docker Container
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile={{ systemd_environmentfile_dir }}/{{ clair_name }}
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker pull ${CLAIR_IMAGE}
ExecStart=/usr/bin/docker run --rm --name %n -p ${CLAIR_HOST_API_PORT}:${CLAIR_CONTAINER_API_PORT} -p ${CLAIR_HOST_PROXY_PORT}:${CLAIR_CONTAINER_PROXY_PORT} -v ${CLAIR_HOST_CONFIG_DIR}:${CLAIR_CONTAINER_CONFIG_DIR}:Z {% if clair_ssl_trust_configure %} -v ${CLAIR_SSL_TRUST_HOST_FILE}:${CLAIR_SSL_TRUST_CONTAINER_FILE}:Z {% endif %} ${CLAIR_IMAGE}
ExecStop=/usr/bin/docker stop %n
ExecReload=/usr/bin/docker restart %n

[Install]
WantedBy=multi-user.target