kind: Deployment
apiVersion: apps/v1
metadata:
  name: business-automation-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: business-automation-operator
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: business-automation-operator
      annotations:
        tectonic-visibility: ocs
        certified: 'true'
        olm.targetNamespaces: {{ _namespace }}
        repository: 'https://github.com/kiegroup/kie-cloud-operator'
        support: 'Red Hat, Inc.'
        alm-examples: >-
          [{"apiVersion":"app.kiegroup.org/v2","kind":"KieApp","metadata":{"name":"rhpam-trial"},"spec":{"environment":"rhpam-trial"}}]
        capabilities: Seamless Upgrades
        olm.operatorNamespace: {{ _namespace }}
        containerImage: 'registry.redhat.io/rhpam-7/rhpam-rhel8-operator:7.6.0'
        createdAt: '2019-12-04 13:33:08'
        categories: Integration & Delivery
        description: >-
          Business Automation Operator for deployment and management of
          RHPAM/RHDM environments.
        olm.operatorGroup: {{ _namespace }}
    spec:
      containers:
        - name: business-automation-operator
          image: 'registry.redhat.io/rhpam-7/rhpam-rhel8-operator:7.6.0'
          command:
            - kie-cloud-operator
          env:
            - name: OPERATOR_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: 'metadata.labels[''name'']'
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.namespace
            - name: OPERATOR_UI
              value: 'true'
            - name: DEBUG
              value: 'false'
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      serviceAccountName: business-automation-operator
      serviceAccount: business-automation-operator
      securityContext: {}
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  revisionHistoryLimit: 10
  progressDeadlineSeconds: 600