---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: legacy-postgresql
  namespace: openshift-gitops
spec:
  project: default
  destination:
    namespace: "{{ ocp4_workload_mad_roadshow_legacy_namespace }}"
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated: {}
  source:
    repoURL: {{ ocp4_workload_mad_roadshow_kubevirt_vm_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_kubevirt_psql_vm_repo_tag }}
    path: {{ ocp4_workload_mad_roadshow_kubevirt_psql_vm_repo_path }}
    helm:
      values: |
        fullnameOverride: postgresql
        staticIP: {{ ocp4_workload_mad_roadshow_kubevirt_psql_vm_ip }}
        storage:
          pvcSize: {{ ocp4_workload_mad_roadshow_kubevirt_image_size }}
{% if ocp4_workload_mad_roadshow_kubevirt_image_storage_class | default("") | length > 0 %}
          storageClass: {{ ocp4_workload_mad_roadshow_kubevirt_image_storage_class }}
{% endif %}
        resources:
          requests:
            memory: {{ ocp4_workload_mad_roadshow_kubevirt_vm_memory }}
            cpu: '{{ ocp4_workload_mad_roadshow_kubevirt_vm_cpu }}'
        dataVolumeSource:
          namespace: {{ ocp4_workload_mad_roadshow_kubevirt_image_namespace }}
          name: {{ ocp4_workload_mad_roadshow_kubevirt_psql_image_name }}
          clusterRole: datavolume-cloner
{% if ocp4_workload_mad_roadshow_kubevirt_vm_node_selector | length > 0 %}
        nodeSelector:
          {{ ocp4_workload_mad_roadshow_kubevirt_vm_node_selector | to_yaml }}
{% endif %}
{% if ocp4_workload_mad_roadshow_kubevirt_vm_tolerations | length > 0 %}
        tolerations:
        {{ ocp4_workload_mad_roadshow_kubevirt_vm_tolerations | to_yaml }}
{% endif %}