---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hub-controller
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ""
    namespace: "hub-controller"
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    syncOptions:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_native_robot_infra_repo }}
    path: datacenter/hub-controller
    targetRevision: {{ ocp4_workload_cloud_native_robot_infra_repo_tag }}
    helm:
      values: |
        api_username: "{{ ocp4_workload_cloud_native_robot_hubcontroller_username }}"
        api_password: "{{ ocp4_workload_cloud_native_robot_hubcontroller_password }}"

        openshift_cluster_ingress_domain: "{{ openshift_cluster_ingress_domain }}"
        ru_enabled: "{{ ocp4_workload_cloud_native_robot_hubcontroller_ru_enabled }}"
        ru_repo_url: "{{ ocp4_workload_cloud_native_robot_hubcontroller_ru_repo_url }}"
        ru_repo_token: "{{ ocp4_workload_cloud_native_robot_hubcontroller_ru_repo_token }}"

        team_robot_map:
{% for n in range(1, ocp4_workload_cloud_native_robot_user_count | int + 1 ) %}
          - team: {{ ocp4_workload_cloud_native_robot_user_prefix }}{{ n }}
            robot_name: "{{ hostvars[inventory_hostname]['team_' + n | string + '_robot_name'] | default('') }}"
{% endfor %}

