---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ ocp4_workload_dm7_foundations_elt_ng_app_deployment }} 
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ ocp4_workload_dm7_foundations_elt_ng_app_deployment }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ ocp4_workload_dm7_foundations_elt_ng_app_deployment }}
    spec:
      containers:
        - image: '{{ ocp4_workload_dm7_foundations_elt_ng_app_image }}'
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 10
            initialDelaySeconds: 50
            periodSeconds: 10
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
          name: dm-ng-app
          ports:
            - containerPort: 8081
              protocol: TCP
          readinessProbe:
            initialDelaySeconds: 50
            failureThreshold: 30
            periodSeconds: 10
            tcpSocket:
              port: 8080
            timeoutSeconds: 1
          resources:
            limits:
              cpu: {{ocp4_workload_dm7_foundations_elt_ng_app_limit_cpu }}
              memory: {{ ocp4_workload_dm7_foundations_elt_ng_app_limit_memory }}
            requests:
              cpu: {{ ocp4_workload_dm7_foundations_elt_ng_app_request_cpu }}
              memory: {{ ocp4_workload_dm7_foundations_elt_ng_app_request_memory }}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
