apiVersion: openshift.redhat.com/v1alpha1
kind: Workshop
metadata:
  name: debugging-workshop
spec:
  users: {{ workshop_users }}
  etherpad:
    enabled: {{ _workshop_etherpad_enabled }}
  gogs:
    enabled: {{ _workshop_gogs_enabled }}
  nexus:
    enabled: {{ _workshop_nexus_enabled }}
  servicemesh:
    enabled: {{ _workshop_servicemesh_enabled }}
    jaegerOperatorImage: {{ _workshop_servicemesh_jaegerOperatorImage }}
    kialiOperatorImage: {{ _workshop_servicemesh_kialiOperatorImage }}
    istioOperatorImage: {{ _workshop_servicemesh_istioOperatorImage }}
  guide:
    enabled: {{ _workshop_guide_enabled }}
    openshiftUserPassword: {{ _workshop_guide_openshiftUserPassword }}
    gitRepositoryLabPath: {{ _workshop_guide_gitRepositoryLabPath }}
    gitRepositoryLabReference: {{ _workshop_guide_gitRepositoryLabReference }}
    gitRepositoryGuidePath: {{ _workshop_guide_gitRepositoryGuidePath }}
    gitRepositoryGuideReference: {{ _workshop_guide_gitRepositoryGuideReference }}
    gitRepositoryGuideContext: {{ _workshop_guide_gitRepositoryGuideContext }}
    gitRepositoryGuideFile: {{ _workshop_guide_gitRepositoryGuideFile }}
  workspaces:
    enabled: {{ _workshop_workspaces_enabled }}
    openShiftoAuth: {{ _workshop_workspaces_openShiftoAuth }}
  squash:
     enabled: {{ _workshop_squash_enabled }}