apiVersion: apps/v1
kind: Deployment
metadata:
  name: openshift-workshop-operator
  namespace: "{{ _workshop_operator_project }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: openshift-workshop-operator
  template:
    metadata:
      labels:
        name: openshift-workshop-operator
    spec:
      serviceAccountName: openshift-workshop-operator
      containers:
        - name: openshift-workshop-operator
          # Replace this with the built image name
          image: quay.io/mcouliba/openshift-workshop-operator:rhte
          command:
          - openshift-workshop-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "openshift-workshop-operator"