---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{sub_metadata_name}}
  namespace: {{target_namespace}}
spec:
  channel: {{sub_spec_channel}}
  installPlanApproval: {{sub_spec_install_plan}}
  name: {{sub_spec_name}}
  source: {{sub_spec_source}}
  sourceNamespace: {{sub_spec_source_namespace}}
  startingCSV: {{sub_spec_starting_csv}}
