apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: {{ ocp4_workload_metallb_ipaddresspool_name }}
  namespace: metallb-system
spec:
  addresses: {{ ocp4_workload_metallb_ipaddresspool_addresses | to_yaml }}
  autoAssign: true
  avoidBuggyIPs: false
