apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: l2-adv
  namespace: metallb-system
spec:
  ipAddressPools:
    - "{{ ocp4_workload_metallb_l2advertisement_ipaddresspool }}"
  interfaces:
    - "{{ ocp4_workload_metallb_l2advertisement_interface }}"
