apiVersion: operators.coreos.com/v1
kind: CatalogSourceConfig
metadata:
 name: metering-operators
 namespace: openshift-marketplace
spec:
  targetNamespace: {{ _metering_namespace }}
  packages: metering
