apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: metering
  namespace: "{{ _metering_namespace }}"
  labels:
    csc-owner-name: "installed-community-{{ _metering_namespace }}"
    csc-owner-namespace: openshift-marketplace
spec:
  channel: preview
  name: metering
  source: metering-operators
  sourceNamespace: "{{ _metering_namespace }}"
