apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ application_name }}"
  namespace: "{{ env_type }}-{{ guid }}"
spec:
  destination:
    namespace: "{{ env_type }}-{{ guid }}"
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: "{{ application_path }}"
    repoURL: "{{ application_repo }}"
    targetRevision: "{{ application_revision | default('HEAD') }}"
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
