apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: {{ guid }}-argocd
  namespace: {{ env_type }}-{{ guid }}
spec:
  repo:
    replicas: 1
  server:
    replicas: 1
    route:
      enabled: true
      path: /
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: passthrough
      wildcardPolicy: None
