{% for __user in users %}
{% for __deployment in deployments %}
---
apiVersion: camel.apache.org/v1
kind: Integration
metadata:
  name: monitor
  namespace: {{ __deployment.namespace | replace("user", __user) }}  
spec:
  flows:
    - from:
        uri: "kafka:{{ __user }}"
        parameters:
          brokers: 'my-cluster-kafka-bootstrap.shared.svc:9092'
        steps:
          - log:
              message: 'got: ${body}'
          - to:
              uri: 'paho:monitor'
              parameters:
                brokerUrl: 'tcp://broker-amq-mqtt-0-svc:1883'
{% endfor %}
{% endfor %}