{% for __deployment in deployments %}
---
kind: ActiveMQArtemis
apiVersion: broker.amq.io/v1beta1
metadata:
  application: broker-amq-app
  name: broker-amq
  namespace: {{ __deployment.namespace }}
spec:
  deploymentPlan:
    image: placeholder
    jolokiaAgentEnabled: false
    journalType: nio
    managementRBACEnabled: true
    messageMigration: false
    persistenceEnabled: false
    requireLogin: false
    size: 1
  acceptors:
  - name: mqtt
    protocols: mqtt
    port: 1883
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: broker-amq-mqtt
  namespace: {{ __deployment.namespace }}  
spec:
  to:
    kind: Service
    name: broker-amq-mqtt-0-svc
    weight: 100
  port:
    targetPort: mqtt-0
  tls:
    termination: edge
  wildcardPolicy: None
{% endfor %}