---
apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  name: 'terminal-{{__user}}'
  annotations:
    controller.devfile.io/restricted-access: "true"
  labels:
    console.openshift.io/terminal: "true"
  namespace: '{{__user}}-lab2-edge'
spec:
  started: true
  routingClass: 'web-terminal'
  template:
    components:
      - name: web-terminal-exec
        plugin:
          kubernetes:
            name: web-terminal-exec
            namespace: openshift-operators
      - container:
          image: 'quay.io/redhatintegration/rhi-tools:latest'
          memoryLimit: 1Gi
        name: tools