{% for __user in users %}
---
apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: {{ __user }}-lab1-mlops
  labels:
    kubernetes.io/metadata.name: {{ __user }}-lab1-mlops
    opendatahub.io/dashboard: 'true'
spec:
  finalizers:
    - kubernetes
---
apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: {{ __user }}-lab2-mlops
  labels:
    kubernetes.io/metadata.name: {{ __user }}-lab2-mlops
    opendatahub.io/dashboard: 'true'
spec:
  finalizers:
    - kubernetes
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ __user }}-lab2-edge
{% endfor %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: shared