GUID=jwm4
ENVTYPE=ocp-storage-cns
CLOUDPROVIDER=ec2
HOSTZONEID='Z3IHLWJZOU9SRT'
BASESUFFIX='.example.opentlc.com'
KEYNAME=ocpkey
MINOR_VERSION=3.9.31
REPO_VERSION=3.9
REPO_PATH=http://admin.na.shared.opentlc.com/repos/ocp/${MINOR_VERSION}/
ENVTYPE_ARGS=(
-e bastion_instance_type=t2.xlarge \
-e master_instance_type=t2.xlarge \
-e master_instance_count=1 \
-e node_instance_type=t2.large \
-e node_instance_count=1 \
-e infranode_instance_type=t2.xlarge \
-e infranode_instance_count=1 \
-e support_instance_type=t2.xlarge \
-e support_instance_count=3 \
-e install_idm=htpasswd  \
-e own_repo_path=${REPO_PATH} \
-e repo_version=${REPO_VERSION} \
-e software_to_deploy=openshift \
-e osrelease=${MINOR_VERSION} \
--skip-tags=overwrite_hosts_with_lab_hosts,preserve_complete_ansible_inventory
)
