GUID=testgucore
REGION=EastUS
KEYNAME=gucore
ENVTYPE=ocp-workshop
SOFTWARE_TO_DEPLOY=openshift
BASESUFFIX='.azure.opentlc.com'
HOSTZONEID='azure.opentlc.com'
CLOUDPROVIDER=azure

ENVTYPE_ARGS=(
-e azure_service_principal=CHANGEME
-e azure_password=CHANGEME
-e azure_tenant=CHANGEME
-e azure_region=WestEurope
-e azure_subscription_id=CHANGEME

-e bastion_instance_type=Standard_F8s_v2
-e master_instance_type=Standard_E8S_v3
-e infranode_instance_type=Standard_E16S_v3
-e node_instance_type=Standard_E8S_v3
-e support_instance_type=Standard_E8S_v3

-e docker_size=128

-e rootfs_size_node=128
-e rootfs_size_infranode=150
-e rootfs_size_master=128
-e rootfs_size_bastion=128
-e rootfs_size_support=128

-e remote_user=azure
-e ansible_user=azure

-e "subdomain_base_suffix=${BASESUFFIX}"
-e node_instance_count=1
-e install_glusterfs=true
-e own_repo_path=http://admin.example.com/repos/ocp/3.7.23
-e repo_version=3.7
-e osrelease=3.7.23
-e ocp_report=true
)

# The resource group containing the dns zone, default to 'dns'
#-e az_dnszone_resource_group=ocp-workshop-testgucore

# If you want to use a different destroy strategy:
#-e az_destroy_method=deployment
#-e az_resource_group=ocp-workshop-testgucore

# Some example of sizing

#use cpu-focused VM for bastion
# -e "bastion_instance_type=Standard_F8s_v2"
# -e "master_instance_type=Standard_E8S_v3"
# -e "infranode_instance_type=Standard_E16S_v3"
# -e "node_instance_type=Standard_E8S_v3"
# -e "support_instance_type=Standard_E8S_v3"

# -e "bastion_instance_type=Standard_DS4_v2"
# -e "master_instance_type=Standard_DS4_v2"
# -e "infranode_instance_type=Standard_DS4_v2"
# -e "node_instance_type=Standard_DS4_v2"
# -e "support_instance_type=Standard_DS4_v2"


# -e bastion_instance_type=Standard_A2_v2
# -e master_instance_type=Standard_A2_v2
# -e infranode_instance_type=Standard_A2_v2
# -e node_instance_type=Standard_A2_v2
# -e support_instance_type=Standard_A2_v2
