GUID=testhomework4
REGION=us-east-1
KEYNAME=ocpkey
ENVTYPE=ocp-adv-deploy-hw
SOFTWARE_TO_DEPLOY=openshift
HOSTZONEID=Z3IHLWJZOU9SRT
INSTALL_IPA_CLIENT=false
ENVTYPE_ARGS=(
-e "subdomain_base_suffix=.example.opentlc.com"
-e "email=judd@redhat.com"
-e "own_repo_path=http://admin.example.com/repos/ocp/3.9.27"
--skip-tags=installing_openshift,get_openshift_credentialas,openshift_nfs_config,preserve_complete_ansible_inventory
)

#-e "install_ipa_client=true"
#-e "ipa_host_password=${IPA_PASS}"
