REGION=WestEurope
KEYNAME=ocpkey
GUID=testgucore
ENVTYPE="three-tier-app"
CLOUDPROVIDER=azure
HOSTZONEID='gucore.opentlc.com'
REPO_PATH='http://admin.example.com/repos/ocp/3.5'
BASESUFFIX='.gucore.opentlc.com'
SOFTWARE_TO_DEPLOY=none

# to set in env_secret_vars.yml:
# azure_service_principal=...
# azure_password=...
# azure_tenant=...
# azure_subscription_id=...
# windows_password=...

ENVTYPE_ARGS=(
-e azure_region=WestEurope
-e install_ipa=false
-e own_repo_path="$REPO_PATH"
-e subdomain_base=${HOSTZONEID}
)
