
[tower]
localhost ansible_connection=local

[database]

[all:vars]
admin_password='{{ ansible_tower.admin_password }}'

pg_host="{{ ansible_tower.install.pg.host | default('') }}"
pg_port="{{ ansible_tower.install.pg.port | default('') }}"
pg_database="{{ ansible_tower.install.pg.database | default('awx') }}"
pg_username="{{ ansible_tower.install.pg.username | default('awx') }}"
pg_password="{{ ansible_tower.install.pg.password | default(ansible_tower.admin_password) }}"

{% if not ansible_tower_37_later %}

rabbitmq_port="{{ ansible_tower.install.rabbitmq.port | default(5672) }}"
rabbitmq_vhost="{{ ansible_tower.install.rabbitmq.vhost | default('tower') }}"
rabbitmq_username="{{ ansible_tower.install.rabbitmq.username | default('tower') }}"
rabbitmq_password='{{ ansible_tower.install.rabbitmq.password | default(ansible_tower.admin_password) }}'
rabbitmq_cookie="{{ ansible_tower.install.rabbitmq.cookie | default('cookiemonster') }}"
rabbitmq_use_long_name="{{ ansible_tower.install.rabbitmq.use_long_name | default(false) }}"

{% endif %}
