kind: Deployment
apiVersion: apps/v1
metadata:
  name: apicast-operator-controller-manager-v2
  namespace: "{{ocp4_workload_lpe_3scale_tenant_gw_project}}"
spec:
  template:
    spec:
      containers:
        - resources:
            limits:
              cpu: 100m
              memory: 150Mi
            requests:
              cpu: 100m
              memory: 150Mi
          name: manager
