apiVersion: apps.3scale.net/v1alpha1
kind: APIcast
metadata:
  name: "prod-apicast"
  namespace: "{{ocp4_workload_lpe_3scale_tenant_gw_project}}"
spec:
  adminPortalCredentialsRef:
    name: "apicast-configuration-url-secret-prod"
  replicas: 1
  configurationLoadMode: boot
  deploymentEnvironment: production
  