kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ item }}
  namespace: {{ocp4_workload_lpe_3scale_tenant_gw_project}}
spec:
  host: >-
    {{ item }}.{{ocp4_workload_lpe_3scale_tenant_admin_url | regex_search('(?<=https:\\/\\/).*') }}
  to:
    kind: Service
    name: {{ item }}
    weight: 100
  port:
    targetPort: proxy
  tls:
    termination: edge
  wildcardPolicy: None
