kind: Secret
apiVersion: v1
metadata:
  name: {{ item }}
  namespace: {{ ocp4_workload_lpe_3scale_tenant_gw_project }}
data:
  AdminPortalURL: {{ ocp4_workload_lpe_3scale_tenant_admin_access_endpoint | b64encode}}
type: Opaque
