kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: {{ item }}
  namespace: "{{ ocp4_workload_lpe_3scale_namespace }}"
spec:
  template:
    spec:
      containers:
{% if item == 'system-sidekiq' %}
        - name: {{ item }}
          env:
            - name: NOTIFICATION_EMAIL
              value: {{ ocp4_workload_lpe_3scale_admin_email_user }}@{{ ocp4_workload_lpe_3scale_admin_email_domain }}
{% endif %}
{% if item == 'system-app' %}
        - name: system-master
          env:
            - name: SUPPORT_EMAIL
              value: {{ ocp4_workload_lpe_3scale_admin_email_user }}@{{ ocp4_workload_lpe_3scale_admin_email_domain }}
        - name: system-provider
          env:
            - name: SUPPORT_EMAIL
              value: {{ ocp4_workload_lpe_3scale_admin_email_user }}@{{ ocp4_workload_lpe_3scale_admin_email_domain }}
        - name: system-developer
          env:
            - name: SUPPORT_EMAIL
              value: {{ ocp4_workload_lpe_3scale_admin_email_user }}@{{ ocp4_workload_lpe_3scale_admin_email_domain }}
{% endif %}
