kind: Secret
apiVersion: v1
metadata:
  name: system-smtp
  namespace: "{{ ocp4_workload_lpe_3scale_namespace }}"
  labels:
    app: 3scale-api-management
    threescale_component: system
    threescale_component_element: smtp
type: Opaque    
stringData:
  address: "{{ ocp4_workload_lpe_3scale_smtp_host }}"
  authentication: "{{ ocp4_workload_lpe_3scale_smtp_authentication }}"
  domain: "{{ ocp4_workload_lpe_3scale_smtp_domain}}"
  openssl.verify.mode: "none"
  password: "{{ ocp4_workload_lpe_3scale_smtp_passwd }}"
  port: "{{ ocp4_workload_lpe_3scale_smtp_port }}"
  username: "{{ ocp4_workload_lpe_3scale_smtp_userid }}"
