apiVersion: capabilities.3scale.net/v1alpha1
kind: Tenant
metadata:
  name: "{{ ocp4_workload_lpe_3scale_org_name }}"
  namespace: "{{ ocp4_workload_lpe_3scale_namespace }}"
spec:
  email: "{{ ocp4_workload_lpe_3scale_tenant_admin_email }}"
  masterCredentialsRef:
    name: system-seed
  organizationName: "{{ ocp4_workload_lpe_3scale_org_name }}"
  passwordCredentialsRef:
    name: "{{ ocp4_workload_lpe_3scale_org_name }}-admin-secret"
  systemMasterUrl: "https://master.{{ guid }}.{{ocp4_workload_lpe_3scale_ocp_apps_domain}}"
  tenantSecretRef:
    name: "{{ ocp4_workload_lpe_3scale_org_name }}-tenant-secret"
    namespace: "{{ ocp4_workload_lpe_3scale_namespace }}"
  username: "{{ ocp4_workload_lpe_3scale_tenant_admin_id }}"
