kind: Secret
apiVersion: v1
metadata:
  name: "{{ ocp4_workload_lpe_3scale_org_name }}-admin-secret"
  namespace: "{{ ocp4_workload_lpe_3scale_namespace }}"
type: Opaque    
stringData:
  admin_password: "{{ ocp4_workload_lpe_3scale_tenant_admin_password }}"
