apiVersion: v1
kind: Service
metadata:
  name: {{ ocp4_workload_app_mod_demo_kubevirt_oracle_service }}
  namespace: {{ ocp4_workload_app_mod_demo_legacy_namespace }}
  labels:
    app.kubernetes.io/name: oracle
spec:
  ports:
  - port: 1521
    protocol: TCP
    targetPort: 1521
  selector:
    kubevirt.io/domain: oracle
  sessionAffinity: None
  type: ClusterIP
