apiVersion: v1
kind: Service
metadata:
  name: tomcat
  namespace: {{ ocp4_workload_app_mod_demo_legacy_namespace }}
  labels:
    app.kubernetes.io/name: tomcat
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    kubevirt.io/domain: tomcat
  sessionAffinity: None
  type: ClusterIP
