---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: tomcat
  namespace: {{ ocp4_workload_app_mod_demo_legacy_namespace }}
  labels:
    app.kubernetes.io/name: tomcat
    app.kubernetes.io/part-of: vms
    app.openshift.io/runtime: kubevirt
  annotations:
    app.openshift.io/connects-to: oracle
spec:
  running: false
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: medium
        vm.kubevirt.io/os: rhel8
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: tomcat
        kubevirt.io/size: medium
        app.kubernetes.io/name: tomcat
    spec:
      domain:
        cpu:
          cores: 2
          sockets: 2
          threads: 1
        devices:
          disks:
          - name: vol-0
            disk:
              bus: virtio
          - name: cloudinitdisk
            disk:
              bus: virtio
          interfaces:
          - name: default
            masquerade: {}
          networkInterfaceMultiqueue: true
        machine:
          type: q35
        resources:
          requests:
            cpu: "2"
            memory: 4Gi
      livenessProbe:
        httpGet:
          path: /health/live
          port: 8080
        initialDelaySeconds: 60
        periodSeconds: 30
        timeoutSeconds: 10
      readinessProbe:
        httpGet:
          path: /health/ready
          port: 8080
        initialDelaySeconds: 60
        periodSeconds: 30
        timeoutSeconds: 10
      evictionStrategy: LiveMigrate
      networks:
      - name: default
        pod: {}
      terminationGracePeriodSeconds: 180
      nodeSelector:
        node-role.kubernetes.io/metal: ""
      tolerations:
        - key: metal
          operator: Exists
      volumes:
      - name: vol-0
        dataVolume:
          name: tomcat
      - cloudInitNoCloud:
          userData: |-
            #cloud-config
            user: cloud-user
            password: openshift
            chpasswd: { expire: False }
        name: cloudinitdisk
  dataVolumeTemplates:
  - metadata:
      name: tomcat
    spec:
      pvc:
        storageClassName: ocs-storagecluster-ceph-rbd
        accessModes:
        - ReadWriteMany
        volumeMode: Block
        resources:
          requests:
            storage: 30Gi
      source:
        http:
          url: {{ ocp4_workload_app_mod_demo_kubevirt_image_tomcat }}
