apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ''
    openshift.io/display-name: ''
    openshift.io/requester: '{{ ocp_username }}'
  name: '{{ ocp4_workload_sustainable_computing_namespace }}'
spec:
  finalizers:
    - kubernetes
