
{% if groups.nodes is defined %}
[web]
{% for host in groups['nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.bastions is defined %}
[bastions]
{{ groups['bastions'][0].split('.')[0] }} ansible_host={{ groups['bastions'][0] }}
{% endif %}

{% if groups.windows is defined %}
[windows]
{% for host in groups['windows'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[windows:vars]
ansible_password={{ windows_password }}
ansible_user=Administrator
{% endif %}

{% if groups.gitlab is defined %}
[gitlab]
{% for host in groups['gitlab'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.nodes is defined %}
[nodes]
{% for host in groups['nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.controllers is defined %}
[controllers]
{% for host in groups['controllers'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.satellites is defined %}
[satellites]
{% for host in groups['satellites'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.capsules is defined %}
[capsules]
{% for host in groups['capsules'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.servers is defined %}
[servers]
{% for host in groups['servers'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.rhel7_nodes is defined %}
[rhel7_nodes]
{% for host in groups['rhel7_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.rhel8_nodes is defined %}
[rhel8_nodes]
{% for host in groups['rhel8_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.rhel9_nodes is defined %}
[rhel9_nodes]
{% for host in groups['rhel9_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.rhel10_nodes is defined %}
[rhel10_nodes]
{% for host in groups['rhel10_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.centos_nodes is defined %}
[centos_nodes]
{% for host in groups['centos_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.rhelai_nodes is defined %}
[rhelai_nodes]
{% for host in groups['rhelai_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

{% if groups.network is defined %}
[network]
{% for host in groups['network'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif %}

[all:vars]
timeout=60
ansible_user={{ remote_user }}
ansible_ssh_private_key_file="~/.ssh/{{ guid }}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
ansible_become=true
