apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  annotations:
    app.openshift.io/connects-to: |
      [{"apiVersion":"apps/v1","kind":"Deployment","name":"{{ ocp4_workload_ama_demo_app_services_catalog_service_name }}"}]
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_globex_ui_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_globex_ui_app_name }}
    app.openshift.io/runtime: nodejs
  name: {{ ocp4_workload_ama_demo_app_services_globex_ui_name }}
spec:
  replicas: {{ ocp4_workload_ama_demo_app_services_globex_ui_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_globex_ui_name }}
      app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_globex_ui_app_name }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_globex_ui_name }}
        app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_globex_ui_app_name }}
    spec:
      containers:
        - image:  {{ ocp4_workload_ama_demo_app_services_globex_ui_image }}
          imagePullPolicy: IfNotPresent
          name: {{ ocp4_workload_ama_demo_app_services_globex_ui_name }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources: {}
          env:
            - name: NODE_ENV
              value: {{ ocp4_workload_ama_demo_app_services_globex_ui_node_env }}
            - name: PORT
              value: '8080'
            - name: API_TRACK_USERACTIVITY
              value: http://{{ ocp4_workload_ama_demo_app_services_activity_tracking_service_name }}:8080/{{ ocp4_workload_ama_demo_app_services_activity_tracking_service_post_activity_path }}
            - name: API_GET_PAGINATED_PRODUCTS
              value: http://{{ ocp4_workload_ama_demo_app_services_catalog_service_name }}:8080/{{ ocp4_workload_ama_demo_app_services_catalog_service_paginated_products_path }}
            - name: API_GET_PRODUCT_DETAILS_BY_IDS
              value: http://{{ ocp4_workload_ama_demo_app_services_catalog_service_name }}:8080/{{ ocp4_workload_ama_demo_app_services_catalog_service_product_details_path }}
            - name: API_CATALOG_RECOMMENDED_PRODUCT_IDS
              value: http://{{ ocp4_workload_ama_demo_app_services_recommendation_engine_name }}:8080/{{ ocp4_workload_ama_demo_app_services_recommendation_engine_recommended_products_path }}
      serviceAccountName: {{ ocp4_workload_ama_demo_app_services_globex_ui_app_name }}
      serviceAccount: {{ ocp4_workload_ama_demo_app_services_globex_ui_app_name }}
