---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: trigger-template-{{ _name_ }}
spec:
  params:
    - name: repositoryname
      description: The execution environment repository
    - name: gitrevision
      description: The git revision (id)
    - name: short-id
      description: truncated commit id
    - name: gitrepositoryurl
      description: The git repository url
  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        annotations:
        labels:
          tekton.dev/pipeline: triggered-pipeline-run-{{ _name_ }}
        generateName: triggered-pipelinerun-{{ _name_ }}-
      spec:
        params:
        - name: ANSIBLE_BUILDER_IMAGE
          value: {{ ocp4_workload_tekton_ansible_ee_default_builder_image }}
        - name: NAME
          value: "{{ ocp4_workload_tekton_ansible_ee_registry_host }}/$(tt.params.repositoryname)"
        - name: TAG
          value: $(tt.params.short-id)
        - name: TLSVERIFY
          value: 'false'
        - name: GIT_URL
          value: $(tt.params.gitrepositoryurl)
        - name: GIT_REVISION
          value: $(tt.params.gitrevision)
        pipelineRef:
          name: pipeline-{{ _name_ }}
        serviceAccountName: pipeline
        timeout: 1h0m0s
        workspaces:
        - name: ee-repo
          persistentVolumeClaim:
            claimName: pvc-{{ _name_ }}