---
secrets:
  # NEVER COMMIT THESE VALUES TO GIT

  git:
    # Go to: https://github.com/settings/tokens
    username: {{ ocp4_workload_multicloud_gitops_odf_gitea_user }}
    password: {{ ocp4_workload_multicloud_gitops_odf_gitea_token }}

{% if ocp4_workload_multicloud_gitops_odf_name is match('multicloud-gitops-odf') %}
  config-demo:
    # Secret used for demonstrating vault storage, external secrets, and ACM distribution
    secret: {{ _ocp4_workload_multicloud_gitops_odf_config_demo_secret }}
{% endif %}

