---
main:
  clusterGroupName: {{ ocp4_workload_multicloud_gitops_odf_cluster_group_name }}
 
global:
  pattern: {{ ocp4_workload_multicloud_gitops_odf_name }}

  options:
    useCSV: False
    syncPolicy: Automatic
    installPlanApproval: Automatic

  git:
    hostname: {{ ocp4_workload_multicloud_gitops_odf_gitea_server_hostname }}
    account: {{ ocp4_workload_multicloud_gitops_odf_gitea_user }}
    username: {{ ocp4_workload_multicloud_gitops_odf_gitea_user }}
    email: {{ ocp4_workload_multicloud_gitops_odf_gitea_user_email }}
    dev_revision: main

  # Make sure a change is actually pushed to Gitea
  last_updated: {{ ansible_date_time.date }}_{{ ansible_date_time.time }}
