---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ ocp4_workload_acc_new_app_dev_guides_redis_pvc | default('1Gi') }}
