---
apiVersion: v1
kind: Secret
metadata:
  annotations:
    template.openshift.io/expose-password: '{.data[''database-password'']}'
  name: redis
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
stringData:
  database-password: redis
