#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
cat << EOF | tee apache_basic/install_apache.yml
---
- hosts: web
  name: Install the apache web service
  become: yes
EOF
