#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
echo cd ~/apache-basic-playbook/roles/apache-simple/
cd ~/apache-basic-playbook/roles/apache-simple/
echo rm -rf files tests 
rm -rf files tests 
