#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/bin/bash
cd /tmp
echo tar xvfz /tmp/ansible-tower-setup-latest.tar.gz
tar xvfz /tmp/ansible-tower-setup-latest.tar.gz
