#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
echo ansible-playbook --private-key=~/.ssh/[% workshop_prefix %]-tower -i hosts apache_basic/install_apache.yml
ansible-playbook --private-key=~/.ssh/[% workshop_prefix %]-tower -i hosts apache_basic/install_apache.yml
