#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
cat << EOF | tee -a apache-basic-playbook/site.yml

  handlers:
    - name: restart apache service
      service:
        name: httpd
        state: restarted
        enabled: yes
EOF
