---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: acceleratorprofiles.dashboard.opendatahub.io
spec:
  conversion:
    strategy: None
  group: dashboard.opendatahub.io
  names:
    kind: AcceleratorProfile
    listKind: AcceleratorProfileList
    plural: acceleratorprofiles
    singular: acceleratorprofile
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        properties:
          spec:
            properties:
              description:
                type: string
              displayName:
                type: string
              enabled:
                type: boolean
              identifier:
                type: string
              tolerations:
                items:
                  properties:
                    effect:
                      type: string
                    key:
                      type: string
                    operator:
                      type: string
                    tolerationSeconds:
                      type: integer
                    value:
                      type: string
                  required:
                  - key
                  type: object
                type: array
            required:
            - displayName
            - enabled
            - identifier
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
