---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: acceleratorprofiles.dashboard.opendatahub.io
spec:
  group: dashboard.opendatahub.io
  scope: Namespaced
  names:
    plural: acceleratorprofiles
    singular: acceleratorprofile
    kind: AcceleratorProfile
  versions:
    - name: v1alpha
      served: true
      storage: true
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
              required:
                - displayName
                - enabled
                - identifier
              properties:
                displayName:
                  type: string
                enabled:
                  type: boolean
                identifier:
                  type: string
                description:
                  type: string
                tolerations:
                  type: array
                  items:
                    type: object
                    required:
                      - key
                    properties:
                      key:
                        type: string
                      operator:
                        type: string
                      value:
                        type: string
                      effect:
                        type: string
                      tolerationSeconds:
                        type: integer
