---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    opendatahub.io/notebook-image: "true"
  annotations:
    opendatahub.io/notebook-image-url: "https://github.com//opendatahub-io/notebooks/tree/main/habana"
    opendatahub.io/notebook-image-name: "Jupyter compatible Habana Notebook"
    opendatahub.io/notebook-image-desc: "Jupyter notebook image with a set of habana libraries that advanced AI/ML notebooks will use as a base image to provide a standard for libraries avialable in all notebooks"
    opendatahub.io/notebook-image-order: "2"
    opendatahub.io/recommended-accelerators: '["habana.ai/gaudi"]'
  name: jupyter-habana-notebook
  namespace: redhat-ods-applications
spec:
  lookupPolicy:
    local: true
  tags:
  # 1.11.0 Version of the image n
  - annotations:
      opendatahub.io/notebook-software: '[{"name":"Python","version":"v3.8"},{"name":"Habana","version":"1.11.0.587"}]'
      opendatahub.io/notebook-python-dependencies: '[{"name":"Boto3","version":"1.26"},{"name":"Kafka-Python","version":"2.0"},{"name":"Kfp-tekton","version":"1.5"},{"name":"Matplotlib","version":"3.6"},{"name":"Numpy","version":"1.23"},{"name":"Pandas","version":"1.5"},{"name":"Scikit-learn","version":"1.2"},{"name":"Scipy","version":"1.10"},{"name":"Tensorflow","version":"2.12.1"},{"name":"PyTorch","version":"2.0.1"}]'
      openshift.io/imported-from: quay.io/opendatahub/workbench-images
      opendatahub.io/workbench-image-recommended: 'true'
    from:
      kind: DockerImage
      name: quay.io/opendatahub/workbench-images:habana-jupyter-1.11.0-ubi8-python-3.8-20231017-a302c1a
    name: "1.11.0"
    referencePolicy:
      type: Source
  # 1.10.0 Version of the image n-1
  - annotations:
      opendatahub.io/notebook-software: '[{"name":"Python","version":"v3.8"},{"name":"Habana","version":"1.10.0.494"}]'
      opendatahub.io/notebook-python-dependencies: '[{"name":"Boto3","version":"1.26"},{"name":"Kafka-Python","version":"2.0"},{"name":"Kfp-tekton","version":"1.5"},{"name":"Matplotlib","version":"3.6"},{"name":"Numpy","version":"1.23"},{"name":"Pandas","version":"1.5"},{"name":"Scikit-learn","version":"1.2"},{"name":"Scipy","version":"1.10"},{"name":"Tensorflow","version":"2.12.0"},{"name":"PyTorch","version":"2.0.1"}]'
      openshift.io/imported-from: quay.io/opendatahub/notebooks
    from:
      kind: DockerImage
      name:  quay.io/opendatahub/workbench-images:habana-jupyter-1.10.0-ubi8-python-3.8-20231017-a302c1a
    name: "1.10.0"
    referencePolicy:
      type: Source
  # 1.9.0 Version of the image
  - annotations:
      opendatahub.io/notebook-software: '[{"name":"Python","version":"v3.8"},{"name":"Habana","version":"1.9.0.580"}]'
      opendatahub.io/notebook-python-dependencies: '[{"name":"Boto3","version":"1.26"},{"name":"Kafka-Python","version":"2.0"},{"name":"Kfp-tekton","version":"1.5"},{"name":"Matplotlib","version":"3.6"},{"name":"Numpy","version":"1.23"},{"name":"Pandas","version":"1.5"},{"name":"Scikit-learn","version":"1.2"},{"name":"Scipy","version":"1.10"},{"name":"Tensorflow","version":"2.11.0"},{"name":"PyTorch","version":"1.13.1"}]'
      openshift.io/imported-from: quay.io/opendatahub/notebooks
    from:
      kind: DockerImage
      name: quay.io/opendatahub/workbench-images:habana-jupyter-1.9.0-ubi8-python-3.8-20231023-33399dd
    name: "1.9.0"
    referencePolicy:
      type: Source
