kind: ClusterPolicy
apiVersion: habanalabs.habana.ai/v1
metadata:
  name: habana-ai
spec:
  bmc_monitoring:
    image:
      repository: vault.habana.ai/habana-bmc-exporter/bmc-exporter
      tag: "{{ habana_gaudi_image_tag}}"
    resources:
      limits:
        cpu: 250m
        memory: 250Mi
      requests:
        cpu: 150m
        memory: 100Mi
  device_plugin:
    image:
      repository: vault.habana.ai/docker-k8s-device-plugin/docker-k8s-device-plugin
      tag: "{{ habana_gaudi_image_tag}}"
    resources:
      limits:
        cpu: 20m
        memory: 64Mi
      requests:
        cpu: 10m
        memory: 32Mi
  driver:
    driver_loader:
      images:
        rhel_8.6:
          repository: vault.habana.ai/habana-ai-operator/driver/rhel8.6/driver-installer
          tag: "{{ habana_gaudi_image_tag}}"
        rhel_9.2:
          repository: vault.habana.ai/habana-ai-operator/driver/rhel9.2/driver-installer
          tag: "{{ habana_gaudi_image_tag}}"
        rhel_9.4:
          repository: vault.habana.ai/habana-ai-operator/driver/rhel9.4/driver-installer
          tag: "{{ habana_gaudi_image_tag}}"
        tencentos_3.1:
          repository: vault.habana.ai/habana-ai-operator/driver/tencentos3.1/driver-installer
          tag: "{{ habana_gaudi_image_tag}}"
        ubuntu_22.04:
          repository: vault.habana.ai/habana-ai-operator/driver/ubuntu22.04/driver-installer
          tag: "{{ habana_gaudi_image_tag}}"
      mlnx_ofed_repo_path: artifactory/gaudi-installer/deps
      mlnx_ofed_version: mlnx-ofed-5.8-2.0.3.0-rhel8.4-x86_64.tar.gz
      repo_path: artifactory/gaudi-installer/repos
      repo_server: vault.habana.ai
      resources:
        limits:
          cpu: 4000m
          memory: 16Gi
        requests:
          cpu: 2000m
          memory: 8Gi
    driver_runner:
      image:
        repository: vault.habana.ai/habana-ai-operator/driver/ubuntu22.04/driver-installer
        tag: "{{ habana_gaudi_image_tag}}"
      resources:
        limits:
          cpu: 20m
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 32Mi
  feature_discovery:
    nfd_plugin: false
    runner:
      image:
        repository: vault.habana.ai/habana-ai-operator/habanalabs-feature-discovery
        tag: "{{ habana_gaudi_image_tag}}"
      resources:
        limits:
          cpu: 20m
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 32Mi
  image_registry: vault.habana.ai
  metric_exporter:
    interval: 20
    port: 41611
    runner:
      image:
        repository: vault.habana.ai/gaudi-metric-exporter/metric-exporter
        tag: "{{ habana_gaudi_image_tag}}"
      resources:
        limits:
          cpu: 150m
          memory: 120Mi
        requests:
          cpu: 100m
          memory: 100Mi
  runtime:
    configuration:
      container_engine: crio
    runner:
      image:
        repository: vault.habana.ai/habana-ai-operator/habana-container-runtime
        tag: "{{ habana_gaudi_image_tag}}"
      resources:
        limits:
          cpu: 20m
          memory: 64Mi
        requests:
          cpu: 10m
          memory: 32Mi