---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: habana-ai-operator
  namespace: habana-ai-operator
spec:
  channel: {{ habana_gaudi_operator_channel }}
  installPlanApproval: Automatic
  name: habana-ai-operator
  source: certified-operators
  sourceNamespace: openshift-marketplace
