apiVersion: v1
data:
  customServerConfig.json: |
    {
      "services": [
        { "name": "3scale Developer Dashboard", "url": "https://tenant-{{ '{{' }} username {{ '}}' }}.{{ route_subdomain }}" },
        { "name": "3scale Admin Dashboard", "url": "https://tenant-{{ '{{' }} username {{ '}}' }}-admin.{{ route_subdomain }}" },
      ]
    }
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
  namespace: {{ webapp_namespace }}