apiVersion: capabilities.3scale.net/v1alpha1
kind: Tenant
metadata:
  name: {{tenant}}-tenant
  namespace: {{ threescale_project }}
spec:
  email: {{tenant}}@example.openshift.com
  masterCredentialsRef:
    name: system-seed
  organizationName: '{{ tenant }}'
  passwordCredentialsRef:
    name: {{tenant}}-admin-secret
  systemMasterUrl: 'https://master.{{ route_subdomain }}'
  tenantSecretRef:
    name: {{tenant}}-tenant-secret
    namespace: threescale
  username: {{ocp4_workload_iot_managed_workshop_openshift_user_username}}