apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: acm-globex-common-{{ _environment }}
  namespace: globex
  annotations:
    apps.open-cluster-management.io/git-branch: main
    apps.open-cluster-management.io/git-path: gitops/cluster/acm
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: acm-globex-common-{{ _environment }}
spec:
  channel: "{{ ocp4_workload_devsecops_validated_pattern_acm_namespace }}/acm-devsecops"
  placement:
    placementRef:
      kind: PlacementRule
      name: acm-globex-common-{{ _environment }}