apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: acm-globex-common-{{ _environment }}
  namespace: globex
spec:
  clusterSelector:
    matchLabels:
      name: "{{ _cluster }}"