apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: amq_streams-operator
  namespace: openshift-operators
spec:
  channel: "{{ ocp4_workload_amq_streams_channel }}"
{% if ocp4_workload_amq_streams_automatic_install_plan_approval | default(True) | bool and not ocp4_workload_amq_streams_use_catalog_snapshot | default(False) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: amq_streams-operator
{% if ocp4_workload_amq_streams_use_catalog_snapshot | default(False) | bool %}
  source: "{{ ocp4_workload_amq_streams_catalogsource_name }}"
  sourceNamespace: openshift-operators
{% else %}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% endif %}
{% if ocp4_workload_amq_streams_starting_csv | default("") | length > 0 %}
  startingCSV: "{{ ocp4_workload_amq_streams_starting_csv }}"
{% endif %}