apiVersion: config.openshift.io/v1
kind: APIServer
metadata:
  name: cluster
spec:
  servingCerts:
    namedCertificates:
    - names:
      - {{ ocp4_workload_le_certificates_api_hostname }}
      servingCertificate:
        name: "{{ ocp4_workload_le_certificates_api_certificate_secret_name }}"
