dns_azure_sp_client_id = {{ azure_service_principal }}
dns_azure_sp_client_secret = {{ azure_password }}
dns_azure_tenant_id = {{ azure_tenant }}

dns_azure_zone1 = {{ cluster_dns_zone }}:/subscriptions/{{ azure_subscription_id }}/resourceGroups/{{ az_dnszone_resource_group }}
