apiVersion: operator.openshift.io/v1
kind: IngressController
metadata:
  name: default
  namespace: openshift-ingress-operator
spec:
  defaultCertificate:
    name: "{{ ocp4_workload_le_certificates_ingress_controller_certificate_secret_name }}"
