apiVersion: v1
kind: Secret
metadata:
  name: "{{ ocp4_workload_le_certificates_ingress_controller_certificate_secret_name }}"
  namespace: openshift-ingress
  labels:
    certificate-type: apiserver
data:
  tls.crt: "{{ server_cert['content'] }}"
  tls.key: "{{ server_key['content'] }}"
