---
apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_big_demo_webhook_secret_name }}
  namespace: retail-rhods-project
stringData:
  webhook-secret-key: {{ ocp4_workload_big_demo_gitea_webhook_secret }}
