apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  labels:
    app.kubernetes.io/instance: object-detection-rest
    app.kubernetes.io/name: object-detection-rest
    pipeline.openshift.io/runtime: python
    pipeline.openshift.io/runtime-version: 3.9-ubi8
    pipeline.openshift.io/type: kubernetes
  name: object-detection-rest
  namespace: "{{ rhods_username }}-rhods-project"
spec:
  params:
  - default: object-detection-rest
    name: APP_NAME
    type: string
  - default: "{{ _ocp4_workload_gitea_operator_gitea_route }}/lab-user/arc-model.git"
    name: GIT_REPO
    type: string
  - default: ""
    name: GIT_REVISION
    type: string
  - default: "image-registry.openshift-image-registry.svc:5000/{{ rhods_username }}-rhods-project/object-detection-rest"
    name: IMAGE_NAME
    type: string
  - default: .
    name: PATH_CONTEXT
    type: string
  - default: 3.9-ubi8
    name: VERSION
    type: string
  tasks:
  - name: fetch-model
    params:
    - name: url
      value: $(params.GIT_REPO)
    - name: revision
      value: $(params.GIT_REVISION)
    - name: subdirectory
      value: ""
    - name: deleteExisting
      value: "true"
    - name: sslVerify
      value: "false"
    taskRef:
      kind: ClusterTask
      name: git-clone
    workspaces:
    - name: output
      workspace: workspace
  - name: build-model
    params:
    - name: IMAGE
      value: $(params.IMAGE_NAME)
    - name: TLSVERIFY
      value: "false"
    - name: PATH_CONTEXT
      value: $(params.PATH_CONTEXT)
    - name: VERSION
      value: $(params.VERSION)
    runAfter:
    - fetch-model
    taskRef:
      kind: ClusterTask
      name: s2i-python
    workspaces:
    - name: source
      workspace: workspace
  - name: deploy-model
    params:
    - name: SCRIPT
      value: oc rollout status deploy/$(params.APP_NAME)
    runAfter:
    - build-model
    taskRef:
      kind: ClusterTask
      name: openshift-client
  workspaces:
  - name: workspace
