apiVersion: operators.open-cluster-management.io/v1beta1
kind: MultiClusterHub
metadata:
  name: multiclusterhub
  namespace: {{ ocp4_workload_acm_app_policies_lab_acm_project }}
spec:
  imagePullSecret: advanced-cluster-management-registry
