apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: advanced-cluster-management
  namespace: {{ ocp4_workload_acm_app_policies_lab_acm_project }}
spec:
  targetNamespaces:
  - {{ ocp4_workload_acm_app_policies_lab_acm_project }}
