# Local config variables - EDIT AS NEEDED

######################


# CLUSTER_DOMAIN is the domain name for cluster API server,
# e.g. if the server is at:
#     https://api.foo.bar.com:6443
# then CLUSTER_DOMAIN is foo.bar.com

export CLUSTER_DOMAIN=$(oc config view | grep server | sed -e 's/.*api.\(.*\):6443/\1/')

#export CYBERARK_NAMESPACE_NAME=cyberlab
export CONJUR_ACCOUNT=lab
export CLUSTER_AUTHN_ID=$CYBERARK_NAMESPACE_NAME

######################
# Lab-specific parameters
#export NUM_ATTENDEES=3
#export LAB_HTPASS_PROVIDER=htpasswd
#export LAB_HTPASS_SECRET=htpasswd-secret

#export CLUSTER_ADMIN=opentlc-mgr
#export CYBERARK_NAMESPACE_ADMIN=opentlc-mgr
export DAP_VERSION=11.7.0

############################################
# VALUES BELOW SHOULD NOT NEED EDITING
############################################

######################
# Vault policy parameters & secrets
export VAULT_NAME=LabVault
export LOB_NAME=Labs
export SAFE_NAME=LabSafe1
export ACCOUNT_NAME=MySQL
export MYSQL_USERNAME=test_app
export MYSQL_PASSWORD=UhGfMk5L

######################
# DAP service configuration
export DAP_MASTER_NODE_LABEL=dap-master-host

#if [[ "$(keyring get conjur adminpwd)" == "" ]]; then
#  keyring set conjur adminpwd
#fi

#export DAP_ADMIN_PASSWORD=$(< /dev/urandom tr -dc _A-Z-a-z-0-9-"@#$<>[]%^*" | head -c88)
export AUTHN_USERNAME=admin
export AUTHN_PASSWORD=$DAP_ADMIN_PASSWORD
export CONJUR_MASTER_HOSTNAME=dap-service-node-$CYBERARK_NAMESPACE_NAME.apps.$CLUSTER_DOMAIN
export CONJUR_MASTER_PORT=443

export CONJUR_APPLIANCE_URL=https://$CONJUR_MASTER_HOSTNAME:$CONJUR_MASTER_PORT
export CONJUR_FOLLOWER_SERVICE_NAME=dap-service-node.$CYBERARK_NAMESPACE_NAME.svc.cluster.local
export CONJUR_AUTHENTICATORS=authn-k8s/$CLUSTER_AUTHN_ID
export CONJUR_AUTHENTICATOR_URL=https://$CONJUR_FOLLOWER_SERVICE_NAME/api/authn-k8s/$CLUSTER_AUTHN_ID

######################
# Common resource images

export REGISTRY_SEED_FETCHER_IMAGE=cyberark/dap-seedfetcher:latest
export REGISTRY_APPLIANCE_IMAGE=captainfluffytoes/dap:11.7.0
export REGISTRY_MYSQL_IMAGE=mysql:5.7.32

######################
# Portability stuff
# Use a cap-D for base64 decoding on Macs
if [[ "$(uname -s)" == "Linux" ]]; then
  BASE64D="base64 -d"
else
  BASE64D="base64 -D"
fi