apiVersion: v1
data:
  ca-bundle.crt: |
    {{ "r_cabundleprimary.resources.0.data['ca-bundle.crt']" }}
    {{ "r_cabundlesecondary.resources.0.data['ca-bundle.crt']" }}
kind: ConfigMap
metadata:
  name: user-ca-bundle
  namespace: openshift-config
