---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: "rhods-object-detect-rest--binding"
  namespace: "{{ ocp4_workload_aiml_namespace }}"
spec:
  params:
  - name: git-repo-url
    value: \$(body.repository.clone_url)
  - name: git-revision
    value: \$(body.after)
