{% set _provider = (showroom_tls_provider | default(certbot_cert_manager_provider, true) | default('zerossl')) | lower %}
{% set _entrypoint = 'web' if _provider == 'none' else 'websecure' %}
ansible-runner-api:
  image: {{ showroom_ansible_runner_image }}:{{ showroom_ansible_runner_image_tag }}
  container_name: ansible-runner-api
  hostname: ansible-runner-api
  ports:
    - "{{ showroom_ansible_runner_api_port | default(8501) }}:80"
  dns_search: {{ guid }}.internal
  volumes:
    - "{{ showroom_user_content_dir }}/runtime-automation/:/app/runtime-automation:ro"
    - "{{ showroom_user_home_dir }}/.ssh:/app/.ssh"
  restart: "always"

  environment:
    - ROOT_PATH={{ showroom_ansible_runner_path }}

  labels:
    - "traefic.enable=true"
    - "traefik.http.routers.ansible-runner-api.entrypoints={{ _entrypoint }}"
{% if _provider != 'none' %}
    - "traefik.http.routers.ansible-runner-api.tls.certresolver={{ _provider }}"
{% endif %}
    - "traefic.http.services.ansible-runner-api.loadbalancer.server.port={{ showroom_ansible_runner_api_port | default(8501) }}"
    - "traefik.http.routers.ansible-runner-api.rule=Host(`{{ showroom_host }}`) && PathPrefix(`{{ showroom_ansible_runner_path }}`)"
    - "traefik.http.routers.ansible-runner-api.middlewares=runner-stripprefix"
    - "traefik.http.middlewares.runner-stripprefix.stripprefix.prefixes={{ showroom_ansible_runner_path }}"
