ansible-runner-api:
  image: docker.io/tonykay/ansible-runner-api:0.0.1
  container_name: ansible-runner-api
  hostname: ansible-runner-api
  ports:
    - "{{ showroom_ansible_runner_api_port | default(8501) }}:80"
  volumes:
    - "{{ showroom_user_home_dir }}/content/playbooks/:/app/scripts:ro"
  restart: "always"

