[OSEv3:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_ssh_user={{ansible_ssh_user}}



[OSEv3:children]
lb
masters
etcd
nodes
nfs

[lb]
{% for host in groups[('tag_' + env_type + '-' + guid + '_loadbalancer') | replace('-', '_') ] %}
loadbalancer{{loop.index}}.{{chomped_zone_internal_dns}} host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}

[masters]
{% for host in groups[('tag_' + env_type + '-' + guid + '_master') | replace('-', '_') ] %}
master{{loop.index}}.{{chomped_zone_internal_dns}} host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}

[etcd]
{% for host in groups[('tag_' + env_type + '-' + guid + '_master') | replace('-', '_') ] %}
master{{loop.index}}.{{chomped_zone_internal_dns}} host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}

[nodes]
## These are the masters
{% for host in groups[('tag_' + env_type + '-' + guid + '_master') | replace('-', '_') ] %}
master{{loop.index}}.{{chomped_zone_internal_dns}} openshift_hostname=master{{loop.index}}.{{chomped_zone_internal_dns}} ansible_ssh_user={{remote_user}} ansible_ssh_private_key_file=~/.ssh/{{key_name}}.pem openshift_node_labels="{'logging':'true','openshift_schedulable':'False','cluster': '{{guid}}', 'zone': '{{hostvars[host]['ec2_placement']}}'}"
{% endfor %}

## These are infranodes
{% for host in groups[('tag_' + env_type + '-' + guid + '_infranode') | replace('-', '_') ] %}
infranode{{loop.index}}.{{chomped_zone_internal_dns}} openshift_hostname=infranode{{loop.index}}.{{chomped_zone_internal_dns}}  ansible_ssh_user={{remote_user}} ansible_ssh_private_key_file=~/.ssh/{{key_name}}.pem openshift_node_labels="{'logging':'true','cluster': '{{guid}}', 'env':'infra', 'zone': '{{hostvars[host]['ec2_placement']}}'}"
{% endfor %}

## These are regular nodes
{% for host in groups[('tag_' + env_type + '-' + guid + '_node') | replace('-', '_') ] %}
node{{loop.index}}.{{chomped_zone_internal_dns}} openshift_hostname=node{{loop.index}}.{{chomped_zone_internal_dns}}  ansible_ssh_user={{remote_user}} ansible_ssh_private_key_file=~/.ssh/{{key_name}}.pem openshift_node_labels="{'logging':'true','cluster': '{{guid}}', 'env':'app', 'zone': '{{hostvars[host]['ec2_placement']}}'}"
{% endfor %}

[nfs]
{% for host in groups[('tag_' + env_type + '-' + guid + '_support') | replace('-', '_') ] %}
support{{loop.index}}.{{chomped_zone_internal_dns}} openshift_hostname=support{{loop.index}}.{{chomped_zone_internal_dns}}  ansible_ssh_user={{remote_user}} ansible_ssh_private_key_file=~/.ssh/{{key_name}}.pem
{% endfor %}
