---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: legacy-tomcat
  namespace: openshift-gitops
spec:
  project: default
  destination:
    namespace: "{{ ocp4_workload_mad_roadshow_legacy_namespace }}"
    server: 'https://kubernetes.default.svc'
  syncPolicy:
    automated: {}
  source:
    repoURL: {{ ocp4_workload_mad_roadshow_kubevirt_vm_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_kubevirt_tomcat_vm_repo_tag }}
    path: {{ ocp4_workload_mad_roadshow_kubevirt_tomcat_vm_repo_path }}
    helm:
      values: |
        fullnameOverride: tomcat
        staticIP: {{ ocp4_workload_mad_roadshow_kubevirt_tomcat_vm_ip }}
        resources:
          requests:
            memory: {{ ocp4_workload_mad_roadshow_kubevirt_vm_memory }}
            cpu: '{{ ocp4_workload_mad_roadshow_kubevirt_vm_cpu }}'
        image:
          url: {{ ocp4_workload_mad_roadshow_kubevirt_tomcat_image_location }}
{% if ocp4_workload_mad_roadshow_kubevirt_vm_node_selector | length > 0 %}
        nodeSelector:
          {{ ocp4_workload_mad_roadshow_kubevirt_vm_node_selector | to_yaml }}
{% endif %}
{% if ocp4_workload_mad_roadshow_kubevirt_vm_tolerations | length > 0 %}
        tolerations:
        {{ ocp4_workload_mad_roadshow_kubevirt_vm_tolerations | to_yaml }}
{% endif %}
