apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_application_name }}
  namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated: {}
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_gitops_repo }}
    targetRevision: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_gitops_repo_tag }}
    path: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_gitops_repo_path }}
    helm:
      values: |
        nameOverride: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_name }}
        password: {{ ocp4_workload_platform_engineering_workshop_rhdh_gitops_password }}
