apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ ocp4_workload_open_data_hub_olm_subscription_name }}
spec:
  channel: beta
{% if ocp4_workload_open_data_hub_olm_automatic_install_plan_approval | default(True) | bool and not ocp4_workload_open_data_hub_olm_use_catalog_snapshot | default(False) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: {{ ocp4_workload_open_data_hub_olm_subscription_name }}
{% if ocp4_workload_open_data_hub_olm_use_catalog_snapshot | default(False) | bool %}
  source: "{{ ocp4_workload_open_data_hub_olm_catalogsource_name }}"
  sourceNamespace: openshift-operators
{% else %}
  source: community-operators
  sourceNamespace: openshift-marketplace
{% endif %}
{% if ocp4_workload_open_data_hub_olm_starting_csv | d("") | length > 0 %}
  startingCSV: "{{ ocp4_workload_open_data_hub_olm_starting_csv }}"
{% endif %}

