[Unit]
Description=Podman podman Service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStart=/usr/local/bin/podman-compose -f /opt/podman/resources/orchestration/podman-compose.yml up -d
ExecStop=/usr/local/bin/podman-compose -f /opt/podman/resources/orchestration/podman-compose.yml down
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target
