---
apiVersion: opentelemetry.io/v1beta1
kind: OpenTelemetryCollector
metadata:
  name: otel
  labels:
    system: quarkus-super-heroes
    name: otel-collector
    app: otel-collector
    role: monitoring
    app.kubernetes.io/part-of: monitoring
    app.openshift.io/runtime: opentelemetry
  annotations:
    app.openshift.io/connects-to: jaeger
spec:
  config: 
    receivers:
      otlp:
        protocols:
          grpc: {}
    exporters:
      otlp/jaeger:
        endpoint: jaeger-collector-headless.{{ t_project_name }}.svc:4317
        tls:
          insecure: true
    processors:
      batch: {}
    service:
      telemetry:
        metrics:
          readers:
            - periodic:
                exporter:
                  otlp:
                    protocol: grpc
                    endpoint: 0.0.0.0:4317
      pipelines:
        traces:
          receivers:
            - otlp
          processors:
            - batch
          exporters:
            - otlp/jaeger
