---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ t_project_name }}-group"
spec:
  targetNamespaces:
    - "{{ t_project_name }}"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: prometheus
spec:
  channel: beta
  installPlanApproval: Automatic
  name: prometheus
  source: community-operators
  sourceNamespace: openshift-marketplace
