kind: ConfigMap
metadata:
  name: secure-cluster-config
  namespace: default
apiVersion: v1
data:
  secured-cluster.yml: |
    apiVersion: platform.stackrox.io/v1alpha1
    kind: SecuredCluster
    metadata:
      name: stackrox-secured-cluster-services
    spec:
      clusterName: production
      admissionControl:
        listenOnCreates: true
        listenOnEvents: true
        listenOnUpdates: true
        bypass: BreakGlassAnnotation
        timeoutSeconds: 3
        contactImageScanners: ScanIfMissing
      perNode:
        collector:
          collection: EBPF
          imageFlavor: Regular
        taintToleration: TolerateTaints