apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: {{ ocp4_workload_trusted_application_pipeline_admin_user }}
  labels:
    app: sso
spec:
  realmSelector:
    matchLabels:
      app: sso
  user:
    credentials:
      - temporary: false
        type: password
        value: {{ ocp4_workload_trusted_application_pipeline_admin_password }}
    username: {{ ocp4_workload_trusted_application_pipeline_admin_user }}
    email: {{ ocp4_workload_trusted_application_pipeline_admin_user }}@opentlc.com
    enabled: true
    emailVerified: true
