apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: sso
  name: openshift
spec:
  client:
    clientAuthenticatorType: client-secret
    redirectUris:
      - https://{{ ocp4_workload_trusted_application_pipeline_openshift_redirect_host }}/oauth2callback/rhsso
    serviceAccountsEnabled: true
    clientId: idp-4-ocp
    defaultClientScopes:
      - profile
      - email
      - roles
      - acr
      - web-origins
    implicitFlowEnabled: false
    publicClient: false
    standardFlowEnabled: true
    directAccessGrantsEnabled: true
  realmSelector:
    matchLabels:
      app: sso
