server {
    listen 7777;
    listen [::]:7777;
    resolver 8.8.8.8;
    location / {
        proxy_pass {{ ocp4_workload_trusted_application_pipeline_ocp_api_url }}/;
        proxy_set_header X-Gitlab-Event "Push Hook";
    }
}
