kind: Secret
apiVersion: v1
metadata:
  name: openid-client-secret-bb6zw
  namespace: openshift-config
stringData:
  clientSecret: {{ ocp4_workload_trusted_application_pipeline_openshift_client_secret }}
type: Opaque
