apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: wmco
  namespace: openshift-marketplace
spec:
  displayName: Windows Machine Config operators
  sourceType: grpc
  image: "{{ ocp4_workload_windows_node_index_image }}"
  updateStrategy:
    registryPoll:
      interval: 5m
