apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: "{{ ocp4_workload_windows_node_doc_app }}"
  name: "{{ ocp4_workload_windows_node_doc_svc }}"
  namespace: "{{ ocp4_workload_windows_node_doc_namespace }}"
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8000
  selector:
    app: "{{ ocp4_workload_windows_node_doc_app }}"
status:
  loadBalancer: {}
