apiVersion: route.openshift.io/v1
kind: Route
metadata:
  creationTimestamp: null
  labels:
    app: "{{ ocp4_workload_windows_node_doc_app }}"
  name: "{{ ocp4_workload_windows_node_doc_route }}"
  namespace: "{{ ocp4_workload_windows_node_doc_namespace }}"
spec:
  host: ""
  port:
    targetPort: 8000
  to:
    kind: ""
    name: "{{ ocp4_workload_windows_node_doc_svc }}"
    weight: null
status:
  ingress: null
