apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  name: windows-image-pull
  namespace: "{{ ocp4_workload_windows_node_namespace }}"
spec:
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - command:
        - /bin/bash
        - -c
        - |
          export SSHCMD="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
          export SSHKEY="/tmp/ssh/private-key.pem"
          export SSHUSER="administrator"

          # Install crictl for containerd runtime (aligns with workshop module 4)
          {% raw %}${SSHCMD} -i ${SSHKEY} ${SSHUSER}{% endraw %}@{{ windows_node }} 'powershell -Command "$ProgressPreference = \"SilentlyContinue\"; wget https://github.com/kubernetes-sigs/cri-tools/releases/download/v1.27.0/crictl-v1.27.0-windows-amd64.tar.gz -o C:\crictl-v1.27.0-windows-amd64.tar.gz; tar -xvf C:\crictl-v1.27.0-windows-amd64.tar.gz -C C:\Windows"'

          # Configure crictl to use containerd runtime endpoint
          {% raw %}${SSHCMD} -i ${SSHKEY} ${SSHUSER}{% endraw %}@{{ windows_node }} 'crictl config --set runtime-endpoint="npipe:\\\\.\\pipe\\containerd-containerd"'

          # Pull images using crictl to store in containerd image cache
          for image in mcr.microsoft.com/windows/servercore:ltsc2019 quay.io/donschenck/netcandystore:2021mar8.1
          do
            {% raw %}${SSHCMD} -i ${SSHKEY} ${SSHUSER}{% endraw %}@{{ windows_node }} crictl pull {% raw %}${image}{% endraw %} ; done
        image: quay.io/redhatworkshops/winc-ssh:latest
        name: windows-image-pull
        volumeMounts:
        - name: sshkey
          mountPath: "/tmp/ssh"
          readOnly: true
        resources: {}
      volumes:
      - name: sshkey
        secret:
          secretName: cloud-private-key
          defaultMode: 0400
      restartPolicy: Never
