apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  name: windows-image-pull
  namespace: "{{ ocp4_workload_windows_node_namespace }}"
spec:
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - command:
        - /bin/bash
        - -c
        - |
          export SSHCMD="ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"
          export SSHKEY="/tmp/ssh/private-key.pem"
          export SSHUSER="administrator"
          for image in mcr.microsoft.com/windows/servercore:ltsc2019 quay.io/donschenck/netcandystore:2021mar8.1
          do
            {% raw %}${SSHCMD} -i ${SSHKEY} ${SSHUSER}{% endraw %}@{{ windows_node }} docker pull {% raw %}${image}{% endraw %} ; done
        image: quay.io/redhatworkshops/winc-ssh:latest
        name: windows-image-pull
        volumeMounts:
        - name: sshkey
          mountPath: "/tmp/ssh"
          readOnly: true
        resources: {}
      volumes:
      - name: sshkey
        secret:
          secretName: cloud-private-key
          defaultMode: 0400
      restartPolicy: Never
