apiVersion: batch/v1
kind: Job
metadata:
  creationTimestamp: null
  name: windows-image-pull
  namespace: "{{ ocp4_workload_windows_node_namespace }}"
spec:
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - command:
        - /bin/bash
        - -c
        - |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -i /tmp/ssh/private-key.pem administrator@{{ windows_node }} docker pull mcr.microsoft.com/windows/servercore:ltsc2019
        image: quay.io/redhatworkshops/welcome-php:latest
        name: windows-image-pull
        volumeMounts:
        - name: sshkey
          mountPath: "/tmp/ssh"
          readOnly: true
        resources: {}
      volumes:
      - name: sshkey
        secret:
          secretName: cloud-private-key
          defaultMode: 0400
      restartPolicy: Never
