apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  annotations:
    olm.providedAPIs: WindowsMachineConfig.v1alpha1.wmc.openshift.io
  name: windows-machine-config-operator
  namespace: "{{ ocp4_workload_windows_node_namespace }}"
spec:
  targetNamespaces:
  - "{{ ocp4_workload_windows_node_namespace }}"
