apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: winc-ssh
  name: winc-ssh
  namespace: "{{ ocp4_workload_windows_node_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: winc-ssh
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: winc-ssh
    spec:
      containers:
      - command:
        - /bin/bash
        - -c
        - |
          sleep infinity
        image: quay.io/redhatworkshops/winc-ssh:latest
        name: winc-ssh-container
        resources: {}
        volumeMounts:
          - mountPath: /tmp/ssh
            name: sshkey
            readOnly: true
      volumes:
      - name: sshkey
        secret:
          defaultMode: 256
          secretName: cloud-private-key
