apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: "{{ cluster_id }}"
  name: "{{ cluster_id }}-windows-{{ cluster_az }}"
  namespace: openshift-machine-api
spec:
  replicas: 1
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: "{{ cluster_id }}"
      machine.openshift.io/cluster-api-machineset: "{{ cluster_id }}-worker-{{ cluster_az }}"
  template:
    metadata:
      labels:
        machine.openshift.io/cluster-api-cluster: "{{ cluster_id }}"
        machine.openshift.io/cluster-api-machine-role: worker
        machine.openshift.io/cluster-api-machine-type: worker
        machine.openshift.io/cluster-api-machineset: "{{ cluster_id }}-worker-{{ cluster_az }}"
        machine.openshift.io/os-id: Windows
    spec:
      metadata:
        labels:
          node-role.kubernetes.io/worker: ""
      providerSpec:
        value:
          ami:
            id: "{{ windows_ami }}"
          apiVersion: awsproviderconfig.openshift.io/v1beta1
          blockDevices:
            - ebs:
                iops: 0
                volumeSize: 120
                volumeType: gp2
          credentialsSecret:
            name: aws-cloud-credentials
          deviceIndex: 0
          iamInstanceProfile:
            id: "{{ cluster_id }}-worker-profile"
          instanceType: m5a.large
          kind: AWSMachineProviderConfig
          placement:
            availabilityZone: "{{ cluster_az }}"
            region: "{{ cluster_region }}"
          securityGroups:
            - filters:
                - name: tag:Name
                  values:
                    - "{{ cluster_id }}-worker-sg"
          subnet:
            filters:
              - name: tag:Name
                values:
                  - "{{ cluster_id }}-private-{{ cluster_az }}"
          tags:
            - name: "kubernetes.io/cluster/{{ cluster_id }}"
              value: owned
          userDataSecret:
            name: windows-user-data
