[automationcontroller]

[automationhub]
#127.0.0.1 ansible_connection=local
{{ pah_server_hostname }} ansible_connection=local

[all:vars]
automationhub_admin_password='{{ deploy_privateautomationhub_admin_password }}'
ansible_become=true
ansible_become_method=sudo

automationhub_pg_host=''
automationhub_pg_port=''

automationhub_pg_database='automationhub'
automationhub_pg_username='automationhub'
automationhub_pg_password='{{ deploy_privateautomationhub_admin_password }}'
automationhub_pg_sslmode='prefer'

gpgcheck='{{ deploy_automationcontroller_dnf_gpgcheck | default(1) }}'
#aw_repo_url='{{ aw_repo_url | default("https://releases.ansible.com/ansible-tower/") }}'
ignore_preflight_errors=True

# The default install will deploy a TLS enabled Automation Hub.
# If for some reason this is not the behavior wanted one can
# disable TLS enabled deployment.
#
# automationhub_disable_https = False
# The default install will generate self-signed certificates for the Automation
# Hub service. If you are providing valid certificate via automationhub_ssl_cert
# and automationhub_ssl_key, one should toggle that value to True.
#
# automationhub_ssl_validate_certs = False
# SSL-related variables
# If set, this will install a custom CA certificate to the system trust store.
# custom_ca_cert=/path/to/ca.crt
# Certificate and key to install in Automation Hub node
# automationhub_ssl_cert=/etc/letsencrypt/live/pah_server_hostname/cert.pem
# automationhub_ssl_key=/etc/letsencrypt/live/pah_server_hostname/privkey.pem