---
apiVersion: v1
kind: Secret
metadata:
  name: vmware-credentials
  namespace: {{ ocp4_workload_virt_roadshow_vmware_mtv_namespace }}
type: Opaque
stringData:
  user: "{{ ocp4_workload_virt_roadshow_vmware_vcenter_user }}@{{ vcenter_domain }}"
  password: "{{ _ocp4_workload_virt_roadshow_vmware_vcenter_user_password }}"
  thumbprint: "{{ _ocp4_workload_virt_roadshow_vmware_vcenter_sha1 }}"
  insecureSkipVerify: "true"
  url: "https://{{ vcenter_hostname }}/sdk"
