---
kind: Secret
apiVersion: v1
metadata:
  name: {{ ocp4_workload_eda_controller_project_app_name }}-admin-password
  namespace: {{ ocp4_workload_eda_controller_project }}
  labels:
    app.kubernetes.io/component: eda
    app.kubernetes.io/managed-by: eda-operator
    app.kubernetes.io/name: {{ ocp4_workload_eda_controller_project_app_name }}
    app.kubernetes.io/operator-version: '2.4'
    app.kubernetes.io/part-of: {{ ocp4_workload_eda_controller_project_app_name }}
data:
  password: {{ ocp4_workload_eda_controller_admin_password | b64encode }}
type: Opaque
