---
apiVersion: eda.ansible.com/v1alpha1
kind: EDA
metadata:
  name: {{ ocp4_workload_eda_controller_project_app_name }}
  namespace: {{ ocp4_workload_eda_controller_project }}
spec:
  route_tls_termination_mechanism: Edge
  ingress_type: Route
  loadbalancer_port: 80
  no_log: true
  image_pull_policy: IfNotPresent
  ui:
    replicas: 1
  set_self_labels: true
  api:
    gunicorn_workers: 2
    replicas: 1
  redis:
    replicas: 1
  admin_user: admin
  loadbalancer_protocol: http
  worker:
    replicas: 3
  automation_server_url: '{{ ocp4_workload_eda_controller_aap_controller_url }}'
  admin_password_secret: {{ ocp4_workload_eda_controller_project_app_name }}-admin-password