apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: showroom-pre-render-poc
    app.kubernetes.io/component: showroom-pre-render-poc
    app.kubernetes.io/instance: showroom-pre-render-poc
    app.kubernetes.io/name: showroom-pre-render-poc
    app.kubernetes.io/part-of: showroom
    app.openshift.io/runtime: httpd
    app.openshift.io/runtime-version: 2.4-el7
  name: {{ ocp4_workload_showroom_name }}
  namespace: {{ ocp4_workload_showroom_namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ ocp4_workload_showroom_name }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: {{ ocp4_workload_showroom_name }}
        deployment: {{ ocp4_workload_showroom_name }}
    spec:
      containers:
      - image: image-registry.openshift-image-registry.svc:5000/{{ ocp4_workload_showroom_namespace }}/{{ ocp4_workload_showroom_name }}:latest
        imagePullPolicy: Always
        name: {{ ocp4_workload_showroom_name }}
        ports:
        - containerPort: 8080
          protocol: TCP
        - containerPort: 8443
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
