---
apiVersion: v1
kind: Service
metadata:
  name: {{ ocp4_workload_showroom_name }}
  namespace: {{ ocp4_workload_showroom_namespace }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: 8443-tcp
    port: 8443
    protocol: TCP
    targetPort: 8443
  selector:
    app: {{ ocp4_workload_showroom_name }}
    deployment: {{ ocp4_workload_showroom_name }}
