apiVersion: rhdh.redhat.com/v1alpha3
kind: Orchestrator
metadata:
  name: orchestrator-rhdh
  namespace: openshift-operators
spec:
  argocd:
    enabled: false
  platform:
    eventing:
      broker: {}
    monitoring:
      enabled: false
    namespace: {{ ocp4_workload_rhdh_orchestrator_sonataflow_namespace }}
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
        cpu: 250m
        memory: 64Mi
  postgres:
    authSecret:
      name: sonataflow-psql-postgresql
      passwordKey: postgres-password
      userKey: postgres-username
    database: sonataflow
    name: sonataflow-psql-postgresql
    namespace: {{ ocp4_workload_rhdh_orchestrator_sonataflow_namespace }}
  rhdh:
    devMode: false
    installOperator: false
    name: {{ ocp4_workload_rhdh_orchestrator_rhdh_name }}
    namespace: {{ ocp4_workload_rhdh_orchestrator_rhdh_namespace }}
    plugins:
      notificationsEmail:
        enabled: false
        port: 587
        replyTo: ''
        sender: ''
  serverless:
    installOperator: {{ ocp4_workload_rhdh_orchestrator_serverless_enabled }}
  serverlessLogic:
    installOperator: {{ ocp4_workload_rhdh_orchestrator_serverless_enabled }}
  tekton:
    enabled: false