---
apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_ama_demo_db_app_name }}
  namespace: {{ ocp4_workload_ama_demo_demo_namespace }}
stringData:
  database-name: {{ _ocp4_workload_ama_demo_db_name }}
  database-user: {{ _ocp4_workload_ama_demo_db_user }}
  database-password: {{ _ocp4_workload_ama_demo_db_password }}
type: Opaque
