#!/bin/bash

DOMAIN="{{ipa_domain}}"
REALM=$(echo $DOMAIN | tr [a-z] [A-Z])
IPADDR=`curl  www.opentlc.com/getip`

ipa pwpolicy-mod global_policy --maxlife=20000

echo -e "Creating user groups...\n"
echo -e r3dh4t1! | kinit admin
ipa group-add ocp-users --desc="Users with OpenShift access"
ipa group-add portalapp --desc="Developers in the Portal App Project"
ipa group-add paymentapp --desc="Developers in the Payment App Project"
ipa group-add ocp-production --desc="Administrators and Operations team, have access to modify projects in production"
ipa group-add ocp-platform --desc="Users with full cluster administration control"


yum install -y expect
echo -e "Creating users...\n"
for user in andrew marina karla david portal1 portal2 payment1 payment2 prod1 prod2 platform1 platform2 admin1 admin2
do
  kdestroy
  echo -e r3dh4t1! | kinit admin
  userpw=$(ipa user-add --first=$user --last=OCPUser \
  --displayname="OpenShift User $user" --random $user | grep \
  -i password | awk ' {print $3}')
  newpw='r3dh4t1!'
  # add user to ocp group
  ipa group-add-member ocp-users --users=$user
  kdestroy
  expect -c '
    spawn kinit '"$user"'
    expect {
      -re ".*COM:" {
        send "'"$userpw"'\r"
        exp_continue
      }
      -re ".*password:" {
        send "'"$newpw"'\r"
        exp_continue
      }
      -re ".*again:" {
        send "'"$newpw"'\r"
      }
    }
  expect eof '
done

kdestroy
echo -e r3dh4t1! | kinit admin
echo -e "Putting users in their appropriate group(s)...\n"
ipa group-add-member portalapp --users andrew
ipa group-add-member portalapp --users portal1
ipa group-add-member portalapp --users portal2
ipa group-add-member paymentapp --users marina
ipa group-add-member paymentapp --users payment1
ipa group-add-member paymentapp --users payment2
ipa group-add-member ocp-production --users karla
ipa group-add-member ocp-production --users prod1
ipa group-add-member ocp-production --users prod2
ipa group-add-member ocp-production --users karla
ipa group-add-member ocp-platform --users david
ipa group-add-member ocp-platform --users admin1
ipa group-add-member ocp-platform --users admin2



#.LDAP groups
#* "ocp-users" group - All users who have access to OpenShift
#* "portalapp" group - Developers in the "Portal App" Project
#* "paymentapp" group - Developers in the "Payment App" Project
#* "ocp-production" group - Administrators and Operations team, have access to modify projects in production
#* "ocp-platform" group - users with full cluster administration control
#+
#NOTE: Users and Groups are already created in our IPA (idm.example.com) host.
#
#.LDAP users
#* *Andrew*, portal1 and portal2 are Developers in the "Portal App" team.
#* *Marina*, payment1 and payment2 are Developers in the "Payment App" team.
#* *Karla*, prod1 and prod2 are Operations administrators in the "Portal App" and "Payment App" teams.
#* *David*, admin1 and admin2 are members of the "ocp-platform" group with full cluster administration control.
#+
#NOTE: All user passwords are "r3dh4t1!"
#
#.Projects
#* The "Portal App" Application uses the following projects:
#- "portalapp-dev" - Access granted to "portalapp" group
#- "portalapp-test" - Access granted to "portalapp" group
#- "portalapp-prod" - Access granted to "ocp-production" group
#* The "Payment App" Application uses the following projects:
#- "paymentapp-dev" - Access granted to "portalapp" group
#- "paymentapp-test" - Access granted to "portalapp" group
#- "paymentapp-prod" - Access granted to "ocp-production" group
