---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ _ocp4_workload_mad_roadshow_db_app_name }}
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_mad_roadshow_gitea_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_mad_roadshow_gitea_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ _ocp4_workload_mad_roadshow_db_app_name }}-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ ocp4_workload_mad_roadshow_demo_namespace_prefix }}{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_mad_roadshow_postgresql_repo }}
        targetRevision: {{ ocp4_workload_mad_roadshow_postgresql_repo_tag }}
        path: {{ ocp4_workload_mad_roadshow_postgresql_repo_path }}
        helm:
          values: |
            fullnameOverride: {{ _ocp4_workload_mad_roadshow_db_app_name }}
            database:
              name: {{ _ocp4_workload_mad_roadshow_db_name }}
              user: {{ _ocp4_workload_mad_roadshow_db_user }}
              password: {{ _ocp4_workload_mad_roadshow_db_password }}
            storage:
              storageClassName: {{ ocp4_workload_mad_roadshow_storage_class_name }}
