---
apiVersion: datasciencecluster.opendatahub.io/v1
kind: DataScienceCluster
metadata:
  name: default-dsc
spec:
  components:
    codeflare:
      managementState: {{ ocp4_workload_openshift_ai_codeflare }}
    dashboard:
      managementState: {{ ocp4_workload_openshift_ai_dashboard }}
    datasciencepipelines:
      managementState: {{ ocp4_workload_openshift_ai_datasciencepipelines }}
    kserve:
      managementState: {{ ocp4_workload_openshift_ai_kserve }}
    modelmeshserving:
      managementState: {{ ocp4_workload_openshift_ai_modelmeshserving }}
    ray:
      managementState: {{ ocp4_workload_openshift_ai_ray }}
    trustyai:
      managementState: {{ ocp4_workload_openshift_ai_trustyai }}
    workbenches:
      managementState: {{ ocp4_workload_openshift_ai_workbenches }}