---
{% if not _ocp4_workload_openshift_ai_version_3 %}
apiVersion: datasciencecluster.opendatahub.io/v1
kind: DataScienceCluster
metadata:
  name: default-dsc
spec:
  components:
    codeflare:
      managementState: {{ ocp4_workload_openshift_ai_codeflare }}
    dashboard:
      managementState: {{ ocp4_workload_openshift_ai_dashboard }}
    datasciencepipelines:
      managementState: {{ ocp4_workload_openshift_ai_datasciencepipelines }}
    kserve:
      {{ ocp4_workload_openshift_ai_kserve_config | to_yaml | indent(6) }}
    kueue:
      {{ ocp4_workload_openshift_ai_kueue_config | to_yaml | indent(6) }}
    modelmeshserving:
      {{ ocp4_workload_openshift_ai_modelregistry_config }}
    modelregistry:
      {{ ocp4_workload_openshift_ai_modelregistry_config | to_yaml | indent(6) }}
    ray:
      {{ ocp4_workload_openshift_ai_ray_config | to_yaml | indent(6) }}
    trustyai:
      {{ ocp4_workload_openshift_ai_trustyai_config | to_yaml | indent(6) }}
    workbenches:
      {{ ocp4_workload_openshift_ai_workbenches_config | to_yaml | indent(6) }}
{% else %}
apiVersion: datasciencecluster.opendatahub.io/v2
kind: DataScienceCluster
metadata:
  name: default-dsc
spec:
  components:
    codeflare:
      managementState: {{ ocp4_workload_openshift_ai_codeflare }}
    dashboard:
      managementState: {{ ocp4_workload_openshift_ai_dashboard }}
    datasciencepipelines:
      managementState: {{ ocp4_workload_openshift_ai_datasciencepipelines }}
    kserve:
      {{ ocp4_workload_openshift_ai_kserve_config | to_yaml | indent(6) }}
    kueue:
      {{ ocp4_workload_openshift_ai_kueue_config }}
    modelmeshserving:
      managementState: {{ ocp4_workload_openshift_ai_modelmeshserving }}
    modelregistry:
      {{ ocp4_workload_openshift_ai_modelregistry_config | to_yaml | indent(6) }}
    ray:
      {{ ocp4_workload_openshift_ai_ray_config | to_yaml | indent(6) }}
    trustyai:
      {{ ocp4_workload_openshift_ai_trustyai_config | to_yaml | indent(6) }}
    workbenches:
      {{ ocp4_workload_openshift_ai_workbenches_config | to_yaml | indent(6) }}
    feastoperator:
      {{ ocp4_workload_openshift_ai_feastoperator_config | to_yaml | indent(6) }}
    llamastackoperator:
      {{ ocp4_workload_openshift_ai_llamastackoperator_config | to_yaml | indent(6) }}
    kueue:
      {{ ocp4_workload_openshift_ai_kueue_config | to_yaml | indent(6) }}
    aipipelines:
      {{ ocp4_workload_openshift_ai_aipipelines_config | to_yaml | indent(6) }}
    trainingoperator:
     {{ ocp4_workload_openshift_ai_trainingoperator_config | to_yaml | indent(6) }}
{% endif %}