apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: rhods-dashboard
  namespace: redhat-ods-applications
spec:
  host: data-science-gateway.{{ _ocp4_workload_openshift_ai_ingress_domain }}
  to:
    kind: Service
    name: rhods-dashboard
    weight: 100
  port:
    targetPort: https
  tls:
    termination: passthrough
  wildcardPolicy: None
