kind: Service
apiVersion: v1
metadata:
  name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
  namespace: "{{ ocp4_workload_bookbag_ohc_demo_namespace }}"
  labels:
    app: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
spec:
  ports:
    - name: 6080-tcp
      protocol: TCP
      port: 6080
      targetPort: 6080
  selector:
    deployment: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}