kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
  namespace: {{ ocp4_workload_bookbag_ohc_demo_namespace }}
  labels:
    app: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
spec:
  to:
    kind: Service
    name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
    weight: 100
  port:
    targetPort: 6080-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
