apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
  namespace: {{ ocp4_workload_bookbag_ohc_demo_namespace }}
  labels:
    app: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
spec:
  source:
    type: Git
    git:
      uri: {{ ocp4_workload_bookbag_ohc_demo_git_url }}
    contextDir: novnc
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile
  output:
    to:
      kind: ImageStreamTag
      name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}:latest
  triggers:
  - type: ConfigChange