kind: Deployment
apiVersion: apps/v1
metadata:
  name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
  namespace: "{{ ocp4_workload_bookbag_ohc_demo_namespace }}"
  labels:
    app: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
    deployment: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
  template:
    metadata:
      labels:
        deployment: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
    spec:
      volumes:
        - name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}-config
          emptyDir: {}
        - name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}-devshm
          emptyDir:
            medium: Memory
            sizeLimit: 2Gi
      containers:
        - resources:
            requests:
              memory: 1Gi
          name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
          env:
            - name: FF_PREF_PRIV
              value: datareporting.policy.firstRunURL=""
            - name: FF_PREF_WELCOME_PAGE
              value: >-
                startup.homepage_welcome_url="{{ ocp4_workload_bookbag_ohc_demo_startup_pages }}"
            - name: KEEP_APP_RUNNING
              value: '1'
            - name: APP_NAME
              value: 'Bookbag Links'
          ports:
            - containerPort: 5800
              protocol: TCP
            - containerPort: 5900
              protocol: TCP
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}-config
              mountPath: /config
            - name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}-devshm
              mountPath: /dev/shm
          terminationMessagePolicy: File
          image: jlesage/firefox:v1.17.1