kind: Deployment
apiVersion: apps/v1
metadata:
  name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
  namespace: {{ ocp4_workload_bookbag_ohc_demo_namespace }}
  labels:
    app: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
  template:
    metadata:
      labels:
        deployment: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
    spec:
      containers:
        - name: novnc-{{ ocp4_workload_bookbag_ohc_demo_name }}
          image: >-
            quay.io/redhat-gpte/bookbag-novnc:latest
          ports:
            - containerPort: 6080
              protocol: TCP
          env:
            - name: AUTOCONNECT
              value: 'true'
            - name: VIEW_ONLY
              value: 'false'
            - name: VNC_SERVER
              value: 'firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}:5900'
            - name: RECONNECT
              value: 'true'
            - name: RESIZE
              value: 'scale'
