kind: Service
apiVersion: v1
metadata:
  name: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
  namespace: "{{ ocp4_workload_bookbag_ohc_demo_namespace }}"
  labels:
    app: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}
spec:
  ports:
    - name: 5800-tcp
      protocol: TCP
      port: 5800
      targetPort: 5800
    - name: 5900-tcp
      protocol: TCP
      port: 5900
      targetPort: 5900
  selector:
    deployment: firefox-{{ ocp4_workload_bookbag_ohc_demo_name }}