[defaults]
inventory               = hosts
forks                   = 50
host_key_checking       = False
retry_files_enabled     = False
no_target_syslog        = False
callback_whitelist      = time

[ssh_connection]
scp_if_ssh              = True


[persistent_connection]
command_timeout         = 1000
connect_timeout         = 1000
connect_retry_timeout   = 1000


