---
apiVersion: hco.kubevirt.io/v1beta1
kind: HyperConverged
metadata:
  name: kubevirt-hyperconverged
  namespace: openshift-cnv
spec:
{% if ocp4_workload_kubevirt_workload_tolerations | length > 0 %}
  workloads:
    nodePlacement:
      tolerations:
        {{ ocp4_workload_kubevirt_workload_tolerations | to_yaml }}
{% endif %}
