[GenericExample:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_ssh_user={{remote_user}}


[GenericExample:children]
ipas
windows



[ipas]
## These are the ipas
{% for host in groups['ipas'] %}
ipa{{loop.index}}.{{chomped_zone_internal_dns}} public_host_name=ipa{{loop.index}}.{{ guid }}{{subdomain_base_suffix}} ssh_host={{host}}
{% endfor %}

[windows]
## These are the windows servers
{% for host in groups['windows'] %}
windows{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}} ansible_password={{hostvars[host]['ansible_password']}}
{% endfor %}

[rhssos]
## These are the rhssos servers
{% for host in groups['rhssos'] %}
rhsso{{loop.index}}.{{chomped_zone_internal_dns}} public_host_name=ipa{{loop.index}}.{{ guid }}{{subdomain_base_suffix}} ssh_host={{host}}
{% endfor %}


[windows:vars]
ansible_connection=winrm
ansible_port=5986
ansible_ssh_port=5986
ansible_user=Administrator
ansible_ssh_user=Administrator
ansible_winrm_server_cert_validation=ignore
ansible_winrm_transport=basic
ansible_become=false
