apiVersion: org.eclipse.che/v1
kind: CheCluster
metadata:
  name: codeready-workspaces
  namespace: "{{ ocp4_workload_codeready_workspaces_namespace }}"
spec: {{ ocp4_workload_codeready_workspaces_spec | to_json }}
