---
extends: default

rules:
  comments:
    require-starting-space: false
    min-spaces-from-content: 1
  comments-indentation: disable
  indentation:
    indent-sequences: consistent
  line-length:
    max: 120
    allow-non-breakable-inline-mappings: true
