apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators-snapshot-ocp-plus
  namespace: openshift-marketplace
spec:
  sourceType: grpc
  image: {{ ocp4_workload_plus_catalog_source_image }}:{{ ocp4_workload_plus_catalog_source_tag }}
  displayName: "Red Hat Operators Snapshot"
  publisher: "GPTE"
