# RHEL 8 Repos

[rhel8baseos]
name=rhel8-baseos
baseurl=https://{{ satellite_url }}/pulp/repos/{{ satellite_org }}/Library/content/dist/rhel8/8/x86_64/baseos/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem

[rhel8appstream]
name=rhel8-appstream
baseurl=https://{{ satellite_url }}/pulp/repos/{{ satellite_org }}/Library/content/dist/rhel8/8/x86_64/appstream/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem

[rhel8ansible]
name=rhel8-ansible-2.8
baseurl=https://{{ satellite_url }}/pulp/repos/{{ satellite_org }}/Library/content/dist/layered/rhel8/x86_64/ansible/2/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem
