---
apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
  - name: RHPDS-AAD
    mappingMethod: claim
    type: OpenID
    openID:
      clientID: {{ azaroappinfo.stdout | from_json | json_query('appId') }}
      clientSecret:
        name: '{{ guid }}-secret-azuread'
      extraScopes:
      - email
      - profile
      extraAuthorizeParameters:
        include_granted_scopes: "true"
      claims:
        preferredUsername:
        - email
        - upn
        name:
        - name
        email:
        - email
      issuer: https://login.microsoftonline.com/{{azure_tenant}}
