{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters" : {
    "guid": {
      "type" : "string",
      "minLength" : 3,
      "metadata" : {
        "description" : "GUID of the environment"
      }
    },
    "DNSZone": {
      "type" : "string",
      "minLength" : 3,
      "metadata" : {
        "description" : "dns zone of the environment, to update or create"
      }
    },
  },
  "resources": [],
  "outputs" : {}
}
