apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.openshift.io/runtime: quarkus
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_service_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
  name: {{ ocp4_workload_ama_demo_app_services_inventory_service_name }}
spec:
  replicas: {{ ocp4_workload_ama_demo_app_services_inventory_service_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_service_name }}
      app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_service_name }}
        app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
    spec:
      containers:
        - image: {{ ocp4_workload_ama_demo_app_services_inventory_service_image }}
          imagePullPolicy: IfNotPresent
          name: {{ ocp4_workload_ama_demo_app_services_inventory_service_name }}
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          resources: {}
          env:
            - name: QUARKUS_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
                  key: database-user
            - name: QUARKUS_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
                  key: database-password
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
                  key: database-name
            - name: QUARKUS_DATASOURCE_JDBC_URL
              value: jdbc:postgresql://{{ ocp4_workload_ama_demo_app_services_inventory_db_name }}:5432/${POSTGRESQL_DATABASE}
      serviceAccountName: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
      serviceAccount: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
