---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mediawiki
  namespace: mediawiki
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: mediawiki
  namespace: mediawiki
  labels:
    app: mediawiki
    service: mediawiki
spec:
  ports:
    - name: web
      port: 8080
      targetPort: 8080
  selector:
    app: mediawiki
    service: mediawiki
---
apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: mediawiki
  namespace: mediawiki
  labels:
    app: mediawiki
    service: mediawiki
spec:
  replicas: 1
  selector:
    app: mediawiki
    service: mediawiki
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: mediawiki
        service: mediawiki
    spec:
      containers:
      - image:  docker.io/ansibleplaybookbundle/mediawiki:latest
        name: mediawiki
        env:
          - name: MEDIAWIKI_DB_SCHEMA
            value: mediawiki
          - name: MEDIAWIKI_SITE_NAME
            value: Mediawiki
          - name: MEDIAWIKI_SITE_LANG
            value: en
          - name: MEDIAWIKI_ADMIN_USER
            value: admin
          - name: MEDIAWIKI_ADMIN_PASS
            value: changeme
          - name: MEDIAWIKI_SITE_SERVER
            value: {{ mediawiki_route }}
          - name: DB_TYPE
            value: mysql
          - name: DB_HOST
            value: mariadb
          - name: DB_PORT
            value: "3306"
          - name: DB_USER
            value: changeme
          - name: DB_PASSWORD
            value: changeme
          - name: DB_NAME
            value: changeme
        ports:
          - containerPort: 8080
            protocol: TCP
        volumeMounts:
          - name: mediawiki
            mountPath: /persistent
      volumes:
        - name: mediawiki
          persistentVolumeClaim:
            claimName: mediawiki
