clouds:
  {{ osp_cloud_name }}:
    auth:
      auth_url: "{{ osp_auth_url }}"
{% if osp_project_create | bool %}
      username: "{{ guid }}-user"
      password: "{{ hostvars['localhost']['heat_user_password'] }}"
{% else %}
      username: "{{ osp_auth_username }}"
      password: "{{ osp_auth_password }}"
{% endif %}
      project_name: "{{ osp_project_name }}"
      project_id: "{{ hostvars['localhost']['osp_project_info'][0].id | default(osp_project_id) }}"
      user_domain_name: "Default"
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3
