clouds:
  {{ osp_cloud_name }}:
    auth:
      auth_url: "{{ osp_auth_url }}"
      username: "{{ osp_auth_username_member }}"
      password: "{{ osp_auth_password_member }}"
      project_name: "{{ osp_project_name }}"
      project_id: "{{ hostvars['localhost']['osp_project_info'][0].id | default(osp_project_id) }}"
      user_domain_name: "{{ hostvars['localhost']['osp_auth_user_domain'] | d('Default') }}"
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3
