---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bootstrap
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: {{ ocp4_workload_gitops_bootstrap_repo_url }}
    targetRevision: {{ ocp4_workload_gitops_bootstrap_repo_revision }}
    path: {{ ocp4_workload_gitops_bootstrap_repo_path }}
    helm:
      values: |
        {{ ocp4_workload_gitops_bootstrap_helm_values | combine(_ocp4_workload_gitops_bootstrap_agnosticd_values) }}
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
