---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: bootstrap
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: {{ ocp4_workload_gitops_bootstrap_repo_url }}
    targetRevision: {{ ocp4_workload_gitops_bootstrap_repo_revision }}
    path: {{ ocp4_workload_gitops_bootstrap_repo_path }}
    plugin:
      name: kustomize-envvar
{% if ocp4_workload_gitops_bootstrap_helm_values | length > 0 %}
    helm:
      values: |
        {{ ocp4_workload_gitops_bootstrap_helm_values | combine(_ocp4_workload_gitops_bootstrap_deployer_values) }}
{% endif %}
  destination:
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
{% if ocp4_workload_gitops_bootstrap_ignore_differences | length > 0 %}
  ignoreDifferences:
    {{ ocp4_workload_gitops_bootstrap_ignore_differences | indent(4) }}
{% endif %}
