SHA1=$(openssl s_client \
    -connect {{ vcenter_proxy_hostname }}:443 \
    < /dev/null 2>/dev/null \
    | openssl x509 -fingerprint -noout -in /dev/stdin \
    | cut -d '=' -f 2)

cat << EOF | oc apply -f -
---
apiVersion: v1
kind: Secret
metadata:
  name: vmware-credentials
  namespace: openshift-mtv
type: Opaque
stringData:
  user: {{ hostvars['jumphost']['vcenter_student_username'] }}@{{ vcenter_domain }}
  password: {{  hostvars['jumphost']['vcenter_student_password']  }}
  thumbprint: "${SHA1}"
  insecureSkipVerify: "true"
  url: https://{{ vcenter_proxy_hostname }}/sdk
EOF

cat << EOF | oc apply -f -
---
apiVersion: forklift.konveyor.io/v1beta1
kind: Provider
metadata:
  name: vmware
  namespace: openshift-mtv
spec:
  type: vsphere
  url: "https://{{ vcenter_proxy_hostname }}/sdk"
  settings:
    vddkInitImage: image-registry.openshift-image-registry.svc:5000/openshift/vddk:latest
  secret:
    name: vmware-credentials
    namespace: openshift-mtv
EOF
