cat <<EOF | oc apply -f -
---
apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: vmimported
spec:
  selector:
    env: webapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: database
  namespace: vmimported
spec:
  selector:
    vm.kubevirt.io/name: database
  ports:
    - protocol: TCP
      port: 3306
      targetPort: 3306
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: route-webapp
  namespace: vmimported
spec:
  to:
    kind: Service
    name: webapp
  port:
    targetPort: 80
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
EOF
