---
apiVersion: platform.stackrox.io/v1alpha1
kind: Central
metadata:
  name: stackrox-central-services
  namespace: stackrox
spec:
  central:
    adminPasswordSecret:
      name: acs-password
    exposure:
      loadBalancer:
        enabled: false
        port: 443
      nodePort:
        enabled: false
      route:
        enabled: true
    persistence:
      persistentVolumeClaim:
        claimName: stackrox-db
  egress:
    connectivityPolicy: Online
  scanner:
    analyzer:
      scaling:
        autoScaling: Disabled
        replicas: 1
    scannerComponent: Enabled
{% if ocp4_workload_rhacs_enable_central_scanner_v4 | bool %}
{% if ocp4_workload_rhacs_install_operator_channel.split('-')[1] | float >= 4.4 %}
  scannerV4:
    matcher:
      resources:
        limits:
          cpu: '2'
          memory: 7Gi
        requests:
          cpu: '1'
          memory: 1500Mi
    scannerComponent: Enabled
{% endif %}
{% endif %}
