apiVersion: v1
kind: ConfigMap
metadata:
  name: collector-config
  namespace: {{ ocp4_workload_rhacs_central_namespace }}
data:
  runtime_config.yaml: |
    networking:
      externalIps:
{% if ocp4_workload_rhacs_collector_config_expternal_ips_enable | bool %}
        enabled: ENABLED
{% else %}
        enabled: DISABLED
{% endif %}