  bind-addr: 0.0.0.0:8443
  auth: password
  password: {{ ocp4_workload_vscode_bastion_vscode_password }}
  cert: {{ ocp4_workload_vscode_bastion_vscode_cert_directory }}/config/live/bastion.{{ guid }}{{ subdomain_base_suffix }}/fullchain.pem
  cert-key: {{ ocp4_workload_vscode_bastion_vscode_cert_directory}}/config/live/bastion.{{ guid }}{{ subdomain_base_suffix }}/privkey.pem
