{% if ocp4_workload_vscode_bastion_ec2_certificates | bool %}
bind-addr: 0.0.0.0:8443
cert: {{ ocp4_workload_vscode_bastion_vscode_cert_directory }}/config/live/bastion.{{ guid }}{{ subdomain_base_suffix }}/fullchain.pem
cert-key: {{ ocp4_workload_vscode_bastion_vscode_cert_directory}}/config/live/bastion.{{ guid }}{{ subdomain_base_suffix }}/privkey.pem
{% else %}
bind-addr: 0.0.0.0:8080
{% endif %}
auth: password
password: {{ ocp4_workload_vscode_bastion_vscode_password }}
