[Unit]
Description=Code server system service for user {{ ocp4_workload_vscode_bastion_custom_system_service_user }}
After=network.target

[Service]
User={{ ocp4_workload_vscode_bastion_custom_system_service_user }}
Group={{ ocp4_workload_vscode_bastion_custom_system_service_user }}

Type=exec
ExecStart=/usr/bin/code-server
Restart=always

[Install]
WantedBy=multi-user.target
