#!/bin/bash
source {{ ocp4_workload_vscode_bastion_vscode_certbot_virtualenv }}/bin/activate

certbot certonly -n --agree-tos --standalone \
    --email {{ ocp4_workload_vscode_bastion_vscode_cert_email }} \
    -d bastion.{{ guid }}{{ subdomain_base_suffix }} \
    --config-dir={{ ocp4_workload_vscode_bastion_vscode_cert_directory }}/config \
    --work-dir={{ ocp4_workload_vscode_bastion_vscode_cert_directory }}/work \
    --logs-dir={{ ocp4_workload_vscode_bastion_vscode_cert_directory }}/logs
