---
apiVersion: 1.0.0
metadata:
  generateName: dil-streaming-
projects:
  -
    name: FleurDeLune
    source:
      type: git
      location: "https://github.com/RedHatWorkshops/dayinthelife-streaming"
      sparseCheckoutDir: "projects"
components:
  -
    type: chePlugin
    id: redhat/vscode-xml/latest
  -
    type: chePlugin
    id: redhat/vscode-apache-camel/latest
  -
    type: chePlugin
    id: redhat/java/latest
  -
    type: dockerimage
    alias: tools
    image: quay.io/weimeilin79/java8tools:latest
    env:
      - name: MAVEN_CONFIG
        value: ""
      - name: JAVA_OPTS
        value: "-XX:MaxRAMPercentage=50.0 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10
          -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90
          -Dsun.zip.disableMemoryMapping=true -Xms20m -Djava.security.egd=file:/dev/./urandom
          -Duser.home=/home/user"
      - name: MAVEN_OPTS
        value: $(JAVA_OPTS)
    memoryLimit: 768Mi
    endpoints:
      - name: '8080/tcp'
        port: 8080
    mountSources: true
    volumes:
      - name: m2
        containerPath: /home/user/.m2
  - 
    alias: vscode-camelk
    type: chePlugin
    reference: https://raw.githubusercontent.com/RedHatWorkshops/dayinthelife-streaming/master/support/che/meta.yaml