{% for __user in users %}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: datagrid
  namespace: {{ __user }}
spec:
  channel: 8.0.x
  name: datagrid
  source: redhat-operators-snapshot-dil
  sourceNamespace: {{ snapshot_operator_project }}
  startingCSV: datagrid-operator.v{{ csv_version }}
{% endfor %}