kind: DevWorkspace
apiVersion: workspace.devfile.io/v1alpha2
metadata:
  name: dayinthelife-workspace
spec:
  contributions:
    - kubernetes:
        name: che-code-dayinthelife-streaming
      name: editor
  routingClass: che
  started: true
  template:
    attributes:
      controller.devfile.io/devworkspace-config:
        name: devworkspace-config
        namespace: {{ che_project }}
      controller.devfile.io/scc: container-build
      controller.devfile.io/storage-type: per-user
      dw.metadata.annotations:
        che.eclipse.org/devfile-source: |
          scm:
            repo: https://github.com/RedHat-Middleware-Workshops/dayinthelife-streaming.git
            fileName: devfile.yaml
          factory:
            params: >-
              url=https://github.com/RedHat-Middleware-Workshops/dayinthelife-streaming.git
    commands:
      - exec:
          commandLine: >-
            jbang app setup && jbang trust add https://github.com/apache/camel
            && jbang app install --force camel@apache/camel/camel-3.21.0
          component: universal-developer-image
        id: init-jbang
      - exec:
          commandLine: >-
            wget -O /home/user/karavan.vsix -q
            https://github.com/apache/camel-karavan/releases/download/3.20.1/karavan-3.20.1.vsix
          component: universal-developer-image
        id: install-karavan
    components:
      - attributes:
          controller.devfile.io/merge-contribution: true
        container:
          cpuLimit: 500m
          cpuRequest: 200m
          env:
            - name: MAVEN_CONFIG
              value: ''
            - name: JAVA_OPTS
              value: >-
                -XX:MaxRAMPercentage=50.0 -XX:+UseParallelGC
                -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20
                -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90
                -Dsun.zip.disableMemoryMapping=true -Xms20m
                -Djava.security.egd=file:/dev/./urandom -Duser.home=/home/user
            - name: MAVEN_OPTS
              value: $(JAVA_OPTS)
          image: 'quay.io/redhatintegration/rhi-tools:devspaces-3.6'
          memoryLimit: 4G
          memoryRequest: 256Mi
          sourceMapping: /projects
        name: universal-developer-image
    events:
      postStart:
        - init-jbang
        - install-karavan
    projects:
      - git:
          remotes:
            origin: >-
              https://github.com/RedHat-Middleware-Workshops/dayinthelife-streaming.git
        name: fleur-de-lune
