apiVersion: v1
data:
  customServerConfig.json: |
    {
      "services": [
        { "name": "3scale Developer Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}.{{ openshift_host }}" },
        { "name": "3scale Admin Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}-admin.{{ openshift_host }}" },
        { "name": "Gogs", "url": "http://gogs.{{ openshift_host }}" },
        { "name": "Microcks", "url": "http://microcks.{{ openshift_host }}" },
        { "name": "Apicurio", "url": "http://apicurio-studio.{{ openshift_host }}" }
      ]
    }
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
  namespace: {{ webapp_namespace }}