apiVersion: v1
kind: Secret
metadata:
  annotations:
    samples.operator.openshift.io/version: 4.2.16
  name: syndesis-pull-secret
  namespace: {{ user_fuse_project }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{docker_config_json}}


