apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata: 
  name: earth-cluster
spec:
  kafka:
    replicas: {{ num_kafka_brokers }}
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: external
        port: 9093
        type: route
        tls: true
    storage:
      type: ephemeral
    resources:
      requests:
        memory: 2Gi
      limits:
        memory: 2Gi      
  zookeeper:
    replicas: {{ num_zk_nodes }}
    storage:
      type: ephemeral
    resources:
      requests:
        memory: 1Gi
      limits:
        memory: 1Gi      
  entityOperator:
    topicOperator: {}
    userOperator: {}