apiVersion: kafka.strimzi.io/v1alpha1
kind: Kafka
metadata: 
  name: earth-cluster
spec:
  kafka:
    replicas: {{ num_kafka_brokers }}
    listeners:
      plain: {}
      tls: {}
      external:
        type: route
    storage:
      type: ephemeral
  zookeeper:
    replicas: {{ num_zk_nodes }}
    storage:
      type: ephemeral
  entityOperator:
    topicOperator: {}
    userOperator: {}