---
  apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: redhat-operators-snapshot-dil
    namespace: {{ snapshot_operator_project }}
  spec:
    sourceType: grpc
    image: quay.io/redhatintegration/olm_snapshot_redhat_catalog:v4.5_2020_11_11
    displayName: "Red Hat Operators Snapshot (2020)"
    publisher: "TMM"
---
  apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: community-operators-snapshot-dil
    namespace: {{ snapshot_operator_project }}
  spec:
    sourceType: grpc
    image: quay.io/redhatintegration/olm_snapshot_community_catalog:v4.5_2020_11_11
    displayName: "Community Operators Snapshot (2020)"
    publisher: "TMM"
