apiVersion: "integreatly.org/v1alpha1"
kind: "WebApp"
metadata:
  name: "{{ webapp_client_id }}"
  namespace: "{{ webapp_namespace }}"
  labels:
    app: "{{ webapp_client_id }}"
spec:
  app_label: "{{ webapp_client_id }}"
  template:
    path: "{{ webapp_operator_template_path }}"
    parameters:
      OPENSHIFT_OAUTHCLIENT_ID: "{{ webapp_client_id }}"
      OPENSHIFT_OAUTH_HOST: "oauth-openshift.{{ openshift_host }}"
      OPENSHIFT_HOST: "console-openshift-console.{{ openshift_host }}"
      INSTALLED_SERVICES: |-
        { 
          "3scale":{ 
              "Host":"https://3scale-admin.{{ openshift_host }}",
              "Version":"2.7.0.GA"
          },
          "codeready":{ 
              "Host":"http://che-che.{{ openshift_host }}",
              "Version":"2.0.0"
          }
        }
      OPENSHIFT_VERSION: "4"
{% if webapp_walkthrough_locations is defined  %}
      WALKTHROUGH_LOCATIONS: "{{ webapp_walkthrough_locations|join(',') }}"
{% endif %}