apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_backstage_application_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_backstage_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_cloud_architecture_workshop_backstage_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_backstage_gitops_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_backstage_gitops_repo_tag }}
    path: {{ ocp4_workload_cloud_architecture_workshop_backstage_gitops_repo_path }}
    helm:
      values: |
        upstream:
          ingress:
            host: backstage.{{ r_openshift_subdomain }}
        base_domain: {{ r_openshift_subdomain }}
        cluster_guid: {{ guid }}
