{% for __user in r_cloud_architecture_workshop_users %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_bookbag_application_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-gitops-{{__user }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: "{{ ocp4_workload_cloud_architecture_workshop_bookbag_namespace_prefix }}-{{ __user }}"
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_bookbag_application_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_bookbag_application_repo_tag }}
    path: {{ ocp4_workload_cloud_architecture_workshop_bookbag_application_repo_path }}
    helm:
      values: |
        image:
          pullPolicy: Always
          tag: latest
        bookbagVariables: >-
          {"openshift_cluster_console": "https://{{ r_console_route.resources[0].spec.host }}",
          "user_name": "{{ __user }}",
          "user_password": "{{ ocp4_workload_authentication_htpasswd_user_password }}",
          "globex_web_url": "https://globex-web-{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-{{ __user }}.{{ r_openshift_subdomain }}",
          "kafdrop_url": "https://kafdrop-{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-mw-{{ __user }}.{{ r_openshift_subdomain }}",
          "activity_tracking_simulator_url": "https://activity-tracking-simulator-{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-{{ __user }}.{{ r_openshift_subdomain }}",
          "devspaces_dashboard":"https://devspaces.{{ r_openshift_subdomain }}",
          "globex_user_password":"{{ ocp4_workload_cloud_architecture_workshop_globex_user_password }}",
          "openshift_subdomain":"{{ r_openshift_subdomain }}",
          "3scale_tenant": "https://3scale-{{ __user }}-admin.{{ r_openshift_subdomain }}",
          "globex_developer_portal": "https://3scale-{{ __user }}.{{ r_openshift_subdomain }}",
          "sso_tenant_console": "https://sso.{{ r_openshift_subdomain }}/auth/admin/{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-{{ __user }}/console",
          "sso_tenant_issuer_url": "https://sso.{{ r_openshift_subdomain }}/auth/realms/{{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-{{ __user }}",
          "service_registry_url": "https://service-registry-{{ __user }}.{{ r_openshift_subdomain }}",
          "api_designer_url": "https://apicurio-designer.{{ r_openshift_subdomain }}",
          "skupper_console_aws": "https://skupper-globex-skupper-{{ __user }}.{{ r_openshift_subdomain }}",
          "backstage_url": "https://backstage.{{ r_openshift_subdomain }}",
          "openshift_api_internal": "https://172.30.0.1:443",
          "openshift_cluster_console_azure": "{{ ocp4_workload_cloud_architecture_workshop_bookbag_var_azure_ocp_console }}",
          "openshift_api_azure": "{{ ocp4_workload_cloud_architecture_workshop_bookbag_var_azure_ocp_api }}"}
{% endfor %}
