apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_camel_common_application_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_camel_common_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_cloud_architecture_workshop_camel_common_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_camel_common_gitops_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_camel_common_gitops_repo_tag }}
    path: {{ ocp4_workload_cloud_architecture_workshop_camel_common_gitops_repo_path }}
    helm:
      values: |
        amq-broker:
          loop:
            prefix: {{ ocp4_workload_cloud_architecture_workshop_user_prefix }}
            count: {{ ocp4_workload_cloud_architecture_workshop_user_count }}

          rolebinding:
            serviceAccountNamespace: {{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-camel
        matrix-synapse:
          synapse:
            baseUrl: https://{{ ocp4_workload_cloud_architecture_workshop_camel_common_synapse_matrix_host }}.{{ r_openshift_subdomain }}
            registrationSharedSecret: {{ lookup('password', '/dev/null chars=ascii_letters length=32') }}
            macaroonSecretKey: {{ lookup('password', '/dev/null chars=ascii_letters length=32') }}
            formSecretKey: {{ lookup('password', '/dev/null chars=ascii_letters length=32') }}
          route:
            host: {{ ocp4_workload_cloud_architecture_workshop_camel_common_synapse_matrix_host }}.{{ r_openshift_subdomain }}
          numUsers: {{ ocp4_workload_authentication_htpasswd_user_count }}
          userPrefix: {{ ocp4_workload_cloud_architecture_workshop_user_prefix }}
          rolebinding:
            serviceAccountNamespace: {{ ocp4_workload_cloud_architecture_workshop_namespace_prefix }}-camel

        rocketchat:
          rocketchat:
            route:
              host: {{ ocp4_workload_cloud_architecture_workshop_camel_common_rocketchat_host }}.{{ r_openshift_subdomain }}
            numUsers: {{ ocp4_workload_authentication_htpasswd_user_count }}
        element:
          synapse:
            url: https://{{ ocp4_workload_cloud_architecture_workshop_camel_common_synapse_matrix_host }}.{{ r_openshift_subdomain }}
          route:
            host: {{ ocp4_workload_cloud_architecture_workshop_camel_common_element_host }}.{{ r_openshift_subdomain }}
