{% for __user in r_cloud_architecture_workshop_users %}
{% for __namespace in r_cloud_architecture_workshop_devspaces_namespaces %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ __namespace.name | replace("user",__user) }}'
  labels:
    app.kubernetes.io/component: workspaces-namespace
    app.kubernetes.io/part-of: che.eclipse.org
  annotations:
    che.eclipse.org/username: {{ __user }}
{% endfor %}
{% endfor %}
