{% for __user in r_cloud_architecture_workshop_users %}
{% for __namespace in r_cloud_architecture_workshop_devspaces_devworkspace_namespaces %}
---
apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_devworkspace_name }}
  namespace: "{{ __namespace.name | replace("user",__user) }}"
spec:
  contributions:
    - kubernetes:
        name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_template_name }}
        namespace: {{ __namespace.name | replace("user",__user) }}
      name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_template_name }}
  routingClass: che
  started: true
  template:
    attributes:
      controller.devfile.io/storage-type: ephemeral
    components:
      - name: tools
        container:
          cpuRequest: 60m
          command:
            - /checode/entrypoint-volume.sh
          env:
            - name: CHE_DASHBOARD_URL
              value: 'https://devspaces.{{ r_openshift_subdomain }}'
            - name: CHE_PLUGIN_REGISTRY_URL
              value: >-
                https://devspaces.{{ r_openshift_subdomain }}/plugin-registry/v3
            - name: CHE_PLUGIN_REGISTRY_INTERNAL_URL
              value: 'http://plugin-registry.devspaces.svc:8080/v3'
            - name: OPENVSX_REGISTRY_URL
              value: 'https://open-vsx.org'
          memoryRequest: 512Mi
          sourceMapping: /projects
          cpuLimit: 1000m
          volumeMounts:
            - name: checode
              path: /checode
          memoryLimit: 2.07G
          image: {{ ocp4_workload_cloud_architecture_workshop_devspaces_tools_image }}
          endpoints:
            - attributes:
                contributed-by: che-code.eclipse.org
                cookiesAuthEnabled: true
                discoverable: false
                type: main
                urlRewriteSupported: true
              exposure: public
              name: che-code
              protocol: https
              secure: false
              targetPort: 3100
            - attributes:
                contributed-by: che-code.eclipse.org
                discoverable: false
                urlRewriteSupported: false
              exposure: public
              name: code-redirect-1
              protocol: http
              targetPort: 13131
            - attributes:
                contributed-by: che-code.eclipse.org
                discoverable: false
                urlRewriteSupported: false
              exposure: public
              name: code-redirect-2
              protocol: http
              targetPort: 13132
            - attributes:
                contributed-by: che-code.eclipse.org
                discoverable: false
                urlRewriteSupported: false
              exposure: public
              name: code-redirect-3
              protocol: http
              targetPort: 13133
    projects:
      - git:
          remotes:
            origin: >-
              {{ ocp4_workload_cloud_architecture_workshop_devspaces_project_git }}
        name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_project_name }}
{% endfor %}
{% endfor %}
