apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_devspaces_name }}
spec:
  devEnvironments:
    defaultNamespace:
      autoProvision: true
      template: {{ ocp4_workload_cloud_architecture_workshop_devspaces_user_namespace }}
    storage:
      pvcStrategy: per-user
    secondsOfInactivityBeforeIdling: -1
    defaultEditor: che-incubator/che-code/insiders
    containerBuildConfiguration:
      openShiftSecurityContextConstraint: container-build
    disableContainerBuildCapabilities: true
  components:
    cheServer:
      debug: false
      logLevel: INFO
    metrics:
      enable: true
  gitServices: {}
  networking: {}
