{% for __user in r_cloud_architecture_workshop_users %}
{% for __namespace in r_cloud_architecture_workshop_namespaces %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ __namespace.name | replace("user",__user) }}'
{% if __namespace.managedByArgo|length > 1 %}
  labels:
    argocd.argoproj.io/managed-by: {{ __namespace.managedByArgo | replace("user",__user) }}
{% endif %}
{% endfor %}
{% endfor %}
