{% for __user in r_cloud_architecture_workshop_users %}
{% for __namespace in r_cloud_architecture_workshop_operatorgroup_namespaces %}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: "{{ __namespace.name | replace("user",__user) }}-og"
  namespace: "{{ __namespace.name | replace("user",__user) }}"
spec:
  targetNamespaces:
    - {{ __namespace.name | replace("user",__user) }}
{% endfor %}
{% endfor %}
