apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_rhbk_application_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_rhbk_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_cloud_architecture_workshop_rhbk_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_rhbk_gitops_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_rhbk_gitops_repo_tag }}
    path: {{ ocp4_workload_cloud_architecture_workshop_rhbk_gitops_repo_path }}
    helm:
      values: |

        keycloak:
          nameOverride: {{ ocp4_workload_cloud_architecture_workshop_rhbk_cr_name }}

          route:
            host: {{ ocp4_workload_cloud_architecture_workshop_rhbk_host }}.{{ r_openshift_subdomain }}

          ingress:
            enabled: {{ ocp4_workload_cloud_architecture_workshop_rhbk_external_access }}
        
        keycloak-realm-import:
          loop:
            prefix: {{ ocp4_workload_cloud_architecture_workshop_user_prefix }}
            count: {{ ocp4_workload_cloud_architecture_workshop_user_count }}

          realm:
            name: {{ ocp4_workload_cloud_architecture_workshop_rhbk_realm }}

          client:
            gateway: {{ ocp4_workload_cloud_architecture_workshop_rhbk_web_gateway_client }}

          keycloak:
            name: {{ ocp4_workload_cloud_architecture_workshop_rhbk_cr_name }}

          hook:
            maxTimeToWait: {{ ocp4_workload_cloud_architecture_workshop_rhbk_max_time_to_wait }}

        keycloak-db:
          selector:
            app: {{ ocp4_workload_cloud_architecture_workshop_rhbk_cr_name }}
