{% for __user in r_cloud_architecture_workshop_users %}
{% for __binding in r_cloud_architecture_workshop_bindings %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ __user }}-{{ __binding.role }}-{{ __binding.namespace | replace("user", __user) }}-namespace'
  namespace: '{{ __binding.namespace | replace("user", __user) }}'
subjects:
- kind: User
  name: '{{ __user  }}'
  namespace: '{{ __binding.namespace | replace("user", __user) }}'
roleRef:
  kind: ClusterRole
  name: '{{ __binding.role }}'
  apiGroup: rbac.authorization.k8s.io
{% endfor %}
{% endfor %}