{% for __user in r_cloud_architecture_workshop_users %}
{% for __binding in r_cloud_architecture_workshop_bindings_argo %}

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: 'argo-{{ __binding.role }}-{{ __binding.namespace | replace("user", __user) }}'
  namespace: '{{ __binding.namespace | replace("user", __user) }}'
subjects:
  - kind: ServiceAccount
    name: 'globex-{{ __user  }}-gitops-argocd-application-controller'
    namespace: '{{ ocp4_workload_cloud_architecture_workshop_argo_application_namespace | replace("user", __user) }}'
  - kind: ServiceAccount
    name: 'globex-{{ __user  }}-gitops-argocd-dex-server'
    namespace: '{{ ocp4_workload_cloud_architecture_workshop_argo_application_namespace | replace("user", __user) }}'
roleRef:
  kind: ClusterRole
  name: '{{ __binding.role }}'
  apiGroup: rbac.authorization.k8s.io
{% endfor %}
{% endfor %}
