[ExampleLabs:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=90
ansible_become=yes
ansible_ssh_user={{ansible_ssh_user}}



[ExampleLabs:children]
provisioner

[provisioner]
{% for host in groups[('tag_' + env_type + '-' + guid + '_provisioner') | replace('-', '_') ] %}
provisioner.{{chomped_zone_internal_dns}}  host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}
