<VirtualHost *:80>
  ServerName {{ provisioner_public_dns }}
  Alias /repos /srv/repos
<Directory "/srv/repos">
    AllowOverride None
    # Allow open access:
    Require all granted
    Options Indexes FollowSymLinks
</Directory>
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ provisioner_public_dns }}
  Alias /repos /srv/repos
  SSLEngine on
  SSLCertificateFile {{ httpd_ssl_cert }}
  SSLCertificateKeyFile {{ httpd_ssl_key }}
  <Directory "/srv/repos">
    AllowOverride None
    # Allow open access:
    Require all granted
    Options Indexes FollowSymLinks
  </Directory>
</VirtualHost>
