<VirtualHost *:80>
  ServerName {{ provisioner_public_dns }}
  Alias /repos /srv/repos
<Directory "/srv/repos">
    AllowOverride None
    # Allow open access:
    Require all granted
    Options Indexes FollowSymLinks
</Directory>
</VirtualHost>

<VirtualHost *:443>
  ServerName {{ provisioner_public_dns }}
  Alias /repos /srv/repos
  SSLEngine on
  SSLCertificateFile /etc/pki/tls/certs/admin.pem
  SSLCertificateKeyFile /etc/pki/tls/private/admin.key
  <Directory "/srv/repos">
    AllowOverride None
    # Allow open access:
    Require all granted
    Options Indexes FollowSymLinks
  </Directory>
</VirtualHost>
