apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: acm-globex-{{ _environment }}
  namespace: openshift-gitops
spec:
  clusterSelector:
    matchLabels:
      name: "{{ _cluster }}"