---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ item }}
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_cloud_native_robot_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_cloud_native_robot_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{% raw %}{{ user }}{% endraw %}-{{ item }}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{% raw %}{{ user }}{% endraw %}-{{ item }}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_cloud_native_robot_infra_repo }}
        targetRevision: {{ ocp4_workload_cloud_native_robot_infra_repo_tag }}
        path: datacenter/per-user/{{ item }}
        helm:
          values: |
            username: "{% raw %}{{ user }}{% endraw %}"
            password: "{{ ocp4_workload_cloud_native_robot_user_password }}"
            namespacePermissions:
              user: "{% raw %}{{ user }}{% endraw %}"
              role: admin
