---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: per-user-gitops
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_cloud_native_robot_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_cloud_native_robot_user_prefix }}{{ n }}
        robot_name: "{{ hostvars[inventory_hostname]['team_' + n | string + '_robot_name'] | default('') }}"
{% endfor %}
  template:
    metadata:
      name: "{% raw %}{{ user }}-per-user-gitops{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "openshift-gitops"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_cloud_native_robot_infra_repo }}
        targetRevision: {{ ocp4_workload_cloud_native_robot_infra_repo_tag }}
        path: datacenter/per-user/gitops
        helm:
          values: |
            username: "{% raw %}{{ user }}{% endraw %}"
            team: "{% raw %}{{ user }}{% endraw %}"
            robot_name: "{% raw %}{{ robot_name }}{% endraw %}"
            openshift_cluster_ingress_domain: "{{ openshift_cluster_ingress_domain }}"

            namespacePermissions:
              user: "{% raw %}{{ user }}{% endraw %}"
              role: admin
