---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ _ocp4_workload_ama_demo_shared_db_app_name }}
  namespace: {{ _ocp4_workload_ama_demo_shared_demo_namespace }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
