apiVersion: enmasse.io/v1beta1
kind: Address
metadata:
  name: "{{ ocp4_workload_lpe_amq_online_address_space_name }}.{{ ocp4_workload_lpe_amq_online_address_name }}"
  namespace: "{{ ocp4_workload_lpe_amq_online_namespace }}"
spec:
  address: "{{ ocp4_workload_lpe_amq_online_address_name }}"
  plan: "{{ ocp4_workload_lpe_amq_online_address_plan_name }}"
  type: "{{ ocp4_workload_lpe_amq_online_address_type }}"