apiVersion: admin.enmasse.io/v1beta2
kind: AddressPlan
metadata:
  name: "{{ ocp4_workload_lpe_amq_online_address_plan_name }}"
  namespace: "{{ ocp4_workload_lpe_amq_online_namespace }}"
spec:
  addressType: "{{ ocp4_workload_lpe_amq_online_address_plan_type }}"
  resources:
    router: 0.01
    broker: 0.1