apiVersion: admin.enmasse.io/v1beta2
kind: AddressSpacePlan
metadata:
  name: "{{ ocp4_workload_lpe_amq_online_address_space_plan_name }}"
  namespace: "{{ ocp4_workload_lpe_amq_online_namespace }}"
spec:
  addressSpaceType: "{{ ocp4_workload_lpe_amq_online_address_space_plan_type }}"
  infraConfigRef: "{{ ocp4_workload_lpe_amq_online_standard_infra_config_name }}"
  addressPlans:
    - "{{ ocp4_workload_lpe_amq_online_address_plan_name }}"
  resourceLimits:
    router: 2.0
    broker: 3.0
    aggregate: 4.0