apiVersion: admin.enmasse.io/v1beta1
kind: AuthenticationService
metadata:
  name: "{{ ocp4_workload_lpe_amq_online_authservice_name }}"
  namespace: "{{ ocp4_workload_lpe_amq_online_namespace }}"
spec:
  type: "{{ ocp4_workload_lpe_amq_online_authservice_type }}"