kind: Cluster
apiVersion: clusterregistry.k8s.io/v1alpha1
metadata:
  namespace: {{ mig_namespace }}
  name: {{ cluster_remote_name }}
spec:
  kubernetesApiEndpoints:
    serverEndpoints:
      - clientCIDR: "0.0.0.0"
        # [!] Change serverAddress to point at your remote cluster login endpoint
        serverAddress: {{ mig_cluster_remote_address }}
