apiVersion: migration.openshift.io/v1alpha1
kind: MigCluster
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: {{ mig_cluster_remote_name }}
  namespace: {{ mig_namespace }}
spec:
  # [!] Change isHostCluster to 'true' if you'll be running the controller on this cluster.
  #     Setting 'isHostCluster' to true will bypass using the clusterRef and serviceAccountSecretRef below.
  isHostCluster: false

  clusterRef:
    name: {{ cluster_remote_name }}
    namespace: {{ mig_namespace }}

  serviceAccountSecretRef:
    name: {{ mig_sa_token_remote_name }}
    namespace: {{ mig_namespace }}
