---
apiVersion: v1
kind: Secret
metadata:
  namespace: {{ mig_namespace }}
  name: {{ mig_storage_creds_name }}
type: Opaque
data:
  # [!] If using S3 / AWS, change aws-access-key-id and aws-secret-access-key to contain the base64 encoded keys
  #     needed to authenticate with the storage specified in migstorage.
  # [Note] these credentials will be injected into cloud-credentials in the 'velero' namespace.
  aws-access-key-id: {{ mig_aws_access_key_id }}
  aws-secret-access-key: {{ mig_aws_secret_access_key }}

  # [!] If using Azure (not yet supported), change parameters below with base64 encoded access credentials.
  azure-client-secret: aGVsbG8K
  azure-subscription-id: aGVsbG8K
  azure-tenant-id: aGVsbG8K
  azure-client-id: aGVsbG8K
