apiVersion: migration.openshift.io/v1alpha1
kind: MigPlan
metadata:
  labels:
    controller-tools.k8s.io: "1.0"
  name: {{ mig_plan_name }}
  namespace: {{ mig_namespace }}
spec:

  srcMigClusterRef:
    name: {{ mig_cluster_local_name }}
    namespace: {{ mig_namespace }}

  destMigClusterRef:
    name: {{ mig_cluster_remote_name }}
    namespace: {{ mig_namespace }}

  migStorageRef:
    name: {{ mig_storage_name }}
    namespace: {{ mig_namespace }}

  # [!] Change namespaces to adjust which OpenShift namespaces should be migrated from source to destination cluster
  namespaces: {{ mig_migration_namespaces }}