apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: template-service-broker-group
  namespace: "{{ _broker_project }}"
spec:
  targetNamespaces:
  - "{{ _broker_project }}"
