apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: template-service-broker-group
  namespace: "{{ _broker_project }}"
  annotations:
    olm.providedAPIs: TemplateServiceBroker.v1alpha1.osb.openshift.iospec:
  targetNamespaces:
  - "{{ _broker_project }}"
