apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: template-service-broker-group
  namespace: "{{ _broker_project }}"
  annotations:
    olm.providedAPIs: TemplateServiceBroker.v1.osb.openshift.io
spec:
  targetNamespaces:
  - "{{ _broker_project }}"
