apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: templateservicebroker
  namespace: "{{ _tsb_broker_project }}"
labels:
  csc-owner-name: "installed-redhat-{{ _tsb_broker_project }}"
  csc-owner-namespace: openshift-marketplace
spec:
  channel: stable
  installPlanApproval: Automatic
  name: openshifttemplateservicebroker
  source: "installed-redhat-{{ _tsb_broker_project }}"
  sourceNamespace: "{{ _tsb_broker_project }}"
#  startingCSV: "{{ _tsb_broker_subscription_csv }}"
