[Unit]
Description=noVNC service
After=syslog.target network.target

[Service]
{% if novnc_enable_letsencrypt_cert is defined %}

ExecStart=/usr/local/src/noVNC-{{ novnc_version }}/utils/novnc_proxy --vnc localhost:5901 --cert /etc/letsencrypt/live/{{ novnc_host_fqdn }}/fullchain.pem --key /etc/letsencrypt/live/{{ novnc_host_fqdn }}/privkey.pem {{ "--listen " + novnc_proxy_port|string if novnc_proxy_port is defined }}

{% else %}

ExecStart=/usr/local/src/noVNC-{{ novnc_version }}/utils/novnc_proxy --vnc localhost:5901  {{ "--listen " + novnc_proxy_port|string if novnc_proxy_port is defined }}
{% endif %}

[Install]
WantedBy=multi-user.target
