kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
apiVersion: v1
items:
- kind: Secret
  apiVersion: v1
  metadata:
    name: ansible-plugin-rhdh-pull-secret
  data:
    .dockerconfigjson: {{ ansible_plugin_rhdh_pull_secret }}
  type: kubernetes.io/dockerconfigjson
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: ansible-plugin-registry
    name: ansible-plugin-registry
  spec:
    replicas: 1
    revisionHistoryLimit: 10
    selector:
      matchLabels:
        app: ansible-plugin-registry
    strategy:
      activeDeadlineSeconds: 21600
      recreateParams:
        timeoutSeconds: 600
      type: Recreate
    template:
      metadata:
        labels:
          app: ansible-plugin-registry
      spec:
        imagePullSecrets:
        - name: ansible-plugin-rhdh-pull-secret
        containers:
        - image: {{ ocp4_workload_ansible_plugin_registry_image }}
          imagePullPolicy: Always
          name: ansible-plugin-registry
          ports:
          - containerPort: 8080
            protocol: TCP
          resources:
            requests:
              cpu: 200m
              memory: 1Gi
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        schedulerName: default-scheduler
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: ansible-plugin-registry
    name: ansible-plugin-registry
  spec:
    port:
      targetPort: 8080-tcp
    tls:
      termination: edge
    to:
      kind: Service
      name: ansible-plugin-registry
      weight: 100
    wildcardPolicy: None
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: ansible-plugin-registry
    name: ansible-plugin-registry
  spec:
    ports:
    - name: 8080-tcp
      port: 8080
    selector:
      app: ansible-plugin-registry
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    labels:
      app: sonarqube
      template: postgresql-persistent-template
    name: sonardb
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 5Gi
