IMAGE={{ redis_image }}
REDIS_CONTAINER_STORAGE_DIR={{ redis_container_storage_dir }}
REDIS_HOST_STORAGE_DIR={{ redis_storage_dir }}
REDIS_CONTAINER_PORT={{ redis_container_port }}
REDIS_HOST_PORT={{ redis_host_port }}