kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  labels:
    app: {{ gogs_app_name }}
  name: {{ gogs_app_name }}-data
  namespace: {{ gogs_project }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ gogs_pvc_capacity }}