apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ gogs_app_name }}
  name: {{ gogs_app_name }}
  namespace: {{ gogs_project }}
spec:
  selector:
    app: {{ gogs_app_name }}
  type: ClusterIP
  ports:
  - port: 3000
    protocol: TCP
    targetPort: 3000