---
- name: configure nios for lab
  hosts: localhost
  gather_facts: false
  become: false
  tasks:
    - name: configure a network container in nios
      nios_network:
        network: 10.0.0.0/8
        container: true
        comment: Created by Ansible NIOS Lab deployment
        state: present
        provider:
          host: {{ groups['nios'][0] | regex_replace('\\..*$') }}.{{ guid }}.{{ osp_cluster_dns_zone }}
          username: admin
          password: {{ hostvars['localhost']['nios_admin_password'] }}
