DATABASE_USER={{ pg_username }}
DATABASE_NAME={{ pg_database }}
DATABASE_HOST={{ pg_hostname }}
DATABASE_PORT={{ pg_port }}
DATABASE_PASSWORD={{ pg_password | quote }}
MEMCACHED_HOST={{ memcached_hostname }}
MEMCACHED_PORT={{ memcached_port }}
