[Unit]
Description="WETTY: Terminal over HTTP and HTTPS. https://github.com/krishnasrinivas/wetty"
After=network.target auditd.service
[Service]
ExecStart=/usr/lib/node_modules/wetty/bin/wetty.js --sslkey /home/{{ system_user }}/.ssh/privkey.pem --sslcert /home/{{ system_user }}/.ssh/cert.pem -p {{ wetty_port }}
Restart=always
[Install]
WantedBy=multi-user.target