terminal-01:
  image: docker.io/wettyoss/wetty
  container_name: terminal-01
  hostname: terminal-01
  command:
{% if showroom_enable_root_ssh %}
    - "--ssh-user=root"
{% else %}
    - "--ssh-user={{ f_user_data.ssh_username }}"
{% endif %}
    - "--ssh-pass={{ f_user_data.ssh_password }}"
    - "--ssh-host={{ f_user_data.targethost }}"
    - "--ssh-port={{ f_user_data.targetport }}"
    - "--allow-iframe=true"
  labels:
    - "traefik.enable=true"
    - "traefik.http.services.terminal.loadbalancer.server.port=3000"
    - "traefik.http.routers.terminalentrypoints=terminalsecure"
    - "traefik.http.routers.terminal.tls.certresolver=le"
    - "traefik.http.routers.terminal.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/wetty`)"
    - "traefik.http.routers.terminal.middlewares=terminal-stripprefix"
    - "traefik.http.routers.terminal.middlewares=testheader"
    - "traefik.http.middlewares.terminal-stripprefix.stripprefix.prefixes=/wetty"
    - "traefik.http.middlewares.testheader.headers.customrequestheaders.X-Content-Type-Options=false"
