apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: agnosticg-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_sonarqube_namespace }}
spec:
  clusterSelector:
    matchLabels:
      purpose: "{{ cluster.purpose }}"