apiVersion: cluster.open-cluster-management.io/v1alpha1
kind: Placement
metadata:
  name: sonarqube-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_sonarqube_gitops_namespace }}
spec:
  clusterSets:
    - global
  predicates:
    - requiredClusterSelector:
        labelSelector:
          matchExpressions:
            - key: purpose
              operator: In
              values:
                - {{ cluster.purpose }}