apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: sonarqube-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_sonarqube_gitops_namespace }}
spec:
  generators:
    - clusterDecisionResource:
        configMapRef: acm-placement
        labelSelector:
          matchLabels:
            cluster.open-cluster-management.io/placement: sonarqube-{{ cluster.name }}
        requeueAfterSeconds: 30
  template:
    metadata:
      name: sonarqube-{{ '{{name}}' }}
      labels:
        velero.io/exclude-from-backup: "true"
    spec:
      destination:
        namespace: {{ ocp4_workload_gitops_sonarqube_namespace }}
        server: "{{ '{{server}}' }}"
      project: default
      source:
        helm:
          parameters:
            - name: sonarqube.image
              value: docker.io/kenmoini/openshift-sonarqube
            - name: sonarqube.adminPassword
              value: {{ ocp4_workload_gitops_sonarqube_admin_password }}
            - name: sonarqube.namespace
              value: {{ ocp4_workload_gitops_sonarqube_namespace }}
        path: charts/sonarqube
        repoURL: {{ ocp4_workload_gitops_sonarqube_git_repo_url }}
        targetRevision: main
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true