apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  name: agnosticg
  namespace: {{ ocp4_workload_gitops_sonarqube_acm_namespace }}
spec:
  type: Git
  pathname: "{{ ocp4_workload_gitops_sonarqube_git_repo_url }}"