[Unit]
Description=Run script at startup after network becomes reachable
After=network.target
Before=oracle-xe-21c.service

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/update_ipaddress.sh
TimeoutStartSec=0

[Install]
WantedBy=default.target
