apiVersion: v1
kind: ResourceQuota
metadata:
  name: "{{ ocp4_workload_xray_pipeline_lab_user_quota_name }}"
  namespace: "{{ t_user_project }}"
spec:
  {{ ocp4_workload_xray_pipeline_lab_user_quota | to_json }}
