---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: applications
  namespace: {{ _ocp4_workload_opentour_dach_2022_shared_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: {{ _ocp4_workload_opentour_dach_2022_shared_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: http://{{ ocp4_workload_opentour_dach_2022_shared_gitea_instance }}.{{ ocp4_workload_opentour_dach_2022_shared_gitea_project }}.svc:3000/{{ _ocp4_workload_opentour_dach_2022_shared_user }}/{{ ocp4_workload_opentour_dach_2022_shared_gitea_repo }}
    targetRevision: main
    path: helm/argoapps
    helm:
      values: |
        user: {{ _ocp4_workload_opentour_dach_2022_shared_user }}
        customerDatabase:
          password: {{ ocp4_workload_opentour_dach_2022_shared_oracle_db_password }}
        customersHost: {{ _ocp4_workload_opentour_dach_2022_shared_tomcat_ip }}
