---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-configuration
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ""
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    syncOptions:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: 'https://github.com/sa-mw-dach/opentour-2022-gitops-infra.git'
    path: cluster-configuration/overlays/common
    targetRevision: HEAD
