---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cluster-configuration
  namespace: openshift-gitops
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ""
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    syncOptions:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_opentour_dach_2022_infra_repo }}
    path: cluster-configuration/overlays/common
    targetRevision: {{ ocp4_workload_opentour_dach_2022_infra_repo_tag }}
