---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: inventory
  namespace: {{ ocp4_workload_app_mod_demo_modern_namespace }}
  labels:
    app.kubernetes.io/name: inventory
    app.kubernetes.io/part-of: backend
    app.openshift.io/runtime: quarkus
  annotations:
    app.openshift.io/connects-to: postgresql-inventory
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 20%
  replicas: 1
  selector:
    matchLabels:
      deployment: inventory
  template:
    metadata:
      name: inventory
      labels:
        deployment: inventory
    spec:
      containers:
      - name: inventory
        image: {{ ocp4_workload_app_mod_demo_image_inventory }}
        imagePullPolicy: Always
        ports:
        - name: http
          containerPort: 8080
          protocol: TCP
        resources:
          requests:
            cpu: "10m"
            memory: "512Mi"
        readinessProbe:
          httpGet:
            path: /q/health/ready
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 2
        livenessProbe:
          httpGet:
            path: /q/health/live
            port: 8080
          periodSeconds: 10
          initialDelaySeconds: 5
          timeoutSeconds: 2
