{% if ocp4_workload_quay_operator_cluster_version is version_compare('4.3.0', '<')%}
apiVersion: operators.coreos.com/v1
{% else %}
apiVersion: operators.coreos.com/v2
{% endif %}
kind: CatalogSourceConfig
metadata:
  name: "installed-community-{{ ocp4_workload_quay_operator.project }}"
  namespace: openshift-marketplace
spec:
{% if ocp4_workload_quay_operator_cluster_version is version_compare('4.3.0', '>=')%}
  source: community-operators
{% endif %}
  targetNamespace: "{{ ocp4_workload_quay_operator.project }}"
  packages: quay