apiVersion: operators.coreos.com/v2
kind: CatalogSourceConfig
metadata:
  name: "installed-community-{{ ocp4_workload_quay_operator.project }}"
  namespace: openshift-marketplace
spec:
  source: community-operators
  targetNamespace: "{{ ocp4_workload_quay_operator.project }}"
  packages: quay