apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: quayecosystems.redhatcop.redhat.io
spec:
  group: redhatcop.redhat.io
  names:
    kind: QuayEcosystem
    listKind: QuayEcosystemList
    plural: quayecosystems
    singular: quayecosystem
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            quay:
              properties:
                configRouteHost:
                  type: string
                configSecretName:
                  type: string
                database:
                  properties:
                    cpu:
                      type: string
                    credentialsSecretName:
                      type: string
                    image:
                      type: string
                    imagePullSecretName:
                      type: string
                    memory:
                      type: string
                    replicas:
                      format: int32
                      type: integer
                    server:
                      type: string
                    volumeSize:
                      type: string
                  type: object
                enableNodePortService:
                  type: boolean
                image:
                  type: string
                imagePullSecretName:
                  type: string
                isOpenShift:
                  type: boolean
                keepConfigDeployment:
                  type: boolean
                registryBackends:
                  items:
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                  type: array
                registryStorage:
                  type: object
                replicas:
                  format: int32
                  type: integer
                routeHost:
                  type: string
                skipSetup:
                  type: boolean
                sslCertificatesSecretName:
                  type: string
                superuserCredentialsName:
                  type: string
              type: object
            redis:
              properties:
                hostname:
                  type: string
                image:
                  type: string
                imagePullSecretName:
                  type: string
                port:
                  format: int32
                  type: integer
                replicas:
                  format: int32
                  type: integer
              type: object
          type: object
        status:
          properties:
            conditions:
              description: +patchMergeKey=type +patchStrategy=merge
              items:
                properties:
                  lastTransitionTime:
                    format: date-time
                    type: string
                  lastUpdateTime:
                    format: date-time
                    type: string
                  message:
                    type: string
                  reason:
                    type: string
                  status:
                    type: string
                  type:
                    type: string
                required:
                - type
                - status
                type: object
              type: array
            hostname:
              type: string
            message:
              type: string
            phase:
              type: string
            setupComplete:
              type: boolean
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
