apiVersion: v1
kind: LimitRange
metadata:
  name: quay-default-limits
  namespace: "{{ _quay_project }}"
spec:
  limits:
  - default:
      cpu: 100m
      memory: 4Gi
    defaultRequest:
      cpu: 50m
      memory: 256Mi
    max:
      cpu: "1"
      memory: 6Gi
    type: Container