apiVersion: v1
kind: Secret
metadata:
  name: quay-superuser-secret
  namespace: "{{ _quay_project }}"
stringData:
  superuser-username: "{{ _quay_superuser_username }}"
  superuser-password: "{{ _quay_superuser_password }}"
  superuser-email: "{{ _quay_superuser_email }}"