apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: quay
  namespace: "{{ _quay_project }}"
spec:
  quay:
    imagePullSecretName: quay-pull-secret
    database:
      volumeSize: 50Gi
    registryStorage:
      local:
        persistentVolumeAccessMode:
          - ReadWriteOnce
        persistentVolumeSize: 50Gi