apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: "{{ _quay_name }}"
  namespace: "{{ _quay_project }}"
spec:
  quay:
    imagePullSecretName: quay-pull-secret
    superuserCredentialsSecretName: quay-superuser-secret
    configSecretName: quay-config-secret
    database:
      volumeSize: "{{ _quay_database_volume_size }}"
    registryStorage:
      persistentVolumeAccessMode:
      - ReadWriteOnce
      persistentVolumeSize: "{{ _quay_volume_size }}"