apiVersion: redhatcop.redhat.io/v1alpha1
kind: QuayEcosystem
metadata:
  name: "{{ ocp4_workload_quay_operator.name }}"
  namespace: "{{ ocp4_workload_quay_operator.project }}"
spec:
  quay:
{% if ocp4_workload_quay_operator.quay_image_tag is version_compare('v3.2.0', '>=') %}
    enableRepoMirroring: true
{% endif %}
    hostname: "{{ ocp4_workload_quay_operator_quay_route }}"
    imagePullSecretName: quay-pull-secret
    superuserCredentialsSecretName: quay-superuser-secret
    configSecretName: quay-config-secret
{% if ocp4_workload_quay_operator_ssl_certificate | length > 0 and ocp4_workload_quay_operator_ssl_key | length > 0 %}
    sslCertificatesSecretName: quay-ssl-certificate-secret
{% endif %}
    database:
      deploymentStrategy: Recreate
      volumeSize: "{{ ocp4_workload_quay_operator.quay_db_volume_size }}"
      resources:
        requests:
          memory: "{{ ocp4_workload_quay_operator.quay_db_memory_request }}"
          cpu: "{{ ocp4_workload_quay_operator.quay_db_cpu_request }}"
        limits:
          memory: "{{ ocp4_workload_quay_operator.quay_db_memory_limit }}"
          cpu: "{{ ocp4_workload_quay_operator.quay_db_cpu_limit}}"
    deploymentStrategy: Recreate
    image: "quay.io/redhat/quay:{{ ocp4_workload_quay_operator.quay_image_tag }}"
    registryStorage:
      persistentVolumeAccessModes:
      - ReadWriteOnce
      persistentVolumeSize: "{{ ocp4_workload_quay_operator.quay_volume_size }}"
    resources:
      requests:
        memory: "{{ ocp4_workload_quay_operator.quay_memory_request }}"
        cpu: "{{ ocp4_workload_quay_operator.quay_cpu_request }}"
      limits:
        memory: "{{ ocp4_workload_quay_operator.quay_memory_limit }}"
        cpu: "{{ ocp4_workload_quay_operator.quay_cpu_limit }}"
    configResources:
      requests:
        memory: "{{ ocp4_workload_quay_operator.config_memory_request }}"
        cpu: "{{ ocp4_workload_quay_operator.config_cpu_request }}"
      limits:
        memory: "{{ ocp4_workload_quay_operator.config_memory_limit }}"
        cpu: "{{ ocp4_workload_quay_operator.config_cpu_limit }}"

  redis:
    deploymentStrategy: Recreate
    resources:
      requests:
        memory: "{{ ocp4_workload_quay_operator.redis_memory_request}}"
        cpu: "{{ ocp4_workload_quay_operator.redis_cpu_request }}"
      limits:
        memory: "{{ ocp4_workload_quay_operator.redis_memory_limit }}"
        cpu: "{{ ocp4_workload_quay_operator.redis_cpu_limit }}"

{% if ocp4_workload_quay_operator.clair_enabled | bool %}
  clair:
    enabled: true
    deploymentStrategy: Recreate
    image: "quay.io/redhat/clair-jwt:{{ ocp4_workload_quay_operator.clair_image_tag }}"
    imagePullSecretName: quay-pull-secret
    updateInterval: "{{ ocp4_workload_quay_operator.clair_update_interval }}"
    resources:
      requests:
        memory: "{{ ocp4_workload_quay_operator.clair_memory_request }}"
        cpu: "{{ ocp4_workload_quay_operator.clair_cpu_request }}"
      limits:
        memory: "{{ ocp4_workload_quay_operator.clair_memory_limit }}"
        cpu: "{{ ocp4_workload_quay_operator.clair_cpu_limit }}"
    database:
      deploymentStrategy: Recreate
      resources:
        requests:
          memory: "{{ ocp4_workload_quay_operator.clair_db_memory_request }}"
          cpu: "{{ ocp4_workload_quay_operator.clair_db_cpu_request }}"
        limits:
          memory: "{{ ocp4_workload_quay_operator.clair_db_memory_limit }}"
          cpu: "{{ ocp4_workload_quay_operator.clair_db_cpu_limit }}"
{% endif %}
