apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: quay
  namespace: "{{ _quay_project }}"
spec:
  channel: stable
  installPlanApproval: Automatic
  name: quay
  source: community-operators
  sourceNamespace: openshift-marketplace
  startingCSV: "quay.{{ _quay_operator_csv }}"