apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: quay
  namespace: "{{ _quay_project }}"
  labels:
    csc-owner-name: "installed-community-{{ _quay_project }}"
    csc-owner-namespace: openshift-marketplace  
spec:
  channel: stable
  installPlanApproval: Automatic
  name: quay
  source: "installed-community-{{ _quay_project }}" 
  sourceNamespace: "{{ _quay_project }}"
  startingCSV: "{{ _quay_operator_csv }}"
