kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: cyclonedx-bom-repo-server
  namespace: "{{ ocp4_workload_project_dance_cyclonedx_namespace }}"
spec:
  to:
    kind: Service
    name: cyclonedx-bom-repo-server
    weight: 100
  port:
    targetPort: http-listener
  tls:
    termination: edge
  wildcardPolicy: None