kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: rekor-server
  namespace: rekor
spec:
  to:
    kind: Service
    name: rekor-server
    weight: 100
  port:
    targetPort: 3000-tcp
  tls:
    termination: edge