kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: {{ ocp4_workload.starburst.namespace }}
  namespace: {{ ocp4_workload.starburst.namespace }}
spec:
  to:
    kind: Service
    name: starburst
    weight: 100
  port:
    targetPort: http
  wildcardPolicy: None