apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload.starburst.secret }}
  namespace: {{ ocp4_workload.starburst.namespace }}
stringData:
  starburstdata.license: |-
    {{ starburst_license | replace("'", '"')  }}
type: Opaque