apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_starburst_secret }}
  namespace: {{ ocp4_workload_starburst_namespace }}
data:
  starburstdata.license: >-
    {{ (
      starburst_license | to_json if starburst_license is mapping else starburst_license
    ) | b64encode }}
type: Opaque