---
kind: List
apiVersion: v1
metadata:
  name: gitea-operator
items:
- apiVersion: apiextensions.k8s.io/v1beta1
  kind: CustomResourceDefinition
  metadata:
    name: giteas.gpte.opentlc.com
  spec:
    group: gpte.opentlc.com
    names:
      kind: Gitea
      listKind: GiteaList
      plural: giteas
      singular: gitea
    scope: Namespaced
    subresources:
      status: {}
    version: v1alpha1
    versions:
    - name: v1alpha1
      served: true
      storage: true
- apiVersion: rbac.authorization.k8s.io/v1
  kind: ClusterRole
  metadata:
    name: gitea-operator
  rules:
    - apiGroups:
        - ""
      resources:
        - pods
        - services
        - services/finalizers
        - endpoints
        - persistentvolumeclaims
        - events
        - configmaps
        - secrets
        - serviceaccounts
      verbs:
        - create
        - update
        - delete
        - get
        - list
        - watch
        - patch
    - apiGroups:
       - apps
      resources:
        - deployments
      verbs:
        - create
        - update
        - delete
        - get
        - list
        - watch
        - patch
    - apiGroups:
        - monitoring.coreos.com
      resources:
        - servicemonitors
      verbs:
        - get
        - create
    - apiGroups:
        - apps
      resourceNames:
        - gitea-operator
      resources:
        - deployments/finalizers
      verbs:
        - update
    - apiGroups:
        - ""
      resources:
        - pods
      verbs:
        - get
    - apiGroups:
        - apps
      resources:
        - replicasets
      verbs:
        - get
    - apiGroups:
        - ""
      resources:
        - namespaces
      verbs:
        - get
    - apiGroups:
        - route.openshift.io
      resources:
        - routes
        - routes/custom-host
      verbs:
        - create
        - update
        - delete
        - get
        - list
        - watch
        - patch
    - apiGroups:
        - gpte.opentlc.com
      resources:
        - giteas
        - giteas/status
      verbs:
        - create
        - update
        - delete
        - get
        - list
        - watch
        - patch
- kind: ClusterRoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: gitea-operator
  subjects:
    - kind: ServiceAccount
      name: gitea-operator
      namespace: {{ _namespace }}
  roleRef:
    kind: ClusterRole
    name: gitea-operator
    apiGroup: rbac.authorization.k8s.io
- apiVersion: v1
  kind: ServiceAccount
  metadata:
    name: gitea-operator
- apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: gitea-operator
  spec:
    replicas: 1
    selector:
      matchLabels:
        name: gitea-operator
    template:
      metadata:
        labels:
          name: gitea-operator
      spec:
        serviceAccountName: gitea-operator
        containers:
          - name: ansible
            command:
            - /usr/local/bin/ao-logs
            - /tmp/ansible-operator/runner
            - stdout
            image: quay.io/gpte-devops-automation/gitea-operator:v0.12
            imagePullPolicy: Always
            volumeMounts:
            - mountPath: /tmp/ansible-operator/runner
              name: runner
              readOnly: true
          - name: operator
            image: quay.io/gpte-devops-automation/gitea-operator:v0.12
            imagePullPolicy: Always
            volumeMounts:
            - mountPath: /tmp/ansible-operator/runner
              name: runner
            env:
              - name: WATCH_NAMESPACE
                value: ""
              - name: POD_NAME
                valueFrom:
                  fieldRef:
                    fieldPath: metadata.name
              - name: OPERATOR_NAME
                value: "gitea-operator"
              - name: ANSIBLE_GATHERING
                value: explicit
        volumes:
          - name: runner
            emptyDir: {}