apiVersion: syndesis.io/v1alpha1
kind: Syndesis
metadata:
  name: {{ fuse_cr_name }}
spec:
  components:
    db:
      resources: {}
    meta:
      resources: {}
    prometheus:
      resources: {}
    server:
      features:
        exposeVia3Scale: true
      resources: {}
    upgrade:
      resources: {}
  imageStreamNamespace: openshift
  integration:
    limit: 0
