kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  annotations:
    openshift.io/display-name: JBoss EAP 7.3
    openshift.io/provider-display-name: 'Red Hat, Inc.'
    version: '7.3'
  name: jboss-eap73-openshift
  namespace: openshift
  labels:
    samples.operator.openshift.io/managed: 'true'
spec:
  lookupPolicy:
    local: false
  tags:
    - name: '7.3'
      annotations:
        supports: 'eap:7.3,javaee:8,java:8'
        sampleContextDir: kitchensink
        openshift.io/display-name: JBoss EAP 7.3
        sampleRef: 7.3.x-openshift
        version: latest
        tags: 'builder,eap,javaee,java,jboss,hidden'
        sampleRepo: 'https://github.com/jbossas/eap-quickstarts/openshift'
        description: The latest available build of JBoss EAP 7.3.
        iconClass: icon-eap
      from:
        kind: DockerImage
        name: 'registry.redhat.io/jboss-eap-7/eap73-openjdk8-openshift-rhel7:latest'
      generation: 2
      importPolicy: {}
      referencePolicy:
        type: Local
    - name: 7.3.0
      annotations:
        supports: 'eap:7.3,javaee:8,java:8'
        sampleContextDir: kitchensink
        openshift.io/display-name: JBoss EAP 7.3.0
        sampleRef: 7.3.x-openshift
        version: 7.3.0
        tags: 'builder,eap,javaee,java,jboss,hidden'
        sampleRepo: 'https://github.com/jboss-developer/jboss-eap-quickstarts.git'
        description: JBoss EAP 7.3.0
        iconClass: icon-eap
      from:
        kind: DockerImage
        name: 'registry.redhat.io/jboss-eap-7/eap73-openjdk8-openshift-rhel7:7.3.0'
      generation: 2
      importPolicy: {}
      referencePolicy:
        type: Local
    - name: latest
      annotations:
        supports: 'eap:7.3,javaee:8,java:8'
        sampleContextDir: kitchensink
        openshift.io/display-name: JBoss EAP 7.3
        sampleRef: 7.3.x-openshift
        version: latest
        tags: 'builder,eap,javaee,java,jboss,hidden'
        sampleRepo: 'https://github.com/jbossas/eap-quickstarts/openshift'
        description: The latest available build of JBoss EAP 7.3.
        iconClass: icon-eap
      from:
        kind: DockerImage
        name: 'registry.redhat.io/jboss-eap-7/eap73-openjdk8-openshift-rhel7:latest'
      generation: 2
      importPolicy: {}
      referencePolicy:
        type: Local
