apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ project_display }}"
    openshift.io/requester: "{{ ocp_username }}"
  name: "{{ project_name }}"
spec:
  finalizers:
  - kubernetes
