apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: devspaces
  namespace: openshift-gitops
spec:
  project: default
  source:
    helm:
      parameters:
{% if ocp4_workload_gitops_devspaces_operator_ctl_src_enabled is defined %}
        - name: devSpaces.operator.catalogSource.enabled
          value: '{{ ocp4_workload_gitops_devspaces_operator_ctl_src_enabled }}'
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_ctl_src_name is defined %}
        - name: devSpaces.operator.catalogSource.name
          value: {{ ocp4_workload_gitops_devspaces_operator_ctl_src_name }}
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_ctl_src_image is defined %}
        - name: devSpaces.operator.catalogSource.image
          value: {{ ocp4_workload_gitops_devspaces_operator_ctl_src_image }}
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_ctl_src_image_tag is defined %}
        - name: devSpaces.operator.catalogSource.tag
          value: {{ ocp4_workload_gitops_devspaces_operator_ctl_src_image_tag }}
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_ctl_src_namespace is defined %}
        - name: devSpaces.operator.catalogSource.namespace
          value: {{ ocp4_workload_gitops_devspaces_operator_ctl_src_namespace }}
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_channel is defined %}
        - name: devSpaces.operator.channel
          value: {{ ocp4_workload_gitops_devspaces_operator_channel }}
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_namespace is defined %}
        - name: devSpaces.operator.namespace
          value: {{ ocp4_workload_gitops_devspaces_operator_namespace }}
{% endif %}
{% if ocp4_workload_gitops_devspaces_operator_starting_csv is defined %}
        - name: devSpaces.operator.startingCSV
          value: {{ ocp4_workload_gitops_devspaces_operator_starting_csv }}
{% endif %}
    repoURL: {{ ocp4_workload_gitops_devspaces_gitops_repo }}
    targetRevision: {{ ocp4_workload_gitops_devspaces_gitops_repo_revision }}
    path: charts/devspaces
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ ocp4_workload_gitops_devspaces_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - RespectIgnoreDifferences=true
    - ApplyOutOfSyncOnly=true
    retry:
      backoff:
        duration: 10s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 10m # the maximum amount of time allowed for the backoff strategy
      limit: 15
  ignoreDifferences:
  - group: org.eclipse.che
    kind: CheCluster
    name: devspaces
    jsonPointers:
    - /spec