[windows]
{# These are the activedirectory servers #}
{% for host in groups['windows'] %}
{{ host }}
{% endfor %}

[windows:vars]
ansible_connection=winrm
ansible_user=Administrator
ansible_password={{ windows_password }}
ansible_winrm_server_cert_validation=ignore

[supports]
{% for host in groups['supports'] %}
{{ host }}
{% endfor %}

[all:vars]
{# ###########################################################################
### Ansible Vars
########################################################################### #}
timeout=60
ansible_user={{remote_user}}
