[Desktop Entry]
Version=1.0
Name=Lab Guides
Comment=Opens Firefox with a specific URL
Exec=firefox localhost:8443
Icon=system-logo-icon
Terminal=false
Type=Application
Categories=Network;WebBrowser;
