kind: Securesign
apiVersion: rhtas.redhat.com/v1alpha1
metadata:
  labels:
    app.kubernetes.io/instance: securesign
    app.kubernetes.io/name: securesign
    app.kubernetes.io/part-of: trusted-artifact-signer
  name: securesign
  namespace: trusted-artifact-signer
spec:
  analytics: false
  ctlog: null
  fulcio:
    certificate:
      commonName: fulcio.hostname
      organizationEmail: jdoe@redhat.com
      organizationName: Red Hat
    config:
      OIDCIssuers:
        - ClientID: trusted-artifact-signer
          Issuer: {{ ocp4_workload_trusted_artifact_signer_rhtas_issuer_url }}
          IssuerURL: {{ ocp4_workload_trusted_artifact_signer_rhtas_issuer_url }}
          Type: email
    externalAccess:
      enabled: true
    monitoring:
      enabled: false
  rekor:
    externalAccess:
      enabled: true
    monitoring:
      enabled: false
  trillian:
    database:
      create: true
  tuf:
    externalAccess:
      enabled: true
