apiVersion: rhtas.redhat.com/v1alpha1
kind: Securesign
metadata:
  name: securesign
  labels:
    app.kubernetes.io/instance: securesign
    app.kubernetes.io/name: securesign
    app.kubernetes.io/part-of: trusted-artifact-signer
spec:
  ctlog: null
  fulcio:
    certificate:
      commonName: fulcio.hostname
      organizationEmail: jdoe@redhat.com
      organizationName: Red Hat
    config:
      OIDCIssuers:
        '{{ ocp4_workload_trusted_artifact_signer_rhtas_issuer_url }}':
          ClientID: trusted-artifact-signer
          IssuerURL: {{ ocp4_workload_trusted_artifact_signer_rhtas_issuer_url }}
          Type: email
    externalAccess:
      enabled: true
    monitoring: false
  rekor:
    externalAccess:
      enabled: true
    monitoring: false
  trillian:
    database:
      create: true
  tuf:
    externalAccess:
      enabled: true