{
  "auths":{
    "{{ ocp4_workload_tekton_ansible_ee_registry_host }}":{
    "username": "{{ ocp4_workload_tekton_ansible_ee_registry_username }}",
    "password": "{{ ocp4_workload_tekton_ansible_ee_registry_password }}",
    "auth": "{{(ocp4_workload_tekton_ansible_ee_registry_username+':'+ocp4_workload_tekton_ansible_ee_registry_password)| b64encode }}"
    }
  }
}
