apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: "{{ ocp4_workload_bookbag_setup_image_name }}"
  namespace: "{{ ocp4_workload_bookbag_setup_project }}"
spec:
  source:
    git:
      ref: "{{ ocp4_workload_bookbag_setup_git_version }}"
      uri: "{{ ocp4_workload_bookbag_setup_git_repo }}"
    type: Git
  output:
    to:
      kind: ImageStreamTag
      name: "{{ ocp4_workload_bookbag_setup_image_name }}:latest"
  strategy:
    type: Docker
    dockerStrategy:
      from:
        kind: DockerImage
        name: "{{ ocp4_workload_bookbag_setup_builder_image }}:{{ ocp4_workload_bookbag_setup_builder_image_tag }}"
  triggers:
  - type: ConfigChange
