apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: "{{ ocp4_workload_bookbag_setup_image_name }}"
  namespace: "{{ ocp4_workload_bookbag_setup_project }}"
spec:
  lookupPolicy:
    local: false
