apiVersion: project.openshift.io/v1
kind: Project
metadata:
  name: "{{ ocp4_workload_bookbag_setup_project }}"
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ ocp4_workload_bookbag_setup_project_display }}"
    openshift.io/requester: "{{ ocp_username }}"
