all:
  hosts:
{% for host in hostvars %}
    {{ host }}: {{ hostvars[host] | to_json }}
{% endfor %}
{% if groups | length > 0 %}
  children:
{%   for group in groups if group != 'all' %}
    {{ group }}:
{%     if groups[group] | length > 0 %}
      hosts:
{%       for host in groups[group] %}
        {{ host }}:
{%       endfor %}
{%     endif %}
{%   endfor %}
{% endif %}
