
module colord-add 1.0;

require {
	type unconfined_service_t;
	type colord_t;
	class dir search;
	class file getattr;
	class file open;
	class file read;
}

#============= colord_t ==============
allow colord_t unconfined_service_t:dir search;
allow colord_t unconfined_service_t:file getattr;
allow colord_t unconfined_service_t:file open;
allow colord_t unconfined_service_t:file read;
