apiVersion: osb.openshift.io/v1alpha1
kind: AutomationBroker
metadata:
  name: ansible-service-broker
  namespace: "{{ _broker_project }}"
spec:
  createBrokerNamespace: 'false'
  waitForBroker: 'false'
  registries:
{% if _install_local_apbs %}
  - type: local_openshift
    name: localregistry
    namespaces:
      - openshift
    white_list:
      - ".*-apb$"
{% endif %}
{% if _install_all_docker_apbs %}
  - type: dockerhub
    name: dh
    url: https://registry.hub.docker.com
    org: ansibleplaybookbundle
    tag: latest
    white_list:
    - ".*-apb$"
    black_list:
    - ".*automation-broker-apb$"
{% endif %}
{% if _install_workshop_apbs_docker %}
  - name: workshopapbsdocker
    type: dockerhub
    url: https://registry.hub.docker.com
    org: "{{ _workshop_apb_org_docker }}"
    tag: "{{ _workshop_apb_tag }}"
    white_list:
    - ".*-apb$"
{% endif %}
{% if _install_workshop_apbs_quay %}
  - name: workshopapbsquay
    type: quay
    url: https://quay.io
    org: "{{ _workshop_apb_org_quay }}"
    tag: "{{ _workshop_apb_tag }}"
    white_list:
    - ".*-apb$"
{% endif %}