apiVersion: osb.openshift.io/v1alpha1
kind: AutomationBroker
metadata:
  name: ansible-service-broker
  namespace: "{{ _broker_project }}"
spec:
  createBrokerNamespace: 'false'
  waitForBroker: 'false'
  registries:
  - type: local_openshift
    name: localregistry
    namespaces:
      - openshift
    white_list:
      - ".*-apb$"
{% if _install_all_docker_apbs == "true" %}
  - type: dockerhub
    name: dh
    url: https://registry.hub.docker.com
    org: ansibleplaybookbundle
    tag: latest
    white_list:
    - ".*-apb$"
    black_list:
    - ".*automation-broker-apb$"
{% endif %}
{% if _install_workshop_apbs == "true" %}
  - type: dockerhub
    name: openshiftapb
    org: "{{ _workshop_apb_org }}"
    tag: "{{ _workshop_apb_tag }}"
    white_list:
      - ".*-apb$"
{% endif %}