apiVersion: osb.openshift.io/v1
kind: AutomationBroker
metadata:
  name: ansible-service-broker
  namespace: "{{ _asb_broker_project }}"
spec:
  createBrokerNamespace: "false"
  waitForBroker: "false"
  registries:
{% if _asb_install_default_apbs %}
  - type: rhcc
    name: rhcc
    url: 'https://registry.redhat.io'
    white_list:
      - .*-apb$
    auth_type: secret
    auth_name: asb-registry-auth
{% endif %}
{% if _asb_install_local_apbs %}
  - name: localregistry
    type: local_openshift
    namespaces:
      - openshift
    white_list:
      - ".*-apb$"
{% endif %}
{% if _asb_install_all_docker_apbs %}
  - name: dockerhuball
    type: dockerhub
    org: ansibleplaybookbundle
    tag: latest
    white_list:
    - ".*-apb$"
    black_list:
    - ".*automation-broker-apb$"
{% endif %}
{% if _asb_install_workshop_apbs_docker %}
  - name: workshopapbsdocker
    type: dockerhub
    org: "{{ _asb_workshop_apb_org_docker }}"
    tag: "{{ _asb_workshop_apb_tag }}"
    white_list:
    - ".*-apb$"
{% endif %}
{% if _asb_install_workshop_apbs_quay %}
  - name: workshopapbsquay
    type: quay
    url: https://quay.io
    org: "{{ _asb_workshop_apb_org_quay }}"
    tag: "{{ _asb_workshop_apb_tag }}"
    white_list:
    - ".*-apb$"
{% endif %}
