apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "installed-redhat-{{ _asb_broker_project }}"
  namespace: "{{ _asb_broker_project }}"
  labels:
    csc-owner-name: "installed-redhat-{{ _asb_broker_project }}"
    csc-owner-namespace: openshift-marketplace
spec:
  address: redhat-operators.openshift-marketplace.svc.cluster.local:50051
  displayName: Red Hat Operators
  icon:
    base64data: ""
    mediatype: ""
  publisher: Red Hat
  sourceType: grpc
