kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: automation-broker-binding
subjects:
- kind: ServiceAccount
  name: ansible-service-broker
  namespace: "{{ _broker_project }}"
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
