apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: automation-broker-group
  namespace: "{{ _asb_broker_project }}"
  annotations:
    olm.providedAPIs: AutomationBroker.v1.osb.openshift.io,Bundle.v1alpha1.automationbroker.io,BundleBinding.v1alpha1.automationbroker.io,BundleInstance.v1alpha1.automationbroker.io
spec:
  targetNamespaces:
  - "{{ _asb_broker_project }}"
