apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_kafka_workshop_workshop_application_name }}
  namespace: {{ ocp4_workload_kafka_workshop_workshop_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_kafka_workshop_workshop_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_kafka_workshop_workshop_gitops_repo }}
    targetRevision: {{ ocp4_workload_kafka_workshop_workshop_gitops_repo_tag }}
    path: {{ ocp4_workload_kafka_workshop_workshop_gitops_repo_path }}
    helm:
      valuesObject:
        workshop:
          loop:
            count: {{ ocp4_workload_kafka_workshop_user_count }}
          subDomain: {{ r_openshift_subdomain }}
        devspaces:
          devspaces:
            values:
              loop:
                count: {{ ocp4_workload_kafka_workshop_user_count }}
              subDomain: {{ r_openshift_subdomain }}
