---
apiVersion: automationhub.ansible.com/v1beta1
kind: AutomationHub
metadata:
  name: {{ ocp4_workload_ansible_automation_platform_app_name }}-hub
  namespace: {{ ocp4_workload_ansible_automation_platform_project }}
spec:
  gunicorn_content_workers: {{ ocp4_workload_ansible_automation_platform_hub_content_workers }}
  gunicorn_api_workers: {{ ocp4_workload_ansible_automation_platform_hub_api_workers }}
  ingress_type: Route
  route_tls_termination_mechanism: Edge
  no_log: true
  file_storage_size: {{ ocp4_workload_ansible_automation_platform_hub_file_storage_size }}
  file_storage_access_mode: {{ ocp4_workload_ansible_automation_platform_hub_file_storage_access_mode }}
  image_pull_policy: IfNotPresent
  force_drop_db: false
  loadbalancer_port: 80
  loadbalancer_protocol: http
