---
apiVersion: aap.ansible.com/v1alpha1
kind: AnsibleAutomationPlatform
metadata:
  name: {{ ocp4_workload_ansible_automation_platform_app_name }}
  namespace: {{ ocp4_workload_ansible_automation_platform_project }}
spec:
  image_pull_policy: IfNotPresent
  controller:
    disabled: {{ ocp4_workload_ansible_automation_platform_disable_controller }}
  eda:
    disabled: {{ ocp4_workload_ansible_automation_platform_disable_eda }}
  hub:
{% if not ocp4_workload_ansible_automation_platform_disable_hub %}

    disabled: false
    gunicorn_content_workers: {{ ocp4_workload_ansible_automation_platform_hub_content_workers }}
    gunicorn_api_workers: {{ ocp4_workload_ansible_automation_platform_hub_api_workers }}
    file_storage_size: {{ ocp4_workload_ansible_automation_platform_hub_file_storage_size }}
    file_storage_access_mode: {{ ocp4_workload_ansible_automation_platform_hub_file_storage_access_mode }}
    worker:
      replicas: {{ ocp4_workload_ansible_automation_platform_hub_content_workers }}
    content:
      replicas: {{ ocp4_workload_ansible_automation_platform_hub_content_workers }}
{% else %}

    disabled: true
{%endif%}
  lightspeed:
    disabled: {{ ocp4_workload_ansible_automation_platform_disable_lightspeed }}
  no_log: true
  redis_mode: standalone
  route_tls_termination_mechanism: Edge
