apiVersion: "istio.openshift.com/v1alpha1"
kind: "Installation"
metadata:
  name: "istio-installation"
spec:
  deployment_type: openshift
  istio:
    authentication: true
    community: false
    prefix: openshift-istio-tech-preview/
    version: 0.1.0
  jaeger:
    prefix: distributed-tracing-tech-preview/
    version: 1.6.0
    elasticsearch_memory: 1Gi
  launcher:
    openshift:
      user: {{ openshift_username }}
      password: {{ openshif_password }}
    github:
      username: {{ github_username }}
      token: {{ github_token }}
    catalog:
      filter: filter
      branch: branch
      repo: repo