{% if cloud_provider == 'ec2' %}
Host ec2* *.internal
{% elif cloud_provider == 'osp' %}
Host *.example.com
{% endif %}	
  User {{remote_user}}
{% if use_own_key|bool %}
  IdentityFile ~/.ssh/{{env_authorized_key}}.pem
{% else %}
  IdentityFile ~/.ssh/{{key_name}}.pem
{% endif %}
  ForwardAgent yes
  StrictHostKeyChecking no
  ConnectTimeout 60
  ConnectionAttempts 10
