apiVersion: v1
kind: ConfigMap
metadata:
  name: jupyter-singleuser-profiles-workshop
  labels:
    jupyterhub: singleuser-profiles
data:
  jupyterhub-singleuser-profiles.yaml: |
      profiles:
      - name: globals
        env:
          S3_ENDPOINT_URL: http://{{ rgw_service.resources[0].spec.clusterIP }}:{{ rgw_service_port }}
        resources:
          mem_limit: {{ jupyter_notebook_memory }}
          cpu_limit: {{ jupyter_notebook_cpu }}
      - name: Spark Notebook
        images:
        - '{{ workshop_jupyter_notebook_imagestream_name }}:{{ workshop_jupyter_notebook_imagestream_tag }}'
        env:
          PYSPARK_SUBMIT_ARGS: '{{ spark_submit_args }}'
          PYSPARK_DRIVER_PYTHON: 'jupyter'
          PYSPARK_DRIVER_PYTHON_OPTS: 'notebook'
          SPARK_HOME: '/opt/app-root/lib/python3.6/site-packages/pyspark/'
          PYTHONPATH: '{{ spark_pythonpath }}'
        services:
          spark:
            template: '{{ spark_configmap_template }}'
            parameters:
              WORKER_NODES: '{{ spark_worker_count }}'
              MASTER_NODES: '{{ spark_master_count }}'
              MASTER_MEMORY_LIMIT: '{{ spark_master_memory }}'
              MASTER_CPU_LIMIT: '{{ spark_master_cpu }}'
              MASTER_MEMORY_REQUEST: '{{ spark_master_memory }}'
              MASTER_CPU_REQUEST: '{{ spark_master_cpu }}'
              WORKER_MEMORY_LIMIT: '{{ spark_worker_memory }}'
              WORKER_CPU_LIMIT: '{{ spark_worker_cpu }}'
              WORKER_MEMORY_REQUEST: '{{ spark_worker_memory }}'
              WORKER_CPU_REQUEST: '{{ spark_worker_cpu }}'
              SPARK_IMAGE: '{{ spark_node_image }}'
            return:
              SPARK_CLUSTER: 'metadata.name'
      sizes:
      - name: Small
        resources:
          mem_limit: 2Gi
          cpu_limit: 2
      - name: Medium
        resources:
          mem_limit: 4Gi
          cpu_limit: 4
      - name: Large
        resources:
          mem_limit: 8Gi
          cpu_limit: 8
