apiVersion: v1
kind: ConfigMap
metadata:
  name: jupyter-singleuser-profiles-workshop
  labels:
    jupyterhub: singleuser-profiles
data:
  jupyterhub-singleuser-profiles.yaml: |
      profiles:
      - name: globals
        env:
          S3_ENDPOINT_URL: {{ ocp4_workload_rhte_analytics_data_ocp_workshop_noobaa_endpoint_url }}
        resources:
          mem_limit: {{ ocp4_workload_rhte_analytics_data_ocp_workshop_jupyter_notebook_memory }}
          cpu_limit: {{ ocp4_workload_rhte_analytics_data_ocp_workshop_jupyter_notebook_cpu }}
      - name: Spark Notebook
        images:
        - 'workshop-spark-notebook:{{ ocp4_workload_rhte_analytics_data_ocp_workshop_jupyter_notebook_imagestream_tag }}'
        env:
          PYSPARK_SUBMIT_ARGS: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_submit_args }}'
          PYSPARK_DRIVER_PYTHON: 'jupyter'
          PYSPARK_DRIVER_PYTHON_OPTS: 'notebook'
          SPARK_HOME: '/opt/app-root/lib/python3.6/site-packages/pyspark/'
          PYTHONPATH: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_pythonpath }}'
        services:
          spark:
            resources:
            - name: spark-cluster-template
              path: notebookPodServiceTemplate
            - name: spark-cluster-template
              path: sparkClusterTemplate
            configuration:
              worker_nodes: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_worker_count }}'
              master_nodes: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_master_count }}'
              master_memory_limit: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_master_memory }}'
              master_cpu_limit: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_master_cpu }}'
              master_memory_request: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_master_memory }}'
              master_cpu_request: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_master_cpu }}'
              worker_memory_limit: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_worker_memory }}'
              worker_cpu_limit: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_worker_cpu }}'
              worker_memory_request: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_worker_memory }}'
              worker_cpu_request: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_worker_cpu }}'
              spark_image: '{{ ocp4_workload_rhte_analytics_data_ocp_workshop_spark_node_image }}'
            return:
              SPARK_CLUSTER: 'metadata.name'
      sizes:
      - name: Small
        resources:
          mem_limit: 2Gi
          cpu_limit: 2
      - name: Medium
        resources:
          mem_limit: 4Gi
          cpu_limit: 4
      - name: Large
        resources:
          mem_limit: 8Gi
          cpu_limit: 8
