apiVersion: v1
data:
  profile: |
    env:
      AWS_ACCESS_KEY_ID: {{ s3_access_key }}
      AWS_SECRET_ACCESS_KEY: {{ s3_secret_key }}
      JUPYTER_PRELOAD_REPOS: "{{ workshop_preload_repos }}"
      NAMESPACE: "{{ project_name }}"
    gpu: '0'
    last_selected_image: {{ workshop_jupyter_notebook_imagestream_name }}
    last_selected_size: None
kind: ConfigMap
metadata:
  labels:
    app: jupyterhub
  name: jupyterhub-singleuser-profile-{{ user_name }}
  namespace: {{ project_name }}
