apiVersion: v1
data:
  profile: |
    env:
      AWS_ACCESS_KEY_ID: {{ f_s3_access_key }}
      AWS_SECRET_ACCESS_KEY: {{ f_s3_secret_key }}
      JUPYTER_PRELOAD_REPOS: "{{ ocp4_workload_rhte_analytics_data_ocp_workshop_preload_repos }}"
      NAMESPACE: "{{ ocp4_workload_rhte_analytics_data_ocp_workshop_namespace }}"
      WORKSHOP_OBJECT_STORE_BUCKET: "{{ f_user_bucket_name }}"
    gpu: '0'
    last_selected_image: "workshop-spark-notebook:{{ ocp4_workload_rhte_analytics_data_ocp_workshop_jupyter_notebook_imagestream_tag }}"
    last_selected_size: None
kind: ConfigMap
metadata:
  labels:
    app: jupyterhub
  name: jupyterhub-singleuser-profile-{{ f_user_name }}
  namespace: {{ ocp4_workload_rhte_analytics_data_ocp_workshop_namespace }}
