apiVersion: opendatahub.io/v1alpha1
kind: OpenDataHub
metadata:
  name: example-opendatahub
spec:
  aicoe-jupyterhub:
    odh_deploy: true
    notebook_memory: "{{ jupyter_notebook_memory }}"
    registry: "{{ jupyterhub_image_registry }}"
    repository: "{{ jupyterhub_image_repository }}"
    storage_class: ''
    db_memory: 1Gi
    jupyterhub_memory: "{{ jupyterhub_memory }}"
    s3_endpoint_url: "{{ noobaa_endpoint_url }}"

    spark_worker_nodes: "{{ spark_worker_count }}"
    spark_master_nodes: "{{ spark_master_count }}"
    spark_memory: "{{ spark_worker_memory }}"
    spark_cpu: "{{ spark_worker_cpu }}"
    spark_image: "{{ spark_node_image }}"
    spark_pyspark_submit_args: "{{ spark_submit_args }}"
    spark_pythonpath: "/opt/app-root/lib/python3.6/site-packages/pyspark/python/:/opt/app-root/lib/python3.6/site-packages/pyspark/python/lib/py4j-0.10.7-src.zip"
  spark-operator:
    odh_deploy: true
  monitoring:
    odh_deploy: true
  kafka:
    odh_deploy: true
  seldon:
    odh_deploy: true
