apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: "{{ user_name }}-odh-obc"
spec:
  generateBucketName: "{{ user_name }}-bucket"
  storageClassName: openshift-storage.noobaa.io
