apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  annotations:
    openshift.io/image.dockerRepositoryCheck: "2019-10-07T14:26:15Z"
  name: workshop-spark-notebook
  labels:
    component.opendatahub.io/name: jupyterhub
    opendatahub.io/component: "true"
    opendatahub.io/notebook-image: "true"
spec:
  lookupPolicy:
    local: false
  tags:
  - annotations: null
    from:
      kind: DockerImage
      name: {{ ocp4_workload_rhte_analytics_data_ocp_workshop_jupyter_notebook_imagestream_image }}
    importPolicy: {}
    name: {{ ocp4_workload_rhte_analytics_data_ocp_workshop_jupyter_notebook_imagestream_tag }}
    referencePolicy:
      type: Source
