apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  # This a hack until we can include additional notebooks in the singleuser profile
  name: "{{ workshop_jupyter_notebook_imagestream_name }}"
  namespace: "{{ project_name }}"
spec:
  lookupPolicy:
    local: false
  tags:
    - from:
        kind: ImageStreamTag
        name: "spark-notebook:spark-2.3.2_hadoop-2.8.5"
        namespace: openshift
      name: "{{ workshop_jupyter_notebook_imagestream_tag }}"
      referencePolicy:
        type: Source
