---
baseDomain: {{ guid }}{{subdomain_base_suffix}}
clusterID: {{ guid | to_uuid }}
machines:
- name: master
  replicas: {{ master_instance_count }}
  platform:
    aws:
      type: {{ master_instance_type }}
- name: worker
  replicas: {{ worker_instance_count }}
  platform:
    aws:
      type: {{ worker_instance_type }}
metadata:
  creationTimestamp: null
  name: cluster-{{ guid }}
networking:
  clusterNetworks:
  - cidr: 10.128.0.0/14
    hostSubnetLength: 9
  serviceCIDR: 172.30.0.0/16
  type: OpenshiftSDN
platform:
  aws:
    region: {{ aws_region_final | d(aws_region) }}
    vpcCIDRBlock: 10.0.0.0/16
    userTags: {{ hostvars.localhost.cf_tags_final | d({}) | to_json }}
pullSecret: '{{ ocp4_token }}'
sshKey: |
  {{ idrsapub.content | b64decode }}
