apiVersion: v1
data:
  password: "{{ retail_rhods_project_gitea_password }}"
  username: "{{ retail_rhods_project_gitea_username }}"
kind: Secret
metadata:
  name: gitea-secret
  namespace: retail-prod-rhods-project
  annotations:
    tekton.dev/git-0: {{ _ocp4_workload_big_demo_gitea_repo_route_url }}/lab-user
type: kubernetes.io/basic-auth
