apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: retail-prod
  namespace: openshift-gitops
spec:
  destination:
    namespace: retail-prod-rhods-project
    server: https://kubernetes.default.svc
  project: default
  source:
    path: overlays/production
    repoURL: https://gitea.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}/{{ ocp4_workload_gitea_aiml_user }}/retail-prod-gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated:
      prune: true
