apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: {{ obsandbox_3scale_resource_name }}
  labels: {}
  namespace: {{ obsandbox_3scale_namespace }}
spec:
  imageStreamTagImportInsecure: false
  resourceRequirementsEnabled: false
  podDisruptionBudget:
    enabled: false
  wildcardDomain: sandbox.{{ ocp_apps_domain }}
  system:
    database:
      postgresql: {}
    fileStorage:
      simpleStorageService:
        configurationSecretRef:
          name: {{ obsandbox_3scale_object_storage_secret_ref }}
