apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: 3scale-operatorgroup
  namespace: {{ obsandbox_3scale_namespace }}
spec:
  targetNamespaces:
  - {{ obsandbox_3scale_namespace }}