---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: microcks-operatorgroup
  namespace: {{ obsandbox_microcks_namespace }}
spec:
  targetNamespaces:
  - {{ obsandbox_microcks_namespace }}