kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config
data:
  app-config.yaml: |-
    catalog.http.port: 8080
    connection_string: mongodb://catalog-mongodb:27017
    db_name: {{ ocp4_workload_fuse_online_catalog_database }}
    username: {{ ocp4_workload_fuse_online_catalog_db_user }}
    password: {{ ocp4_workload_fuse_online_catalog_db_password }}