apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: clusterquota-{{ ocp_username }}-{{ guid }}
  labels:
    workload: ocp-workload-fuse-ignite
spec:
  quota:
    hard:
      secrets: '{{ ocp4_workload_fuse_online_quota_secrets }}'
      persistentvolumeclaims: '{{ ocp4_workload_fuse_online_quota_persistentvolumeclaims }}'
      requests.memory: '{{ ocp4_workload_fuse_online_quota_requests_memory }}'
      pods: '{{ ocp4_workload_fuse_online_quota_pods }}'
      requests.storage: '{{ ocp4_workload_fuse_online_quota_requests_storage }}'
      limits.cpu: '{{ ocp4_workload_fuse_online_quota_limits_cpu }}'
      limits.memory: '{{ ocp4_workload_fuse_online_quota_limits_memory }}'
      configmaps: '{{ ocp4_workload_fuse_online_quota_configmaps }}'
      services: '{{ ocp4_workload_fuse_online_quota_services }}'
      requests.cpu: '{{ ocp4_workload_fuse_online_quota_requests_cpu }}'
  selector:
    annotations:
      openshift.io/requester: {{ ocp_username }}
    labels:
      matchLabels:
        workload: ocp4-workload-fuse-online-{{ guid }}