apiVersion: operators.coreos.com/v1
kind: CatalogSourceConfig
metadata:
  name: "installed-kubefed-{{ _kubefed_project }}"
  namespace: openshift-marketplace
spec:
  csDisplayName: Community Operators
  csPublisher: Community
  targetNamespace: "{{ _kubefed_project }}"
  packages: kubefed-operator
