apiVersion: v1
kind: Service
metadata:
  labels:
    app: pacman-lb
  name: pacman-lb
  namespace: "{{ _haproxy_project }}"
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: pacman-lb
  sessionAffinity: None
  type: ClusterIP
