apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: pacman-lb
  name: pacman-lb
  namespace: "{{ _haproxy_project }}"
spec: 
  port:
    targetPort: 8080
  subdomain: ""
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: pacman-lb
    weight: 100
  wildcardPolicy: None