apiVersion: v1
kind: Template
metadata:
  creationTimestamp: null
  name: project-request
objects:
{% if ovs_plugin == "networkpolicy" %}
- kind: NetworkPolicy
  apiVersion: networking.k8s.io/v1
  metadata:
    name: allow-from-all-namespaces
  spec:
    podSelector: {}
    ingress:
    - from:
      - namespaceSelector: {}
- apiVersion: networking.k8s.io/v1
  kind: NetworkPolicy
  metadata:
    name: allow-from-default-namespace
  spec:
    podSelector:
    ingress:
    - from:
      - namespaceSelector:
          matchLabels:
            name: default
{% endif %}
- apiVersion: "v1"
  kind: "LimitRange"
  metadata:
    name: "${PROJECT_NAME}-core-resource-limits"
  spec:
    limits:
        - type: "Container"
          max:
            memory: 6Gi
          min:
            memory: 6Mi
          default:
            cpu: 500m
            memory: 1.5Gi
          defaultRequest:
            cpu: 50m
            memory: 256Mi
        - type: "Pod"
          max:
            memory: 12Gi
          min:
            memory: 6Mi

- apiVersion: v1
  kind: Project
  metadata:
    annotations:
      openshift.io/description: ${PROJECT_DESCRIPTION}
      openshift.io/display-name: ${PROJECT_DISPLAYNAME}
      openshift.io/requester: ${PROJECT_REQUESTING_USER}
    creationTimestamp: null
    name: ${PROJECT_NAME}
  spec: {}
  status: {}

- apiVersion: v1
  kind: RoleBinding
  groupNames:
  - system:serviceaccounts:${PROJECT_NAME}
  metadata:
    creationTimestamp: null
    name: system:image-pullers
    namespace: ${PROJECT_NAME}
  roleRef:
    name: system:image-puller
  subjects:
  - kind: SystemGroup
    name: system:serviceaccounts:${PROJECT_NAME}
  userNames: null

- apiVersion: v1
  kind: RoleBinding
  groupNames: null
  metadata:
    creationTimestamp: null
    name: system:image-builders
    namespace: ${PROJECT_NAME}
  roleRef:
    name: system:image-builder
  subjects:
  - kind: ServiceAccount
    name: builder
  userNames:
  - system:serviceaccount:${PROJECT_NAME}:builder

- apiVersion: v1
  kind: RoleBinding
  groupNames: null
  metadata:
    creationTimestamp: null
    name: system:deployers
    namespace: ${PROJECT_NAME}
  roleRef:
    name: system:deployer
  subjects:
  - kind: ServiceAccount
    name: deployer
  userNames:
  - system:serviceaccount:${PROJECT_NAME}:deployer

- apiVersion: v1
  kind: RoleBinding
  groupNames: null
  metadata:
    creationTimestamp: null
    name: admin
    namespace: ${PROJECT_NAME}
  roleRef:
    name: admin
  subjects:
  - kind: User
    name: ${PROJECT_ADMIN_USER}
  userNames:
  - ${PROJECT_ADMIN_USER}
parameters:
- name: PROJECT_NAME
- name: PROJECT_DISPLAYNAME
- name: PROJECT_DESCRIPTION
- name: PROJECT_ADMIN_USER
- name: PROJECT_REQUESTING_USER
