apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ _terminal_name }}"
  namespace: "{{ _terminal_project }}"
  labels:
    app: "{{ _terminal_name }}"
    class: spawner
    spawner: terminal-server
spec:
  strategy: 
    type: Recreate
  replicas: 1
  selector: 
    matchLabels:
      app: "{{ _terminal_name }}"
      deployment: "{{ _terminal_name }}"
  template: 
    metadata: 
      labels: 
        app: "{{ _terminal_name }}"
        deployment: "{{ _terminal_name }}"
        class: spawner
        spawner: terminal-server
    spec: 
      serviceAccountName: "{{ _terminal_name }}-{{ _terminal_project }}-hub"
      containers: 
      - name: spawner
        image: "{{ _terminal_jupyterhub_image }}"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
        env: 
        - name: CONFIGURATION_TYPE
          value: "terminal-server"
        - name: APPLICATION_NAME
          value: "{{ _terminal_name }}"
        - name: TERMINAL_IMAGE
          value: "{{ _terminal_image }}"
        - name: WORKSHOP_MEMORY
          value: "{{ _terminal_workshop_memory }}"
        - name: CONSOLE_MEMORY
          value: "{{ _terminal_console_memory }}"
        - name: CONSOLE_BRANDING
          value: "{{ _terminal_console_branding }}"
        - name: CONSOLE_VERSION
          value: "{{ _terminal_console_version }}"
        - name: VOLUME_SIZE
          value: "{{ _terminal_volume_size }}"
        - name: ADMIN_USERS
          value: "{{ _terminal_admin_users }}"
        - name: OPENSHIFT_PROJECT
          value: ""
        - name: IDLE_TIMEOUT
          value: "{{ _terminal_idle_timeout }}"
        - name: DOWNLOAD_URL
          value: "{{ _terminal_download_url }}"
        - name: WORKSHOP_FILE
          value: "{{ _terminal_workshop_file }}"
        - name: OC_VERSION
          value: "{{ _terminal_oc_version }}"
        - name: ODO_VERSION
          value: "{{ _terminal_odo_version }}"
        - name: KUBECTL_VERSION
          value: "{{ _terminal_kubectl_version }}"
        - name: OAUTH_CLIENT_SECRET
          value: "{{ _oauth_client_secret }}"
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /hub/api
            port: 8080
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /hub/api
            port: 8080
            scheme: HTTP
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          requests:
            memory: "{{ _terminal_memory_request }}"
          limits:
            memory: "{{ _terminal_memory_limit }}"
        volumeMounts: 
        - mountPath: "/opt/app-root/data"
          name: data
        - name: config
          mountPath: "/opt/app-root/configs"
      volumes: 
      - name: data
        persistentVolumeClaim: 
          claimName: "{{ _terminal_name }}-hub-data"
      - name: config
        configMap: 
          name: "{{ _terminal_name}}-cfg"
          defaultMode: 420