kind: OAuthClient
apiVersion: oauth.openshift.io/v1
metadata:
  name: {{ _terminal_name }}-{{ _terminal_project }}-console
  labels:
    app: {{ _terminal_name }}-{{ _terminal_project }}
    spawner: terminal-server
    class: spawner
secret: {{ _oauth_client_secret }}
grantMethod: auto
redirectURIs:
- https://{{ _terminal_name }}-{{ _terminal_project }}.{{ apps_hostname_suffix }}/hub/oauth_callback