apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: "{{ _terminal_name }}-hub-data"
  namespace: "{{ _terminal_project }}"
  labels: 
    app: "{{ _terminal_name }}"
    class: spawner
    spawner: terminal-server
spec: 
  accessModes: 
  - ReadWriteOnce
  resources: 
    requests: 
      storage: "{{ _terminal_volume_size }}"
