apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata: 
  name: "{{ _terminal_name }}-edit"
  namespace: "{{ _terminal_project }}"
  labels: 
    app: "{{ _terminal_name }}"
    spawner: terminal-server
    class: spawner
subjects: 
- kind: ServiceAccount
  name: "{{ _terminal_name }}-{{ _terminal_project }}-hub"
  namespace: "{{ _terminal_project }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit