apiVersion: v1
kind: ServiceAccount
metadata: 
  name: "{{ _terminal_name }}-hub"
  namespace: "{{ _terminal_project }}"
  labels: 
    app: "{{ _terminal_name }}"
  annotations: 
    serviceaccounts.openshift.io/oauth-redirectreference.first: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ _terminal_name }}"}}'
    serviceaccounts.openshift.io/oauth-redirecturi.first: hub/oauth_callback
    serviceaccounts.openshift.io/oauth-want-challenges: "false"
