apiVersion: v1
kind: Service
metadata: 
  name: "{{ _terminal_name }}"
  namespace: "{{ _terminal_project }}"
  labels:
    app: "{{ _terminal_name }}"
    class: spawner
    spawner: terminal-server
spec: 
  ports: 
  - name: "8080-tcp"
    protocol: "TCP"
    port: 8080
    targetPort: 8080
  - name: "8081-tcp"
    protocol: "TCP"
    port: 8081
    targetPort: 8081
  selector:
    app: "{{ _terminal_name }}"
  type: ClusterIP