apiVersion: v1
kind: Service
metadata:
  labels:
    app: "{{ _terminal_name }}"
  name: "{{ _terminal_name }}"
  namespace: "{{ _terminal_namespace }}"
spec:
  ports:
  - name: 10080-tcp
    port: 10080
    protocol: TCP
    targetPort: 10080
  selector:
    app: "{{ _terminal_name }}"
  sessionAffinity: None
  type: ClusterIP
