apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ _terminal_name }}"
  namespace: "{{ _terminal_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ _terminal_name }}"
  template:
    metadata:
      labels:
        app: "{{ _terminal_name }}"
    spec:
      containers:
        - name: "{{ _terminal_name }}"
          image: "{{ _terminal_image }}"
          imagePullPolicy: IfNotPresent
