---
apiVersion: v1
kind: Service
metadata:
  name: webapp
  namespace: {{ ocp4_workload_virt_roadshow_vms_namespace }}
spec:
  selector:
    env: webapp
  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
