---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  annotations:
    app.openshift.io/connects-to: '[{"apiVersion":"kubevirt.io/v1","kind":"VirtualMachine","name":"winweb02"},{"apiVersion":"kubevirt.io/v1","kind":"VirtualMachine","name":"winweb01"}]'
  labels:
    app: database
    app.kubernetes.io/part-of: 3-Tier-App
  name: database
  namespace: {{ ocp4_workload_virt_roadshow_vms_namespace }}
spec:
  dataVolumeTemplates:
  - apiVersion: cdi.kubevirt.io/v1beta1
    kind: DataVolume
    metadata:
      name: database
    spec:
      source:
        http:
          url: {{ ocp4_workload_virt_roadshow_vms_image_url }}/database.qcow2
      storage:
        resources:
          requests:
            storage: 16Gi
  running: {{ ocp4_workload_virt_roadshow_vms_start_vms | bool }}
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: centos9
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: database
        kubevirt.io/size: small
    spec:
{% if ocp4_workload_virt_roadshow_vms_node_selector_enabled | bool %}
      nodeSelector:
        {{ ocp4_workload_virt_roadshow_vms_node_selector }}
{% endif %}
      domain:
        cpu:
          cores: 1
          sockets: 1
          threads: 1
        devices:
          disks:
          - disk:
              bus: virtio
            name: rootdisk
          interfaces:
          - masquerade: {}
            model: virtio
            name: default
          networkInterfaceMultiqueue: true
          rng: {}
        features:
          smm:
            enabled: true
        firmware:
          bootloader:
            bios: {}
        machine:
          type: {{ ocp4_workload_virt_roadshow_vms_machine_type }}
        resources:
          requests:
            memory: 2Gi
      evictionStrategy: LiveMigrate
      networks:
      - name: default
        pod: {}
      terminationGracePeriodSeconds: 180
      volumes:
      - dataVolume:
          name: database
        name: rootdisk
