---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  labels:
    app: winweb02
    app.kubernetes.io/part-of: 3-Tier-App
    vm.kubevirt.io/template.revision: '1'
    vm.kubevirt.io/template.version: v0.25.0
  name: winweb02
  namespace: {{ ocp4_workload_virt_roadshow_vms_namespace }}
spec:
  dataVolumeTemplates:
  - apiVersion: cdi.kubevirt.io/v1beta1
    kind: DataVolume
    metadata:
      name: winweb02
    spec:
      source:
        http:
          url: {{ ocp4_workload_virt_roadshow_vms_image_url }}/winweb02.qcow2
      storage:
        resources:
          requests:
            storage: 90Gi
  running: {{ ocp4_workload_virt_roadshow_vms_start_vms | bool }}
  template:
{% if not ocp4_workload_virt_roadshow_vms_roadshow_setup | bool %}
    metadata:
      labels:
        env: webapp
{% endif %}
    spec:
{% if ocp4_workload_virt_roadshow_vms_node_selector_enabled | bool %}
      nodeSelector:
        {{ ocp4_workload_virt_roadshow_vms_node_selector }}
{% endif %}
      domain:
        clock:
          timer:
            hpet:
              present: false
            hyperv: {}
            pit:
              tickPolicy: delay
            rtc:
              tickPolicy: catchup
          utc: {}
        cpu:
          cores: 1
          sockets: 2
          threads: 1
        devices:
          disks:
          - disk:
              bus: sata
            name: rootdisk
          inputs:
          - bus: usb
            name: tablet
            type: tablet
          interfaces:
          - masquerade: {}
            model: e1000e
            name: default
        features:
          acpi: {}
          apic: {}
          hyperv:
            frequencies: {}
            ipi: {}
            relaxed: {}
            reset: {}
            runtime: {}
            spinlocks:
              spinlocks: 8191
            synic: {}
            synictimer:
              direct: {}
            tlbflush: {}
            vapic: {}
            vpindex: {}
          smm:
            enabled: true
        firmware:
          bootloader:
            efi: {}
        machine:
          type: {{ ocp4_workload_virt_roadshow_vms_machine_type }}
        resources:
          requests:
            memory: 6Gi
      evictionStrategy: LiveMigrate
      networks:
      - name: default
        pod: {}
      terminationGracePeriodSeconds: 3600
      volumes:
      - dataVolume:
          name: winweb02
        name: rootdisk
