#!/bin/bash
source {{ aws_jumpbox_virtualenv_home }}/bin/activate

ansible-playbook {{ aws_jumpbox_home }}/delete_jumpbox.yml -e guid={{ guid }} -e cluster_name={{ cluster_name }} -e aws_region={{ aws_region }}
