{
  "name": "{{ GUID }}-workspace",
  "type": [
    "{{ terraform_version }}"
  ],
  "description": "Workspace for {{ GUID }}",
  "resource_group": "{{ GUID }}-rg", 
  "location": "{{ region }}",
  "tags": [
    "environment:something",
    "user:somethingelse"
  ],
  "template_repo": {},
  "template_data": [
    {
      "folder": ".",
      "type": "{{ terraform_version }}"
    }
  ]
}