{
  "name": "{{ guid }}-workspace",
  "type": [
    "terraform_v0.12"
  ],
  "description": "Workspace for {{ guid }} Sandbox",
  "resource_group": "{{ guid }}-rg",
  "location": "{{ region }}",
  "tags": [],
  "template_repo": {
    "url": "{{ workspace_git_repo }}",
    "full_url": "{{ workspace_git_repo }}"
  },
  "template_data": [
    {
      "folder": ".",
      "type": "terraform_v0.12",
      "values": "",
      "values_metadata": [
        {
          "description": "",
          "name": "ssh_key",
          "type": "string"
        }
      ],
      "variablestore": [
        {
          "name": "ssh_key",
          "secure": false,
          "value": "",
          "type": "string",
          "description": ""
        }
      ],
      "has_githubtoken": false
    }
  ]
}