{
  "name": "{{ guid }}-workspace",
  "type": [
    "terraform_v0.12"
  ],
  "description": "Workspace for {{ guid }} sandbox",
  "resource_group": "{{ guid }}-rg",
  "location": "{{ region }}",
  "tags": [],
  "template_repo": {
    "url": ""
  },
  "template_data": [
    {
      "folder": ".",
      "type": "terraform_v0.12"
    }
  ]
}
