---
kind: Project
apiVersion: project.openshift.io/v1
metadata:
  name: azure
  labels:
    kubernetes.io/metadata.name: azure
spec:
  finalizers:
    - kubernetes

---
oc new-app quay.io/redhatintegration/patient-portal-payment-processor:devnation 

 
---
oc patch deployment patient-portal-payment-processor --type=json -p='[{"op": "add", "path": "/spec/template/spec/hostname", "value": "payment-processed-at-azure"}]'
