{
    "3scale": { 
        "Host":"https://3scale-admin.{{ route_subdomain }}",
        "Version":"2.7.0.GA"
    },
    "codeready":{ 
        "Host":"https://devspaces.{{ route_subdomain }}",
        "Version":"3.4.0"
    }
{% if ocp4_workload_service_interconnect_azure_route_domain is defined %}
    ,
    "Azure": {
        "Attributes": {
            "azure-subdomain": "{{ ocp4_workload_service_interconnect_azure_route_domain }}",
            "azure-console": "https://{{ ocp4_workload_service_interconnect_azure_console_hostname }}"
        },
        "Host": "{{ ocp4_workload_service_interconnect_azure_console_hostname }}"
    }
{% endif %}
}