{% for item in groups %}

[{{item}}]
{%   for entry in groups[item] %}
{{ entry }} ansible_ssh_host={{hostvars[entry]["ansible_ssh_host"]}} ansible_ssh_port={{hostvars[entry]["ansible_ssh_port"]|default("22")}} ansible_ssh_user={{hostvars[entry]["ansible_ssh_user"]}} ansible_ssh_pass={{hostvars[entry]["ansible_ssh_pass"]}} ansible_ssh_connection={{hostvars[entry]["ansible_ssh_connection"]}}
{%   endfor %}
{% endfor %}
