{
  "name": "GitLab",
  "description": "GitLab Credentials",
  "organization": 1,
  "credential_type": 2,
  "inputs": {
    "username": "{{ user_prefix }}",
    "password": "{{ windows_password }}"
  }
}
