[all:vars]
{% if ssh_port is defined %}
ansible_port={{ ssh_port }}
{% endif %}

[windows:vars]
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[windows_workstations:vars]
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[windows_domain_controllers:vars]
ansible_connection=winrm
ansible_winrm_transport=basic
ansible_winrm_server_cert_validation=ignore
ansible_port=5986

[tower:vars]
ansible_port=22
ansible_ssh_user={{ ansible_user }}
ansible_ssh_private_key_file="{{ playbook_dir }}/workshops/{{ course_name }}/{{ course_name }}-private.pem"

[gitlab:vars]
ansible_port=22
ansible_ssh_user={{ ansible_user }}
ansible_ssh_private_key_file="{{ playbook_dir }}/workshops/{{ course_name }}/{{ course_name }}-private.pem"

[infra]
{% for host in hostvars %}
{%   if "windc" in host %}
{{ host|replace(course_name + "-", "") }} ansible_host={{ hostvars[host].ansible_host }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ hostvars[host].ansible_password }}" private_ip={{ hostvars[host].private_ip }} public_ip={{ hostvars[host].public_ip }}
{%   elif "gitlab" in host %}
{{ host|replace(course_name + "-", "") }} ansible_host={{ hostvars[host].ansible_host }}
{%   endif %}
{% endfor %}

[windows]
{% for host in hostvars %}
{%   if "win1" in host %}
{{ host|replace(course_name + "-", "") }} ansible_host={{ hostvars[host].ansible_host }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ hostvars[host].ansible_password }}" private_ip={{ hostvars[host].private_ip }} public_ip={{ hostvars[host].public_ip }}
{%   elif "win2" in host %}
{{ host|replace(course_name + "-", "") }} ansible_host={{ hostvars[host].ansible_host }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ hostvars[host].ansible_password }}" private_ip={{ hostvars[host].private_ip }} public_ip={{ hostvars[host].public_ip }}
{%   elif "workstation" in host %}
{{ host|replace(course_name + "-", "") }} ansible_host={{ hostvars[host].ansible_host }} ansible_user={{ hostvars[host].ansible_user }} ansible_password="{{ hostvars[host].ansible_password }}" private_ip={{ hostvars[host].private_ip }} public_ip={{ hostvars[host].public_ip }}
{%   endif %}
{% endfor %}

{% for group in groups %}
[{{group}}]
{%   for entry in groups[group] %}
{%     for host in hostvars %}
{%       if entry == host and 'ansible_host' in hostvars[host] %}
{{ host|replace(course_name + "-", "") }} ansible_host={{ hostvars[host].ansible_host }}
{%       endif %}
{%     endfor %}
{%   endfor %}

{% endfor %}
