[domain/{{ dns_domain_name }}]
debug_level = 2
auth_provider = ad
chpass_provider = ad
id_provider = ad

cache_credentials = true
krb5_canonicalize = false
krb5_kpasswd = windc.{{ dns_domain_name }}
krb5_realm = {{ dns_domain_name | upper }}
krb5_server = windc.{{ dns_domain_name }}

#ldap_disable_referrals = true
ldap_force_upper_case_realm = true
ldap_id_mapping = True

ldap_sasl_authid = {{ ansible_hostname | upper }}$@{{ dns_domain_name | upper }}
ldap_sasl_mech = GSSAPI

ldap_schema = ad
ldap_search_base = {{ ldap_search_base }}
ad_server = windc.{{ dns_domain_name }}
#ad_backup_server = 

access_provider = ldap
ldap_access_order = filter, expire
ldap_account_expire_policy = ad
ldap_access_filter = {{ ldap_access_filter }}

min_id = 2000

[sssd]
services = nss, pam
config_file_version = 2
debug_level = 2
domains = {{ dns_domain_name }}

[nss]
debug_level = 2
fallback_homedir = /home/%d/%u
default_shell = /bin/bash
filter_users = root
filter_groups = root

[pam]
