apiVersion: v1
kind: ConfigMap
metadata: 
  name: "{{ _terminal_name }}-cfg"
  namespace: "{{ _terminal_project }}"
  labels: 
    app: "{{ _terminal_name }}"
    spawner: terminal-server
    class: spawner
data:
  jupyterhub_config.py: ""

