[tower]
{% for host in groups['towers'] %}
{% if cloud_provider == 'ec2' %}
{{ host }}
{% elif cloud_provider == 'osp' %}
{{ host }}.example.com 
{% endif %}
{% endfor %}

[database]
{% if cloud_provider == 'ec2' %}
{{ groups['dbs'][0] }}
{% elif cloud_provider == 'osp' %}
{{ groups['dbs'][0] }}.example.com 
{% endif %}

[all:vars]
ansible_become=true
admin_password="{{ tower_admin_password }}"

{% if cloud_provider == 'ec2' %}
pg_host='{{ groups['dbs'][0] }}'
{% elif cloud_provider == 'osp' %}
pg_host='{{ groups['dbs'][0] }}.example.com'
{% endif %}
pg_port='5432'
pg_database='awx'
pg_username='awx'
pg_password="{{ tower_admin_password }}"

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password="{{ tower_admin_password }}"
rabbitmq_cookie=cookiemonster
rabbitmq_use_long_name=true
