[Unit]
Description=noVNC service
After=syslog.target network.target

[Service]
ExecStart=/usr/local/src/noVNC-{{ novnc_version }}/utils/novnc_proxy --vnc localhost:5901

[Install]
WantedBy=multi-user.target
