---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: todo-demo-app
  namespace: openshift-gitops
spec:
  destination:
    namespace: todo-demo-app
    server: https://kubernetes.default.svc
  project: default
  source:
    path: app
    repoURL: "{{ ocp4_workload_argocd_quay_todo_app_gitea_repo_url }}"
    targetRevision: main
  syncPolicy:
    automated:
      prune: false
      selfHeal: false