kind: Secret
apiVersion: v1
metadata:
  name: repo-gitops
  namespace: openshift-gitops
  labels:
    argocd.argoproj.io/secret-type: repository
data:
  insecure: "{{ 'true' | b64encode }}"
  type: "{{ 'git' | b64encode }}"
  url: "{{ ocp4_workload_managed_cluster_gitea_repo_url | b64encode }}"
type: Opaque
