---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ ocp4_workload_gitops_eda_application_name }}"
  namespace: "{{ ocp4_workload_gitops_eda_application_namespace }}"
spec:
  destination:
    namespace: "{{ ocp4_workload_gitops_eda_rulebook_namespace }}"
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  source:
    repoURL: "{{ ocp4_workload_gitops_eda_rulebook_repo_url }}"
    targetRevision: "{{ ocp4_workload_gitops_eda_rulebook_repo_version }}"
    path: "{{ ocp4_workload_gitops_eda_rulebook_repo_path }}"
    