---
kind: Project
apiVersion: project.openshift.io/v1
metadata:
  name: "{{ ocp4_workload_gitops_eda_rulebook_namespace }}"
  labels:
    kubernetes.io/metadata.name: eda
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/warn: privileged
spec:
  finalizers:
    - kubernetes