---
apiVersion: v1
kind: Secret
metadata:
  name: automation-controller
type: Opaque 
stringData: 
  aap_controller_web_url: "{{ ocp4_workload_gitops_eda_automation_controller_url }}"
  aap_controller_token: "{{ ocp4_workload_gitops_eda_automation_token }}"
