---
controller_settings:
  - name: ALLOW_JINJA_IN_EXTRA_VARS
    value: "always"

# Not working in 2.5
# controller_organizations: (according to example)
# aap_organizations: (according to docu)
# - name: SAP Demo
#   description: Organisation for Demo

controller_credential_types:
  - name: SAP S-User
    description: Communication with SAP API
    kind: cloud
    inputs:
      fields:
        - id: suser_id
          type: string
          label: "SAP S-User ID"
          secret: false
        - id: suser_password
          type: string
          label: "SAP S-User password"
          secret: true
      required:
        - suser_id
        - suser_password
    injectors:
      extra_vars:
        suser_id: !unsafe '{{ "{{ suser_id }}" }}'
        suser_password: !unsafe '{{ "{{ suser_password }}" }}'
      env:
        SAP_SUPPORT_DOWNLOAD_PASSWORD: !unsafe '{{ "{{ suser_password }}" }}'
        SAP_SUPPORT_DOWNLOAD_USERNAME: !unsafe '{{ "{{ suser_id }}" }}'

controller_credentials:
  - name: "Server Login"
    description: Machine Credential example with become_method input
    organization: "Default"
    credential_type: Machine
    inputs:
      username: "cloud-user"
      ssh_key_data: "{{ '{{ lookup(\'file\', \'/home/cloud-user/.ssh/id_rsa\') }}' }}"
      become_method: sudo

  - name: "SAP S-User Credential"
    description: "used for downloading SAP-Software"
    organization: "Default"
    credential_type: "SAP S-User"
    inputs:
      suser_id: "{{ aap_suser| d('S012345') }}"
      suser_password: "{{ aap_spass | d('xyz') }}"

controller_projects:
  - name: SAP Demo Project
    organization: Default
    scm_branch: dev
    scm_clean: 'no'
    scm_delete_on_update: 'no'
    scm_type: git
    scm_update_on_launch: 'no'
    scm_url: https://github.com/redhat-sap/demo.sap_install

controller_inventories:
  - name: SAP Demo
    organization: Default
    description: SAP Demo hosts
    variables:
      sap_domain: example.com
      ansible_python_interpreter: /usr/bin/python3

controller_hosts:
  - name: "{{ ansible_hana1_hostname }}"
    description: "Primary SAP HANA Host"
    inventory: "SAP Demo"
  - name: "{{ ansible_hana2_hostname }}"
    description: "Secondary SAP HANA Host"
    inventory: "SAP Demo"
  - name: "{{ ansible_s4hana_hostname }}"
    description: "SAP S/4HANA Application Server"
    inventory: "SAP Demo"
  - name: "{{ bastion_hostname }}"
    description: "Fileserver"
    inventory: "SAP Demo"

controller_groups:
  - name: "sap"
    inventory: "SAP Demo"
    hosts:
      - "{{ ansible_hana1_hostname }}"
      - "{{ ansible_hana2_hostname }}"
      - "{{ ansible_s4hana_hostname }}"
  - name: "hanas"
    inventory: "SAP Demo"
    hosts:
      - "{{ ansible_hana1_hostname }}"
      - "{{ ansible_hana2_hostname }}"
  - name: "s4hanas"
    inventory: "SAP Demo"
    hosts:
      - "{{ ansible_s4hana_hostname }}"
  - name: "fileserver"
    inventory: "SAP Demo"
    hosts:
      - "{{ bastion_hostname }}"
...
