{
    "name": "Trusted Signature Policy",
    "description": "",
    "rationale": "",
    "remediation": "",
    "disabled": false,
    "categories": [
        "Security Best Practices"
    ],
    "lifecycleStages": [
        "BUILD",
        "DEPLOY"
    ],
    "eventSource": "NOT_APPLICABLE",
    "exclusions": [
        {
            "name": "",
            "deployment": {
                "name": "inventory-database",
                "scope": {
                    "cluster": "{{ _cluster_id }}",
                    "namespace": "coolstore",
                    "label": null
                }
            },
            "image": null,
            "expiration": null
        }
    ],
    "scope": [
        {
            "cluster": "{{ _cluster_id }}",
            "namespace": "coolstore",
            "label": null
        }
    ],
    "severity": "HIGH_SEVERITY",
    "enforcementActions": [
        "FAIL_BUILD_ENFORCEMENT",
        "SCALE_TO_ZERO_ENFORCEMENT",
        "UNSATISFIABLE_NODE_CONSTRAINT_ENFORCEMENT"
    ],
    "notifiers": [],
    "SORTName": "Trusted Signature Policy",
    "SORTLifecycleStage": "BUILD,DEPLOY",
    "SORTEnforcement": true,
    "policyVersion": "1.1",
    "policySections": [
        {
            "sectionName": "Policy Section 1",
            "policyGroups": [
                {
                    "fieldName": "Image Signature Verified By",
                    "booleanOperator": "OR",
                    "negate": false,
                    "values": [
                        {
                            "value": "{{ _signature_integration_id }}"
                        }
                    ]
                }
            ]
        }
    ],
    "mitreAttackVectors": [],
    "criteriaLocked": false,
    "mitreVectorsLocked": false,
    "isDefault": false
}