apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: inventory-app
  namespace: openshift-gitops
spec:
  destination:
    namespace: coolstore
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: gitops/inventory/overlays/dev
    repoURL: >-
      {{ _ocp4_workload_multicluster_devsecops_validated_pattern_gitea_repo_devsecops_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true