apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: inventory-app
  namespace: openshift-gitops
spec:
  destination:
    namespace: coolstore
    server: 'https://kubernetes.default.svc'
  ignoreDifferences:
    - jsonPointers:
        - /imagePullSecrets
      kind: ServiceAccount
  project: default
  source:
    path: gitops/inventory/overlays/dev
    repoURL: >-
      https://dev-user:openshift@gitea.apps.cluster-l8xcj.l8xcj.sandbox298.opentlc.com/dev-user/multicluster-devsecops-pattern
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true