apiVersion: v1
data:
  .dockerconfigjson: {{ docker_config_encoded }}
kind: Secret
metadata:
  name: advanced-cluster-management-registry
  namespace: {{ ocp4_workload_rhacm_acm_project }}
type: kubernetes.io/dockerconfigjson