# COSIGN_PASSWORD=openshift cosign generate-key-pair k8s://openshift-pipelines/signing-secrets

COSIGN_PUB=$(oc get secret signing-secrets -n openshift-pipelines -o json | jq -r '.data."cosign.pub"')
oc exec vault-0 -c vault -n vault -- /bin/bash -c "vault kv put kv/secrets/janusidp/cosign/key value=$COSIGN_KEY"

COSIGN_KEY=$(oc get secret signing-secrets -n openshift-pipelines -o json | jq -r '.data."cosign.key"')
oc exec vault-0 -c vault -n vault -- /bin/bash -c "vault kv put kv/secrets/janusidp/cosign/pub value=$COSIGN_KEY"

COSIGN_PASSWORD=$(oc get secret signing-secrets -n openshift-pipelines -o json | jq -r '.data."cosign.password"')
oc exec vault-0 -c vault -n vault -- /bin/bash -c "vault kv put kv/secrets/janusidp/cosign/password value=$COSIGN_PASSWORD"