set -e
echo "*** Deleting qa project... ***"
oc delete project qa || echo "*** Project deleted... ***"

echo "*** Logging into podman... ***"
podman login -u {{ ocp4_workload_jenkins_tap_wks_setup_docker_username }} -p {{ ocp4_workload_jenkins_tap_wks_setup_docker_password }} {{ ocp4_workload_jenkins_tap_wks_setup_docker_registry }}

echo "*** Pulling the $1 image for latest SHA... ***"
podman pull {{ ocp4_workload_jenkins_tap_wks_setup_docker_registry }}/quayadmin/$1-app:latest
IMAGE=$(podman inspect --format={{ "'{{index .RepoDigests 0}}'" }} {{ ocp4_workload_jenkins_tap_wks_setup_docker_registry }}/quayadmin/$1-app:latest)

echo "*** Inspecting $IMAGE ***"
podman inspect $IMAGE

echo "*** Recreating project qa... ***"
oc new-project qa

echo "*** Creating pull secret for quay... ***"

PULL_SECRET=$(cat $XDG_RUNTIME_DIR/containers/auth.json | tr -d "[:space:]\n\r" | base64 -w 0)
echo "apiVersion: v1
metadata:
  name: quay-pull
data:
  .dockerconfigjson: "$PULL_SECRET"
type: kubernetes.io/dockerconfigjson
kind: Secret" > secret.yaml
oc apply -f secret.yaml -n qa

echo "*** Linking secret to default service account... ***"
oc secrets link default quay-pull --for=pull -n qa

echo "*** Scan image with Red Hat Advanced Cluster Security... ***"
roxctl image check --insecure-skip-tls-verify -e "$ROX_CENTRAL_ADDRESS:443" --image $IMAGE

echo "*** Creating deployment for image $IMAGE ***"
oc create deployment $1 --image $IMAGE --port 8080 -n qa
oc label deployment $1 backstage.io/kubernetes-id=$1-app -n qa

echo "*** Exposing route... ***"
oc expose deployment/$1 --type="NodePort" --port 8080 -n qa
oc create route edge --service $1 -n qa
ROUTE=https://$(oc get route $1 -n qa -o json | jq -r .spec.host)

echo "*** $1 app available at $ROUTE ***"