apiVersion: triggers.tekton.dev/v1alpha1
kind: Trigger
metadata:
  name: {{ _name_ }}-trigger
spec:
  interceptors:
    - github:
        secretRef:
          secretName: {{ _name_ }}-trigger-secret
          secretKey: secretToken
        eventTypes:
        - release
    - cel:
        overlays:
        - key: releasename
          expression: "body.release.name"
  bindings:
  - ref: {{ _name_ }}-trigger-binding
  template:
    ref: {{ _name_ }}-trigger-template