---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-trigger-template
spec:
  params:
    - description: Git repository clone url
      name: WEBHOOK_GIT_CLONE_URL
    - description: Git repository name
      name: WEBHOOK_GIT_REPOSITORY
    - description: Git revision branch name
      name: WEBHOOK_GIT_REVISION
    - description: Git tag name
      name: WEBHOOK_GIT_TAG

  resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        annotations:
        labels:
          tekton.dev/pipeline: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-triggered-pipeline-run
        generateName: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-triggered-pipelinerun-
      spec:
        params:
        - name: GIT_URL
          value: $(tt.params.WEBHOOK_GIT_CLONE_URL)
        - name: GIT_REVISION
          value: $(tt.params.WEBHOOK_GIT_REVISION)
        - name: INT_REGISTRY
          value: {{ ocp4_workload_tekton_ee_internal_registry_route }}
        - name: EXT_REGISTRY
          value: {{ ocp4_workload_tekton_ee_hub_registry_route }}
        - name: IMAGE_NAME
          value: $(tt.params.WEBHOOK_GIT_REPOSITORY)
        - name: TAG
          value: $(tt.params.WEBHOOK_GIT_TAG)
        pipelineRef:
          name: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-pipeline-ee-builder
        serviceAccountName: pipeline
        timeout: 1h0m0s
        workspaces:
        - name: ee-repo
          persistentVolumeClaim:
            claimName: {{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-pvc-image-builder