---
apiVersion: tackle.konveyor.io/v1alpha1
kind: Tackle
metadata:
  name: tackle
  namespace: {{ ocp4_workload_app_mod_demo_mta_namespace }}
  labels:
    app.kubernetes.io/name: tackle
spec:
  feature_auth_required: {{ ocp4_workload_app_mod_demo_mta_auth_required | default(false) }}
  keycloak_database_data_volume_size: {{ ocp4_workload_app_mod_demo_mta_keycloak_size  | default('1Gi') }}
  maven_data_volume_size: {{ ocp4_workload_app_mod_demo_mta_maven_size  | default('10Gi') }}
  hub_bucket_volume_size: {{ ocp4_workload_app_mod_demo_mta_hub_bucket_size  | default('10Gi') }}
  hub_database_volume_size: {{ ocp4_workload_app_mod_demo_mta_hub_database_size  | default('5Gi') }}
  pathfinder_database_data_volume_size: {{ ocp4_workload_app_mod_demo_mta_pathfinder_size  | default('1Gi') }}
  rwo_storage_class: {{ ocp4_workload_app_mod_demo_mta_rwo_storage_class }}
  rwx_storage_class: {{ ocp4_workload_app_mod_demo_mta_rwx_storage_class }}
