---
apiVersion: v1
kind: Service
metadata:
  annotations:
    template.openshift.io/expose-uri: redis://{.spec.clusterIP}:{.spec.ports[?(.name=="redis")].port}
  name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
  namespace: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_namespace }}"
spec:
  ports:
  - name: redis
    nodePort: 0
    port: 6379
    protocol: TCP
    targetPort: 6379
  selector:
    name: "{{ ocp4_workload_mad_roadshow_guides_user_selector_redis_name }}"
  sessionAffinity: None
  type: ClusterIP
