---
apiVersion: imageregistry.operator.openshift.io/v1
kind: Config
metadata:
  name: cluster
spec:
  defaultRoute: {{ ocp4_workload_image_registry_default_route | bool | to_json }}
  replicas: {{ ocp4_workload_image_registry_replicas | int }}
