apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: {{ pvc_name }}
  namespace: {{ pvc_namespace }}
spec:
  accessModes:
    - {{ pvc_accessmode }}
  volumeMode: Filesystem
  resources:
    requests:
      storage: "{{ pvc_size }}"
  {% if pvc_storageclass %}
  storageClassName: {{ pvc_storageclass }}
  {% endif %}
