---
kind: Service
apiVersion: v1
metadata:
  name: frontend
  namespace: {{ frontend_namespace }}
  labels:
    app.kubernetes.io/name: frontend
spec:
  ports:
  - name: web
    port: 8080
    targetPort: 8080
  selector:
    deployment: frontend
