[frontends]
{% for host in groups['frontends'] %}
frontend{{ loop.index }} ansible_host=app{{ loop.index }}.{{ chomped_zone_internal_dns }}
{% endfor %}

[apps]
{% for host in groups['apps']  %}
app{{ loop.index }} ansible_host=app{{ loop.index }}.{{ chomped_zone_internal_dns }}
{% endfor %}

[appdbs]
{% for host in groups['appdbs'] %}
appdb{{ loop.index }} ansible_host=app{{ loop.index }}.{{ chomped_zone_internal_dns }}
{% endfor %}

[support]
{% for host in groups['support'] %}
support{{ loop.index }} ansible_host=app{{ loop.index }}.{{ chomped_zone_internal_dns }}
{% endfor %}

[threetierapp:children]
frontends
apps
appdbs
support

[threetierapp:vars]
timeout=60
ansible_become=yes
ansible_user={{remote_user}}
ansible_ssh_private_key_file="~/.ssh/{{guid}}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
