[GenericExample:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_ssh_user={{remote_user}}


[GenericExample:children]
frontends
apps
appdbs
support


[frontends]
## These are the frontends
{% for host in groups[('tag_' + project_tag + '_frontend') | replace('-', '_') ] %}
frontend{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

[apps]
## These are the apps
{% for host in groups[('tag_' + project_tag + '_app') | replace('-', '_') ] %}
app{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

[appdbs]
## These are the appdbs
{% for host in groups[('tag_' + project_tag + '_appdb') | replace('-', '_') ] %}
appdb{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

## These are the supporthosts
[support]
{% for host in groups['support'] %}
support{{loop.index}}.{{chomped_zone_internal_dns}} ssh_hose={{host}}
{% endfor %}
