{% for rhel_repo in rhel_repos %}
[{{ rhel_repo }}]
name={{ rhel_repo }}
baseurl={{own_repo_path}}/{{ repo_version }}/{{ rhel_repo }}
enabled=1
gpgcheck=0

{% endfor %}

[epel]
name=Extra Packages for Enterprise Linux 7 - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/7/$basearch
mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7
