{% for rhel_repo in rhel_repos %}
[{{ rhel_repo }}] 
name={{ rhel_repo }}
baseurl={{own_repo_path}}/{{ repo_version }}/{{ rhel_repo }}
enabled=1  
gpgcheck=0 
            
{% endfor %}
            
[epel]      
name=Extra Packages for Enterprise Linux 7 
baseurl={{ own_repo_path | replace( "/tower/", "") }}/epel/
enabled=1  
gpgcheck=0