---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: get-a-username
  name: get-a-username
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: get-a-username
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        deployment: get-a-username
    spec:
      containers:
      - name: get-a-username
        env:
        - name: LAB_ADMIN_PASS
          value: {{ ocp4_workload_acc_new_app_dev_guides_lab_admin_password }}
        - name: LAB_DURATION_HOURS
          value: {{ ocp4_workload_acc_new_app_dev_guides_lab_duration }}
        - name: LAB_EXTRA_URLS
          value: {{ _ocp4_workload_acc_new_app_dev_guides_lab_extra_urls | quote }}
        - name: LAB_MODULE_URLS
          value: {{ _ocp4_workload_acc_new_app_dev_guides_lab_module_urls | quote }}
        - name: LAB_REDIS_HOST
          value: redis
        - name: LAB_REDIS_PASS
          value: redis
        - name: LAB_TITLE
          value: "Lab Guides"
        - name: LAB_USER_ACCESS_TOKEN
          value: {{ ocp4_workload_acc_new_app_dev_guides_lab_access_token }}
        - name: LAB_USER_COUNT
          value: "{{ ocp4_workload_acc_new_app_dev_user_count }}"
        - name: LAB_USER_PAD_ZERO
          value: "false"
        - name: LAB_USER_PASS
          value: {{ ocp4_workload_acc_new_app_dev_guides_lab_user_password }}
        - name: LAB_USER_PREFIX
          value: {{ ocp4_workload_acc_new_app_dev_user_prefix }}
        image: {{ ocp4_workload_acc_new_app_dev_guides_distribution_image }}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
          protocol: TCP
        resources: {}
