{
  "keys": [
    {"deploymentId": "{{item.json.id}}", 
    "containerName": "{{item.json.name}}", 
    "clusterId": "{{item.json.clusterId}}", 
    "namespace": "{{item.json.namespace}}"}
    ],
  "locked": true
}