{% set _provider = (showroom_tls_provider | default(certbot_cert_manager_provider, true) | default('zerossl')) | lower %}
{% set _entrypoint = 'web' if _provider == 'none' else 'websecure' %}
terminal-02:
  image: {{ showroom_tty_image }}:{{ showroom_tty_image_tag }}
  container_name: terminal-02
  hostname: terminal-02
  command:
    - "--ssh-user={{ showroom_ssh_username | default(f_user_data.default_ssh_username) | default(f_user_data.ssh_username) }}"
    - "--ssh-pass={{ showroom_ssh_password | default(f_user_data.default_ssh_password) | default(f_user_data.ssh_password) }}"
    - "--ssh-host={{ showroom_ssh_host | default(f_user_data.targethost) }}"
    - "--ssh-port={{ showroom_ssh_port | default(f_user_data.targetport) | default(22) }}"
    - "--port=3001"
    - "--base=/tty2"
    - "--allow-iframe=true"
  labels:
    - "traefik.enable=true"
    - "traefik.http.services.terminal2.loadbalancer.server.port=3001"
    - "traefik.http.routers.terminal2.entrypoints={{ _entrypoint }}"
{% if _provider != 'none' %}
    - "traefik.http.routers.terminal2.tls.certresolver={{ _provider }}"
{% endif %}
    - "traefik.http.routers.terminal2.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/tty2`)"
    - "traefik.http.routers.terminal2.middlewares=terminal-stripprefix"
    - "traefik.http.routers.terminal2.middlewares=testheader"
    - "traefik.http.middlewares.terminal-stripprefix2.stripprefix.prefixes=/tty2"
    - "traefik.http.middlewares.testheader2.headers.customrequestheaders.X-Content-Type-Options=false"
