---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ globex_application_name }}
  namespace: {{ globex_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ globex_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ globex_application_repo }}
    targetRevision: {{ globex_application_repo_tag }}
    path: {{ globex_application_repo_path }}
    helm:
      values: |

        kafka:
          namespace: &namespace {{ globex_mw_namespace }}
          bootstrapServer: &bootstrapServer {{ kafka_broker_name }}-kafka-bootstrap.{{ globex_mw_namespace }}.svc.cluster.local:9092

        kafka-security: &kafka-security
          securityProtocol: {{ kafka_security_protocol }}
          saslMechanism: {{ kafka_sasl_mechanism }}
          clientId: {{ kafka_client_id }}
          clientSecret: {{ kafka_client_secret }}

        kafka-broker:
          namespace: *namespace
          nameOverride: {{ kafka_broker_name }}
          authentication:
            <<: *kafka-security

        kafka-topics:
          kafka:
            namespace: *namespace

        kafdrop:
          kafka:
            <<: *kafka-security
            bootstrapServer: *bootstrapServer
            namespace: *namespace

        activity-tracking:
          kafka:
            <<: *kafka-security
            bootstrapServer: *bootstrapServer

        recommendation-engine:
          kafka:
            <<: *kafka-security
            bootstrapServer: *bootstrapServer

        globex-db:
          pgsql:
            adminPassword: adminpassword
          image:
            tag: 43e87ee

        globex-web:
          sso:
            url: "https://{{ rhsso_host }}.{{ r_openshift_subdomain }}/auth/realms/{{ rhsso_realm }}"
            client: {{ rhsso_web_gateway_client }}
            logoutUri: https://globex-web-{{ globex_namespace }}.{{ r_openshift_subdomain }}/home
            logLevel: "2"