---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ceph-test-0
  namespace: {{ mig_namespace }}
spec:
  storageClassName: ocs-storagecluster-ceph-rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ceph-test-1
  namespace: {{ mig_namespace }}
spec:
  storageClassName: ocs-storagecluster-cephfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: storage-test
  namespace: {{ mig_namespace }}
spec:
  containers:
  - name: storage-test-container
    image: centos
    command: ["/bin/sh", "-c", "sleep 100000"]
    volumeMounts:
    - mountPath: "/tmp/ceph-vol-00"
      name: ceph-vol-00
    - mountPath: "/tmp/ceph-vol-01"
      name: ceph-vol-01
  volumes:
  - name: ceph-vol-00
    persistentVolumeClaim:
      claimName: ceph-test-0
  - name: ceph-vol-01
    persistentVolumeClaim:
      claimName: ceph-test-1
