---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ceph-test-0
  namespace: {{ mig_namespace }}
spec:
  storageClassName: openshift-storage-ceph-rbd
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ceph-test-1
  namespace: {{ mig_namespace }}
spec:
  storageClassName: openshift-storage-cephfs
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: noobaa-test-0
  namespace: {{ mig_namespace }}
spec:
  storageClassName: openshift-storage.noobaa.io
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
---
apiVersion: v1
kind: Pod
metadata:
  name: storage-test
  namespace: {{ mig_namespace }}
spec:
  containers:
  - name: myapp-container
    image: centos
    command: ["/bin/sh", "-c", "sleep 100000"]
    volumeMounts:
    - mountPath: "/tmp/ceph-vol-00"
      name: ceph-vol-00
    - mountPath: "/tmp/ceph-vol-01"
      name: ceph-vol-01
    - mountPath: "/tmp/noobaa-vol-00"
      name: noobaa-vol-00
  volumes:
  - name: ceph-vol-00
    persistentVolumeClaim:
      claimName: ceph-test-0
  - name: ceph-vol-01
    persistentVolumeClaim:
      claimName: ceph-test-1
  - name: noobaa-vol-00
    persistentVolumeClaim:
      claimName: noobaa-test-0
