apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: "clusterquota-developer-environment-{{ guid }}"
spec:
  selector:
    annotations:
      openshift.io/requester: "{{ ocp_username }}"
    labels: null
  quota:
    hard:
      requests.cpu: "{{ ocp4_workload_developer_environment_quota_requests_cpu }}"
      limits.cpu: "{{ ocp4_workload_developer_environment_quota_limits_cpu }}"
      requests.memory: "{{ ocp4_workload_developer_environment_quota_requests_memory }}"
      limits.memory: "{{ ocp4_workload_developer_environment_quota_limits_memory }}"
      configmaps: "{{ ocp4_workload_developer_environment_quota_configmaps }}"
      secrets: "{{ ocp4_workload_developer_environment_quota_secrets }}"
      services: "{{ ocp4_workload_developer_environment_quota_services }}"
      pods: "{{ ocp4_workload_developer_environment_quota_pods }}"
      persistentvolumeclaims: "{{ ocp4_workload_developer_environment_quota_persistentvolumeclaims }}"
      requests.storage: "{{ ocp4_workload_developer_environment_quota_requests_storage }}"
