<network ipv6="yes">
  <name>default</name>
  <uuid>{{ ansible_libvirt_networks.default.uuid }}</uuid>
  <forward mode="nat" />
  <bridge name="{{ ansible_libvirt_networks.default.bridge }}" stp="on" delay="0"/>
  <mac address="{{ ansible_libvirt_networks.default.macaddress }}"/>
  <domain name="{{ satellite_libvirt_network.domain }}"/>
  <dns>
    <host ip='{{ satellite_libvirt_network.gateway }}'>
      <hostname>{{ satellite_hostname }}</hostname>
    </host>
  </dns>
  <ip address="{{ satellite_libvirt_network.gateway }}" netmask="{{ satellite_libvirt_network.netmask }}">
    <tftp root="/var/lib/tftpboot"/>
    <dhcp>
      <range start="{{ satellite_libvirt_network.range_from }}" end="{{ satellite_libvirt_network.range_to }}"/>
      <bootp file="pxelinux.0"/>
    </dhcp>
  </ip>
</network>
