heat_template_version: 2015-04-30

description: Simple template to deploy a single compute instance

resources:
  my_instance:
    type: OS::Nova::Server
    properties:
      image: {{ infra_osp_dry_run_basic_image }}
      flavor: m1.small
