global
debug

defaults
log global
mode http
timeout connect 0
timeout client 0
timeout server 0

frontend apps
bind {{ haproxy_ip }}:80
bind {{ haproxy_ip }}:443
option tcplog
mode tcp
default_backend apps

backend apps
mode tcp
balance roundrobin
option ssl-hello-chk
server webserver1 {{ crc_ip_address }} check

frontend api
bind {{ haproxy_ip }}:6443
option tcplog
mode tcp
default_backend api

backend api
mode tcp
balance roundrobin
option ssl-hello-chk
server webserver1 {{ crc_ip_address }}:6443 check