$TTL 1D
@   IN SOA  dns.{{ guid }}.dynamic.redhatworkshop.io .  root.dns.{{ guid }}.dynamic.redhatworkshop.io . (
                                        2020012511      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum
@       IN      NS      dns.{{ guid }}.dynamic.redhatworkshop.io .
ocp.    IN      NS      dns.{{ guid }}.dynamic.redhatworkshop.io .
2      IN    PTR    dns.{{ guid }}.dynamic.redhatworkshop.io .
10     IN    PTR    ns1.{{ guid }}.dynamic.redhatworkshop.io .
111     IN    PTR    api.{{ guid }}.dynamic.redhatworkshop.io .
100     IN    PTR    master-0.{{ guid }}.dynamic.redhatworkshop.io .
101     IN    PTR    master-1.{{ guid }}.dynamic.redhatworkshop.io .
102     IN    PTR    master-2.{{ guid }}.dynamic.redhatworkshop.io .
200     IN    PTR    worker-0.{{ guid }}.dynamic.redhatworkshop.io .
201     IN    PTR    worker-1.{{ guid }}.dynamic.redhatworkshop.io .
202     IN    PTR    worker-2.{{ guid }}.dynamic.redhatworkshop.io .
