$TTL 1D
@   IN SOA  dns.{{ guid }}.dynamic.opentlc.com.  root.dns.{{ guid }}.dynamic.opentlc.com. (
                                        2020012511      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum
@       IN      NS      dns.{{ guid }}.dynamic.opentlc.com.
ocp.    IN      NS      dns.{{ guid }}.dynamic.opentlc.com.
2      IN    PTR    dns.{{ guid }}.dynamic.opentlc.com.
10     IN    PTR    ns1.{{ guid }}.dynamic.opentlc.com.
111     IN    PTR    api.{{ guid }}.dynamic.opentlc.com.
100     IN    PTR    master-0.{{ guid }}.dynamic.opentlc.com.
101     IN    PTR    master-1.{{ guid }}.dynamic.opentlc.com.
102     IN    PTR    master-2.{{ guid }}.dynamic.opentlc.com.
200     IN    PTR    worker-0.{{ guid }}.dynamic.opentlc.com.
201     IN    PTR    worker-1.{{ guid }}.dynamic.opentlc.com.
202     IN    PTR    worker-2.{{ guid }}.dynamic.opentlc.com.
