apiVersion: v1
baseDomain: dynamic.opentlc.com
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: 0
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ guid }}
platform:
  vsphere:
    datacenter: SDDC-Datacenter
    defaultDatastore: WorkloadDatastore
    diskType: thin
    folder: /SDDC-Datacenter/vm/Workloads/sandbox-{{ guid }}
    password: {{ hostvars.localhost.vmc_sandbox_generated_password }}
    username: {{ env_type }}-{{ guid }}@{{ vcenter_domain }}
    vCenter: {{ vcenter_hostname }}
publish: External
pullSecret: {{ ocp4_pull_secret | to_json | to_json if ocp4_pull_secret is mapping else ocp4_pull_secret | to_json }}
sshKey: '{{ sshKey_content }}'
