export SEGMENT=$(hostname -I|cut -d. -f3)
export GOVC_URL={{ vcenter_hostname }}
export GOVC_USERNAME={{ env_type }}-{{ guid }}@{{ vcenter_domain }}
export GOVC_PASSWORD={{ hostvars.localhost.vmc_sandbox_generated_password }}
export GOVC_INSECURE=1

cd ~/ocpinstall/install/
sudo cp ~/ocpinstall/install/*.ign /var/www/html/
sudo chown apache:apache /var/www/html/*
cat >merge-bootstrap.ign <<EOF
{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "http://192.168.${SEGMENT}.10:81/bootstrap.ign",
          "verification": {}
        }
      ]
    },
    "timeouts": {},
    "version": "3.1.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}
EOF


curl -L -o - "https://github.com/vmware/govmomi/releases/latest/download/govc_$(uname -s)_$(uname -m).tar.gz" | sudo tar -C /usr/local/bin -xvzf - govc
CLUSTER_DOMAIN="dynamic.opentlc.com "
RHCOS_TEMPLATE="Templates/rhcos-4.11.9"

VM_NETWORK="segment-{{ env_type }}-{{ guid }}"
VM_DATASTORE="WorkloadDatastore"
VM_DATACENTER="SDDC-Datacenter"
VM_FOLDER="vm/Workloads/{{ env_type }}-{{ guid }}"

BOOTSTRAP_MAC='00:50:56:23:F7:21'
BOOTSTRAP_NAME='bootstrap'

MASTER0_MAC='00:50:56:1E:A5:6A'
MASTER0_NAME='master0'

MASTER1_MAC='00:50:56:1E:33:25'
MASTER1_NAME='master1'

MASTER2_MAC='00:50:56:0C:F8:E0'
MASTER2_NAME='master2'

WORKER0_MAC='00:50:56:1E:2C:5D'
WORKER0_NAME='worker0'

WORKER1_MAC='00:50:56:24:CD:19'
WORKER1_NAME='worker1'

WORKER2_MAC='00:50:56:24:CD:19'
WORKER2_NAME='worker2'


echo -e "\e[1;32m Deploying - Bootstrap node \e[0m"
bootstrap=$(cat merge-bootstrap.ign | base64 -w0)
govc vm.clone -debug=true -vm ${RHCOS_TEMPLATE} -annotation=BootstrapNode -c=4 -m=16384 -net ${VM_NETWORK} -net.address ${BOOTSTRAP_MAC} -on=false -folder=${VM_FOLDER} -ds=${VM_DATASTORE} ${BOOTSTRAP_NAME}.${GUID}.${CLUSTER_DOMAIN}
govc vm.change -e="guestinfo.ignition.config.data=${bootstrap}" -vm=${BOOTSTRAP_NAME}.${GUID}.${CLUSTER_DOMAIN}
IPCFG="ip=192.168.${SEGMENT}.99::192.168.${SEGMENT}.1:255.255.255.0:::none nameserver=192.168.${SEGMENT}.10"
govc vm.change -vm=${BOOTSTRAP_NAME}.${GUID}.${CLUSTER_DOMAIN} -e "guestinfo.afterburn.initrd.network-kargs=${IPCFG}"

echo -e "\e[1;32m Deploying - ${MASTER0_NAME} node \e[0m"
master=$(cat master.ign | base64 -w0)
govc vm.clone -vm ${RHCOS_TEMPLATE} -annotation=MasterNode00 -c=4 -m=16384 -net ${VM_NETWORK} -net.address ${MASTER0_MAC} -on=false -folder=${VM_FOLDER} -ds=${VM_DATASTORE} ${MASTER0_NAME}.${GUID}.${CLUSTER_DOMAIN}
govc vm.change -e="guestinfo.ignition.config.data=${master}" -vm=${MASTER0_NAME}.${GUID}.${CLUSTER_DOMAIN}
IPCFG="ip=192.168.${SEGMENT}.100::192.168.${SEGMENT}.1:255.255.255.0:::none nameserver=192.168.${SEGMENT}.10"
govc vm.change -vm=${MASTER0_NAME}.${GUID}.${CLUSTER_DOMAIN} -e "guestinfo.afterburn.initrd.network-kargs=${IPCFG}"

echo -e "\e[1;32m Deploying - ${MASTER1_NAME} node \e[0m"
master=$(cat master.ign | base64 -w0)
govc vm.clone -vm ${RHCOS_TEMPLATE} -annotation=MasterNode01 -c=4 -m=16384 -net ${VM_NETWORK} -net.address ${MASTER1_MAC} -on=false -folder=${VM_FOLDER} -ds=${VM_DATASTORE} ${MASTER1_NAME}.${GUID}.${CLUSTER_DOMAIN}
govc vm.change -e="guestinfo.ignition.config.data=${master}" -vm=${MASTER1_NAME}.${GUID}.${CLUSTER_DOMAIN}
IPCFG="ip=192.168.${SEGMENT}.101::192.168.${SEGMENT}.1:255.255.255.0:::none nameserver=192.168.${SEGMENT}.10"
govc vm.change -vm=${MASTER1_NAME}.${GUID}.${CLUSTER_DOMAIN} -e "guestinfo.afterburn.initrd.network-kargs=${IPCFG}"

echo -e "\e[1;32m Deploying - ${MASTER2_NAME} node \e[0m"
master=$(cat master.ign | base64 -w0)
govc vm.clone -vm ${RHCOS_TEMPLATE} -annotation=MasterNode02 -c=4 -m=16384 -net ${VM_NETWORK} -net.address ${MASTER2_MAC} -on=false -folder=${VM_FOLDER} -ds=${VM_DATASTORE} ${MASTER2_NAME}.${GUID}.${CLUSTER_DOMAIN}
govc vm.change -e="guestinfo.ignition.config.data=${master}" -vm=${MASTER2_NAME}.${GUID}.${CLUSTER_DOMAIN}
IPCFG="ip=192.168.${SEGMENT}.102::192.168.${SEGMENT}.1:255.255.255.0:::none nameserver=192.168.${SEGMENT}.10"
govc vm.change -vm=${MASTER2_NAME}.${GUID}.${CLUSTER_DOMAIN} -e "guestinfo.afterburn.initrd.network-kargs=${IPCFG}"

echo -e "\e[1;32m Deploying - ${WORKER0_NAME} node \e[0m"
worker=$(cat worker.ign | base64 -w0)
govc vm.clone -vm ${RHCOS_TEMPLATE} -annotation=WorkerNode00 -c=2 -m=8192 -net ${VM_NETWORK} -net.address ${WORKER0_MAC} -on=false -folder=${VM_FOLDER} -ds=${VM_DATASTORE} ${WORKER0_NAME}.${GUID}.${CLUSTER_DOMAIN}
govc vm.change -e="guestinfo.ignition.config.data=${worker}" -vm=${WORKER0_NAME}.${GUID}.${CLUSTER_DOMAIN}
IPCFG="ip=192.168.${SEGMENT}.200::192.168.${SEGMENT}.1:255.255.255.0:::none nameserver=192.168.${SEGMENT}.10"
govc vm.change -vm=${WORKER0_NAME}.${GUID}.${CLUSTER_DOMAIN} -e "guestinfo.afterburn.initrd.network-kargs=${IPCFG}"

echo -e "\e[1;32m Deploying - ${WORKER1_NAME} node \e[0m"
worker=$(cat worker.ign | base64 -w0)
govc vm.clone -vm ${RHCOS_TEMPLATE} -annotation=WorkerNode01 -c=2 -m=8192 -net ${VM_NETWORK} -net.address ${WORKER1_MAC} -on=false -folder=${VM_FOLDER} -ds=${VM_DATASTORE} ${WORKER1_NAME}.${GUID}.${CLUSTER_DOMAIN}
govc vm.change -e="guestinfo.ignition.config.data=${worker}" -vm=${WORKER1_NAME}.${GUID}.${CLUSTER_DOMAIN}
IPCFG="ip=192.168.${SEGMENT}.201::192.168.${SEGMENT}.1:255.255.255.0:::none nameserver=192.168.${SEGMENT}.10"
govc vm.change -vm=${WORKER1_NAME}.${GUID}.${CLUSTER_DOMAIN} -e "guestinfo.afterburn.initrd.network-kargs=${IPCFG}"
