apiVersion: apps.gitlab.com/v1beta2
kind: Runner
metadata:
  name: techdocs-runner
  namespace: {{ ocp4_workload_redhat_developer_hub_gitlab_namespace }}
spec:
  gitlabUrl: 'https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}'
  token: gitlab-dev-runner-secret
