---
apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  annotations:
    apps.open-cluster-management.io/reconcile-rate: medium
  name: ggithubcom-ramendr-ocm-ramen-samples
  namespace: ggithubcom-ramendr-ocm-ramen-samples-ns
spec:
  type: Git
  pathname: 'https://github.com/RamenDR/ocm-ramen-samples'