---
apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  name: ocs-external-storagecluster
  namespace: openshift-storage
spec:
  encryption: {}
  externalStorage:
    enable: true
  labelSelector: {}
  resources:
    noobaa-core:
      limits:
        cpu: "3"
        memory: "4Gi"
      requests:
        cpu: "3"
        memory: "4Gi"
    noobaa-db:
      limits:
        cpu: "3"
        memory: "4Gi"
      requests:
        cpu: "3"
        memory: "4Gi"
    noobaa-endpoint:
      limits:
        cpu: "3"
        memory: "4Gi"
      requests:
        cpu: "3"
        memory: "4Gi"
  managedResources:
    cephBlockPools:
      disableStorageClass: true
    cephFilesystems: {}
    cephObjectStoreUsers: {}
    cephObjectStores: {}
