---
apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  name: ocs-external-storagecluster
  namespace: openshift-storage
spec:
  encryption: {}
  externalStorage:
    enable: true
  labelSelector: {}
{% if ocp4_workload_external_odf_noobaa_custom_resources | default(false) %}
  resources:
    noobaa-core:
      limits:
        cpu: "{{ ocp4_workload_external_odf_noobaa_cpu_limits }}"
        memory: "{{ ocp4_workload_external_odf_noobaa_memory_limits }}"
      requests:
        cpu: "{{ ocp4_workload_external_odf_noobaa_cpu_requests }}"
        memory: "{{ ocp4_workload_external_odf_noobaa_memory_requests }}"
    noobaa-db:
      limits:
        cpu: "{{ ocp4_workload_external_odf_noobaa_cpu_limits }}"
        memory: "{{ ocp4_workload_external_odf_noobaa_memory_limits }}"
      requests:
        cpu: "{{ ocp4_workload_external_odf_noobaa_cpu_requests }}"
        memory: "{{ ocp4_workload_external_odf_noobaa_memory_requests }}"
    noobaa-endpoint:
      limits:
        cpu: "{{ ocp4_workload_external_odf_noobaa_cpu_limits }}"
        memory: "{{ ocp4_workload_external_odf_noobaa_memory_limits }}"
      requests:
        cpu: "{{ ocp4_workload_external_odf_noobaa_cpu_requests }}"
        memory: "{{ ocp4_workload_external_odf_noobaa_memory_requests }}"
{% endif %}
  managedResources:
    cephBlockPools:
      reconcileStrategy: ignore
    cephFilesystems: {}
    cephObjectStoreUsers: {}
    cephObjectStores: {}
