apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_mad_roadshow_workshop_deployer_application_name }}
  namespace: {{ ocp4_workload_mad_roadshow_workshop_deployer_application_namespace }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_mad_roadshow_workshop_deployer_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_mad_roadshow_workshop_deployer_gitops_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_workshop_deployer_gitops_repo_tag }}
    path: {{ ocp4_workload_mad_roadshow_workshop_deployer_gitops_repo_path }}
    helm:
      values: |

        image:
          repository: {{ ocp4_workload_mad_roadshow_workshop_workshop_deployer_image_repository }}
          pullPolicy: {{ ocp4_workload_mad_roadshow_workshop_workshop_deployer_image_pull_policy }}
          tag: {{ ocp4_workload_mad_roadshow_workshop_workshop_deployer_image_tag }}

        route:
          host: {{ ocp4_workload_mad_roadshow_workshop_deployer_host }}.{{ r_openshift_subdomain }}

        openshift:
          domain: {{ r_openshift_subdomain }}

        user:
          count: {{ ocp4_workload_authentication_htpasswd_user_count }}

        modules:
          maxCount: {{ ocp4_workload_mad_roadshow_workshop_deployer_modules_max }}

        showroom:
          hostPrefix: {{ ocp4_workload_mad_roadshow_workshop_showroom_host_prefix }}

        argo:
          namespace:
            prefix: {{ ocp4_workload_mad_roadshow_workshop_argo_application_namespace_prefix }}
          name:
            prefix: {{ ocp4_workload_mad_roadshow_workshop_argo_application_name }}