apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: object-detection-app
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: overlays/development
    repoURL: >-
      {{ _ocp4_workload_object_detection_ai_ml_ohc_gitea_repo_arc_frontend_argo_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}