apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    app: object-detection-app
    app.kubernetes.io/component: object-detection-app
  name: object-detection-app
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: object-detection-app:latest
  runPolicy: Serial
  source:
    git:
      uri: {{ _ocp4_workload_object_detection_ai_ml_ohc_gitea_repo_arc_frontend_source_url }}
      ref: dev
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: nodejs:16-ubi8
        namespace: openshift
    type: Source
  triggers:
    - type: ConfigChange
  successfulBuildsHistoryLimit: 5
