---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: el-object-detect-app
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  triggers:
  - name: object-detect-app-trigger
    bindings:
    - ref: "object-detect-app-binding"
    template:
      ref: "object-detect-app-template"
