apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: object-detection-app
    app.kubernetes.io/component: object-detection-app
  name: object-detection-app
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  lookupPolicy:
    local: false
