kind: Secret
apiVersion: v1
metadata:
  name: object-detection-app-sonarqube-secret
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
stringData:
  token: {{ _ocp4_workload_object_detection_ai_ml_ohc_sonarqube_frontend_project_token }}
type: Opaque
