---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: "object-detect-app-binding"
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  params:
  - name: git-repo-url
    value: \$(body.repository.clone_url)
  - name: git-revision
    value: \$(body.after)
