---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerTemplate
metadata:
  name: "object-detect-app-template"
  namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
spec:
  resourcetemplates:
  - apiVersion: tekton.dev/v1beta1
    kind: PipelineRun
    metadata:
      annotations:
      labels:
        app.kubernetes.io/instance: object-detection-app
        app.kubernetes.io/name: object-detection-app
        pipeline.openshift.io/runtime: python
        pipeline.openshift.io/runtime-version: 3.9-ubi8
        pipeline.openshift.io/type: kubernetes
        tekton.dev/pipeline: object-detection-app
      generateName: objdetect-app-pipeline-
      namespace: "{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}"
    spec:
      params:
      - name: APP_NAME
        value: object-detection-app
      - name: GIT_REPO
        value: "{{ _ocp4_workload_object_detection_ai_ml_ohc_gitea_repo_arc_frontend_source_url }}"
      - name: GIT_REVISION
        value: "dev"
      - name: IMAGE_NAME
        value: "image-registry.openshift-image-registry.svc:5000/{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}/object-detection-app"
      - name: PATH_CONTEXT
        value: .
      - name: VERSION
        value: 3.9-ubi8
      - name: KUSTOMIZE_GIT_URL_DEV
        value: "{{ _ocp4_workload_object_detection_ai_ml_ohc_gitea_repo_arc_frontend_argo_url }}"
      - name: KUSTOMIZE_GIT_CONTEXT_DIR_DEV
        value: overlays/development
      - name: KUSTOMIZE_GIT_REVISION
        value: main
      - name: KUSTOMIZE_GIT_CONTEXT_DIR
        value: overlays/development
      - name: KUSTOMIZE_GIT_FILE_NAME
        value: kustomization.yaml
      - name: NAMESPACE_DEV
        value: " {{ ocp4_workload_object_detection_ai_ml_ohc_namespace }} "
      - name: SONARQUBE_HOST_URL
        value:  "{{ _ocp4_workload_object_detection_ai_ml_ohc_sonarqube_host_url }}"
      - name: STACKROX_IMAGE
        value:  "{{ _ocp4_workload_object_detection_ai_ml_ohc_internal_image_registry_route }}/{{ ocp4_workload_object_detection_ai_ml_ohc_namespace }}/object-detection-app"
      - name: SONARQUBE_PROJECT_KEY
        value: object-detection-app
      - name: SONARQUBE_PROJECT_SECRET
        value: object-detection-app-sonarqube-secret
      pipelineRef:
        name: objdetect-app-pipeline
      serviceAccountName: pipeline
      timeout: 1h0m0s
      workspaces:
      - name: workspace
        persistentVolumeClaim:
          claimName: workspace-app-pvc
