---
apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ ocp4_workload_openshift_data_foundation_catalogsource_name }}"
  namespace: openshift-storage
spec:
  sourceType: grpc
  image: >-
    {{ ocp4_workload_openshift_data_foundation_catalogsource_image }}:{{ ocp4_workload_openshift_data_foundation_catalogsource_image_tag }}
  displayName: "Red Hat OpenShift Data Foundations Snapshot"
  publisher: "Red Hat AgnosticD"
