---
apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  namespace: openshift-storage
  name: ocs-storagecluster
spec:
{% if ocp4_workload_openshift_data_foundation_tolerations | length > 0 %}
  placement:
    all:
      tolerations:
        {{ ocp4_workload_openshift_data_foundation_tolerations | to_yaml }}
{% endif %}
  manageNodes: false
  storageDeviceSets:
  - name: ocs-deviceset
    count: 1
    replica: 3
    dataPVCTemplate:
      spec:
        storageClassName: {{ ocp4_workload_openshift_data_foundation_ceph_storage_class_name }}
        accessModes:
        - ReadWriteOnce
        volumeMode: Block
        resources:
          requests:
            storage: {{ ocp4_workload_openshift_data_foundation_ceph_storage_osd_size }}
    portable: true
