---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: odf-operator
  namespace: openshift-storage
  labels:
    operators.coreos.com/odf-operator.openshift-storage: ''
spec:
  channel: {{ ocp4_workload_openshift_data_foundation_channel }}
  installPlanApproval: Automatic
  name: odf-operator
{% if ocp4_workload_openshift_data_foundation_catalogsource_setup | default(false) | bool %}
  source: "{{ ocp4_workload_openshift_data_foundation_catalogsource_name }}"
  sourceNamespace: openshift-storage
{% else %}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% endif %}
