apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ _appSet }}-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_rhacs_secured_cluster_gitops_namespace }}
spec:
  generators:
    - clusterDecisionResource:
        configMapRef: acm-placement
        labelSelector:
          matchLabels:
            cluster.open-cluster-management.io/placement: {{ _appSet }}-{{ cluster.name }}
        requeueAfterSeconds: 30
  template:
    metadata:
      name: {{ _appSet }}-{{ '{{name}}' }}
      labels:
        velero.io/exclude-from-backup: "true"
    spec:
      destination:
        namespace: {{ _namespace }}
        server: "{{ '{{server}}' }}"
      project: default
      source:
        helm:
{% if _appSet == "stackrox"  %}
          parameters:
            - name: rhacsSecuredCluster.name
              value: {{ cluster.clusterName }}
            - name: rhacsSecuredCluster.namespace
              value: "{{ _namespace }}"
            - name: rhacsSecuredCluster.central.endpoint
              value: "{{ ocp4_workload_gitops_rhacs_secured_cluster_central_host }}:443"
            - name: rhacsSecuredCluster.central.url
              value: "https://{{ ocp4_workload_gitops_rhacs_secured_cluster_central_host }}"
            - name: rhacsSecuredCluster.central.username
              value: "{{ ocp4_workload_gitops_rhacs_secured_cluster_central_admin_user }}"
            - name: rhacsSecuredCluster.central.password
              value: "{{ ocp4_workload_gitops_rhacs_secured_cluster_central_admin_password }}"
        path: charts/rhacs-secured-cluster
{% endif %}
{% if _appSet == "rhacs-operator"  %}
          parameters:
            - name: rhacs.channel
              value: {{ ocp4_workload_gitops_rhacs_secured_cluster_channel }}
            - name: rhacs.namespace
              value: {{ ocp4_workload_gitops_rhacs_secured_cluster_operator_namespace }}
            - name: rhacs.startingCSV
              value: {{ ocp4_workload_gitops_rhacs_secured_cluster_starting_csv }}
        path: charts/rhacs-operator
{% endif %}
        repoURL: {{ ocp4_workload_gitops_rhacs_secured_cluster_git_repo_url }}
        targetRevision: main
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true