{
  "auths":{
    "{{_ocp4_workload_tekton_ee_registry_route}}":{
    "username": "registry-admin",
    "password": "{{_ocp4_workload_tekton_ee_registry_sa_token}}",
    "auth": "{{_ocp4_workload_tekton_ee_registry_sa_token| b64encode }}"
    }
  }
}
