apiVersion: v1
data:
  customServerConfig.json: |
    {
      "services": [
        { "name": "3scale Developer Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}.{{ route_subdomain }}" },
        { "name": "3scale Admin Dashboard", "url": "https://{{ '{{' }} username {{ '}}' }}-admin.{{ route_subdomain }}" },
        { "name": "Gogs", "url": "http://gogs.{{ route_subdomain }}" },
        { "name": "Fuse Online", "url": "https://syndesis-{{ '{{' }} username {{ '}}' }}-fuse.{{ route_subdomain }}" },
        { "name": "SSO", "url": "https://keycloak-{{ sso_project }}.{{ route_subdomain }}/auth/admin/{{ '{{' }} username {{ '}}' }}-realm/console" },
        { "name": "Microcks", "url": "https://microcks-microcks.{{ route_subdomain }}" },
        { "name": "Apicurio", "url": "https://apicurito-ui-apicurito.{{ route_subdomain }}" }
      ]
    }
kind: ConfigMap
metadata:
  name: {{ configmap_name }}
  namespace: {{ webapp_namespace }}
