apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: fuse-online
  namespace: {{ user_fuse_project }}
spec:
  channel: fuse-online-7.7.x
  installPlanApproval: Automatic
  name: fuse-online
  source: redhat-operators-snapshot-dil
  sourceNamespace: openshift-marketplace
