apiVersion: oauth.openshift.io/v1
grantMethod: auto
kind: OAuthClient
metadata:
  name: "{{ ocp4_workload_dil_agile_integration_webapp_client_id }}"
  namespace: "{{ webapp_namespace }}"
redirectURIs:
  - "https://{{ webapp_secure_route }}"