apiVersion: keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: {{user}}-realm
  namespace: {{ sso_project }}
spec:
  instanceSelector:
    matchLabels:
      app: sso
  realm:
    displayName: {{user}} Realm
    enabled: true
    id: {{user}}-realm
    realm: {{user}}-realm

