apiVersion: keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: {{user}}-realm
  namespace: {{ sso_project }}
spec:
  instanceSelector:
    matchLabels:
      app: sso
  realm:
    clients:
      - clientId: 3scale-admin
        secret: clientsecret
        directAccessGrantsEnabled: False
        enabled: True
        fullScopeAllowed: True
        name: 3scale-admin  
    users:
      - username: {{user}}
        email: {{user}}@openshift.com
        emailVerified: true
        enabled: true
        firstName: {{user}}
        lastName: "Doe"        
        credentials:
          - type: password
            value: openshift 
        clientRoles: 
          realm-management:
            - "manage-clients"
            - "manage-users"
            - "manage-realms"
            - "realm-admin"
    displayName: {{user}} Realm
    enabled: true
    id: {{user}}-realm
    realm: {{user}}-realm

