apiVersion: keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: threescale-realm
  namespace: {{ sso_project }}
  labels:
    app: sso
    product: 3scale
spec:
  instanceSelector:
    matchLabels:
      app: sso
  realm:
    clients:
      - clientId: 3scale-admin
        directAccessGrantsEnabled: False
        enabled: True
        fullScopeAllowed: True
        name: 3scale-admin
    displayName: Threescale Realm
    enabled: True
    id: threescale-realm
    realm: threescale-realm

