apiVersion: v1
kind: Secret
metadata:
  name: {{user}}-admin-secret
  namespace: {{ threescale_project }}
type: Opaque
stringData:
  admin_password: {{ocp4_workload_dil_agile_integration_openshift_user_password}}