apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  # This name uniquely identifies the PVC. Will be used in deployment below.
  name: system-storage
  namespace: "{{ threescale_project }}"
  labels:
    app: 3scale-api-management
    threescale_component: system
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocp4_workload_dil_agile_integration_system_storage_size }}"
  storageClassName: gp2
  volumeMode: Filesystem