apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ item_project.user }}-{{ item_project.role }}-{{ item_project.namespace }}-namespace'
  namespace: '{{ item_project.namespace }}'
  labels:
    app: workshop
subjects:
- kind: User
  name: '{{ item_project.user  }}'
  namespace: '{{ item_project.namespace }}'
roleRef:
  kind: ClusterRole
  name: '{{ item_project.role }}'
  apiGroup: rbac.authorization.k8s.io