[Unit]
Description=VS Code Server IDE
After=network.target

[Service]
Type=simple
User={{ vscode_user_name }}
WorkingDirectory=/home/{{ vscode_user_name }}
Restart=on-failure
RestartSec=10
Environment="PASSWORD={{ vscode_user_password }}"

ExecStart=/bin/code-server
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
