apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: rhsso-openshift
    app.kubernetes.io/instance: rhsso-openshift
    app.kubernetes.io/name: rhsso-openshift
  name: openshift
spec:
  client:
    clientAuthenticatorType: client-secret
    redirectUris:
      - https://{{ ocp4_workload_redhat_developer_hub_openshift_redirect_host }}/oauth2callback/rhsso
    serviceAccountsEnabled: true
    clientId: idp-4-ocp
    defaultClientScopes:
      - profile
      - email
      - roles
      - acr
      - web-origins
    implicitFlowEnabled: false
    publicClient: false
    standardFlowEnabled: true
    directAccessGrantsEnabled: true
  realmSelector:
    matchLabels:
      app: rhsso-openshift
      app.kubernetes.io/instance: rhsso-openshift
      app.kubernetes.io/name: rhsso-openshift
