---
apiVersion: config.openshift.io/v1
kind: OAuth
metadata:
  name: cluster
spec:
  identityProviders:
    - mappingMethod: claim
      name: rhsso
      openID:
        claims:
          email:
            - email
          name:
            - name
          preferredUsername:
            - preferred_username
        clientID: idp-4-ocp
        clientSecret:
          name: openid-client-secret-bb6zw
        extraScopes: []
        issuer: >-
          https://{{ ocp4_workload_redhat_developer_hub_keycloak_host }}/auth/realms/openshift
      type: OpenID