#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    maxconn     20000
    log         /dev/log local0
    log         /dev/log local1 notice
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    user        haproxy
    group       haproxy
    stats socket /var/lib/haproxy/stats
    stats timeout 30s
    daemon

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

listen stats :9000
    mode http
    stats enable
    stats uri /

frontend  http-inbound
    bind  *:80
    mode http
    option  http-server-close
    default_backend http-outbound

backend http-outbound
    mode    http
    balance roundrobin
    option  forwardfor
    option  http-server-close
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
    server cluster1 {{ infranode_cluster_1 }}:80 check
    server cluster2 {{ infranode_cluster_2 }}:80 check