# RHEL 8 Repos

[rhel8baseos]
name=rhel8-baseos
baseurl=https://{{ satellite_url }}/pulp/repos/Red_Hat_GPTE/Library/content/dist/rhel8/8/x86_64/baseos/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem

[rhel8appstream]
name=rhel8-appstream
baseurl=https://{{ satellite_url }}/pulp/repos/Red_Hat_GPTE/Library/content/dist/rhel8/8/x86_64/appstream/os/
enabled=1
sslverify=1
sslclientkey=/etc/pki/tls/Red_GPTE.key
sslclientcert=/etc/pki/tls/Red_GPTE.pem

{#
{% if rhel_repos is defined %}
{% for i in range(0,rhel_repos|length) %}
[{{ rhel_repos[i] }}]
name={{ rhel_repos[i] }}
baseurl=https://{{ satellite_url }}
baseurl={{}}/{{ rhel_repos[i] }}
enabled=1
gpgcheck=0

{% endfor %}
{% endif %}
#}
