---
apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  labels:
    machineconfiguration.openshift.io/role: worker
  name: 99-worker-kernel-args-firmware-path
spec:
  config:
    ignition:
      version: {{ kmm_ignition_version }}
  kernelArguments:
    - 'firmware_class.path=/var/lib/firmware'