---
apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: argocd
  namespace: "{{ ocp4_workload_ama_demo_demo_namespace }}"
spec:
  dex:
    openShiftOAuth: true
  server:
    insecure: true
    route:
      enabled: true
      tls:
        insecureEdgeTerminationPolicy: Redirect
        termination: edge
