#!/bin/bash

(echo "{{ ocp4_workload_mad_roadshow_oracle_dba_password }}"; echo "{{ ocp4_workload_mad_roadshow_oracle_dba_password }}";) | /etc/init.d/oracle-xe-21c configure > /root/XEsilentinstall.log 2>&1
