#!/bin/bash
export ORACLE_HOME=/opt/oracle/product/21c/dbhomeXE
export PATH=$PATH:$ORACLE_HOME/bin
export ORACLE_SID=XE
export ORAENV_ASK=NO
. $ORACLE_HOME/bin/oraenv

sqlplus sys/{{ ocp4_workload_mad_roadshow_oracle_dba_password }}@//localhost:1521/XEPDB1 as sysdba </home/oracle/setup-customer-database.sql
