CREATE USER {{ ocp4_workload_mad_roadshow_oracle_db_user }} IDENTIFIED BY "{{ ocp4_workload_mad_roadshow_oracle_db_password }}";

GRANT CONNECT TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT CREATE SESSION TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT CREATE TABLE TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT CREATE SEQUENCE TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT UNLIMITED TABLESPACE TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT CONNECT TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT CREATE SESSION GRANT ANY PRIVILEGE TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
GRANT UNLIMITED TABLESPACE TO {{ ocp4_workload_mad_roadshow_oracle_db_user }};
