---
apiVersion: cluster.open-cluster-management.io/v1alpha1
kind: HypershiftDeployment
metadata:
  name: {{ _ocp4_workload_rhacm_hypershift_cluster_name }}
  namespace: {{ ocp4_workload_rhacm_hypershift_namespace }}
spec:
  hostingCluster: local-cluster
  hostingNamespace: clusters
  hostedClusterSpec:
    networking:
      networkType: {{ _ocp4_workload_rhacm_hypershift_cluster_network_type }}
      machineCIDR: {{ _ocp4_workload_rhacm_hypershift_cluster_machine_cidr }}
      podCIDR: {{ _ocp4_workload_rhacm_hypershift_cluster_pod_cidr }}
      serviceCIDR: {{ _ocp4_workload_rhacm_hypershift_cluster_service_cidr }}
    platform:
      type: AWS
    pullSecret:
      name: {{ _ocp4_workload_rhacm_hypershift_cluster_name }}-pull-secret
    release:
      image: quay.io/openshift-release-dev/ocp-release:{{ _ocp4_workload_rhacm_hypershift_cluster_ocp_release }}-x86_64
    services:
    - service: APIServer
      servicePublishingStrategy:
        type: LoadBalancer
    - service: OAuthServer
      servicePublishingStrategy:
        type: Route
    - service: Konnectivity
      servicePublishingStrategy:
        type: Route
    - service: Ignition
      servicePublishingStrategy:
        type: Route
    sshKey: {}
  nodePools:
{% if _ocp4_workload_rhacm_hypershift_cluster_zones | length == 0 %}
  - name: {{ _ocp4_workload_rhacm_hypershift_cluster_name }}
    spec:
      clusterName: {{ _ocp4_workload_rhacm_hypershift_cluster_name }}
      management:
        autoRepair: false
        replace:
          rollingUpdate:
            maxSurge: 1
            maxUnavailable: 0
          strategy: RollingUpdate
        upgradeType: Replace
      platform:
        aws:
          instanceType: {{ _ocp4_workload_rhacm_hypershift_cluster_worker_instance_type }}
        type: AWS
      release:
        image: quay.io/openshift-release-dev/ocp-release:{{ _ocp4_workload_rhacm_hypershift_cluster_ocp_release }}-x86_64
      replicas: {{ _ocp4_workload_rhacm_hypershift_cluster_worker_count }}
{% else %}
{%   for zone in _ocp4_workload_rhacm_hypershift_cluster_zones %}
  - name: {{ _ocp4_workload_rhacm_hypershift_cluster_name }}-{{ zone }}
    spec:
      clusterName: {{ _ocp4_workload_rhacm_hypershift_cluster_name }}
      management:
        autoRepair: false
        replace:
          rollingUpdate:
            maxSurge: 1
            maxUnavailable: 0
          strategy: RollingUpdate
        upgradeType: Replace
      platform:
        aws:
          instanceType: {{ _ocp4_workload_rhacm_hypershift_cluster_worker_instance_type }}
        type: AWS
      release:
        image: quay.io/openshift-release-dev/ocp-release:{{ _ocp4_workload_rhacm_hypershift_cluster_ocp_release }}-x86_64
      replicas: {{ _ocp4_workload_rhacm_hypershift_cluster_worker_count }}
{%   endfor %}
{% endif %}
  infrastructure:
    cloudProvider:
      name: aws-credentials
    configure: True
    platform:
      aws:
        region: {{ _ocp4_workload_rhacm_hypershift_cluster_region }}
{% if _ocp4_workload_rhacm_hypershift_cluster_zones | default([]) | length > 0 %}
        zones: {{ _ocp4_workload_rhacm_hypershift_cluster_zones | to_json }}
{% endif %}
