---
apiVersion: v1
kind: ConfigMap
metadata:
  name: hypershift-override-images
  namespace: local-cluster
data:
  apiserver-network-proxy: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/apiserver-network-proxy-rhel8:{{ ocp4_workload_rhacm_hypershift_apiserver_network_proxy_image_tag }}
  aws-encryption-provider: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/aws-encryption-provider-rhel8:{{ ocp4_workload_rhacm_hypershift_aws_encryption_provider_image_tag }}
  cluster-api: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/cluster-api-rhel8:{{ ocp4_workload_rhacm_hypershift_cluster_api_image_tag }}
  cluster-api-provider-agent: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/cluster-api-provider-agent-rhel8:{{ ocp4_workload_rhacm_hypershift_cluster_api_provider_agent_image_tag }}
  cluster-api-provider-aws: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/cluster-api-provider-aws-rhel8:{{ ocp4_workload_rhacm_hypershift_cluster_api_provider_aws_image_tag }}
  cluster-api-provider-azure: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/cluster-api-provider-azure-rhel8:{{ ocp4_workload_rhacm_hypershift_cluster_api_provider_azure_image_tag }}
  cluster-api-provider-kubevirt: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/cluster-api-provider-kubevirt-rhel8:{{ ocp4_workload_rhacm_hypershift_cluster_api_provider_kubevirt_image_tag }}
  hypershift-cli: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/hypershift-cli-rhel8:{{ ocp4_workload_rhacm_hypershift_hypershift_cli_image_tag }}
  hypershift-operator: {{ ocp4_workload_rhacm_hypershift_hcp_registry }}/hypershift-rhel8-operator:{{ ocp4_workload_rhacm_hypershift_hypershift_operator_image_tag }}
