---
apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: local-cluster
  labels:
    cluster.open-cluster-management.io/backup: "true"
type: Opaque
data:
  aws_secret_access_key: {{ aws_secret_access_key | b64encode }}
  aws_access_key_id: {{ aws_access_key_id | b64encode }}
  baseDomain: {{ subdomain_base | b64encode }}
  .dockerconfigjson: {{ ocp4_pull_secret | b64encode }}
  ssh-publickey: {{ r_hypershift_public_key.content }}
  ssh-privatekey: {{ r_hypershift_private_key.content }}
