---
apiVersion: v1
kind: Secret
metadata:
  name: aws-credentials
  namespace: {{ ocp4_workload_rhacm_hypershift_namespace }}
  labels:
    cluster.open-cluster-management.io/backup: ""
type: Opaque
data:
  ssh-publickey: {{ r_hypershift_public_key.content }}
  ssh-privatekey: {{ r_hypershift_private_key.content }}
  pullSecret: {{ ocp4_token | b64encode }}
  baseDomain: {{ subdomain_base | b64encode }}
  aws_secret_access_key: {{ aws_secret_access_key | b64encode }}
  aws_access_key_id: {{ aws_access_key_id | b64encode }}
