{
        "Version": "2012-10-17",
        "Statement": [
           {
               "Effect": "Allow",
               "Principal": {
                   "AWS": {{ r_arn.stdout }}
               },
               "Action": "sts:AssumeRole"
           }
        ]
}
