kind: Job
apiVersion: batch/v1
metadata:
  name: cleanup-ceph-{{ ai_ocp_namespace }}
  namespace: cleanup
spec:
  replicas: 1
  selector:
    name: cleanup-ceph
  template:
    metadata:
      labels:
        name: cleanup-ceph
    spec:
      containers:
      - image: registry.redhat.io/odf4/rook-ceph-rhel9-operator:v4.13
        name: cleanup-job
        command:
          - "/bin/sh"
          - "/etc/ceph/cleanup-script.sh"
        env:
          - name: LAB
            value: {{ ai_ocp_namespace }}
        volumeMounts:
          - name: keyring-volume
            mountPath: /etc/ceph
      restartPolicy: Never
      volumes:
      - name: keyring-volume
        secret:
          secretName: ceph-tenant-config

