---
apiVersion: v1
kind: Service
metadata:
  name: microshift
  namespace: {{ ocp4_workload_microshift_namespace }}
  labels:
    app.kubernetes.io/name: microshift
spec:
  ports:
  - port: 22
    targetPort: 22
    protocol: TCP
    name: ssh
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
  - port: 6443
    targetPort: 6443
    protocol: TCP
    name: api
  selector:
    kubevirt.io/domain: microshift
  sessionAffinity: None
  type: ClusterIP
