apiVersion: v1
kind: Secret
metadata:
  name: {{ automation_controller_admin_secret }}
  namespace: {{ automation_controller_project }}
type: Opaque
data:
    password: {{ automation_controller_admin_password | string | b64encode }}