apiVersion: automationcontroller.ansible.com/v1beta1
kind: AutomationController
metadata:
  name: {{ automation_controller_app_name }}
  namespace: {{ automation_controller_project }}
spec:
  create_preload_data: true
  route_tls_termination_mechanism: Edge
  garbage_collect_secrets: false
  loadbalancer_port: 80
  image_pull_policy: IfNotPresent
  projects_storage_size: 8Gi
  task_privileged: false
  projects_storage_access_mode: ReadWriteMany
  projects_persistence: false
  replicas: 1
  admin_user: admin
  loadbalancer_protocol: http
  nodeport_port: 30080
  admin_password_secret: {{ automation_controller_admin_secret }}
  init_container_image: registry.access.redhat.com/ubi8/ubi
  init_container_image_version: latest
  init_container_extra_commands: |
    until getent hosts {{ automation_controller_app_name }}-postgres-13
    do echo waiting for {{ automation_controller_app_name }}-postgres-13 
    sleep 2
    done