apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: {{ automation_controller_project_display }}
    openshift.io/requester: {{ ocp_username }}
  name: {{ automation_controller_project }}
spec:
  finalizers:
  - kubernetes
