---
# Test playbook for network device connectivity
- name: Test Cisco Router Connectivity
  hosts: routers
  gather_facts: no
  connection: ansible.netcommon.network_cli
  
  tasks:
    - name: Test basic connectivity
      cisco.ios.ios_command:
        commands:
          - show version
          - show ip interface brief
      register: device_info
      
    - name: Display device information
      ansible.builtin.debug:
        msg: 
          - "Device: {{ inventory_hostname }}"
          - "Version info available: {{ device_info.stdout[0] is defined }}"
          - "Interface info available: {{ device_info.stdout[1] is defined }}"
      
    - name: Test SSH key authentication
      cisco.ios.ios_command:
        commands:
          - show users
      register: users_info
      
    - name: Confirm SSH connectivity
      ansible.builtin.debug:
        msg: "Successfully connected to {{ inventory_hostname }} via SSH"
