[automationcontroller]
tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

[automationhub]
tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

[automationeda]
tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

[automationgateway]
tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

[database]
tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

[redis]
tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

[all:vars]
ansible_connection=local
routable_hostname=tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}

postgresql_admin_username=postgres
postgresql_admin_password={{ tower_password }}

bundle_install=true
bundle_dir=/home/cloud-user/aap_unpacked/bundle

redis_mode=standalone

controller_admin_password={{ tower_password }}
controller_pg_host=tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}
controller_pg_password={{ tower_password }}

hub_admin_password={{ tower_password }}
hub_pg_host=tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}
hub_pg_password={{ tower_password }}

eda_admin_password={{ tower_password }}
eda_pg_host=tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}
eda_pg_password={{ tower_password }}

gateway_admin_password={{ tower_password }}
gateway_pg_host=tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}
gateway_pg_password={{ tower_password }}

controller_license_file=/home/cloud-user/aap_unpacked/manifest.zip
#certificates
gateway_tls_cert=/home/cloud-user/aap_cert/fullchain.pem
gateway_tls_key=/home/cloud-user/aap_cert/privkey.pem

# Do not propagate AH content to speed up deployment
#automationhub_seed_collections=false
hub_seed_collections=false
hub_postinstall=false

# Propagate postinstallation content
controller_postinstall=true
controller_postinstall_dir=/home/cloud-user/aap_postinstall
# controller_postinstall_repo_url= git hub repo which is cloned in postinstall_dir
