[automationcontroller]
{{ groups['towers'][0] }}

[automationhub]
{{ groups['towers'][0] }}

[automationeda]
{{ groups['towers'][0] }}

[automationgateway]
{{ groups['towers'][0] }}

[automationmetrics]
{{ groups['towers'][0] }}

[database]
{{ groups['towers'][0] }}

[redis]
{{ groups['towers'][0] }}

[all:vars]
ansible_connection=local
routable_hostname={{ groups['towers'][0] }}

postgresql_admin_username=postgres
postgresql_admin_password={{ hostvars[bastion_hostname]['student_password'] }}

bundle_install=true
bundle_dir={{ playbook_dir }}/aap_unpacked/bundle

redis_mode=standalone

controller_admin_password={{ hostvars[bastion_hostname]['student_password'] }}
controller_pg_host={{ groups['towers'][0] }}
controller_pg_password={{ hostvars[bastion_hostname]['student_password'] }}

hub_admin_password={{ hostvars[bastion_hostname]['student_password'] }}
hub_pg_host={{ groups['towers'][0] }}
hub_pg_password={{ hostvars[bastion_hostname]['student_password'] }}

eda_admin_password={{ hostvars[bastion_hostname]['student_password'] }}
eda_pg_host={{ groups['towers'][0] }}
eda_pg_password={{ hostvars[bastion_hostname]['student_password'] }}

gateway_admin_password={{ hostvars[bastion_hostname]['student_password'] }}
gateway_pg_host={{ groups['towers'][0] }}
gateway_pg_password={{ hostvars[bastion_hostname]['student_password'] }}

automationmetrics_pg_host={{ groups['towers'][0] }}
automationmetrics_pg_password={{ hostvars[bastion_hostname]['student_password'] }}
automationmetrics_controller_read_pg_host={{ groups['towers'][0] }}
automationmetrics_controller_read_pg_password={{ hostvars[bastion_hostname]['student_password'] }}

mcp_allow_write_operations=true
mcp_ignore_certificate_errors=true

controller_license_file={{ playbook_dir }}/aap_unpacked/manifest.zip
#certificates
gateway_tls_cert=/home/cloud-user/aap-cert/fullchain.pem
gateway_tls_key=/home/cloud-user/aap-cert/privkey.pem

# Do not propagate AH content to speed up deployment
hub_seed_collections=false
hub_postinstall=false

# Propagate postinstallation content
controller_postinstall=true
controller_postinstall_dir={{ playbook_dir }}/aap_postinstall