_controller_url: https://tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}:8443
_gateway_proxy_url: https://tower-{{ guid }}.{{ guid }}.{{ sandbox_openshift_apps_domain }}:443
controller_admin_password: '{{ tower_password }}'
controller_admin_user: 'admin'
_ca_tls_dir: /home/cloud-user/aap/tls
controller_configuration_credentials_secure_logging: false