apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: "{{ item.name }}"
  namespace: "{{ ocp4_workload_rhacm_appsubs_namespace_prefix }}-{{ item.name }}"
  annotations:
    apps.open-cluster-management.io/deployables: ''
    apps.open-cluster-management.io/subscriptions: "{{ item.name }}/{{ item.name }}-subscription-1"
spec:
  componentKinds:
    - group: apps.open-cluster-management.io
      kind: Subscription
  descriptor: {}
  selector:
    matchExpressions:
      - key: "{{ item.label_selector_name }}"
        operator: In
        values:
        - "{{ item.label_selector_value }}"
