---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: "{{ item.name }}-placement-1"
  namespace: "{{ ocp4_workload_rhacm_appsubs_namespace_prefix }}-{{ item.name }}"
  annotations:
    labels:
      "{{ item.label_selector_name }}: {{ item.label_selector_value }}"
spec:
  clusterSelector:
    matchLabels:
      "{{ item.label_selector_name }}": "{{ item.label_selector_value }}"
