---
kind: Subscription
apiVersion: apps.open-cluster-management.io/v1
metadata:
  name: "{{ item.name }}-subscription-1"
  namespace: "{{ ocp4_workload_rhacm_appsubs_namespace_prefix }}-{{ item.name }}"
  annotations:
    apps.open-cluster-management.io/git-branch: ''
    apps.open-cluster-management.io/git-path: "{{ item.git_path }}"
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    "{{ item.label_selector_name }}": "{{ item.label_selector_value }}"
spec:
  channel: "{{ ocp4_workload_rhacm_appsubs_namespace_prefix }}-{{ item.name }}/{{ item.name }}"
  placement:
    placementRef:
      name: "{{ item.name }}-placement-1"
      kind: PlacementRule
posthooks: {}
prehooks: {}
