apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: rht-project-reaper-operator
rules:
- apiGroups:
  - user.openshift.io
  resources:
  - users
  - users/status
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - project.openshift.io
  resources:
  - projects
  verbs:
  - delete
  - get
  - list
  - watch
- apiGroups:
  - apps
  resourceNames:
  - rht-project-reaper-operator
  resources:
  - deployments/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - create
- apiGroups:
  - ""
  resources:
  - pods
  - configmaps
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - redhattraining.com
  resources:
  - projecttrackers
  - projecttrackers/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
