---
apiVersion: triggers.tekton.dev/v1alpha1
kind: TriggerBinding
metadata:
  name: trigger-binding-{{ _name_ }}
spec:
  params:
    - name: repositoryname
      value: $(body.repository.name)
    - name: gitrevision
      value: $(body.head_commit.id)
    - name: short-id
      value: $(extensions.short_sha)
    - name: gitrepositoryurl
      value: "$(body.repository.clone_url)"