apiVersion: triggers.tekton.dev/v1alpha1
kind: Trigger
metadata:
  name: trigger-{{ _name_ }}
spec:
  interceptors:
    - github:
        secretRef:
          secretName: trigger-secret-{{ _name_ }}
          secretKey: secretToken
        eventTypes:
        - push
    - cel:
        overlays:
        - key: short_sha
          expression: "body.head_commit.id.truncate(7)"
  bindings:
  - ref: trigger-binding-{{ _name_ }}
  template:
    ref: trigger-template-{{ _name_ }}