{% for rhel_repo in rhel_repos %}
[{{ rhel_repo }}]
name={{ rhel_repo }}
baseurl={{own_repo_path}}/{{ rhel_repo }}
enabled=1
gpgcheck=0

{% endfor %}

[epel]
name=Extra Packages for Enterprise Linux 7 
baseurl=http://d3s3zqyaz8cp2d.cloudfront.net/repos/epel/
enabled=1
gpgcheck=0
