apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: default-token
  namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_namespace_sa_token }}
  annotations:
    kubernetes.io/service-account.name: default