apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: quarkus-superheores
  namespace: {{ t_project_name_argocd }}
spec:
  destination:
    namespace: {{ t_project_name_test }}
    server: https://kubernetes.default.svc
  project: default
  source:
    repoURL: {{ _gitea_repo_url }}
    targetRevision: kustomize
    path: deploy/kustomize
  syncPolicy:
    automated: {}
