apiVersion: v1
kind: Secret
metadata:
  name: argocd-repo
  namespace: {{ t_project_name_argocd }}
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: {{ _gitea_repo_url }}
