---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: openshift
  name: openshift
spec:
  client:
    clientAuthenticatorType: client-secret
    redirectUris:
{% if ocp4_workload_rhsso_authentication_env_type != 'rosa-consolidated' %}
      - https://{{ ocp4_workload_rhsso_authentication_openshift_redirect_host }}/oauth2callback/rhsso
{% if ocp4_workload_rhsso_authentication_openshift_redirect_uris is defined %}
{% for uri in ocp4_workload_rhsso_authentication_openshift_redirect_uris %}
      - {{ uri }}
{% endfor %}
{% endif %}
{% else %}
      - '*'
{% endif %}
    serviceAccountsEnabled: true
    clientId: idp-4-ocp
    defaultClientScopes:
    - profile
    - email
    - roles
    - acr
    - web-origins
    implicitFlowEnabled: false
    publicClient: false
    standardFlowEnabled: true
    directAccessGrantsEnabled: true
  realmSelector:
    matchLabels:
      app: openshift
