<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee" bean-discovery-mode="all">
  <scan>
    <!-- These exclusions were added by Errai to avoid deploying client-side classes to the server -->
    <!-- End of Errai exclusions -->

    <exclude name="org.jbpm.workbench.cm.server.MockCaseManagementService">
      <if-system-property name="org.kie.server.location"/>
    </exclude>
    <exclude name="org.jbpm.workbench.cm.client.**"/>
  </scan>
</beans>