apiVersion: authorization.openshift.io/v1
kind: RoleBinding
metadata:
  name: "jenkins-view-{{ ocp_username }}"
  namespace: "{{ gpte_jenkins_project }}"
roleRef:
  name: view
subjects:
- kind: User
  name: "{{ ocp_username }}"
userNames:
- "{{ ocp_username }}"