ansible-core
ansible-runner
boto3>=1.18.0
botocore>=1.21.0
dnspython
dumb-init
jsonpatch
kubernetes>=12.0.0
ncclient
openstacksdk>=1.0.0
packet-python>=1.43.1
paramiko
pexpect>=4.5
pyOpenSSL
pypsrp[kerberos,credssp]
python-daemon
python-openstackclient
pywinrm[kerberos,credssp]
pyyaml
requests-oauthlib
six
toml
