ansible-core
ansible-runner
ansible-specdoc
boto3>=1.18.0
botocore>=1.21.0
cryptography
dnspython
equinix_metal
dumb-init
jsonpatch
kubernetes>=12.0.0
ncclient
# Fix openstacksdk version till this issue is solved: https://storyboard.openstack.org/#!/story/2010908
openstacksdk==1.3.1
packet-python>=1.43.1
passlib
paramiko
pexpect>=4.5
petname
pyOpenSSL
pypsrp[kerberos,credssp]
python-daemon
python-openstackclient
python-heatclient
python-cinderclient
python-designateclient
python-keystoneclient
python-neutronclient
python-novaclient
python-swiftclient
pywinrm[kerberos,credssp]
pyyaml
requests-oauthlib
six
toml
