apiVersion: infinispan.org/v2alpha1
kind: Cache
metadata:
  name: {{ ocp4_workload_lpe_datagrid_cache_name }}
  namespace: "{{ ocp4_workload_lpe_datagrid_namespace }}"
spec:
  clusterName: {{ ocp4_workload_lpe_datagrid_cluster_name }}
  name: operator-cache-01
  template: <distributed-cache name="mycache" mode="SYNC"><persistence><file-store/></persistence></distributed-cache>
  
