kind: Infinispan
metadata:
  name: {{ ocp4_workload_lpe_datagrid_cluster_name }}
  namespace: "{{ ocp4_workload_lpe_datagrid_namespace }}"
  annotations:
    infinispan.org/monitoring: 'false'
    # infinispan.org/podTargetLabels: prometheus_domain
    infinispan.org/targetLabels: prometheus_domain
  labels:
    type: middleware
    prometheus_domain: {{ ocp4_workload_lpe_datagrid_cluster_name }}
spec:
  container:
    cpu: '2'
    extraJvmOpts: '-Xlog:gc*=info:file=/tmp/gc.log:time,level,tags,uptimemillis:filecount=10,filesize=1m
            -XX:-UseParallelOldGC -XX:+UseG1GC -XX:MaxGCPauseMillis=400'
    memory: 3Gi
  expose: 
    annotations: {}
    type: Route
  logging:
    categories: {}
    # categories:
    #   org.infinispan: debug
    #   org.jgroups: debug
  replicas: 3
  security:
    endpointAuthentication: true
    endpointSecretName: {{ ocp4_workload_lpe_datagrid_cluster_name }}-credentials
  service:
    container:
      ephemeralStorage: true
    type: DataGrid
    
