kind: Secret
metadata:
  name: {{ ocp4_workload_lpe_datagrid_cluster_name }}-credentials
  namespace: "{{ ocp4_workload_lpe_datagrid_namespace }}"
labels:
  type: middleware
type: Opaque
stringData:
  identities.yaml: |-
    credentials:
    - username: {{ ocp4_workload_lpe_datagrid_user_name }}
      password: {{ ocp4_workload_lpe_datagrid_user_password }}
