kind: Secret
metadata:
  name: {{ ocp_username }}-credentials
  namespace: "{{ ocp4_workload_lpe_datagrid_namespace }}"
labels:
  type: middleware
type: Opaque
stringData:
  identities.yaml: |-
    credentials:
    - username: developer
      password: developer
    - username: user01
      password: user01
    - username: mysecondusername
      password: changeme-two