{
   "auths":{
      "{{ _docker_registry }}":{
         "username": "admin",
         "password": "{{ _docker_registry_password }}",
         "auth": "{{ _docker_registry_auth | b64encode }}"
      }
   }
}