apiVersion: v1
data:
  .dockerconfigjson: {{ _docker_config }}
kind: Secret
metadata:
  annotations:
    tekton.dev/docker-0: {{ _docker_registry }}
  name: hub-push-secret
type: kubernetes.io/dockerconfigjson