kind: ServiceAccount
apiVersion: v1
metadata:
  name: pipeline
secrets:
  - name: registry-pull-secret
  - name: hub-push-secret
imagePullSecrets:
  - name: registry-pull-secret
  - name: hub-push-secret
