apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: build-ee-{{ 999999999999999999999 | random | to_uuid }}
  namespace: {{ ocp4_workload_ansible_ee_namespace }}
  labels:
    tekton.dev/pipeline: ansible-builder
spec:
  params:
    - name: git-url
      value: "https://github.com/{{ item.git_org }}/{{ item.git_repo }}"
    - name: git-revision
      value: main
    - name: ANSIBLE_BUILDER_IMAGE
      value: >-
        registry.redhat.io/ansible-automation-platform-21/ansible-builder-rhel8:1.0.1-47
    - name: NAME
      value: "{{ _docker_registry }}/{{ item.git_repo }}"
    - name: TAG
      value: latest
    - name: CONTEXT
      value: ./
    - name: DOCKERFILE
      value: Containerfile
    - name: BUILD_ARGS
      value: ''
    - name: PUSH_ARGS
      value: ''
    - name: TLSVERIFY
      value: 'false'
  pipelineRef:
    name: ansible-builder
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
    - name: ee-repo
      persistentVolumeClaim:
        claimName: ansible-builder-pvc
