apiVersion: v1
data:
  .dockerconfigjson: {{ ocp4_token | b64encode }}
kind: Secret
metadata:
  annotations:
    tekton.dev/docker-1: registry.redhat.io
  name: registry-pull-secret
type: kubernetes.io/dockerconfigjson