apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: "launch-job-template"
spec:
  description: >-
    Add execution environment to automation controller
  workspaces:
    - name: source
  params:
    - description: automation controller api host url
      name: API_URL
      type: string
    - description: name of the execution environment
      name: JOB_TEMPLATE
      type: string
    - description: automation controller username
      name: USER
      type: string
    - description: automation controller password 
      name: PASSWORD
      type: string

  results:
    - description: execution environment creation result.
      name: post
  steps:
    - name: update-jt
      image: quay.io/rshah/jq
      workingDir: $(workspaces.source.path)
      resources: {}
      script: |
        #!/usr/bin/env bash

        FIND_JT=$(curl -s -w "%{http_code}" -X GET \
          https://$(params.API_URL)/api/v2/job_templates/ \
          -H 'Content-Type: application/json' \
          -u '$(params.USER):$(params.PASSWORD)'
          )
        
        data="${FIND_JT:: -3}"

        response_status="${FIND_JT: -3}"

        if [ "${response_status}" -ne "200" ]; then

            echo "${data}"

            echo "Find JT Error: HTTP repsonse is ${response_status}"

            exit 1
        fi
          
        echo "find jt ${FIND_JT: -3}"

        JT_END_POINT=$(echo -n ${FIND_JT:: -3} |jq  -r '.results[] | select(.name == "$(params.JOB_TEMPLATE)") | .related.launch')
        
        echo ${JT_END_POINT}
        
        LAUNCH_JT=$(curl -s -w "%{http_code}" -X POST \
          https://$(params.API_URL)${JT_END_POINT} \
          -H 'Content-Type: application/json' \
          -u '$(params.USER):$(params.PASSWORD)' \
          -d '{}'
        )

        echo "LAUNCH JT ${LAUNCH_JT: -3}"

        data="${LAUNCH_JT:: -3}"

        response_status="${LAUNCH_JT: -3}"

        if [ "${response_status}" -ne "201" ]; then

            echo "${data}"

            echo "Launch JT Error: HTTP repsonse is ${response_status}"

            exit 1
            
        fi

        echo "Job Template $(params.JOB_TEMPLATE) has been launched"