---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ ocp4_workload_gitops_aap_hub_name }}
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_gitops_aap_multiuser_num_users | int + 1 ) %}
      - user: {{ ocp4_workload_gitops_aap_multiuser_username_base }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ ocp4_workload_gitops_aap_hub_name }}-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ ocp4_workload_gitops_aap_multiuser_namespace_base }}-{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        syncOptions:
        - CreateNamespace=true
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_gitops_aap_hub_repo }}
        targetRevision: {{ ocp4_workload_gitops_aap_hub_repo_tag }}
        path: {{ ocp4_workload_gitops_aap_hub_repo_path }}
