---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: cert-{{ guid }}
  namespace: rhdp-policies
spec:
  clusterSelector:
    matchLabels:
      name: {{ ocp4_workload_deploy_hosted_cluster_name }}
      vendor: OpenShift
{% if ocp4_workload_deploy_hosted_cluster_labels | default("") | length > 0 %}
      {{ ocp4_workload_deploy_hosted_cluster_labels | to_nice_yaml | indent(6) }}
{% endif %}
