---
apiVersion: policy.open-cluster-management.io/v1
kind: PlacementBinding
metadata:
  name: certmanager-{{ guid }}
  namespace: {{ ocp4_workload_deploy_hosted_cluster_policies_namespace }}
placementRef:
  apiGroup: cluster.open-cluster-management.io
  kind: Placement
  name: certmanager-{{ guid }}
subjects:
- apiGroup: policy.open-cluster-management.io
  kind: Policy
  name: certmanager-{{ guid }}
