---
apiVersion: policy.open-cluster-management.io/v1
kind: Policy
metadata:
  name: cert-{{ guid }}
  namespace: rhdp-policies
spec:
  remediationAction: enforce
  disabled: false
  policy-templates:
  - objectDefinition:
      apiVersion: policy.open-cluster-management.io/v1
      kind: ConfigurationPolicy
      metadata:
        name: cert-{{ guid }}
      spec:
        remediationAction: enforce
        severity: medium
        object-templates:
        - complianceType: musthave
          objectDefinition:
            apiVersion: cert-manager.io/v1
            kind: ClusterIssuer
            metadata:
              name: letsencrypt-production-route53
            spec:
              acme:
                email: rhpds-admins@redhat.com
                server: https://acme-v02.api.letsencrypt.org/directory
                privateKeySecretRef:
                  name: cluster-issuer-le-production
                solvers:
                - selector:
                    dnsZones:
                    - {{ ocp4_workload_deploy_hosted_cluster_base_domain }}
                  dns01:
                    route53:
                      region: {{ ocp4_workload_deploy_hosted_cluster_certmanager_aws_region }}
                      hostedZoneID: {{ ocp4_workload_deploy_hosted_cluster_certmanager_aws_hostedzone_id }}
                      accessKeyID: {{ ocp4_workload_deploy_hosted_cluster_certmanager_aws_access_key_id }}
                      secretAccessKeySecretRef:
                        name: aws-secret-access-key
                        key: secret-access-key
        - complianceType: musthave
          objectDefinition:
            apiVersion: cert-manager.io/v1
            kind: Certificate
            metadata:
              name: ingress-cert
              namespace: openshift-ingress
            spec:
              secretName: ingress-cert
              duration: 2160h
              renewBefore: 360h
              usages:
              - server auth
              - client auth
              dnsNames:
              - "*.apps.{{ ocp4_workload_deploy_hosted_cluster_name }}.{{ ocp4_workload_deploy_hosted_cluster_base_domain }}"
              issuerRef:
                kind: ClusterIssuer
                name: letsencrypt-production-route53
                group: cert-manager.io
        - complianceType: musthave
          objectDefinition:
            apiVersion: operator.openshift.io/v1
            kind: IngressController
            metadata:
              name: default
              namespace: openshift-ingress-operator
            spec:
              defaultCertificate:
                name: ingress-cert
