- name: Setup Arc client on mysqls
  hosts: mysqls
  vars:
    ServicePrincipalId: "[% summit_2024_azure_arc_service_principal_id %]"
    ServicePrincipalClientSecret: "[% summit_2024_azure_arc_service_principal_client_secret %]"
    subscriptionId: "0bbc3e9b-c355-4234-a1b6-2ce956dcfa77"
    resourceGroup: "RedHatSummit2024"
    tenantId: "cbd57ad4-b4ec-4df5-b5f6-e048215d4602"
    location: "westus3"
    authType: "principal"
    correlationId: "7aaeccce-e168-4bd9-a091-812beb244e85"
    cloud: "AzureCloud"

  tasks:
    - name: Get the azcmagent.sh script
      ansible.builtin.get_url:
        dest: /root/install_linux_azcmagent.sh
        url: https://aka.ms/azcmagent
        mode: '0755'
      register: r_get_azcmagent

    - name: If failed, get with creds
      when:
        r_get_azcmagent.state != "file"
      ansible.builtin.get_url:
        url: https://gbl.his.arc.azure.com/log
        headers:
          subscriptionId: "{{ subscriptionId }}"
          resourceGroup: "{{ resourceGroup }}"
          tenantId: "{{ tenantId }}"
          location: "{{ location }}"
          correlationId: "{{ correlationId }}"
          authType: "{{ authType }}"
          operation: "{{ onboarding }}"
          messageType: "{{ DownloadScriptFailed }}"
          message: "{{ output }}"

    - name: Install azcmagent
      ansible.builtin.command:
        cmd: /root/install_linux_azcmagent.sh

    - name: Connect azcmagent to Arc
      ansible.builtin.command:
        cmd: >-
          azcmagent connect
          --service-principal-id "{{ ServicePrincipalId }}"
          --service-principal-secret "{{ ServicePrincipalClientSecret }}"
          --resource-group "{{ resourceGroup }}"
          --tenant-id "{{ tenantId }}"
          --location "{{ location }}"
          --subscription-id "{{ subscriptionId }}"
          --cloud "{{ cloud }}"
          --tags "RedhatSummit2024=CentOSLab2 }}"
          --correlation-id "{{ correlationId }}"
