{{ containers_prepare_parameter | to_nice_yaml }}
    ContainerImageRegistryLogin: true
    ContainerImageRegistryCredentials:
{% for key,value in registries.items() %}
        {{ key }}:
            {{ value.username }}: "{{ value.token }}"
{% endfor %}

