[Unit]
Description=Start Code Ready Containers
After=cloud-init.service

[Service]
Type=simple
ExecStart=/usr/local/bin/crc start
ExecStop=/usr/local/bin/crc stop
User={{ ansible_user }}
WorkingDirectory=/home/{{ ansible_user }}

[Install]
WantedBy=multi-user.target