apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-globex-ui-pipeline
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_devsecops_validated_pattern_ci_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: config/pipeline/globex-ui
    repoURL: >-
      {{ _ocp4_workload_devsecops_validated_pattern_gitea_repo_devsecops_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
    - RespectIgnoreDifferences=true
  ignoreDifferences:
  - kind: "ServiceAccount"
    jsonPointers:
    - /imagePullSecrets