kind: Secret
apiVersion: v1
metadata:
  name: globex-ui-sonarqube-secret
  namespace: "{{ ocp4_workload_devsecops_validated_pattern_ci_namespace }}"
stringData:
  token: {{ _ocp4_workload_devsecops_validated_pattern_sonarqube_globex_ui_project_token }}
type: Opaque
