apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ workshop_project.staging_name }}{{ item }}
  namespace: argocd
spec:
  destination:
    namespace: {{ workshop_project.staging_name }}{{ item }}
    server: https://kubernetes.default.svc
  project: {{ workshop_project.staging_name }}{{ item }}
  source:
    path: gitops
    repoURL: {{ workshop_source.giturl }}
    targetRevision: "{{ workshop_source.gitbranch }}"