apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.3.0
  creationTimestamp: null
  name: workshops.workshop.mcouliba.com
spec:
  group: workshop.mcouliba.com
  names:
    kind: Workshop
    listKind: WorkshopList
    plural: workshops
    singular: workshop
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Workshop is the Schema for the workshops API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: WorkshopSpec defines the desired state of Workshop
          properties:
            infrastructure:
              description: InfrastructureSpec ...
              properties:
                certManager:
                  description: CertManagerSpec ...
                  properties:
                    enabled:
                      type: boolean
                    operatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                  required:
                  - enabled
                  - operatorHub
                  type: object
                codeReadyWorkspace:
                  description: CodeReadyWorkspaceSpec ...
                  properties:
                    enabled:
                      type: boolean
                    openshiftOAuth:
                      type: boolean
                    operatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                    pluginRegistryImage:
                      description: ImageSpec ...
                      properties:
                        name:
                          type: string
                        tag:
                          type: string
                      required:
                      - name
                      - tag
                      type: object
                  required:
                  - enabled
                  - openshiftOAuth
                  - operatorHub
                  type: object
                gitea:
                  description: GiteaSpec ...
                  properties:
                    enabled:
                      type: boolean
                    image:
                      description: ImageSpec ...
                      properties:
                        name:
                          type: string
                        tag:
                          type: string
                      required:
                      - name
                      - tag
                      type: object
                  required:
                  - enabled
                  - image
                  type: object
                gitops:
                  description: GitOpsSpec ...
                  properties:
                    enabled:
                      type: boolean
                    operatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                  required:
                  - enabled
                  - operatorHub
                  type: object
                guide:
                  description: GuideSpec ...
                  properties:
                    bookbag:
                      description: BookbagSpec ...
                      properties:
                        enabled:
                          type: boolean
                        image:
                          description: ImageSpec ...
                          properties:
                            name:
                              type: string
                            tag:
                              type: string
                          required:
                          - name
                          - tag
                          type: object
                      required:
                      - enabled
                      - image
                      type: object
                    scholars:
                      description: ScholarsSpec ...
                      properties:
                        enabled:
                          type: boolean
                        guideURL:
                          additionalProperties:
                            type: string
                          type: object
                      required:
                      - enabled
                      - guideURL
                      type: object
                  type: object
                istioWorkspace:
                  description: IstioWorkspaceSpec ...
                  properties:
                    enabled:
                      type: boolean
                    operatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                  required:
                  - enabled
                  - operatorHub
                  type: object
                nexus:
                  description: NexusSpec ...
                  properties:
                    enabled:
                      type: boolean
                  required:
                  - enabled
                  type: object
                pipeline:
                  description: PipelineSpec ...
                  properties:
                    enabled:
                      type: boolean
                    operatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                  required:
                  - enabled
                  - operatorHub
                  type: object
                project:
                  description: ProjectSpec ...
                  properties:
                    enabled:
                      type: boolean
                    stagingName:
                      type: string
                  required:
                  - enabled
                  - stagingName
                  type: object
                serverless:
                  description: ServerlessSpec ...
                  properties:
                    enabled:
                      type: boolean
                    operatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                  required:
                  - enabled
                  - operatorHub
                  type: object
                serviceMesh:
                  description: ServiceMeshSpec ...
                  properties:
                    elasticSearchOperatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                    enabled:
                      type: boolean
                    jaegerOperatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                    kialiOperatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                    serviceMeshOperatorHub:
                      description: OperatorHubSpec ...
                      properties:
                        channel:
                          type: string
                        clusterServiceVersion:
                          type: string
                      required:
                      - channel
                      type: object
                  required:
                  - elasticSearchOperatorHub
                  - enabled
                  - jaegerOperatorHub
                  - kialiOperatorHub
                  - serviceMeshOperatorHub
                  type: object
                vault:
                  description: VaultSpec ...
                  properties:
                    agentInjectorImage:
                      description: ImageSpec ...
                      properties:
                        name:
                          type: string
                        tag:
                          type: string
                      required:
                      - name
                      - tag
                      type: object
                    enabled:
                      type: boolean
                    image:
                      description: ImageSpec ...
                      properties:
                        name:
                          type: string
                        tag:
                          type: string
                      required:
                      - name
                      - tag
                      type: object
                  required:
                  - agentInjectorImage
                  - enabled
                  - image
                  type: object
              type: object
            source:
              description: SourceSpec ...
              properties:
                gitBranch:
                  type: string
                gitURL:
                  type: string
              required:
              - gitBranch
              - gitURL
              type: object
            user:
              description: UserSpec ...
              properties:
                number:
                  type: integer
                password:
                  type: string
              required:
              - number
              - password
              type: object
          required:
          - infrastructure
          - source
          - user
          type: object
        status:
          description: WorkshopStatus defines the observed state of Workshop
          properties:
            bookbag:
              type: string
            certManager:
              type: string
            codeReadyWorkspace:
              type: string
            gitea:
              type: string
            gitops:
              type: string
            istioWorkspace:
              type: string
            nexus:
              type: string
            pipeline:
              type: string
            project:
              type: string
            serverless:
              type: string
            serviceMesh:
              type: string
            usernameDistribution:
              type: string
            vault:
              type: string
          required:
          - bookbag
          - certManager
          - codeReadyWorkspace
          - gitea
          - gitops
          - istioWorkspace
          - nexus
          - pipeline
          - project
          - serverless
          - serviceMesh
          - usernameDistribution
          - vault
          type: object
      type: object
  version: v1
  versions:
  - name: v1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []