apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
    annotations:
      che.eclipse.org/che-editor: che-incubator/che-code/insiders
    name: performance-monitoring
    finalizers:
      - rbac.controller.devfile.io
    labels:
      demo: 'scaling'
spec:
  contributions:
    - name: ide
      uri: https://devspaces.{{ route_subdomain }}/plugin-registry/v3/plugins/che-incubator/che-code/insiders/devfile.yaml
  routingClass: che
  started: true
  template:
    attributes:
      controller.devfile.io/devworkspace-config:
      name: devworkspace-config
      namespace: devspaces
      controller.devfile.io/storage-type: per-workspace
      dw.metadata.annotations:
      che.eclipse.org/che-editor: che-incubator/che-code/insiders
    components:
        - name: universal-developer-image
          container:
            image: 'registry.redhat.io/devspaces/udi-rhel8@sha256:99ff1b5c541855e4cf368816c4bcdcdc86d32304023f72c4443213a4032ef05b'
            sourceMapping: /projects        
    projects:
      - git:
          remotes:
            origin: '{{ workshop_app_git }}.git'
        name: performance-monitoring