apiVersion: org.eclipse.che/v2
kind: CheCluster
metadata:
  name: devspaces
  namespace: openshift-devspaces
spec:
  devEnvironments:
    containerBuildConfiguration:
      openShiftSecurityContextConstraint: container-build
    defaultEditor: che-incubator/che-code/insiders
    defaultNamespace:
      template: <username>-devspaces
    secondsOfInactivityBeforeIdling: -1
    secondsOfRunBeforeIdling: -1
    maxNumberOfWorkspacesPerUser: 1
    maxNumberOfRunningWorkspacesPerUser: 1
    startTimeoutSeconds: 300
    storage:
      pvcStrategy: per-workspace
  components:
    cheServer:
      debug: false
      logLevel: INFO
    dashboard: {}
    database:
      credentialsSecretName: postgres-credentials
      externalDb: false
      postgresDb: dbche
      postgresHostName: postgres
      postgresPort: "5432"
      pvc:
        claimSize: 1Gi
    devWorkspace:
      runningLimit: '2'
    devfileRegistry: {}
    imagePuller:
      enable: true
      spec:
        images: universal-developer-image-ubi8-latest={{ devspaces_tools_image }}
    metrics:
      enable: true
    pluginRegistry: {}
  containerRegistry: {}
  networking:
    auth:
      gateway:
        configLabels:
          app: che
          component: che-gateway-config
