---
kind: Secret
apiVersion: v1
metadata:
  name: user-profile
  namespace: {{ user }}-devspaces
  labels:
    controller.devfile.io/mount-to-devworkspace: 'true'
    controller.devfile.io/watch-secret: 'true'
  annotations:
    controller.devfile.io/mount-as: file
    controller.devfile.io/mount-path: /config/user/profile
stringData:
  email: {{ user }}@che
  name: {{ user }}
type: Opaque
---
kind: Secret
apiVersion: v1
metadata:
  name: user-preferences
  namespace: {{ user }}-devspaces
  labels:
    controller.devfile.io/mount-to-devworkspace: 'true'
  annotations:
    controller.devfile.io/mount-as: file
    controller.devfile.io/mount-path: /config/user/preferences
stringData:
  infrastructureNamespace: {{ user }}-devspaces
  infrastructureNamespaceTemplate: <username>-devspaces
type: Opaque