apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  annotations:
    che.eclipse.org/devfile-source: |
      scm:
        repo: >-
          {{ workshop_app_git }}
        fileName: devfile.yaml
      factory:
        params: >-
          url={{ workshop_app_git }}
  finalizers:
  - storage.controller.devfile.io
  - rbac.controller.devfile.io
  name: workshop-performance-monitoring-apps
  #namespace: userX-devspaces #will be replaced by a template engine processor
spec:
  contributions:
  - name: ide
    uri: "https://devspaces.{{ route_subdomain }}/plugin-registry/v3/plugins/che-incubator/che-code/insiders/devfile.yaml"
  # - kubernetes:
  #     name: che-code
  #   name: che-code
  routingClass: che
  started: true
  template:
    attributes:
      controller.devfile.io/devworkspace-config:
        name: devworkspace-config
        namespace: openshift-devspaces
      controller.devfile.io/storage-type: per-workspace
      dw.metadata.annotations:
        che.eclipse.org/devfile-source: |
          scm:
            repo: >-
              {{ workshop_app_git }}
            fileName: devfile.yaml
          factory:
            params: >-
              url={{ workshop_app_git }}
    commands:
    - id: quarkus-package-jvm
      exec:
        label: Quarkus - JVM Package
        commandLine: './mvnw clean package -Dquarkus.container-image.build=false -Dquarkus.container-image.builder=openshift'
        component: tools
        group:
          isDefault: true
          kind: build
        workingDir: '${PROJECT_SOURCE}/quarkus-app/'
    - id: quarkus-test
      exec:
        label: Quarkus - Test
        commandLine: './mvnw test'
        component: tools
        group:
          isDefault: true
          kind: build
        workingDir: '${PROJECT_SOURCE}/quarkus-app/'
    - id: quarkus-start-dev
      exec:
        label: Quarkus - Start in dev mode (Hot reload + debug)
        commandLine: './mvnw compile quarkus:dev -Dquarkus.container-image.build=false -Dquarkus.container-image.builder=openshift'
        component: tools
        group:
          isDefault: true
          kind: run
        workingDir: '${PROJECT_SOURCE}/quarkus-app/'
#    - id: quarkus-deploy-on-openshift
#      exec:
#        label: Quarkus - Build and Deploy on Openshift
#        commandLine: 'oc project ${DEVWORKSPACE_NAMESPACE}; ./mvnw clean package -DskipTests -Dquarkus.kubernetes.deploy=true -Dquarkus.container-image.builder=openshift'
#        component: tools
#        group:
#          kind: run
#        workingDir: '${PROJECT_SOURCE}/quarkus-app/'
    ### Micronaut inner-loop commands
    - id: mn-package-jvm
      exec:
        label: Micronaut - JVM Package
        commandLine: './mvnw clean package -DskipTests'
        component: tools
        group:
          isDefault: true
          kind: build
        workingDir: '${PROJECT_SOURCE}/micronaut-app/'
    - id: mn-start-dev
      exec:
        label: Micronaut - Start in dev mode
        commandLine: './mvnw compile -Dmicronaut.environments=dev mn:run'
        component: tools
        group:
          isDefault: true
          kind: run
        workingDir: '${PROJECT_SOURCE}/micronaut-app/'
    - id: mn-test
      exec:
        label: Micronaut - Test
        commandLine: './mvnw test'
        component: tools
        group:
          isDefault: true
          kind: run
        workingDir: '${PROJECT_SOURCE}/micronaut-app/'
    ### SpringBoot inner-loop commands
    - id: sb-package-jvm
      exec:
        label: SpringBoot - JVM Package
        commandLine: './mvnw clean package -DskipTests'
        component: tools
        group:
          isDefault: true
          kind: build
        workingDir: '${PROJECT_SOURCE}/springboot-app/'
    - id: sb-start-dev
      exec:
        label: SpringBoot - Start in dev mode
        commandLine: './mvnw compile spring-boot:run -Dspring.profiles.active=dev'
        component: tools
        group:
          isDefault: true
          kind: run
        workingDir: '${PROJECT_SOURCE}/springboot-app/'
    - id: sb-test
      exec:
        label: SpringBoot - Test
        commandLine: './mvnw test'
        component: tools
        group:
          isDefault: true
          kind: run
        workingDir: '${PROJECT_SOURCE}/springboot-app/'
    ### Common commands
#    - id: deploy-postgresql
#      exec:
#        label: Deploy a PostgreSQL instance
#        commandLine: '${PROJECT_SOURCE}/infrastructure/deploy_pg_using_operator.sh'
#        component: tools
#        group:
#          kind: run
#        workingDir: '${PROJECT_SOURCE}'
#    - id: switch-to-java-11
#      exec:
#        label: Switch to Java 11
#        component: "tools"
#        commandLine: |
#          [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
#          sdk default java 11.0.15-tem
    - id: switch-to-java-17
      exec:
        label: Switch to Java 17
        component: "tools"
        commandLine: |
          [[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk default java 17.0.3-tem
          #copy maven settings pointing to in-cluster nexus mirror
          [[ -s "$PROJECT_SOURCE/settings.xml" ]] && cp -v $PROJECT_SOURCE/settings.xml $HOME/.m2/
    components:
    - attributes:
        che-code.eclipse.org/contribute-cpuLimit: true
        che-code.eclipse.org/contribute-cpuRequest: true
        che-code.eclipse.org/contribute-endpoint/che-code: 3100
        che-code.eclipse.org/contribute-endpoint/code-redirect-1: 13131
        che-code.eclipse.org/contribute-endpoint/code-redirect-2: 13132
        che-code.eclipse.org/contribute-endpoint/code-redirect-3: 13133
        che-code.eclipse.org/contribute-entry-point: true
        che-code.eclipse.org/contribute-memoryLimit: true
        che-code.eclipse.org/contribute-memoryRequest: true
        che-code.eclipse.org/contribute-volume-mount/checode: /checode
        che-code.eclipse.org/contributed-container: tools
        che-code.eclipse.org/original-cpuLimit: 2000m
        che-code.eclipse.org/original-cpuRequest: 1000m
        che-code.eclipse.org/original-memoryLimit: 8Gi
        che-code.eclipse.org/original-memoryRequest: 4Gi
      container:
        command:
        - /checode/entrypoint-volume.sh
        cpuLimit: 3000m
        cpuRequest: 1030m
        endpoints:
        - exposure: none
          name: debug
          protocol: tcp
          targetPort: 5005
        - exposure: public
          name: home
          path: /
          protocol: http
          targetPort: 8080
        - attributes:
            contributed-by: che-code.eclipse.org
            cookiesAuthEnabled: true
            discoverable: false
            type: main
            urlRewriteSupported: true
          exposure: public
          name: che-code
          protocol: https
          secure: false
          targetPort: 3100
        - attributes:
            contributed-by: che-code.eclipse.org
            discoverable: false
            urlRewriteSupported: false
          exposure: public
          name: code-redirect-1
          protocol: http
          targetPort: 13131
        - attributes:
            contributed-by: che-code.eclipse.org
            discoverable: false
            urlRewriteSupported: false
          exposure: public
          name: code-redirect-2
          protocol: http
          targetPort: 13132
        - attributes:
            contributed-by: che-code.eclipse.org
            discoverable: false
            urlRewriteSupported: false
          exposure: public
          name: code-redirect-3
          protocol: http
          targetPort: 13133
        env:
        - name: QUARKUS_HTTP_HOST
          value: 0.0.0.0
        - name: CHE_DASHBOARD_URL
          value: https://devspaces.{{ route_subdomain }}
        - name: CHE_PLUGIN_REGISTRY_URL
          value: https://devspaces.{{ route_subdomain }}/plugin-registry/v3
        - name: CHE_PLUGIN_REGISTRY_INTERNAL_URL
          value: http://plugin-registry.openshift-devspaces.svc:8080/v3
        - name: OPENVSX_REGISTRY_URL
          value: https://open-vsx.org
        #image: quay.io/devfile/universal-developer-image:ubi8-latest
        image: quay.io/devfile/universal-developer-image@sha256:80fdd1ae37d3b9e0260d9c66b4ff12e35317c31243eabeea5212d98c537a3ba9
        memoryLimit: 6Gi
        memoryRequest: 2.56G
        mountSources: true
        sourceMapping: /projects
        volumeMounts:
        - name: m2
          path: /home/user/.m2
        - name: checode
          path: /checode
      name: tools
    - container:
        args:
        - -f
        - /dev/null
        command:
        - tail
        env:
        - name: CHE_DASHBOARD_URL
          value: https://devspaces.{{ route_subdomain }}
        - name: CHE_PLUGIN_REGISTRY_URL
          value: https://devspaces.{{ route_subdomain }}/plugin-registry/v3
        - name: CHE_PLUGIN_REGISTRY_INTERNAL_URL
          value: http://plugin-registry.openshift-devspaces.svc:8080/v3
        - name: OPENVSX_REGISTRY_URL
          value: https://open-vsx.org
        image: registry.access.redhat.com/ubi8/ubi-minimal
        memoryLimit: 64M
        mountSources: true
        sourceMapping: /projects
      name: ubi-minimal
    - name: m2
      volume:
        size: 3G
    events:
      postStart:
      - switch-to-java-17
    projects:
    - git:
        checkoutFrom:
          revision: main
        remotes:
          origin: https://github.com/redhat-na-ssa/workshop_performance-monitoring-apps.git
      name: workshop-performance-monitoring-apps