apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ user }}-route-viewer'
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: route-viewer
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: '{{ user }}'
