apiVersion: integreatly.org/v1alpha1
kind: Grafana
metadata:
  name: editable-instance
spec:
  config:
    auth:
      disable_signout_menu: true
    auth.anonymous:
      enabled: true
    log:
      level: info
      mode: console
    security:
      admin_password: {{ grafana_admin_password }}
      admin_user: {{ grafana_admin_user  }}
  dashboardLabelSelector:
    - matchExpressions:
        - key: app
          operator: In
          values:
            - grafana
  ingress:
    enabled: true
