# apiVersion: integreatly.org/v1alpha1
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
spec:
  config:
    auth:
      disable_login_form: 'true'
    auth.anonymous:
      enabled: 'true'
    log:
      mode: console
    security:
      admin_password: {{ grafana_admin_password }}
      admin_user: {{ grafana_admin_user  }}
  dashboardLabelSelector:
    - matchExpressions:
        - key: app
          operator: In
          values:
            - grafana
  route:
    metadata: {}
    spec:
      port:
        targetPort: grafana
      tls:
        insecureEdgeTerminationPolicy: Allow
        termination: edge
      to:
        kind: Service
        name: grafana-service
        weight: 100
      wildcardPolicy: None
