---
apiVersion: "v1"
kind: "LimitRange"
metadata:
  name: "hyperfoil-workshop-limit"
  namespace: '{{ user }}-hyperfoil'
spec:
  limits:
    - type: "Pod"
      max:
        cpu: "2"
        memory: "4Gi"
    - type: "Container"
      max:
        cpu: "2"
        memory: "2Gi"
      default:
        cpu: "1"
        memory: "1Gi"
      defaultRequest:
        cpu: "200m"
        memory: "600Mi"
---
apiVersion: "v1"
kind: "ResourceQuota"
metadata:
  name: 'hyperfoil-workshop-quota'
  namespace: '{{ user }}-hyperfoil'
spec:
  hard:
    pods: '4'
    limits.cpu: '6'
    limits.memory: '5Gi'
