apiVersion: loki.grafana.com/v1
kind: LokiStack
metadata:
  name: logging-loki
  namespace: openshift-logging
spec:
  limits:
    global: 
      retention: 
        days: 1
  size: "{{ cluster_logging_loki_size }}"
  storage:
    schemas:
    - version: v12
      effectiveDate: "2022-06-01"
    secret:
      name: logging-loki-s3
      type: s3
  storageClassName: "{{ cluster_logging_storage_class }}"
  tenants:
    mode: openshift-logging
  template:
    distributor:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}

    queryFrontend:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}

    querier:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}

    indexGateway:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}

    gateway:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}

    ruler:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}

    compactor:
      tolerations:
      - effect: NoSchedule
        key: infra
        value: reserved
      - effect: NoExecute
        key: infra
        value: reserved
      {% if enable_infra_nodes -%}
      nodeSelector:
        node-role.kubernetes.io/infra: ''
      {%- endif %}
