apiVersion: v1
kind: Secret
metadata:
  name: logging-loki-s3
  namespace: openshift-logging
stringData:
  access_key_id: "{{ S3_ACCESS_KEY_ID }}"
  access_key_secret: "{{ S3_ACCESS_KEY_SECRET }}"
  bucketnames: "{{ S3_BUCKET_NAME }}"
  endpoint: "{{ S3_URL }}"
  region: "{{ S3_REGION }}"