---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-cicd'
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-staging'
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-hyperfoil'
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-devspaces'
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-namespace
  annotations:
    che.eclipse.org/username: '{{ user }}'