---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-cicd'
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-staging'
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-hyperfoil'
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ user }}-devspaces'