apiVersion: noobaa.io/v1alpha1
kind: BackingStore
metadata:
  labels:
    app: noobaa
  name: noobaa-pv-backing-store
  namespace: openshift-storage
spec:
  pvPool:
    numVolumes: 1
    resources:
      requests:
        storage: "{{ noobaa_pv_size }}"
    storageClass: "{{ noobaa_storage_class }}"
  type: pv-pool