kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: tekton-pipeline-deployment
  namespace: {{ user }}-staging
subjects:
  - kind: ServiceAccount
    name: pipeline
    namespace: {{ user }}-cicd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
