---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    k8s-app: prometheus-app-monitor
  name: quarkus-app
spec:
  podMetricsEndpoints:
  - interval: 20s
    targetPort: 8080
    path: /q/metrics
    scheme: http
  selector:
    matchLabels:      
      serving.knative.dev/service: quarkus-app
      serving.knative.dev/configuration: quarkus-app
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    k8s-app: prometheus-app-monitor
  name: micronaut-app
spec:
  podMetricsEndpoints:
  - interval: 20s
    targetPort: 8080
    path: /prometheus
    scheme: http
  selector:
    matchLabels:      
      serving.knative.dev/service: micronaut-app
      serving.knative.dev/configuration: micronaut-app
---
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    k8s-app: prometheus-app-monitor
  name: springboot-app
spec:
  podMetricsEndpoints:
  - interval: 20s
    targetPort: 8080
    path: /actuator/prometheus
    scheme: http
  selector:
    matchLabels:      
      serving.knative.dev/service: springboot-app
      serving.knative.dev/configuration: springboot-app                  