kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: registry-pull-workshop-rb
  namespace: {{ user }}-staging
subjects:
  - kind: User
    apiGroup: rbac.authorization.k8s.io
    name: {{ user }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: registry-workshop-role