apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: '{{ user }}-cicd-pipeline-runner'
  namespace: '{{ user }}-cicd'
  labels:
    app: workshop
subjects:
- kind: User
  name: '{{ user  }}'
  namespace: '{{ user }}-cicd'
roleRef:
  kind: ClusterRole
  name: tekton-workshop-role
  apiGroup: rbac.authorization.k8s.io
