---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: shared-workspace-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: '{{ tekton_shared_workspace_storage_size }}'
  storageClassName: '{{ tekton_storage_class }}'
  volumeMode: Filesystem