---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "allow-clone-{{ _ocp4_workload_ama_demo_shared_demo_namespace }}"
  namespace: "{{ ocp4_workload_ama_demo_shared_kubevirt_image_namespace }}"
subjects:
- kind: ServiceAccount
  name: default
  namespace: "{{ _ocp4_workload_ama_demo_shared_demo_namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: datavolume-cloner
    