---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: "{{ ocp4_workload_ama_demo_shared_kubevirt_vm_name }}"
  namespace: "{{ _ocp4_workload_ama_demo_shared_demo_namespace }}"
spec:
  running: true
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: medium
        vm.kubevirt.io/os: rhel8
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: "{{ ocp4_workload_ama_demo_shared_kubevirt_vm_name }}"
        kubevirt.io/size: medium
    spec:
      domain:
        cpu:
          cores: 2
          sockets: 2
          threads: 1
        devices:
          disks:
          - name: vol-0
            disk:
              bus: virtio
          interfaces:
          - name: net-0
            masquerade: {}
            model: virtio
          networkInterfaceMultiqueue: true
        machine:
          type: q35
        resources:
          requests:
            memory: "{{ ocp4_workload_ama_demo_shared_kubevirt_vm_memory }}"
            cpu: "{{ ocp4_workload_ama_demo_shared_kubevirt_vm_cpu }}"
      evictionStrategy: LiveMigrate
      networks:
      - name: net-0
        pod: {}
      terminationGracePeriodSeconds: 180
{% if ocp4_workload_ama_demo_shared_kubevirt_vm_node_selector_key | length > 0 %}
      nodeSelector:
        {{ ocp4_workload_ama_demo_shared_kubevirt_vm_node_selector_key }}: {{ ocp4_workload_ama_demo_shared_kubevirt_vm_node_selector_value }}
{% endif %}
{% if ocp4_workload_ama_demo_shared_kubevirt_vm_toleration_key | length > 0 %}
      tolerations:
      - key: {{ ocp4_workload_ama_demo_shared_kubevirt_vm_toleration_key }}
        operator: {{ ocp4_workload_ama_demo_shared_kubevirt_vm_toleration_operator }}
        value: {{ ocp4_workload_ama_demo_shared_kubevirt_vm_toleration_value }}
        effect: {{ ocp4_workload_ama_demo_shared_kubevirt_vm_toleration_effect }}
{% endif %}
      volumes:
      - name: vol-0
        dataVolume:
          name: "{{ ocp4_workload_ama_demo_shared_kubevirt_vm_name }}"
  dataVolumeTemplates:
  - metadata:
      name: "{{ ocp4_workload_ama_demo_shared_kubevirt_vm_name }}"
    spec:
      pvc:
        storageClassName: "{{ ocp4_workload_ama_demo_shared_kubevirt_image_storage_class }}"
        accessModes:
        - ReadWriteOnce
        volumeMode: Block
        resources:
          requests:
            storage: "{{ ocp4_workload_ama_demo_shared_kubevirt_image_size }}"
      source:
        pvc:
          namespace: "{{ ocp4_workload_ama_demo_shared_kubevirt_image_namespace }}"
          name: "{{ ocp4_workload_ama_demo_shared_kubevirt_image_name }}"
