apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: redhat-operators-snapshot-acm
  namespace: {{ ocp4_workload_rhacm_acm_project }}
spec:
  sourceType: grpc
  image: {{ ocp4_workload_rhacm_catalog_source_image }}:{{ ocp4_workload_rhacm_catalog_source_tag }}
  displayName: "Red Hat Operators Snapshot"
  publisher: "GPTE"
