apiVersion: operator.open-cluster-management.io/v1
kind: MultiClusterHub
metadata:
  name: multiclusterhub
  namespace: open-cluster-management
{% if master_instance_count < 2 %}
spec:
  availabilityConfig: Basic
{% endif %}
