apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  labels:
    build: "{{ ocp4_workload_jenkins_custom_agent_name }}"
  name: "{{ ocp4_workload_jenkins_custom_agent_name }}"
  namespace: "{{ ocp4_workload_jenkins_project }}"
spec:
  failedBuildsHistoryLimit: 2
  successfulBuildsHistoryLimit: 2
  runPolicy: Serial
  source: {{ ocp4_workload_jenkins_custom_agent_source | to_json }}
  strategy:
    type: Docker
    dockerStrategy: {}
  output:
    to:
      kind: ImageStreamTag
      name: "{{ ocp4_workload_jenkins_custom_agent_name }}:latest"
  triggers:
  - type: ConfigChange
