apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ ocp4_workload_jenkins_name }}"
  namespace: "{{ ocp4_workload_jenkins_project }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocp4_workload_jenkins_volume_size }}"
