kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: 'system:openshift:scc:anyuid'
  namespace: {{ ocp4_workload_jenkins_project }}
subjects:
  - kind: ServiceAccount
    name: default
    namespace: {{ ocp4_workload_jenkins_project }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: 'system:openshift:scc:privileged'