apiVersion: v1
kind: Route
metadata:
  annotations:
    haproxy.router.openshift.io/timeout: 4m
  name: "{{ ocp4_workload_jenkins_name }}"
  namespace: "{{ ocp4_workload_jenkins_project }}"
spec:
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: "{{ ocp4_workload_jenkins_name }}"
