apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.jenkins: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ ocp4_workload_jenkins_name }}"}}'
  name: "{{ ocp4_workload_jenkins_name }}"
  namespace: "{{ ocp4_workload_jenkins_project }}"
