apiVersion: v1
kind: Service
metadata:
  name: "{{ ocp4_workload_jenkins_name }}-jnlp"
  namespace: "{{ ocp4_workload_jenkins_project }}"
spec:
  ports:
  - name: agent
    nodePort: 0
    port: 50000
    protocol: TCP
    targetPort: 50000
  selector:
    deployment: "{{ ocp4_workload_jenkins_name }}"
  sessionAffinity: None
  type: ClusterIP
