---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: ingress
  namespace: {{ ocp4_workload_microshift_namespace }}
  labels:
    app.kubernetes.io/name: http
spec:
  host: ingress-{{ ocp4_workload_microshift_namespace }}.{{ _ocp4_workload_microshift_wildcard_domain }}
  port:
    targetPort: 80
  to:
    kind: Service
    name: microshift
    weight: 100
