---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: api
  namespace: {{ ocp4_workload_microshift_namespace }}
  labels:
    app.kubernetes.io/name: api
spec:
  host: api-{{ ocp4_workload_microshift_namespace }}.{{ _ocp4_workload_microshift_wildcard_domain }}
  port:
    targetPort: 6443
  to:
    kind: Service
    name: microshift
    weight: 100
  tls:
    insecureEdgeTerminationPolicy: None
    termination: passthrough
