---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ ocp4_workload_microshift_disk_name }}
  namespace: {{ ocp4_workload_microshift_vm_namespace }}
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_microshift_name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ ocp4_workload_microshift_disk_size }}
