---
apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: {{ ocp4_workload_microshift_name }}
  namespace: {{ ocp4_workload_microshift_vm_namespace }}
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_microshift_name }}
    app.openshift.io/runtime: kubevirt
spec:
  runStrategy: Always
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: medium
        vm.kubevirt.io/os: rhel9
        vm.kubevirt.io/workload: server
      labels:
        kubevirt.io/domain: {{ ocp4_workload_microshift_name }}
        kubevirt.io/size: medium
        app.kubernetes.io/name: {{ ocp4_workload_microshift_name }}
    spec:
      domain:
        devices:
          disks:
          - name: rootdisk
            disk: { bus: virtio }
          - name: mshiftdisk
            disk: { bus: virtio }
          - name: secretdisk
            serial: D23YZ9W6WA5DJ487
            disk: {}
          - name: cloudinitdisk
            disk: { bus: virtio }
          interfaces:
          - name: default
            masquerade: {}
        resources:
          requests:
            cpu: 2
            memory: 4Gi
      networks:
      - name: default
        pod: {}
      volumes:
      - name: rootdisk
        dataVolume:
          name: microshift-rootdisk
      - name: mshiftdisk
        persistentVolumeClaim:
          claimName: {{ ocp4_workload_microshift_disk_name }}
      - name: secretdisk
        secret:
          secretName: openshift-pull-secret
      - name: cloudinitdisk
        cloudInitNoCloud:
          userData: |-
            #cloud-config
            user: cloud-user
            password: password
            chpasswd: { expire: False }
            ssh_pwauth: false
            ssh_authorized_keys:
            - {{ r_microshift_public_key.content | b64decode | trim }}
            bootcmd:
            - "pvcreate /dev/vdb"
            - "vgcreate rhel /dev/vdb"
            - "mkdir /mnt/secretdisk"
            - "mount /dev/$(lsblk --nodeps -no name,serial | grep D23YZ9W6WA5DJ487 | cut -f1 -d' ') /mnt/secretdisk"
            - "cp /mnt/secretdisk/openshift-pull-secret /etc/crio/openshift-pull-secret"
            - "chmod 600 /etc/crio/openshift-pull-secret"
  dataVolumeTemplates:
  - metadata:
      name: microshift-rootdisk
    spec:
      # sourceRef:
      #   kind: DataSource
      #   name: rhel8
      #   namespace: openshift-virtualization-os-images
      source:
        http:
          url: {{ ocp4_workload_microshift_vm_image }}
      storage:
        resources:
          requests:
            storage: 30Gi
