apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rhsso-backstage
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_redhat_developer_hub_backstage_namespace }}
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      parameters:
        - name: client.redirectUri[0]
          value: https://{{ ocp4_workload_redhat_developer_hub_backstage_host }}/oauth2/callback
        - name: realm.identityProviders[0].alias
          value: GitLab
        - name: realm.identityProviders[0].providerId
          value: oidc
        - name: realm.identityProviders[0].clientId
          value: {{ ocp4_workload_redhat_developer_hub_keycloak_client_id }}
        - name: realm.identityProviders[0].clientSecret
          value: {{ ocp4_workload_redhat_developer_hub_keycloak_client_secret }}
        - name: realm.identityProviders[0].tokenUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/oauth/token
        - name: realm.identityProviders[0].authorizationUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/oauth/authorize
        - name: realm.identityProviders[0].clientAuthMethod
          value: client_secret_basic
        - name: realm.identityProviders[0].syncMode
          value: IMPORT
        - name: subscription.channel
          value: stable
        - name: subscription.installPlanApproval
          value: Automatic
        - name: subscription.name
          value: rhsso-operator
        - name: subscription.source
          value: redhat-operators
        - name: subscription.sourceNamespace
          value: openshift-marketplace
        - name: subscription.startingCSV
          value: rhsso-operator.7.6.4-opr-002
    path: charts/rhsso
    repoURL: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/gitops/janus-idp-gitops.git
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    retry:
      limit: -1
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 1m0s
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true