---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: backstage-gitops
  namespace: openshift-gitops
spec:
  project: default
  source:
    helm:
      parameters:
      - name: backstage.image.pullSecret
        value: {{ redhat_gpte_devhub_pull_secret }}
      - name: backstage.app.repoURL
        value: {{ ocp4_workload_redhat_developer_hub_backstage_helm_chart_repo }}
      - name: backstage.app.chart
        value: {{ ocp4_workload_redhat_developer_hub_backstage_helm_chart }}
      - name: backstage.app.valueFile
        value: {{ ocp4_workload_redhat_developer_hub_backstage_helm_repo }}/-/raw/main/charts/backstage/backstage-values.yaml
      - name: backstage.app.targetRevision
        value: {{ ocp4_workload_redhat_developer_hub_backstage_helm_chart_version }}
    repoURL: {{ ocp4_workload_redhat_developer_hub_backstage_helm_repo }}.git
    targetRevision: main
    path: charts/backstage
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ ocp4_workload_redhat_developer_hub_backstage_namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - RespectIgnoreDifferences=true
    - ApplyOutOfSyncOnly=true
    retry:
      backoff:
        duration: 10s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 10m # the maximum amount of time allowed for the backoff strategy
      limit: 15