apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: backstage
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_redhat_developer_hub_backstage_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    helm:
      parameters:
        - name: app.baseUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_backstage_host }}
        - name: argocd.appLocatorMethods[0].instances[0].name
          value: main
        - name: argocd.appLocatorMethods[0].instances[0].password
          value: {{ ocp4_workload_redhat_developer_hub_argocd_password }}
        - name: argocd.appLocatorMethods[0].instances[0].url
          value: https://{{ ocp4_workload_redhat_developer_hub_argocd_host }}
        - name: argocd.appLocatorMethods[0].instances[0].username
          value: admin
        - name: argocd.appLocatorMethods[0].type
          value: config
        - name: backend.baseUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_backstage_host }}
        - name: backend.cors.origin
          value: https://{{ ocp4_workload_redhat_developer_hub_backstage_host }}
        - name: backend.reading.allow[0].host
          value: "*.{{ ocp4_workload_redhat_developer_hub_apps_domain }}"
        - name: catalog.locations[0].rules[0].allow[0]
          value: Template
        - name: catalog.locations[0].target
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/{{ ocp4_workload_redhat_developer_hub_backstage_gitlab_group }}/software-templates/blob/main/showcase-templates.yaml
        - name: catalog.locations[0].type
          value: url
        - name: catalog.providers.gitlab.selfHosted.host
          value: {{ ocp4_workload_redhat_developer_hub_gitlab_host }}
        - name: image
          value: quay.io/redhat-gpte/backstage:1.0.0
        - name: integrations.gitlab[0].apiBaseUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/api/v4
        - name: integrations.gitlab[0].baseUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}
        - name: integrations.gitlab[0].host
          value: {{ ocp4_workload_redhat_developer_hub_gitlab_host }}
        - name: integrations.gitlab[0].token
          value: {{ ocp4_workload_redhat_developer_hub_gitlab_root_token }}
        - name: keycloak.baseUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_keycloak_host }}/auth
        - name: keycloak.clientId
          value: {{ ocp4_workload_redhat_developer_hub_backstage_client_id }}
        - name: keycloak.clientSecret
          value: {{ ocp4_workload_redhat_developer_hub_backstage_client_secret }}
        - name: keycloak.loginRealm
          value: {{ ocp4_workload_redhat_developer_hub_backstage_client_id }}
        - name: keycloak.realm
          value: {{ ocp4_workload_redhat_developer_hub_backstage_client_id }}
        - name: oauth2Proxy.cookieSecret
          value: {{ lookup('password', '/dev/null chars=ascii_lowercase length=32') }}
        - name: oauth2Proxy.issuerUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_keycloak_host }}/auth/realms/backstage
        - name: oauth2Proxy.skipTlsVerify
          value: "true"
        - name: postgresql.password
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_password }}
    path: charts/backstage
    repoURL: {{ ocp4_workload_redhat_developer_hub_backstage_repo_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
      - CreateNamespace=true