apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: default
  name: post-startup-fixes
spec:
  selector:
    matchLabels:
      app: post-startup-fixes
  replicas: 1
  template:
    metadata:
      labels:
        app: post-startup-fixes
    spec:
      containers:
      - name: post-startup-fixes
        image: registry.redhat.io/openshift4/ose-tools-rhel9@sha256:8037187950e7374a9c9bec4996033c9b24ce374920ef29047d4f63b4c20f3e6b
        command:
        - /bin/bash
        args:
        - '-ec'
        - >-
          while true; do
            oc get deployment tekton-triggers-core-interceptors -n {{ ocp4_workload_redhat_developer_hub_pipelines_namespace }} --no-headers > /dev/null 2>&1;
            if [[ $? != 0 ]]; then
              sleep 5;
              continue;
            fi

            echo "Found tekton-triggers-core-interceptors deployment";
            oc rollout status deployment tekton-triggers-core-interceptors -n {{ ocp4_workload_redhat_developer_hub_pipelines_namespace }} | grep 'successfully rolled out' > /dev/null 2>&1;
            if [[ $? != 0 ]]; then
              sleep 5;
              continue;
            fi

            oc delete pod -l app=tekton-triggers-core-interceptors -n {{ ocp4_workload_redhat_developer_hub_pipelines_namespace }} --ignore-not-found=true;
            break;
          done

          trap : TERM INT; sleep infinity & wait;
      serviceAccount: default
  strategy:
    type: Recreate
