apiVersion: keycloak.org/v1alpha1
kind: KeycloakUser
metadata:
  name: user{{ item + 1 }}
  labels:
    app: rhsso-openshift
    app.kubernetes.io/instance: rhsso-openshift
    app.kubernetes.io/name: rhsso-openshift
spec:
  realmSelector:
    matchLabels:
      app: rhsso-openshift
      app.kubernetes.io/instance: rhsso-openshift
      app.kubernetes.io/name: rhsso-openshift
  user:
    credentials:
      - temporary: false
        type: password
        value: {{ ocp4_workload_redhat_developer_hub_admin_password }}
    username: user{{ item + 1 }}
    email: user{{ item + 1 }}@opentlc.com
    enabled: true
    emailVerified: true
