apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: backstage
  name: backstage
spec:
  client:
    clientAuthenticatorType: client-secret
    clientId: backstage
    defaultClientScopes:
    - profile
    - email
    - roles
    directAccessGrantsEnabled: true
    implicitFlowEnabled: false
    publicClient: false
    redirectUris:
    - https://{{ ocp4_workload_redhat_developer_hub_backstage_host }}/oauth2/callback
    serviceAccountsEnabled: true
    standardFlowEnabled: true
  realmSelector:
    matchLabels:
      app: backstage
  serviceAccountClientRoles:
    realm-management:
    - query-groups
    - query-users
    - view-users