apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/requester: "{{ ocp4_username }}"
  name: "{{ ocp4_workload_redhat_developer_hub_backstage_namespace }}"