kind: Namespace
apiVersion: v1
metadata:
  name: {{ ocp4_workload_redhat_developer_hub_dev_user }}-devspaces
  labels:
    app.kubernetes.io/component: workspaces-namespace
    app.kubernetes.io/part-of: che.eclipse.org
  annotations:
    che.eclipse.org/username: {{ ocp4_workload_redhat_developer_hub_dev_user }}
