set -x

gitlab_host="https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}"
gitlab_user="{{ ocp4_workload_redhat_developer_hub_gitlab_root_user }}"
gitlab_password="{{ ocp4_workload_redhat_developer_hub_gitlab_root_password }}"

body_header=$(curl -c /tmp/cookies.txt -i "${gitlab_host}/users/sign_in" -s --insecure)

csrf_token=$(echo $body_header | perl -ne 'print "$1\n" if /new_user.*?authenticity_token"[[:blank:]]value="(.+?)"/' | sed -n 1p)

curl -L -b /tmp/cookies.txt -c /tmp/cookies.txt -i "${gitlab_host}/users/sign_in" \
  --data-raw "user%5Blogin%5D=${gitlab_user}&user%5Bpassword%5D=${gitlab_password}" \
  --data-urlencode "authenticity_token=${csrf_token}" \
  --compressed \
  --insecure 2>&1 > /dev/null

body_header=$(curl -sS -k -H 'user-agent: curl' -b /tmp/cookies.txt "${gitlab_host}/admin/runners" -o /tmp/gitlab-header.txt)

reg_token=$(cat /tmp/gitlab-header.txt | grep data-registration-token | sed -e 's/^.*data-registration-token="//' -e 's/".*//')

oc create secret generic gitlab-dev-runner-secret --from-literal=runner-registration-token=$reg_token -n gitlab