kind: Secret
apiVersion: v1
metadata:
  name: git-credentials-secret
  namespace: {{ ocp4_workload_redhat_developer_hub_dev_user }}-devspaces
  labels:
    controller.devfile.io/git-credential: 'true'
    controller.devfile.io/watch-secret: 'true'
  annotations:
    controller.devfile.io/mount-path: /etc/secret
stringData:
  credentials: "https://{{ ocp4_workload_redhat_developer_hub_backstage_gitlab_username }}:{{
     ocp4_workload_redhat_developer_hub_backstage_gitlab_password }}@https://{{
     ocp4_workload_redhat_developer_hub_gitlab_host }}"
type: Opaque
