kind: Secret
apiVersion: v1
metadata:
  name: gitlab-dev-runner-secret
  namespace: {{ ocp4_workload_redhat_developer_hub_gitlab_namespace }}
stringData:
  runner-registration-token: {{ ocp4_workload_redhat_developer_hub_gitlab_runner_token }}
  runner-token: ''
type: Opaque
