kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: s2i-generic-data-science-notebook
  namespace: ic-shared-minio
spec:
  lookupPolicy:
    local: true
  tags:
    - name: '1.2'
      from:
        kind: DockerImage
        name: >-
          quay.io/modh/odh-generic-data-science-notebook@sha256:76e6af79c601a323f75a58e7005de0beac66b8cccc3d2b67efb6d11d85f0cfa1
      generation: 2
      importPolicy:
        importMode: Legacy
      referencePolicy:
        type: Source
    - name: '2023.1'
      from:
        kind: DockerImage
        name: >-
          quay.io/modh/odh-generic-data-science-notebook@sha256:e2cab24ebe935d87f7596418772f5a97ce6a2e747ba0c1fd4cec08a728e99403
      generation: 2
      importPolicy:
        importMode: Legacy
      referencePolicy:
        type: Source
    - name: '2023.2'
      from:
        kind: DockerImage
        name: >-
          quay.io/modh/odh-generic-data-science-notebook@sha256:6e10eaeb233fb7a3d5c2832906a47042ba83149f5912b8a88af5de4b3b19af41
      generation: 2
      importPolicy:
        importMode: Legacy
      referencePolicy:
        type: Source
