---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: image-puller-app
  namespace: rhods-notebooks
  labels:
    k8s-app: image-puller
  annotations:
    argocd.argoproj.io/sync-wave: "2"
spec:
  selector:
    matchLabels:
      name: image-puller
  template:
    metadata:
      labels:
        name: image-puller
    spec:
      containers:
      - name: ic-app
        image: quay.io/ic-shared-minio/rhoai-lab-insurance-claim-app:2.1.2
        command: ["tail"]
        args: ["-f", "/dev/null"]
        resources:
          limits:
            memory: 20Mi
          requests:
            cpu: 10m
            memory: 10Mi
