---
apiVersion: v1
kind: Secret
metadata:
  name: minio-keys
  namespace: {{ ocp4_workload_s3_model_copy_to_minio_project }}
type: Opaque
stringData:
{% if ocp4_workload_s3_model_copy_to_minio_modern_deployment | bool %}
  minio_root_user: {{ ocp4_workload_s3_model_copy_to_minio_root_user }}
  minio_root_password: {{ ocp4_workload_s3_model_copy_to_minio_root_password }}
{% else %}
  minio_access_key: {{ ocp4_workload_s3_model_copy_to_minio_access_key }}
  minio_secret_key: {{ ocp4_workload_s3_model_copy_to_minio_secret_key }}
{% endif %}
