apiVersion: noobaa.io/v1alpha1
kind: NooBaa
metadata:
  name: noobaa
  namespace: {{ ocs_namespace }}
spec:
 dbResources:
   requests:
     cpu: {{ ocs_mcg_db_cpu }}
     memory: {{ ocs_mcg_db_mem }}
 coreResources:
   requests:
     cpu: {{ ocs_mcg_core_cpu }}
     memory: {{ ocs_mcg_core_mem }}
