apiVersion: noobaa.io/v1alpha1
kind: BackingStore
metadata:
  finalizers:
  - noobaa.io/finalizer
  labels:
    app: noobaa
  name: mcg-pv-pool-bs
  namespace: {{ ocs_namespace }}
spec:
  pvPool:
    numVolumes: {{ ocs_mcg_pv_pool_pv_quantity }}
    resources:
      requests:
        storage: {{ ocs_mcg_pv_pool_pv_size }}
    storageClass: {{ ocs_mcg_pv_pool_pv_storageclass }}
  type: pv-pool
