apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ ocs_mcg_pv_pool_bucket_name }}
  namespace: {{ ocs_namespace }}
spec:
  bucketName: migstorage
  storageClassName: {{ ocs_namespace }}.noobaa.io
  additionalConfig:
    bucketclass: mcg-pv-pool-bc
