---
version: "2.0"
secrets:
  - name: retail-test-secret
    vaultPrefixes:
    - global
    fields:
    - name: secret
      onMissingValue: generate
      vaultPolicy: validatedPatternDefaultPolicy
