apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ user }}-globex-cdc
spec:
  destination:
    namespace: {{ user }}-{{ globex_ns_suffix }}
    server: 'https://kubernetes.default.svc'
  ignoreDifferences:
    - group: kafka.strimzi.io
      jsonPointers:
        - /spec/bootstrapServers
        - /spec/authentication
        - /spec/tls
        - /spec/replicas
      kind: KafkaConnect
  project: default
  source:
    helm:
      values: |

        debezium:
          deploy: false
        cashbackConnector:
          deploy: false
        integrationPlatform:
          deploy: true

        kafka:
          namespace: {{ user }}-{{ globex_ns_suffix }}

        cashback-db:
          persistence:
            mode: ephemeral
    path: {{ ocp4_workload_cloud_architecture_workshop_application_repo_path_globex_cdc }}
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_application_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_application_repo_tag }}
  syncPolicy:
    automated: {}
