apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ user }}-globex
spec:
  destination:
    namespace: {{ user }}-{{ globex_ns_suffix }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    helm:
      values: |

        kafka:
          namespace: &namespace {{ user }}-{{ globex_ns_suffix }}

        kafka-cluster: &kafka
          bootstrapServer: kafka-kafka-bootstrap.{{ user }}-{{ globex_ns_suffix }}.svc.cluster.local:9092
          securityProtocol: SASL_PLAINTEXT
          saslMechanism: SCRAM-SHA-512
          clientId: globex
          clientSecret: globex

        kafka-broker:
          namespace: *namespace
          kafka:
            config:
              autoCreateTopics: true

        kafka-topics:
          kafka:
            namespace: *namespace

        kafdrop:
          kafka:
            <<: *kafka
            namespace: *namespace

        activity-tracking:
          kafka: *kafka

        recommendation-engine:
          kafka: *kafka

        globex-db:
          pgsql:
            adminPassword: adminpassword
          image:
            tag: 43e87ee

        globex-web:
          sso:
            url: "https://sso.{{ route_subdomain }}/realms/globex-{{ user }}"
            client: globex-web-gateway
            logoutUri: https://globex-web-{{ user }}-{{ globex_ns_suffix }}.{{ route_subdomain }}/home
            logLevel: "2"
    path: {{ ocp4_workload_cloud_architecture_workshop_application_repo_path_globex }}
    repoURL: {{ ocp4_workload_cloud_architecture_workshop_application_repo }}
    targetRevision: {{ ocp4_workload_cloud_architecture_workshop_application_repo_tag }}
  syncPolicy:
    automated: {}
