{% for __user in users %}

---
apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: '{{ __user }}-{{ camel_ns_suffix }}'
  labels:
    dashboards: camel-grafana
    folders: camel-grafana
spec:
  config:
    auth:
      disable_signout_menu: 'true'
    auth.anonymous:
      enabled: 'false'
    log:
      level: debug
      mode: console
    security:
      admin_password: test
      admin_user: test
  route:
    spec: {}

{% endfor %}    