{% for __user in users %}

---
apiVersion: hawt.io/v1
kind: Hawtio
metadata:
  name: hawtio-online
  namespace: '{{ __user }}-{{ camel_ns_suffix }}'
spec:
  auth:
    clientCertCheckSchedule: '* */12 * * *'
    clientCertExpirationPeriod: 24
  resources:
    limits:
      cpu: '1'
      memory: 200Mi
    requests:
      cpu: 200m
      memory: 32Mi
  replicas: 1
  type: Namespace

{% endfor %}    