---
apiVersion: v1
kind: Secret
metadata:
  name: console-ui-secrets
  namespace: '{{ user }}-{{ globex_ns_suffix }}'
type: Opaque
stringData:
  SESSION_SECRET: oy2JnFoj5lz3R8Qe+45EJpMXjr5wdiXb8VnUHWk9r3E=
  NEXTAUTH_SECRET: m5Mw1b7MdihzNyR6OuavBHSgOTVKSpZ0UrpuhVxR8uU=
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: console-server
  namespace: '{{ user }}-{{ globex_ns_suffix }}'
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: {{ user }}-console-server
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: console-server
subjects:
  - kind: ServiceAccount
    name: console-server
    namespace: {{ user }}-{{ globex_ns_suffix }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: console
  namespace: '{{ user }}-{{ globex_ns_suffix }}'
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: console
  template:
    metadata:
      labels:
        app: console
    spec:
      serviceAccountName: console-server
      volumes:
      - emptyDir: {}
        name: cache
      containers:
### API
      - name: console-api
        image: quay.io/eyefloaters/console-api:0.0.32
        ports:
        - containerPort: 8080
        env:
        - name: KAFKA_SECURITY_PROTOCOL
          value: SASL_PLAINTEXT
        - name: KAFKA_SASL_MECHANISM
          value: SCRAM-SHA-512
        - name: CONSOLE_KAFKA_EXAMPLE
          value: {{ user }}-{{ globex_ns_suffix }}/kafka
        - name: CONSOLE_KAFKA_EXAMPLE_BOOTSTRAP_SERVERS
          value: kafka-kafka-bootstrap:9092
        - name: CONSOLE_KAFKA_EXAMPLE_SASL_JAAS_CONFIG
          valueFrom:
            secretKeyRef:
              name: console-kafka-user1
              key: sasl.jaas.config
### User Interface
      - name: console-ui
        image: quay.io/eyefloaters/ui:0.0.31
        volumeMounts:
        - mountPath: /app/.next/cache
          name: cache
        env:
        - name: NEXTAUTH_SECRET
          valueFrom:
            secretKeyRef:
              name: console-ui-secrets
              key: NEXTAUTH_SECRET
        - name: SESSION_SECRET
          valueFrom:
            secretKeyRef:
              name: console-ui-secrets
              key: SESSION_SECRET
        - name: NEXTAUTH_URL
          value: 'https://console-ui-route-{{ user }}-{{ globex_ns_suffix }}.{{ route_subdomain }}'
        - name: BACKEND_URL
          value: 'http://127.0.0.1:8080'
        - name: CONSOLE_METRICS_PROMETHEUS_URL
          value: 'http://prometheus-operated.{{ user }}-{{ globex_ns_suffix }}.svc.cluster.local:9090'
        ports:
        - containerPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: console-ui
  namespace: '{{ user }}-{{ globex_ns_suffix }}'
spec:
  ports:
  - port: 80
    targetPort: 3000
  selector:
    app: console
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: console-ui-route
  namespace: '{{ user }}-{{ globex_ns_suffix }}'
spec:
  to:
    kind: Service
    name: console-ui
    weight: 100
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None
