{% for __user in users %}
---
apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
    name: '{{ __user }}-operator-group'
    namespace: '{{ __user }}-{{ ns }}'
spec:
    targetNamespaces:
        - '{{ __user }}-{{ ns }}'

{% endfor %}   