{% for __user in users %}
{% for __namespace in r_workshop_namespaces %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: console-prometheus-{{ __user }}-{{ __namespace.name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: console-prometheus-server
subjects:
  - kind: ServiceAccount
    name: console-prometheus-server
    namespace: {{ __user }}-{{ __namespace.name }}

{% endfor %}
{% endfor %}