{% for __user in users %}
{% for __namespace in r_workshop_namespaces %}
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: rhods-prometheus-operator
  namespace: '{{ __user }}-{{ __namespace.name }}'
spec:
  channel: beta
  installPlanApproval: Automatic
  name: rhods-prometheus-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace

{% endfor %}
{% endfor %}