{% for __user in users %}
{% for __namespace in r_workshop_namespaces %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: console-prometheus-server
  namespace: '{{ __user }}-{{ __namespace.name }}'

{% endfor %}
{% endfor %}