[Unit]
Description=OpenStack BMC using fakeipmi
After=cloud-init.service

[Service]
Type=forking
ExecStart=/usr/local/bin/openstackbmc-wrap.bash
TimeoutSec=500

[Install]
WantedBy=multi-user.target

