#!powershell

# Move into the openssh directory (Mandatory, don't ask)
cd {{ openssh_extract_dir }}\{{ openssh_archive_name }}

# Steps documented in: https://github.com/PowerShell/Win32-OpenSSH/wiki/Install-Win32-OpenSSH
.\ssh-keygen -A
New-NetFirewallRule -Protocol TCP -LocalPort 22 -Direction Inbound -Action Allow -DisplayName SSH
.\sshd.exe install
Start-Service sshd
Set-Service sshd -StartupType Automatic
