apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coolstore-microservices
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: coolstore/overlays/prod
    repoURL: >-
      {{ _ocp4_workload_coolstore_apac_summit_repo_coolstore_argocd_repo_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}