kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
apiVersion: v1
items:
- apiVersion: build.openshift.io/v1
  kind: BuildConfig
  metadata:
    name: sso
    namespace: "{{ ocp4_workload_coolstore_apac_summit_ci_namespace }}"
  spec:
    failedBuildsHistoryLimit: 5
    nodeSelector: null
    output:
      to:
        kind: ImageStreamTag
        name: sso:latest
    runPolicy: Serial
    source:
      contextDir: sso-service
      git:
        ref: main
        uri: {{ _ocp4_workload_coolstore_apac_summit_repo_url }}
      type: Git
    strategy:
      type: Docker
    successfulBuildsHistoryLimit: 5
    triggers:
    - type: ConfigChange
    - imageChange: {}
      type: ImageChange