kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
apiVersion: v1
items:
- kind: ImageStream
  apiVersion: v1
  metadata:
    name: sso
    namespace: "{{ ocp4_workload_coolstore_apac_summit_ci_namespace }}"
  spec:
    tags:
    - from:
        kind: DockerImage
        name: sso:latest
      name: latest