kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
apiVersion: v1
items:
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: web-ui
      comp-required: "true"
      demo: coolstore-microservice
    name: web-ui
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: coolstore-gw
      comp-required: "true"
      demo: coolstore-microservice
    name: coolstore-gw
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  status:
    dockerImageRepository: ""
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: inventory
      demo: coolstore-microservice
    name: inventory
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: catalog
      comp-required: "true"
      demo: coolstore-microservice
    name: catalog
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: cart
      demo: coolstore-microservice
    name: cart
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: pricing
      demo: coolstore-microservice
    name: pricing
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    labels:
      app: review
      demo: coolstore-microservice
    name: review
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest
- apiVersion: v1
  kind: ImageStream
  metadata:
    name: rating
    labels:
      app: rating
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    tags:
    - name: latest