kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
apiVersion: v1
items:
- apiVersion: v1
  kind: PersistentVolumeClaim
  metadata:
    name: workspace-pvc
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    accessModes:
    - ReadWriteOnce
    resources:
      requests:
        storage: 1Gi
    storageClassName: gp2
    volumeMode: Filesystem
- apiVersion: triggers.tekton.dev/v1alpha1
  kind: EventListener
  metadata:
    name: el-coolstore
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    triggers:
    - name: coolstore-trigger
      bindings:
      - ref: "coolstore-binding"
      template:
        ref: "coolstore-template"
- apiVersion: triggers.tekton.dev/v1alpha1
  kind: TriggerBinding
  metadata:
    name: "coolstore-binding"
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    params:
    - name: git-repo-url
      value: \$(body.repository.clone_url)
    - name: git-revision
      value: \$(body.after)
- apiVersion: triggers.tekton.dev/v1alpha1
  kind: TriggerTemplate
  metadata:
    name: "coolstore-template"
    namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  spec:
    resourcetemplates:
    - apiVersion: tekton.dev/v1beta1
      kind: PipelineRun
      metadata:
        generateName: web-ui-ci-pipeline-
        nnamespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
        labels:
          tekton.dev/pipeline: web-ui-ci-pipeline
      spec:
        params:
          - name: IMAGE
            value: image-registry.openshift-image-registry.svc:5000/coolstore/web-ui
          - name: GIT_REPO_URL
            value: "{{ _ocp4_workload_coolstore_apac_summit_repo_coolstore_argocd_repo_url }}"
          - name: GIT_MICROSERVICES_REPO_URL
            value: "{{ _ocp4_workload_coolstore_apac_summit_repo_url }}"
          - name: GIT_REPO_REVISION
            value: main
          - name: COOLSTORE_WEB_URI
            value:  "{{ _ocp4_workload_coolstore_apac_summit_web_ui_host }}"
          - name: SSO_URL
            value:  "{{ _ocp4_workload_coolstore_apac_summit_sso_url }}"
          - name: STACKROX_IMAGE
            value:  "{{ _ocp4_workload_coolstore_apac_summit_internal_image_registry_route }}/coolstore/web-ui"
          - name: SONARQUBE_HOST_URL
            value:  "{{ _ocp4_workload_coolstore_apac_summit_sonarqube_host_url }}"
        pipelineRef:
          name: web-ui-ci-pipeline
        serviceAccountName: pipeline
        timeout: 1h0m0s
        workspaces:
          - emptyDir: {}
            name: workspace
- kind: Route
  apiVersion: route.openshift.io/v1
  metadata:
    name: el-el-coolstore
    namespace: coolstore
  spec:
    to:
      kind: Service
      name: el-el-coolstore
      weight: 100
    port:
      targetPort: http-listener
    wildcardPolicy: None
