---
apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_coolstore_apac_summit_ebhook_secret_name }}
  namespace: {{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}
stringData:
  webhook-secret-key: {{ ocp4_workload_coolstore_apac_summit_webhook_secret }}
