kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
apiVersion: v1
items:
- kind: Deployment
  apiVersion: apps/v1
  metadata:
    name: sonarqube
    namespace: {{ ocp4_workload_coolstore_apac_summit_sonarqube_namespace }}
    labels:
      app: sonarqube
  spec:
    replicas: 1
    selector:
      matchLabels:
        deployment: sonarqube
    template:
      metadata:
        labels:
          deployment: sonarqube
      spec:
        containers:
          - name: sonarqube
            image: sonarqube
            ports:
              - containerPort: 9000
                protocol: TCP
            resources: {}
            terminationMessagePath: /dev/termination-log
            terminationMessagePolicy: File
            imagePullPolicy: IfNotPresent
        restartPolicy: Always
        terminationGracePeriodSeconds: 30
        dnsPolicy: ClusterFirst
        securityContext: {}
        schedulerName: default-scheduler
    strategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 25%
        maxSurge: 25%
    revisionHistoryLimit: 10
    progressDeadlineSeconds: 600
- apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: sonarqube
    name: sonarqube
    namespace: {{ ocp4_workload_coolstore_apac_summit_sonarqube_namespace }}
  spec:
    ports:
    - name: 9000-tcp
      port: 9000
      protocol: TCP
      targetPort: 9000
    selector:
      deployment: sonarqube
- apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: sonarqube
    name: sonarqube
    namespace: {{ ocp4_workload_coolstore_apac_summit_sonarqube_namespace }}
  spec:
    port:
      targetPort: 9000-tcp
    to:
      kind: Service
      name: sonarqube
      weight: 100
    wildcardPolicy: None
- apiVersion: image.openshift.io/v1
  kind: ImageStream
  metadata:
    name: sonarqube
    namespace: {{ ocp4_workload_coolstore_apac_summit_sonarqube_namespace }}
  spec:
    tags:
    - from:
        kind: DockerImage
        name: sonarqube
      name: latest