kind: Secret
apiVersion: v1
metadata:
  name: web-ui-sonarqube-secret
  namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
stringData:
  token: {{ _ocp4_workload_coolstore_apac_summit_sonarqube_project_token }}
type: Opaque
