apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: unit-tests
  namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
spec:
  params:
    - default: 'docker.io/sonarsource/sonar-scanner-cli:latest'
      name: scanImage
      type: string
    - default: >-
        https://gitea.apps.cluster-hlw9j.sandbox2180.opentlc.com/dev-user/coolstore-microservice
      name: gitRepositoryUrl
      type: string
    - default: main
      name: gitRepositoryRevision
      type: string
    - default: 'true'
      name: verbose
      type: string
  steps:
    - image: 'alpine/git:v2.26.2'
      name: git-checkout
      resources: {}
      script: |
        #!/usr/bin/env sh

        set -eu -o pipefail

        if [[ "$(params.verbose)" == "true" ]] ; then
          set -x
          echo "**** Cloning $(params.gitRepositoryUrl) into $(pwd)/repository"
        fi

        git clone "$(params.gitRepositoryUrl)" $(pwd)/repository
        cd repository
        git checkout "$(params.gitRepositoryRevision)"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace
    - name: unit-tests
      image: docker.io/node:current-alpine
      script: |
        set -x
        npm i jest-cli@21.2.1
        npm i angular-mocks@1.6.6
        npm install angular
        cd coolstore-ui
        npm test
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace/repository
  volumes:
    - emptyDir: {}
      name: repository
