apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  annotations:
    tekton.dev/displayName: Update Dev Kustomize Git Repository
  name: update-repo
  namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
spec:
  params:
    - description: URL of the Git repository to update
      name: gitRepositoryUrl
      type: string
    - default: master
      description: Branch or Tag to push the update to
      name: gitRepositoryRevision
      type: string
    - description: The image to be written into the YAML
      name: image
      type: string
    - description: The image tag to be written into the YAML
      name: imageTag
      type: string
    - description: The web uri of the coolstore app
      name: coolstore_web_uri
      type: string
    - description: The SSO url to be written into the YAML
      name: ssoUrl
      type: string
    - default: 'true'
      description: Log the commands used during execution
      name: verbose
      type: string
  steps:
    - image: 'alpine/git:v2.26.2'
      name: git-checkout
      resources: {}
      script: |
        #!/usr/bin/env sh

        set -eu -o pipefail

        if [[ "$(params.verbose)" == "true" ]] ; then
          set -x
          echo "**** Cloning $(params.gitRepositoryUrl) into $(pwd)/repository"
        fi

        git clone "$(params.gitRepositoryUrl)" $(pwd)/repository
        cd repository
        git checkout "$(params.gitRepositoryRevision)"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace
    - image: 'alpine/git:v2.26.2'
      name: update-yaml
      resources: {}
      script: >
        #!/usr/bin/env sh

        set -e

        if [[ "$(params.verbose)" == "true" ]] ; then
          echo "**** Updating ./coolstore/overlays/prod/kustomization.yaml file with image to $(params.image):$(params.imageTag)"
        fi

        export TAG=$(params.imageTag) export IMAGE=$(params.image)

        sed -i
        "s#$IMAGE:[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]-[0-9][0-9]#$IMAGE:$TAG#"
        ./coolstore/overlays/prod/kustomization.yaml

        if [[ "$(params.verbose)" == "true" ]] ; then
          echo "**** Updating ./coolstore/overlays/prod/kustomization.yaml file with SSO_URL to $(params.ssoUrl)"
        fi

        export SSO_URL=$(params.ssoUrl)

        sed -i "s#https://secure-sso-ci.*#$SSO_URL#"
        ./coolstore/overlays/prod/kustomization.yaml

        if [[ "$(params.verbose)" == "true" ]] ; then
          echo "**** Updating ./ci/overlays/prod/kustomization.yaml file with COOLSTORE_WEB_URI to $(params.coolstore_web_uri)"
        fi

        export COOLSTORE_WEB_URI=$(params.coolstore_web_uri)

        sed -i "s#web-ui-coolstore.*#$COOLSTORE_WEB_URI#"
        ./ci/overlays/prod/kustomization.yaml

        echo "View contents of the deployment patch file"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace/repository
    - image: 'alpine/git:v2.26.2'
      name: commit-push-changes
      resources: {}
      script: >
        #!/usr/bin/env sh

        set -e


        git config --global user.email "tekton@tekton.dev"

        git config --global user.name "OpenShift Pipeline"

        git add .

        git commit --allow-empty -m "[OpenShift Pipeline] Updating
        ./coolstore/overlays/prod/kustomization.yaml: $(params.image):$(params.imageTag) and $(params.ssoUrl)
        ./ci/overlays/prod/kustomization.yaml: $(params.coolstore_web_uri)"

        echo "Pushing to $(params.gitRepositoryRevision)"

        git push origin "$(params.gitRepositoryRevision)"
      volumeMounts:
        - mountPath: /workspace/repository
          name: repository
      workingDir: /workspace/repository
  volumes:
    - emptyDir: {}
      name: repository
