apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: web-ui-ci-pipeline
  namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
spec:
  params:
    - default: 'image-registry.openshift-image-registry.svc:5000/coolstore/web-ui'
      name: IMAGE
      type: string
    - default: 'default-route-openshift-image-registry.apps.cluster-j47pp-1.sandbox1983.opentlc.com/coolstore/web-ui'
      name: STACKROX_IMAGE
      type: string
    - default: 'https://github.com/redhat-gpte-devopsautomation/coolstore-microservice.git'
      name: GIT_REPO_URL
      type: string
    - default: 'https://github.com/redhat-gpte-devopsautomation/coolstore-microservice.git'
      name: GIT_MICROSERVICES_REPO_URL
      type: string
    - default: 'main'
      name: GIT_REPO_REVISION
      type: string
    - default: 'web-ui-coolstore.<CHANGE_ME>'
      name: COOLSTORE_WEB_URI
      type: string
    - default: 'https://secure-sso-ci.<CHANGE_ME>'
      name: SSO_URL
      type: string
    - default: 'https://sonarqube-.<CHANGE_ME>'
      name: SONARQUBE_HOST_URL
      type: string
  tasks:
    - name: build
      params:
        - name: SCRIPT
          value: |
            oc start-build web-ui --follow=true --wait=true
      taskRef:
        kind: ClusterTask
        name: openshift-client
      runAfter:
        - scan-code
        - unit-tests
    - name: generate-tag
      runAfter:
        - acs-image-check
        - acs-image-scan
      taskRef:
        kind: Task
        name: generate-tag
    - name: tag
      params:
        - name: SCRIPT
          value: >
            oc tag coolstore/web-ui:latest
            coolstore/web-ui:$(tasks.generate-tag.results.image-tag)
      runAfter:
        - generate-tag
      taskRef:
        kind: ClusterTask
        name: openshift-client
    - name: update-repo
      params:
        - name: gitRepositoryUrl
          value: $(params.GIT_REPO_URL)
        - name: gitRepositoryRevision
          value: $(params.GIT_REPO_REVISION)
        - name: ssoUrl
          value: $(params.SSO_URL)
        - name: image
          value: $(params.IMAGE)
        - name: imageTag
          value: $(tasks.generate-tag.results.image-tag)
        - name: coolstore_web_uri
          value: $(params.COOLSTORE_WEB_URI)
        - name: verbose
          value: 'true'
      runAfter:
        - tag
      taskRef:
        kind: Task
        name: update-repo
    - name: acs-image-check
      params:
        - name: rox_central_endpoint
          value: stackrox-endpoint
        - name: rox_api_token
          value: stackrox-secret
        - name: image
          value: >-
            $(params.STACKROX_IMAGE)
        - name: insecure-skip-tls-verify
          value: 'true'
      runAfter:
        - build
      taskRef:
        kind: Task
        name: acs-image-check
    - name: acs-image-scan
      params:
        - name: rox_central_endpoint
          value: stackrox-endpoint
        - name: rox_api_token
          value: stackrox-secret
        - name: image
          value: >-
            $(params.STACKROX_IMAGE)
        - name: insecure-skip-tls-verify
          value: 'true'
      runAfter:
        - build
      taskRef:
        kind: Task
        name: acs-image-scan
    - name: scan-code
      params:
        - name: gitRepositoryUrl
          value: $(params.GIT_MICROSERVICES_REPO_URL)
        - name: gitRepositoryRevision
          value: $(params.GIT_REPO_REVISION)
        - name: sonarqubeHostUrl
          value: $(params.SONARQUBE_HOST_URL)
      taskRef:
        kind: Task
        name: scan-code
    - name: unit-tests
      params:
        - name: gitRepositoryUrl
          value: $(params.GIT_MICROSERVICES_REPO_URL)
        - name: gitRepositoryRevision
          value: $(params.GIT_REPO_REVISION)
      taskRef:
        kind: Task
        name: unit-tests
  workspaces:
    - name: workspace
