apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: web-ui-ci-pipeline
  namespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
spec:
  params:
    - default: 'image-registry.openshift-image-registry.svc:5000/coolstore/web-ui'
      name: IMAGE
      type: string
    - default: 'https://github.com/redhat-gpte-devopsautomation/coolstore-microservice.git'
      name: GIT_REPO_URL
      type: string
    - default: 'main'
      name: GIT_REPO_REVISION
      type: string
    - default: 'web-ui-coolstore.<CHANGE_ME>'
      name: COOLSTORE_WEB_URI
      type: string
    - default: 'https://secure-sso-ci.<CHANGE_ME>'
      name: SSO_URL
      type: string
  tasks:
    - name: build
      params:
        - name: SCRIPT
          value: |
            oc start-build web-ui --follow=true
      taskRef:
        kind: ClusterTask
        name: openshift-client
    - name: generate-tag
      runAfter:
        - build
      taskRef:
        kind: Task
        name: generate-tag
    - name: tag
      params:
        - name: SCRIPT
          value: >
            oc tag coolstore/web-ui:latest
            coolstore/web-ui:$(tasks.generate-tag.results.image-tag)
      runAfter:
        - generate-tag
      taskRef:
        kind: ClusterTask
        name: openshift-client
    - name: update-kustomize-repo
      params:
        - name: gitRepositoryUrl
          value: >-
            $(params.GIT_REPO_URL)
        - name: gitRepositoryRevision
          value: $(params.GIT_REPO_REVISION)
        - name: gitPath
          value: coolstore/overlays/prod
        - name: fileName
          value: deployment-patches.yaml
        - name: image
          value: 'image-registry.openshift-image-registry.svc:5000/coolstore/web-ui'
        - name: ssoUrl
          value: $(params.SSO_URL)
        - name: imageTag
          value: $(tasks.generate-tag.results.image-tag)
        - name: verbose
          value: 'true'
      runAfter:
        - tag
      taskRef:
        kind: Task
        name: update-kustomize-repo
    - name: update-kustomize-repo-sso
      params:
        - name: gitRepositoryUrl
          value: >-
            $(params.GIT_REPO_URL)
        - name: gitRepositoryRevision
          value: $(params.GIT_REPO_REVISION)
        - name: gitPath
          value: ci/overlays/prod
        - name: fileName
          value: kustomization.yaml
        - name: coolstore_web_uri
          value: $(params.COOLSTORE_WEB_URI)
        - name: verbose
          value: 'true'
      runAfter:
        - update-kustomize-repo
      taskRef:
        kind: Task
        name: update-kustomize-repo-sso
  workspaces:
    - name: workspace
