apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  generateName: web-ui-ci-pipeline-
  nnamespace: "{{ ocp4_workload_coolstore_apac_summit_coolstore_namespace }}"
  labels:
    tekton.dev/pipeline: web-ui-ci-pipeline
spec:
  params:
    - name: IMAGE
      value: image-registry.openshift-image-registry.svc:5000/coolstore/web-ui
    - name: GIT_REPO_URL
      value: "{{ _ocp4_workload_coolstore_apac_summit_repo_coolstore_argocd_repo_url }}"
    - name: GIT_MICROSERVICES_REPO_URL
      value: "{{ _ocp4_workload_coolstore_apac_summit_repo_url }}"
    - name: GIT_REPO_REVISION
      value: main
    - name: COOLSTORE_WEB_URI
      value:  "{{ _ocp4_workload_coolstore_apac_summit_web_ui_host }}"
    - name: SSO_URL
      value:  "{{ _ocp4_workload_coolstore_apac_summit_sso_url }}"
    - name: STACKROX_IMAGE
      value:  "{{ _ocp4_workload_coolstore_apac_summit_internal_image_registry_route }}/coolstore/web-ui"
    - name: SONARQUBE_HOST_URL
      value:  "{{ _ocp4_workload_coolstore_apac_summit_sonarqube_host_url }}"
  pipelineRef:
    name: web-ui-ci-pipeline
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
    - emptyDir: {}
      name: workspace
