acme==1.2.0
boto3==1.11.14
botocore==1.14.14
certbot==1.2.0
certbot-dns-rfc2136==1.2.0
certbot-dns-route53==1.2.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
ConfigArgParse==1.0
configobj==5.0.6
cryptography==3.2
distro==1.4.0
dnspython==1.16.0
docutils==0.15.2
idna==2.8
jmespath==0.9.4
josepy==1.3.0
mock==4.0.1
parsedatetime==2.5
pycparser==2.19
pyOpenSSL==19.1.0
pyRFC3339==1.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-toolbelt==0.9.1
s3transfer==0.3.3
six==1.14.0
urllib3==1.25.8
zope.component==4.6
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.4
zope.hookable==5.0.0
zope.interface==4.7.1
zope.proxy==4.3.3