apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: globex-ui-pipeline
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_blackhat_secured_container_pipelines_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    path: config/pipeline/charts/globex-ui
    repoURL: >-
      {{ _ocp4_workload_blackhat_secured_container_pipelines_gitea_repo_devsecops_url }}
    targetRevision: HEAD
    helm:
      parameters:
      - name: globex.registry.imageRepo
        value: "{{ _internal_image_repo }}"
      - name: globex.registry.dockerConfigJson
        value: "{{ _internal_docker_config }}"
      - name: globex.gitea.manifestRepo
        value: "{{ _internal_manifest_repo }}"
      - name: globex.gitea.manifestFile
        value: "{{ _internal_manifest_file_dev }}"
      - name: globex.gitea.manifestFileFail
        value: "{{ _internal_manifest_file_fail }}"
      - name: globex.gitea.webhookSecretKey
        value: "{{ _internal_webhook_secret_key }}"
      - name: globex.gitea.token
        value: "{{ _internal_gitea_token }}"
  ignoreDifferences:
  - kind: "ServiceAccount"
    jsonPointers:
    - /imagePullSecrets
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
    retry:
      limit: 100
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s