global:
  pattern: industrial-edge

  options:
    useCSV: False
    syncPolicy: Automatic
    installPlanApproval: Automatic

  git:
    hostname: {{ ocp4_workload_industrial_edge_gitea_server_hostname }}
    account: {{ ocp4_workload_industrial_edge_gitea_user }}
    username: {{ ocp4_workload_industrial_edge_gitea_user }}
    email: {{ ocp4_workload_industrial_edge_gitea_user_email }}
    dev_revision: main

  imageregistry:
    type: openshift
    hostname: {{ ocp4_workload_industrial_edge_registry_hostname }}
    account: openshift

  datacenter:
    clustername: cluster-{{ guid }}
    domain: {{ ocp4_workload_industrial_edge_base_domain }}

  edge:
    clustername: edge-{{ guid }}
    domain: {{ ocp4_workload_industrial_edge_base_domain }}

  last_updated: {{ ansible_date_time.date }}_{{ ansible_date_time.time }}
