---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kubevirt-user-settings
  namespace: {{ ocp4_workload_virt_roadshow_configmap_namespace }}
data:
  2f29e2b5-4abb-44ad-bea4-02a4a8ddfa44: '{"cards":{},"columns":{"cdi.kubevirt.io~v1beta1~DataSource":["favorites","name","operating-system","storage-class","size","description"]},"favoriteBootableVolumes":[],"quickStart":{},"ssh":{}}'
  3a9a2493-c63d-4822-bee2-b8057416032a: '{"columns":{"cdi.kubevirt.io~v1beta1~DataSource":["favorites","name","operating-system","storage-class","size","description"]},"quickStart":{"dontShowWelcomeModal":true}}'
