apiVersion: integreatly.org/v1alpha1
kind: GrafanaDataSource
metadata:
  name: prometheus-grafana-datasource
  namespace: {{ namespace }}
spec:
  datasources:
    - basicAuthUser: internal
      access: proxy
      secureJsonData: {}
      name: prometheus
      url: 'https://prometheus-k8s.openshift-monitoring.svc:9091'
      basicAuthPassword: >-
        {{ password }}
      jsonData:
        timeInterval: 5s
        tlsSkipVerify: true
      basicAuth: true
      version: 1
      type: prometheus
      orgId: 1
  name: grafana-prometheus-datasource.yaml