Types: {{ _config.types|default('deb') }}
URIs: {{ _config.url }}
Suites: {{ _config.suites|default(ansible_distribution_release) }}
Components: {{ _config.components|default('main') }}
Signed-by: /usr/share/keyrings/{{ _name }}.gpg
{% if _config.arch is defined %}
Architecture: {{ _config.arch }}
{% endif %}
