---
apiVersion:
  operators.coreos.com/v1
kind: OperatorSource
metadata:
  name: partner-operators
  namespace: openshift-marketplace
spec:
  type: appregistry
  endpoint: https://quay.io/cnr
  registryNamespace: romonste-1
  displayName: "Partner Operators"
  publisher: "Microsoft"
  authorizationToken:
    secretName: opsrcsecret
---
apiVersion: operators.coreos.com/v1
kind: CatalogSourceConfig
metadata:
  name: sqlserver
  namespace: openshift-marketplace
spec:
  targetNamespace: openshift-operators
  packages: sqlserver
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    csc-owner-name: installed-custom-openshift-operators
    csc-owner-namespace: openshift-marketplace
  name: sqlserver
  namespace: openshift-operators
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: sqlserver
  source: installed-custom-openshift-operators
  sourceNamespace: openshift-operators
  startingCSV: sqlserver.v3.1.0
---
apiVersion: v1
kind: Secret
metadata:
  name: sql-secrets
  namespace: {{ operator_mssql_namespace }}
data:
  masterkeypassword: WXVrb245MDA=
  sapassword: WXVrb245MDA=
type: Opaque
---
apiVersion: mssql.microsoft.com/v1alpha1
kind: SqlServer
metadata:
  name: sql
  namespace: {{ operator_mssql_namespace }}
  labels:
    type: sqlserver
spec:
  acceptEula: true
  replicas: 3
  saPassword:
    secretKeyRef:
      key: sapassword
      name: sql-secrets
  monitorPolicy: 3
  pid: "developer"

