---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ mssql_nfs_pv_name }}
  labels:
    app: {{ mssql_app_name }}
spec:
  capacity:
    storage: {{ mssql_nfs_pv_storage_capacity }}
  accessModes:
    - ReadWriteMany
    - ReadWriteOnce
    - ReadOnlyMany
  persistentVolumeReclaimPolicy: Recycle
  nfs:
    server: {{ mssql_nfs_pv_server }}
    path: {{ mssql_nfs_pv_path }}
