---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ mssql_pvc_name }}
  namespace: {{ mssql_namespace }}
  labels:
    app: {{ mssql_app_name }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  selector:
    matchLabels:
      app: {{ mssql_app_name }}