apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
    app.openshift.io/runtime: postgresql
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
spec:
  replicas: {{ ocp4_workload_ama_demo_app_services_inventory_db_replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
      app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
        app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
        name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
    spec:
      containers:
        - image: {{ ocp4_workload_ama_demo_app_services_inventory_db_image }}
          imagePullPolicy: IfNotPresent
          name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
          ports:
            - name: postgresql
              containerPort: 5432
              protocol: TCP
          resources: {}
          env:
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
                  key: database-user
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
                  key: database-password
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
                  key: database-name
      serviceAccountName: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
      serviceAccount: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
