kind: Secret
apiVersion: v1
metadata:
  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
stringData:
  database-user: {{ ocp4_workload_ama_demo_app_services_inventory_db_user }}
  database-password: {{ ocp4_workload_ama_demo_app_services_inventory_db_password }}
  database-name: {{ ocp4_workload_ama_demo_app_services_inventory_db_database }}
type: Opaque