---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
    app.kubernetes.io/part-of: {{ ocp4_workload_ama_demo_app_services_inventory_app_name }}
  name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}
spec:
  ports:
    - name: postgresql
      protocol: TCP
      port: 5432
      targetPort: 5432
  selector:
    app.kubernetes.io/name: {{ ocp4_workload_ama_demo_app_services_inventory_db_name }}