---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: filestash
  labels:
    app: filestash
    app.kubernetes.io/component: filestash
    app.kubernetes.io/instance: filestash
    app.kubernetes.io/name: filestash
    app.kubernetes.io/part-of: filestash-app
    app.openshift.io/runtime-namespace: filestash
spec:
  replicas: 1
  selector:
    matchLabels:
      app: filestash
  template:
    metadata:
      labels:
        app: filestash
        deployment: filestash
    spec:
      volumes:
        - name: config-volume
          configMap:
            name: filestash-config
            defaultMode: 420
      containers:
        - name: filestash
          image: machines/filestash
          ports:
            - containerPort: 8334
              protocol: TCP
          volumeMounts:
            - name: config-volume
              mountPath: /app/data/state/config
---
kind: Service
apiVersion: v1
metadata:
  name: filestash
  labels:
    app: filestash
    app.kubernetes.io/component: filestash
    app.kubernetes.io/instance: filestash
    app.kubernetes.io/name: filestash
    app.kubernetes.io/part-of: filestash-app
    app.openshift.io/runtime-version: latest
spec:
  ports:
    - name: 8334-tcp
      protocol: TCP
      port: 8334
      targetPort: 8334
  type: ClusterIP
  selector:
    app: filestash
    deployment: filestash
---
kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: filestash
  labels:
    app: filestash
    app.kubernetes.io/component: filestash
    app.kubernetes.io/instance: filestash
    app.kubernetes.io/name: filestash
    app.kubernetes.io/part-of: filestash-app
    app.openshift.io/runtime-version: latest
spec:
  to:
    kind: Service
    name: filestash
    weight: 100
  port:
    targetPort: 8334-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  wildcardPolicy: None