---
apiVersion: workspace.devfile.io/v1alpha2
kind: DevWorkspace
metadata:
  name: camel-lab
  namespace: '{{ "user-devspaces" | replace("user", __user) }}'
spec:

  contributions:
    - name: ide
      uri:   http://devspaces-dashboard.devspaces.svc.cluster.local:8080/dashboard/api/editors/devfile?che-editor=che-incubator/che-code/latest

  routingClass: che
  started: true
  template:
    attributes:
      controller.devfile.io/storage-type: per-workspace
    commands:
      - exec:
          # commandLine: source ~/.bashrc && jbang version --update && jbang cache clear && jbang app uninstall camel && jbang app install camel@apache/camel
          commandLine: 'source ~/.bashrc && jbang trust add https://github.com/apache/camel/ && jbang app install -Dcamel.jbang.version=4.16.0 camel@apache/camel && jbang camel@apache/camel plugin add kubernetes'
          component: tools
        id: set-camel-cli
      - exec:
          commandLine: 'echo -e "export LAB_SCRIPTS=/projects/workshop/tools/scripts\nexport PATH=\$LAB_SCRIPTS:\$PATH\nsource setup" >> ~/.bashrc'
          component: tools
        id: setup-lab-default
    components:
      - container:
          endpoints:
            - exposure: public
              name: 8080-tcp
              protocol: https
              secure: true
              targetPort: 8080
          env:
            - name: MAVEN_CONFIG
              value: ''
            - name: JAVA_OPTS
              value: '-XX:MaxRAMPercentage=50.0 -XX:+UseParallelGC -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20 -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90 -Dsun.zip.disableMemoryMapping=true -Xms20m -Djava.security.egd=file:/dev/./urandom -Duser.home=/home/user'
            - name: MAVEN_OPTS
              value: $(JAVA_OPTS)
            - name: CHE_DASHBOARD_URL
              value: 'https://devspaces.{{ route_subdomain }}/dashboard/'
            - name: CLUSTER_CONSOLE_TITLE
              value: 'OpenShift Console'
            - name: CLUSTER_CONSOLE_URL
              # value: 'https://console-openshift-console.{{ route_subdomain }}/'
              value: 'https://console-openshift-console.{{ route_subdomain }}/topology/ns/{{ "user-devspaces" | replace("user", __user) }}?view=graph'
            - name: VSCODE_TRUSTED_EXTENSIONS
              value: "redhat.vscode-kaoto"

          # image: 'quay.io/redhatintegration/rhi-tools:devspaces'
          # image: quay.io/devfile/universal-developer-image:ubi8-latest
          image: quay.io/devfile/universal-developer-image:ubi9-latest
          memoryLimit: 3Gi
          sourceMapping: /projects
          volumeMounts:
            - name: m2
              path: /home/user/.m2
        name: tools

      - name: m2
        volume:
          size: 3Gi

    events:
      postStart:
        - set-camel-cli
        - setup-lab-default

    projects:
      - name: workshop
        git:
          checkoutFrom:
            revision: {{workshop_git_branch}}
          remotes:
            origin: >-
              {{workshop_git_repo}}
              