apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: petclinic
  namespace: "{{ ocp4_workload_rhtr_pipelines_dev_project_name }}"
spec:
  source:
    binary: {}
    type: binary
  output:
    to:
      kind: ImageStreamTag
      name: petclinic:latest
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: redhat-openjdk18-openshift:1.8
        namespace: openshift
    type: Source
  triggers: []
