apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: petclinic
  namespace: "{{ ocp4_workload_rhtr_pipelines_prod_project_name }}"
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    deploymentconfig: petclinic
  strategy:
    activeDeadlineSeconds: 21600
    resources: {}
    rollingParams:
      intervalSeconds: 1
      maxSurge: 25%
      maxUnavailable: 25%
      timeoutSeconds: 600
      updatePeriodSeconds: 1
    type: Rolling
  template:
    metadata:
      labels:
        deploymentconfig: petclinic
    spec:
      containers:
      - image: "image-registry.openshift-image-registry.svc:5000/{{ ocp4_workload_rhtr_pipelines_dev_project_name }}/petclinic:latest"
        imagePullPolicy: Always
        name: petclinic
        ports:
        - containerPort: 8443
          protocol: TCP
        - containerPort: 8778
          protocol: TCP
        - containerPort: 8080
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  test: false
  triggers: []
