apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: petclinic
  namespace: "{{ ocp4_workload_rhtr_pipelines_dev_project_name }}"
spec:
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: petclinic
    weight: 100
  wildcardPolicy: None
