apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: openshift-workshop-operator
subjects:
- kind: ServiceAccount
  name: openshift-workshop-operator
  namespace: "{{ workshop_operator_namespace }}"
roleRef:
  kind: ClusterRole
  name: openshift-workshop-operator
  apiGroup: rbac.authorization.k8s.io

