apiVersion: workshop.mcouliba.com/v1
kind: Workshop
metadata:
  name: debugging-workshop
  namespace: workshop-infra
spec:
  user:
    number: {{ user_count }}
    password: "{{ workshop_openshift.user_password }}"
  source:
    gitURL: "{{ workshop_source.giturl }}"
    gitBranch: "{{ workshop_source.gitbranch }}"
  infrastructure:
    codeReadyWorkspace:
      enabled: true
      operatorHub:
        channel: "{{ workshop_crw.operatorhub_channel }}"
        clusterServiceVersion: "{{ workshop_crw.operatorhub_csv }}"
      openshiftOAuth: false
    gitops:
      enabled: true
      operatorHub:
        channel: {{ workshop_gitops.operatorhub_channel }}
        clusterServiceVersion: {{ workshop_gitops.operatorhub_csv }}
    guide:
      scholars:
        enabled: true
        guideURL: 
          "{{ workshop_guide.scholars.name }}" : "{{ workshop_guide.scholars.url }}"
    istioWorkspace:
      enabled: true
      operatorHub:
        channel: {{ workshop_istioworkspace.operatorhub_channel }}
        clusterServiceVersion: {{ workshop_istioworkspace.operatorhub_csv }}
    nexus:
      enabled: true
    project:
      enabled: true
      stagingName: staging-project
    serviceMesh:
      enabled: true
      serviceMeshOperatorHub:
        channel: "{{ workshop_servicemesh.operatorhub_channel }}"
        clusterServiceVersion: "{{ workshop_servicemesh.operatorhub_csv }}"
      elasticSearchOperatorHub:
        channel: "{{ workshop_elasticsearch.operatorhub_channel }}"
      jaegerOperatorHub:
        channel: "{{ workshop_jaeger.operatorhub_channel }}"
      kialiOperatorHub:
        channel: "{{ workshop_kiali.operatorhub_channel }}"
        clusterServiceVersion: "{{ workshop_kiali.operatorhub_csv }}"
