apiVersion: openshift.redhat.com/v1alpha1
kind: Workshop
metadata:
  name: debugging-workshop
  namespace: "{{ _workshop_operator_namespace }}"
spec:
  user: 
    number: {{ num_users }}
    password: "{{ _workshop_user_password }}"
  source:
    gitURL: "{{ _workshop_source_giturl }}"
    gitBranch: "{{ _workshop_source_gitbranch }}"
  infrastructure:
    argocd:
      enabled: {{ _workshop_argocd_enabled }}
    codeReadyWorkspace:
      enabled: {{ _workshop_crw_enabled }}
      operatorHub:
        channel: "{{ _workshop_crw_operatorhub_channel }}"
        clusterServiceVersion: "{{ _workshop_crw_operatorhub_csv }}"
    etherpad:
      enabled: {{ _workshop_etherpad_enabled }}
    gogs:
      enabled: {{ _workshop_gogs_enabled }}
      image:
        name: "{{ _workshop_gogs_image_name }}"
        tag: "{{ _workshop_gogs_image_tag }}"
    nexus:
      enabled: {{ _workshop_nexus_enabled }}
    pipeline:
      enabled: {{ _workshop_pipeline_enabled }}
      operatorHub:
        channel: "{{ _workshop_pipeline_operatorhub_channel }}"
        clusterServiceVersion: "{{ _workshop_servicemesh_operatorhub_csv }}"
    project:
      enabled: {{ _workshop_project_enabled }}
      devName: "{{ _workshop_project_devname }}"
      stagingName: "{{ _workshop_project_stagingname }}"
    serviceMesh:
      enabled: {{ _workshop_servicemesh_enabled }}
      serviceMeshOperatorHub:
        channel: "{{ _workshop_servicemesh_operatorhub_channel }}"
        clusterServiceVersion: "{{ _workshop_servicemesh_operatorhub_csv }}"
    istioWorkspace:
      enabled: {{ _workshop_istioworkspace_enabled }}
    workshopper:
      enabled: {{ _workshop_workshopper_enabled }}     