apiVersion: openshift.redhat.com/v1alpha1
kind: Workshop
metadata:
  name: debugging-workshop
  namespace: "{{ workshop_operator_namespace }}"
spec:
  user: 
    number: {{ user_count }}
    password: "{{ workshop_openshift_user_password }}"
  source:
    gitURL: "{{ workshop_source_giturl }}"
    gitBranch: "{{ workshop_source_gitbranch }}"
  infrastructure:
    argocd:
      enabled: {{ workshop_argocd_enabled }}
      operatorHub:
        channel: {{ workshop_argocd_operatorhub_channel }}
        clusterServiceVersion: {{ workshop_argocd_operatorhub_csv }}
    bookbag:
      enabled: {{ workshop_bookbag_enabled }}
      image:
        name: "{{ workshop_bookbag_image_name }}"
        tag: "{{ workshop_bookbag_image_tag }}"
    codeReadyWorkspace:
      enabled: {{ workshop_crw_enabled }}
      operatorHub:
        channel: "{{ workshop_crw_operatorhub_channel }}"
        clusterServiceVersion: "{{ workshop_crw_operatorhub_csv }}"
      openshiftOAuth: {{ workshop_crw_oauth_enabled }}
    etherpad:
      enabled: {{ workshop_etherpad_enabled }}
    gogs:
      enabled: {{ workshop_gogs_enabled }}
      image:
        name: "{{ workshop_gogs_image_name }}"
        tag: "{{ workshop_gogs_image_tag }}"
    nexus:
      enabled: {{ workshop_nexus_enabled }}
    pipeline:
      enabled: {{ workshop_pipeline_enabled }}
      operatorHub:
        channel: "{{ workshop_pipeline_operatorhub_channel }}"
        clusterServiceVersion: "{{ workshop_pipeline_operatorhub_csv }}"
    project:
      enabled: {{ workshop_project_enabled }}
      devName: "{{ workshop_project_devname }}"
      stagingName: "{{ workshop_project_stagingname }}"
    serviceMesh:
      enabled: {{ workshop_servicemesh_enabled }}
      operatorHub:
        channel: "{{ workshop_servicemesh_operatorhub_channel }}"
        clusterServiceVersion: "{{ workshop_servicemesh_operatorhub_csv }}"
    istioWorkspace:
      enabled: {{ workshop_istioworkspace_enabled }}
      image:
        name: "{{ workshop_istioworkspace_image_name }}"
        tag: "{{ workshop_istioworkspace_image_tag }}"
    vault:
      enabled: false
      image:
        name: vault
        tag: "1.3.3"
      agentInjectorImage:
        name: "hashicorp/vault-k8s"
        tag: "0.3.0"
    workshopper:
      enabled: {{ workshop_workshopper_enabled }}
