apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "Workshop Infrastructure"
    openshift.io/requester: "{{ ocp_username }}"
  name: "{{ workshop_operator_namespace }}"
spec:
  finalizers:
  - kubernetes
