apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd-{{ cluster.name }}
  namespace: {{ ocp4_workload_gitops_openshift_gitops_namespace }}
spec:
  generators:
    - clusterDecisionResource:
        configMapRef: acm-placement
        labelSelector:
          matchLabels:
            cluster.open-cluster-management.io/placement: argocd-{{ cluster.name }}
        requeueAfterSeconds: 30
  template:
    metadata:
      name: argocd-{{ '{{name}}' }}
      labels:
        velero.io/exclude-from-backup: "true"
    spec:
      destination:
        namespace: {{ ocp4_workload_gitops_openshift_gitops_operator_namespace }}
        server: "{{ '{{server}}' }}"
      project: default
      source:
        helm:
          parameters:
            - name: argocd.channel
              value: {{ ocp4_workload_gitops_openshift_gitops_channel }}
            - name: argocd.startingCSV
              value: "{{ ocp4_workload_gitops_openshift_gitops_starting_csv }}"
            - name: argocd.catalogSource.name
              value: "{{ ocp4_workload_gitops_openshift_gitops_catalogsource_name }}"
            - name: argocd.catalogSource.image
              value: "{{ ocp4_workload_gitops_openshift_gitops_catalogsource_image }}"
            - name: argocd.catalogSource.imageTag
              value: "{{ ocp4_workload_gitops_openshift_gitops_catalogsource_image_tag }}"
            - name: argocd.adminPassword
              value: "{{ ocp4_workload_gitops_openshift_gitops_admin_password }}"          
        path: charts/argocd
        repoURL: {{ ocp4_workload_gitops_openshift_gitops_git_repo_url }}
        targetRevision: main
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
          - PruneLast=true
