apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: argocd-{{ _namespace }}-{{ cluster.name }}
  namespace: {{ _namespace }}
  annotations:
    apps.open-cluster-management.io/git-branch: main
    apps.open-cluster-management.io/git-path: {{ _git_path }}
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: argocd-{{ _namespace }}-{{ cluster.name }}
spec:
  channel: "{{ ocp4_workload_gitops_openshift_gitops_acm_namespace }}/agnosticg"
  placement:
    placementRef:
      kind: PlacementRule
      name: agnosticg-{{ cluster.name }}
{% if _namespace == "openshift-operators"  %}
  packageOverrides:
  - packageName: argocd
    packageOverrides:
    - path: spec
      value:
        argocd:
          channel: {{ ocp4_workload_gitops_openshift_gitops_channel }}
          catalogSource:
            name: {{ ocp4_workload_gitops_openshift_gitops_catalogsource_name }}
            image: {{ ocp4_workload_gitops_openshift_gitops_catalogsource_image }}
            imageTag: {{ ocp4_workload_gitops_openshift_gitops_catalogsource_image_tag }}
{% endif %}