apiVersion: apps/v1
kind: Deployment
metadata:
  name: userquota-operator
  namespace: "{{ _operator_project }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      name: userquota-operator
  template:
    metadata:
      labels:
        name: userquota-operator
    spec:
      serviceAccountName: userquota-operator
      containers:
        - name: userquota-operator
          image: quay.io/wkulhanek/userquota-operator:v0.0.5
          imagePullPolicy: IfNotPresent
          env:
            - name: WATCH_NAMESPACE
              value: ""
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "userquota-operator"
