apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ ocp4_workload_migration_training_catalogsource_name }}"
  namespace: openshift-migration
spec:
  sourceType: grpc
  image: "{{ ocp4_workload_migration_training_catalog_snapshot_image }}:{{ ocp4_workload_migration_training_catalog_snapshot_image_tag }}"
  displayName: "{{ ocp4_workload_migration_training_catalogsource_name }}"
