apiVersion: config.openshift.io/v1
kind: OperatorHub
metadata:
  name: cluster
spec:
  sources:
  - disabled: {{ __ocp4_workload_migration_training_disable_operatorhub }}
    name: redhat-operators
  - disabled: {{ __ocp4_workload_migration_training_disable_operatorhub }}
    name: certified-operators
  - disabled: {{ __ocp4_workload_migration_training_disable_operatorhub }}
    name: community-operators
  - disabled: {{ __ocp4_workload_migration_training_disable_operatorhub }}
    name: redhat-marketplace
