apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: mtc-operator-rh
  namespace: openshift-migration
spec:
  channel: "{{ ocp4_workload_migration_training_channel }}"
{% if ocp4_workload_migration_training_automatic_install_plan_approval | default(true) | bool and not ocp4_workload_migration_training_use_catalog_snapshot | default(false) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: mtc-operator
{% if ocp4_workload_migration_training_use_catalog_snapshot | default(false) | bool %}
  source: "{{ ocp4_workload_migration_training_catalogsource_name }}"
  sourceNamespace: openshift-migration
{% else %}
  source: redhat-operators
  sourceNamespace: openshift-marketplace
{% endif %}
{% if ocp4_workload_migration_training_starting_csv | d("") | length > 0 %}
  startingCSV: "{{ ocp4_workload_migration_training_starting_csv }}"
{% endif %}
