---
apiVersion: odf.openshift.io/v1alpha1
kind: StorageSystem
metadata:
  name: ocs-storagecluster-storagesystem
  namespace: "{{ ocp4_workload_openshift_data_foundations_namespace }}"
spec:
  kind: storagecluster.ocs.openshift.io/v1
  name: ocs-storagecluster
  namespace: "{{ ocp4_workload_openshift_data_foundations_namespace }}"
