GUID=testgucore
REGION=eu-central-1
KEYNAME=gucore
ENVTYPE=ocp-workshop
SOFTWARE_TO_DEPLOY=openshift
HOSTZONEID=YOUR_AWS_ZONEID
ENVTYPE_ARGS=(
-e osrelease=3.7.23
-e "bastion_instance_type=t2.medium"
-e "master_instance_type=t2.xlarge"
-e "infranode_instance_type=t2.xlarge"
-e "node_instance_type=t2.xlarge"
-e "nfs_instance_type=m3.large"
-e "subdomain_base_suffix=.openshift.opentlc.com"
-e "node_instance_count=1"
-e install_glusterfs=true
-e own_repo_path=http://admin.example.com/repos/ocp/3.7.23
-e repo_version=3.7
-e ocp_report=true
)
