---
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: s2i-binary
  namespace: {{ t_project_name_pipelines }}
spec:
  workspaces:
  - name: source
  params:
  - name: FROM_FILE
    description: The file to use for the s2i binary build.
    type: string
    default: ""
  - name: NAMESPACE
    type: string
    description: The namespace holding the build configuration to be used.
    default: ""
  - name: BUILDCONFIG
    type: string
    description: Name of the build config to be used.
  steps:
  - name: s2i-build
    image: image-registry.openshift-image-registry.svc:5000/openshift/cli:latest
    script: |
      #!/usr/bin/env bash

      if [[ "$(params.FROM_FILE)" == "" ]]
      then
        echo "The task must have FROM_FILE parameter set"
        exit 1
      fi

      NAMESPACE=""
      if [ "$(params.NAMESPACE)" != "" ];
      then
        NAMESPACE=" -n $(params.NAMESPACE)"
      fi

      FILE_PATH="$(ls $(workspaces.source.path)/$(params.FROM_FILE))"
      echo "Using file ${FILE_PATH} for binary build"
      oc start-build $(params.BUILDCONFIG) --from-file="${FILE_PATH}" ${NAMESPACE} --wait=true
