---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: el-quarkus-superheroes
  namespace: {{ t_project_name_pipelines }}
spec:
  host: el-{{ t_project_name_pipelines }}.{{ route_subdomain }}
  port:
    targetPort: http-listener
  to:
    kind: Service
    name: el-quarkus-superheroes
    weight: 100
