---
apiVersion: triggers.tekton.dev/v1alpha1
kind: EventListener
metadata:
  name: quarkus-superheroes
  namespace: {{ t_project_name_pipelines }}
spec:
  serviceAccountName: pipeline
  triggers:
  - name: quarkus-superheroes
    bindings:
    - ref: quarkus-superheroes
    template:
      ref: quarkus-superheroes
