apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: openshift-gitops-operator
  namespace: openshift-operators
spec:
  channel: stable
{% if ocp4_workload_plus_automatic_install_plan_approval | default(True) | bool or ocp4_workload_plus_use_catalog_snapshot | default(False) | bool %}    
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}  
  name: openshift-gitops-operator
{% if ocp4_workload_plus_use_catalog_snapshot | default(False) | bool %}
  source: redhat-operators-snapshot-ocp-plus
{% else %}
  source: redhat-operators
{% endif %}
  sourceNamespace: openshift-marketplace
{% if ocp4_workload_plus_argocd_starting_csv | d("") | length > 0 %}
  startingCSV: "{{ ocp4_workload_plus_argocd_starting_csv }}"
{% endif %}