---
apiVersion: v1
kind: LimitRange
metadata:
  name: {{ ocp4_workload_amq_streams_dev_exp_project }}-core-resource-limits
spec:
  limits:
    - default:
        memory: '{{ ocp4_workload_amq_streams_dev_exp_limitrange_limit_memory }}'
        cpu: '{{ ocp4_workload_amq_streams_dev_exp_limitrange_limit_cpu }}'
      defaultRequest:
        memory: '{{ ocp4_workload_amq_streams_dev_exp_limitrange_request_memory }}'
        cpu: '{{ ocp4_workload_amq_streams_dev_exp_limitrange_request_cpu }}' 
      type: Container
