apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: {{ ocp4_workload_amq_streams_dev_exp_operator_group }}
spec:
  targetNamespaces:
    - {{ ocp4_workload_amq_streams_dev_exp_project }}