apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ ocp4_workload_amq_streams_dev_exp_subscription_name }}
spec:
  channel: "{{ ocp4_workload_amq_streams_dev_exp_subscription_channel }}"
{% if ocp4_workload_amq_streams_dev_exp_amq_streams_operator_automatic_installplan_approval | default(True) | bool %}
  installPlanApproval: Automatic
{% else %}
  installPlanApproval: Manual
{% endif %}
  name: {{ ocp4_workload_amq_streams_dev_exp_subscription_package_name }}
  source: {{ ocp4_workload_amq_streams_dev_exp_subscription_catalog_source }}
  sourceNamespace: {{ ocp4_workload_amq_streams_dev_exp_subscription_catalog_source_namespace }}
{% if ocp4_workload_amq_streams_dev_exp_subscription_starting_csv | default("") | length > 0 %}
  startingCSV: {{ ocp4_workload_amq_streams_dev_exp_subscription_starting_csv }}
{% endif %}
