apiVersion: operator.knative.dev/v1beta1
kind: KnativeServing
metadata:
 name: {{ ocp4_workload_cloud_architecture_workshop_serverless_serving_name }}
 namespace: {{ ocp4_workload_cloud_architecture_workshop_serverless_serving_namespace }}