apiVersion: operator.serverless.openshift.io/v1alpha1
kind: KnativeKafka
metadata:
  name: {{ ocp4_workload_cloud_architecture_workshop_serverless_knative_kafka_name }}
  namespace: {{ ocp4_workload_cloud_architecture_workshop_serverless_eventing_namespace }}
spec:
  channel:
    enabled: false
  source:
    enabled: true 
  broker:
    enabled: false
  sink:
    enabled: true
