apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ install_operator_catalogsource_name }}"
  namespace: "{{ install_operator_catalogsource_namespace }}"
spec:
  sourceType: grpc
  image: "{{ install_operator_catalog_snapshot_image }}:{{ install_operator_catalog_snapshot_image_tag }}"
  displayName: "{{ install_operator_catalogsource_name }}"
  publisher: "Red Hat AgnosticD"
{% if install_operator_catalogsource_secrets | length > 0 %}
  secrets: {{ install_operator_catalogsource_secrets | to_json }}
{% endif %}
