apiVersion: kafka.strimzi.io/v1beta1
kind: Kafka
metadata:
  name: {{ _namespace }}-cluster
spec:
  entityOperator:
    topicOperator: {}
    userOperator: {}
  kafka:
    config:
      log.message.format.version: '2.3'
      offsets.topic.replication.factor: 1
      transaction.state.log.min.isr: 1
      transaction.state.log.replication.factor: 1
    listeners:
      plain: {}
      tls: {}
    replicas: 1
    storage:
      type: ephemeral
    version: 2.3.0
  zookeeper:
    replicas: 1
    storage:
      type: ephemeral
