#!/bin/bash
set -e

if [[ ! -d /usr/local/src/agnosticd ]]; then
  git clone {{ tower_agnosticd_virtualenvs_agnosticd_git_repo | quote }} /usr/local/src/agnosticd
  cd /usr/local/src/agnosticd
  git checkout {{ tower_agnosticd_virtualenvs_agnosticd_git_ref | quote }}
else
  cd /usr/local/src/agnosticd
  git fetch
  git reset --hard {{ ('origin/' ~ tower_agnosticd_virtualenvs_agnosticd_git_ref) | quote }}
fi

git checkout {{ tower_agnosticd_virtualenvs_agnosticd_git_ref | quote }}
git pull

install -d {{ tower_agnosticd_virtualenvs_venv_basedir | quote }}
cd {{ tower_agnosticd_virtualenvs_venv_basedir | quote }}

for REQUIREMENTS in /usr/local/src/agnosticd/tools/virtualenvs/*.txt; do
  echo $REQUIREMENTS
  VENV="$(basename $REQUIREMENTS | sed 's/.txt$//')"
  if [[ -L "$REQUIREMENTS" ]]; then
    TARGET="$(readlink "$REQUIREMENTS" | sed 's/.txt$//')"
    if [[ -e "$VENV" ]] && [[ "$TARGET" != "$(readlink $VENV)" ]]; then
      rm -rf "$VENV"
      ln -s "$TARGET" "$VENV"
    fi
  else
    PYTHON="$(echo $VENV | sed -rn 's/.*(python[0-9]+(\.[0-9]+)).*/\1/p')"
    if [[ -z "${PYTHON}" ]]; then
      PYTHON="$(head -n1 $REQUIREMENTS | sed -rn 's/^# (python[0-9]+(\.[0-9]+)).*/\1/p')"
    fi

    if [[ ! -d $VENV ]]; then
      if [[ ${PYTHON:0:7} == "python3" ]]; then
        $PYTHON -m venv $VENV
      else
        $PYTHON -m virtualenv $VENV
      fi
    fi
    $VENV/bin/pip install -r $REQUIREMENTS
  fi
done
