GUID=dev37
REGION=us-west-2
KEYNAME=opentlc_admin_backdoor
ENVTYPE=ocp-workshop
SOFTWARE_TO_DEPLOY=openshift
HOSTZONEID=Z186MFNM7DX4NF

# mgr_users:
cat > rhpds_mgr_users.yml <<EOF
---
mgr_users:
  - name: opentlc-mgr
    home: /home/opentlc-mgr
    git_repos:
      - repo: "https://github.com/sborenst/ansible_agnostic_deployer"
        dest: "/home/opentlc-mgr/ansible_agnostic_deployer"
        version: master
      - repo: "https://github.com/sborenst/ansible_agnostic_deployer"
        dest: "/home/opentlc-mgr/dev_ansible_agnostic_deployer"
        version: development
      - repo: "https://github.com/redhat-gpe/OPEN_Admin"
        branch: master
        dest: "/home/opentlc-mgr/OPEN_Admin"
        user: "{{ github_user }}"
        password: "{{ github_token }}"
    authorized_keys:
      -ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC4OojwKH74UWVOY92y87Tb/b56CMJoWbz2gyEYsr3geOc2z/n1pXMwPfiC2KT7rALZFHofc+x6vfUi6px5uTm06jXa78S7UB3MX56U3RUd8XF3svkpDzql1gLRbPIgL1h0C7sWHfr0K2LG479i0nPt/X+tjfsAmT3nWj5PVMqSLFfKrOs6B7dzsqAcQPInYIM+Pqm/pXk+Tjc7cfExur2oMdzx1DnF9mJaj1XTnMsR81h5ciR2ogXUuns0r6+HmsHzdr1I1sDUtd/sEVu3STXUPR8oDbXBsb41O5ek6E9iacBJ327G3/1SWwuLoJsjZM0ize+iq3HpT1NqtOW6YBLR opentlc-mgr@inf00-mwl.opentlc.com
    symlinks:
      - src: OPEN_Admin/OPENTLC-OCP3/provision_workshop_env.sh
        path: bin/provision_workshop_env.sh
      - src: OPEN_Admin/OPENTLC-OCP3/provision-ose-projects.sh
        path: bin/provision-ose-projects.sh
      - src: OPEN_Admin/OPENTLC-OCP3/deploy_scripts
        path: bin/deploy_scripts
EOF


ENVTYPE_ARGS=(
-e aws_access_key_id=AKIAJTDUHWK6GBFKZUDQ
-e aws_secret_access_key=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
-e osrelease=3.7.14
-e "bastion_instance_type=t2.large"
-e "master_instance_type=c4.2xlarge" 
-e "infranode_instance_type=c4.4xlarge"
-e "node_instance_type=c4.4xlarge"
-e "support_instance_type=c4.large"
-e "subdomain_base_suffix=.openshift.opentlc.com"
-e "node_instance_count=2"
-e repo_method=satellite
-e satellite_url=https://satellite.opentlc.com/
-e satellite_org=Red_Hat_GPTE
-e satellite_activationkey=ocp_shared_3.7.14
-e repo_version=3.7
-e "install_idm=ldap"
-e "bindPassword=10b7386a-f63b-4254-8fa0-6b5c2723197a"
-e "admin_project=opentlc-shared"
-e set_env_authorized_key=true
-e install_zabbix=true
-e zabbix_auto_registration_pass=5KP6CemEacmONXgLHkVNmItNogllG9cYN9K0G1v4br32MY8vng
-e ocp_report=true
-e github_user=fridim
-e github_token=86cd4eedcdc9f62978b88b5386b69cb55d4b7c80
-e @rhpds_mgr_users.yml
-e "node_instance_count=2"
-e "support_instance_count=3"   #Works?
-e install_ipa_client=false
-e install_nfs=false
--skip-tags=provision_cf_template,installing_openshift,get_openshift_credentials
)
