[tower]

{% for host in groups['towers'] %}
{{ host }} 
{% endfor %}

[database]
support1.{{chomped_zone_internal_dns}}


{% if worker_instance_count > 0 and target_regions is defined %}
{%for i_region in target_regions %}

[isolated_group_{{i_region.name}}]
{% for host in groups['workers'] %}
{% if '.' + i_region['name'] + '.' in host %} 
{{ host }} 
{% endif %}
{% endfor %}


[isolated_group_{{i_region.name}}:vars]
controller=tower

{% endfor %}
{% endif %}


[all:vars]
ansible_become=true
admin_password={{tower_admin_password}}

pg_host='support1.{{chomped_zone_internal_dns}}'
pg_port='5432'
pg_database='awx'
pg_username='awx'
pg_password={{tower_admin_password}}

rabbitmq_port=5672
rabbitmq_vhost=tower
rabbitmq_username=tower
rabbitmq_password={{ tower_admin_password | regex_replace('[^a-zA-Z0-9]') }}
rabbitmq_cookie=cookiemonster
rabbitmq_use_long_name=true


### For our use, not Tower install use (so you can run ansible command line)
[supports]
{% for host in groups['support'] %}
{{ host }}  
{% endfor %}

{% if worker_instance_count > 0 and target_regions is defined %}

[workers]
{% for host in groups['workers'] %}
{{ host }}
{% endfor %}
{% endif %}
