apiVersion: camel.apache.org/v1
kind: IntegrationPlatform
metadata:
  name: camel-ip
  namespace: user{{ item }}
  labels:
    app: "camel-k"
spec:
  build:
    maven:
      timeout: 10m0s
    timeout: 20m0s
