kind: DevWorkspace
apiVersion: workspace.devfile.io/v1alpha2
metadata:
  name: dayinthelife-workspace
spec:
  started: true
  routingClass: che
  template:
    attributes:
      controller.devfile.io/storage-type: per-user
    projects:
      - git:
          remotes:
            origin: >-
              https://github.com/RedHat-Middleware-Workshops/dayinthelife-serverless.git
        name: internatioal-inc
    components:    
      - name: universal-developer-image
        attributes:
          controller.devfile.io/merge-contribution: true
        container:
          image: 'quay.io/redhatintegration/rhi-tools:latest'
          cpuRequest: 30m
          command:
            - /checode/entrypoint-volume.sh
          env:
            - name: MAVEN_CONFIG
              value: ''
            - name: JAVA_OPTS
              value: >-
                -XX:MaxRAMPercentage=50.0 -XX:+UseParallelGC
                -XX:MinHeapFreeRatio=10 -XX:MaxHeapFreeRatio=20
                -XX:GCTimeRatio=4 -XX:AdaptiveSizePolicyWeight=90
                -Dsun.zip.disableMemoryMapping=true -Xms20m
                -Djava.security.egd=file:/dev/./urandom -Duser.home=/home/user
            - name: MAVEN_OPTS
              value: $(JAVA_OPTS)          
            - name: CHE_DASHBOARD_URL
              value: >-
                https://devspaces.{{ route_subdomain }}
            - name: CHE_PLUGIN_REGISTRY_URL
              value: >-
                https://devspaces.{{ route_subdomain }}/plugin-registry/v3
            - name: CHE_PLUGIN_REGISTRY_INTERNAL_URL
              value: 'http://plugin-registry.che.svc:8080/v3'
            - name: OPENVSX_REGISTRY_URL
              value: 'https://open-vsx.org'
          memoryRequest: 256Mi
          sourceMapping: /projects
          cpuLimit: 500m
          volumeMounts:
            - name: m2
              path: /home/user/.m2          
            - name: checode
              path: /checode
          memoryLimit: 1.88G
          endpoints:
            - attributes:
                contributed-by: che-code.eclipse.org
                cookiesAuthEnabled: true
                discoverable: false
                type: main
                urlRewriteSupported: true
              exposure: public
              name: che-code
              path: '?tkn=eclipse-che'
              protocol: https
              secure: false
              targetPort: 3100
      - name: m2
        volume: {}              
      - name: che-code
        plugin:
          kubernetes:
            name: che-code