{% for __user in users %}
---
kind: ServiceAccount
apiVersion: v1
metadata:
  name: {{ image_processor_service_account }}
  namespace: "{{ __user }}-{{ smartcity_edge_project }}"

---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ image_processor_application }}
    app.kubernetes.io/component: {{ image_processor_application }}
    app.kubernetes.io/instance: {{ image_processor_application }}
  name: {{ image_processor_configmap }}
  namespace: "{{ __user }}-{{ smartcity_edge_project }}"
data:
  application.properties: |
    kafka.bootstrap.servers={{ kafka_cluster }}-kafka-bootstrap.{{ __user }}-{{ smartcity_edge_project }}.svc:9092

    mp.messaging.incoming.images.topic={{ kafka_topic_images }}
    mp.messaging.incoming.images.group.id={{ image_processor_application }}

    mp.messaging.outgoing.licenseplates.topic={{ kafka_topic_toll_station_events }}

    quarkus.s3.endpoint-override=http://${service.point}:${service.point.port}

    quarkus.s3.path-style-access={{ image_processor_s3_path_style_access }}

---
kind: Deployment
apiVersion: apps/v1
metadata:
  labels:
    app: {{ image_processor_application }}
    app.openshift.io/runtime: quarkus
    app.kubernetes.io/component: {{ image_processor_application }}
    app.kubernetes.io/instance: {{ image_processor_application }}
  name: {{ image_processor_application }}
  namespace: "{{ __user }}-{{ smartcity_edge_project }}"
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      deployment: {{ image_processor_application }}
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        deployment: {{ image_processor_application }}
    spec:
      containers:
        - name: {{ image_processor_application }}
          image: {{ image_processor_image }}
          env:
            - name: SERVICE_POINT
              valueFrom:
                configMapKeyRef:
                  name: '{{ __user }}-{{ smartcity_edge_s3_bucket }}'
                  key: BUCKET_HOST
            - name: SERVICE_POINT_PORT
              value: '80'
            - name: QUARKUS_S3_AWS_CREDENTIALS_STATIC_PROVIDER_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: '{{ __user }}-{{ smartcity_edge_s3_bucket }}'
                  key: AWS_ACCESS_KEY_ID
            - name: QUARKUS_S3_AWS_CREDENTIALS_STATIC_PROVIDER_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: '{{ __user }}-{{ smartcity_edge_s3_bucket }}'
                  key: AWS_SECRET_ACCESS_KEY
            - name: BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: '{{ __user }}-{{ smartcity_edge_s3_bucket }}'
                  key: BUCKET_NAME
            - name: TOLL_STATION
              value: {{ image_processor_toll_station }}
            - name: LICENSE_PLATE_SERVICE
              value: 'http://{{ lpr_service_application }}.{{ __user }}-{{ smartcity_edge_project }}.svc:8080'
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 5
            httpGet:
              path: /q/health/live
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 3
          readinessProbe:
            failureThreshold: 5
            httpGet:
              path: /q/health/ready
              port: 8080
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 3
          ports:
            - containerPort: 8080
              protocol: TCP
          resources:
            requests:
              cpu: "{{ image_processor_resources_requests_cpu }}"
              memory: "{{ image_processor_resources_requests_memory }}"
            limits:
              cpu: "{{ image_processor_resources_limits_cpu }}"
              memory: "{{ image_processor_resources_limits_memory }}"
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - name: config
              mountPath: /deployments/config
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      serviceAccount: {{ image_processor_service_account }}
      serviceAccountName: {{ image_processor_service_account }}  
      terminationGracePeriodSeconds: 30
      volumes:
        - name: config
          configMap:
            name: {{ image_processor_configmap }}
            defaultMode: 420

{% endfor %}