apiVersion: batch/v1
kind: Job
metadata:
  name: image-loader
spec:
  template:
    metadata:
      name: image-loader
    spec:
      containers:
        - name: image-loader
          image: {{ image_loader_job_image }}
          env:
            - name: IMAGES_URL
              value: {{ image_loader_images_url }}
            - name: IMAGES_START
              value: '{{ image_loader_image_first }}'
            - name: IMAGES_END
              value: '{{ image_loader_image_last }}'
            - name: AWS_ACCESS_KEY_ID
              valueFrom:
                secretKeyRef:
                  name: {{ smartcity_edge_s3_bucket_secret }}
                  key: AWS_ACCESS_KEY_ID
            - name: AWS_SECRET_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ smartcity_edge_s3_bucket_secret }}
                  key: AWS_SECRET_ACCESS_KEY
            - name: SERVICE_POINT
              valueFrom:
                configMapKeyRef:
                  name: {{ smartcity_edge_s3_bucket_configmap }}
                  key: BUCKET_HOST
            - name: SERVICE_POINT_PORT
              value: '80'
            - name: BUCKET_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ smartcity_edge_s3_bucket_configmap }}
                  key: BUCKET_NAME                        
          command:
           - "python"
           - "app.py"
      restartPolicy: Never
