apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app: {{ image_generator_application }}
    app.kubernetes.io/component: {{ image_generator_application }}
    app.kubernetes.io/instance: {{ image_generator_application }}
  name: {{ image_generator_configmap }}
data:
  application.properties: |
    kafka.bootstrap.servers={{ kafka_bootstrap_servers }}

    mp.messaging.outgoing.images.topic={{ kafka_topic_images }}

    quarkus.s3.endpoint-override=http://${service.point}:${service.point.port}

    quarkus.s3.path-style-access={{ image_generator_s3_path_style_access }}

    interval.seconds={{ image_generator_interval_seconds }}
