{
    "Azure": {
        "Attributes": {
            "azure-subdomain": "{{ ocp4_workload_dil_serverless_azure_route_domain }}",
            "azure-console": "https://{{ ocp4_workload_dil_serverless_azure_console_hostname }}"
        },
        "Host": "{{ ocp4_workload_dil_serverless_azure_console_hostname }}"
    }
}