{
    "3scale": { 
        "Host":"https://3scale-admin.{{ route_subdomain }}",
        "Version":"2.7.0.GA"
    },
    "codeready":{ 
        "Host":"http://codeready-codeready.{{ route_subdomain }}",
        "Version":"2.7.0"
    },
    "Azure": {
        "Attributes": {
            "azure-subdomain": "{{ ocp4_workload_dil_serverless_azure_route_domain }}",
            "azure-console": "https://{{ ocp4_workload_dil_serverless_azure_console_hostname }}"
        },
        "Host": "{{ ocp4_workload_dil_serverless_azure_console_hostname }}"
    }
}