apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ lpr_service_application }}
    app.kubernetes.io/component: {{ lpr_service_application }}
    app.kubernetes.io/instance: {{ lpr_service_application }}
  name: {{ lpr_service_application }}
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: {{ lpr_service_application }}
  sessionAffinity: None
  type: ClusterIP
