apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: {{ object_bucket_claim_name }}
spec:
  bucketName: {{ object_bucket_claim_name }}
  storageClassName: {{ ocs_project }}.noobaa.io
