apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: ocs-operator
  namespace: {{ ocs_project }}
spec:
  channel: stable-4.7
  installPlanApproval: Automatic
  name: ocs-operator
  source: redhat-operators-snapshot-dil
  sourceNamespace: openshift-marketplace
