---
apiVersion: noobaa.io/v1alpha1
kind: NooBaaAccount
metadata:
  name: s3-account
spec:
  allow_bucket_creation: true
  allowed_buckets:
    full_permission: true
    permission_list: []
  default_resource: noobaa-default-backing-store
