apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: rhoas
  namespace: '{{ operators_project }}'
spec:
  channel: beta
  installPlanApproval: Automatic
  name: rhoas-operator
  source: community-operators-snapshot-dil
  sourceNamespace: {{ snapshot_operator_project }}
