apiVersion: operator.serverless.openshift.io/v1alpha1
kind: KnativeKafka
metadata:
  name: knative-kafka
  namespace: knative-eventing
spec:
  channel:
    bootstrapServers: 'serverless-kafka-bootstrap.{{shared_kafka_project}}.svc:9092'
    enabled: true
  source:
    enabled: true