apiVersion: operator.knative.dev/v1alpha1
kind: KnativeServing
metadata:
  name: knative-serving
  namespace: knative-serving
spec:
  config:
    defaults:
      container-concurrency: "20"
    autoscaler:
      scale-to-zero-grace-period: "20s"
