kind: Service
apiVersion: v1
metadata:
  name: {{ smartcity_postgresql_application }}
  labels:
    app: {{ smartcity_postgresql_application }}
    app.kubernetes.io/component: {{ smartcity_postgresql_application }}
    app.kubernetes.io/instance: {{ smartcity_postgresql_application }}
spec:
  ports:
    - name: 5432-tcp
      protocol: TCP
      port: 5432
      targetPort: 5432
  selector:
    app: {{ smartcity_postgresql_application }}
    deployment: {{ smartcity_postgresql_application }}
  type: ClusterIP
  sessionAffinity: None
