apiVersion: workspace.devfile.io/v1alpha1
kind: DevWorkspace
metadata:
  name: 'terminal-{{__user}}'
  annotations:
    controller.devfile.io/restricted-access: "true"
  labels:
    console.openshift.io/terminal: "true"
  namespace: '{{__user}}'
spec:
  started: true
  routingClass: 'web-terminal'
  template:
    components:
      - plugin:
          name: web-terminal
          id: redhat-developer/web-terminal/4.5.0
      {# - container:
          args:
            - tail
            - '-f'
            - /dev/null
          image: 'quay.io/weimeilin79/java8tools:latest'
          memoryLimit: 1Gi
          name: tools #}