---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 'claim-terminal-{{__user}}'
  namespace: '{{__user}}'
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  volumeMode: Filesystem
---
apiVersion: workspace.devfile.io/v1alpha1
kind: DevWorkspace
metadata:
  name: 'terminal-{{__user}}'
  annotations:
    controller.devfile.io/restricted-access: "true"
  labels:
    console.openshift.io/terminal: "true"
  namespace: '{{__user}}'
spec:
  started: true
  routingClass: 'web-terminal'
  template:
    components:
      - plugin:
          name: web-terminal
          id: redhat-developer/web-terminal/4.5.0
      - container:
          image: 'quay.io/redhatintegration/java11tools:latest'
          memoryLimit: 1Gi
          name: tools
          volumeMounts:
            - name: 'claim-terminal-{{__user}}'
              path: /projects
      - volume:
          name: 'claim-terminal-{{__user}}'