---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: ai-proxy-route
  namespace: {{ __user }}-devspaces
spec:
  parentRefs:
    - group: gateway.networking.k8s.io
      kind: Gateway
      name: internal-ai-gateway
      namespace: ai-gateway
  rules:
    - matches:
        - path:
            type: PathPrefix
            value: /
      filters:
        - type: RequestHeaderModifier
          requestHeaderModifier:
            set:
              - name: Host
                value: litellm-prod.apps.maas.redhatworkshops.io
              - name: Authorization
                value: "Bearer {{ litellm_virtual_key }}"
      backendRefs:
        - name: ai-api-external
          namespace: llm-api
          port: 443
