---
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    labels:
      app: rocketchat
    name: rocketchat
    namespace: "{{ rocketchat_namespace }}"
  spec:
    replicas: 1
    selector:
      name: rocketchat
      matchLabels:
        app: rocketchat
    strategy:
      recreateParams:
        timeoutSeconds: 600
      type: Recreate
    template:
      metadata:
        annotations:
          openshift.io/container.rocketchat.image.entrypoint: '["node","main.js"]'
          openshift.io/generated-by: OpenShiftNewApp
        creationTimestamp: null
        labels:
          app: rocketchat
          name: rocketchat
      spec:
        containers:
          - resources:
              requests:
                memory: "512Mi"   # Guarantees 512 MB of RAM
                cpu: "500m"       # Guarantees 0.5 CPU Cores
              limits:
                memory: "2Gi"     # Kills pod if it exceeds 2 GB
                cpu: "1000m"      # Throttles pod if it tries to use > 1 Core
            readinessProbe:
              failureThreshold: 3
              httpGet:
                path: /api/v1/info
                port: 3000
                scheme: HTTP
              initialDelaySeconds: 5
              periodSeconds: 10
              successThreshold: 1
              timeoutSeconds: 1
            terminationMessagePath: /dev/termination-log
            name: rocketchat
            livenessProbe:
              failureThreshold: 3
              httpGet:
                path: /api/v1/info
                port: 3000
                scheme: HTTP
              initialDelaySeconds: 30
              periodSeconds: 10
              successThreshold: 1
              timeoutSeconds: 1
            env:
              - name: ROOT_URL
                value: >-
                  http://rocketchat-rocketchat.{{ route_subdomain }}
              - name: MONGO_URL
                value: >-
                  mongodb://rocketchat-admin:rocketchat@mongodb:27017/rocketchat?authSource=admin
              - name: OVERWRITE_SETTING_Show_Setup_Wizard
                value: completed
              - name: OVERWRITE_SETTING_Use_DNS_Domain_Check
                value: 'false'
              - name: ADMIN_USERNAME
                value: rocketchat-admin
              - name: ADMIN_EMAIL
                value: admin@example.com
              - name: ADMIN_PASS
                value: rocketchat
            ports:
              - containerPort: 3000
                protocol: TCP
            imagePullPolicy: Always
            volumeMounts:
              - mountPath: /app/uploads
                name: rocketchat-volume-1
            # image: 'registry.rocket.chat/rocketchat/rocket.chat:6.2.0'
            image: 'quay.io/redhatintegration/rocket.chat:6.2.0'
        dnsPolicy: ClusterFirst
        restartPolicy: Always
        securityContext: {}
        terminationGracePeriodSeconds: 30
        volumes:
          - emptyDir: {}
            name: rocketchat-volume-1
    test: false
    triggers:
      - type: ConfigChange
  status: {}

---
  apiVersion: v1
  kind: Service
  metadata:
    labels:
      app: rocketchat
    name: rocketchat
    namespace: "{{ rocketchat_namespace }}"
  spec:
    ports:
      - name: 3000-tcp
        port: 3000
        protocol: TCP
        targetPort: 3000
    selector:
      app: rocketchat
    sessionAffinity: None
    type: ClusterIP

---
  apiVersion: route.openshift.io/v1
  kind: Route
  metadata:
    labels:
      app: rocketchat
    name: rocketchat
    namespace: "{{ rocketchat_namespace }}"
  spec:
    port:
      targetPort: 3000-tcp
    to:
      kind: Service
      name: rocketchat
    tls:
      termination: edge