---
apiVersion: v1
kind: Secret
metadata:
  name: trlp-tutorial-api-key-gold-{{ __user }}
  namespace: kuadrant-system
  labels:
    authorino.kuadrant.io/managed-by: authorino
    app: my-llm
  annotations:
    kuadrant.io/groups: gold
    secret.kuadrant.io/user-id: "{{ __user }}"
stringData:
  api_key: "iamagold{{ __user }}"
type: Opaque
