---
apiVersion: v1
kind: Secret
metadata:
  name: trlp-tutorial-api-key-gold-{{ __user }}
  namespace: kuadrant-system
  labels:
    authorino.kuadrant.io/managed-by: authorino
    app: my-llm-{{ __user }}
  annotations:
    kuadrant.io/groups: gold
    secret.kuadrant.io/user-id: "{{ __user }}"
    secret.kuadrant.io/upstream-token: "Bearer {{ litellm_virtual_key }}"
stringData:
  api_key: "{{ __api_key }}"
type: Opaque
