---
apiVersion: v1
kind: Secret
metadata:
  name: trlp-tutorial-api-key-pro-{{ __user }}
  namespace: kuadrant-system
  labels:
    authorino.kuadrant.io/managed-by: authorino
    app: my-llm-{{ __user }}
  annotations:
    kuadrant.io/groups: pro
    secret.kuadrant.io/user-id: "{{ __user }}"
stringData:
  api_key: "{{ __api_key }}"
type: Opaque
