---
apiVersion: v1
kind: Secret
metadata:
  name: trlp-tutorial-api-key-free-{{ __user }}
  namespace: kuadrant-system
  labels:
    authorino.kuadrant.io/managed-by: authorino
    app: my-llm
  annotations:
    kuadrant.io/groups: free
    secret.kuadrant.io/user-id: "{{ __user }}"
stringData:
  api_key: "iamafree{{ __user }}"
type: Opaque
