---
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: ai-api-external-entry
  namespace: llm-api
spec:
  hosts:
  - "{{ litellm_api_endpoint | regex_replace('https?://', '') | regex_replace('/.*', '') }}"
  exportTo: ["*"]
  location: MESH_EXTERNAL
  ports:
  - number: 443
    name: https
    protocol: HTTPS
  resolution: DNS
