---
apiVersion: v1
kind: Service
metadata:
  name: ai-api-external
  namespace: llm-api
spec:
  type: ExternalName
  externalName: "{{ litellm_api_endpoint | regex_replace('https?://', '') | regex_replace('/.*', '') }}"
