---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: gateway-viewer
  namespace: ai-gateway
rules:
- apiGroups: ["gateway.networking.k8s.io"]
  resources: ["gateways"]
  verbs: ["get", "list", "watch"]
{% for __user in users %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ __user }}-gateway-viewer
  namespace: ai-gateway
subjects:
- kind: User
  name: {{ __user }}
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: gateway-viewer
  apiGroup: rbac.authorization.k8s.io
{% endfor %}
