---
apiVersion: gateway.networking.k8s.io/v1beta1
kind: ReferenceGrant
metadata:
  name: allow-users-route
  namespace: llm-api
spec:
  from:
{% for __user in users %}
    - group: gateway.networking.k8s.io
      kind: HTTPRoute
      namespace: "{{ __user }}-devspaces"
{% endfor %}
  to:
    - group: ""
      kind: Service
      name: ai-api-external
