[OCPlabs:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_ssh_user={{ansible_ssh_user}}



[OCPlabs:children]
masters
nodes
nfs

[masters]
{% for host in groups[('tag_' + env_type + '-' + guid + '_master') | replace('-', '_') ] %}
master{{loop.index}}.{{chomped_zone_internal_dns}}  host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}

[nodes]
## These are infranodes

{% for host in groups[('tag_' + env_type + '-' + guid + '_infranode') | replace('-', '_') ] %}
infranode{{loop.index}}.{{chomped_zone_internal_dns}}  host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}

## These are regular nodes

{% for host in groups[('tag_' + env_type + '-' + guid + '_node') | replace('-', '_') ] %}
node{{loop.index}}.{{chomped_zone_internal_dns}}  host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}

[nfs]
{% for host in groups[('tag_' + env_type + '-' + guid + '_nfs') | replace('-', '_') ] %}
nfs{{loop.index}}.{{chomped_zone_internal_dns}}  host_zone={{hostvars[host]['ec2_placement']}}
{% endfor %}
