apiVersion: maistra.io/v1
kind: ServiceMeshMemberRoll
metadata:
  name: default
  namespace: "{{ ossm_project}}"
spec:
  members:
    - bookinfo
  # a list of namespaces that should be joined into the service mesh