---
  apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: redhat-operators-snapshot-dil
    namespace: {{ snapshot_operator_project }}
  spec:
    sourceType: grpc
    image: quay.io/gpte-devops-automation/olm_snapshot_redhat_catalog:v4.6_2021_03_09
    displayName: "Red Hat Operators Snapshot (2021)"
    publisher: "TMM"
---
  apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: redhat-operators-snapshot-dil-sso
    namespace: {{ snapshot_operator_project }}
  spec:
    sourceType: grpc
    image: quay.io/gpte-devops-automation/olm_snapshot_redhat_catalog:v4.6_2020_12_07
    displayName: "Red Hat Operators Snapshot (2020-Q4)"
    publisher: "TMM"
---
  apiVersion: operators.coreos.com/v1alpha1
  kind: CatalogSource
  metadata:
    name: community-operators-snapshot-dil
    namespace: {{ snapshot_operator_project }}
  spec:
    sourceType: grpc
    image: quay.io/gpte-devops-automation/olm_snapshot_community_catalog:v4.6_2021_03_09
    displayName: "Community Operators Snapshot (2021)"
    publisher: "TMM"
