apiVersion: keycloak.org/v1alpha1
kind: KeycloakRealm
metadata:
  name: threescale-realm
  namespace: {{ sso_project }}
  labels:
    app: sso
    product: 3scale
spec:
  instanceSelector:
    matchLabels:
      app: sso
  realm:
    clients:
      - clientId: 3scale-admin
        directAccessGrantsEnabled: False
        enabled: True
        serviceAccountsEnabled: True
        fullScopeAllowed: True
        name: 3scale-admin
    users:
      - username: user1
        email: user1@openshift.com
        emailVerified: true
        enabled: true
        firstName: User
        lastName: "Doe"        
        credentials:
          - type: password
            value: openshift 
        clientRoles: 
          realm-management:
            - "manage-clients"
            - "manage-users"
            - "manage-realms"
            - "realm-admin"        
    displayName: Threescale Realm
    enabled: True
    id: threescale-realm
    realm: threescale-realm

