apiVersion: v1
kind: Secret
metadata:
  name: s3-auth
  namespace: "{{ threescale_project }}"  
stringData:
  AWS_ACCESS_KEY_ID: '{{ AWS_ACCESS_KEY_ID }}'
  AWS_SECRET_ACCESS_KEY: '{{ AWS_SECRET_ACCESS_KEY }}'
  AWS_BUCKET: threescale-s3
  AWS_HOSTNAME: 's3-{{ ocs_project }}.{{ route_subdomain }}'
  AWS_REGION: noobaa
  AWS_PROTOCOL: HTTPS
  AWS_PATH_STYLE: 'true'
type: Opaque