apiVersion: capabilities.3scale.net/v1beta1
kind: Backend
metadata:
  name: bookinfo-istio-backend
  namespace: {{ threescale_project }}
spec:
  name: "BookInfo Backend"
  systemName: "bookinfo-istio-backend"
  privateBaseURL: "http://istio-ingressgateway-{{ossm_project}}.{{route_subdomain}}"
