version: 2
services:
  {{ item.name }}:
    container_name: {{ item.name }}
    hostname: {{ item.hostname | default(item.name) }}
    restart: always
    image: {{ item.image }}
    ports: {{ item.ports }}
