vms:
- name: "Bastion Host"
  tag: "bastion"
  description: "Bastion Host\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "bastion-REPL.rhpds.opentlc.com"
  - "bastion.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:52"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.10"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.10"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.10"
    name: "ssh"
    portRange: "22"
    protocol: "SSH"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: True
    users:
      - name: {{ remote_user }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
- name: "Master"
  tag: "master"
  description: "Master\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "master-REPL.rhpds.opentlc.com"
  - "master.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:53"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.20"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.20"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.20"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: False
    users:
      - name: {{ remote_user }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
- name: "Support"
  tag: "support"
  description: "Support\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "support-REPL.rhpds.opentlc.com"
  - "support.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  - index: 1
    boot: false
    controller: "virtio"
    name: "nfs mount"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:54"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.21"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.21"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.21"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: True
    users:
      - name: {{ remote_user }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
- name: "Node"
  tag: "node"
  description: "Node\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "node.rhpds.opentlc.com"
  - "node.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:55"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.22"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.22"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.22"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: True
    users:
      - name: {{ remote_user }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
- name: "Infra Node"
  tag: "infranode"
  description: "Infra Node\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "infranode.rhpds.opentlc.com"
  - "infranode.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:56"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.23"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.23"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.23"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: True
    users:
      - name: {{ remote_user }}
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
