{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Public FQDN",
            "question_description": "Make sure this FQDN is resolable to the instance",
            "required": true,
            "type": "text",
            "variable": "letsencrypt_public_fqdn",
            "min": 5,
            "max": 128,
            "default": "",
            "choices": ""
        }
    ]
}