{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Instance Name",
            "question_description": "",
            "required": true,
            "type": "text",
            "variable": "instance_name",
            "min": 5,
            "max": 32,
            "default": "webapp",
            "choices": ""
        },
        {
            "question_name": "Open Firewall Port",
            "question_description": "",
            "required": true,
            "type": "integer",
            "variable": "port",
            "min": 1024,
            "max": 65536,
            "default": 8080,
            "choices": ""
        }
    ]
}
