{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "NTP server",
            "question_description": "Please provide NTP server",
            "required": true,
            "type": "text",
            "variable": "ntpserver",
            "min": 5,
            "max": 128,
            "default": "0.rhel.pool.ntp.org",
            "choices": ""
        }
    ]
}
