[
  {
    "ParameterKey": "InfrastructureName",
    "ParameterValue": "{{ INFRA_ID }}"
  },
  {
    "ParameterKey": "RhcosAmi",
    "ParameterValue": "ami-0a1f868ad58ea59a7"
  },
  {
    "ParameterKey": "AutoRegisterDNS",
    "ParameterValue": "yes"
  },
  {
    "ParameterKey": "PrivateHostedZoneId",
    "ParameterValue": "{{ PrivateHostedZoneId }}"
  },
  {
    "ParameterKey": "PrivateHostedZoneName",
    "ParameterValue": "{{ CLUSTER_NAME }}.{{ BASE_DOMAIN }}"
  },
  {
    "ParameterKey": "Master0Subnet",
    "ParameterValue": "{{ PrivateSubnetIds }}"
  },
  {
    "ParameterKey": "Master1Subnet",
    "ParameterValue": "{{ PrivateSubnetIds }}"
  },
  {
    "ParameterKey": "Master2Subnet",
    "ParameterValue": "{{ PrivateSubnetIds }}"
  },
  {
    "ParameterKey": "MasterSecurityGroupId",
    "ParameterValue": "{{ MasterSecurityGroupId }}"
  },
  {
    "ParameterKey": "IgnitionLocation",
    "ParameterValue": "https://api-int.{{ CLUSTER_NAME }}.{{ BASE_DOMAIN }}:22623/config/master"
  },
  {
    "ParameterKey": "CertificateAuthorities",
    "ParameterValue": "XXXX"
  },
  {
    "ParameterKey": "MasterInstanceProfileName",
    "ParameterValue": "{{ MasterInstanceProfile }}"
  },
  {
    "ParameterKey": "MasterInstanceType",
    "ParameterValue": "m5.xlarge"
  },
  {
    "ParameterKey": "AutoRegisterELB",
    "ParameterValue": "yes"
  },
  {
    "ParameterKey": "RegisterNlbIpTargetsLambdaArn",
    "ParameterValue": "{{ RegisterNlbIpTargetsLambda }}"
  },
  {
    "ParameterKey": "ExternalApiTargetGroupArn",
    "ParameterValue": "{{ ExternalApiTargetGroupArn }}"
  },
  {
    "ParameterKey": "InternalApiTargetGroupArn",
    "ParameterValue": "{{ InternalApiTargetGroupArn }}"
  },
  {
    "ParameterKey": "InternalServiceTargetGroupArn",
    "ParameterValue": "{{ InternalServiceTargetGroupArn }}"
  }
]
