[
  {
    "ParameterKey": "InfrastructureName",
    "ParameterValue": "{{ INFRA_ID }}"
  },
  {
    "ParameterKey": "RhcosAmi",
    "ParameterValue": "ami-026e5701f495c94a2"
  },
  {
    "ParameterKey": "AllowedBootstrapSshCidr",
    "ParameterValue": "0.0.0.0/0"
  },
  {
    "ParameterKey": "PublicSubnet",
    "ParameterValue": "{{ PublicSubnetIds }}"
  },
  {
    "ParameterKey": "MasterSecurityGroupId",
    "ParameterValue": "{{ MasterSecurityGroupId }}"
  },
  {
    "ParameterKey": "VpcId",
    "ParameterValue": "{{ VpcId }}"
  },
  {
    "ParameterKey": "BootstrapIgnitionLocation",
    "ParameterValue": "s3://{{ CLUSTER_NAME }}-infra/bootstrap.ign"
  },
  {
    "ParameterKey": "AutoRegisterELB",
    "ParameterValue": "yes"
  },
  {
    "ParameterKey": "RegisterNlbIpTargetsLambdaArn",
    "ParameterValue": "{{ RegisterNlbIpTargetsLambda }}"
  },
  {
    "ParameterKey": "ExternalApiTargetGroupArn",
    "ParameterValue": "{{ ExternalApiTargetGroupArn }}"
  },
  {
    "ParameterKey": "InternalApiTargetGroupArn",
    "ParameterValue": "{{ InternalApiTargetGroupArn }}"
  },
  {
    "ParameterKey": "InternalServiceTargetGroupArn",
    "ParameterValue": "{{ InternalServiceTargetGroupArn }}"
  }
]

