---
apiVersion: v1
baseDomain: {{ ocp4_base_domain | default(guid + subdomain_base_suffix) | to_json }}
compute:
- hyperthreading: Enabled
  name: worker 
  platform:
    aws:
      type: {{ worker_instance_type | to_json }}
      rootVolume:
        type: {{ worker_storage_type | to_json }}
  replicas: {{ worker_instance_count | int }}
controlPlane:
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      type: {{ master_instance_type | to_json }}
      rootVolume:
        type: {{ master_storage_type | to_json }}
  replicas: {{ master_instance_count | int }}
metadata:
  name: {{ cluster_name | to_json }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineCIDR: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
  networkType: OpenshiftSDN
platform:
  aws:
    region: {{ aws_region_final | default(aws_region) | to_json }}
    userTags: {{ hostvars.localhost.cf_tags_final | default({}) | to_json }}
{# ocp4_pull_secret may be either a dict (mapping) or a JSON string.       #}
{# The install-config.yaml needs an quoted JSON string for the pullSecret. #}
{# Passing a json string through to_json gives us the quoted string.       #}
{# To get to the quoted JSON string from a mapping we call to_json twice.  #}
pullSecret: {{ ocp4_pull_secret | to_json | to_json if ocp4_pull_secret is mapping else ocp4_pull_secret | to_json }}
sshKey: {{ idrsapub.content | b64decode | to_json }}
