---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: {{ _ocp4_workload_ama_demo_shared_guides_name }}
  name: {{ _ocp4_workload_ama_demo_shared_guides_name }}
  namespace: {{ ocp4_workload_ama_demo_shared_guides_namespace }}
