kind: Deployment
apiVersion: apps/v1
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      volumes:
        - name: nginx-config
          persistentVolumeClaim:
            claimName: nginx-config-vc
      containers:
        - name: nginx
          image: quay.io/redhat-gpte/nginx:1.0
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
            - containerPort: 7776
              protocol: TCP
            - containerPort: 7777
              protocol: TCP
            - containerPort: 7778
              protocol: TCP
          volumeMounts:
            - name: nginx-config
              mountPath: /opt/app-root/etc/nginx.d
      restartPolicy: Always