					<div id="terminal_tab" class="tabcontent">
						<div class="split top">
						    <iframe id="tty-top"  src="https://{{ showroom_host }}:{{ showroom_primary_port }}/tty-top/" width="100%" style="border:none;"></iframe>
						</div>
						<div class="split bottom">
						    <iframe id="tty-bottom"  src="https://{{ showroom_host }}:{{ showroom_primary_port }}/tty-bottom/" width="100%" style="border:none;"></iframe>
						</div>
					</div>
