apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gitlab
  namespace: {{ ocp4_workload_gitops_gitlab_gitops_namespace }}
spec:
  destination:
    namespace: {{ ocp4_workload_gitops_gitlab_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  source:
    helm:
      parameters:
        - name: gitlab.image
          value: "{{ ocp4_workload_gitops_gitlab_gitops_gitlab_image }}"
        - name: gitlab.email.address
          value: "{{ ocp4_workload_gitops_gitlab_config_email_address }}"
        - name: gitlab.email.displayName
          value: "{{ ocp4_workload_gitops_gitlab_config_email_display_name }}"
        - name: gitlab.email.replyTo
          value: "{{ ocp4_workload_gitops_gitlab_config_email_reply_to }}"
        - name: gitlab.smtp.enabled
          value: "{{ ocp4_workload_gitops_gitlab_config_smtp_enabled }}"
        - name: gitlab.smtp.domain
          value: "{{ ocp4_workload_gitops_gitlab_config_smtp_domain }}"
        - name: gitlab.smtp.host
          value: "{{ ocp4_workload_gitops_gitlab_config_smtp_host }}"
        - name: gitlab.smtp.port
          value: "{{ ocp4_workload_gitops_gitlab_config_smtp_port }}"
        - name: gitlab.smtp.user
          value: "{{ ocp4_workload_gitops_gitlab_config_smtp_user }}"
        - name: gitlab.smtp.password
          value: "{{ ocp4_workload_gitops_gitlab_config_smtp_password }}"
        - name: gitlab.ssh.host
          value: "{{ ocp4_workload_gitops_gitlab_config_ssh_host }}"
        - name: gitlab.ssh.port
          value: "{{ ocp4_workload_gitops_gitlab_config_ssh_port }}"
        - name: gitlab.rootPassword
          value: "{{ ocp4_workload_gitops_gitlab_config_rootPassword }}"
        - name: gitlab.host
          value: {{ ocp4_workload_gitops_gitlab_config_host }}
        - name: gitlab.https
          value: "{{ ocp4_workload_gitops_gitlab_config_https }}"
        - name: gitlab.rootEmail
          value: "{{ ocp4_workload_gitops_gitlab_config_root_email }}"
        - name: gitlab.keyBase.db
          value: "{{ ocp4_workload_gitops_gitlab_config_keybase_db }}"
        - name: gitlab.keyBase.otp
          value: "{{ ocp4_workload_gitops_gitlab_config_keybase_otp }}"
        - name: gitlab.keyBase.secret
          value: "{{ ocp4_workload_gitops_gitlab_config_keybase_secret }}"
        - name: gitlab.postgresql.dbUser
          value: {{ ocp4_workload_gitops_gitlab_db_user_name }}
        - name: gitlab.postgresql.dbPassword
          value: {{ ocp4_workload_gitops_gitlab_db_password }}
        - name: gitlab.postgresql.dbName
          value: {{ ocp4_workload_gitops_gitlab_db_name }}
{% for group in ocp4_workload_gitops_gitlab_import_repos -%}
          {% set grouploop = loop %}
        - name: gitlab.groups[{{ grouploop.index - 1 }}].name
          value: {{ group.name }}
{% for repo in group.repo %}
        - name: gitlab.groups[{{ grouploop.index - 1 }}].repo[{{ loop.index - 1 }}].name
          value: {{ repo.name }}
        - name: gitlab.groups[{{ grouploop.index - 1 }}].repo[{{ loop.index - 1 }}].url
          value: {{ repo.url }}
{% endfor %}
{% endfor %}
        - name: gitlab.users.count
          value: "{{ ocp4_workload_gitops_gitlab_users_count }}"
        - name: gitlab.users.base
          value: "{{ ocp4_workload_gitops_gitlab_users_base }}"
        - name: gitlab.users.password
          value: {{ ocp4_workload_gitops_gitlab_users_password }}
    path: charts/gitlab
    repoURL: {{ ocp4_workload_gitops_gitlab_gitops_repo }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true