[GenericExample:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_user={{remote_user}}


[GenericExample:children]
ipas
activedirectories
rhssos


[ipas]
## These are the ipas
{% for host in groups['ipas'] %}
ipa{{loop.index}}.{{chomped_zone_internal_dns}} public_host_name=ipa{{loop.index}}.{{ guid }}{{subdomain_base_suffix}} ssh_host={{host}}
{% endfor %}

[activedirectories]
## These are the activedirectory servers
{% for host in groups['activedirectories'] %}
activedirectory{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}} ansible_password={{hostvars[host]['ansible_password']}}
{% endfor %}

[windows:children]
activedirectories

[rhssos]
## These are the rhssos servers
{% for host in groups['rhssos'] %}
rhsso{{loop.index}}.{{chomped_zone_internal_dns}} public_host_name=rhsso{{loop.index}}.{{ guid }}{{subdomain_base_suffix}} ssh_host={{host}}
{% endfor %}


[activedirectories:vars]
ansible_connection=winrm
ansible_port=5986
ansible_ssh_port=5986
ansible_user=Administrator
ansible_winrm_server_cert_validation=ignore
ansible_winrm_transport=basic
ansible_become=false
