apiVersion: osb.openshift.io/v1alpha1
kind: AutomationBroker
metadata:
  name: ansible-service-broker
  namespace: "{{ broker_project }}"
spec:
  createBrokerNamespace: 'false'
  waitForBroker: 'false'
  registries:
  - type: dockerhub
    name: dh
    url: https://registry.hub.docker.com
    org: ansibleplaybookbundle
    tag: latest
    white_list:
    - ".*-apb$"
    black_list:
    - ".*automation-broker-apb$"
  - type: local_openshift
    name: localregistry
    namespaces:
      - openshift
    white_list:
      - ".*-apb$"
  - type: dockerhub
    name: openshiftapb
    org: openshiftapb
    tag: ocp-3.11
    white_list:
      - ".*-apb$"