apiVersion: v1
kind: List
metadata:
  resourceVersion: ""
  selfLink: ""
items:
- apiVersion: operators.coreos.com/v1alpha2
  kind: OperatorGroup
  metadata:
    annotations:
      olm.providedAPIs: ""
    generateName: automation-broker-
    namespace: automation-broker
  spec:
    selector: {}
    serviceAccount:
      metadata:
    targetNamespaces:
    - automation-broker
    - "{{ broker_project }}"
