{
    {% for vm in r_instances.instances | to_json |from_json |json_query('[?tags.name == `tidy-bengal`]') | list %}
      "{{ vm.tags.short_name }}" : {
        "visible" : true,
        "color" : "#67d300",
        "user" : "ec2-user",
        "address" : "{{ vm.tags.short_name }}"
    {% endfor %}
    },
    {% for vm in r_instances.instances | to_json |from_json |json_query('[?tags.name == `strong-hyena`]') | list %}
      "{{ vm.tags.short_name }}" : {
        "visible" : true,
        "color" : "#67d300",
        "user" : "ec2-user",
        "address" : "{{ vm.tags.short_name }}"
    {% endfor %}
    },
    {% for vm in r_instances.instances | to_json |from_json |json_query('[?tags.name == `more-calf`]') | list %}
      "{{ vm.tags.short_name }}" : {
        "visible" : true,
        "color" : "#67d300",
        "user" : "ec2-user",
        "address" : "{{ vm.tags.short_name }}"
    {% endfor %}
    },
    {% for vm in r_instances.instances | to_json |from_json |json_query('[?tags.name == `upward-moray`]') | list %}
      "{{ vm.tags.short_name }}" : {
        "visible" : true,
        "color" : "#67d300",
        "user" : "ec2-user",
        "address" : "{{ vm.tags.short_name }}"
    {% endfor %}
    }
}