---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-secret
  namespace: {{ ocp4_workload_coolstore_backoffice_demo_ohc_pipeline_namespace }}
  annotations:
    tekton.dev/git-0: {{ _ocp4_workload_coolstore_backoffice_demo_ohc_gitea_repo_route_url }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ ocp4_workload_coolstore_backoffice_demo_ohc_gitea_user }}
  password: {{ ocp4_workload_coolstore_backoffice_demo_ohc_gitea_user_password }}
