---
apiVersion: v1
kind: Secret
metadata:
  name: gitea-token
  namespace: {{ ocp4_workload_coolstore_backoffice_demo_ohc_pipeline_namespace }}
stringData:
  token: {{ _ocp4_workload_coolstore_backoffice_demo_ohc_gitea_token }}
