---
apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_coolstore_backoffice_demo_ohc_webhook_secret_name }}
  namespace: {{ ocp4_workload_coolstore_backoffice_demo_ohc_pipeline_namespace }}
stringData:
  webhook-secret-key: {{ ocp4_workload_coolstore_backoffice_demo_ohc_gitea_webhook_secret }}
