kind: Secret
apiVersion: v1
metadata:
  name: inventory-sonarqube-secret
  namespace: "{{ ocp4_workload_coolstore_backoffice_demo_ohc_pipeline_namespace }}"
stringData:
  token: {{ _ocp4_workload_coolstore_backoffice_demo_ohc_sonarqube_inventory_project_token }}
type: Opaque
