---
apiVersion: operator.openshift.io/v1alpha1
kind: CertManager
metadata:
    name: cluster
spec:
  logLevel: Normal
  managementState: Managed
  observedConfig: null
  operatorLogLevel: Normal
{% if ocp4_workload_cert_manager_cloud_provider == "ec2" %}
  unsupportedConfigOverrides:
    controller:
      args:
      - "--dns01-recursive-nameservers=1.1.1.1:53"
      - "--dns01-recursive-nameservers-only"
{% endif %}
