---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ ocp4_workload_cert_manager_provider_fallback }}-production-{{ ocp4_workload_cert_manager_cloud_provider }}-fallback
spec:
  acme:
    email: rhpds-admins@redhat.com
    server: {{ ocp4_workload_cert_manager_acme_url_fallback }}
    privateKeySecretRef:
      name: cluster-issuer-acme-production-fallback
{% if ocp4_workload_cert_manager_provider_fallback == "zerossl" %}      
    externalAccountBinding:
      keyID: {{ ocp4_workload_cert_manager_zerossl_eab_key_id }}
      keySecretRef:
        name: cert-manager-zerossl-creds
        key: zerossl_hmac_key
    privateKeySecretRef:
      name: zerossl-prod-fallback
{% endif %}
    solvers:
    - selector:
        dnsZones:
        - {{ _ocp4_workload_cert_manager_api_hostname }}
        - {{ _ocp4_workload_cert_manager_wildcard_domain }}
      dns01:
{% if ocp4_workload_cert_manager_cloud_provider == "ec2" and ocp4_workload_cert_manager_provider != "acme-bifrost" %}      
        route53:
          region: {{ ocp4_workload_cert_manager_ec2_region }}
          hostedZoneID: {{ _ocp4_workload_cert_manager_hostedzoneid }}
          accessKeyID: {{ ocp4_workload_cert_manager_ec2_access_key_id }}
          secretAccessKeySecretRef:
            name: cert-manager-aws-creds
            key: aws_secret_access_key
{% endif %}
{% if ocp4_workload_cert_manager_cloud_provider == "gcp" %}      
        cloudDNS:
          project: {{ ocp4_workload_cert_manager_gcp_project_id }}
          hostedZoneName: dns-zone-{{ guid }}
          serviceAccountSecretRef:
            name: cert-manager-gcp-creds
            key: key.json
{% endif %}
{% if ocp4_workload_cert_manager_cloud_provider == "azure" %}
        azureDNS:
          clientID: {{ ocp4_workload_cert_manager_azure_client_id }}
          clientSecretSecretRef:
            name: cert-manager-azure-creds
            key: client-secret
          environment: AzurePublicCloud
          hostedZoneName: {{ ocp4_workload_cert_manager_azure_hostedzone_name }}
          resourceGroupName: {{ ocp4_workload_cert_manager_azure_resource_group_name }}
          subscriptionID: {{ ocp4_workload_cert_manager_azure_subscription_id }}
          tenantID: {{ ocp4_workload_cert_manager_azure_tenant_id }}
{% endif %}
{% if ocp4_workload_cert_manager_provider_fallback == "acme-bifrost" %}
        webhook:
          groupName: acme.gateway.redhat.com
          solverName: gateway-passthrough
          config:
            gatewayURL: {{ ocp4_workload_cert_manager_acme_bifrost_gateway_url }}
            caProvider: {{ ocp4_workload_cert_manager_acme_bifrost_ca_provider_fallback | default("letsencrypt") }}
            region: {{ ocp4_workload_cert_manager_ec2_region }}
            zoneID: {{ _ocp4_workload_cert_manager_hostedzoneid }}
            accessKeyIDSecretRef:
              name: cert-manager-aws-creds
              key: aws_access_key_id
            secretAccessKeySecretRef:
              name: cert-manager-aws-creds
              key: aws_secret_access_key
            webhookKID: "{{ ocp4_workload_cert_manager_acme_bifrost_webhook_kid }}"
            webhookSecret: "{{ ocp4_workload_cert_manager_acme_bifrost_webhook_secret }}"        
{% endif %}
