---
apiVersion: v1
kind: Secret
metadata:
  name: cert-manager-aws-creds
  namespace: cert-manager
type: Opaque
data:
  aws_access_key_id: {{ ocp4_workload_cert_manager_ec2_access_key_id | b64encode }}
  aws_secret_access_key: {{ ocp4_workload_cert_manager_ec2_secret_access_key | b64encode }}
