---
apiVersion: v1
kind: Secret
metadata:
  name: cert-manager-zerossl-creds
  namespace: cert-manager
type: Opaque
data:
  zerossl_hmac_key: {{ ocp4_workload_cert_manager_zerossl_hmac_key | b64encode }}
