kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    app: {{ etherpad_app_name }}
  name: {{ etherpad_app_name }}-settings
  namespace: {{ etherpad_project }}
data:
  settings.json: >
    {
      // Name your instance!
      "title": "OpenShift Workshop Etherpad",
      // favicon default name
      // alternatively, set up a fully specified Url to your own favicon
      "favicon": "favicon.ico",
      //IP and port which etherpad should bind at
      "ip": "0.0.0.0",
      "port" : 9001,
        "dbType" : "mysql",
        "dbSettings" : {
                        "user"    : "DB_USER",
                        "host"    : "DB_HOST",
                        "port"    : "DB_PORT",
                        "password": "DB_PASS",
                        "database": "DB_DBID"
                      },
      //the default text of a pad
      "defaultPadText" : "{{ etherpad_text }}",
      /* Default Pad behavior, users can override by changing */
      "padOptions": {
        "noColors": false,
        "showControls": true,
        "showChat": true,
        "showLineNumbers": true,
        "useMonospaceFont": false,
        "userName": false,
        "userColor": false,
        "rtl": false,
        "alwaysShowChat": false,
        "chatAndUsers": false,
        "lang": "en-gb"
      },
      /* Shoud we suppress errors from being visible in the default Pad Text? */
      "suppressErrorsInPadText" : false,
      /* Users must have a session to access pads. This effectively allows only group pads to be accessed. */
      "requireSession" : false,
      /* Users may edit pads but not create new ones. Pad creation is only via the API. This applies both to group pads and regular pads. */
      "editOnly" : false,
      /* Users, who have a valid session, automatically get granted access to password protected pads */
      "sessionNoPassword" : false,
      /* if true, all css & js will be minified before sending to the client. This will improve the loading performance massivly,
          but makes it impossible to debug the javascript/css */
      "minify" : true,
      /* How long may clients use served javascript code (in seconds)? Without versioning this
          may cause problems during deployment. Set to 0 to disable caching */
      "maxAge" : 21600, // 60 * 60 * 6 = 6 hours
      /* This is the path to the Abiword executable. Setting it to null, disables abiword.
          Abiword is needed to advanced import/export features of pads*/
      "abiword" : null,
      /* This is the path to the Tidy executable. Setting it to null, disables Tidy.
          Tidy is used to improve the quality of exported pads*/
      "tidyHtml" : null,
      /* Allow import of file types other than the supported types */
      "allowUnknownFileEnds" : true,
      /* This setting is used if you require authentication of all users.
          Note: /admin always requires authentication. */
      "requireAuthentication" : false,
      /* Require authorization by a module, or a user with is_admin set, see below. */
      "requireAuthorization" : false,
      /*when you use NginX or another proxy/ load-balancer set this to true*/
      "trustProxy" : false,
      /* Privacy= disable IP logging */
      "disableIPlogging" : false,
      /* Users for basic authentication. is_admin = true gives access to /admin.
          If you do not uncomment this, /admin will not be available! */
      "users": {
        "admin": {
          "password": "${MYSQL_ROOT_PASSWORD}",
          "is_admin": true
        }
      },
      // restrict socket.io transport methods
      "socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"],
      // Allow Load Testing tools to hit the Etherpad Instance.  Warning this will disable security on the instance.
      "loadTest": false,
      /* The toolbar buttons configuration.
      "toolbar": {
        "left": [
          ["bold", "italic", "underline", "strikethrough"],
          ["orderedlist", "unorderedlist", "indent", "outdent"],
          ["undo", "redo"],
          ["clearauthorship"]
        ],
        "right": [
          ["importexport", "timeslider", "savedrevision"],
          ["settings", "embed"],
          ["showusers"]
        ],
        "timeslider": [
          ["timeslider_export", "timeslider_returnToPad"]
        ]
      },
      */
      /* The log level we are using, can be: DEBUG, INFO, WARN, ERROR */
      "loglevel": "INFO",
      //Logging configuration. See log4js documentation for further information
      // https://github.com/nomiddlename/log4js-node
      "logconfig" :
        { "appenders": [
            { "type": "console" }
          ]
        }
    }