apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    template.alpha.openshift.io/wait-for-ready: "true"
  labels:
    app: {{ etherpad_app_name }}
  name: {{ etherpad_app_name }}-mysql
  namespace: {{ etherpad_project }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ etherpad_app_name }}-mysql
  template:
    metadata:
      labels:
        app: {{ etherpad_app_name }}-mysql
    spec:
      serviceAccount: {{ etherpad_app_name }}
      containers:
      - env:
        - name: MYSQL_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ etherpad_app_name }}-mysql
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ etherpad_app_name }}-mysql
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              key: database-root-password
              name: {{ etherpad_app_name }}-mysql
        - name: MYSQL_DATABASE
          valueFrom:
            secretKeyRef:
              key: database-name
              name: {{ etherpad_app_name }}-mysql
        image: registry.access.redhat.com/rhscl/mysql-57-rhel7:5.7
        imagePullPolicy: IfNotPresent
        livenessProbe:
          initialDelaySeconds: 30
          tcpSocket:
            port: 3306
          timeoutSeconds: 1
        name: mysql
        ports:
        - containerPort: 3306
        readinessProbe:
          exec:
            command:
            - /bin/sh
            - -i
            - -c
            - MYSQL_PWD="$MYSQL_PASSWORD" mysql -h 127.0.0.1 -u $MYSQL_USER -D $MYSQL_DATABASE
              -e 'SELECT 1'
          initialDelaySeconds: 5
          timeoutSeconds: 1
        resources:
          limits:
            memory: 512Mi
        volumeMounts:
        - mountPath: /var/lib/mysql/data
          name: {{ etherpad_app_name }}-mysql-data
      volumes:
      - name: {{ etherpad_app_name }}-mysql-data
        persistentVolumeClaim:
          claimName: {{ etherpad_app_name }}-mysql