apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ etherpad_app_name }}
  name: {{ etherpad_app_name }}
  namespace: {{ etherpad_project }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ etherpad_app_name }}
  template:
    metadata:
      labels:
        app: {{ etherpad_app_name }}
    spec:
      serviceAccount: {{ etherpad_app_name }}
      containers:
      - env:
        - name: DB_DBID
          valueFrom:
            secretKeyRef:
              key: database-name
              name: {{ etherpad_app_name }}-mysql
        - name: DB_HOST
          value: {{ etherpad_app_name }}-mysql
        - name: DB_PASS
          valueFrom:
            secretKeyRef:
              key: database-password
              name: {{ etherpad_app_name }}-mysql
        - name: DB_PORT
          value: "3306"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              key: database-user
              name: {{ etherpad_app_name }}-mysql
        - name: NODE_ENV
          value: production
        image: {{ etherpad_image }}
        imagePullPolicy: Always
        name: {{ etherpad_app_name }}
        ports:
        - containerPort: 9001
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        readinessProbe:
          failureThreshold: 5
          httpGet:
            path: /
            port: 9001
            scheme: HTTP
          initialDelaySeconds: 60
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 9001
            scheme: HTTP
          initialDelaySeconds: 120
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: /opt/etherpad/config
          name: {{ etherpad_app_name }}-settings
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - configMap:
          defaultMode: 420
          name: {{ etherpad_app_name }}-settings
        name: {{ etherpad_app_name }}-settings