Welcome to the OpenShift Workshop.

If this is your first time using an Etherpad, it allows EVERYONE to edit
documents collaboratively in real-time, much like a live multi-player editor
that runs in your browser. To-do lists, notes, questions, follow ups; we can
all work on the same document at the same time.

To start using this collaboration tool, we are going to identify some logistics.

Find an open user login and assign yourself one. Remember it, you will use it
to login:

{% for user_num in range(1, num_users|int + 1) %}
user{{ user_num }}=
{% endfor %}

Parking Lot
-----------
If there is anything we do not have time to cover, record it here.