kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  labels:
    app: {{ etherpad_app_name }}
  name: {{ etherpad_app_name }}-mysql
  namespace: {{ etherpad_project }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ etherpad_pvc_capacity }}