apiVersion: v1
kind: Secret
metadata:
  name: {{ etherpad_app_name }}-mysql
  labels:
    app: {{ etherpad_app_name }}
  namespace: {{ etherpad_project }}
stringData:
  database-name: {{ mysql_database }}
  database-password: {{ mysql_password }}
  database-root-password: {{ mysql_root_password }}
  database-user: {{ mysql_user }}