apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ etherpad_app_name }}-mysql
  name: {{ etherpad_app_name }}-mysql
  namespace: {{ etherpad_project }}
spec:
  selector:
    app: {{ etherpad_app_name }}-mysql
  type: ClusterIP
  ports:
  - port: 3306
    protocol: TCP
    targetPort: 3306