apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ etherpad_app_name }}
  name: {{ etherpad_app_name }}
  namespace: {{ etherpad_project }}
spec:
  selector:
    app: {{ etherpad_app_name }}
  type: ClusterIP
  ports:
  - port: 9001
    protocol: TCP
    targetPort: 9001