QUAY_BUILDER_IMAGE={{ quay_builder_image }}
QUAY_BUILDER_HOST_CONFIG_DIR={{ quay_builder_config_dir }}
QUAY_ADDRESS={{ quay_enterprise_hostname  }} 
{% if quay_builder_ssl_trust_configure %}
QUAY_BUILDER_SSL_TRUST_HOST_FILE={{ quay_builder_ssl_trust_host_file }}
QUAY_BUILDER_SSL_TRUST_CONTAINER_FILE={{ quay_builder_ssl_trust_container_file }}
{% endif %}
