---
apiVersion: forklift.konveyor.io/v1beta1
kind: ForkliftController
metadata:
  name: forklift-controller
  namespace: openshift-mtv
spec:
  controller_container_limits_cpu: {{ ocp4_workload_mtv_forklift_controller_container_limits_cpu }}
  controller_container_limits_memory: {{ ocp4_workload_mtv_forklift_controller_container_limits_memory }}
{% if ocp4_workload_mtv_max_vm_inflight is defined %}
  controller_max_vm_inflight: {{ ocp4_workload_mtv_max_vm_inflight | int }}
{% endif %}
