apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: "{{ _ocp4_workload_shared_cluster_username }}"
spec:
  selector:
    annotations:
      openshift.io/requester: "{{ _ocp4_workload_shared_cluster_username }}"
    labels: null
  quota: {{ ocp4_workload_shared_cluster_quota | to_json }}
