apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ cluster_name }}
  namespace: {{ cluster_name }}
  labels:
    cloud: Azure
    region: {{ azure_cluster_region }}
    vendor: OpenShift
spec:
  baseDomain: {{ guid }}.{{ azure_root_dns_zone }}
  clusterName: {{ cluster_name }}
  controlPlaneConfig:
    servingCertificates: {}
  installAttemptsLimit: 1
  installed: false
  platform:
    azure:
      baseDomainResourceGroupName: openenv-{{ guid }}
      credentialsSecretRef:
        name: {{ cluster_name }}-azure-creds
      region: {{ azure_cluster_region }}
      cloudName: AzurePublicCloud
  provisioning:
    installConfigSecretRef:
      name: {{ cluster_name }}-install-config
    sshPrivateKeySecretRef:
      name: {{ cluster_name }}-ssh-private-key
    imageSetRef:
      name: img4.9.37-x86-64-appsub
  pullSecretRef:
    name: {{ cluster_name }}-pull-secret
