apiVersion: v1
metadata:
  name: '{{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}'
baseDomain: {{ guid }}.{{ azure_root_dns_zone }}
controlPlane:
  name: master
  architecture: amd64
  hyperthreading: Enabled
  replicas: {{ _ocp4_workload_rhacm_clusters_azure_master_replica_count|int | default(3) }}
  platform:
    azure:
      osDisk:
        diskSizeGB: 128
      type: "{{ _ocp4_workload_rhacm_clusters_azure_master_instance_type }}"
compute:
- hyperthreading: Enabled
  architecture: amd64
  name: 'worker'
  replicas: {{ _ocp4_workload_rhacm_clusters_azure_worker_replica_count|int }}
  platform:
    azure:
      type:  "{{ _ocp4_workload_rhacm_clusters_azure_worker_instance_type }}"
      osDisk:
        diskSizeGB: 128
      zones:
      - "1"
      - "2"
      - "3"
networking:
  networkType: OpenShiftSDN
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
platform:
  azure:
    baseDomainResourceGroupName: openenv-{{ guid }}
    cloudName: AzurePublicCloud
    region: {{ _ocp4_workload_rhacm_clusters_azure_cluster_region }}
pullSecret: ""
sshKey: {{ ssh_publickey }}
