apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: {{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}
    openshift.io/requester: {{ ocp_username }}
  name: {{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}
