apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}-pull-secret
  namespace: {{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}
stringData:
  .dockerconfigjson: >-
    {{ ocp4_token }}
type: kubernetes.io/dockerconfigjson
