apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}-install-config
  namespace: {{ _ocp4_workload_rhacm_clusters_azure_cluster_name }}
type: Opaque
data:
  install-config.yaml: {{ lookup('template','azure/install_config_azure.yaml.j2') | string | b64encode }}
