apiVersion: ocs.openshift.io/v1
kind: StorageCluster
metadata:
  namespace: {{ ceph_namespace }}
  name: ocs-storagecluster
spec:
  manageNodes: false
  resources:
    mon:
      requests:
        cpu: {{ ceph_mon.resources.requests.cpu }}
        memory: {{ ceph_mon.resources.requests.memory }}
    mds:
      requests:
        cpu: {{ ceph_mds.resources.requests.cpu }}
        memory: {{ ceph_mds.resources.requests.memory }}
    mgr:
      requests:
        cpu: {{ ceph_mgr.resources.requests.cpu }}
        memory: {{ ceph_mgr.resources.requests.memory }}
    noobaa-core:
      requests:
        cpu: {{ noobaa_core.resources.requests.cpu }}
        memory: {{ noobaa_core.resources.requests.memory }}
    noobaa-db:
      requests:
        cpu: {{ noobaa_db.resources.requests.cpu }}
        memory: {{ noobaa_db.resources.requests.memory }}
  storageDeviceSets:
  - name: ocs-deviceset
    count: 1
    replica: 3
    resources:
      requests:
        cpu: {{ ceph_osd.resources.requests.cpu }}
        memory: {{ ceph_osd.resources.requests.memory }}
    placement: {}
    dataPVCTemplate:
      spec:
        storageClassName: gp2
        accessModes:
        - ReadWriteOnce
        volumeMode: Block
        resources:
          requests:
            storage: {{ ceph_storage_requests| default('200Gi') }}
    portable: true
