---
apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: customers-deployment-pipeline-run
  namespace: "{{ ocp4_workload_big_demo_pipeline_namespace }}"
spec:
  params:
  - name: app-subdir
    value: customers-tomcat-gitops
  - name: git-url
    value: "{{ _ocp4_workload_big_demo_gitea_repo_url }}"
  - name: target-namespace
    value: "{{ ocp4_workload_big_demo_demo_namespace }}"
  pipelineRef:
    name: customers-deployment-pipeline
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
  - name: ws
    persistentVolumeClaim:
      claimName: customers-pvc
