API_URL={{ api_url }}
MASTER_URL={{ master_url }}
KUBEADMIN_PASSWORD={{ kubeadmin_password }}
SSH_USERNAME={{ student_name }}
SSH_PASSWORD={{ student_password }}
BASTION_FQDN={{ bastion_fqdn }}
GUID={{ guid }}
ROUTE_SUBDOMAIN={{ route_subdomain }}
HOME_PATH=/opt/app-root/src