---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_showroom_namespace }}
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  goTemplate: true
  destination:
    name: ''
    namespace: {{ ocp4_workload_showroom_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    # syncOptions:
    # - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  source:
    repoURL: {{ ocp4_workload_showroom_deployer_chart_repo_url }}
    targetRevision: {{ ocp4_workload_showroom_deployer_chart_repo_revision }}
    path: {{ ocp4_workload_showroom_deployer_chart_repo_path }}
    helm:
      values: |
        namespace:
          create: true
          name: {{ ocp4_workload_showroom_namespace }}
        deployer:
          domain: {{ _deployer_domain }}
        general:
          guid: {{ guid }}
        terminal:
          wetty:
            autoSshToBastion: true
            sshAuth: password
            sshHost: {{ _showroom_user_data.bastion_public_hostname }}
            sshPass: {{ _showroom_user_data.bastion_ssh_password }}
            sshUser: {{ _showroom_user_data.bastion_ssh_user_name }}
        content:
          repoUrl: {{ ocp4_workload_showroom_content_git_repo }}
          user_data: |-
            {{ _showroom_user_data | to_nice_yaml | indent(12) }}
