---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: {{ ocp4_workload_showroom_name }}
  namespace: {{ ocp4_workload_showroom_namespace }}
spec:
  failedBuildsHistoryLimit: 5
  nodeSelector: null
  output:
    to:
      kind: ImageStreamTag
      name: {{ ocp4_workload_showroom_image_name }}:latest
  postCommit: {}
  resources: {}
  runPolicy: Serial
  source:
    contextDir: /
    git:
      uri: {{ ocp4_workload_showroom_repo }}
    type: Git
  strategy:
    sourceStrategy:
      from:
        kind: ImageStreamTag
        name: httpd:2.4-el7
        namespace: openshift
    type: Source
  triggers:
  - type: ConfigChange
  - type: ImageChange
    imageChange: {}
