---

apiVersion: apps.openshift.io/v1
kind: DeploymentConfig
metadata:
  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_dc }}
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_dc }}
  strategy:
    activeDeadlineSeconds: 21600
    recreateParams:
      post:
        execNewPod:
          command:
            - /bin/bash
            - /tmp/init-files/wait_for_postgresql.sh
            - /tmp/init-files/create_rhpam_database.sh
          containerName: postgresql
          volumes:
            - init-volume
        failurePolicy: Abort
      timeoutSeconds: 600
    resources:
      limits:
        cpu: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_limit_cpu }}
        memory: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_limit_memory }}
      requests:
        cpu: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_request_cpu }}
        memory: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_request_memory }}
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_dc }}
    spec:
      containers:
        - env:
            - name: POSTGRESQL_USER
              valueFrom:
                secretKeyRef:
                  key: database-user
                  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_secret }}
            - name: POSTGRESQL_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: database-password
                  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_secret }}
            - name: POSTGRESQL_DATABASE
              valueFrom:
                secretKeyRef:
                  key: database-name
                  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_secret }}
            - name: POSTGRESQL_SERVICE
              value: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_service }}
            - name: POSTGRESQL_MAX_PREPARED_TRANSACTIONS
              value: '{{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_max_prepared_transactions }}'
            - name: POSTGRESQL_MAX_CONNECTIONS
              value: '{{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_max_connections }}'
          image:
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            initialDelaySeconds: 30
            periodSeconds: 10
            successThreshold: 1
            tcpSocket:
              port: 5432
            timeoutSeconds: 1
          name: postgresql
          ports:
            - containerPort: 5432
              protocol: TCP
          readinessProbe:
            exec:
              command:
                - /bin/sh
                - '-i'
                - '-c'
                - psql -h 127.0.0.1 -U rhpam -q -d rhpam -c 'SELECT 1'
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 1
          resources:
            limits:
              memory: 512Mi
          securityContext:
            capabilities: {}
            privileged: false
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          volumeMounts:
            - mountPath: /var/lib/pgsql/data
              name: rhpam-postgresql-data
            - mountPath: /tmp/init-files
              name: init-volume
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: rhpam-postgresql-data
          persistentVolumeClaim:
            claimName: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_pvc }}
        - configMap:
            defaultMode: 493
            name: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_init_configmap }}
          name: init-volume
  test: false
  triggers:
    - imageChangeParams:
        automatic: true
        containerNames:
          - postgresql
        from:
          kind: ImageStreamTag
          name: '{{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_image }}:{{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_image_tag }}'
          namespace: {{ ocp4_workload_pam_case_mgmt_exp_elt_postgresql_image_ns }} 
      type: ImageChange
    - type: ConfigChange
