kind: Secret
apiVersion: v1
metadata:
  name: s3-secret-bck
  namespace: "{{ namespace }}"
stringData:
  AWS_ACCESS_KEY_ID: {{ AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: {{ AWS_SECRET_ACCESS_KEY }}