apiVersion: batch/v1
kind: Job
metadata:
  name: xray-source
  namespace: opendatahub
spec:
  selector: {}
  template:
    metadata:
      name: xray-source
    spec:
      containers:
        - name: base-copy
          resources:
            limits:
              cpu: '1'
              memory: 1024Mi
            requests:
              cpu: 500m
              memory: 500Mi
          image: quay.io/rh-data-services/xraylab-image-init:v2.0
          imagePullPolicy: Always
          env:
            - name: AWS_ACCESS_KEY_ID
              value: {{ AWS_ACCESS_KEY_ID }}
            - name: AWS_SECRET_ACCESS_KEY
              value: {{ AWS_SECRET_ACCESS_KEY }}
            - name: SERVICE_POINT
              value: {{ SERVICE_POINT }}
            - name: BUCKET_SOURCE
              value: {{ BUCKET_SOURCE }}
      restartPolicy: Never