apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: acm-openshift-operators-{{ _environment }}
  namespace: openshift-operators
  annotations:
    apps.open-cluster-management.io/git-branch: main
    apps.open-cluster-management.io/git-path: gitops/acm/openshift-operators/overlays/{{ _environment }}
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: acm-openshift-operators-{{ _environment }}
spec:
  channel: "{{ ocp4_workload_devsecops_validated_pattern_acm_namespace }}/acm-devsecops"
  placement:
    placementRef:
      kind: PlacementRule
      name: acm-openshift-operators-{{ _environment }}