apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: acm-openshift-operators-{{ _environment }}
  namespace: openshift-operators
spec:
  clusterSelector:
    matchLabels:
      purpose: "{{ _purpose }}"