---

__tower_auth_ldap_settings:
    AUTH_LDAP_SERVER_URI: {{ ipa_server_url }}
    AUTH_LDAP_BIND_DN: "uid={{ ipa_admin_username }},cn=users,cn=accounts,dc=opentlc,dc=com"
    AUTH_LDAP_BIND_PASSWORD: {{ ipa_admin_password }}
    AUTH_LDAP_START_TLS: {{ ipa_enable_tls | default(false) | bool }}
    AUTH_LDAP_REQUIRE_GROUP: "cn={{ ipa_allow_group_login }},cn=groups,cn=accounts,dc=opentlc,dc=com"
    AUTH_LDAP_USER_SEARCH: 
      - '"uid=Users,cn=users,cn=accounts,dc=opentlc,dc=com","SCOPE_SUBTREE","(uid=%(user)s)"'
    AUTH_LDAP_USER_DN_TEMPLATE: "uid=%(user)s,cn=users,cn=accounts,dc=opentlc,dc=com"
    
    AUTH_LDAP_USER_ATTR_MAP: | 
      '{
        "first_name": "givenName", 
        "last_name": "sn",
        "email": "mail"
      }'

    AUTH_LDAP_GROUP_SEARCH: 
      - '"cn=groups,cn=accounts,dc=opentlc,dc=com","SCOPE_SUBTREE","(objectClass=posixgroup)"'

    AUTH_LDAP_GROUP_TYPE: "NestedMemberDNGroupType"

    AUTH_LDAP_GROUP_TYPE_PARAMS: |
      '{ 
        "name_attr": "cn",
        "member_attr": "member"
       }'

    AUTH_LDAP_ORGANIZATION_MAP: |
      '{ 
    {% for organization in tower_organization %}
         
      "{{ organization.name }}": {
          "remove_admins": false,
          "remove_users": false,
          "admins": [
    {% for admin_group in ipa_admin_groups %}
          "cn={{ admin_group }},cn=groups,cn=accounts,dc=opentlc,dc=com"{% if ipa_admin_groups|length > loop.index %},{% endif %}
         
    {% endfor %}
          ]{% if ipa_user_groups is defined %},{% endif %}
    {% if ipa_user_groups is defined %}
         
          "users": [
    {% for user_group in ipa_user_groups %}
          "cn={{ user_group }},cn=groups,cn=accounts,dc=opentlc,dc=com"{% if ipa_admin_groups|length > loop.index %},{% endif %}
         
    {% endfor %}
          ]
    {% endif %}
         
        }{% if tower_organization|length > loop.index %},{% endif %}{% endfor %}
         
      }'
    {% if ipa_user_groups is defined %}

    AUTH_LDAP_TEAM_MAP: |
      '{ 
    {% for organization in tower_organization %}
    {% set outer_loop = loop.index %}
    {% for user_group in ipa_user_groups %}
         
        "{{ user_group }}": {
          "remove": true,
          "organization": "{{ organization.name }}",
          "users": "cn={{ user_group }},cn=groups,cn=accounts,dc=opentlc,dc=com"
        }{% if  ( tower_organization|length != outer_loop or ipa_user_groups|length != loop.index )  %},{% endif %}
        {% endfor %}
        {% endfor %}
         
      }' 
    {% endif %}

...