vms:
- name: Bastion Host
  tag: bastion
  description: "Bastion Host\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: GB
    value: 1
  hostnames: [bastion-REPL.rhpds.opentlc.com, bastion.example.com, bastion]
  supportsCloudInit: True
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: False
    users:
      - name: "{{ remote_user }}"
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
  hardDrives:
  - index: 0
    imageName: rhel-guest-image-7.3-35.x86_64
    boot: True
    controller: virtio
    name: root disk
    size:
      unit: GB
      value: 40
    type: DISK
  networkConnections:
  - name: eth0
    device:
      index: 0
      deviceType: virtio
      useAutomaticMac: False
      mac: 2c:c2:60:14:42:52
    ipConfig:
      autoIpConfig:
        reservedIp: 192.168.1.10
      hasPublicIp: true
  - name: eth1
    device:
      index: 1
      deviceType: virtio
      useAutomaticMac: True
    ipConfig:
      autoIpConfig:
        reservedIp: 192.168.2.10
  suppliedServices:
  - external: True
    ip: 192.168.1.10
    name: ssh
    portRange: 22
    protocol: SSH
- name: Web Server
  tag: www1
  description: "Web Server\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: GB
    value: 1
  hostnames: [www1-REPL.rhpds.opentlc.com, www1.example.com, www1]
  supportsCloudInit: True
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: False
    users:
      - name: "{{ remote_user }}"
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
  hardDrives:
  - index: 0
    imageName: rhel-guest-image-7.3-35.x86_64
    boot: True
    controller: virtio
    name: root disk
    size:
      unit: GB
      value: 40
    type: DISK
  networkConnections:
  - name: eth0
    device:
      index: 0
      deviceType: virtio
      useAutomaticMac: False
      mac: 2c:c2:60:14:42:53
    ipConfig:
      autoIpConfig:
        reservedIp: 192.168.1.20
      hasPublicIp: true
  - name: eth1
    device:
      index: 1
      deviceType: virtio
      useAutomaticMac: True
    ipConfig:
      autoIpConfig:
        reservedIp: 192.168.2.20
  suppliedServices:
  - external: True
    ip: 192.168.1.20
    name: http
    portRange: 80
    protocol: TCP
- name: Web Server
  tag: www2
  description: "Web Server\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: GB
    value: 1
  hostnames: [www2-REPL.rhpds.opentlc.com, www2.example.com, www2]
  supportsCloudInit: True
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: False
    users:
      - name: "{{ remote_user }}"
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
  hardDrives:
  - index: 0
    imageName: rhel-guest-image-7.3-35.x86_64
    boot: True
    controller: virtio
    name: root disk
    size:
      unit: GB
      value: 40
    type: DISK
  networkConnections:
  - name: eth0
    device:
      index: 0
      deviceType: virtio
      useAutomaticMac: False
      mac: 2c:c2:60:14:42:54
    ipConfig:
      autoIpConfig:
        reservedIp: 192.168.1.21
      hasPublicIp: true
  - name: eth1
    device:
      index: 1
      deviceType: virtio
      useAutomaticMac: True
    ipConfig:
      autoIpConfig:
        reservedIp: 192.168.2.21
  suppliedServices:
  - external: True
    ip: 192.168.1.21
    name: http
    portRange: 80
    protocol: TCP

