apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  name: acm-openshift-gitops-{{ _environment }}
  namespace: openshift-gitops
spec:
  clusterSelector:
    matchLabels:
      purpose: "{{ _purpose }}"