apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-operator
  namespace: {{ ocp4_workload_integreatly_minio_namespace }}
spec:
  strategy:
    type: Recreate
  replicas: {{ ocp4_workload_integreatly_minio_deployment_replicas }}
  selector:
    matchLabels:
      app: minio-operator
  template:
    metadata:
      labels:
        app: minio-operator
    spec:
      serviceAccountName: {{ ocp4_workload_integreatly_minio_resource_serviceaccount_name }}
      containers:
        - name: minio-operator
          image: {{ ocp4_workload_integreatly_minio_image }}
          imagePullPolicy: IfNotPresent
          env:
          - name: WATCHED_NAMESPACE
            value: "{{ ocp4_workload_integreatly_minio_namespace }}"