apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: {{ ocp4_workload_integreatly_minio_namespace }}
stringData:
  accesskey: "{{ ocp4_workload_integreatly_minio_access_key }}"
  secretkey: "{{ ocp4_workload_integreatly_minio_secret_key }}"
type: Opaque