reverse-proxy:
  image: docker.io/traefik:v2.4
  name: reverse-proxy
  command:
    - "--providers.docker=true"
    - "--entrypoints.websecure.address=:{{ showroom_primary_port | default(443) }}"
    - "--certificatesresolvers.le.acme.email=john.doe@opentlc.com"
    - "--certificatesresolvers.le.acme.tlschallenge=true"
    - "--certificatesresolvers.le.acme.storage=/acme.json"

  volumes:
    - "/run/user/{{ showroom_user_uid }}/podman/podman.sock:/var/run/docker.sock:z"
    - "{{ showroom_user_orchestration_dir }}/acme.json:/acme.json:z"
  ports:
    - "{{ showroom_port | default(443) }}:443"
  labels:
    - traefik.enable=false

showroom:
  image: docker.io/httpd
  container_name: showroom
  hostname: showroom
  restart: always
  volumes:
{% if showroom_ui == "zero" %}
  - "{{ showroom_user_content_dir }}:/usr/local/apache2/htdocs:z,ro"
{% else %}
  - "{{ showroom_user_content_dir }}/www:/usr/local/apache2/htdocs:z,ro"
{% endif %}
  labels:
    - "traefik.enable=true"
    - "traefik.http.services.showroom.loadbalancer.server.port=80"
    - "traefik.http.routers.entrypoints=showroomsecure"
    - "traefik.http.routers.showroom.tls.certresolver=le"
    - "traefik.http.routers.showroom.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/showroom`)"
    - "traefik.http.routers.showroom.middlewares=showroom-stripprefix"
    - "traefik.http.middlewares.showroom-stripprefix.stripprefix.prefixes=/showroom"
