{% set _provider = (showroom_tls_provider | default(certbot_cert_manager_provider, true) | default('zerossl')) | lower %}
{% if _provider == 'zerossl' %}
{% set _caserver = showroom_acme_zerossl_caserver | default(certbot_cert_manager_acme_url, true) %}
{% set _challenge = showroom_acme_zerossl_acme_challenge %}
{% set _zerossl_eab_kid = showroom_acme_zerossl_eab_kid | default(certbot_cert_manager_zerossl_eab_key_id, true) %}
{% set _zerossl_eab_hmac = showroom_acme_zerossl_eab_hmac_key | default(certbot_cert_manager_zerossl_hmac_key, true) %}
{% elif _provider == 'letsencrypt' %}
{% set _caserver = showroom_acme_letsencrypt_caserver | default(certbot_cert_manager_acme_url, true) %}
{% set _challenge = showroom_acme_letsencrypt_acme_challenge %}
{% set _zerossl_eab_kid = '' %}
{% set _zerossl_eab_hmac = '' %}
{% else %}
{% set _caserver = '' %}
{% set _challenge = '' %}
{% set _zerossl_eab_kid = '' %}
{% set _zerossl_eab_hmac = '' %}
{% endif %}

{% set _entrypoint = 'web' if _provider == 'none' else 'websecure' %}

reverse-proxy:
  image: {{ showroom_reverse_proxy_image }}:{{ showroom_reverse_proxy_image_tag }}
  name: reverse-proxy
  command:
    - "--global.checknewversion=false"
    - "--global.sendanonymoususage=false"
    - "--providers.docker=true"
    - "--providers.docker.exposedbydefault=false"
    - "--log.level=info"
    - "--accesslog=true"
{% if _provider == 'none' %}
    - "--entrypoints.web.address=:{{ showroom_http_port | default(80) }}"
{% else %}
    - "--entrypoints.websecure.address=:{{ showroom_primary_port | default(443) }}"
{% if _challenge == 'http' %}
    - "--entrypoints.web.address=:{{ showroom_http_port | default(80) }}"
{% endif %}
    - "--certificatesresolvers.{{ _provider }}.acme.email={{ showroom_acme_email }}"
    - "--certificatesresolvers.{{ _provider }}.acme.caserver={{ _caserver }}"
{% if _zerossl_eab_kid %}
    - "--certificatesresolvers.{{ _provider }}.acme.eab.kid={{ _zerossl_eab_kid }}"
{% endif %}
{% if _zerossl_eab_hmac %}
    - "--certificatesresolvers.{{ _provider }}.acme.eab.hmacencoded={{ _zerossl_eab_hmac }}"
{% endif %}
{% if _challenge == 'http' %}
    - "--certificatesresolvers.{{ _provider }}.acme.httpchallenge=true"
    - "--certificatesresolvers.{{ _provider }}.acme.httpchallenge.entrypoint=web"
{% else %}
    - "--certificatesresolvers.{{ _provider }}.acme.tlschallenge=true"
{% endif %}
    - "--certificatesresolvers.{{ _provider }}.acme.storage=/acme.json"
{% endif %}
  volumes:
    - "/run/user/{{ showroom_user_uid }}/podman/podman.sock:/var/run/docker.sock:z"
{% if _provider != 'none' %}
    - "{{ showroom_user_orchestration_dir }}/acme.json:/acme.json:z"
{% endif %}
  ports:
{% if _provider == 'none' %}
    - "{{ showroom_http_port | default(80) }}:80"
{% else %}
    - "{{ showroom_primary_port | default(443) }}:443"
{% if _challenge == 'http' %}
    - "{{ showroom_http_port | default(80) }}:80"
{% endif %}
{% endif %}
  labels:
    - traefik.enable=false

showroom:
  image: {{ showroom_httpd_image }}:{{ showroom_httpd_image_tag }}
  container_name: showroom
  hostname: showroom
  restart: always
  volumes:
{% if showroom_ui == "zero" %}
    - "{{ showroom_user_content_dir }}:/usr/local/apache2/htdocs:z,ro"
{% else %}
    - "{{ showroom_user_content_dir }}/www:/usr/local/apache2/htdocs:z,ro"
{% endif %}
  labels:
    - "traefik.enable=true"
    - "traefik.http.services.showroom.loadbalancer.server.port=80"
    - "traefik.http.routers.showroom.entrypoints={{ _entrypoint }}"
{% if _provider != 'none' %}
    - "traefik.http.routers.showroom.tls.certresolver={{ _provider }}"
{% endif %}
    - "traefik.http.routers.showroom.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/showroom`)"
    - "traefik.http.routers.showroom.middlewares=showroom-stripprefix"
    - "traefik.http.middlewares.showroom-stripprefix.stripprefix.prefixes=/showroom"
