---

  reverse-proxy:
    image: docker.io/traefik:v2.4
    name: reverse-proxy
    command: 
      - "--providers.docker=true"
      - "--entrypoints.websecure.address=:{{ showroom_port | default(443) }}"
      - "--certificatesresolvers.le.acme.email=john.doe@opentlc.com"
      - "--certificatesresolvers.le.acme.tlschallenge=true"
      - "--certificatesresolvers.le.acme.storage=/acme.json"

    volumes:
      - "/run/user/{{ showroom_user_uid }}/podman/podman.sock:/var/run/docker.sock:z"
      - "{{ showroom_user_orchestration_dir }}/acme.json:/acme.json:z
    ports:
    #  - "80:80"
      - "{{ showroom_port | default(443) }}:443"
    #  - "8500:8080"                            # TODO: Placeholder? passwd protect console?
    labels:
      - traefik.enable=false
      # TODO: Can we move some commands to labels?
    # - --providers.docker=true
    # - --certificatesresolvers.le.acme.email=john.doe@opentlc.com
    # - --certificatesresolvers.le.acme.storage=/acme.json
    # - --certificatesresolvers.le.acme.tlschallenge=true     

  showroom:
    image: docker.io/httpd
    container_name: showroom
    hostname: showroom
    restart: always
    volumes:
      - "{{ showroom_user_content_dir }}/gh-pages:/usr/local/apache2/htdocs:z,ro"
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.web1.loadbalancer.server.port=80"
      - "traefik.http.routers.entrypoints=web1secure"
      - "traefik.http.routers.web1.tls.certresolver=le"

      # Troublesome stripper code - fails to resolve files referenced by index.html etc  
        
      - "traefik.http.routers.web1.rule=Host(`bastion.showroom02.sandbox783.opentlc.com`) && PathPrefix(`/web1`)"
      - "traefik.http.routers.web1.middlewares=web1-stripprefix"
      - "traefik.http.middlewares.web1-stripprefix.stripprefix.prefixes=/web1"

  web2:
    image: docker.io/httpd
    container_name: web2
    hostname: web2
    restart: always
    volumes:
      # - "./www2:/usr/local/apache2/htdocs:z,ro" # old simple apache test
      - "/opt/showroom/content/gh-pages:/usr/local/apache2/htdocs:z,ro"
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.web2-entrypoints=web2secure"
      - "traefik.http.routers.web2.tls.certresolver=le"
      - "traefik.http.services.web2.loadbalancer.server.port=80"

      # Troublesome stripper code - fails to resolve files referenced by index.html etc  
        
      - "traefik.http.routers.web2.rule=Host(`bastion.showroom02.sandbox783.opentlc.com`) && PathPrefix(`/web2`)"
      - "traefik.http.routers.web2.middlewares=web2-stripprefix"
      - "traefik.http.middlewares.web2-stripprefix.stripprefix.prefixes=/web2"

      #- "traefik.http.routers.web.tls=true"
      # - "traefik.http.routers.web.rule=Host(`bastion.showroom02.sandbox783.opentlc.com`)"

  terminal1:
    image: docker.io/wettyoss/wetty
    container_name: terminal1
    hostname: terminal1
    # networks: 
    #   - web
    #   - internal
    command:
      - "--allow-iframe=true"
      - "--ssh-user=devops"
      - "--ssh-pass=MTg3Njgy"
      - "--ssh-host=bastion.showroom02.sandbox783.opentlc.com"
      - "--base=/"
    labels:
      # - "traefik.enable=true"
      - "traefik.http.routers.terminal1-entrypoints=web2secure"
      - "traefik.http.routers.terminal1.tls.certresolver=le"
      - "traefik.http.services.terminal1.loadbalancer.server.port=3000"

      - "traefik.http.routers.terminal1.rule=Host(`bastion.showroom02.sandbox783.opentlc.com`) && PathPrefix(`/terminal1`)"
      # - "traefik.http.routers.terminal1.rule=PathPrefix(`/terminal1`)"
      - "traefik.http.routers.terminal1.middlewares=terminal1-stripprefix"
      - "traefik.http.middlewares.terminal1-stripprefix.stripprefix.prefixes=/terminal1/"

      # remove-nosniff
      
      - "traefik.http.middlewares.remove-nosniff.headers.customResponseHeaders.X-Content-Type-Options="
      - "traefik.http.routers.terminal1-nosniff.middlewares=remove-nosniff"
#
  terminal2:
    image: docker.io/tonykay/service-rhel-8-terminal-base
    container_name: terminal2
    hostname: terminal2
      # privileged: true
    # ports:
    #   - "8500:8888"        # Browser based terminal session
    labels:

      - "traefik.http.routers.terminal2-entrypoints=web2secure"
      - "traefik.http.routers.terminal2.tls.certresolver=le"
      - "traefik.http.services.terminal2.loadbalancer.server.port=8888"

      - "traefik.http.routers.terminal2.rule=Host(`bastion.showroom02.sandbox783.opentlc.com`) && PathPrefix(`/terminal2`)"
      # - "traefik.http.routers.terminal1.rule=PathPrefix(`/terminal1`)"
      - "traefik.http.routers.terminal2.middlewares=terminal2-stripprefix"
      - "traefik.http.middlewares.terminal2-stripprefix.stripprefix.prefixes=/terminal2/"

      # remove-nosniff
      
      - "traefik.http.middlewares.remove-nosniff.headers.customResponseHeaders.X-Content-Type-Options="
      - "traefik.http.middlewares.testheader.headers.customrequestheaders.X-Custom-Request-Header="
      - "traefik.http.middlewares.testheader.headers.customresponseheaders.X-Custom-Response-Header="
      - "traefik.http.routers.terminal2-nosniff.middlewares=remove-nosniff"



#       - "traefik.http.services.terminal1.loadbalancer.server.port=3000"
#       - "traefik.http.routers.terminal1.tls.certresolver=le"
#       - "traefik.http.routers.entrypoints=websecure"
#
# #      - "traefik.frontend.rule=Host:bastion.showroom02.sandbox783.opentlc.com;PathPrefixStrip:/terminal01"
#
#       - "traefik.http.routers.terminal1.rule=Host(`bastion.showroom02.sandbox783.opentlc.com`) && PathPrefix(`/terminal01`)"
#       # - "traefik.http.middlewares.termanl1.stripprefix.forceSlash=false"
#
#       - "traefik.http.middlewares.terminal1-stripprefix.stripprefix.prefixes=/terminal01"
#       - "traefik.http.routers.terminal1.middlewares=terminal1-stripprefix"
#
#       #- traefik.http.middlewares.static-files-stripprefix.stripprefix.prefixes=/terminal01
#       #- traefik.http.routers.static-files.middlewares=gzip,static-files-stripprefix,terminal01-headers 
#       # stack overflow https://stackoverflow.com/questions/41637806/routing-paths-with-traefik
#       #
#       #- "traefik.http.routers.terminal01-secure.rule=Host(`bastion.showroom02.sandbox1488.opentlc.com`) && PathPrefix(`/terminal01`)"
#       #- "traefik.http.routers.terminal01-secure.middlewares=terminal01-redirectregex, terminal01-replacepathregex"
#       #- "traefik.http.middlewares.terminal01-replacepathregex.replacepathregex.regex=^/terminal01/(.*)"
#       #- "traefik.http.middlewares.terminal01-replacepathregex.replacepathregex.replacement=/$$1"
#       #- "traefik.http.middlewares.terminal01-redirectregex.redirectregex.regex=^(.*)/terminal01$$"
#       #- "traefik.http.middlewares.terminal01-redirectregex.redirectregex.replacement=$$1/terminal01/"
#       #
#       # +New test rules from https://github.com/traefik/traefik/issues/563
#       #
#       #
#       #
# #      - "traefik.frontend.redirect.regex=^(.*)/terminal01$$"
# #      - "traefik.frontend.redirect.replacement=$$1/terminal01/"
# #      - "traefik.frontend.rule=PathPrefix:/terminal01;ReplacePathRegex: ^/terminal01/(.*) /$$1"
#     # ports:
#     #   - "8002:3000"
#
#   # home:
#   #   restart: always
#   #   name: home
#   #   image: denoland/deno:1.11.2
#   #   command: run --allow-net --allow-read --allow-env /app/server.ts
#   #   labels:
#   #     - traefik.http.routers.home.rule=Host(`showroom02.sandbox1488.opentlc.com`)
#   #     - traefik.http.services.home.loadbalancer.server.port=8080
#   #   environment:
#   #     - APP_NAME=Home
#   #   volumes:
#   #     - ./app:/app
#   #
#   # shop:
#   #   restart: always
#   #   image: denoland/deno:1.11.2
#   #   name: shop
#   #   command: run --allow-net --allow-read --allow-env /app/server.ts
#   #   labels:
#   #     - traefik.http.routers.shop.rule=Host(`showroom02.sandbox1488.opentlc.com`) && PathPrefix(`/shop`)
#   #     - traefik.http.services.shop.loadbalancer.server.port=8080
#   #   environment:
#   #     - APP_NAME=Shop
#   #   volumes:
#   #     - ./app:/app
#   #
#
#
#
#
#   # traefik:
#   #   image: docker.io/traefik:v2.4
#   #   container_name: traefik
#   #   restart: always
#   #   command:
#   #     # - "--accesslog"
#   #     # - "--api.insecure=true"
#   #     - "--providers.docker"
#   #     - "--entrypoints.web.address=:8010"
#   #   volumes:
#   #     - /run/user/1002/podman/podman.sock:/var/run/docker.sock:z
#   #   ports:
#   #     - "8010:80"
#   #     # - "8080:8080"
#   #
#   # # web accessible as web.localhost      
#   #
#   # showroom-web:
#   #   image: docker.io/httpd
#   #   container_name: showroom-web
#   #   hostname: showroom-web
#   #   restart: always
#   #   volumes:
#   #     # - "./www/web.html:/var/www/html/index.html:z,ro"
#   #     # - "./www:/var/www/html:z,ro"
#   #     - "./www:/usr/local/apache2/htdocs:z,ro"
#   #   labels:
#   #     - "traefik.enable=true"
#   #     - "traefik.http.routers.showroom-web.rule=(Host(`showroom02.sandbox1488.opentlc.com`) && Path(`/web`))" 
#   #     - "traefik.http.routers.showroom-web.rule=PathPrefix(`/web{regex:$$|/.*}`)"
#   #     - "traefik.http.routers.showroom-web.middlewares=web-stripprefix"
#   #     - "traefik.http.middlewares.web-stripprefix.stripprefix.prefixes=/web"
#   #

