#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
cat << EOF | tee -a apache-basic-playbook/site.yml

    - name: create site-enabled directory
      file:
        name: /etc/httpd/conf/sites-enabled
        state: directory

    - name: copy httpd.conf
      template:
        src: templates/httpd.conf.j2
        dest: /etc/httpd/conf/httpd.conf
      notify: restart apache service

    - name: copy index.html
      template:
        src: templates/index.html.j2
        dest: /var/www/html/index.html

    - name: start httpd
      service:
        name: httpd
        state: started
        enabled: yes
EOF
