#jinja2:variable_start_string:'[%' , variable_end_string:'%]', trim_blocks: False
#!/usr/bin/bash
echo "ansible web -m service -a \"name=httpd state=stopped\" -b"
ansible web -m service -a "name=httpd state=stopped" -b
