[primary]
localhost ansible_connection=local

[secondary]

[database]

[all:vars]
admin_password='{{ tower_admin_passwd }}'
redis_password='ansibleWS'

pg_host=''
pg_port=''

pg_database=awx
pg_username=awx
pg_password='{{ tower_admin_passwd }}'