---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ ocp4_workload_mad_roadshow_guides_user_selector_name }}
  name: {{ ocp4_workload_mad_roadshow_guides_user_selector_name }}
  namespace: {{ ocp4_workload_mad_roadshow_guides_namespace }}
spec:
  ports:
  - name: 8080-tcp
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: "{{ ocp4_workload_mad_roadshow_guides_user_selector_name }}"
  type: ClusterIP
