---
apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: {{ _ocp4_workload_acc_new_app_dev_guide }}
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
  labels:
    app: {{ _ocp4_workload_acc_new_app_dev_guide }}
spec:
  source:
    type: Git
    git:
      uri: {{ ocp4_workload_acc_new_app_dev_guides_repo }}/{{ _ocp4_workload_acc_new_app_dev_guide }}
  strategy:
    dockerStrategy:
      from:
        kind: ImageStreamTag
        name: httpd-24-rhel7:latest
    type: Docker
  output:
    to:
      kind: ImageStreamTag
      name: {{ _ocp4_workload_acc_new_app_dev_guide }}:latest
  resources: {}
  triggers:
  - type: ConfigChange
  - type: ImageChange
    imageChange: {}
