---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  labels:
    app: {{ _ocp4_workload_acc_new_app_dev_guide }}
  name: {{ _ocp4_workload_acc_new_app_dev_guide }}
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
