---
apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  name: httpd-24-rhel7
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
spec:
  lookupPolicy:
    local: false
  tags:
  - name: latest
    from:
      kind: DockerImage
      name: registry.access.redhat.com/rhscl/httpd-24-rhel7
    importPolicy: {}
    referencePolicy:
      type: Source
