---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: {{ _ocp4_workload_acc_new_app_dev_guide }}
  name: {{ _ocp4_workload_acc_new_app_dev_guide }}
  namespace: {{ ocp4_workload_acc_new_app_dev_guides_namespace }}
spec:
  ports:
  - name: http
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    deployment: {{ _ocp4_workload_acc_new_app_dev_guide }}
