$TTL 1D
@   IN SOA  dns.{{ osp_cluster_dns_zone }}   root.dns.{{ osp_cluster_dns_zone }}. (
                                        2020012511      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum

@       IN      NS      dns.{{ osp_cluster_dns_zone }}.
{{ osp_cluster_dns_zone }}.    IN      NS      dns.{{ osp_cluster_dns_zone }}.
5 		IN	PTR	dns.{{ osp_cluster_dns_zone }}.

110		IN	PTR	ns1.{{guid}}.{{ osp_cluster_dns_zone }}.
111		IN	PTR	api.{{guid}}.{{ osp_cluster_dns_zone }}.

100		IN	PTR	master-0.{{guid}}.{{ osp_cluster_dns_zone }}.
101		IN	PTR	master-1.{{guid}}.{{ osp_cluster_dns_zone }}.
102		IN	PTR	master-2.{{guid}}.{{ osp_cluster_dns_zone }}.
200		IN	PTR	worker-0.{{guid}}.{{ osp_cluster_dns_zone }}.
201		IN	PTR	worker-1.{{guid}}.{{ osp_cluster_dns_zone }}.
202		IN	PTR	worker-2.{{guid}}.{{ osp_cluster_dns_zone }}.
