$TTL 1D
@   IN SOA  dns.{{ my_ocp_domain }}   root.dns.{{ my_ocp_domain }}. (
                                        2020012511      ; serial
                                        1D              ; refresh
                                        1H              ; retry
                                        1W              ; expire
                                        3H )            ; minimum

@       IN      NS      dns.{{ my_ocp_domain }}.
{{ my_ocp_domain }}.    IN      NS      dns.{{ my_ocp_domain }}.
5 		IN	PTR	dns.{{ my_ocp_domain }}.

110		IN	PTR	ns1.kni1.{{ my_ocp_domain }}.
111		IN	PTR	api.kni1.{{ my_ocp_domain }}.

100		IN	PTR	master-0.kni1.{{ my_ocp_domain }}.
101		IN	PTR	master-1.kni1.{{ my_ocp_domain }}.
102		IN	PTR	master-2.kni1.{{ my_ocp_domain }}.
200		IN	PTR	worker-0.kni1.{{ my_ocp_domain }}.
201		IN	PTR	worker-1.kni1.{{ my_ocp_domain }}.
202		IN	PTR	worker-2.kni1.{{ my_ocp_domain }}.
