#!/bin/bash
OSP_PROJECT="{{ osp_project_name }}"
GUID="{{ guid }}"
for NODE in $( openstack --os-cloud=$OSP_PROJECT server list|grep worker|cut -d\| -f3|sed 's/ //g' )
do
        openstack --os-cloud=$OSP_PROJECT server add volume $NODE $NODE-volume
done
