clouds:
  {{ osp_project_name }}:
    auth:
      auth_url: "{{ osp_auth_url }}"
      username: "{{ guid }}-user"
      project_name: "{{ osp_project_name }}"
      project_id: "{{ osp_project_id }}"
      user_domain_name: "Default"
      password: "{{ heat_user_password }}"
    region_name: "regionOne"
    interface: "public"
    identity_api_version: 3
