option domain-name "{{ osp_cluster_dns_zone }}";
option domain-name-servers dns.{{ osp_cluster_dns_zone }};
default-lease-time 600;
max-lease-time 1000;
authoritative;
log-facility local7;

subnet 10.20.0.0 netmask 255.255.255.0 {
        option routers                  10.20.0.1;
        option subnet-mask              255.255.255.0;
        option domain-search            "{{ osp_cluster_dns_zone }}";
        option domain-name-servers      10.20.0.5;
        range   10.20.0.220 10.20.0.240;
}

host master-0 {
   option host-name "master-0";
   hardware ethernet ba:dc:0f:fe:e0:40;
   fixed-address 10.20.0.100;
}

host master-1 {
   option host-name "master-1";
   hardware ethernet ba:dc:0f:fe:e0:41;
   fixed-address 10.20.0.101;
}

host master-2 {
   option host-name "master-2";
   hardware ethernet ba:dc:0f:fe:e0:42;
   fixed-address 10.20.0.102;
}

host worker-0 {
   option host-name "worker-0";
   hardware ethernet ba:dc:0f:fe:e0:50;
   fixed-address 10.20.0.200;
}

host worker-1 {
   option host-name "worker-1";
   hardware ethernet ba:dc:0f:fe:e0:51;
   fixed-address 10.20.0.201;
}

host worker-2 {
   option host-name "worker-2";
   hardware ethernet ba:dc:0f:fe:e0:52;
   fixed-address 10.20.0.202;
}

{# {% for host in groups['kni'] | default([]) %}
host {{ host }} {
   option host-name "{{ host }}";
   hardware ethernet {{ hostvars[host].ansible_eth1.macaddress }};
   fixed-address {{ hostvars[host]['private_ip_address'] }};
}

{% endfor %}
#}
