Module Variables ("vars"):
--------------------------------
{{ vars | to_json }}

Environment Variables ("environment"):
--------------------------------
{{ environment | to_json }}

GROUP NAMES Variables ("group_names"):
--------------------------------
{{ group_names | to_json }}

GROUPS Variables ("groups"):
--------------------------------
{{ groups | to_json }}

HOST Variables ("hostvars"):
--------------------------------
{{ hostvars | to_json }}
