$TTL 1D
@   IN SOA  dns.{{ my_ocp_domain }}   root.dns.{{ my_ocp_domain }}. (
                                       2017031330      ; serial
                                       1D              ; refresh
                                       1H              ; retry
                                       1W              ; expire
                                       3H )            ; minimum

$ORIGIN         {{ my_ocp_domain }}.
{{ my_ocp_domain }}.            IN      NS      dns.{{ my_ocp_domain }}.
dns                     IN      A       10.20.0.5

*.apps.kni1		IN	A	10.20.0.112
ns1.kni1		IN	A	10.20.0.111
api.kni1		IN	A	10.20.0.110
api-int.kni1		IN	A	10.20.0.110

master-0.kni1	IN	A	10.20.0.100
master-1.kni1	IN	A	10.20.0.101
master-2.kni1	IN	A	10.20.0.102
worker-0.kni1	IN	A	10.20.0.200
worker-1.kni1	IN	A	10.20.0.201
worker-2.kni1	IN	A	10.20.0.202
provision	IN	A	10.20.0.5
