[rhel-8-server-rpms]
name=Red Hat Enterprise Linux 8
baseurl={{own_repo_path}}/rhel-8-for-x86_64-baseos-rpms/
enabled=1
gpgcheck=0

[rhel-8-appstream-rpms]
name=Red Hat Enterprise Linux 8 Appstream
baseurl={{own_repo_path}}/rhel-8-for-x86_64-appstream-rpms
enabled=1
gpgcheck=0

[ansibe-2-rpms]
name=Red Hat Ansible 2 for RHEL 8
baseurl={{own_repo_path}}/ansible-2-for-rhel-8-x86_64-rpms
enabled=1
gpgcheck=0

[osp15-rpms]
name=Red Hat OpenStack 15 for RHEL 8
baseurl={{own_repo_path}}/openstack-15-for-rhel-8-x86_64-rpms
enabled=1
gpgcheck=0

[osp15-tools-rpms]
name=Red Hat OpenStack 15 Tools for RHEL 8
baseurl={{own_repo_path}}/openstack-15-tools-for-rhel-8-x86_64-rpms
enabled=1
gpgcheck=0

[epel]
name=Extra Packages for Enterprise Linux 8 - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/8/$basearch
mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=epel-8&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
