[rhel-8-server-rpms]
name=Red Hat Enterprise Linux 8
baseurl={{own_repo_path}}/baseos/kickstart
enabled=1
gpgcheck=0

[rhel-8-appstream-rpms]
name=Red Hat Enterprise Linux 8 Appstream
baseurl={{own_repo_path}}/appstream/kickstart
enabled=1
gpgcheck=0

[epel]
name=Extra Packages for Enterprise Linux 8 - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/8/$basearch
mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=epel-8&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
