#!/bin/bash

{% if my_auto_install %}
sh 02_services.sh
sleep 5
sh 03_build-bridges.sh
sh 04_virsh-default.sh
sh 05_firewalld.sh
sh 06_prepare-node.sh
sh 07_rhcos-refresh.sh
sh 08_grabber.sh
sh 09_deploy.sh
{% else %}
echo "Auto install disabled, skipping ..."
{% endif %}
