---
apiVersion: hypershift.openshift.io/v1beta1
kind: HostedCluster
metadata:
  name: {{ ocp4_workload_deploy_hosted_cluster_name }}
  namespace: local-cluster
spec:
  configuration:
{% if r_ingresscontroller_cert.resources[0].data['tls.crt'] is defined %}
    apiServer:
      servingCerts:
        namedCertificates:
        - servingCertificate:
            name: oauth-{{ guid }}
{% endif %}
{% if ocp4_workload_deploy_hosted_cluster_authentication | default('none') == "htpasswd" %}
    oauth:
      identityProviders:
      - name: democreds
        type: HTPasswd
        htpasswd:
          fileData:
            name: htpasswd-{{ guid }}
        mappingMethod: claim
      templates:
        error:
          name: ""
        login:
          name: ""
        providerSelection:
          name: ""
      tokenConfig: {}
{% endif %}
