---
apiVersion: hypershift.openshift.io/v1beta1
kind: HostedCluster
metadata:
  name: {{ ocp4_workload_deploy_hosted_cluster_name }}
  namespace: local-cluster
  annotations:
    cluster.open-cluster-management.io/hypershiftdeployment: local-cluster/{{ ocp4_workload_deploy_hosted_cluster_name }}
    cluster.open-cluster-management.io/managedcluster-name: {{ ocp4_workload_deploy_hosted_cluster_name }}
spec:
  configuration:
    oauth:
      identityProviders:
      - htpasswd:
          fileData:
            name: htpasswd-{{ guid }}
        mappingMethod: claim
        name: htpasswd
        type: HTPasswd
