{{ ocp4_workload_deploy_hosted_cluster_admin_user }}:{{ _ocp4_workload_deploy_hosted_cluster_admin_password_hash }}
{% for i in range(1, 1 + ocp4_workload_deploy_hosted_cluster_user_count | int) %}
{{ ocp4_workload_deploy_hosted_cluster_user_base }}{{ i }}:{{ _ocp4_workload_deploy_hosted_cluster_user_password_hash }}
{% endfor %}
