---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ ocp4_workload_deploy_hosted_cluster_name }}
  annotations:
    import.open-cluster-management.io/hosting-cluster-name: local-cluster
    import.open-cluster-management.io/klusterlet-deploy-mode: Hosted
    open-cluster-management/created-via: AgnosticD
  labels:
    name: {{ ocp4_workload_deploy_hosted_cluster_name }}
    cloud: auto-detect
    cluster.open-cluster-management.io/clusterset: default
    vendor: OpenShift
{% if ocp4_workload_deploy_hosted_cluster_labels | default("") | length > 0 %}
    {{ ocp4_workload_deploy_hosted_cluster_labels | to_nice_yaml | indent(4) }}
{% endif %}
spec:
  hubAcceptsClient: true
  leaseDurationSeconds: 60
