---
apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ ocp4_workload_deploy_hosted_cluster_name }}
  annotations:
    import.open-cluster-management.io/hosting-cluster-name: local-cluster
    import.open-cluster-management.io/klusterlet-deploy-mode: Hosted
    open-cluster-management/created-via: AgnosticD
  labels:
    cloud: auto-detect
    cluster.open-cluster-management.io/clusterset: default
    name: {{ ocp4_workload_deploy_hosted_cluster_name }}
    vendor: OpenShift
spec:
  hubAcceptsClient: true
  leaseDurationSeconds: 60
