apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_platform_engineering_workshop_orchestrator_application_name }}
  namespace: {{ ocp4_workload_platform_engineering_workshop_orchestrator_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    # the orchestrator dependencies are deployed to the same namespace as the Red Hat Developer Hub
    # this is due to changes in RHDH 1.8 that deploy orchestrator in the same namespace as the Red Hat Developer Hub
    # it can be in a separate namespace, but let's keep it simple for now
    namespace: {{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated: {}
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 10
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_platform_engineering_workshop_orchestrator_gitops_repo }}
    targetRevision: {{ ocp4_workload_platform_engineering_workshop_orchestrator_gitops_repo_tag }}
    path: {{ ocp4_workload_platform_engineering_workshop_orchestrator_gitops_repo_path }}
    helm:
      valuesObject:
        orchestrator:
          openshift:
            token: {{ ocp4_workload_platform_engineering_workshop_rhdh_ocp_default_sa_token }}
            url: {{ r_openshift_api_server }}
          backstage:
            backend:
              token: {{ _ocp4_workload_platform_engineering_workshop_rhdh_backend_token }}
              url: https://backstage-{{ ocp4_workload_platform_engineering_workshop_rhdh_namespace }}.{{ r_openshift_subdomain }}
          gitlab:
            url: https://{{ ocp4_workload_platform_engineering_workshop_gitlab_config_host }}
            token: {{ _ocp4_workload_platform_engineering_workshop_gitlab_root_token }}
