apiVersion: v1
data:
  config.yaml: {{ clair_config.stdout }}
  security_scanner.pem: {{ _quay_clair_security_scanner_pem }}
kind: Secret
metadata:
  name: clair-enterprise-config-secret
  namespace: "{{ _quay_project }}"
type: Opaque
