clair:
  database:
    type: pgsql
    options:
      source: postgresql://{{ _quay_clair_postgres_user }}:{{ _quay_clair_postgres_password }}@quay-postgres.{{ _quay_project }}.svc.cluster.local/{{ _quay_clair_postgres_database }}?sslmode=disable
      cachesize: 16384
  api:
    healthport: 6061
    port: 6062
    timeout: 900s
    paginationkey: "{{ _quay_clair_paginationkey }}"
  updater:
    interval: 6h
    notifier:
      attempts: 3
      renotifyinterval: 1h
      http:
        endpoint: https://{{ _quay_route_location.resources.0.spec.host }}/secscan/notify
        proxy: http://localhost:6063
jwtproxy:
  signer_proxy:
    enabled: true
    listen_addr: :6063
    ca_key_file: /certificates/mitm.key
    ca_crt_file: /certificates/mitm.crt
    signer:
      issuer: security_scanner
      expiration_time: 5m
      max_skew: 1m
      nonce_length: 32
      private_key:
        type: preshared
        options:
          key_id: {{ _quay_clair_key_id }}
          private_key_path: /clair/config/security_scanner.pem
  verifier_proxies:
  - enabled: true
    listen_addr: :6060
    verifier:
      audience: http://quay-clair.{{ _quay_project }}.svc.cluster.local:6060
      upstream: http://localhost:6062
      key_server:
        type: keyregistry
        options:
          registry: https://{{ _quay_route_location.resources.0.spec.host }}/keys/

