apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: quay
  namespace: "{{ _quay_project }}"
  labels:
    quay-component: app
spec:
  port:
    targetPort: http
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: quay
    weight: 100
  wildcardPolicy: None
