apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: quay-config
  namespace: "{{ _quay_project }}"
spec:
  port:
    targetPort: https
  tls:
    insecureEdgeTerminationPolicy: None
    termination: passthrough
  to:
    kind: Service
    name: quay
    weight: 100
  wildcardPolicy: None
