apiVersion: v1
kind: Service
metadata:
  name: quay
  namespace: "{{ _quay_project }}"
  labels:
    quay-component: app
spec:
  ports:
  - port: 8443
    protocol: TCP
    targetPort: 8443
    name: https
  - port: 8080
    protocol: TCP
    targetPort: 8080
    name: http
  selector:
    quay-component: app
  sessionAffinity: None
  type: ClusterIP
