apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ''
    openshift.io/display-name: ''
    openshift.io/requester: '{{ ocp_username }}'
  labels:
    workload: ocp4-workload-pam-case-mgmt-exp-elt
    guid: '{{ guid }}'
  name: '{{ ocp4_workload_pam_case_mgmt_exp_elt_project }}'
spec:
  finalizers:
    - kubernetes