---

kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_pvc }}
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: {{ ocp4_workload_pam_case_mgmt_exp_elt_pvc_capacity }}