---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
 name: {{ mssql_app_deployment_name }}
 namespace: {{ mssql_namespace }}
spec:   
 replicas: 1
 template:
   metadata:
     labels:
       app: {{ mssql_app_name }}-app
   spec:
     terminationGracePeriodSeconds: 10
     serviceAccountName: {{ mssql_namespace }}-sa
     containers:
     - name: {{ mssql_app_name }}-app
       image: {{ mssql_app_image }}
       imagePullPolicy: Always
       ports:
       - containerPort: 5000
       securityContext:
         privileged: true
       env:
       - name: ConnString
         value: "Server={{ mssql_service_name }}.{{ mssql_namespace }}.svc.cluster.local;Database=ProductCatalog;User ID=WebLogin; password=SQLPass1234!"