---
apiVersion: v1
kind: Service
metadata:
 name: {{ mssql_app_service_name }}
 namespace: {{ mssql_namespace }}
spec:
 selector:
   app: {{ mssql_app_service_selector }}
 ports:
   - name: "tcp"
     protocol: TCP
     port: 5000
     targetPort: 5000