---
apiVersion: batch/v1
kind: Job
metadata:
  name: tackle-setup
  namespace: {{ ocp4_workload_mta6_namespace_base }}
  labels:
    app.kubernetes.io/name: tackle
spec:
  backoffLimit: 6
  completions: 1
  parallelism: 1
  selector:
    matchLabels:
      job-name: tackle-setup
  suspend: false
  template:
    metadata:
      labels:
        job-name: tackle-setup
    spec:
      containers:
      - name: tackle-setup
        image: "{{ ocp4_workload_mta6_seed_image }}:{{ ocp4_workload_mta6_seed_tag }}"
        imagePullPolicy: Always
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        env:
        - name: TACKLE2_SVC
          value: "{{ ocp4_workload_mta6_tackle_setup_svc | default('mta-ui') }}"
        - name: TACKLE2_USER
          value: "{{ ocp4_workload_mta6_tackle_setup_user }}"
        - name: TACKLE2_PASSWORD
          value: "{{ ocp4_workload_mta6_tackle_setup_password }}"
      restartPolicy: Never
