---
ansible-navigator:
  ansible:
    inventory:
      entries:
      - /home/{{ student_name }}/lab_inventory/hosts

  execution-environment:
    image: {{ workshop_ee_image }}:{{ workshop_ee_image_version }}
    enabled: true
    container-engine: podman
    pull:
      policy: missing
    volume-mounts:
    - src: "/etc/ansible/"
      dest: "/etc/ansible/"