---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ ocp4_workload_ama_demo_app_services_shared_bookbag_applicationset_name }}
  namespace: {{ ocp4_workload_ama_demo_app_services_shared_bookbag_applicationset_namespace }}
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_ama_demo_app_services_shared_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_ama_demo_app_services_shared_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ ocp4_workload_ama_demo_app_services_shared_bookbag_application_name }}-{% raw %}{{ user }}{% endraw %}"
      namespace: {{ ocp4_workload_ama_demo_app_services_shared_bookbag_applicationset_namespace }}
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ ocp4_workload_ama_demo_app_services_shared_bookbag_namespace_prefix }}{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_ama_demo_app_services_shared_bookbag_application_repo }}
        targetRevision: {{ ocp4_workload_ama_demo_app_services_shared_bookbag_application_repo_tag }}
        path: {{ ocp4_workload_ama_demo_app_services_shared_bookbag_application_repo_path }}
        helm:
          values: |
            bookbagVariables: >-
              {"user": "{% raw %}{{ user }}{% endraw %}", "user_password": "{{ ocp4_workload_authentication_htpasswd_user_password }}",
              "openshift_cluster_console": "https://{{ r_console_route.resources[0].spec.host }}",
              "globex_ui_url": "https://globex-ui-{{ ocp4_workload_ama_demo_app_services_shared_namespace_prefix }}{% raw %}{{ user }}{% endraw %}.{{ r_openshift_subdomain }}",
              "activity_tracking_simulator_url": "https://activity-tracking-simulator-{{ ocp4_workload_ama_demo_app_services_shared_namespace_prefix }}{% raw %}{{ user }}{% endraw %}.{{ r_openshift_subdomain }}",
              "catalog_service_url": "https://catalog-{{ ocp4_workload_ama_demo_app_services_shared_namespace_prefix }}{% raw %}{{ user }}{% endraw %}.{{ r_openshift_subdomain }}"}
