{% for __user in _ocp4_workload_ama_demo_app_services_shared_users %}
{% for __namespace in _ocp4_workload_ama_demo_app_services_bookbag_shared_namespaces %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: '{{ __namespace | replace("user",__user) }}'

{% endfor %}
{% endfor %}
