kind: OAuthClient
apiVersion: oauth.openshift.io/v1
metadata:
 name: {{ ocp4_workload_trilio_backup_restore_vms_trilio_client_id }}
secret: {{ ocp4_workload_trilio_backup_restore_vms_trilio_client_secret }}
redirectURIs:
 - "https://trilio-system.{{ ocp4_workload_trilio_backup_restore_vms_apps_domain }}/dex/callback"
grantMethod: prompt