apiVersion: console.openshift.io/v1
kind: ConsolePlugin
metadata:
  name: tvk-console-plugin
  labels:
    app: tvk-console-plugin
    app.kubernetes.io/instance: tvk-console-plugin-trilio-system
    app.kubernetes.io/name: tvk-console-plugin
    app.kubernetes.io/part-of: tvk-console-plugin
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: tvk-console-plugin-trilio-system
    meta.helm.sh/release-namespace: {{ ocp4_workload_trilio_backup_restore_vms_namespace }}
spec:
  backend:
    service:
      basePath: /
      name: tvk-console-plugin
      namespace: trilio-system
      port: 9443
    type: Service
  displayName: tvk-console-plugin Plugin
