---
apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: rhsso-openshift
    app.kubernetes.io/instance: rhsso-openshift
    app.kubernetes.io/name: rhsso-openshift
  name: trilio
spec:
  client:
    clientAuthenticatorType: client-secret
    redirectUris:
      - '*'
    serviceAccountsEnabled: true
    clientId: trilio
    defaultClientScopes:
    - profile
    - email
    - roles
    - acr
    - web-origins
    implicitFlowEnabled: false
    publicClient: false
    standardFlowEnabled: true
    directAccessGrantsEnabled: true
  realmSelector:
    matchLabels:
      app: rhsso-openshift
      app.kubernetes.io/instance: rhsso-openshift
      app.kubernetes.io/name: rhsso-openshift
