kind: Deployment
apiVersion: apps/v1
metadata:
  name: tvk-console-plugin
  labels:
    app: tvk-console-plugin
    app.kubernetes.io/instance: tvk-console-plugin-trilio-system
    app.kubernetes.io/name: tvk-console-plugin
    app.kubernetes.io/part-of: tvk-console-plugin
    app.openshift.io/runtime-namespace: trilio-system
    app.kubernetes.io/managed-by: Helm
  annotations:
    meta.helm.sh/release-name: tvk-console-plugin-trilio-system
    meta.helm.sh/release-namespace: {{ ocp4_workload_trilio_backup_restore_vms_namespace }}
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tvk-console-plugin
      app.kubernetes.io/instance: tvk-console-plugin-trilio-system
      app.kubernetes.io/name: tvk-console-plugin
      app.kubernetes.io/part-of: tvk-console-plugin
  template:
    metadata:
      labels:
        app: tvk-console-plugin
        app.kubernetes.io/instance: tvk-console-plugin-trilio-system
        app.kubernetes.io/name: tvk-console-plugin
        app.kubernetes.io/part-of: tvk-console-plugin
    spec:
      volumes:
        - name: tvk-console-plugin-cert
          secret:
            secretName: tvk-console-plugin-cert
            defaultMode: 420
        - name: nginx-conf
          configMap:
            name: tvk-console-plugin
            defaultMode: 420
      containers:
        - resources:
            requests:
              cpu: 10m
              memory: 50Mi
          terminationMessagePath: /dev/termination-log
          name: tvk-console-plugin
          securityContext:
            capabilities:
              drop:
                - ALL
            allowPrivilegeEscalation: false
          ports:
            - containerPort: 9443
              protocol: TCP
          imagePullPolicy: Always
          volumeMounts:
            - name: tvk-console-plugin-cert
              readOnly: true
              mountPath: /var/cert
            - name: nginx-conf
              readOnly: true
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
          terminationMessagePolicy: File
          image: 'eu.gcr.io/triliovault/tvk-console-plugin:v3.0.2'
      restartPolicy: Always
      dnsPolicy: ClusterFirst
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      schedulerName: default-scheduler
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 25%
