kind: Secret
apiVersion: v1
metadata:
  name: minio-s3-login
  namespace: {{ ocp4_workload_trilio_backup_restore_vms_namespace }}
stringData:
  accessKey: {{ ocp4_workload_trilio_backup_restore_vms_s3_accessKey }}
  secretKey: {{ ocp4_workload_trilio_backup_restore_vms_s3_secretKey }}
type: Opaque
