apiVersion: triliovault.trilio.io/v1
kind: TrilioVaultManager
metadata:
  name: triliovault-manager
  namespace: {{ ocp4_workload_trilio_backup_restore_vms_namespace }}
spec:
  dataJobResources:
    requests:
      memory: 800Mi
      cpu: 100m
  metadataJobResources:
    requests:
      memory: 10Mi
      cpu: 10m
  componentConfiguration:
    ingress-controller:
      enabled: false
  applicationScope: Cluster
  tvkInstanceName: tvk-instance
  logLevel: Info
