kind: Secret
apiVersion: v1
metadata:
  name: triliovault-dex
  namespace: {{ ocp4_workload_trilio_backup_restore_vms_namespace }}
  labels:
    triliovault.trilio.io/secret: triliovault-dex
stringData:
  TVK_DEX_CONFIG: |
    connectors:
    - id: openshift
      name: Openshift
      type: openshift
      config:
        issuer: {{ ocp4_workload_trilio_backup_restore_vms_api_endpoint }}
        clientID: {{ ocp4_workload_trilio_backup_restore_vms_trilio_client_id }}
        clientSecret: {{ ocp4_workload_trilio_backup_restore_vms_trilio_client_secret }}
        redirectURI: https://trilio-system.{{ ocp4_workload_trilio_backup_restore_vms_apps_domain }}/dex/callback
        insecureCA: true
type: Opaque
