[hanas]
hana-{{ guid }}

[s4hanas]
s4hana-{{ guid }}


[hana:children]
hanas

[s4hana:children]
s4hanas

[sap:children]
hanas
s4hanas

[sap:vars]
timeout=60
ansible_become=yes
ansible_user={{remote_user}}
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
sap_preconfigure_modify_etc_hosts=true
sap_domain=automation.local
