---
apiVersion: v1
kind: Namespace
metadata:
  name: microshift-demo
  annotations:
    openshift.io/description: "Microshift Demo RHACM Application"
    openshift.io/display-name: "Microshift Demo RHACM Application"
---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: microshift-demo
  namespace: microshift-demo
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  descriptor: {}
  selector:
    matchExpressions:
      - key: app
        operator: In
        values: 
          - microshift-demo
---
apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  annotations:
    apps.open-cluster-management.io/reconcile-rate: medium
  name: microshift
  namespace: microshift-demo
spec:
  type: HelmRepo
  pathname: {{ ocp4_workload_microshift_app_repo }}
---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  labels:
    app: microshift-demo
  name: microshift-demo
  namespace: microshift-demo
spec:
  channel: microshift-demo/microshift
  name: hello-microshift
  packageOverrides:
  - packageName: hello-microshift
    packageAlias: hello-microshift
    packageOverrides:
    - path: spec
      value:
        namespace: {{ ocp4_workload_microshift_app_namespace }}
        image: {{ ocp4_workload_microshift_app_image }}
        host: ingress-{{ ocp4_workload_microshift_vm_namespace }}.{{ _ocp4_workload_microshift_wildcard_domain }}
  placement:
    placementRef:
      kind: PlacementRule
      name: microshift-demo
---
apiVersion: apps.open-cluster-management.io/v1
kind: PlacementRule
metadata:
  labels:
    app: microshift-demo
  name: microshift-demo
  namespace: microshift-demo
spec:
  clusterSelector:
    matchLabels:
      'type': 'MicroShift'
