apiVersion: v1
kind: Service
metadata:
  name: goof-mongo
  namespace: user{{ item }}
spec:
  ports:
  - protocol: TCP
    port: 27017
    targetPort: 27017
    name: "mongo"
  selector:
    app: goof
    tier: backend