apiVersion: v1
data:
  dockercfg.json: e30=
  integrationId: {{ ocp4_workload_snyk_integrationid }}
kind: Secret
metadata:
  creationTimestamp: null
  name: snyk-monitor
  namespace: {{ ocp4_workload_snyk_project }}