apiVersion: charts.snyk.io/v1alpha1
kind: SnykMonitor
metadata:
  name: snyk-monitor
  namespace: {{ ocp4_workload_snyk_project }}
spec:
  clusterName: {{ ansible_facts.nodename }}
  image:
    pullPolicy: Always
    repository: {{ ocp4_workload_snyk_monitor_image }}
    tag: {{ ocp4_workload_snyk_monitor_tag }}
  initContainerImage:
    repository: registry.access.redhat.com/ubi8-minimal
    tag: latest
  integrationApi: ''
  monitorSecrets: snyk-monitor
  pvc:
    enabled: false
    name: snyk-monitor
  scope: Cluster
  temporaryStorageSize: 50Gi