apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: admin
  namespace: 'user{{ item }}'
subjects:
  - kind: User
    name: 'user{{ item }}'
  - kind: User
    name: 'system:serviceaccount:user{{ item }}:snyk-monitor'
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io