apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: opendatahub-operator
  namespace: "{{ namespace }}"
spec:
  channel: legacy
  installPlanApproval: Automatic
  name: opendatahub-operator
{% if ocp4_workload_odh_use_catalog_snapshot | default(False) | bool %}
  source: "{{ ocp4_workload_odh_snapshot_name }}"
  sourceNamespace: "{{ namespace }}"
{% else %}
  source: opendatahub-operator
  sourceNamespace: community-operators
{% endif %}
{% if ocp4_workload_odh_starting_csv | d("") | length > 0 %}
  startingCSV: "{{ ocp4_workload_odh_starting_csv }}"
{% endif %}
