apiVersion: image.openshift.io/v1
kind: ImageStream
metadata:
  # This a hack until we can include additional notebooks in the singleuser profile
  name: "{{ workshop_jupyter_notebook_imagestream_name }}"
  namespace: "{{ namespace }}"
spec:
  lookupPolicy:
    local: false
  tags:
    - from:
        kind: DockerImage
        name: "{{ workshop_jupyter_notebook_imagestream_image }}"
      name: "{{ workshop_jupyter_notebook_imagestream_tag }}"
      referencePolicy:
        type: Source
