apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: minio
  namespace: "{{ _minio_project }}"
spec:
#  host: minio-gpte-minio.apps.cluster-3afa.sandbox105.opentlc.com
  port:
    targetPort: 9000
  to:
    kind: Service
    name: minio
    weight: 100
  wildcardPolicy: None