apiVersion: v1
kind: Secret
metadata:
  name: minio-keys
  namespace: "{{ _minio_project }}"
stringData:
  minio_access_key: "{{ _minio_access_key }}"
  minio_secret_key: "{{ _minio_secret_key }}"
type: Opaque