apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: "{{ _minio_project }}"
spec:
  type: LoadBalancer
  ports:
    - port: {{ _minio_port }}
      targetPort: 9000
      protocol: TCP
  selector:
    app: minio