apiVersion: config.openshift.io/v1
kind: Project
metadata:
  name: cluster
  namespace: openshift-config
spec:
  projectRequestMessage: "{{ ocp4_workload_project_request_template_project_request_message }}"
  projectRequestTemplate:
    name: project-request