---
apiVersion: v1
items:
- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    annotations:
      olm.providedAPIs: CertManager.v1alpha1.operator.openshift.io,Certificate.v1.cert-manager.io,CertificateRequest.v1.cert-manager.io,Challenge.v1.acme.cert-manager.io,ClusterIssuer.v1.cert-manager.io,Issuer.v1.cert-manager.io,Order.v1.acme.cert-manager.io
    name: cert-manager-operator-gkptd
    namespace: cert-manager-operator
  spec:
    targetNamespaces:
    - cert-manager-operator
    upgradeStrategy: Default
    namespaces:
    - cert-manager-operator
kind: List
metadata:
  resourceVersion: ""
