# -*- mode: yaml -*-
# vim:ts=2:et:sw=2:ai:si:syntax=yaml
#
# yamllint configuration directives
# Project Homepage: https://github.com/adrienverge/yamllint
#
# Overriding rules in files:
# http://yamllint.readthedocs.io/en/latest/disable_with_comments.html
---
extends: default

# Rules documentation: http://yamllint.readthedocs.io/en/latest/rules.html
rules:

  braces:
    # Defaults
    # min-spaces-inside: 0
    # max-spaces-inside: 0

    # Keeping 0 min-spaces to not error on empty collection definitions
    min-spaces-inside: 0
    # Allowing one space inside braces to improve code readability
    max-spaces-inside: 1

  brackets:
    # Defaults
    # min-spaces-inside: 0
    # max-spaces-inside: 0

    # Keeping 0 min-spaces to not error on empty collection definitions
    min-spaces-inside: 0
    # Allowing one space inside braces to improve code readability
    max-spaces-inside: 1

  comments:
    # Defaults
    # level: warning
    # require-starting-space: true
    # min-spaces-from-content: 2

    # Disabling to allow for code comment blocks and #!/usr/bin/ansible-playbook
    require-starting-space: false

    # Allow in-line comments to be one space from content
    min-spaces-from-content: 1

  # Allow no space after comment marker to distinguish example variables from
  # descriptive comments.
  comments-indentation: disable

  # Do not require document start marker
  document-start: false

  indentation:
    # Defaults
    # spaces: consistent
    # indent-sequences: true
    # check-multi-line-strings: false

    # Require 2 space indentation
    spaces: 2

    # Require consistent indentation within a file, either indented or not
    indent-sequences: consistent

  line-length:
    # Defaults
    # max: 80
    # allow-non-breakable-words: true
    # allow-non-breakable-inline-mappings: false

    # Lines should generally be kept to under 150 characters. Comments in
    # code can change this setting for individual files.
    max: 150

    # Allow long lines in the case where reasonable line breaks are not
    # possible, such as URLs or encoded strings.
    allow-non-breakable-inline-mappings: false

  # Do not require new line at end of files
  new-line-at-end-of-file: false
