astroid==2.3.3
attrs==19.3.0
coverage==5.0.3
entrypoints==0.3
flake8==3.7.9
flake8-mutable==1.2.0
flake8-print==3.1.4
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
mock==4.0.1
more-itertools==8.2.0
packaging==20.3
pathspec==0.7.0
pluggy==0.13.1
py==1.8.1
pycodestyle==2.5.0
pyflakes==2.1.1
pylint==2.4.4
pyparsing==2.4.6
pytest==5.3.5
pytest-cov==2.8.1
PyYAML==5.3
setuptools-lint==0.6.0
six==1.14.0
wcwidth==0.1.8
wrapt==1.11.2
yamllint==1.20.0
