ansible==2.9.15
appdirs==1.4.4
astroid==2.4.2
attrs==20.3.0
cffi==1.14.4
cryptography==3.3.2
distlib==0.3.1
filelock==3.0.12
flake8==3.8.4
iniconfig==1.1.1
isort==5.6.4
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.7
pathspec==0.8.1
pluggy==0.13.1
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
PyYAML==5.3.1
setuptools-lint==0.6.0
six==1.15.0
toml==0.10.2
tox==3.20.1
virtualenv==20.2.2
wrapt==1.12.1
yamllint==1.25.0
