---
apiVersion: v1
kind: LimitRange
metadata:
  name: {{ ocp_project }}-core-resource-limits
spec:
  limits:
    - default:
        memory: '{{ limitrange_limit_memory }}'
        cpu: '{{ limitrange_limit_cpu }}'
      defaultRequest:
        memory: '{{ limitrange_request_memory }}'
        cpu: '{{ limitrange_request_cpu }}' 
      type: Container
