apiVersion: objectbucket.io/v1alpha1
kind: ObjectBucketClaim
metadata:
  name: observer-bucket
  namespace:  "{{ ocp4_workload_acm_multicluster_observability_namespace }}"
spec:
  additionalConfig:
    bucketclass: noobaa-default-bucket-class
  generateBucketName: observer-bucket
  objectBucketName: obc-open-cluster-management-observability-observer-bucket
  storageClassName: openshift-storage.noobaa.io
