apiVersion: v1
kind: Secret
metadata:
  name: thanos-object-storage
  namespace:  "{{ ocp4_workload_acm_multicluster_observability_namespace }}"
type: Opaque
stringData:
  thanos.yaml: |
    type: s3
    config:
      bucket: {{ ocp4_workload_acm_multicluster_observability_bucket }}
      endpoint: {{ ocp4_workload_acm_multicluster_observability_endpoint }}
      insecure: false
      access_key: {{ ocp4_workload_acm_multicluster_observability_access_key }}
      secret_key: {{ ocp4_workload_acm_multicluster_observability_secret_key }}
      http_config:
        insecure_skip_verify: true