apiVersion: v1
data:
  profile: |
    env:
      JUPYTER_PRELOAD_REPOS: "{{ ocp4_workload_ai_ml_workflows_demo_preload_repos }}"
    gpu: '0'
    last_selected_image: ml-workflows-notebook:latest
    last_selected_size: None
kind: ConfigMap
metadata:
  labels:
    app: jupyterhub
  name: jupyterhub-spark-operator-configmap
  namespace: {{ namespace }}
