apiVersion: v1
kind: Secret
metadata:
  name: minio-credentials
  namespace: {{ ocp4_workload_integreatly_minio.namespace }}
stringData:
  accesskey: "{{ ocp4_workload_integreatly_minio.credential_access_key }}"
  secretkey: "{{ ocp4_workload_integreatly_minio.credential_secret_key }}"
type: Opaque