apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: sap-apimanager
  namespace: 3scale
spec:
  wildcardDomain: apps.cluster-{{ guid }}.{{ osp_cluster_dns_zone }}            
  resourceRequirementsEnabled: true