apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: community-operators-snapshot-christina
  namespace: openshift-marketplace
spec:
 sourceType: grpc
 image: quay.io/gpte-devops-automation/olm_snapshot_community_catalog:v4.6_2021_03_09
 displayName: "Red Hat Operators Snapshot (2021)"
 publisher: "TMM"