kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: sap-side-by-side-fe
  namespace: side-by-side
  labels:
    app: sap-side-by-side-fe
spec:
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
    activeDeadlineSeconds: 21600
  triggers:
    - type: ConfigChange
  replicas: 1
  revisionHistoryLimit: 10
  test: false
  selector:
    app: sap-side-by-side-fe
    deploymentconfig: sap-side-by-side-fe
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: sap-side-by-side-fe
        deploymentconfig: sap-side-by-side-fe
    spec:
      volumes:
        - name: backend-config
          configMap:
            name: backend-environment
            defaultMode: 420
      containers:
        - name: sap-side-by-side-fe
          image: quay.io/redhat-sap-cop/sap-side-by-side-fe:{{ fe_container_tag }}
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8443
              protocol: TCP
          resources: {}
          volumeMounts:
            - name: backend-config
              mountPath: /opt/app-root/src/assets/config
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler