kind: DeploymentConfig
apiVersion: apps.openshift.io/v1
metadata:
  name: sap-side-by-side-be
  namespace: side-by-side
  labels:
    app: sap-side-by-side-be
spec:
  strategy:
    type: Rolling
    rollingParams:
      updatePeriodSeconds: 1
      intervalSeconds: 1
      timeoutSeconds: 600
      maxUnavailable: 25%
      maxSurge: 25%
    resources: {}
    activeDeadlineSeconds: 21600
  triggers:
    - type: ConfigChange
  replicas: 1
  revisionHistoryLimit: 10
  test: false
  selector:
    app: sap-side-by-side-be
    deploymentconfig: sap-side-by-side-be
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: sap-side-by-side-be
        deploymentconfig: sap-side-by-side-be
    spec:
      containers:
        - name: sap-side-by-side-be
          image: 'quay.io/redhat-sap-cop/sap-side-by-side-be:{{ be_container_tag }}'
          ports:
            - containerPort: 8080
              protocol: TCP
            - containerPort: 8778
              protocol: TCP
            - containerPort: 9779
              protocol: TCP
          env:
            - name: SWAGGER_HOST
              value: >-
                sap-side-by-side-be.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}
            - name: S4HANA_HOST
              value: {{ s4hana_host }}
            - name: S4HANA_PORT
              value: '{{ s4hana_port }}'
            - name: S4HANA_PORTJCO
              value: '{{ s4hana_portjco }}'
            - name: S4HANA_USER
              value: {{ s4hana_user }}
            - name: S4HANA_PASSWORD
              value: {{ s4hana_password }}
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: Always
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
      dnsPolicy: ClusterFirst
      securityContext: {}
      schedulerName: default-scheduler
