apiVersion: syndesis.io/v1beta2
kind: Syndesis
metadata:
  annotations:
    syndesis.io/applicationUrl: 'https://syndesis-fuse-online.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}'
  name: sap
  namespace: fuse-online
spec:
  addons:
    jaeger:
      enabled: true
    knative: {}
    ops: {}
    publicApi: {}
    todo: {}
  backup: {}
  components:
    database:
      resources:
        limit: {}
        request: {}
    grafana:
      resources:
        limit: {}
        request: {}
    meta:
      resources:
        limit: {}
        request: {}
    oauth: {}
    prometheus:
      resources:
        limit: {}
        request: {}
    server:
      connectionPool: {}
      features:
        maven:
          append: false
      resources:
        limit: {}
        request: {}
    upgrade:
      resources: {}
  forceMigration: false
  infraScheduling: {}
  integrationScheduling: {}
