apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: fuse-online
  namespace: fuse-online
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: fuse-online
  source: redhat-operators
  sourceNamespace: openshift-marketplace