apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  annotations:
    olm.providedAPIs: Syndesis.v1beta1.syndesis.io
  generateName: fuse-online-
  name: fuse-online-tb9xr
  namespace: fuse-online
spec:
  targetNamespaces:
  - fuse-online