apiVersion: syndesis.io/v1beta1
kind: Syndesis
metadata:
  name: sap
  namespace: fuse-online
spec:
  addons:
    camelk: {}
    dv:
      resources: {}
    jaeger: {}
    knative: {}
    ops:
      enabled: true
    publicApi: {}
    todo: {}
  backup: {}
  components:
    database:
      resources: {}
    grafana:
      resources: {}
    meta:
      resources: {}
    oauth: {}
    prometheus:
      resources: {}
    server:
      features: {}
      resources: {}
    upgrade:
      resources: {}
  forceMigration: false