apiVersion: v1
kind: Namespace
metadata:
  name: side-by-side
  annotations:
    openshift.io/description: Agile integration with SAP
    openshift.io/display-name: Agile integration with SAP
spec: {}