kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: sap-side-by-side-fe
  namespace: side-by-side
  labels:
    app: sap-side-by-side-fe
spec:
  host: sap-side-by-side-fe.apps.cluster-{{ guid }}.{{ ocp4_base_domain }}
  to:
    kind: Service
    name: sap-side-by-side-fe
    weight: 100
  port:
    targetPort: 8080-tcp
  wildcardPolicy: None
