apiVersion: operator.knative.dev/v1alpha1
kind: KnativeServing
metadata:
  name: knative-serving
  namespace: knative-serving
  finalizers:
    - knative-serving-openshift
    - knativeservings.operator.knative.dev
spec:
  cluster-local-gateway: {}
  config:
    deployment:
      queueSidecarImage: >-
        registry.redhat.io/openshift-serverless-1/serving-queue-rhel8@sha256:b6239db9181d52c5f0fbfc5f59ac5da2a8fbdff3a57d326076d4da19d8135d07
    domain:
      apps.cluster-{{ guid }}.{{ ocp4_base_domain }}: ''
    network:
{% raw %}
      domainTemplate: '{{.Name}}-{{.Namespace}}.{{.Domain}}'
{% endraw %}
      ingress.class: kourier.ingress.networking.knative.dev
  controller-custom-certs:
    name: config-service-ca
    type: ConfigMap
  high-availability:
    replicas: 2
  knative-ingress-gateway: {}
  registry:
    override:
      imc-controller/controller: >-
        registry.redhat.io/openshift-serverless-1/eventing-in-memory-channel-controller-rhel8@sha256:37164f0d440cc131159012d0c36d72a369ef6ad466a3ec914fbde762f74a4f21
      mt-broker-filter/filter: >-
        registry.redhat.io/openshift-serverless-1/eventing-mtbroker-filter-rhel8@sha256:9ab3ce302e1ceb78f2b87a532dc43d44e7e3f1918e83fd613a1b1a30703acac8
      imc-dispatcher/dispatcher: >-
        registry.redhat.io/openshift-serverless-1/eventing-in-memory-channel-dispatcher-rhel8@sha256:d305c8590f4e69a4cab92e04a97a338198330e2a1f561049b919217123733f04
      autoscaler-hpa: >-
        registry.redhat.io/openshift-serverless-1/serving-autoscaler-hpa-rhel8@sha256:718d5e39191422bfb4b92ffb994e36e4a1d1d9e0211b8e405e7cfebc7969235d
      DISPATCHER_IMAGE: >-
        registry.redhat.io/openshift-serverless-1/eventing-in-memory-channel-dispatcher-rhel8@sha256:d305c8590f4e69a4cab92e04a97a338198330e2a1f561049b919217123733f04
      domain-mapping: >-
        registry.redhat.io/openshift-serverless-1/serving-domain-mapping-rhel8@sha256:317f4cc4e6ae4d320e54755d6e44be48f3e897600deb948b122382123041ba74
      KN_CLI_ARTIFACTS: >-
        registry.redhat.io/openshift-serverless-1/kn-cli-artifacts-rhel8@sha256:c82cbb1a1be88e472d519e0976d2f12ad80edff3f3d571d86578e59c3b4a885e
      storage-version-migration-eventing-eventing-0.19.2/migrate: >-
        registry.redhat.io/openshift-serverless-1/eventing-storage-version-migration-rhel8@sha256:df3d2f2343f019c019ee8760bb16a4c4f03314714d267d78e9d1c972a1e0bbb8
      storage-version-migration-serving-serving-0.19.0/migrate: >-
        registry.redhat.io/openshift-serverless-1/serving-storage-version-migration-rhel8@sha256:9856245f34e3be8f1f0fd58d50ec609a0b3b17d46b2e6c647f44d8f91245b42e
      pingsource-mt-adapter/dispatcher: >-
        registry.redhat.io/openshift-serverless-1/eventing-mtping-rhel8@sha256:b5ee6014921659af32d078cd8b9537891703333526640402d23f607a518baae9
      mt-broker-ingress/ingress: >-
        registry.redhat.io/openshift-serverless-1/eventing-mtbroker-ingress-rhel8@sha256:10fd330a284b99d5e9f0cb60ce080f3f1f9f2f58f5d3bc0a6332c022f528a4e7
      APISERVER_RA_IMAGE: >-
        registry.redhat.io/openshift-serverless-1/eventing-apiserver-receive-adapter-rhel8@sha256:69ff19dbe5492162261fd25009565ed7020c75bce2a35ac7a55059a7076935b3
      eventing-webhook/eventing-webhook: >-
        registry.redhat.io/openshift-serverless-1/eventing-webhook-rhel8@sha256:3433749265da0893f612d5f241972260f424647d6fe95f124807aa08cf2fc5aa
      mt-broker-controller/mt-broker-controller: >-
        registry.redhat.io/openshift-serverless-1/eventing-mtchannel-broker-rhel8@sha256:244970c6f290a4f5f36e0c3481be89e380a4c2b49a7bad3d415df75f0abf54c5
      3scale-kourier-control: >-
        registry.redhat.io/openshift-serverless-1/kourier-control-rhel8@sha256:13c3ee6a515efbdad51666dbd792fe6d4b88d09b6b537336d20f8dd52ca5c737
      queue-proxy: >-
        registry.redhat.io/openshift-serverless-1/serving-queue-rhel8@sha256:b6239db9181d52c5f0fbfc5f59ac5da2a8fbdff3a57d326076d4da19d8135d07
      eventing-controller/eventing-controller: >-
        registry.redhat.io/openshift-serverless-1/eventing-controller-rhel8@sha256:7cfeb256fc8b86b841bc04648e605192c365fcc651f066608a2f5a963688366c
      domainmapping-webhook: >-
        registry.redhat.io/openshift-serverless-1/serving-domain-mapping-webhook-rhel8@sha256:a9ca777a49e1e8f5a97995e0c6f287f136532ab7674371b34fec5edfbcc72e42
      activator: >-
        registry.redhat.io/openshift-serverless-1/serving-activator-rhel8@sha256:65b1d4fc89da6ed64ec183223270e33893c4323813503abd83d6b64a07b2b3c2
      3scale-kourier-gateway: >-
        registry.redhat.io/openshift-service-mesh/proxyv2-rhel8@sha256:51d82b560e467ec59a3b6625b04c31b86df5b4c10070a351d547cb6cf3f26591
      webhook: >-
        registry.redhat.io/openshift-serverless-1/serving-webhook-rhel8@sha256:13a2db223b3de533373598a9a31146c15bf446f80a81f50b83f8e2520d01cd5b
      autoscaler: >-
        registry.redhat.io/openshift-serverless-1/serving-autoscaler-rhel8@sha256:21e60f142b9f4d309ef1d593c46041b86d0aaad1cd5098ab06a04274dbb2b54f
      sugar-controller/controller: >-
        registry.redhat.io/openshift-serverless-1/eventing-sugar-controller-rhel8@sha256:2de03ec6f5fe3e954a1bccc82b3a9db5fe3fa88e510c96c4aad30fd76d3282d5
      controller: >-
        registry.redhat.io/openshift-serverless-1/serving-controller-rhel8@sha256:d0f0d66fda1eb0ed217d2d27387182dad15828d9e4f233093343796bf22bcfe1
  resources:
    - container: webhook
      limits:
        memory: 1Gi