kind: Service
apiVersion: v1
metadata:
  name: sap-side-by-side-fe
  namespace: side-by-side
  labels:
    app: sap-side-by-side-fe
spec:
  ports:
    - name: 8080-tcp
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: 8443-tcp
      protocol: TCP
      port: 8443
      targetPort: 8443
  selector:
    app: sap-side-by-side-fe
    deploymentconfig: sap-side-by-side-fe
  type: ClusterIP
  sessionAffinity: None
