kind: Service
apiVersion: v1
metadata:
  name: sap-side-by-side-be
  namespace: side-by-side
  labels:
    app: sap-side-by-side-be
spec:
  ports:
    - name: 8080-tcp
      protocol: TCP
      port: 8080
      targetPort: 8080
    - name: 8778-tcp
      protocol: TCP
      port: 8778
      targetPort: 8778
    - name: 9779-tcp
      protocol: TCP
      port: 9779
      targetPort: 9779
  selector:
    app: sap-side-by-side-be
    deploymentconfig: sap-side-by-side-be
  type: ClusterIP
  sessionAffinity: None
