bind-addr: {{ vscode_server_bind_addr_ip }}:{{ vscode_server_bind_addr_port }}

{% if vscode_auth_type == 'none' %}
auth: none
{% else %}
auth: password
password: "{{ vscode_user_password }}"
{% endif %}

cert: false
