apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: "ocp4-workload-camel-crw"
    openshift.io/display-name: ""
  name: "{{ _namespace }}"
spec:
  finalizers:
    - kubernetes
