apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: dns-default
  namespace: openshift-dns
spec:
  template:
    spec:
      tolerations:
{% for item in ocp4_workload_machinesets.machineset_groups %}
{% if item.taints | d("") | length > 0 %}
{% for taint in item.taints %}
      - effect: "{{ taint.effect }}"
        key: "{{ taint.key }}"
        value: "{{ taint.value }}"
{% endfor %}
{% endif %}
{% endfor %}
