apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: machine-config-daemon
  namespace: openshift-machine-config-operator
spec:
  template:
    spec:
      tolerations:
      - effect: NoSchedule
        key: node-role.kubernetes.io/master
        operator: Exists
      - effect: NoSchedule
        key: node-role.kubernetes.io/etcd
        operator: Exists
{% for item in ocp4_workload_machinesets.machineset_groups %}
{% if item.taint | d("") | length > 0 %}
      - effect: NoSchedule
        key: "{{ item.taint }}"
        value: reserved
      - effect: NoExecute
        key: "{{ item.taint }}"
        value: reserved
{% endif %}
{% endfor %}
