[GenericExample:vars]

###########################################################################
### Ansible Vars
###########################################################################
timeout=60
ansible_become=yes
ansible_ssh_user={{remote_user}}


[GenericExample:children]
towers
frontends
apps
appdbs
windows
support



[towers]
## These are the towers
{% for host in groups[('tag_' + project_tag + '_tower') | replace('-', '_') ] %}
tower{{loop.index}}.{{chomped_zone_internal_dns}} public_host_name=tower{{loop.index}}.{{ guid }}{{subdomain_base_suffix}} ssh_host={{host}}
{% endfor %}

[frontends]
## These are the frontends
{% for host in groups[('tag_' + project_tag + '_frontend') | replace('-', '_') ] %}
frontend{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

[apps]
## These are the apps
{% for host in groups[('tag_' + project_tag + '_app') | replace('-', '_') ] %}
app{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

[appdbs]
## These are the appdbs
{% for host in groups[('tag_' + project_tag + '_appdb') | replace('-', '_') ] %}
appdb{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}

[windows]
## These are the windows servers
{% for host in groups[('tag_' + project_tag + '_windows') | replace('-', '_') ] %}
windows{{loop.index}}.{{chomped_zone_internal_dns}} ssh_host={{host}}
{% endfor %}


## These are the supporthosts
[support]
{% for host in groups[('tag_' + project_tag + '_support') | replace('-', '_') ] %}
support{{loop.index}}.{{chomped_zone_internal_dns}} ssh_hose={{host}}
{% endfor %}





[windows:vars]
ansible_connection=winrm
ansible_ssh_port=5986
ansible_ssh_user=Administrator
ansible_ssh_pass=ansibletestpass123
ansible_winrm_server_cert_validation=ignore
