apiVersion: v1
kind: Secret
metadata:
  name: {{ aws_acm_secret_name }}
  namespace: {{ aws_acm_secret_namespace | default('open-cluster-management') }}
  annotations:
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: aws
type: Opaque
data:
  aws_access_key_id: {{ account_user_access_key | string | b64encode }}
  aws_secret_access_key: {{ account_user_secret_access_key | string | b64encode }}
  baseDomain: {{ ocp4_base_domain | string | b64encode }}
  pullSecret: {{ ocp4_token | string | b64encode }}
  ssh-privatekey: {{ ssh_privatekey | string | b64encode }}
  ssh-publickey: {{ ssh_publickey | string | b64encode }}
