---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ ocp4_workload_rhacm_cloud_credentials_namespace }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ ocp4_workload_rhacm_cloud_credentials_kubevirt_secret_name }}
  namespace: {{ ocp4_workload_rhacm_cloud_credentials_namespace }}
  annotations:
  labels:
    cluster.open-cluster-management.io/credentials: ""
    cluster.open-cluster-management.io/type: kubevirt
type: Opaque
data:
  pullSecret: {{ ocp4_pull_secret | to_json | b64encode }}
  ssh-publickey: |
    {{ ocp4_workload_rhacm_cloud_credentials_kubevirt_pubkey |
       string | b64encode }}
