---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: patient-portal-frontend
  namespace: aws
spec:
  to:
    kind: Service
    name: patient-portal-frontend
  port:
    targetPort: 8080
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect