---
apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: oadp-dpa
  namespace: {{ _ocp4_workload_oadp_namespace }}
spec:
  configuration:
    velero:
      featureFlags:
      - EnableCSI
      defaultPlugins:
      - csi 
      - openshift
      - aws
      - kubevirt
  backupLocations:
  - velero:
      config:
        profile: default
{% if ocp4_workload_oadp_storage == "ocs" %}        
        region: localstorage
{% else %}
        region: minio
{% endif %}
        s3Url: http://{{ _ocp4_workload_oadp_bucket_host }}
        s3ForcePathStyle: "true"
      provider: aws
      credential:
        name: cloud-credentials
        key: cloud
      default: true
      objectStorage:
        bucket: {{ _ocp4_workload_oadp_bucket_name }}
        prefix: velero
