{% for user_number in range(1, ocp4_workload_oadp_num_users | int + 1) %}
---
apiVersion: oadp.openshift.io/v1alpha1
kind: DataProtectionApplication
metadata:
  name: oadp-dpa
  namespace: oadp-{{ ocp4_workload_oadp_userbase }}{{ user_number }}
spec:
  configuration:
    velero:
      featureFlags:
      - EnableCSI
      defaultPlugins:
      - csi 
      - openshift
      - aws
      - kubevirt
  backupLocations:
  - velero:
      config:
        profile: default
        region: minio
        s3Url: http://{{ ocp4_workload_oadp_storage_minio_name }}.{{ ocp4_workload_oadp_storage_minio_namespace }}.svc:9000
        s3ForcePathStyle: "true"
      provider: aws
      credential:
        name: cloud-credentials
        key: cloud
      default: true
      objectStorage:
        bucket: {{ ocp4_workload_oadp_storage_minio_bucket_name_base }}{{ ocp4_workload_oadp_userbase }}{{ user_number }}
        prefix: velero
{% endfor %}
