{% for user_number in range(1, ocp4_workload_oadp_num_users | int + 1) %}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: admin
  namespace: oadp-{{ ocp4_workload_oadp_userbase }}{{ user_number }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: {{ ocp4_workload_oadp_userbase }}{{ user_number }}
{% endfor %}