---
apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: openshift-adp
stringData:
  cloud: |
    [default]
    aws_access_key_id={{ ocp4_workload_oadp_storage_minio_user }}
    aws_secret_access_key={{ ocp4_workload_oadp_storage_minio_password }}
