{% for user_number in range(1, ocp4_workload_oadp_num_users | int + 1) %}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloud-credentials
  namespace: oadp-{{ ocp4_workload_oadp_userbase }}{{ user_number }}
stringData:
  cloud: |
    [default]
    aws_access_key_id={{ ocp4_workload_oadp_storage_minio_user }}
    aws_secret_access_key={{ ocp4_workload_oadp_storage_minio_password }}
{% endfor %}
