[automationcontroller]
{% for host in groups['automationcontroller'] %}
{{ host }}
{% endfor %}

[database]
{% if groups['automationcontroller_database'] is defined %}
{{    groups['automationcontroller_database'][0] }}
{% endif %}


[automationhub]

[servicescatalog_workers]

[all:vars]
admin_password='{{ deploy_automationcontroller_admin_password }}'
ansible_become=true
ansible_become_method=sudo

{% if groups['automationcontroller_database'] is defined %}
pg_host={{ groups['automationcontroller_database'][0] }}
pg_port='5432'
{% else %}
pg_host=''
pg_port=''

{% endif %}

pg_database='awx'
pg_username='awx'
pg_password='{{ deploy_automationcontroller_admin_password }}'
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

gpgcheck='{{ deploy_automationcontroller_dnf_gpgcheck | default(1) }}'
aw_repo_url='{{ aw_repo_url | default("https://releases.ansible.com/ansible-tower/") }}'
ignore_preflight_errors=True

registry_url='registry.redhat.io'
registry_username='{{ registry_username }}'
registry_password='{{ registry_password }}'
