kind: Secret
apiVersion: v1
metadata:
  name: redhat-rhods-pagerduty
  namespace: redhat-ods-monitoring
  labels:
    hive.openshift.io/managed: 'true'
stringData:
  PAGERDUTY_KEY: {{ ocp4_workload_rhods_olm_pagerduty_key }}
type: Opaque
