kind: Secret
apiVersion: v1
metadata:
  name: addon-managed-odh-parameters
  namespace: redhat-ods-operator  
stringData:
  notification-email: {{ ocp4_workload_rhods_olm_notification_email }}
type: Opaque