kind: Secret
apiVersion: v1
metadata:
  name: redhat-rhods-smtp
  namespace: redhat-ods-monitoring  
stringData:
  host: {{ ocp4_workload_rhods_olm_smtp_host }}
  username: {{ ocp4_workload_rhods_olm_smtp_username }}
  password: {{ ocp4_workload_rhods_olm_smtp_password }}
  port: "25"
  tls: "false"
