apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: addon-managed-odh
  namespace: "{{ ocp4_workload_rhods_olm_odh_namespace }}"
spec:
  channel: beta
  name: managed-odh
  source: "{{ ocp4_workload_rhods_olm_catalogsource_name }}"
  sourceNamespace: openshift-marketplace
