codeserver:
  image: docker.io/codercom/code-server
  container_name: codeserver
  hostname: codeserver
  environment:
    - PASSWORD={{ common_password }}
  labels:
    - "traefik.enable=true"
    - "traefik.http.services.vscode.loadbalancer.server.port=8080"
    - "traefik.http.routers.vscodeentrypoints=terminalsecure"
    - "traefik.http.routers.vscode.tls.certresolver=le"
    - "traefik.http.routers.vscode.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/codeserver`)"
    - "traefik.http.routers.vscode.middlewares=terminal-stripprefix"
    - "traefik.http.routers.vscode.middlewares=vscodeheader"
    - "traefik.http.middlewares.vscode-stripprefix.stripprefix.prefixes=/codeserver"
    - "traefik.http.middlewares.vscodeheader.headers.customrequestheaders.X-Content-Type-Options=false"
