{% set _provider = (showroom_tls_provider | default(certbot_cert_manager_provider, true) | default('zerossl')) | lower %}
{% set _entrypoint = 'web' if _provider == 'none' else 'websecure' %}
codeserver:
  image: {{ showroom_codeserver_image }}:{{ showroom_codeserver_image_tag }}
  container_name: codeserver
  hostname: codeserver
  command:
      - "--auth=none"
      - "--user-data-dir=/home/coder/.local/"
  userns_mode: "auto"
  user: "{{ showroom_user_uid }}:{{ showroom_user_uid }}"
  environment:
    - DOCKER_USER={{ showroom_codeserver_container_user | default(showroom_user) }}
  volumes:
    - "{{ showroom_user_home_dir }}/.code-server/:/home/coder/.local/:z"
    - "{{ showroom_user_home_dir }}/workplace/:/home/coder/workplace/:z"

  labels:
    - "traefik.enable=true"
    - "traefik.http.services.vscode.loadbalancer.server.port=8080"
    - "traefik.http.routers.vscode.entrypoints={{ _entrypoint }}"
{% if _provider != 'none' %}
    - "traefik.http.routers.vscode.tls.certresolver={{ _provider }}"
{% endif %}
    - "traefik.http.routers.vscode.rule=Host(`{{ showroom_host }}`) && PathPrefix(`/codeserver`)"
    - "traefik.http.routers.vscode.middlewares=vscode-stripprefix"
    - "traefik.http.middlewares.vscode-stripprefix.stripprefix.prefixes=/codeserver"
