apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: my-group
  namespace: "{{ item }}"
spec:
  targetNamespaces:
  - "{{ item }}"
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: rhsso-operator
  namespace: "{{ item }}"
spec:
  channel: "{{ ocp4_workload_servicemesh_workshop_rhsso_channel }}"
  installPlanApproval: Automatic
  name: rhsso-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
