[cores]
core ansible_host=core.{{ chomped_zone_internal_dns }}

[nodes]
{% for host in groups['nodes']  %}
node{{ loop.index }} ansible_host=node{{ loop.index }}.{{ chomped_zone_internal_dns }}
{% endfor %}

[rhel8lab:children]
cores
nodes

[rhel8lab:vars]
timeout=60
ansible_become=yes
ansible_user={{remote_user}}
ansible_ssh_private_key_file="~/.ssh/{{guid}}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
