{
    "data": {
        "contentResourceURI": "https://{{ ocp4_workload_pam_case_mgmt_exp_elt_nexus_route }}/content/repositories/releases",
        "id": "releases",
        "name": "Releases",
        "provider": "maven2",
        "providerRole": "org.sonatype.nexus.proxy.repository.Repository",
        "format": "maven2",
        "repoType": "hosted",
        "exposed": true,
        "writePolicy": "ALLOW_WRITE",
        "browseable": true,
        "indexable": true,
        "notFoundCacheTTL": 1440,
        "repoPolicy": "RELEASE",
        "downloadRemoteIndexes": false,
        "defaultLocalStorageUrl": "file:/sonatype-work/storage/releases"
    }
}