---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    openshift.io/host.generated: 'true'
  name: {{ ocp4_workload_pam_case_mgmt_exp_elt_nexus_route }}
  labels:
    app: nexus
spec:
  port:
    targetPort: 8081-tcp
  tls:
    termination: edge
  to:
    kind: Service
    name: {{ ocp4_workload_pam_case_mgmt_exp_elt_nexus_service }}
    weight: 100
  wildcardPolicy: None

