{
    "data": {
        "contentResourceURI": "https://{{ ocp4_workload_pam_case_mgmt_exp_elt_nexus_route }}/content/groups/public",
        "id": "public",
        "name": "Public Repositories",
        "provider": "maven2",
        "format": "maven2",
        "repoType": "group",
        "exposed": true,
        "repositories": [
{% for item in ocp4_workload_pam_case_mgmt_exp_nexus_proxy_repos %}
            {
                "id": "{{ item.name }}"
            },
{% endfor %}
            {
                "id": "releases"
            },
            {
                "id": "snapshots"
            },
            {
                "id": "thirdparty"
            },
            {
                "id": "central"
            }
        ]
    }
}