apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: {{ subscription_name }}
spec:
  channel: beta
  installPlanApproval: Automatic
  name: opendatahub-operator
  source: community-operators
  sourceNamespace: openshift-marketplace
