apiVersion: tekton.dev/v1beta1
kind: PipelineRun
metadata:
  name: piplerun-{{ _name_ }}-{{ item.type }}-{{ 999999999999999999999 | random | to_uuid }}
  namespace: {{ ocp4_workload_tekton_ansible_ee_namespace }}
  labels:
    tekton.dev/pipeline: pipeline-ansible-builder
spec:
  params:
    - name: GIT_URL
      value: {{ item.git_params.url }}/{{ item.git_params.repository }}
    - name: GIT_REVISION
      value: {{ item.git_params.branch }}
    - name: ANSIBLE_BUILDER_IMAGE
      value: {{ item.ee_params.builder_image |default(ocp4_workload_tekton_ansible_ee_default_builder_image) }}
    - name: NAME
      value: "{{ ocp4_workload_tekton_ansible_ee_registry_host }}/{{ item.ee_params.name }}"
    - name: TAG
      value: {{ item.ee_params.tag | default('latest')}}
    - name: CONTEXT
      value: ./
    - name: DOCKERFILE
      value: Containerfile
    - name: BUILD_ARGS
      value: ''
    - name: PUSH_ARGS
      value: ''
    - name: TLSVERIFY
      value: 'false'
  pipelineRef:
    name: pipeline-{{ _name_ }}
  serviceAccountName: pipeline
  timeout: 1h0m0s
  workspaces:
    - name: ee-repo
      persistentVolumeClaim:
        claimName: pvc-{{ _name_ }}
