{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "AllowCreateTable",
      "Effect": "Allow",
      "Action": "dynamodb:CreateTable",
      "Resource": "arn:aws:dynamodb:{{ aws_region }}:{{ student_aws_account_id }}:table/microsweeper-scores-{{ guid }}"
    }
  ]
}