{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Principal": {
        "Federated": "arn:aws:iam::{{ student_aws_account_id }}:oidc-provider/{{ oidc_endpoint }}"
      },
      "Action": "sts:AssumeRoleWithWebIdentity",
      "Condition": {
        "StringEquals": {
          "{{ oidc_endpoint }}:sub": "system:serviceaccount:microsweeper-ex:microsweeper"
        }
      }
    }
  ]
}
