apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: {{ ocp4_workload_bookbag_name }}-base
  labels:
    app: {{ ocp4_workload_bookbag_name }}
spec:
  source:
    type: Git
    git:
      uri: {{ ocp4_workload_bookbag_git_url }}
  strategy:
    type: Docker
    dockerStrategy:
      dockerfilePath: Dockerfile    # Look for Dockerfile in: gitUri/contextDir/dockerfilePath
  output:
    to:
      kind: ImageStreamTag
      name: {{ ocp4_workload_bookbag_name }}-base:latest
  triggers:
  - type: ConfigChange