kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: {{ ocp4_workload_bookbag_name }}-base
  namespace: {{ ocp4_workload_bookbag_namespace }}
  labels:
    build: {{ ocp4_workload_bookbag_name }}
    app: {{ ocp4_workload_bookbag_name }}