- kind: RoleBinding
  apiVersion: rbac.authorization.k8s.io/v1
  metadata:
    name: "{{ ocp4_workload_bookbag_name }}-{{ item }}-admin"
    labels:
      app: "{{ ocp4_workload_bookbag_name }}"
    namespace: "{{ item }}"
  subjects:
  - kind: ServiceAccount
    name: "{{ ocp4_workload_bookbag_name }}-user"
    namespace: "{{ ocp4_workload_bookbag_namespace }}"
  roleRef:
    name: admin
    kind: ClusterRole