kind: Route
apiVersion: route.openshift.io/v1
metadata:
  name: firefox-{{ ocp4_workload_bookbag_name }}
  labels:
    app: firefox-{{ ocp4_workload_bookbag_name }}
spec:
  to:
    kind: Service
    name: firefox-{{ ocp4_workload_bookbag_name }}
    weight: 100
  port:
    targetPort: 5800-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
