kind: StorageCluster
apiVersion: core.libopenstorage.org/v1
metadata:
  name: {{ ocp4_workload_portworx_storagecluster_name }}
  annotations:
    portworx.io/is-openshift: 'true'
    portworx.io/is-eks: "true"
  namespace: {{ ocp4_workload_portworx_namespace }}
spec:
  image: {{ ocp4_workload_portworx_image }}
  imagePullPolicy: Always
  kvdb:
    internal: true
  cloudStorage:
    deviceSpecs:
    - type=gp2,size=20
    kvdbDeviceSpec: type=gp2,size=30
  secretsProvider: k8s
  stork:
    enabled: true
    args:
      webhook-controller: "true"
  autopilot:
    enabled: true
  monitoring:
    prometheus:
      enabled: true
      exportMetrics: true
  featureGates:
    CSI: "true"
 