kind: StorageCluster
apiVersion: core.libopenstorage.org/v1
metadata:
  name: {{ ocp4_workload_portworx_storagecluster_name }}
  namespace: {{ ocp4_workload_portworx_namespace }}
  annotations:
    portworx.io/is-openshift: "true"
spec:
  image: {{ ocp4_workload_portworx_image }}
  imagePullPolicy: Always
  kvdb:
    internal: true
  cloudStorage:
    maxStorageNodesPerZone: 0
    deviceSpecs:
    - type=gp3,size=50
  secretsProvider: k8s
  startPort: 17001
  stork:
    enabled: true
    args:
      webhook-controller: "true"
  autopilot:
    enabled: true
  runtimeOptions:
    default-io-profile: "6"
  csi:
    enabled: true
  monitoring:
    telemetry:
      enabled: false
    prometheus:
      exportMetrics: true
