vms:
- name: "Bastion Host"
  tag: "bastion"
  description: "Bastion Host\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "bastion-REPL.rhpds.opentlc.com"
  - "bastion.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:52"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.10"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.10"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.10"
    name: "ssh"
    portRange: "22"
    protocol: "SSH"
  supportsCloudInit: true
  keypairName: "opentlc-admin-backdoor"
  configurationManagement:
    configNetworkUsingCloudInit: false
    userData: "\
      \#cloud-config\n\
      \ssh_pwauth: False\n\
      \disable_root: True\n\
      \users:\n\
      \  - name: cloud-user\n\
      \    sudo: ALL=(ALL) NOPASSWD:ALL\n\
      \    lock_passwd: False\n\
      \    ssh_authorized_keys:\n\
      \      {{ env_public_key }}
      \     #ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvZvn+GL0wTOsAdh1ikIQoqj2Fw/RA6F14O347rgKdpkgOQpGQk1k2gM8wcla2Y1o0bPIzwlNy1oh5o9uNjZDMeDcEXWuXbu0cRBy4pVRhh8a8zAZfssnqoXHHLyPyHWpdTmgIhr0UIGYrzHrnySAnUcDp3gJuE46UEBtrlyv94cVvZf+EZUTaZ+2KjTRLoNryCn7vKoGHQBooYg1DeHLcLSRWEADUo+bP0y64+X/XTMZOAXbf8kTXocqAgfl/usbYdfLOgwU6zWuj8vxzAKuMEXS1AJSp5aeqRKlbbw40IkTmLoQIgJdb2Zt98BH/xHDe9xxhscUCfWeS37XLp75J\n\
      \chpasswd:\n\
      \  list: |\n\
      \    cloud-user:r3dh4t1!\n\
      \  expire: False\n\
      \runcmd:\n\
      \  - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config\n\
      \  - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config\n\
      \  - systemctl restart sshd\n"
- name: "Web Server1"
  tag: "web_server"
  description: "Web Server1\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "www1-REPL.rhpds.opentlc.com"
  - "www1.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:53"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.20"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.20"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.10"
    name: "ssh"
    portRange: "22"
    protocol: "SSH"
  supportsCloudInit: true
  keypairName: "opentlc-admin-backdoor"
  configurationManagement:
    configNetworkUsingCloudInit: false
    userData: "\
      \#cloud-config\n\
      \ssh_pwauth: False\n\
      \disable_root: True\n\
      \users:\n\
      \  - name: cloud-user\n\
      \    sudo: ALL=(ALL) NOPASSWD:ALL\n\
      \    lock_passwd: False\n\
      \    ssh_authorized_keys:\n\
             {{ env_public_key }}
      \      #ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCvZvn+GL0wTOsAdh1ikIQoqj2Fw/RA6F14O347rgKdpkgOQpGQk1k2gM8wcla2Y1o0bPIzwlNy1oh5o9uNjZDMeDcEXWuXbu0cRBy4pVRhh8a8zAZfssnqoXHHLyPyHWpdTmgIhr0UIGYrzHrnySAnUcDp3gJuE46UEBtrlyv94cVvZf+EZUTaZ+2KjTRLoNryCn7vKoGHQBooYg1DeHLcLSRWEADUo+bP0y64+X/XTMZOAXbf8kTXocqAgfl/usbYdfLOgwU6zWuj8vxzAKuMEXS1AJSp5aeqRKlbbw40IkTmLoQIgJdb2Zt98BH/xHDe9xxhscUCfWeS37XLp75J\n\
      \chpasswd:\n\
      \  list: |\n\
      \    cloud-user:r3dh4t1!\n\
      \  expire: False\n\
      \runcmd:\n\
      \  - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config\n\
      \  - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config\n\
      \  - systemctl restart sshd\n"
