vms:
- name: "Bastion Host"
  tag: "bastion"
  description: "Bastion Host\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "bastion-REPL.rhpds.opentlc.com"
  - "bastion.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:52"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.10"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.10"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.10"
    name: "ssh"
    portRange: "22"
    protocol: "SSH"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: True
    users:
      - name: cloud-user
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          #ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtvaLoe0MKKmW4qRR2hSuTW3+Q2fU6Xl9gPIqrkj+SkZNw2tg4mkE0XS/Y5IoGB2pzFUQhWMoh4w22+/HKiVr2n15BNUUl8RXRHVOnau0lYiPB6Z+3d5WWJMeR08mLQU94MZuewgwycDtrfwgOLLEjvpkGDef65Bof2Goi8ufGUGp5/NZnBOSpdv2gRkaYyKDsTEpC8YsUivcnlhwPLWiFyGvCrHAAYnyIkVJ7oKXH4aSnDQMFpIVmntVlgkbOtUsghgm8uf35aLY+Pv2N+BOaSrDA8lkAstQoR37PXbHXV0wogCVPrqUaJEhOM+faI+K+LkkVvPhH2AUByvteAWcD
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - echo "redhat!" | passwd --stdin root
      - echo "redhat!" | passwd --stdin cloud-user
      - systemctl restart sshd
- name: "Web Server1"
  tag: "web_server"
  description: "Web Server1\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "www1-REPL.rhpds.opentlc.com"
  - "www1.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:53"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.20"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.20"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.20"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: False
    users:
      - name: cloud-user
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          #ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtvaLoe0MKKmW4qRR2hSuTW3+Q2fU6Xl9gPIqrkj+SkZNw2tg4mkE0XS/Y5IoGB2pzFUQhWMoh4w22+/HKiVr2n15BNUUl8RXRHVOnau0lYiPB6Z+3d5WWJMeR08mLQU94MZuewgwycDtrfwgOLLEjvpkGDef65Bof2Goi8ufGUGp5/NZnBOSpdv2gRkaYyKDsTEpC8YsUivcnlhwPLWiFyGvCrHAAYnyIkVJ7oKXH4aSnDQMFpIVmntVlgkbOtUsghgm8uf35aLY+Pv2N+BOaSrDA8lkAstQoR37PXbHXV0wogCVPrqUaJEhOM+faI+K+LkkVvPhH2AUByvteAWcD
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
- name: "Web Server2"
  tag: "web_server"
  description: "Web Server2\nnohbac: true\n"
  numCpus: 1
  memorySize:
    unit: "GB"
    value: 1
  hostnames:
  - "www2-REPL.rhpds.opentlc.com"
  - "www2.example.com"
  hardDrives:
  - index: 0
    imageName: "rhel-guest-image-7.3-35.x86_64"
    boot: true
    controller: "virtio"
    name: "root disk"
    size:
      unit: "GB"
      value: 40
    type: "DISK"
  networkConnections:
  - name: "eth0"
    device:
      index: 0
      deviceType: "virtio"
      useAutomaticMac: false
      mac: "2c:c2:60:14:42:54"
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.1.21"
      hasPublicIp: true
  - name: "eth1"
    device:
      index: 1
      deviceType: "virtio"
      useAutomaticMac: true
    ipConfig:
      autoIpConfig:
        reservedIp: "192.168.2.21"
  stopTimeOut: "300"
  suppliedServices:
  - external: true
    ip: "192.168.1.21"
    name: "http"
    portRange: "80"
    protocol: "TCP"
  supportsCloudInit: true
  keypairId: 62226455
  keypairName: "opentlc-admin-backdoor"
  userData: |
    #cloud-config
    ssh_pwauth: False
    disable_root: True
    users:
      - name: cloud-user
        sudo: ALL=(ALL) NOPASSWD:ALL
        lock_passwd: False
        ssh-authorized-keys:
          #ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDtvaLoe0MKKmW4qRR2hSuTW3+Q2fU6Xl9gPIqrkj+SkZNw2tg4mkE0XS/Y5IoGB2pzFUQhWMoh4w22+/HKiVr2n15BNUUl8RXRHVOnau0lYiPB6Z+3d5WWJMeR08mLQU94MZuewgwycDtrfwgOLLEjvpkGDef65Bof2Goi8ufGUGp5/NZnBOSpdv2gRkaYyKDsTEpC8YsUivcnlhwPLWiFyGvCrHAAYnyIkVJ7oKXH4aSnDQMFpIVmntVlgkbOtUsghgm8uf35aLY+Pv2N+BOaSrDA8lkAstQoR37PXbHXV0wogCVPrqUaJEhOM+faI+K+LkkVvPhH2AUByvteAWcD
          - "{{ env_public_key }}"
    runcmd:
      - sed -i -e '/^GSSAPIAuthentication/s/^.*$/GSSAPIAuthentication no/' /etc/ssh/sshd_config
      - sed -i -e '$aUseDNS no' /etc/ssh/sshd_config
      - systemctl restart sshd
