---
apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: ""
    openshift.io/requester: kube:admin
  labels:
    kubernetes.io/metadata.name: cert-utils-operator
  name: cert-utils-operator
spec:
  finalizers:
  - kubernetes
