---
apiVersion: v1
items:
- apiVersion: operators.coreos.com/v1
  kind: OperatorGroup
  metadata:
    namespace: cert-utils-operator
    generateName: cert-utils-operator-
  spec:
    upgradeStrategy: Default
kind: List
