{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Satellite admin password",
            "question_description": "",
            "required": true,
            "type": "password",
            "variable": "vault_satellite_admin_password",
            "min": 5,
            "max": 128,
            "default": ""
        }
    ]
}