{
    "name": "",
    "description": "",
    "spec": [
        {
            "question_name": "Database Port",
            "question_description": "Please provide database port:",
            "required": true,
            "type": "text",
            "variable": "mariadb_port",
            "min": 2,
            "max": 5,
            "default": "3306",
            "choices": ""
        },
        {
            "question_name": "Database name",
            "question_description": "Please provide database name:",
            "required": true,
            "type": "text",
            "variable": "dbname",
            "min": 2,
            "max": 64,
            "default": "LAMPDB",
            "choices": ""
        },
        {
            "question_name": "Database username",
            "question_description": "Please provide database username:",
            "required": true,
            "type": "text",
            "variable": "dbuser",
            "min": 2,
            "max": 64,
            "default": "lampuser",
            "choices": ""
        },
        {
            "question_name": "Database password",
            "question_description": "Please provide database username:",
            "required": true,
            "type": "password",
            "variable": "upassword",
            "min": 2,
            "max": 64,
            "default": "changeme",
            "choices": ""
        }
    ]
}
