---
apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: rhdp-hcp-configuration
  namespace: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}
spec:
  componentKinds:
  - group: apps.open-cluster-management.io
    kind: Subscription
  descriptor: {}
  selector:
    matchLabels:
      app: rhdp-hcp-configuration
