---
apiVersion: apps.open-cluster-management.io/v1
kind: Channel
metadata:
  name: rhdp-hcp-configuration
  namespace: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}
  annotations:
    apps.open-cluster-management.io/reconcile-rate: medium
spec:
  pathname: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_repository }}
  type: Git
