---
apiVersion: cluster.open-cluster-management.io/v1beta2
kind: ManagedClusterSetBinding
metadata:
  namespace: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}
  name: global
spec:
  clusterSet: global
