---
apiVersion: cluster.open-cluster-management.io/v1beta1
kind: Placement
metadata:
  name: rhdp-hcp-configuration
  namespace: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}
  labels:
    app: rhdp-hcp-configuration
spec:
  predicates:
  - requiredClusterSelector:
      labelSelector:
        matchLabels:
          local-cluster: 'true'
  clusterSets:
  - global
