---
apiVersion: v1
kind: Secret
metadata:
  name: aws-secret-access-key
  namespace: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}
type: Opaque
data:
  secret-access-key: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_aws_secret_access_key | b64encode }}
