---
apiVersion: apps.open-cluster-management.io/v1
kind: Subscription
metadata:
  name: rhdp-hcp-configuration
  namespace: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}
  annotations:
    apps.open-cluster-management.io/git-branch: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_repository_branch }}
    apps.open-cluster-management.io/git-path: "{{ ocp4_workload_rhacm_hypershift_rhdp_policies_repository_path }}"
    apps.open-cluster-management.io/reconcile-option: merge
  labels:
    app: rhdp-hcp-configuration
spec:
  channel: {{ ocp4_workload_rhacm_hypershift_rhdp_policies_namespace }}/rhdp-hcp-configuration
  placement:
    placementRef:
      kind: Placement
      name: rhdp-hcp-configuration
