---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: {{ ocp4_workload_ama_demo_app_services_shared_applicationset_name }}
  namespace: {{ ocp4_workload_ama_demo_app_services_shared_applicationset_namespace }}
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_ama_demo_app_services_shared_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_ama_demo_app_services_shared_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ ocp4_workload_ama_demo_app_services_shared_application_name }}-{% raw %}{{ user }}{% endraw %}"
      namespace: {{ ocp4_workload_ama_demo_app_services_shared_applicationset_namespace }}
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ""
        namespace: "{{ ocp4_workload_ama_demo_app_services_shared_namespace_prefix }}{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
      source:
        repoURL: {{ ocp4_workload_ama_demo_app_services_shared_application_repo }}
        targetRevision: {{ ocp4_workload_ama_demo_app_services_shared_application_repo_tag }}
        path: {{ ocp4_workload_ama_demo_app_services_shared_application_repo_path }}
        helm:
          values: |
            activity-tracking:
              image: {{ ocp4_workload_ama_demo_app_services_shared_activity_tracking_service_image }}
            activity-tracking-simulator:
              image: {{ ocp4_workload_ama_demo_app_services_shared_activity_tracking_simulator_image }}
            catalog-app:
              catalogDb:
                image: {{ ocp4_workload_ama_demo_app_services_shared_catalog_db_image }}
              catalogService:
                image: {{ ocp4_workload_ama_demo_app_services_shared_catalog_service_image }}
            globex-ui:
              image: {{ ocp4_workload_ama_demo_app_services_shared_globex_ui_image }}
            inventory-app:
              inventoryService: 
                image: {{ ocp4_workload_ama_demo_app_services_shared_inventory_service_image }}
              inventoryDb:
                image: {{ ocp4_workload_ama_demo_app_services_shared_inventory_db_image }}
            order-placement:
              image: {{ ocp4_workload_ama_demo_app_services_shared_order_placement_service_image }}
            recommendation-engine:
              image: {{ ocp4_workload_ama_demo_app_services_shared_recommendation_engine_image }}
