kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
metadata:
  labels:
    rbac.authorization.k8s.io/aggregate-to-view: "true"
  name: clusterworkloadresourcemappings-viewer-role
rules:
  - verbs:
      - get
      - list
      - watch
    apiGroups:
      - servicebinding.io
    resources:
      - clusterworkloadresourcemappings
