apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ opsview_app_name }}
  name: {{ opsview_app_name }}
  namespace: {{ opsview_project }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ opsview_app_name }}
  template:
    metadata:
      labels:
        app: {{ opsview_app_name }}
    spec:
      serviceAccount: {{ opsview_app_name }}
      containers:
      - name: service
        image: hjacobs/kube-ops-view:latest
        args:
        - --redis-url=redis://{{ opsview_app_name }}-redis:6379
        ports:
        - containerPort: 8080
          protocol: TCP
        readinessProbe:
          httpGet:
            path: /health
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 1
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 50Mi