apiVersion: v1
data:
  .dockerconfigjson: {{ _auth_config }}
kind: Secret
metadata:
  annotations:
    tekton.dev/docker-0: {{ ocp4_workload_tekton_ee_registry_host }}
  name: hub-push-secret
type: kubernetes.io/dockerconfigjson