kind: Namespace
apiVersion: v1
metadata:
  name: {{ _devworkspace_namespace }}
  labels:
    app.kubernetes.io/part-of: che.eclipse.org
    app.kubernetes.io/component: workspaces-namespace
  annotations:
    openshift.io/requester: {{ _ocp4_workload_shared_cluster_username }}
    che.eclipse.org/username: {{ _ocp4_workload_shared_cluster_username }}
