---
apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: "{{ ocp4_workload_mad_roadshow_rhdh_app_name }}"
  namespace: openshift-gitops
spec:
  generators:
  - list:
      elements:
{% for n in range(1, ocp4_workload_mad_roadshow_gitea_user_count | int + 1 ) %}
      - user: {{ ocp4_workload_mad_roadshow_gitea_user_prefix }}{{ n }}
{% endfor %}
  template:
    metadata:
      name: "{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{% raw %}{{ user }}{% endraw %}"
      namespace: openshift-gitops
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      destination:
        name: ''
        namespace: "{{ _ocp4_workload_mad_roadshow_namespace }}-{% raw %}{{ user }}{% endraw %}"
        server: 'https://kubernetes.default.svc'
      project: default
      syncPolicy:
        automated:
          prune: false
          selfHeal: false
      source:
        helm:
          parameters:
            - name: serviceAccount.automountServiceAccountToken
              value: true
            - name: app.baseUrl
              value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}-{% raw %}{{ user }}{% endraw %}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
            - name: argocd.appLocatorMethods[0].instances[0].name
              value: main
            - name: argocd.appLocatorMethods[0].instances[0].password
              value: {{ ocp4_workload_redhat_developer_hub_argocd_password }}
            - name: argocd.appLocatorMethods[0].instances[0].url
              value: https://{{ ocp4_workload_redhat_developer_hub_argocd_host }}
            - name: argocd.appLocatorMethods[0].instances[0].username
              value: admin
            - name: argocd.appLocatorMethods[0].type
              value: config
            - name: backend.baseUrl
              value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}-{% raw %}{{ user }}{% endraw %}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
            - name: app.host
              value: {{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}-{% raw %}{{ user }}{% endraw %}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
            - name: backend.cors.origin
              value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}-{% raw %}{{ user }}{% endraw %}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
            - name: backend.reading.allow.host
              value: "*.{{ ocp4_workload_redhat_developer_hub_apps_domain }}"
            - name: app.cluster
              value: "*.{{ ocp4_workload_redhat_developer_hub_apps_domain }}"
{% for location in ocp4_workload_redhat_developer_hub_gitlab_template_locations %}
            - name: catalog.locations[{{ loop.index - 1}}].rules[0].allow[0]
              value: {{ location.rules.allow }}
            - name: catalog.locations[{{ loop.index - 1}}].target
              value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/{{ location.group }}/{{ location.project }}/blob/{{ location.branch }}/{{ location.file }}
            - name: catalog.locations[{{ loop.index - 1}}].type
              value: url
{% endfor %}
            - name: pullSecret
              value: {{ ocp4_workload_redhat_developer_rhdh_pull_secret  | b64encode }}
            - name: oauth.port
              value: "{{ ocp4_workload_redhat_developer_hub_oauth_port}}"
              forceString: true
            - name: oauth.serviceAccount
              value: {{ ocp4_workload_redhat_developer_hub_oauth_service_account}}
            - name: oauth.tlsCert
              value: {{ ocp4_workload_redhat_developer_hub_oauth_tls_cert}}
            - name: oauth.tlsKey
              value: {{ ocp4_workload_redhat_developer_hub_oauth_tls_key}}
            - name: oauth.tlsCa
              value: {{ ocp4_workload_redhat_developer_hub_oauth_tls_ca}}
            - name: postgresql.password
              value: {{ ocp4_workload_redhat_developer_hub_postgresql_password }}
            - name: postgresql.databaseAdminPassword
              value: {{ ocp4_workload_redhat_developer_hub_postgresql_adminDatabasePassword }}
            - name: postgresql.databasePassword
              value: {{ ocp4_workload_redhat_developer_hub_postgresql_databasePassword }}
            - name: postgresql.databaseHost
              value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseHost }}
              forceString: true
            - name: postgresql.databasePort
              value: " {{ ocp4_workload_redhat_developer_hub_postgresql_databasePort }} "
              forceString: true
            - name: postgresql.databaseUser
              value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseUser }}
            - name: postgresql.databaseAdminUser
              value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseAdminUser }}
            - name: clusters[0].name
              value: dev-cluster
            - name: clusters[0].url
              value: {{ ocp4_workload_redhat_developer_hub_ocp_api }}
            - name: clusters[0].serviceAccountToken
              value: {{ ocp4_workload_redhat_developer_hub_ocp_sa_token }}
            - name: integrations.gitlab[0].apiBaseUrl
              value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/api/v4
            - name: integrations.gitlab[0].baseUrl
              value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}
            - name: integrations.gitlab[0].host
              value: {{ ocp4_workload_redhat_developer_hub_gitlab_host }}
            - name: integrations.gitlab[0].token
              value: {{ ocp4_workload_redhat_developer_hub_gitlab_root_token }}
            - name: catalog.providers.gitlab.selfHosted.host
              value: {{ ocp4_workload_redhat_developer_hub_gitlab_host }}
        path: {{ ocp4_workload_mad_roadshow_rhdh_repo_path }}
        repoURL: {{ ocp4_workload_mad_roadshow_rhdh_repo }}
        targetRevision: {{ ocp4_workload_mad_roadshow_rhdh_repo_tag }}
    syncPolicy:
      automated: {}
      syncOptions:
        - CreateNamespace=true