---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ _ocp4_workload_mad_roadshow_rhdh_app_name }}"
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: {{ _ocp4_workload_mad_roadshow_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    helm:
      valueFiles:
        - {{ ocp4_workload_mad_roadshow_rhdh_helm_value_file }}
      parameters:
        - name: upstream.backstage.appConfig.kubernetes.clusterLocatorMethods[0].clusters[0].serviceAccountToken
          value: {{ ocp4_workload_redhat_developer_hub_ocp_sa_token }}
        - name: upstream.backstage.appConfig.kubernetes.clusterLocatorMethods[0].clusters[0].url
          value: {{ ocp4_workload_redhat_developer_hub_ocp_api }}
        - name: upstream.backstage.appConfig.argocd.appLocatorMethods[0].instances[0].password
          value: "{{ ocp4_workload_redhat_developer_hub_argocd_password }}"
          forceString: true
        - name: upstream.backstage.appConfig.argocd.appLocatorMethods[0].instances[0].url
          value: https://{{ ocp4_workload_redhat_developer_hub_argocd_host }}
        - name: global.clusterRouterBase
          value: {{ ocp4_workload_redhat_developer_hub_apps_domain }}
        - name: upstream.backstage.appConfig.backend.baseUrl
          value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
        - name: upstream.backstage.appConfig.backend.cors.origin
          value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
        - name: upstream.backstage.appConfig.backend.reading.allow[0].host
          value: "*.{{ ocp4_workload_redhat_developer_hub_apps_domain }}"
        - name: upstream.backstage.appConfig.catalog.locations[0].target
          value: {{ ocp4_workload_gitops_gitlab_gitops_repo_software_templates }}
        - name: upstream.backstage.appConfig.catalog.locations[1].target
          value: {{ ocp4_workload_gitops_gitlab_gitops_repo_software_templates_org }}
        - name: upstream.backstage.appConfig.backend.database.connection.password
          value: "{{ ocp4_workload_redhat_developer_hub_postgresql_adminDatabasePassword }}"
        - name: upstream.backstage.appConfig.backend.database.connection.user
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseUser }}
        - name: upstream.backstage.appConfig.backend.database.connection.host
          value: "developer-hub-backstage-postgresql"
          forceString: true
        - name: upstream.backstage.appConfig.backend.database.connection.port
          value: "{{ ocp4_workload_redhat_developer_hub_postgresql_databasePort }}"
          forceString: true
        - name: upstream.backstage.image.registry
          value: {{ ocp4_workload_mad_roadshow_rhdh_image_registry }}
        - name: upstream.backstage.image.repository
          value: {{ ocp4_workload_mad_roadshow_rhdh_image_repository }}
        - name: upstream.backstage.image.tag
          value: "{{ ocp4_workload_mad_roadshow_rhdh_image_tag }}"
        - name: upstream.postgresql.auth.username
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseUser }}
        - name: upstream.backstage.appConfig.backend.database.connection.user
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseAdminUser }}
        - name: upstream.postgresql.auth.username
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseUser }}
        - name: upstream.backstage.appConfig.backend.database.connection.user
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseAdminUser }}
        - name: upstream.backstage.appConfig.integrations.gitlab[0].apiBaseUrl
          value: "https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/api/v4"
        - name: upstream.backstage.appConfig.integrations.gitlab[0].baseUrl
          value: "https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}"
        - name: upstream.backstage.appConfig.integrations.gitlab[0].host
          value: {{ ocp4_workload_redhat_developer_hub_gitlab_host }}
        - name: upstream.backstage.appConfig.integrations.gitlab[0].token
          value: {{ ocp4_workload_redhat_developer_hub_gitlab_root_token }}
        - name: upstream.backstage.appConfig.catalog.providers.gitlab.selfHosted.host
          value: "{{ ocp4_workload_redhat_developer_hub_gitlab_host }}"
          forceString: true
    chart: {{ ocp4_workload_mad_roadshow_rhdh_helm_chart }}
    repoURL: {{ ocp4_workload_mad_roadshow_rhdh_helm_chart_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_rhdh_helm_chart_version }}