---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ _ocp4_workload_mad_roadshow_rhdh_app_name_sso }}"
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: {{ ocp4_workload_mad_roadshow_rhdh_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    helm:
      parameters:
        - name: client.redirectUri[0]
          value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ ocp4_workload_mad_roadshow_rhdh_namespace }}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}/oauth2/callback
        - name: realm.identityProviders[0].alias
          value: GitLab
        - name: realm.identityProviders[0].providerId
          value: oidc
        - name: keycloak.clientId
          value: {{ ocp4_workload_redhat_developer_hub_keycloak_clientId}}
        - name: keycloak.clientSecret
          value: {{ ocp4_workload_redhat_developer_hub_keycloak_clientSecret}}
        - name: realm.identityProviders[0].tokenUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/oauth/token
        - name: realm.identityProviders[0].authorizationUrl
          value: https://{{ ocp4_workload_redhat_developer_hub_gitlab_host }}/oauth/authorize
        - name: realm.identityProviders[0].clientAuthMethod
          value: client_secret_basic
        - name: realm.identityProviders[0].syncMode
          value: IMPORT
        - name: keycloak.realm
          value: {{ ocp4_workload_redhat_developer_hub_keycloak_realm }}
        - name: keycloak.displayName
          value: {{ ocp4_workload_redhat_developer_hub_keycloak_displayName}}
        - name: namespace
          value: {{ _ocp4_workload_mad_roadshow_namespace }}   
        - name: app.host
          value: {{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
    path: {{ _ocp4_workload_mad_roadshow_rhdh_repo_path_sso }}
    repoURL: {{ ocp4_workload_mad_roadshow_rhdh_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_rhdh_repo_tag }}

