apiVersion: keycloak.org/v1alpha1
kind: KeycloakClient
metadata:
  labels:
    app: rhsso-openshift
    app.kubernetes.io/instance: rhsso-openshift
    app.kubernetes.io/name: rhsso-openshift
  name: rhdh
spec:
  client:
    clientAuthenticatorType: client-secret
    redirectUris:
      - https://{{ _ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}.{{ _ocp4_workload_redhat_developer_hub_apps_domain }}/oauth2/callback
    serviceAccountsEnabled: true
    clientId: rhdh
    defaultClientScopes:
      - profile
      - email
      - roles
      - acr
      - web-origins
    implicitFlowEnabled: false
    publicClient: false
    standardFlowEnabled: true
    directAccessGrantsEnabled: true
  realmSelector:
    matchLabels:
      app: openshift
