cat << EOF | oc apply -f -
apiVersion: v1
kind: Secret
metadata:
  name: vmware-credentials
  namespace: openshift-mtv
type: Opaque
stringData:
  user: {{ env_type }}-{{ guid }}@vc.opentlc.com
  password: {{ vcenter_user_generated_password }}
  thumbprint: "70:2D:52:D2:D1:A5:A2:75:58:8F:3D:07:D5:7E:E9:73:81:BC:88:A2"
  insecureSkipVerify: "true"
  url: https://portal.vc.opentlc.com/sdk
EOF


cat << EOF | oc apply -f -
apiVersion: forklift.konveyor.io/v1beta1
kind: Provider
metadata:
  name: vmware
  namespace: openshift-mtv
spec:
  type: vsphere
  url: "https://portal.vc.opentlc.com/sdk"
  settings:
    vddkInitImage: image-registry.openshift-image-registry.svc:5000/openshift/vddk:latest
  secret:
    name: vmware-credentials
    namespace: openshift-mtv
EOF
