---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "{{ _ocp4_workload_mad_roadshow_rhdh_app_name_roles}}"
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    name: ''
    namespace: {{ _ocp4_workload_mad_roadshow_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
  source:
    helm:
      parameters:
        - name: namespace
          value: {{ _ocp4_workload_mad_roadshow_namespace }}
        - name: postgresql.databasePassword
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databasePassword }}
        - name: pullSecrets
          value: {{ redhat_gpte_devhub_pull_secret }}
        - name: oauth2Proxy.realm
          value: "{{ ocp4_workload_redhat_developer_hub_oauth2Proxy_realm }}"
        - name: oauth2Proxy.issuerUrl
          value: https://keycloak-rhsso.{{ ocp4_workload_redhat_developer_hub_apps_domain  }}/auth/realms/{{ ocp4_workload_redhat_developer_hub_oauth2Proxy_realm }}
        - name: oauth2Proxy.baseUrl
          value: https://keycloak-rhsso.{{ ocp4_workload_redhat_developer_hub_apps_domain  }}/auth
        - name: rhdh.backend.baseUrl
          value: https://{{ ocp4_workload_mad_roadshow_rhdh_app_name }}-{{ _ocp4_workload_mad_roadshow_namespace }}.{{ ocp4_workload_redhat_developer_hub_apps_domain }}
        - name: oauth2Proxy.cookieSecret
          value:  "{{ ocp4_workload_redhat_developer_hub_oauth2Proxy_cookieSecret }}"
        - name: oauth2Proxy.issueUrl
          value: https://keycloak-rhsso.{{ ocp4_workload_redhat_developer_hub_apps_domain  }}/auth/realms/{{ ocp4_workload_redhat_developer_hub_oauth2Proxy_realm }}
        - name: oauth2Proxy.clientId
          value: "{{ ocp4_workload_redhat_developer_hub_oauth2Proxy_clientId }}"
        - name: oauth2Proxy.clientSecret
          value: "{{ ocp4_workload_redhat_developer_hub_oauth2Proxy_clientSecret }}"
        - name: postgresql.password
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_password }}
        - name: postgresql.databaseAdminPassword
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_adminDatabasePassword }}
        - name: postgresql.databasePassword
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databasePassword }}
        - name: postgresql.databaseHost
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseHost }}
          forceString: true
        - name: postgresql.databasePort
          value: "{{ ocp4_workload_redhat_developer_hub_postgresql_databasePort }}"
          forceString: true
        - name: postgresql.databaseUser
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseUser }}
        - name: postgresql.databaseAdminUser
          value: {{ ocp4_workload_redhat_developer_hub_postgresql_databaseAdminUser }}
    path: {{ ocp4_workload_mad_roadshow_rhdh_repo_path }}
    repoURL: {{ ocp4_workload_mad_roadshow_rhdh_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_rhdh_repo_tag }}