apiVersion: capabilities.3scale.net/v1alpha1
kind: Tenant
metadata:
  name: {{user}}-tenant
  namespace: {{ threescale_project }}
spec:
  email: {{user}}@example.openshift.com
  masterCredentialsRef:
    name: system-seed
  organizationName: {{user}}
  passwordCredentialsRef:
    name: {{user}}-admin-secret
  systemMasterUrl: 'https://master.{{ route_subdomain }}'
  tenantSecretRef:
    name: {{user}}-tenant-secret
    namespace: threescale
  username: {{user}}
