---
kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: www
  labels:
    app: www
    app.kubernetes.io/component: www
    app.kubernetes.io/instance: www
spec:
  lookupPolicy:
    local: false
---
kind: BuildConfig
apiVersion: build.openshift.io/v1
metadata:
  name: www
  labels:
    app: www
    app.kubernetes.io/component: www
    app.kubernetes.io/instance: www
spec:
  output:
    to:
      kind: ImageStreamTag
      name: 'www:latest'
  resources: {}
  successfulBuildsHistoryLimit: 5
  failedBuildsHistoryLimit: 5
  strategy:
    type: Source
    sourceStrategy:
      from:
        kind: ImageStreamTag
        namespace: openshift
        name: 'nodejs-12:1-114'
      env:
        - name: API_BACKEND_URL
          value: https://location-user{{ item }}-apicast-staging.{{ route_subdomain }}/locations
        - name: CLIENT_ID
          value: CHANGE_ME
        - name: SSO_REALM
          value: user{{ item }}-realm
        - name: SSO_URL
          value: 'https://keycloak-{{ sso_project }}.{{ route_subdomain }}'
  postCommit: {}
  source:
    type: Git
    git:
      uri: 'https://github.com/jbossdemocentral/3scaleworkshop-wwwpage'
      ref: secured
  triggers:
    - type: ConfigChange
  runPolicy: Serial
