apiVersion: quota.openshift.io/v1
kind: ClusterResourceQuota
metadata:
  name: clusterquota-{{ ocp_username }}-{{ guid }}
  labels:
    workload: ocp4-workload-rhsso-foundations
spec:
  quota:
    hard:
      secrets: '{{ quota_secrets }}'
      persistentvolumeclaims: '{{ quota_persistentvolumeclaims }}'
      requests.memory: '{{ quota_requests_memory }}'
      pods: '{{ quota_pods }}'
      requests.storage: '{{ quota_requests_storage }}'
      limits.cpu: '{{ quota_limits_cpu }}'
      limits.memory: '{{ quota_limits_memory }}'
      configmaps: '{{ quota_configmaps }}'
      services: '{{ quota_services }}'
      requests.cpu: '{{ quota_requests_cpu }}'
  selector:
    annotations:
      openshift.io/requester: {{ ocp_username }}
    labels:
      matchLabels:
        workload: ocp4-workload-amq-streams-dev-experienced

