apiVersion: gpte.opentlc.com/v1alpha1
kind: Gitea
metadata:
  name: gitea-server
spec:
  postgresqlVolumeSize: {{ gitea_postgresql_volume_size }}
  giteaVolumeSize: {{ gitea_volume_size }}
  giteaSsl: {{ gitea_ssl }}
  giteaServiceName: {{ gitea_service_name }}
  giteaImageTag: {{ gitea_image_tag }}
  