apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ''
    openshift.io/display-name: ''
    openshift.io/requester: '{{ ocp_username }}'
  labels:
    workload: ocp4-workload-amq-streams-dev-experienced
  name: '{{ ocp_project }}'
spec:
  finalizers:
    - kubernetes