{% for __user in r_mad_roadshow_workshop_users %}
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ r_mad_roadshow_workshop_globex_namespace | replace("user",__user) }}
  namespace: {{ r_mad_roadshow_workshop_globex_namespace | replace("user",__user) }}
  finalizers:
  - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ r_mad_roadshow_workshop_globex_namespace | replace("user",__user) }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: false
  source:
    repoURL: {{ ocp4_workload_mad_roadshow_workshop_application_repo }}
    targetRevision: {{ ocp4_workload_mad_roadshow_workshop_application_repo_tag }}
    path: {{ ocp4_workload_mad_roadshow_workshop_namespace_prefix }}-init
    helm:
      values: ""
{% endfor %}