apiVersion: che.eclipse.org/v1alpha1
kind: KubernetesImagePuller
metadata:
  name: image-puller
spec:
  deploymentName: kubernetes-image-puller
  configMapName: k8s-image-puller
  daemonsetName: k8s-image-puller
  images: >-
  {% for image in ocp4_workload_kubernetes_image_puller_images %}
    prepull{{ loop.index }}={{ image }}{% if not loop.last %};{% endif %}
  {% endfor %}

  cachingIntervalHours: '2'
  cachingMemoryRequest: '10Mi'
  cachingMemoryLimit: '20Mi'
  nodeSelector: '{{ ocp4_workload_kubernetes_image_puller_node_selector }}'