apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: "{{ guid }}-argocd"
data:
  repositories: |
    - name: coffee-shop
      url: "http://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_service }}/{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}/coffee-shop-final-lab"
      type: git
      usernameSecret:
        key: username
        name: repo-gitea
      passwordSecret:
        key: password
        name: repo-gitea
    - name: coffee-shop-helm
      type: helm
      url: "http://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_nexus_repository_service }}/repository/helm"