apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: coffee-shop
  namespace: "{{ guid }}-argocd"
spec:
  clusterResourceWhitelist:
  - group: '*'
    kind: '*'
  description: "ArgoCD project for Coffee Shop Application ({{ guid }})"
  destinations:
  - namespace: "{{ guid }}-prod-coffeeshop"
    server: https://kubernetes.default.svc
  - namespace: "{{ guid }}-argocd"
    server: https://kubernetes.default.svc
  - namespace: "{{ guid }}-pipeline"
    server: https://kubernetes.default.svc
  namespaceResourceBlacklist:
  - group: tekton.dev
    kind: TaskRun
  - group: tekton.dev
    kind: PipelineRun
  sourceRepos:
  - "http://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_service }}/{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}/coffee-shop-final-lab.git"
  - "http://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_nexus_repository_service }}/repository/helm"
