apiVersion: v1
kind: Secret
metadata:
  name: repo-gitea
  namespace: "{{ guid }}-argocd"
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  username: "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}"
  password: "{{ _ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_password }}"
  type: git
  url: "http://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_service }}/{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}/coffee-shop-final-lab"
