apiVersion: v1
kind: Secret
metadata:
  labels:
    app.kubernetes.io/name: argocd-cluster
    app.kubernetes.io/part-of: argocd
  name: argocd-cluster
  namespace: "{{ guid }}-argocd"
stringData:
  admin.password: "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_argocd_password}}"
