apiVersion: v1
kind: Namespace
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "Coffee Shop Development (GUID: {{ guid }})"
    openshift.io/requester: "{{ ocp_username }}"
  name: "{{ guid }}-dev-coffeeshop"
