apiVersion: v1
kind: Secret
metadata:
  name: coffee-shop
  namespace: "{{ guid }}-dev-coffeeshop"
stringData:
  quarkus.datasource.db-kind: postgresql
  quarkus.datasource.jdbc.url: jdbc:postgresql://coffee-shop-database:5432/coffeeshop
  quarkus.datasource.password: coffee
  quarkus.datasource.username: coffee
type: Opaque

