apiVersion: v1
kind: Secret
metadata:
  annotations:
    tekton.dev/docker-0: https://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_nexus_registry_service }}
  name: nexus-credentials
  namespace: "{{ guid }}-pipeline"
type: kubernetes.io/basic-auth
stringData:
  username: "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_nexus_userid   }}"
  password: "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_nexus_password }}"
