#!/bin/bash
# Variables:
# GUID: wk13
# OCP_USERNAME: wkulhane-redhat.com
# NEXUS_REGISTRY: homework-nexus-registry.apps.shared-dev4.dev4.openshift.opentlc.com

mkdir /tmp/ilt
cd /tmp/ilt
git clone https://{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}:{{ _ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_password }}@{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_url | urlsplit('hostname') }}/{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}/{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_repo_name }} /tmp/ilt/repository

# Replace Variables in YAML files
for source_file in $(find /tmp/ilt -name *.yaml -print)
do
  sed -i "s/GUID/{{ guid }}/g" ${source_file}
  sed -i "s/OCP_USERNAME/{{ ocp_username }}/g" ${source_file}
  sed -i "s/NEXUS_REGISTRY_HOSTNAME/{{ ocp4_workload_adv_app_deploy_ilt_final_lab_nexus_registry_hostname }}/g" ${source_file}
done

# Replace Variables in ENV files
for source_file in $(find /tmp/ilt -name *.env -print)
do
  sed -i "s/GUID/{{ guid }}/g" ${source_file}
done

cd /tmp/ilt/repository
git config --global user.email "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}"
git config --global user.name "{{ ocp4_workload_adv_app_deploy_ilt_final_lab_gitea_user }}"
git add .
git commit --allow-empty -m "[AgnosticD] Updating GUID and user specific fields."
git push origin master

rm -rf /tmp/ilt
