apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: aggregate-admin
  labels:
    rbac.authorization.k8s.io/aggregate-to-admin: "true"
rules:
- apiGroups:
  - lab.redhat.com
  resources:
  - mysqls
  - mysqls/status
  - mysqlbackups
  - mysqlbackups/status
  - mysqlrestores
  - mysqlrestores/status
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch

