apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  namespace: "{{ ocp4_workload_bookbag_user_project }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        deployment: "{{ ocp4_workload_bookbag_user_deployment_name }}"
    spec:
      restartPolicy: Always
      serviceAccountName: "{{ ocp4_workload_bookbag_user_deployment_name }}"
{% if ocp4_workload_bookbag_user_console_deploy | bool %}
      initContainers:
      - name: setup-console
        image: "{{ ocp4_workload_bookbag_user_image_name }}:{{ ocp4_workload_bookbag_user_image_tag }}"
        command:
        - /opt/workshop/bin/setup-console.sh
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
        - name: shared
          mountPath: /var/run/workshop
{% endif %}
      containers:
      - name: terminal
        image: "{{ ocp4_workload_bookbag_user_image_name }}:{{ ocp4_workload_bookbag_user_image_tag }}"
        imagePullPolicy: IfNotPresent
        env:
        - name: APPLICATION_NAME
          value: "{{ ocp4_workload_bookbag_user_deployment_name }}"
        - name: AUTH_USERNAME
          value: '*'
        - name: AUTH_PASSWORD
          value: ''
        - name: CONSOLE_IMAGE
          value: "{{ ocp4_workload_bookbag_user_console_image }}"
        - name: CONSOLE_BRANDING
          value: "{{ ocp4_workload_bookbag_user_console_branding }}"
        - name: ROLE
          value: "{{ ocp4_workload_bookbag_user_role }}"
{% if ocp4_workload_bookbag_user_console_deploy | bool %}
        - name: CONSOLE_URL
          value: http://0.0.0.0:10083
{% endif %}
        - name: OAUTH_SERVICE_ACCOUNT
          value: "{{ ocp4_workload_bookbag_user_deployment_name }}"
        - name: DOWNLOAD_URL
        - name: WORKSHOP_FILE
        - name: OC_VERSION
        - name: ODO_VERSION
        - name: KUBECTL_VERSION
        - name: WORKSHOP_VARS
          value: {{ _workshop_vars  | to_json | to_json }}
        ports:
        - containerPort: 10080
          protocol: TCP
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 250m
            memory: 256Mi
{% if ocp4_workload_bookbag_user_console_deploy | bool or ocp4_workload_bookbag_user_create_pvc | bool %}
        volumeMounts:
{%   if ocp4_workload_bookbag_user_console_deploy | bool %}
        - name: shared
          mountPath: /var/run/workshop
{%   endif %}
{%   if ocp4_workload_bookbag_user_create_pvc | bool %}
        - name: home
          mountPath: /opt/app-root/src
{%   endif %}
{% endif %}
{% if ocp4_workload_bookbag_user_console_deploy | bool %}
      - name: console
        image: "{{ ocp4_workload_bookbag_user_console_image }}"
        command:
        - /var/run/workshop/start-console.sh
        env:
        - name: BRIDGE_K8S_MODE
          value: in-cluster
        - name: BRIDGE_LISTEN
          value: http://0.0.0.0:10083
        - name: BRIDGE_BASE_PATH
          value: /console/
        - name: BRIDGE_PUBLIC_DIR
          value: /opt/bridge/static
        - name: BRIDGE_USER_AUTH
          value: disabled
        - name: BRIDGE_BRANDING
          value: "{{ ocp4_workload_bookbag_user_console_branding }}"
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 100m
            memory: 128Mi
        volumeMounts:
        - name: shared
          mountPath: /var/run/workshop
{% endif %}
{% if ocp4_workload_bookbag_user_console_deploy | bool or ocp4_workload_bookbag_user_create_pvc | bool %}
      volumes:
{%   if ocp4_workload_bookbag_user_console_deploy | bool %}
      - name: shared
        emptyDir: {}
{%   endif %}
{%   if ocp4_workload_bookbag_user_create_pvc | bool %}
      - name: home
        persistentVolumeClaim:
          claimName: "{{ ocp4_workload_bookbag_user_deployment_name }}"
{%   endif %}
{% endif %}
