apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  namespace: "{{ ocp4_workload_bookbag_user_project }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        deployment: "{{ ocp4_workload_bookbag_user_deployment_name }}"
    spec:
      restartPolicy: Always
      serviceAccountName: "{{ ocp4_workload_bookbag_user_deployment_name }}"
      containers:
      - name: terminal
        image: "{{ ocp4_workload_bookbag_image_name }}:{{ ocp4_workload_bookbag_image_tag }}"
        imagePullPolicy: IfNotPresent
        env:
        - name: APPLICATION_NAME
          value: "{{ ocp4_workload_bookbag_user_deployment_name }}"
        - name: AUTH_USERNAME
          value: '*'
        - name: AUTH_PASSWORD
          value: ''
        - name: DOWNLOAD_URL
        - name: WORKSHOP_FILE
        - name: OC_VERSION
        - name: ODO_VERSION
        - name: KUBECTL_VERSION
        - name: WORKSHOP_VARS
          value: '{{ _workshop_vars  | to_json }}'
        ports:
        - containerPort: 10080
          protocol: TCP
        resources: {}
