apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  namespace: "{{ ocp4_workload_bookbag_user_project }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocp4_workload_bookbag_user_pvc_size }}"
