apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}-{{ ocp4_workload_bookbag_user_role }}"
  namespace: "{{ ocp4_workload_bookbag_user_image_namespace }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: "{{ ocp4_workload_bookbag_user_role }}"
subjects:
- kind: ServiceAccount
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
