apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  namespace: "{{ ocp4_workload_bookbag_user_project }}"
spec:
  port:
    targetPort: 10080-tcp
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
