apiVersion: v1
kind: Service
metadata:
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  namespace: "{{ ocp4_workload_bookbag_user_project }}"
spec:
  ports:
  - name: 10080-tcp
    port: 10080
    protocol: TCP
    targetPort: 10080
  selector:
    deployment: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  type: ClusterIP
