apiVersion: v1
kind: ServiceAccount
metadata:
{% if ocp4_workload_bookbag_user_auth_username | default("") | length == 0 %}
  annotations:
    serviceaccounts.openshift.io/oauth-redirectreference.first: '{"kind":"OAuthRedirectReference","apiVersion":"v1","reference":{"kind":"Route","name":"{{ ocp4_workload_bookbag_user_deployment_name }}"}}'
    serviceaccounts.openshift.io/oauth-redirecturi.first: oauth_callback
    serviceaccounts.openshift.io/oauth-want-challenges: "false"
{% endif %}
  name: "{{ ocp4_workload_bookbag_user_deployment_name }}"
  namespace: "{{ ocp4_workload_bookbag_user_project }}"
