imagePullSecrets:
    username: "{{ ocp4_workload_stackrox_central_imagepulluser }}"
    password: "{{ ocp4_workload_stackrox_central_imagepullpassword }}"

clusterName: "production"

centralEndpoint: "{{ f_stackrox_central_addr }}:443"

collector:
    collectionMethod: KERNEL_MODULE
    disableTaintTolerations: false
    slimMode: true

helmManaged: true

{{ r_stackrox_cluster_init_response.json.helmValuesBundle | b64decode | replace("admissionControl:", "admissionControl:
    dynamic:
        disableBypass: false
        enforceOnCreates: true
        enforceOnUpdates: true
        scanInline: false
        timeout: 3
    listenOnCreates: true
    listenOnEvents: true
    listenOnUpdates: true") }}
