apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ ocp4_workload_serverless_ml_workshop_catalogsource_name }}"
  namespace: "{{ catalog_namespace }}"
spec:
  sourceType: grpc
  image: "{{ ocp4_workload_serverless_ml_workshop_catalog_snapshot_image }}:{{ ocp4_workload_serverless_ml_workshop_catalog_snapshot_image_tag }}"
  displayName: "{{ ocp4_workload_serverless_ml_workshop_catalogsource_name }}"