apiVersion: operators.coreos.com/v1
kind: OperatorGroup
metadata:
  name: devspaces-group
  namespace: openshift-devspaces
---
apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: devspaces
  namespace: openshift-devspaces
spec:
  channel: "{{ ocp4_workload_serverless_ml_workshop_crw_channel }}"
  installPlanApproval: Manual
  name: devspaces
  source: "{{ ocp4_workload_serverless_ml_workshop_catalogsource_name }}"
  sourceNamespace: openshift-devspaces
  startingCSV: "{{ ocp4_workload_serverless_ml_workshop_crw_starting_csv }}"
