apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ name }}"
  namespace: "{{ namespace }}"
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ name }}-codeready"
  namespace: "{{ name }}-codeready"
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: admin
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: workshop-objectbucket-viewers-{{name}}
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: objectbuckets.objectbucket.io-v1alpha1-view
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: operator-view
rules:
- apiGroups: ["operators.coreos.com"]
  resources: ["operators"]
  verbs: ["list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: kafka
  name: kafka-view
rules:
- apiGroups: ["kafka.strimzi.io"]
  resources: ["kafkas"]
  verbs: ["list"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: knative-eventing
  name: knative-eventing-view
rules:
- apiGroups: ["", "kafka.strimzi.io", "operator.knative.dev"]
  resources: ["pods", "knativeeventings"]
  verbs: ["list", "get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: knative-serving
  name: knative-serving-view
rules:
- apiGroups: ["", "kafka.strimzi.io", "operator.knative.dev"]
  resources: ["pods", "knativeservings"]
  verbs: ["list", "get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: workshop-operator-viewers-{{ name }}
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: operator-view
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: workshop-kafka-viewers-{{ name }}
  namespace: kafka
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: kafka-view
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: workshop-knative-eventing-viewers-{{ name }}
  namespace: knative-eventing
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: knative-eventing-view
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: workshop-knative-serving-viewers-{{ name }}
  namespace: knative-serving
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: Role
  name: knative-serving-view
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: routes-view
rules:
- apiGroups: ["route.openshift.io"]
  resources: ["routes"]
  verbs: ["list", "get"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: workshop-routes-viewers-{{ name }}
  namespace: openshift-storage
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: routes-view
  apiGroup: rbac.authorization.k8s.io

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: workshop-routes-viewers-{{ name }}
  namespace: openshift-workspaces
subjects:
- kind: User
  name: "{{ name }}"
  apiGroup: rbac.authorization.k8s.io
roleRef:
  kind: ClusterRole
  name: routes-view
  apiGroup: rbac.authorization.k8s.io