cryptography==3.2
decorator==4.4.1
oauthlib==3.1.0
openstacksdk==0.39.0
os-client-config==2.0.0
os-service-types==1.7.0
python-cinderclient==5.0.0
python-dateutil==2.8.1
python-glanceclient==2.17.0
python-heatclient==1.18.0
python-keystoneclient==3.22.0
python-logstash==0.4.6
python-neutronclient==6.14.0
python-novaclient==16.0.0
python-openstackclient==4.0.0
python-string-utils==0.6.0
python-swiftclient==3.8.1
stevedore==1.31.0
oslo.cache==1.38.1
oslo.concurrency==3.31.0
oslo.config==7.0.0
oslo.context==2.23.0
oslo.db==6.0.0
oslo.i18n==3.25.1
oslo.log==3.45.2
oslo.messaging==10.5.0
oslo.middleware==3.38.1
oslo.policy==2.4.1
oslo.privsep==1.34.0
oslo.reports==1.31.1
oslo.rootwrap==5.17.1
oslo.serialization==2.29.2
oslo.service==1.41.1
oslo.upgradecheck==0.4.0
oslo.utils==3.42.1
oslo.versionedobjects==1.37.0
psutil==5.7.0
cliff==2.18.0                                                                                                                                      
cmd2==0.8.9
python-gitlab==1.12.1