apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_platform_engineering_workshop_quay_application_name }}
  namespace: {{ ocp4_workload_platform_engineering_workshop_quay_application_namespace }}
  finalizers:
    - resources-finalizer.argocd.argoproj.io/foreground
spec:
  destination:
    name: ""
    namespace: {{ ocp4_workload_platform_engineering_workshop_quay_namespace }}
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated: {}
    retry:
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m0s
      limit: 2
    syncOptions:
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
  source:
    repoURL: {{ ocp4_workload_platform_engineering_workshop_quay_gitops_repo }}
    targetRevision: {{ ocp4_workload_platform_engineering_workshop_quay_gitops_repo_tag }}
    path: {{ ocp4_workload_platform_engineering_workshop_quay_gitops_repo_path }}
    helm:
      values: |
        quay-registry:
          quay:
            host: {{ ocp4_workload_platform_engineering_workshop_quay_registry_host }}
            adminUser: {{ ocp4_workload_platform_engineering_workshop_quay_admin_user }}
            adminUserPassword: {{ ocp4_workload_platform_engineering_workshop_quay_admin_user_password }}
            organizations: {{ ocp4_workload_platform_engineering_workshop_quay_organizations }}
          vault:
            name: {{ ocp4_workload_platform_engineering_workshop_vault_name }}
            namespace: {{ ocp4_workload_platform_engineering_workshop_vault_namespace }}
          noobaa:
            name: {{ ocp4_workload_platform_engineering_workshop_noobaa_name }}
            namespace: {{ ocp4_workload_platform_engineering_workshop_noobaa_namespace }}

