---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: rollouts-manager
  namespace: openshift-gitops
spec:
  destination:
    namespace: openshift-gitops
    server: 'https://kubernetes.default.svc'
  project: default
  syncPolicy:
    automated:
      prune: false
      selfHeal: true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  source:
    repoURL: https://github.com/OpenShiftDemos/argo-rollouts-workshop
    targetRevision: "{{ gitops_revision }}"
    path: bootstrap/infra/rollouts-manager/base
