apiVersion: hive.openshift.io/v1
kind: ClusterDeployment
metadata:
  name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
  namespace: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
  labels:
    cloud: AWS
    region: {{ _ocp4_workload_rhacm_clusters_aws_cluster_region }}
    vendor: OpenShift
spec:
  baseDomain: {{ ocp4_base_domain }}
  clusterName: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
  controlPlaneConfig:
    servingCertificates: {}
  installAttemptsLimit: 1
  installed: false
  platform:
    aws:
      credentialsSecretRef:
        name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-aws-creds
      region: {{ _ocp4_workload_rhacm_clusters_aws_cluster_region }}
  provisioning:
    installConfigSecretRef:
      name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-install-config
    sshPrivateKeySecretRef:
      name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-ssh-private-key
    imageSetRef:
      name: {{ _ocp4_workload_rhacm_clusters_aws_openshift_version }}
  pullSecretRef:
    name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-pull-secret
