apiVersion: v1
metadata:
  name: '{{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}'
baseDomain: {{ ocp4_base_domain }}
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: {{ _ocp4_workload_rhacm_clusters_aws_master_replica_count|int }}
  platform:
    aws:
      rootVolume:
        iops: 4000
        size: 100
        type: io1
      type: '{{ _ocp4_workload_rhacm_clusters_aws_master_instance_type }}'
compute:
- hyperthreading: Enabled
  name: 'worker'
  replicas: {{ _ocp4_workload_rhacm_clusters_aws_worker_replica_count|int }}
  platform:
    aws:
      rootVolume:
        iops: 2000
        size: 100
        type: io1
      type: '{{ _ocp4_workload_rhacm_clusters_aws_worker_instance_type }}'
networking:
  networkType: OpenShiftSDN
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
  machineNetwork:
  - cidr: 10.0.0.0/16
  serviceNetwork:
  - 172.30.0.0/16
platform:
  aws:
    region: {{ _ocp4_workload_rhacm_clusters_aws_cluster_region }}
pullSecret: {{ ocp4_token }}
sshKey: {{ ssh_publickey }}
