apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: "{{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-worker"
  namespace: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
spec:
  skipMachinePools: true
  clusterDeploymentRef:
    name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
  name: worker
  platform:
    aws:
      rootVolume:
        iops: 2000
        size: 100
        type: io1
      type: "{{ _ocp4_workload_rhacm_clusters_aws_worker_instance_type }}"
  replicas: 0
