apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  labels:
    cloud: Amazon
    region: {{ _ocp4_workload_rhacm_clusters_aws_cluster_region }}
    name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
    vendor: OpenShift
    environment: {{ _ocp4_workload_rhacm_clusters_aws_label_environment_type }}
  name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
spec:
  hubAcceptsClient: true
