apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-install-config
  namespace: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
type: Opaque
data:
  install-config.yaml: {{ lookup('template','aws/install_config_aws.yaml.j2') | string | b64encode }}
