apiVersion: v1
kind: Secret
metadata:
  name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-ssh-private-key
  namespace: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
stringData:
  ssh-privatekey: |
    {{ ssh_privatekey | indent(4) }}
type: Opaque
