apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}-aws-creds
  namespace: {{ _ocp4_workload_rhacm_clusters_aws_cluster_name }}
stringData:
  aws_access_key_id: {{ account_user_access_key }}
  aws_secret_access_key: {{ account_user_secret_access_key }}
