---
apiVersion: machine.openshift.io/v1beta1
kind: MachineSet
metadata:
  name: {{ machineset_name }}
  namespace: openshift-machine-api
  labels:
    {{ machineset_group_label }}: {{ machineset_group.name }}
    machine.openshift.io/cluster-api-cluster: {{ cluster_label }}
spec:
{% if machineset_name not in ocp4_current_machineset_names
   or not machineset_group.autoscale|default(False)
%}
  replicas: {{ machineset_replicas }}
{% endif %}
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ cluster_label }}
{% if 'role' in machineset_group %}
      machine.openshift.io/cluster-api-machine-role: {{ machineset_group.role }}
      machine.openshift.io/cluster-api-machine-type: {{ machineset_group.role }}
{% endif %}
      machine.openshift.io/cluster-api-machineset: {{ machineset_name }}
  template:
    metadata:
      labels:
        {{ machineset_group_label }}: {{ machineset_group.name }}
        machine.openshift.io/cluster-api-cluster: {{ cluster_label }}
{% if 'role' in machineset_group %}
        machine.openshift.io/cluster-api-machine-role: {{ machineset_group.role }}
        machine.openshift.io/cluster-api-machine-type: {{ machineset_group.role }}
{% endif %}
        machine.openshift.io/cluster-api-machineset: {{ machineset_name }}
    spec:
      metadata:
        labels: {{ machineset_group_node_labels | to_json }}
      providerSpec:
        value:
          apiVersion: openstackproviderconfig.openshift.io/v1alpha1
          cloudName: openstack
          cloudsSecret:
            name: openstack-cloud-credentials
            namespace: openshift-machine-api
          flavor: "{{ osp_instance_type }}"
          image: "{{ osp_image }}"
          kind: OpenstackProviderSpec
          metadata:
            creationTimestamp: null
          networks: {{ osp_worker_networks | to_json }}
          securityGroups: {{ osp_worker_security_groups | to_json }}
          serverMetadata:
            Name: "{{ machineset_name }}"
            openshiftClusterID: "{{ cluster_label }}"
          tags: {{ osp_worker_tags | to_json }}
          trunk: true
          userDataSecret:
            name: worker-user-data
{% if machineset_group.taints | d('') | length > 0 %}            
      taints:
{% for taint in machineset_group.taints %}
      - key: "{{ taint.key }}"
        value: "{{ taint.value }}"
        effect: "{{ taint.effect }}"
{% endfor %}
{% endif %}
      versions:
        kubelet: ""
