---
extends: default

rules:
  comments:
    require-starting-space: false
  comments-indentation: disable
  indentation:
    level: warning
    indent-sequences: consistent
  line-length:
    level: warning
    max: 325
    allow-non-breakable-inline-mappings: true
