# Configure IBM Cloud Provider

terraform {
  required_providers {
    ibm = {
      source  = "IBM-Cloud/ibm"
      version = "~> {{ ibm_terraform_version }}"
    }
  }
}

## Create Resource Group

resource "ibm_resource_group" "{{ ibm_terraform_resource_prefix }}_resource_group" {
  name = "{{ ibm_terraform_name_prefix }}-instructlab-resource-group"
}

# Create Trusted Profile

resource "ibm_iam_trusted_profile" "{{ ibm_terraform_resource_prefix }}_trusted_profile" {
  name = "{{ ibm_terraform_name_prefix }}-trusted-profile"
}

# Add SAML rule to the Trusted Profile

resource "ibm_iam_trusted_profile_claim_rule" "{{ ibm_terraform_resource_prefix }}_saml_rule" {
  profile_id = ibm_iam_trusted_profile.{{ ibm_terraform_resource_prefix }}_trusted_profile.id
  type       = "Profile-SAML"
  name       = "SAML Rule for {{ email }}"
  realm_name = "{{ ibm_realm_name }}"
  expiration = 3600
  conditions {
    claim    = "email"
    operator = "EQUALS"
    value    = "\"{{ email }}\""
  }
}

## Create Cloud Object Storage instance

resource "ibm_resource_instance" "{{ ibm_terraform_resource_prefix }}_cos_instance" {
 name              = "{{ ibm_terraform_name_prefix }}-cos-instance"
 service           = "cloud-object-storage"
 plan              = "standard"
 location          = "global"
 resource_group_id = ibm_resource_group.{{ ibm_terraform_resource_prefix }}_resource_group.id
}

## Create bucket

resource "ibm_cos_bucket" "{{ ibm_terraform_resource_prefix }}_bucket" {
 bucket_name          = "{{ ibm_terraform_name_prefix }}-bucket"
 resource_instance_id = ibm_resource_instance.{{ ibm_terraform_resource_prefix }}_cos_instance.id
 region_location      = "{{ ibm_region_location }}"
 storage_class        = "{{ ibm_storage_class }}"
}

# New code 2025-01-08

# Grant Trusted Profile permissions to the COS instance

resource "ibm_iam_trusted_profile_policy" "{{ ibm_terraform_resource_prefix }}_trusted_profile_cos_policy" {
  profile_id = ibm_iam_trusted_profile.{{ ibm_terraform_resource_prefix }}_trusted_profile.id
  # roles      = ["Reader", "Writer", "Viewer"]
  roles       = ["Object Reader", "Object Writer", "Content Reader", "Manager"]

  resources {
    service              = "cloud-object-storage"
    resource_instance_id = ibm_resource_instance.{{ ibm_terraform_resource_prefix }}_cos_instance.id
  }
}

# Grant Trusted Profile permissions to the bucket

resource "ibm_iam_trusted_profile_policy" "{{ ibm_terraform_resource_prefix }}_trusted_profile_bucket_policy" {
  profile_id = ibm_iam_trusted_profile.{{ ibm_terraform_resource_prefix }}_trusted_profile.id
  # roles      = ["Reader", "Writer", "Viewer"]
  roles      = ["Object Reader", "Object Writer"]

  resources {
    service       = "cloud-object-storage"
    resource_type = "bucket"
    resource      = "{{ ibm_terraform_resource_prefix }}-bucket"
    resource_instance_id = ibm_resource_instance.{{ ibm_terraform_resource_prefix }}_cos_instance.id
  }
}

resource "ibm_iam_trusted_profile_policy" "{{ ibm_terraform_resource_prefix }}_trusted_profile_resource_group_policy" {
  profile_id = ibm_iam_trusted_profile.{{ ibm_terraform_resource_prefix }}_trusted_profile.id
  roles      = ["Viewer"]  # Use "Editor" or "Operator" if write access is required.

  resources {
    resource_type = "resource-group"
    resource      = ibm_resource_group.{{ ibm_terraform_resource_prefix }}_resource_group.id
  }
}
