apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ _pipeline_name_ }}-{{ _pipeline_dir_ }}-pvc-image-builder"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  volumeMode: Filesystem
