CREATE TABLE IF NOT EXISTS `users` (
  `name` varchar(128) DEFAULT '',
  `email` varchar(128) DEFAULT '',
  `id` int(12) NOT NULL DEFAULT '0',
  `ip_dev` varchar(15) DEFAULT '',
  `ip_pro` varchar(15) DEFAULT '',
  `vscode_dev` varchar(512) DEFAULT '',
  `vscode_pro` varchar(512) DEFAULT '',
  `vscode_dev_display` varchar(512) DEFAULT '',
  `vscode_pro_display` varchar(512) DEFAULT '',
  `gitlab` varchar(512) DEFAULT '',
  `hub` varchar(512) DEFAULT '',
  `controller_dev` varchar(512) DEFAULT '',
  `controller_pro` varchar(512) DEFAULT '',
  `username` varchar(128) DEFAULT '',
  `password` varchar(128) DEFAULT '',
  `grade` varchar(6) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;

{% set ns=namespace(users={}) %}
{% for number in range(1, student_total + 1) %}
  {% set user = 'student' + (number | string) %}
  {% for host in groups['control_nodes'] %}
    {% if user in host %}
      {% set x=ns.users.__setitem__(user, ns.users[user]|default([]) + [host]) %}
    {% endif %}
  {% endfor %}
{% endfor %}
{% for user in ns.users %}
  INSERT INTO `users` (`id`, `ip_dev`, `ip_pro`, `vscode_dev`, `vscode_pro`, `vscode_dev_display`, `vscode_pro_display`, `gitlab`, `hub`, `controller_dev`, `controller_pro`, `username`, `password`) VALUES ({{ user | replace('student', '') }},'{{ hostvars[ns.users[user][0]].ansible_host }}','{{ hostvars[ns.users[user][1]].ansible_host }}',
  {% if workshop_type == "windows" %}
    'http://{{ user }}-dev.{{ ec2_name_prefix | lower }}.{{ workshop_dns_zone }}:8080/?folder=vscode-remote%3A%2F%2Fstudent{{ number }}-code.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}%2Fhome%2Fstudent%2Fwindows-workshop%2Fworkshop_project',
    'http://{{ user }}-pro.{{ ec2_name_prefix | lower }}.{{ workshop_dns_zone }}:8080/?folder=vscode-remote%3A%2F%2Fstudent{{ number }}-code.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}%2Fhome%2Fstudent%2Fwindows-workshop%2Fworkshop_project',
  {% else %}
    'http://{{ user }}-dev.{{ ec2_name_prefix | lower }}.{{ workshop_dns_zone }}:8080/',
    'http://{{ user }}-pro.{{ ec2_name_prefix | lower }}.{{ workshop_dns_zone }}:8080/',
  {% endif %}
    'http://{{ user }}-dev.{{ ec2_name_prefix | lower }}.{{ workshop_dns_zone }}:8080/',
    'http://{{ user }}-pro.{{ ec2_name_prefix | lower }}.{{ workshop_dns_zone }}:8080/',
  {% if workshop_type == "windows" or workshop_type == "configascode" %}
    'https://gitlab.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}',
  {% else %}
    '',
  {% endif %}
  {% if automation_hub is defined and automation_hub|bool %}
    {% if dns_type != 'none' %}
      'https://hub-student.{{ ec2_name_prefix }}.{{ workshop_dns_zone }}',
    {% else %}
      'https://{{ hostvars["automation-hub-host"].ansible_host }}',
    {% endif %}
  {% else %}
    '',
  {% endif %}
  {% if controllerinstall is defined and controllerinstall|bool %}
    '{{ user }}-dev.{{ ec2_name_prefix|lower }}.{{ workshop_dns_zone }}',
    '{{ user }}-pro.{{ ec2_name_prefix|lower }}.{{ workshop_dns_zone }}',
  {% else %}
    '',
  {% endif %}
  '{{ user }}', '{{ admin_password }}')
  ON DUPLICATE KEY UPDATE `password` = '{{ admin_password }}';
{% endfor %}
