{# # These are the satellitehosts #}

[satellites]
{% for host in groups['satellites'] %}
{{host}}
{% endfor %}

[capsules]
{% for host in groups['capsules'] %}
{{host}}
{% endfor %}

[all:vars]
{# ###########################################################################
### Ansible Vars
########################################################################### #}
timeout=60
ansible_become=yes
ansible_user={{remote_user}}

[all:children]
satellites
capsules