{%if inventory_hostname in groups['bastions'] %}
[epel]
name=Extra Packages for Enterprise Linux 7 - $basearch
baseurl=http://download.fedoraproject.org/pub/epel/7/$basearch
mirrorlist=http://mirrors.fedoraproject.org/metalink?repo=epel-7&arch=$basearch
failovermethod=priority
enabled=1
gpgcheck=0
#gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-7

[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-server-rhscl-7-rpms]
name=Red Hat Enterprise Linux 7 RHSCL
baseurl={{own_repo_path}}/{{repo_version}}/rhel-server-rhscl-7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.6-rpms]
name=Red Hat Enterprise Ansible 2.6
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-ansible-2.6-rpms
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=Red Hat Enterprise Linux Extra RPMs
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-extras-rpms
enabled=1
gpgcheck=0

{% endif %}


{%if groups['satellites'] is defined %}
{%if inventory_hostname in groups['satellites'] %}
{# satellite repos #}
[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-server-rhscl-7-rpms]
name=Red Hat Enterprise Linux 7 RHSCL
baseurl={{own_repo_path}}/{{repo_version}}/rhel-server-rhscl-7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.6-rpms]
name=Red Hat Enterprise Ansible 2.6
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-ansible-2.6-rpms
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=Red Hat Enterprise Linux Extra RPMs
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-extras-rpms
enabled=1
gpgcheck=0

[rhel-7-server-satellite-6.4-rpms]
name=Red Hat Enterprise Satellite 6.4
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-satellite-6.4-rpms
enabled=1
gpgcheck=0

[rhel-7-server-satellite-maintenance-6-rpms]
name=Red Hat Enterprise Satellite 6 Maintenance
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-satellite-maintenance-6-rpms
enabled=1
gpgcheck=0

{% endif %}
{% endif %}

{% if groups['capsules'] is defined %}
{% if inventory_hostname in groups['capsules'] %}
{# capsule repos #}
[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-server-rhscl-7-rpms]
name=Red Hat Enterprise Linux 7 RHSCL
baseurl={{own_repo_path}}/{{repo_version}}/rhel-server-rhscl-7-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.6-rpms]
name=Red Hat Enterprise Ansible 2.6
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-ansible-2.6-rpms
enabled=1
gpgcheck=0

[rhel-7-server-satellite-capsule-6.4-rpms]
name=Red Hat Enterprise Satellite Capsule 6.4
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-satellite-capsule-6.4-rpms
enabled=1
gpgcheck=0

[rhel-7-server-satellite-maintenance-6-rpms]
name=Red Hat Enterprise Satellite 6 Maintenance
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-satellite-maintenance-6-rpms
enabled=1
gpgcheck=0


[rhel-7-server-satellite-tools-6.4-rpms]
name=Red Hat Enterprise Linux Satellite tools 6.4
baseurl={{own_repo_path}}/{{repo_version}}/rhel-7-server-satellite-tools-6.4-rpms
enabled=1
gpgcheck=0

{% endif %}
{% endif %}

