[Unit]
Description=noVNC service
After=syslog.target network.target

[Service]
ExecStart=/usr/local/src/noVNC-{{ novnc_version }}/utils/novnc_proxy --vnc localhost:5901 --cert /etc/letsencrypt/live/{{ groups['bastions'][0].split('.')[0] }}.{{ subdomain_base }}/fullchain.pem --key /etc/letsencrypt/live/{{ groups['bastions'][0].split('.')[0] }}.{{ subdomain_base }}/privkey.pem

[Install]
WantedBy=multi-user.target
