[automationcontroller]
{% for host in groups['automationcontroller'] %}
{{ host }}
{% endfor %}

{% if 'automationcontroller_database' in groups %}
[database]
{% for host in groups['automationcontroller_database'] %}
{{ host }}
{% endfor %}
{% endif %}

{% if 'support' in groups %}
[supports]
{% for host in groups['support'] %}
{{ host }}
{% endfor %}
{% endif %}

{% if 'managed-nodes' in groups %}
[managed_nodes]
{% for host in groups['managed-nodes'] %}
{{ host }}
{% endfor %}
{% endif %}
