[all:vars]
timeout=60
ansible_user={{ remote_user }}
ansible_ssh_private_key_file="~/.ssh/{{ guid }}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
ansible_become=true

[node]
{% for host in groups['nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% if el_rebuild_distribution == 'centos' -%}
{% for host in groups['centos_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif -%}
{% if el_rebuild_distribution == 'oracle' -%}
{% for host in groups['oracle_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}
{% endif -%}

[rhel7]
{% for host in groups['nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[rhel7:vars]
ansible_user=ec2-user

[rhel:children]
rhel7

{% if el_rebuild_distribution == 'centos' -%}
[centos7]
{% for host in groups['centos_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[centos:vars]
ansible_user=ec2-user

[centos:children]
centos7
{% endif -%}

{% if el_rebuild_distribution == 'oracle' -%}
[ol7]
{% for host in groups['oracle_nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[ol7:vars]
ansible_user=ec2-user

[ol7:children]
ol7
{% endif -%}

[control]
ansible-1 ansible_host={{ groups['bastions'][0] }}

[satellite]
satellite ansible_host={{ groups['satellites'][0] }}
