[web]
{% for instance in r_instances_info.instances %}
{% if 'hostgroup' in instance.tags %}
{% set host = instance.tags.internaldns %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endif %}
{% endfor %}

[ALL_rhel]
{% for instance in r_instances_info.instances %}
{% if 'hostgroup' in instance.tags %}
{% set host = instance.tags.internaldns %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endif %}
{% endfor %}

[control]
{% for instance in r_instances_info.instances if 'tags' in instance and 'AnsibleGroup' in instance.tags and instance.tags.AnsibleGroup == 'bastions' %}
ansible-1 ansible_host={{ instance.tags.internaldns }}
{% endfor %}

[rhel7]
{% for instance in r_instances_info.instances %}
{% if 'hostgroup' in instance.tags and instance.tags.hostgroup == 'rhel7_hosts' %}
{% set host = instance.tags.internaldns %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endif %}
{% endfor %}

[rhel8]
{% for instance in r_instances_info.instances %}
{% if 'hostgroup' in instance.tags and instance.tags.hostgroup == 'rhel8_hosts' %}
{% set host = instance.tags.internaldns %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endif %}
{% endfor %}

[all:vars]
timeout=60
ansible_user={{ remote_user }}
ansible_ssh_private_key_file="~/.ssh/{{ guid }}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
ansible_become=true
