[web]
{% for host in groups['nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[ALL_rhel]
{% for host in groups['nodes'] %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[control]
ansible-1 ansible_host={{ groups['bastions'][0] }}

[rhel7]
{% for host in groups['nodes'] if hostvars[host].hostgroup == 'rhel7_hosts' %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[rhel8]
{% for host in groups['nodes'] if hostvars[host].hostgroup == 'rhel8_hosts' %}
{{ host.split('.')[0] }} ansible_host={{ host }}
{% endfor %}

[all:vars]
timeout=60
ansible_user={{ remote_user }}
ansible_ssh_private_key_file="~/.ssh/{{ guid }}key.pem"
ansible_ssh_common_args="-o StrictHostKeyChecking=no"
ansible_become=true
