---
{# Important:
Ensure that you create a secret and connection with instance CR to install the Backup & Restore service.
Ensure that the Backup & Restore server is installed on another cluster and generate the connection-token from that cluster.
Ensure that you replace the apiserver, bootstrapToken, STORAGE_CLASS, and hubClusterName details with the correct values. #}
apiVersion: v1
kind: Secret
metadata:
  name: init-655759e819
  namespace: ibm-spectrum-fusion-ns
stringData:
  apiserver: $apiserver$
  bootstrapToken: $bootstrapToken$
---
apiVersion: application.isf.ibm.com/v1
kind: Connection
metadata:
  name: connection-655759e819
  namespace: ibm-spectrum-fusion-ns
spec:
  remoteCluster:
    apiEndpoint: $apiserver$
    initSecretName: init-655759e819
    connectionOperatorNamespace: ibm-spectrum-fusion-ns
---
apiVersion: service.isf.ibm.com/v1
kind: FusionServiceInstance
metadata:
  name: ibm-backup-restore-agent-service-instance
  namespace: ibm-spectrum-fusion-ns
spec:
  parameters:
  - name: namespace
    provided: false
    value: ibm-backup-restore
  - name: storageClass
    provided: true
    value: $STORAGE_CLASS$
  - name: hubEndPointURL
    provided: true
    value: $apiserver$
  - name: hubClusterName
    provided: true
    value: $hubClusterName$
  - name: connectionName
    provided: true
    value: connection-655759e819
  - name: doInstall
    provided: true
    value: "true"
  serviceDefinition: ibm-backup-restore-agent-service
  triggerUpdate: false
  doInstall: true
