---
apiVersion: service.isf.ibm.com/v1
kind: FusionServiceInstance
metadata:
  name: ibm-cas-service-instance
  namespace: ibm-spectrum-fusion-ns
spec:
  creator: User
  doInstall: true
  parameters:
  - name: namespace
    provided: false
    value: ibm-cas
  - name: doInstall
    provided: false
    value: "false"
  - name: storageClass
    provided: true
    value: {{ ocp4_workload_ibm_fusion_content_aware_storage_storage_class }}
  serviceDefinition: ibm-cas-service
  triggerUpdate: false
  updateServiceCRSpec: false
