---
apiVersion: service.isf.ibm.com/v1
kind: FusionServiceInstance
metadata:
  name: ibm-backup-restore-service-instance
  namespace: ibm-spectrum-fusion-ns
spec:
  doInstall: true
  enabled: true
  serviceDefinition: ibm-backup-restore-service
  triggerUpdate: false
  updateServiceCRSpec: false
  parameters:
  - name: namespace
    provided: false
    value: ibm-backup-restore
  - name: doInstall
    provided: false
    value: "true"
  - name: storageClass
    provided: true
    value: {{ ocp4_workload_ibm_fusion_backup_restore_storage_class }}
  - name: autoUpgrade
    provided: false
    value: "true"
