---
apiVersion: prereq.isf.ibm.com/v1
kind: SpectrumFusion
metadata:
  name: spectrumfusion
  namespace: ibm-spectrum-fusion-ns
spec:
  GlobalDataPlatform:
    Enable: {{ ocp4_workload_ibm_fusion_deploy_global_data_platform | bool }}
  configuration:
    services: {}
  license:
    accept: true
