MYSQL_IMAGE={{ mysql_image }}
MYSQL_USER={{ mysql_username }}
MYSQL_PASSWORD={{ mysql_password }}
MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
MYSQL_DATABASE={{ mysql_database }}
MYSQL_CONTAINER_STORAGE_DIR={{ mysql_container_storage_dir }}
MYSQL_HOST_STORAGE_DIR={{ mysql_storage_dir }}
MYSQL_HOST_PORT={{ mysql_host_port }}
MYSQL_CONTAINER_PORT={{ mysql_container_port }}