{
    "3scale": { 
        "Host":"https://3scale-admin.{{ ocp_apps_domain }}",
        "Version":"2.7.0.GA"
    },
    "codeready":{ 
        "Host":"http://codeready-codeready.{{ ocp_apps_domain }}",
        "Version":"2.7.0"
    }
}