apiVersion: apps.3scale.net/v1alpha1
kind: APIManager
metadata:
  name: "3scale-amp"
  namespace: "{{ threescale_project }}"
spec:
  wildcardDomain: "{{ guid }}.{{ ocp_apps_domain }}"
  resourceRequirementsEnabled: false
  system:
    fileStorage:
      persistentVolumeClaim:
        storageClassName: ocs-storagecluster-cephfs
  