apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: apicast-wildcard-router
spec:
  host: apicast-wildcard.amp.{{guid}}.{{ ocp_apps_domain }}
  port:
    targetPort: http
  tls:
    insecureEdgeTerminationPolicy: Allow
    termination: edge
  to:
    kind: Service
    name: apicast-wildcard-router
    weight: 100
  wildcardPolicy: Subdomain