apiVersion: argoproj.io/v1alpha1
kind: ArgoCD
metadata:
  name: "{{ ocp4_workload_argocd_operator_argocd_name }}"
  namespace: "{{ ocp4_workload_argocd_operator_project }}"
spec:  {{ ocp4_workload_argocd_operator_argocd_spec | to_json }}
