apiVersion: operators.coreos.com/v1alpha1
kind: InstallPlan
metadata:
  name: "{{ ocp4_workload_argocd_operator_install_plan_name }}"
  namespace: "{{ ocp4_workload_argocd_operator_project }}"
spec:
  approved: true
