apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: "{{ ocp4_workload_serverless_catalogsource_name }}"
  namespace: openshift-operators
spec:
  sourceType: grpc
  image: "{{ ocp4_workload_serverless_catalog_snapshot_image }}:{{ ocp4_workload_serverless_catalog_snapshot_image_tag }}"
  displayName: "{{ ocp4_workload_serverless_catalogsource_name }}"