---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ ocp4_workload_gitops_aap_operator_name }}
  namespace: openshift-gitops
spec:
  destination:
    namespace: {{ ocp4_workload_gitops_aap_operator_namespace }}
    server: https://kubernetes.default.svc
  project: default
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      prune: true
      selfHeal: true
  source:
    path: {{ ocp4_workload_gitops_aap_operator_repo_path }}
    repoURL: {{ ocp4_workload_gitops_aap_operator_repo }}
    targetRevision: {{ ocp4_workload_gitops_aap_operator_repo_tag }}
