{
  "metadata": {
    "name": "{{ _namespace }}-workspace"
  },
  "projects": [
    {
      "name": "camelk-openshift",
      "source": {
        "location": "https://gitlab.com/2020-summit-labs/developing-integrations-with-camel-k-on-openshift.git",
        "type": "git"
      }
    },
  ],
  "components": [
    {
      "id": "redhat/java8/latest",
      "type": "chePlugin"
    },
    {
      "mountSources": true,
      "memoryLimit": "3Gi",
      "type": "dockerimage",
      "volumes": [
        {
          "name": "m2",
          "containerPath": "/home/jboss/.m2"
        }
      ],
      "alias": "kamel-tools",
      "image": "image-registry.openshift-image-registry.svc:5000/openshift/kamel-stack:1.0",
      "env": [
        {
          "value": "/home/jboss/.m2",
          "name": "MAVEN_CONFIG"
        },
        {
          "value": "-Xmx4G -Xss128M -XX:MetaspaceSize=1G -XX:MaxMetaspaceSize=2G -XX:+CMSClassUnloadingEnabled",
          "name": "MAVEN_OPTS"
        }
      ],
      "endpoints": [
        {
          "name": "web-{{ _namespace }}",
          "port": 8080,
          "attributes": {
            "discoverable": "true",
            "public": "true",
            "protocol": "http"
          }
        },
        {
          "name": "debug-{{ _namespace }}",
          "port": 5005,
          "attributes": {
            "discoverable": "true",
            "public": "true",
            "protocol": "jdwp"
          }
        }
      ]
    }
  ],
  "apiVersion": "1.0.0"
}
