$TTL 86400
@ IN SOA control.example.com. root.{{ ansible_fqdn }}.example.com. (
              3           ;Serial
              3600        ;Refresh
              1800        ;Retry
              604800      ;Expire
              86400       ;Minimum TTL
)
@  IN  NS {{ ansible_fqdn }}.example.com.
control  IN  A {{ ansible_eth0.ipv4.address }}
