{
  "name": "{{ GUID }}-ws",
  "type": [
    "terraform_v0.12"
  ],
  "description": "Workspace for {{ GUID }} Sandbox",
  "resource_group": "{{ GUID }}-rc",
  "location": "{{ region }}",
  "tags": [],
  "template_repo": {
    "url": "https://github.com/gmontalvoy/ibm-sandbox-schematics",
    "full_url": "https://github.com/gmontalvoy/ibm-sandbox-schematics"
  },
  "template_data": [
    {
      "folder": ".",
      "type": "terraform_v0.12",
      "values": "",
      "values_metadata": [
        {
          "description": "",
          "name": "ssh_key",
          "type": "string"
        }
      ],
      "variablestore": [
        {
          "name": "ssh_key",
          "secure": false,
          "value": "",
          "type": "string",
          "description": ""
        }
      ],
      "has_githubtoken": false
    }
  ]
}
